extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block.text-center
          h5.card-header.bg-dark.text-white= t("Recipient Verification")
          .card-body
            p.card-text!= t('Please click below to verify forwarding from <code class="notranslate">%s</code> to <code class="notranslate">%s</code>.', fromEmail, toEmail)
            a.btn.btn-lg.btn-block.btn-success(href=link, role="button")= t("Verify now")
          .card-footer.small.text-muted= t("If you did not submit this request, then please reply to let us know.")
