extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block.text-center
          h5.card-header.bg-dark.text-white= t("Verify email")
          .card-body
            .card-text
              p= t("Use this verification code:")
              pre: code.display-3= pin
              p= t("This code expires within %s.", dayjs(expiresAt).locale(locale).fromNow(true))
            a.btn.btn-lg.btn-block.btn-primary(href=link)
              .d-inline-block.align-middle
                = t("Verify now")
          .card-footer: small.text-muted= t("If you did not submit this request, then please reply to let us know.")
