*.awspublish*
*.env
.env*
!.gulpfile.env
!test/.env
*.lcov
*.log
*.pem
.DS_Store
.base64-cache
.idea
.nyc_output
.vscode
build
coverage
env
node_modules
package-lock.json
temp.md
yarn.lock

.env.production
hosts.yml
!ansible/playbooks/templates/hosts.yml
deployment-keys
*.csr
*.key
*.ca-bundle
*.crt
ssl/
.env.test
.gapp-creds.json

Thumbs.db
tmp/
temp/
.ssl-ca
.ssl-cert
.ssl-key
.ssl-dhparam
.ssl-csr
*.p8
.gpg-security-key
.dkim-key
redis-data
mongodb-backups
assets/api-spec-en.json
.caldav-test-credentials.json
helpers/sieve/parser-generated.js
