extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block
          h5.card-header.bg-dark.text-white.text-center= t("System Alert")
          .card-body
            p.card-text!= prefixHTMLPathBasedAnchors(message, config.urls.web)
          .card-footer.text-center: small.text-muted= t("This is an automated system alert.")
