[Definition]
failregex = ^\s*\S+\s+\S+\s+snappymail(?::|\[\d+\]:)\s+Auth failed: ip=<HOST>\b
            ^\s*\S+\s+\S+\s+snappymail(?::|\[\d+\]:)\s+Admin Auth failed: ip=<HOST>\b
            ^\s*\S+\s+\S+\s+snappymail(?::|\[\d+\]:)\s+message repeated \d+ times: \[\s*Auth failed: ip=<HOST>\b
ignoreregex =
