[Definition]
failregex = ^.*snappymail(?::|\[\d+\]:)\s+Auth failed: ip=<HOST>\b
            ^.*snappymail(?::|\[\d+\]:)\s+Admin Auth failed: ip=<HOST>\b
            ^.*snappymail(?::|\[\d+\]:)\s+message repeated \d+ times: \[\s*Auth failed: ip=<HOST>\b
ignoreregex =
