//- for a list of all available spinners:
//- <https://github.com/tobiasahlin/SpinKit>

#spinner.fixed-top.fade
  //- change this to whatever spinner you'd like
  .sk-circle-fade.sk-center
    .sk-circle-fade-dot
    .sk-circle-fade-dot
    .sk-circle-fade-dot
    .sk-circle-fade-dot
    .sk-circle-fade-dot
    .sk-circle-fade-dot
    .sk-circle-fade-dot
    .sk-circle-fade-dot
    .sk-circle-fade-dot
    .sk-circle-fade-dot
    .sk-circle-fade-dot
    .sk-circle-fade-dot
