extends ../layout

block body
  .container.py-5
    .row
      .col
        include:md index.md
        //-.
          case locale
            when 'es'
              include:md index-es.md
            when 'zh'
              include:md index-zh.md
            when 'en'
            default
              include:md index.md
