extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block
          h5.card-header.bg-dark.text-white.text-center Forward Email launches to the public!
          .card-body.p-0
            a(href=config.urls.web)
              img.img-responsive(
                src=`${config.urls.web}/img/emails/domain-onboard.gif`,
                alt="",
                data-inline-ignore
              )
            .p-3
              h1.h3.text-center To the Moon!
              p.card-text
                | Today I'm ecstatic to announce our public launch out of beta to over 30,000 happy users.
                | Originally I built this for myself and it was a prototype hacked together in November of 2017.
                | Over time the demand grew astronomically &ndash; and I decided to turn it into the #1 email forwarding service.
              p.card-text
                != 'In January of 2020, I overhauled <a href="https://web.archive.org/web/20171119040111/http://forwardemail.net/#/" target="_blank">the original wiki-style Markdown document</a> into a complete service with <a href="https://lad.js.org">my code framework Lad</a>.'
                = " "
                != 'Everything has and will always be <a href="https://github.com/forwardemail" target="_blank">100% free and open-source software</a>. I want to share my work, knowledge, and tools as much as possible to the world &ndash; and learn from you too!'
              p.card-text
                != "Also I want to personally <strong>thank you</strong> for your patience, kind words, encouraging emails, criticism, generous donations, and in general, giving us a chance to serve your email forwarding needs."
                = " "
                != "We never once sacrificed your privacy, and most importantly never plan to. We will never store your emails nor log your metadata. In my opinion, we're the only service doing it the right way; <strong>your right to privacy is always first</strong>."
                = " "
                != 'All of the source code has always been made from scratch; in a dimly-lit corner on a beat-up 2015 MacBook Pro, with a missing "T" key, and powered by <strike>eye-twitching coffee</strike> pure passion.'
              p.card-text
                | You might be asking yourself &ndash; has anything changed today?
              p.card-text
                strong Don't worry, we still offer the same free and unlimited plans.
              p.card-text
                | Moving forwards there is a 30-day grace period for payment on all existing paid plan subscribers.
                | This means that if you're on a paid plan, then you'll receive 30, 15, 7, and 3 day payment reminder emails.
              p.card-text
                | Lastly, we hope to serve you for life, and go beyond just your email forwarding needs.
                | We're always working on new features, ensuring email deliverability and reliability, and doing what we need to keep you happy.
                = " "
                != "Feel free to reach out with any feature requests, questions, or if you need help &ndash; we're here!"
              p.card-text
                != 'P.S. Have you subscribed to <a href="https://www.youtube.com/channel/UC1_QscdQnsej0cArxUM_6sQ" target="_blank">our YouTube channel</a> yet?'
              p.card-text.mt-3
                | Thank you,
              a.btn.btn-lg.btn-block.btn-primary(href=config.urls.web) To the Moon!
          .card-footer.text-center: small.text-muted= t("If you have any questions or issues, then please let us know")
