
extends ../layout

include ../_onboard

block body
  if !user
    +onboard(
      t('Need docs with real data and keys?'),
      t('Simply sign up or log in to have your API keys and real account data populated below.'),
      l(`/faq?redirect_to=${l('/email-forwarding-api')}`),
      '#top',
      'border-bottom'
    )
  .container-fluid.bg-dark.py-3.px-5.py-md-5.d-block.text-center
    .row
      .col-md-12
        p.lead.mb-0.text-white.font-weight-bold!= t("We created an API for programmatic access to domains, aliases, and more.")
  .py-5
    .text-center
      .h2.display-3.mb-1.text-primary
        i.fa.fa-robot
      h2.display-5.font-weight-light.mb-0.text-uppercase= t('API Documentation')
      small.text-black-50.text-uppercase= t('Programmatic access to your data')
  .container.pb-5
    .row
      .col
        case locale
          when 'ar'
            include:md index-ar.md
          when 'cs'
            include:md index-cs.md
          when 'da'
            include:md index-da.md
          when 'de'
            include:md index-de.md
          when 'es'
            include:md index-es.md
          when 'fi'
            include:md index-fi.md
          when 'fr'
            include:md index-fr.md
          when 'he'
            include:md index-he.md
          when 'hu'
            include:md index-hu.md
          when 'id'
            include:md index-id.md
          when 'it'
            include:md index-it.md
          when 'ja'
            include:md index-ja.md
          when 'ko'
            include:md index-ko.md
          when 'nl'
            include:md index-nl.md
          when 'no'
            include:md index-no.md
          when 'pl'
            include:md index-pl.md
          when 'pt'
            include:md index-pt.md
          when 'ru'
            include:md index-ru.md
          when 'sv'
            include:md index-sv.md
          when 'th'
            include:md index-th.md
          when 'tr'
            include:md index-tr.md
          when 'uk'
            include:md index-uk.md
          when 'vi'
            include:md index-vi.md
          when 'zh'
            include:md index-zh.md
          default
            include:md index.md
