{
  "apps": [
    {
      "name": "web",
      "script": "web.js",
      "exec_mode": "cluster",
      "wait_ready": true,
      "instances": "max",
      "pmx": false,
      "error_file": "/var/log/pm2/web-error.log",
      "out_file": "/var/log/pm2/web-out.log",
      "combine_logs": true,
      "merge_logs": true,
      "max_memory_restart": "1G",
      "min_uptime": "10s",
      "max_restarts": 10,
      "autorestart": true,
      "env_production": {
        "NODE_ENV": "production",
        "HTTP_PORT": 443,
        "HTTP_PROTOCOL": "https"
      }
    },
    {
      "name": "proxy",
      "script": "proxy.js",
      "exec_mode": "cluster",
      "wait_ready": true,
      "instances": "max",
      "pmx": false,
      "error_file": "/var/log/pm2/proxy-error.log",
      "out_file": "/var/log/pm2/proxy-out.log",
      "combine_logs": true,
      "merge_logs": true,
      "max_memory_restart": "1G",
      "min_uptime": "10s",
      "max_restarts": 10,
      "autorestart": true,
      "env_production": {
        "NODE_ENV": "production",
        "PROXY_PORT": 80
      }
    }
  ],
  "deploy": {
    "production": {
      "user": "deploy",
      "host": [{% for host in groups['web'] %}"{{ hostvars[host].ansible_host }}"{% if not loop.last %}, {% endif %}{% endfor %}],
      "ref": "origin/master",
      "repo": "{{ lookup('env', 'GITHUB_REPO') }}",
      "path": "/var/www/production",
      "pre-deploy": "git reset --hard",
      "post-deploy": "pnpm install && NODE_ENV=production npm start build && pm2 startOrGracefulReload ecosystem-web.json --env production --update-env"
    }
  }
}
