# WARNING: This file is managed by Ansible.
# It is root-readable because it contains a GitHub token.
GITHUB_OCTOKIT_TOKEN={{ github_octokit_token | quote }}
GITHUB_REPOSITORY='forwardemail/status.forwardemail.net'
SYSTEMD_INCIDENT_PUBLIC_COMPONENT={{ forwardemail_systemd_incident_component | quote }}
SYSTEMD_INCIDENT_COMPONENT_LABEL={{ forwardemail_systemd_incident_label | quote }}
SYSTEMD_INCIDENT_WATCHED_UNITS={{ forwardemail_systemd_incident_units | join(':') | quote }}
SYSTEMD_INCIDENT_FAILURE_THRESHOLD={{ systemd_incident_failure_threshold | int }}
SYSTEMD_INCIDENT_RECOVERY_THRESHOLD={{ systemd_incident_recovery_threshold | int }}
SYSTEMD_INCIDENT_OBSERVATION_INTERVAL_SECONDS={{ systemd_incident_observation_interval_seconds | int }}
SYSTEMD_INCIDENT_API_URL={{ systemd_incident_api_url | quote }}
