[Unit]
Description=Package Monitor
After=network.target
Docs=https://github.com/forwardemail/forwardemail.net
OnFailure=failure-notification@%n.service

[Service]
Type=oneshot
Environment="MSMTP_RCPTS={{ lookup('env', 'MSMTP_RCPTS') | default('security@forwardemail.net', true) }}"
ExecStart=/usr/local/bin/package-monitor.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=package-monitor
User=root
Group=root

[Install]
WantedBy=multi-user.target
