[Unit]
Description=Root Access Monitor Timer
Documentation=https://github.com/forwardemail/forwardemail.net
Requires=root-access-monitor.service

[Timer]
# Run every 5 minutes
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
