[Unit]
Description=Root Access Monitor
After=network.target
Docs=https://github.com/forwardemail/forwardemail.net

[Service]
Type=oneshot
Environment="MSMTP_RCPTS={{ lookup('env', 'MSMTP_RCPTS') | default('security@forwardemail.net', true) }}"
ExecStart=/usr/local/bin/root-access-monitor.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=root-access-monitor
User=root
Group=root

[Install]
WantedBy=multi-user.target
