[Unit]
Description=SnappyMail Health Check
After=network-online.target nginx.service
Wants=network-online.target
Documentation=https://github.com/forwardemail/forwardemail.net
OnFailure=failure-notification@%n.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/snappymail-health-check
StandardOutput=journal
StandardError=journal
SyslogIdentifier=snappymail-health-check
User=root
Group=root

[Install]
WantedBy=multi-user.target
