[Unit]
Description=Ssl Certificate Monitor
After=network.target
Docs=https://github.com/forwardemail/forwardemail.net

[Service]
Type=oneshot
Environment="MSMTP_RCPTS={{ lookup('env', 'MSMTP_RCPTS') | default('security@forwardemail.net', true) }}"
Environment="WEB_URL=https://forwardemail.net"
ExecStart=/usr/local/bin/ssl-certificate-monitor.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ssl-certificate-monitor
User=root
Group=root

[Install]
WantedBy=multi-user.target
