[Unit]
Description=System Resource Monitor Timer
Documentation=https://github.com/forwardemail/forwardemail.net
Requires=system-resource-monitor.service

[Timer]
# Run every 5 minutes
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
