[Unit]
Description=Usb Device Monitor
After=network.target
Docs=https://github.com/forwardemail/forwardemail.net

[Service]
Type=oneshot
ExecStart=/usr/local/bin/usb-device-monitor.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=usb-device-monitor
User=root
Group=root

[Install]
WantedBy=multi-user.target
