// https://github.com/twbs/bootstrap/issues/24374
.min-vh-80 {
  min-height: 80vh !important;
}
.min-h-100 {
  min-height: 100%;
}

body {
  padding-top: 60px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.dropdown-menu {
  max-height: 50vh;
  overflow-y: auto;
}

mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}


// <https://github.com/forwardemail/forwardemail.net/issues/141>
// <https://stackoverflow.com/q/58931615>
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1s !important;
    animation-duration: 1s !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
  }
}

.dropdown-toggle::after {
  vertical-align:middle;
}

.modal-header {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  .bg-fixed {
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #E6FAFF;
  }
}

@include media-breakpoint-down(md) {
  .bg-fixed {
    background-image: none !important;
  }
}

html {
  &.no-js {
    .no-js {
      display: none !important;
    }
    img.lazyload, span.lazyload {
      display: none !important;
    }
  }
}
