body.email {
  max-width: 600px !important;
  padding: 0;
  margin: 0 auto !important;
  .container {
    padding-left: 0px;
    padding-right: 0px;
    .row {
      margin-left: 0;
      margin-right: 0;
      .col-12 {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  pre {
    // override since we don't want side-scrolling emails
    white-space: pre-wrap;
  }
}
