body.email {
  max-width: 600px !important;
  padding-top: 0;
  margin: 0 auto !important;
  .container {
    padding-left: 0px;
    padding-right: 0px;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  img {
    max-width: 100%;
    object-fit: cover;
  }
}
