@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'variables';

#freddy {
  background-color: #191d21;
  #stars {
    position: fixed;
    top: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    background-size: 40vmin, 25%, 110%;
    background-image: url('b64---../img/art/planet.svg---'), url('b64---../img/art/purple-stars.svg---'), url('b64---../img/art/glow.svg---');
    background-repeat: no-repeat, repeat, no-repeat;
    background-position: 110% 110%, 50% 50%, 100% 100%;
  }
  #rocket {
    transition: all 1.5s linear;
    animation-name: rocket;
    animation-delay: 5s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -2;
    position: fixed;
    background-size: 99.9%;
    background-repeat: no-repeat;
    background-image: url('b64---../img/art/rocket.gif---');
    width: 83.5px;
    height: 65.5px;
    left: -50%;
    top: -50%;
  }
  #waving {
    transition: all 1s ease-out;
    animation-name: floating;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    z-index: -1;
    position: fixed;
    background-size: 99.9%;
    background-repeat: no-repeat;
    background-image: url('b64---../img/art/freddy.gif---');
    width: 75.6px;
    height: 106.2px;
    right: 15%;
    bottom: 40%;
  }
  @include media-breakpoint-up(md) {
    #stars {
      background-size: 45vmin, 25%, 110%;
    }
    #waving {
      width: 94.5px;
      height: 132.75px;
    }
  }
  @include media-breakpoint-up(lg) {
    #stars {
      background-size: 50vmin, 25%, 110%;
    }
    #waving {
      width: 126px;
      height: 177px;
    }
  }
  @include media-breakpoint-up(xl) {
    #stars {
      background-size: 60vmin, 25%, 110%;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  #freddy {
    background: #333366 !important;
    #rocket, #waving {
      display: none !important;
    }
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rocket {
  from {
    left: -50%;
    top: -50%;
  }
  to {
    left: 150%;
    top: 150%;
  }
}
