// stylelint-disable no-invalid-position-at-import-rule

@import 'node_modules/github-markdown-css/github-markdown-light';

.markdown-body {
  background-color: transparent !important;

  // margin-left: 20px;
  // margin-right: 20px;
  font-family: $font-family-sans-serif;

  @for $index from 1 through 6 {
    h#{$index} {
      .anchor {
        float: left;
        padding-right: 5px;
        margin-left: -20px;
      }
      a {
        font-size: 80%;
      }
    }
  }

  code, kbd, pre, .commit-tease-sha, .blob-num, .blob-code-inner, {
    font-family: $font-family-monospace !important;
  }

  code {
    // font-size: 100%;
  }

  pre {
    > code {
      white-space: pre-wrap !important;
      display: block !important;
    }
  }

  pre, .highlight pre {
    // font-size: 100%;
    padding: 1rem !important;
  }

  hr {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 0;
  }
}

td {
  .markdown-body {
    background-color: transparent !important;
  }
}

@media (prefers-color-scheme: light) {
  code {
    color: $dark;
  }
  .markdown-body {
    code {
      color: $dark;
    }
  }
}
