@import 'node_modules/github-markdown-css/github-markdown-light';
@import 'node_modules/@primer/css/markdown/index';

.markdown-body {
  // margin-left: 20px;
  // margin-right: 20px;
  font-family: $font-family-sans-serif;

  @for $index from 1 through 6 {
    h#{$index} {
      .anchor {
        float: left;
        padding-right: 5px;
        margin-left: -20px;
      }
    }
  }

  code, kbd, pre, .commit-tease-sha, .blob-num, .blob-code-inner, {
    font-family: $font-family-monospace;
  }

  code {
    color: #24292e;
    // font-size: 100%;
  }

  pre {
    > code {
      display: block;
    }
  }

  pre, .highlight pre {
    // font-size: 100%;
    padding: 1rem;
  }

  hr {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 0;
  }

}

td {
  .markdown-body {
    background-color: transparent;
  }
}
