// $fa-font-path: "//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/webfonts" !default;
$fa-font-path: "../fonts" !default;
// $fa-font-display: "swap" !default;

// custom fonts using google webfont loader
// with fonts defined in `assets/js/core.js`
$font-family-sans-serif: 'Open Sans', 'Source Sans Pro', '-apple-system', BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !default;

$font-family-monospace: 'Inconsolata', Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;

$font-family-base: $font-family-sans-serif !default;
$headings-font-family: 'Poppins', $font-family-sans-serif;

$blue: #20C1ED !default;
$cyan: #9DE5F9 !default;
$green: #8CC63F !default;
$yiq-contrasted-threshold:  200 !default;

$enable-responsive-font-sizes: true !default;
