// stylelint-disable no-invalid-position-at-import-rule

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'variables';

$blue: #20C1ED;
$cyan: #9DE5F9;
$green: #269C32;
// <https://github.com/ForEvolve/bootstrap-dark/issues/65>
$pre-color: $white;

@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/@forevolve/bootstrap-dark/scss/bootstrap-prefers-dark';

$input-bg:                              $black;
$input-disabled-bg:                     $dark;

// stylelint-disable scss/at-extend-no-missing-placeholder
@media (prefers-color-scheme: dark) {
  .btn-outline-dark {
    @extend .text-light;
  }
  .bg-dark, .bg-themed, .navbar-themed {
    background-color: #191d21 !important;
    .btn-outline-dark {
      @extend .text-light;
    }
  }
  .markdown-body {
    .bg-dark {
      background-color: $gray-800 !important;
    }
    code {
      background-color: $dark !important;
      color: $white;
    }
    .octicon-link {
      fill: white;
    }
  }
  mark, .mark {
    padding: 0;
    color: inherit !important;
    background: none !important;
  }
  pre, .highlight pre {
    padding: 0 !important;
  }
  /*
  .text-themed {
    color: white !important;
    &:hover {
      color: white !important;
    }
  }
  */

  .table-success, .table-warning, .table-danger, .table-secondary {
    code.text-themed {
      color: $dark !important;
    }
  }

  @import 'node_modules/github-markdown-css/github-markdown-dark';
  @import 'node_modules/@tkrotoff/bootstrap-floating-label/src/bootstrap-floating-label';
  @import 'node_modules/highlight.js/scss/github-dark';
  @import 'swal2-dark';
  @import 'swal2';
}
