// stylelint-disable no-invalid-position-at-import-rule

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/@forevolve/bootstrap-dark/scss/bootstrap-prefers-dark';

$input-bg:                              $black;
$input-disabled-bg:                     $dark;

@media (prefers-color-scheme: dark) {
  .bg-dark, .bg-themed, .navbar-themed {
    background-color: #191d21 !important;
  }
  .markdown-body {
    .bg-dark {
      background-color: $dark !important;
    }
    code {
      background-color: $dark !important;
      color: $white;
    }
    .octicon-link {
      fill: white;
    }
  }
  mark, .mark {
    padding: 0;
    color: inherit;
  }
  /*
  .text-themed {
    color: white !important;
    &:hover {
      color: white !important;
    }
  }
  */

  .table-success, .table-warning, .table-danger, .table-secondary {
    code.text-themed {
      color: $dark !important;
    }
  }

  @import 'node_modules/github-markdown-css/github-markdown-dark';
  @import 'node_modules/@tkrotoff/bootstrap-floating-label/src/bootstrap-floating-label';
  @import 'node_modules/highlight.js/scss/github-dark';
  @import 'swal2-dark';
  @import 'swal2';
}
