extends ../../layout

block body
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        #table-logs
          include ./_table
        p.small.text-muted.text-center= t("Search functionality and more coming soon.")
