extends ../../layout

block body
  .container.pt-3
    .row
      .col
        include ../../_breadcrumbs
  .container
    .row
      .col
        if (_.isObject(meta) && _.isObject(meta.session) && _.isObject(meta.session.headers))
          table
            each key in Object.keys(meta.session.headers)
              tr
                td
                  strong: code= key
                td
                  code= meta.session.headers[key]
        else
          .alert.alert-warning= t("No headers")
