# Copyright (c) Forward Email LLC
# SPDX-License-Identifier: BUSL-1.1

---
- name: Import security playbook
  import_playbook: security.yml
- name: Import Node.js playbook
  import_playbook: node.yml
- name: Import SSH keys playbook
  import_playbook: ssh-keys.yml
- hosts: web
  name: Web Hostname
  become: true
  become_user: root
  tasks:
    - name: Set hostname
      hostname:
        name: "{{ lookup('env', 'WEB_HOST') }}"
- hosts: api
  name: API Hostname
  become: true
  become_user: root
  tasks:
    - name: Set hostname
      hostname:
        name: "{{ lookup('env', 'API_HOST') }}"
- hosts: caldav
  name: CalDAV Hostname
  become: true
  become_user: root
  tasks:
    - name: Set hostname
      hostname:
        name: "{{ lookup('env', 'CALDAV_HOST') }}"
- hosts: carddav
  name: CardDAV Hostname
  become: true
  become_user: root
  tasks:
    - name: Set hostname
      hostname:
        name: "{{ lookup('env', 'CARDDAV_HOST') }}"
- hosts: web:api:caldav:carddav
  name: HTTP
  become: true
  become_user: root
  # this was already defined in the ufw role
  # https://github.com/Oefenweb/ansible-ufw/blob/master/handlers/main.yml
  handlers:
    - name: Reload UFW
      ufw:
        state: reloaded
  tasks:
    #
    # Override congestion control for HTTP servers with BBR + fq
    # BBR is optimal for HTTP/2 workloads (Cloudflare's production config)
    # https://blog.cloudflare.com/http-2-prioritization-with-nginx/
    # "The combination of TCP_NOTSENT_LOWAT and BBR reduces the amount of buffering
    # on the network to the absolute minimum and is CRITICAL for good end-user
    # performance with HTTP/2."
    #
    # fq (Fair Queue) is specifically recommended by Google's BBR team
    # https://fasterdata.es.net/host-tuning/linux/
    #
    # This overrides security.yml's CUBIC + fq_codel (used for email/database servers)
    #
    - name: Override qdisc to fq for BBR (HTTP servers)
      ansible.posix.sysctl:
        name: net.core.default_qdisc
        value: fq
        sysctl_set: true
        state: present
        reload: true

    - name: Override congestion control to BBR (HTTP servers)
      ansible.posix.sysctl:
        name: net.ipv4.tcp_congestion_control
        value: bbr
        sysctl_set: true
        state: present
        reload: true

    # ufw
    - name: Enable ufw
      ufw:
        state: enabled
        policy: deny
        direction: incoming
    - name: Limit ufw ssh
      ufw:
        rule: limit
        port: 22
        proto: tcp
    - name: Allow ssh
      ufw:
        rule: allow
        port: 22
        proto: tcp
    - name: Allow http
      ufw:
        rule: allow
        port: "{{ lookup('env', 'PROXY_PORT') }}"
        proto: tcp
    - name: Allow https
      ufw:
        rule: allow
        port: "{{ lookup('env', 'HTTP_PORT') }}"
        proto: tcp
    #
    # modify ufw setup
    # https://github.com/Oefenweb/ansible-ufw/issues/21
    #
    - name: "Update ufw before.rules until #21 is resolved"
      template:
        src: "{{ playbook_dir }}/templates/before.rules.j2"
        dest: /etc/ufw/before.rules
        owner: root
        mode: "0644"
      notify: Reload UFW
