# Copyright (c) Forward Email LLC
# SPDX-License-Identifier: BUSL-1.1

---
- name: Import security playbook
  import_playbook: security.yml
- name: Import Node.js playbook
  import_playbook: node.yml
- name: Import SSH keys playbook
  import_playbook: ssh-keys.yml
- name: Import UFW allowlist playbook for SQLite
  import_playbook: ufw-allowlist.yml
  vars:
    target_hosts: sqlite
    service_name: SQLite
    service_port_var: SQLITE_PORT
    service_port_default: "3456"
    service_identifier: sqlite
    ufw_comment: "Auto-whitelist SQLite"

- hosts: sqlite
  name: Hostname
  become: true
  become_user: root
  tasks:
    - name: Set hostname
      hostname:
        name: "{{ lookup('env', 'SQLITE_HOST') }}"

- hosts: sqlite
  name: SQLITE
  become: true
  become_user: root
  # this was already defined in the ufw role
  # https://github.com/Oefenweb/ansible-ufw/blob/master/handlers/main.yml
  handlers:
    - name: Reload UFW
      ufw:
        state: reloaded
  tasks:
    # UFW Configuration - Using reusable playbook
    # See ufw-allowlist.yml for implementation details
    #
    # modify ufw setup
    # https://github.com/Oefenweb/ansible-ufw/issues/21
    #
    - name: "Update ufw before.rules until #21 is resolved"
      template:
        src: "{{ playbook_dir }}/templates/before.rules.j2"
        dest: /etc/ufw/before.rules
        owner: root
        mode: "0644"
      notify: Reload UFW
