{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Bem-vindo à documentação completa da API para Encaminhar E-mails. Esta API permite gerenciar o encaminhamento de e-mails, domínios, aliases, e-mails enviados e muito mais programaticamente.\n\n## Principais Recursos\n* **Gerenciamento de Domínios:** Crie, recupere, atualize, exclua e verifique domínios.\n* **Gerenciamento de Alias:** Gerencie aliases de e-mail, incluindo criação, atualizações e gerenciamento de destinatários.\n* **SMTP de Saída:** Envie e-mails via SMTP, gerencie limites e rastreie e-mails enviados.\n* **Conta e Registros:** Gerencie os detalhes da sua conta e baixe registros de atividades.\n* **Segurança:** Criptografe registros TXT e gerencie membros/convites do domínio.\n* **Em Breve:** Recursos como contatos CardDAV, calendários CalDAV e gerenciamento de mensagens/pastas IMAP/POP3 estão planejados.\n\n## Autenticação\nA maioria dos endpoints exige autenticação usando sua **Chave de API**. Forneça a Chave de API como `username` no cabeçalho da Autenticação Básica, deixando a senha em branco.\n\n```http\nAutorização: Básica QVBJX1RPS0VOOg==\n```\n(Substitua `API_TOKEN` pela sua chave real antes da codificação em Base64)\n\nOs endpoints relacionados a **Contatos, Calendários, Mensagens e Pastas de Alias** (atualmente marcados como \"Em Breve\") usarão um nome de usuário e senha de alias gerados para a Autenticação Básica.\n\n## Erros\nA API usa códigos de status HTTP padrão para indicar sucesso ou falha. As respostas de erro incluem um corpo JSON com um campo `message` detalhando o erro.\n\n| Código de Status | Significado |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Solicitação Inválida |\n| 401 | Não Autorizado |\n| 403 | Proibido |\n| 404 | Não Encontrado |\n| 429 | Muitas Requisições |\n| 500 | Erro Interno do Servidor |\n| 501 | Não Implementado |\n| 502 | Gateway Inválido |\n| 503 | Serviço Indisponível |\n| 504 | Tempo Limite do Gateway |\n\n*Se você encontrar um erro `5xx`, entre em contato com [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Localização\nAs respostas da API são traduzidas com base na localidade detectada pelo usuário ou no cabeçalho `Accept-Language`. Mais de 25 idiomas são suportados.\n\n## Paginação\nOs endpoints que retornam listas suportam paginação por meio de parâmetros de consulta.\n\n| Parâmetro | Tipo | Opcional | Descrição | Padrão | Restrições |\n|--------------|---------|----------|-----------------------------------------------------------------------------|---------|--------------------|\n| `page` | Inteiro | Sim | Número da página a ser recuperada. | 1 | `>= 1` |\n| `limit` | Inteiro | Sim | Número de resultados por página. | 10 | `>= 1`, `<= 50` |\n| `pagination` | Booleano | Sim | Ativar o comportamento de paginação (obrigatório antes de 1º de novembro de 2024 para alguns endpoints). | falso | |\n\n**Cabeçalhos de Paginação:**\n* `X-Page-Count`: Contagem total de páginas.\n* `X-Page-Current`: Número da página atual.\n* `X-Page-Size`: Número de itens na página atual.\n* `X-Item-Count`: Número total de itens em todas as páginas.\n* `Link`: Links de navegação (anterior, próximo, primeiro, último).\n\n**Exemplo:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Bibliotecas Recomendadas\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Mantido pelo Forward Email)\n* **Ir para:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Servidor de API de e-mail de encaminhamento"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nUse sua Chave de API como o **nome de usuário** para Autenticação Básica. Deixe o campo de senha em branco.\n\n**Exemplo:**\nSe sua Chave de API for `SUA_CHAVE_API`, o valor codificado em Base64 para o cabeçalho `Autorização` seria `echo -n \"SUA_CHAVE_API:\" | base64`.\n\n```http\nAutorização: Básica WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nUse o **nome de usuário e a senha do alias** gerados para Autenticação Básica. Isso se aplica aos endpoints em:\n* Contatos do Alias (CardDAV)\n* Calendários do Alias (CalDAV)\n* Mensagens do Alias (IMAP/POP3)\n* Pastas do Alias (IMAP/POP3)\n\n*(Observação: Esses recursos estão atualmente marcados como \"Em breve\")*\n\n**Exemplo:**\nSe o nome de usuário do alias for `alias@domain.com` e a senha for `GENERATED_PASSWORD`, o valor codificado em Base64 será `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAutorização: Básica YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Mensagem de erro"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "O endereço de e-mail do remetente (deve existir como um alias do domínio)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista separada por vírgulas ou uma matriz de destinatários para o cabeçalho \"Para\"."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista separada por vírgulas ou uma matriz de destinatários para o cabeçalho 'Cc'."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista separada por vírgulas ou uma matriz de destinatários para o cabeçalho 'Cco'."
          },
          "subject": {
            "type": "string",
            "description": "Assunto do e-mail."
          },
          "text": {
            "type": "string",
            "description": "A versão em texto simples da mensagem."
          },
          "html": {
            "type": "string",
            "description": "A versão HTML da mensagem."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Uma matriz de objetos de anexo (veja os campos comuns do Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "O endereço de e-mail para o cabeçalho 'Remetente'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "O endereço de e-mail para o cabeçalho 'Responder para'."
          },
          "inReplyTo": {
            "type": "string",
            "description": "O Message-ID ao qual a mensagem é respondida."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Lista separada por espaços ou uma matriz de Message-IDs."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Se verdadeiro, converte dados: imagens no conteúdo HTML em anexos incorporados."
          },
          "watchHtml": {
            "type": "string",
            "description": "Versão HTML específica da mensagem para Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Versão HTML específica do AMP4EMAIL da mensagem."
          },
          "icalEvent": {
            "type": "object",
            "description": "Um evento do iCalendar como conteúdo de mensagem alternativo."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Uma variedade de conteúdo de mensagens alternativo."
          },
          "encoding": {
            "type": "string",
            "description": "Codificação para texto e strings HTML (por exemplo, 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Mensagem personalizada gerada no formato RFC822 (em vez de usar a geração do Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Codificação forçada para uso em valores de texto."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Nível de prioridade do e-mail."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objeto ou matriz de campos de cabeçalho adicionais."
          },
          "messageId": {
            "type": "string",
            "description": "Message-ID opcional para o cabeçalho 'Message-ID'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Cabeçalho de data opcional. Não pode ser posterior a 30 dias."
          },
          "list": {
            "type": "object",
            "description": "Objeto opcional dos cabeçalhos List-*."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Nome de domínio totalmente qualificado (FQDN) ou endereço IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Atribuir à mesma equipe de outro domínio; pode ser um ID de domínio ou FQDN. Use \"nenhum\" para desabilitar explicitamente."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Tipo de plano (o padrão é 'gratuito' ou o plano pago atual do usuário)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Lista delimitada de endereços de e-mail (separados por vírgula, espaço ou nova linha)"
              }
            ],
            "description": "Crie um alias padrão para todos os casos (o padrão é verdadeiro)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Habilitar proteção de conteúdo adulto do Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Habilitar proteção contra phishing do Spam Scanner"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Habilitar proteção executável do Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Habilitar proteção contra vírus do Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exigir que os destinatários do alias cliquem no link de verificação de e-mail"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorar verificação de registro MX para configurações avançadas de roteamento de e-mail"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Número de dias para manter logs SMTP de saída (0–30, padrão: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL do webhook para receber eventos de rejeição"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Desativar webhook de rejeição"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Cota máxima de armazenamento por alias (por exemplo, '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Porta personalizada para configurar o encaminhamento SMTP (o padrão é '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Se deve habilitar a proteção de conteúdo adulto do Spam Scanner neste domínio"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Se deve habilitar a proteção contra phishing do Spam Scanner neste domínio"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Se deve habilitar a proteção executável do Spam Scanner neste domínio"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Se deve habilitar a proteção contra vírus do Spam Scanner neste domínio"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Padrão de domínio global para exigir que os destinatários de alias cliquem em um link de verificação de e-mail para que os e-mails fluam"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Se deve ignorar a verificação do registro MX no domínio para verificação (principalmente para configurações avançadas de roteamento MX)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Número de dias para armazenar e-mails SMTP de saída (0 = limpar imediatamente)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL do webhook para receber notificações de rejeição ou false para desabilitar"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Cota de armazenamento por alias (por exemplo, '1 GB', analisado em bytes)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome do alias (se não for fornecido ou estiver em branco, um alias aleatório será gerado)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sequência de caracteres de endereços de e-mail válidos, FQDNs, IPs ou URLs de webhook separados por quebra de linha/espaço/vírgula"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matriz de destinatários válidos"
              }
            ],
            "description": "Lista de destinatários. Se não for fornecida ou estiver vazia, o padrão será o e-mail do solicitante."
          },
          "description": {
            "type": "string",
            "description": "Descrição do alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sequência de rótulos separada por quebra de linha/espaço/vírgula"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matriz de rótulos"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exigir que os destinatários cliquem no link de verificação (padrão para configuração de domínio)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Se este alias deve ser habilitado ou desabilitado"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Código de erro se o alias estiver desabilitado. O padrão é 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Habilitar ou desabilitar o armazenamento IMAP para este alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Habilitar ou desabilitar a criptografia OpenPGP para este alias"
          },
          "public_key": {
            "type": "string",
            "description": "Chave pública OpenPGP no formato ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Cota máxima de armazenamento (por exemplo, '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Habilitar ou desabilitar resposta automática de férias"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Data de início (por exemplo, 'AAAA-MM-DD') para resposta automática de férias"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Data de término (por exemplo, 'AAAA-MM-DD') para resposta automática de férias"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Assunto em texto simples para resposta de férias"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Mensagem de texto simples para resposta automática de férias"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome alternativo"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sequência de caracteres de endereços de e-mail válidos, FQDNs, IPs ou URLs de webhook separados por quebra de linha/espaço/vírgula"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matriz de destinatários válidos"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Descrição do alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sequência de rótulos separada por quebra de linha/espaço/vírgula"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matriz de rótulos"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exigir que os destinatários cliquem no link de verificação (padrão para configuração de domínio)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Habilitar ou desabilitar alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Código de erro a ser usado se o alias estiver desabilitado (padrão 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Habilitar ou desabilitar o armazenamento IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Habilitar ou desabilitar a criptografia OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Chave pública OpenPGP no formato ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Cota máxima de armazenamento (por exemplo, '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Habilitar ou desabilitar resposta automática de férias"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Data de início do respondente de férias (por exemplo, AAAA-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Data de término da resposta automática de férias (por exemplo, AAAA-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Assunto de texto simples da resposta de férias"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Mensagem de texto simples de resposta de férias"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Sua nova senha personalizada para usar no alias"
          },
          "password": {
            "type": "string",
            "description": "Senha existente para alias para alterá-la sem excluir o armazenamento da caixa de correio"
          },
          "is_override": {
            "type": "boolean",
            "description": "Substituir a senha existente e excluir o armazenamento IMAP (use com cautela)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Endereço de e-mail para enviar a senha do alias e instruções de configuração"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Contagem atual de e-mails enviados"
          },
          "limit": {
            "type": "integer",
            "description": "Número máximo de e-mails permitidos"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID do membro"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Endereço de e-mail do membro"
          },
          "role": {
            "type": "string",
            "description": "Função do membro"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Endereço de e-mail convidado"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Página de resultados a ser retornada. Se não especificado, o valor será 1. Deve ser um número maior ou igual a 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Número de resultados a serem retornados por página. O padrão é 10 se não for especificado. Deve ser um número maior ou igual a 1 e menor ou igual a 50.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Inscreva-se para paginação antes de 1º de novembro de 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID de domínio",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Aliases de ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID do membro",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID de e-mail",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "Criar uma conta",
        "description": "Criar uma nova conta de usuário",
        "tags": [
          "Conta"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Endereço de email"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Senha"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "Recuperar conta",
        "description": "Recuperar informações da conta do usuário atual",
        "tags": [
          "Conta"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Atualizar conta",
        "description": "Atualizar as informações da conta do usuário atual",
        "tags": [
          "Conta"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Endereço de email"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "Primeiro nome"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "Sobrenome"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Link para a imagem do avatar"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "Baixar logs",
        "description": "**Baixar logs**\n\nDescrição: Nossa API permite programaticamente que você baixe logs para sua conta. Enviar uma solicitação para este endpoint processará todos os logs da sua conta e os enviará por e-mail como anexo (arquivo de planilha CSV compactado com Gzip) após a conclusão.\n\nIsso permite que você crie tarefas em segundo plano com uma tarefa Cron ou usando o software de agendamento de tarefas Node.js Bree para receber logs sempre que desejar. Observe que este endpoint é limitado a `10` solicitações por dia.\n\nO anexo é a forma minúscula de `email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz` e o próprio e-mail contém um breve resumo dos logs recuperados.",
        "tags": [
          "Registros"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Filtrar logs por domínio totalmente qualificado (\"FQDN\"). Caso não seja fornecido, todos os logs de todos os domínios serão recuperados.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Pesquise logs por e-mail, domínio, nome de alias, endereço IP ou data (formato M/A, M/D/AA, M-D, M-D-AA ou M.D.AA).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "Pesquise logs por uma categoria de rejeição específica (por exemplo, \"lista de bloqueios\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "Pesquise logs por um código de resposta de erro específico (por exemplo, 421 ou 550).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Listar e-mails SMTP de saída",
        "description": "**Listar e-mails SMTP de saída**\n\nObserve que este endpoint não retorna valores de propriedade para `message`, `headers` ou `rejectedErrors` de um e-mail.\n\nPara retornar essas propriedades e seus valores, use o endpoint [Recuperar e-mail](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) com um ID de e-mail.",
        "tags": [
          "E-mails"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Pesquise e-mails por metadados.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Pesquise e-mails por nome de domínio.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Classificar por um campo específico (prefixo com um único hífen - para classificar na direção inversa daquele campo). O padrão é created_at se não for definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Veja Paginação para mais informações.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Veja Paginação para mais informações.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Criar e-mail SMTP de saída",
        "description": "Nossa API para criar um e-mail é inspirada e utiliza a configuração de opções de mensagem do Nodemailer. Consulte a [configuração de mensagem do Nodemailer](https://nodemailer.com/message/) para todos os parâmetros do corpo abaixo.\n\nObserve que, com exceção de `envelope` e `dkim` (já que os definimos automaticamente para você), oferecemos suporte a todas as opções do Nodemailer. Definimos automaticamente as opções `disableFileAccess` e `disableUrlAccess` como `true` por motivos de segurança.\n\nVocê deve passar a única opção `raw` com seu e-mail completo bruto, incluindo cabeçalhos, ou passar as opções individuais dos parâmetros do corpo abaixo.\n\nEste endpoint da API codificará emojis automaticamente para você se eles forem encontrados nos cabeçalhos (por exemplo, uma linha de assunto `Assunto: 🤓 Olá` é convertida para `Assunto: =?UTF-8?Q?=F0=9F=A4=93?= Olá` automaticamente). Nosso objetivo era criar uma API de e-mail extremamente amigável ao desenvolvedor e à prova de falhas.",
        "tags": [
          "E-mails"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "Obtenha limite de e-mail SMTP de saída",
        "description": "Este é um ponto de extremidade simples que retorna um objeto JSON contendo a `contagem` e o `limite` para o número de mensagens de saída SMTP diárias por conta.",
        "tags": [
          "E-mails"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "Recuperar e-mail SMTP de saída",
        "description": "Recuperar um e-mail SMTP de saída específico.",
        "tags": [
          "E-mails"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Excluir e-mail SMTP de saída",
        "description": "A exclusão de e-mails definirá o status como \"rejeitado\" (e, consequentemente, não o processará na fila) se, e somente se, o status atual for \"pendente\", \"na fila\" ou \"adiado\". Podemos remover e-mails automaticamente após 30 dias da criação e/ou envio. Portanto, você deve manter uma cópia dos e-mails SMTP de saída em seu cliente, banco de dados ou aplicativo. Você pode referenciar o valor do nosso ID de e-mail em seu banco de dados, se desejar. Esse valor é retornado pelos endpoints [Criar e-mail](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email) e [Recuperar e-mail](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email).",
        "tags": [
          "E-mails"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "Listar domínios",
        "description": "> [!NOTE]\n>A partir de 1º de novembro de 2024, os endpoints da API para domínios de lista e aliases de domínio de lista terão como padrão o máximo de `1000` resultados por página. Se desejar aceitar esse comportamento antecipadamente, você pode passar `?paginate=true` como um parâmetro de string de consulta adicional para a URL da consulta do endpoint. Consulte Paginação para obter mais informações.",
        "tags": [
          "Domínios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Pesquisar domínios por metadados.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Pesquisar domínios por nome de domínio.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Classificar por um campo específico (prefixo com um único hífen - para classificar na direção inversa daquele campo). O padrão é created_at se não for definido.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Veja Paginação para mais informações.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Veja Paginação para mais informações.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Criar domínio",
        "description": "Cria um novo domínio no sistema. Este endpoint permite registrar um nome de domínio totalmente qualificado (FQDN) ou endereço IP para uso com a plataforma.\n\nAs opções de configuração opcionais incluem atribuir o domínio a uma equipe existente, definir um tipo de plano (por exemplo, gratuito, proteção aprimorada ou equipe) e configurar proteções avançadas, como filtragem de spam, verificação de vírus e verificação de destinatários. Você também pode configurar se um alias \"pega-tudo\" deve ser criado por padrão, definir uma URL de webhook de rejeição personalizada para falhas de SMTP e definir limites de cota de armazenamento para aliases de e-mail neste domínio. Este endpoint realiza a validação e o provisionamento em nível de domínio. Se a opção `ignore_mx_check` estiver habilitada, a verificação do registro MX será ignorada (recomendado apenas para configurações avançadas de roteamento). A resposta conterá detalhes completos do objeto de domínio criado, incluindo os registros DNS necessários para a configuração.",
        "tags": [
          "Domínios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Recuperar domínio",
        "description": "Recuperar um domínio específico",
        "tags": [
          "Domínios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Atualizar domínio",
        "description": "Atualizar um domínio específico.",
        "tags": [
          "Domínios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Excluir domínio",
        "description": "Excluir um domínio específico.",
        "tags": [
          "Domínios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Verificar registros de domínio",
        "description": "Verifique os registros DNS de um domínio específico.",
        "tags": [
          "Domínios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "Verificar registros SMTP de domínio",
        "description": "Verifica os registros DNS relacionados ao SMTP para o domínio especificado.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "Domínios"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Nome de domínio totalmente qualificado (FQDN) para verificar",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "Crie uma senha abrangente para todo o domínio",
        "description": "Cria uma senha universal para todo o domínio. Se nenhuma senha for fornecida, uma senha aleatória e segura será gerada.",
        "tags": [
          "Domínios"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de domínio para criar a senha geral para"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "Sua nova senha personalizada para usar como senha geral para todo o domínio. Deixe em branco para gerar uma senha forte."
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrição apenas para fins organizacionais."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Listar senhas gerais de todo o domínio",
        "description": "Retorna uma lista de senhas abrangentes de todo o domínio que estão atualmente configuradas para o domínio especificado.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "Domínios"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Nome de domínio totalmente qualificado (FQDN) para o qual listar senhas abrangentes",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "Remover senha geral de todo o domínio",
        "description": "Exclui uma senha geral de todo o domínio usando o ID do token fornecido.",
        "tags": [
          "Domínios"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O nome de domínio associado à senha geral"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "O ID do token da senha geral de todo o domínio a ser excluída"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Aceitar convite de domínio",
        "description": "Aceitar um convite para um domínio.",
        "tags": [
          "Convites"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Criar convite de domínio",
        "description": ">[!IMPORTANT]\n>Se o usuário convidado já for um membro aceito de qualquer outro domínio do qual o administrador que o convidou seja membro, o convite será aceito automaticamente e nenhum e-mail será enviado.",
        "tags": [
          "Convites"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Endereço de e-mail para convidar para a lista de membros do domínio"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "Grupo para adicionar o usuário à associação de domínio (pode ser `\"admin\"` ou `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Remover convite de domínio",
        "description": "Remover um convite para um domínio.",
        "tags": [
          "Convites"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Endereço de e-mail para remover da lista de membros do domínio"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "Atualizar membro do domínio",
        "description": "Atualizar um membro do domínio.",
        "tags": [
          "Membros"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "Grupo para atualizar o usuário para a associação de domínio (pode ser `\"admin\"` ou `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Remover membro do domínio",
        "description": "Remover um membro do domínio.",
        "tags": [
          "Membros"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "Gerar uma senha de alias",
        "description": "Gere uma senha para um alias. Se `emailed_instructions` não for fornecido, a resposta conterá o nome de usuário e a senha gerados.",
        "tags": [
          "Pseudônimos"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Nome de domínio totalmente qualificado (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador exclusivo do alias"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Listar aliases de domínio",
        "description": ">[!NOTE]\n>A partir de 1º de novembro de 2024, os endpoints da API para `Listar domínios` e `Listar aliases de domínio` terão como padrão o máximo de `1000` resultados por página. Se desejar ativar esse comportamento antecipadamente, você pode passar `?paginate=true` como um parâmetro de string de consulta adicional para a URL da consulta do endpoint. Consulte Paginação para obter mais informações.",
        "tags": [
          "Pseudônimos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Pesquisar aliases em um domínio por nome, rótulo ou destinatário (com suporte a RegExp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Pesquisar aliases em um domínio por nome (com suporte a RegExp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Pesquisar aliases em um domínio por destinatário (com suporte a RegExp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Classificar por um campo específico (prefixo com um único hífen - para classificar ao contrário). O padrão é created_at.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Criar novo alias de domínio",
        "description": "Crie um novo alias para um domínio específico.",
        "tags": [
          "Pseudônimos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "Recuperar alias de domínio",
        "description": "Recuperar um alias específico para um domínio.",
        "tags": [
          "Pseudônimos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Atualizar alias de domínio",
        "description": "Atualizar um alias específico para um domínio.",
        "tags": [
          "Pseudônimos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Excluir alias de domínio",
        "description": "Excluir um alias específico para um domínio.",
        "tags": [
          "Pseudônimos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "Criptografar registro TXT",
        "description": "Permitimos que você criptografe registros, mesmo no plano gratuito, sem nenhum custo. A privacidade não deve ser um recurso, mas sim inerente a todos os aspectos de um produto. Conforme altamente solicitado em uma [discussão sobre Guias de Privacidade](https://discuss.privacyguides.net/t/forward-email-email-provider/13370) e em nossos [problemas no GitHub](https://github.com/forwardemail/forwardemail.net/issues/254), adicionamos isso.",
        "tags": [
          "Criptografar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "Qualquer registro TXT de texto simples de encaminhamento de e-mail válido"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "Listar contatos",
        "description": "Listar todos os contatos (CardDAV). Este endpoint estará disponível em breve.",
        "tags": [
          "Contatos de alias"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Criar contato",
        "description": "Crie um novo contato (CardDAV). Este endpoint estará disponível em breve.",
        "tags": [
          "Contatos de alias"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID de contato",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Recuperar contato",
        "description": "Recupere um contato específico (CardDAV). Este endpoint estará disponível em breve.",
        "tags": [
          "Contatos de alias"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
[...]
