{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />欢迎阅读 Forward Email 的完整 API 文档。此 API 允许您以编程方式管理电子邮件转发、域名、别名、外发邮件等。\n\n## 主要功能\n\n* **域名管理：** 创建、检索、更新、删除和验证域名。\n\n* **别名管理：** 管理电子邮件别名，包括创建、更新和收件人管理。\n\n* **外发 SMTP：** 通过 SMTP 发送电子邮件，管理发送限制并跟踪已发送邮件。\n\n* **帐户和日志：** 管理您的帐户详细信息并下载活动日志。\n\n* **安全性：** 加密 TXT 记录并管理域成员/邀请。\n\n* **CardDAV 联系人：** 支持 vCard 的联系人管理的完整 CRUD 操作。\n\n* **CalDAV 日历：** 提供完整的日历管理功能，支持时区和颜色。\n\n* **IMAP/POP3 邮件：** 提供全面的邮件管理功能，并具备高级搜索功能。\n\n* **IMAP/POP3 文件夹：** 提供完整的文件夹管理功能，包括创建、重命名和删除。\n\n## 身份验证\n\n大多数端点需要使用您的 **API 密钥** 进行身份验证。请在基本身份验证标头中将 API 密钥作为 `username` 提供，密码留空。\n\n```http\n\nAuthorization: Basic QVBJX1RPS0VOOg==\n\n```\n\n（在进行 Base64 编码之前，请将 `API_TOKEN` 替换为您的实际密钥）\n\n与**别名联系人、日历、邮件和文件夹**相关的端点需要生成别名用户名和密码才能进行基本身份验证。\n\n## 错误\n\nAPI 使用标准 HTTP 状态代码来指示成功或失败。错误响应包含一个 JSON 正文，其中包含一个 `message` 字段，详细说明错误信息。\n\n| 状态码 | 含义 |\n\n|-------------|---------------------|\n\n| 200 | 正常 |\n\n| 400 | 错误请求 |\n\n| 401 | 未授权 |\n\n| 403 | 禁止访问 |\n\n| 404 | 未找到 |\n\n| 409 | 冲突 |\n\n| 412 | 前提条件失败 |\n\n| 429 | 请求过多 |\n\n| 500 | 内部服务器错误 |\n\n| 501 | 未实现 |\n\n| 502 | 网关错误 |\n\n| 503 | 服务不可用 |\n\n| 504 | 网关超时 |\n\n*如果您遇到 `5xx` 错误，请联系 [api@forwardemail.net](mailto:api@forwardemail.net)。*\n\n## 本地化\n\nAPI 响应会根据用户检测到的语言环境或 `Accept-Language` 标头进行翻译。支持超过 25 种语言。\n\n## 分页\n\n返回列表的端点支持通过查询参数进行分页。\n\n| 参数 | 类型 | 可选 | 描述 | 默认值 | 约束 |\n\n|--------------|---------|----------|-----------------------------------------------------------------------------|---------|--------------------|\n\n| `page` | 整数 | 是 | 要检索的页码。 | 1 | `>= 1` |\n\n| `limit` | 整数 | 是 | 每页显示的结果数。 | 25 | `>= 1`, `<= 100` |\n\n| `pagination` | 布尔值 | 是 |启用分页功能（部分接口需在 2024 年 11 月 1 日前启用）。| false | |\n\n**分页标头：**\n\n* `X-Page-Count`：总页数。\n\n* `X-Page-Current`：当前页码。\n\n* `X-Page-Size`：当前页的项目数。\n\n* `X-Item-Count`：所有页面中的项目总数。\n\n* `Link`：导航链接（上一页、下一页、首页、末页）。\n\n**示例：**\n\n```bash\n\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n\n-u API_TOKEN:\n\n```\n\n## 推荐库\n\n* **Ruby：** [Faraday](https://github.com/lostisland/faraday)\n\n* **Python：** [requests](https://requests.readthedocs.io/en/latest/)\n\n* **Java：** [OkHttp](https://square.github.io/okhttp/)\n\n* **PHP：** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n\n* **JavaScript/Node.js：** [superagent](https://github.com/visionmedia/superagent) (由 Forward Email 维护)\n\n* **Go：** `net/http`\n\n* **.NET：** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "转发邮件 API 服务器"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "请使用您的 API 密钥作为基本身份验证的**用户名**。密码字段留空。\n\n**示例：**\n\n如果您的 API 密钥为 `YOUR_API_KEY`，则 `Authorization` 标头的 Base64 编码值将为 `echo -n \"YOUR_API_KEY:\" | base64`。\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n\n```\n\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nUse the generated **alias username and password** for Basic Authentication. This applies to endpoints under:\n*   Alias Contacts (CardDAV)\n*   Alias Calendars (CalDAV)\n*   Alias Messages (IMAP/POP3)\n*   Alias Folders (IMAP/POP3)\n*   Alias Sieve Scripts\n\n**Example:**\nIf the alias username is `alias@domain.com` and password is `GENERATED_PASSWORD`, the Base64 encoded value would be `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "SieveScript": {
        "type": "object",
        "required": [
          "id",
          "name",
          "content",
          "alias"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique script identifier"
          },
          "name": {
            "type": "string",
            "description": "Script name"
          },
          "content": {
            "type": "string",
            "description": "Sieve script content"
          },
          "alias": {
            "type": "string",
            "description": "Alias ID this script belongs to"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the script is active",
            "default": false
          },
          "priority": {
            "type": "integer",
            "description": "Script priority (lower = higher priority)",
            "default": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "创建时间戳"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "最后更新时间戳"
          },
          "object": {
            "type": "string",
            "example": "sieve_script"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "错误信息"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "用户首选语言设置，该设置会覆盖自动检测结果"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "别名 ID"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "对象类型"
          },
          "name": {
            "type": "string",
            "description": "别名（电子邮件的本地部分）"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "完整别名电子邮件地址"
          },
          "domain_id": {
            "type": "string",
            "description": "域名"
          },
          "domain_name": {
            "type": "string",
            "description": "域名"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "此别名/邮箱使用的存储空间（以字节为单位）"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "此别名/邮箱的存储配额（以字节为单位）"
          },
          "has_imap": {
            "type": "boolean",
            "description": "此别名是否启用了 IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "是否启用 PGP 加密"
          },
          "public_key": {
            "type": "string",
            "description": "PGP 公钥（如有）"
          },
          "has_smime": {
            "type": "boolean",
            "description": "是否启用 S/MIME 加密"
          },
          "smime_certificate": {
            "type": "string",
            "description": "PEM 格式的 S/MIME X.509 证书"
          },
          "locale": {
            "type": "string",
            "description": "区域设置偏好"
          },
          "settings": {
            "type": "object",
            "description": "别名设置",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "别名邮件存档文件夹"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "别名邮件已发送文件夹"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "别名邮件草稿文件夹"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "按关键字键的别名标签映射",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "自由格式别名默认值，例如 display_name 或 signature。",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "创建时间戳"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "最后更新时间戳"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "联系人 ID（来自 CardDAV 的 contact_id）"
          },
          "uid": {
            "type": "string",
            "description": "联系 UID"
          },
          "full_name": {
            "type": "string",
            "description": "联系人的全名"
          },
          "content": {
            "type": "string",
            "description": "vCard 内容"
          },
          "etag": {
            "type": "string",
            "description": "版本控制的 ETag"
          },
          "is_group": {
            "type": "boolean",
            "description": "是否联系是群体"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电子邮件地址数组"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电话号码数组"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard 内容（如果未提供，将从其他字段生成）"
          },
          "full_name": {
            "type": "string",
            "description": "联系人的全名"
          },
          "contact_id": {
            "type": "string",
            "description": "自定义联系人 ID（如未提供，将自动生成）"
          },
          "uid": {
            "type": "string",
            "description": "联系 UID（如未提供，将自动生成）"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电子邮件地址数组"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电话号码数组"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电话号码数组（phone_numbers 的别名）"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "地址数组"
          },
          "is_group": {
            "type": "boolean",
            "description": "是否联系是群体"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard 内容"
          },
          "full_name": {
            "type": "string",
            "description": "联系人的全名"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电子邮件地址数组"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电话号码数组"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电话号码数组（phone_numbers 的别名）"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "地址数组"
          },
          "is_group": {
            "type": "boolean",
            "description": "是否联系是群体"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "日历 ID（来自 CalDAV 的 calendarId）"
          },
          "name": {
            "type": "string",
            "description": "日历名称"
          },
          "description": {
            "type": "string",
            "description": "日历说明"
          },
          "color": {
            "type": "string",
            "description": "日历颜色（十六进制格式）"
          },
          "timezone": {
            "type": "string",
            "description": "日历时区"
          },
          "order": {
            "type": "integer",
            "description": "日历显示顺序"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "日历名称"
          },
          "calendar_id": {
            "type": "string",
            "description": "自定义日历 ID（如果未提供，将自动生成）"
          },
          "description": {
            "type": "string",
            "description": "日历说明"
          },
          "color": {
            "type": "string",
            "description": "日历颜色（十六进制格式，如未提供，将自动生成）"
          },
          "timezone": {
            "type": "string",
            "description": "日历时区（默认为用户时区或 UTC）"
          },
          "order": {
            "type": "integer",
            "description": "日历显示顺序（默认为 0）"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "日历名称"
          },
          "description": {
            "type": "string",
            "description": "日历说明"
          },
          "color": {
            "type": "string",
            "description": "日历颜色（十六进制格式）"
          },
          "timezone": {
            "type": "string",
            "description": "日历时区"
          },
          "order": {
            "type": "integer",
            "description": "日历显示顺序"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "日历事件 ID（来自 CalDAV 的 eventId）"
          },
          "calendar_id": {
            "type": "string",
            "description": "此事件所属日历的 ID"
          },
          "ical": {
            "type": "string",
            "description": "事件的 iCalendar (RFC 5545) 数据"
          },
          "summary": {
            "type": "string",
            "description": "事件标题/摘要（提取自 iCal 数据）"
          },
          "description": {
            "type": "string",
            "description": "事件描述（提取自 iCal 数据）"
          },
          "location": {
            "type": "string",
            "description": "事件地点（从 iCal 数据中提取）"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "事件开始日期/时间（从 iCal 数据中提取）"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "事件结束日期/时间（从 iCal 数据中提取）"
          },
          "uid": {
            "type": "string",
            "description": "来自 iCal 数据的唯一标识符"
          },
          "status": {
            "type": "string",
            "description": "事件状态（从 iCal 数据中提取）"
          },
          "organizer": {
            "type": "string",
            "description": "活动组织者（摘自 iCal 数据）"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "软删除时间戳"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "要添加事件的日历 ID"
          },
          "event_id": {
            "type": "string",
            "description": "自定义事件 ID（如果未提供，则会自动生成）"
          },
          "ical": {
            "type": "string",
            "description": "事件的 iCalendar（RFC 5545）数据。必须为有效的 iCal 格式。"
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "将活动移至其他日历"
          },
          "ical": {
            "type": "string",
            "description": "已更新事件的 iCalendar (RFC 5545) 数据"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "文件夹 ID"
          },
          "path": {
            "type": "string",
            "description": "完整文件夹路径"
          },
          "name": {
            "type": "string",
            "description": "文件夹名称（路径的最后一部分）"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "父文件夹路径"
          },
          "uid_validity": {
            "type": "integer",
            "description": "IMAP UID 有效性"
          },
          "uid_next": {
            "type": "integer",
            "description": "下一个 UID 值"
          },
          "modify_index": {
            "type": "integer",
            "description": "修正指数"
          },
          "subscribed": {
            "type": "boolean",
            "description": "文件夹是否已订阅"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "文件夹标记"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "信息保留期限"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "特殊用途指定"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "文件夹路径/名称"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "新文件夹路径/名称"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "消息 ID"
          },
          "root_id": {
            "type": "string",
            "description": "用于线程的根消息 ID"
          },
          "folder_id": {
            "type": "string",
            "description": "包含该消息的文件夹 ID"
          },
          "folder_path": {
            "type": "string",
            "description": "包含该消息的文件夹路径"
          },
          "thread_id": {
            "type": "string",
            "description": "对话分组的主题 ID"
          },
          "header_message_id": {
            "type": "string",
            "description": "消息 ID 标头值"
          },
          "is_unread": {
            "type": "boolean",
            "description": "消息是否未读"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "消息是否被标记"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "消息是否被删除"
          },
          "is_draft": {
            "type": "boolean",
            "description": "消息是否为草稿"
          },
          "is_junk": {
            "type": "boolean",
            "description": "邮件是否为垃圾邮件/骚扰邮件"
          },
          "is_copied": {
            "type": "boolean",
            "description": "消息是否被复制"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "消息是否可搜索"
          },
          "is_expired": {
            "type": "boolean",
            "description": "邮件是否已过期"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "邮件是否包含附件"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "信息保留日期"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "内部日期（IMAP）"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "邮件头中的日期"
          },
          "subject": {
            "type": "string",
            "description": "邮件主题"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP标志"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "用户自定义标签（小写，最多 10 个）",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "消息大小（字节）"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP UID"
          },
          "modseq": {
            "type": "integer",
            "description": "修饰序列"
          },
          "transaction": {
            "type": "string",
            "description": "交易类型"
          },
          "remote_address": {
            "type": "string",
            "description": "远程IP地址"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "消息创建时间戳"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "消息最后更新时间戳"
          },
          "nodemailer": {
            "type": "object",
            "description": "已解析的消息对象（默认包含，设置 ?nodemailer=false 可排除）"
          },
          "raw": {
            "type": "string",
            "description": "原始邮件内容（默认包含，设置 ?raw=false 可排除）"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "发件人电子邮件地址"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "收件人电子邮件地址"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "抄送收件人电子邮件地址"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "密送收件人电子邮件地址"
          },
          "subject": {
            "type": "string",
            "description": "邮件主题"
          },
          "text": {
            "type": "string",
            "description": "纯文本内容"
          },
          "html": {
            "type": "string",
            "description": "HTML 内容"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "邮件附件（Nodemailer格式）"
          },
          "folder": {
            "type": "string",
            "description": "目标文件夹（默认为收件箱）"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "要设置在邮件上的 IMAP 标志"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "用户可自定义消息标签。标签可以是单个字符串，也可以是标签数组。标签必须以字母、数字、反斜杠或美元符号开头，并且可以包含单词字符、句点和连字符。每条消息最多可添加 10 个标签。标签不区分大小写，并将以小写形式存储。",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "要设置在邮件上的 IMAP 标志"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "用户可自定义消息标签。标签可以是单个字符串，也可以是标签数组。标签必须以字母、数字、反斜杠或美元符号开头，并且可以包含单词字符、句点和连字符。每条消息最多可添加 10 个标签。标签不区分大小写，并将以小写形式存储。",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "将邮件移至此文件夹"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "邮件的当前状态。发送时间由“日期”字段决定。",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "邮件的日期标头。如果设置为未来的时间（超过 1 分钟），邮件将延迟发送至该时间。最长延迟时间为创建后 30 天。"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "指示整个交付链是否需要 TLS（RFC 8689）。"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "发件人的电子邮件地址（必须作为域的别名存在）。"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "“To”标头中的收件人列表或数组，以逗号分隔。"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "以逗号分隔的收件人列表或数组，用于“抄送”标头。"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "密送 (Bcc) 标头的收件人列表或数组，以逗号分隔。"
          },
          "subject": {
            "type": "string",
            "description": "邮件主题。"
          },
          "text": {
            "type": "string",
            "description": "消息的纯文本版本。"
          },
          "html": {
            "type": "string",
            "description": "邮件的HTML版本。"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "附件对象数组（参见 Nodemailer 的公共字段）。"
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "“发件人”标头中的电子邮件地址。"
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "“回复至”标头的电子邮件地址。"
          },
          "inReplyTo": {
            "type": "string",
            "description": "该消息回复的消息 ID。"
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "以空格分隔的消息 ID 列表或数组。"
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "如果为真，则将 HTML 内容中的图像数据转换为嵌入式附件。"
          },
          "watchHtml": {
            "type": "string",
            "description": "该消息的HTML版本专为Apple Watch设计。"
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL 特有的 HTML 版本邮件。"
          },
          "icalEvent": {
            "type": "object",
            "description": "将 iCalendar 事件作为替代消息内容。"
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "一系列备选消息内容。"
          },
          "encoding": {
            "type": "string",
            "description": "文本和 HTML 字符串的编码（例如，'utf-8'、'hex'、'base64'）。"
          },
          "raw": {
            "type": "string",
            "description": "自定义生成的 RFC822 格式邮件（而不是使用 Nodemailer 生成）。"
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "强制对文本值进行编码。"
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "邮件优先级。"
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "附加标头字段的对象或数组。"
          },
          "messageId": {
            "type": "string",
            "description": "“Message-ID”标头的可选消息ID。"
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "可选的日期标头。如果设置为未来的时间（超过 1 分钟），邮件将延迟发送至该时间。日期不能超过邮件创建日期后 30 天。",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "可选的 List-* 标头对象。"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "如果为真，则整个传输链都需要使用 TLS（RFC 8689）。消息将仅通过 TLS 加密连接进行传输。"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "启用后，拒绝接收未通过 TLS 传输的入站电子邮件。"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "完全限定域名 (FQDN) 或 IP 地址"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "从另一个域分配给同一团队；可以是域 ID 或完全限定域名 (FQDN)。使用“none”可明确禁用。"
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "套餐类型（默认为“免费”或用户当前付费套餐）"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "以逗号、空格或换行符分隔的电子邮件地址列表"
              }
            ],
            "description": "创建默认的通用别名（默认为 true）"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "启用垃圾邮件扫描器成人内容保护"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "启用垃圾邮件扫描器网络钓鱼防护"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "启用垃圾邮件扫描程序可执行文件保护"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "启用垃圾邮件扫描器病毒防护"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "要求别名收件人点击电子邮件验证链接"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "对于高级邮件路由设置，忽略 MX 记录检查。"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "选择启用此功能，即可存储成功转发、通过 Webhook 发送、外发 SMTP 和 IMAP 发送的电子邮件的邮件头和元数据（不包括邮件内容），日志保留 7 天。此功能可帮助您监控和排查电子邮件发送性能问题，并提供成功发送的详细信息。"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "保留出站 SMTP 日志的天数（0-30 天，默认值：0 天）"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "用于接收退信事件的 Webhook URL"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "禁用反弹 webhook"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "每个别名的最大存储配额（例如“1 GB”）"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "用于配置 SMTP 转发的自定义端口（默认值为“25”）"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "是否在此域名上启用垃圾邮件扫描器成人内容保护"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "是否在此域上启用垃圾邮件扫描器网络钓鱼防护"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "是否在此域上启用垃圾邮件扫描程序可执行文件保护"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "是否在此域上启用垃圾邮件扫描器病毒防护"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "全局域默认设置，用于指定是否要求别名收件人点击电子邮件验证链接才能发送邮件。"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "是否忽略域上的 MX 记录检查以进行验证（主要用于高级 MX 路由设置）"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "选择启用此功能，即可存储成功转发、通过 Webhook 发送、外发 SMTP 和 IMAP 发送的电子邮件的邮件头和元数据（不包括邮件内容），日志保留 7 天。此功能可帮助您监控和排查电子邮件发送性能问题，并提供成功发送的详细信息。"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "存储外发SMTP邮件的天数（0 = 立即清除）"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "用于接收退信通知的 Webhook URL，如果设置为 false 则禁用"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "每个别名的存储配额（例如“1 GB”，解析为字节）"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "别名（如果未提供或为空，则会生成一个随机别名）"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "以换行符/空格/逗号分隔的有效电子邮件地址、完全限定域名 (FQDN)、IP 地址或 Webhook URL 字符串"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "有效收件人数组"
              }
            ],
            "description": "收件人列表。如果未提供或为空，则默认为请求者的电子邮件地址。"
          },
          "description": {
            "type": "string",
            "description": "别名描述"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "以换行符/空格/逗号分隔的标签字符串"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "标签数组"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "要求收件人点击验证链接（默认为域设置）"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "是否启用或禁用此别名"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "别名禁用时的错误代码。默认值为 250。"
          },
          "has_imap": {
            "type": "boolean",
            "description": "启用或禁用此别名的 IMAP 存储"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "启用或禁用此别名的 OpenPGP 加密"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP 公钥（ASCII Armor 格式）"
          },
          "has_smime": {
            "type": "boolean",
            "description": "启用或禁用此别名的 S/MIME 加密"
          },
          "smime_certificate": {
            "type": "string",
            "description": "PEM 格式的 S/MIME X.509 证书"
          },
          "max_quota": {
            "type": "string",
            "description": "存储最大配额（例如“1 GB”）"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "启用或禁用假期响应器"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "休假响应者的起始日期（例如“YYYY-MM-DD”）"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "休假响应者的结束日期（例如“YYYY-MM-DD”）"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "假期回复器的纯文本主题"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "度假回复器的纯文本消息"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "别名"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "以换行符/空格/逗号分隔的有效电子邮件地址、完全限定域名 (FQDN)、IP 地址或 Webhook URL 字符串"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "有效收件人数组"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "别名描述"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "以换行符/空格/逗号分隔的标签字符串"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "标签数组"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "要求收件人点击验证链接（默认为域设置）"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "启用或禁用别名"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "别名禁用时使用的错误代码（默认为 250）"
          },
          "has_imap": {
            "type": "boolean",
            "description": "启用或禁用 IMAP 存储"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "启用或禁用 OpenPGP 加密"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP 公钥（ASCII Armor 格式）"
          },
          "has_smime": {
            "type": "boolean",
            "description": "启用或禁用 S/MIME 加密"
          },
          "smime_certificate": {
            "type": "string",
            "description": "PEM 格式的 S/MIME X.509 证书"
          },
          "max_quota": {
            "type": "string",
            "description": "存储最大配额（例如，“1 GB”）"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "启用或禁用假期响应器"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "休假响应者开始日期（例如 YYYY-MM-DD）"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "休假回复结束日期（例如 YYYY-MM-DD）"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "度假回复者的纯文本主题"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "度假回复者的纯文本消息"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "您为别名设置的新自定义密码"
          },
          "password": {
            "type": "string",
            "description": "现有别名密码，无需删除邮箱存储即可更改。"
          },
          "is_override": {
            "type": "boolean",
            "description": "覆盖现有密码并删除 IMAP 存储（请谨慎使用）"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "用于发送别名密码和设置说明的电子邮件地址"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "当前已发送邮件数量"
          },
          "limit": {
            "type": "integer",
            "description": "允许的最大电子邮件数量"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "按别名保存的已保存搜索定义。",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "已保存搜索的显示名称"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "要重用的搜索查询字符串（例如，“from:billing”）"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "键盘快捷键对应的操作映射。",
        "additionalProperties": {
          "type": "string",
          "description": "操作快捷键（例如，“e”代表归档）"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "更新标签定义时允许使用的字段。",
        "properties": {
          "name": {
            "type": "string",
            "description": "用户界面中显示的易于理解的标签名称。"
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "用于 UI 渲染的十六进制颜色"
          },
          "hidden": {
            "type": "boolean",
            "description": "在保留关键字的同时，隐藏用户界面中的标签"
          },
          "source": {
            "type": "string",
            "description": "用于过滤和迁移的标签来源",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "会员编号"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "会员电子邮件地址"
          },
          "role": {
            "type": "string",
            "description": "成员角色"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "受邀电子邮件地址"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "要返回的结果页数。如果未指定，则默认值为 1。必须为大于或等于 1 的数字。",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "每页返回的结果数。如果未指定，则默认为 25。必须是大于等于 1 且小于等于 100 的数字。",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "在2024年11月1日之前选择启用分页功能",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "域名",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "别名 ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "会员编号",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "电子邮件 ID 或邮件 ID。您可以传递唯一的电子邮件 ID（例如，“683fbe4d5baef1b583a11e54”）或电子邮件的邮件 ID 标头值（例如，“1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net”）。",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "联系 ID",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "日历 ID",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "文件夹 ID 或路径",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "消息 ID",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "用作标签标识符的 IMAP 关键字",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "帐户"
        ],
        "summary": "找回账户",
        "description": "获取您的帐户信息。\n\n**身份验证：**此端点支持 API 令牌身份验证和别名凭据身份验证。\n\n- **用户帐户（API 令牌）：**使用 API 令牌进行身份验证后，此端点将返回您的用户帐户信息，包括套餐详情、电子邮件地址和 API 令牌。\n\n- **别名帐户（别名凭据）：**使用别名凭据（电子邮件地址和生成的密码）进行身份验证后，此端点将返回别名/邮箱信息，包括已用存储空间/配额以及一个嵌套的 `settings` 对象（邮件特殊文件夹、标签设置和别名默认值）。这对于 IMAP/POP3/CalDAV/CardDAV 客户端检查存储状态和首选项非常有用。",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "帐户"
        ],
        "summary": "更新帐户",
        "description": "更新您的帐户信息。\n\n- **用户帐户（API 令牌）：** 更新用户个人资料字段。\n\n- **别名帐户（别名凭据）：** 使用嵌套的 `settings` 对象更新别名范围的设置。为了兼容性，也接受旧版扁平字段。响应与 `GET /v1/account` 匹配。",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "别名设置（仅限别名身份验证）",
                    "properties": {
                      "mail": {
                        "type": "object",
                        "properties": {
                          "archive_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "别名邮件存档文件夹"
                          },
                          "sent_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "别名邮件已发送文件夹"
                          },
                          "drafts_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "别名邮件草稿文件夹"
                          }
                        }
                      },
                      "label_settings": {
                        "type": "object",
                        "description": "按关键字键的别名标签映射",
                        "additionalProperties": {
                          "$ref": "#/components/schemas/SettingsLabelUpdate"
                        }
                      },
                      "aliases": {
                        "type": "object",
                        "properties": {
                          "defaults": {
                            "type": "object",
                            "description": "自由格式别名默认值，例如 display_name 或 signature",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  },
                  "display_name": {
                    "type": "string",
                    "description": "显示名称"
                  },
                  "locale": {
                    "type": "string",
                    "description": "区域设置偏好"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "已更新电子邮件地址（仅供用户身份验证）"
                  },
                  "avatar_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "头像网址（仅供用户身份验证）"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "联系方式"
        ],
        "summary": "联系人列表",
        "description": "获取已验证别名下的所有联系人列表。此端点支持分页，并以 CardDAV 格式返回联系人。",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "联系方式"
        ],
        "summary": "创建联系人",
        "description": "创建新联系人。您可以直接提供 vCard 内容，也可以提供单个联系人字段，这些字段将被转换为 vCard 格式。如果已存在具有相同 ID 的联系人，系统将返回冲突错误。",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "联系方式"
        ],
        "summary": "找回联系人",
        "description": "通过联系人 ID 检索特定联系人。联系人将以标准联系人格式返回，包含 vCard 内容和已解析字段。",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "联系方式"
        ],
        "summary": "更新联系方式",
        "description": "更新现有联系人。您可以提供更新后的 vCard 内容，也可以单独更新各个字段。如果单独提供字段，系统将重新生成联系人的 vCard。",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "联系方式"
        ],
        "summary": "删除联系人",
        "description": "永久删除特定联系人。此操作无法撤销。",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "日历"
        ],
        "summary": "列出日历",
        "description": "获取已验证别名下的所有日历列表。此端点支持分页，并以 CalDAV 格式返回日历。",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "日历"
        ],
        "summary": "创建日历",
        "description": "创建一个新日历。日历名称为必填项，其他属性（例如颜色、时区和描述）为可选。如果已存在同名日历，则会返回冲突错误。",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "日历"
        ],
        "summary": "检索日历",
        "description": "通过 ID 获取特定日历。返回的日历包含其所有属性，包括名称、描述、颜色、时区和顺序。",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "日历"
        ],
        "summary": "更新日历",
        "description": "更新现有日历。您可以更新日历的任何属性，包括名称、描述、颜色、时区和顺序。如果将名称更改为已存在的名称，则会返回冲突错误。",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
[...]
