{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Welkom bij de uitgebreide API-documentatie voor Forward Email. Met deze API kunt u e-maildoorsturing, domeinen, aliassen, uitgaande e-mails en meer programmatisch beheren.\n\n## Belangrijkste functies\n* **Domeinbeheer:** Domeinen aanmaken, ophalen, bijwerken, verwijderen en verifiëren.\n* **Aliasbeheer:** E-mailaliassen beheren, inclusief aanmaken, bijwerken en ontvangersbeheer.\n* **Uitgaande SMTP:** E-mails verzenden via SMTP, limieten beheren en verzonden e-mails volgen.\n* **Account & Logs:** Uw accountgegevens beheren en activiteitenlogs downloaden.\n* **Beveiliging:** TXT-records versleutelen en domeinleden/uitnodigingen beheren.\n* **CardDAV-contacten:** Volledige CRUD-functies voor contactbeheer met vCard-ondersteuning.\n* **CalDAV-agenda's:** Volledig agendabeheer met tijdzone- en kleurondersteuning.\n* **IMAP/POP3-berichten:** Uitgebreid berichtenbeheer met geavanceerde zoekmogelijkheden.\n* **IMAP/POP3-mappen:** Volledig mappenbeheer, inclusief aanmaken, hernoemen en verwijderen.\n\n## Authenticatie\nDe meeste eindpunten vereisen authenticatie met uw **API-sleutel**. Geef de API-sleutel op als `gebruikersnaam` in de header van de basisauthenticatie en laat het wachtwoord leeg.\n\n```http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(Vervang `API_TOKEN` door uw daadwerkelijke sleutel vóór Base64-codering)\n\nEindpunten gerelateerd aan **Alias-contacten, agenda's, berichten en mappen** vereisen een gegenereerde alias-gebruikersnaam en -wachtwoord voor basisauthenticatie.\n\n## Fouten\nDe API gebruikt standaard HTTP-statuscodes om succes of mislukking aan te geven. Foutreacties bevatten een JSON-body met een `bericht`-veld waarin de fout wordt beschreven.\n\n| Statuscode | Betekenis |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Ongeldige aanvraag |\n| 401 | Ongeautoriseerd |\n| 403 | Verboden |\n| 404 | Niet gevonden |\n| 409 | Conflict |\n| 412 | Voorwaarde mislukt |\n| 429 | Te veel aanvragen |\n| 500 | Interne serverfout |\n| 501 | Niet geïmplementeerd |\n| 502 | Ongeldige gateway |\n| 503 | Service niet beschikbaar |\n| 504 | Gateway-time-out |\n\n*Als u een `5xx`-fout tegenkomt, neem dan contact op met [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalisatie\nAPI-reacties worden vertaald op basis van de gedetecteerde landinstellingen van de gebruiker of de header `Accept-Language`. Er worden meer dan 25 talen ondersteund.\n\n## Paginering\nEindpunten die lijsten retourneren, ondersteunen paginering via queryparameters.\n\n| Parameter | Type | Optioneel | Beschrijving | Standaard | Beperkingen |\n|-------------|---------|----------|-----------------------------------------------------------------------------|---------|---------------------|\n| `page` | Geheel getal | Ja | Op te halen paginanummer. | 1 | `>= 1` |\n| `limit` | Geheel getal | Ja | Aantal resultaten per pagina. | 25 | `>= 1`, `<= 100` |\n| `paginering` | Booleaans | Ja | Opt-in voor paginering (vereist vóór 1 november 2024 voor sommige eindpunten). | false | |\n\n**Paginatieheaders:**\n* `X-Page-Count`: Totaal aantal pagina's.\n* `X-Page-Current`: Huidig paginanummer.\n* `X-Page-Size`: Aantal items op de huidige pagina.\n* `X-Item-Count`: Totaal aantal items op alle pagina's.\n* `Link`: Navigatielinks (vorige, volgende, eerste, laatste).\n\n**Voorbeeld:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Aanbevolen bibliotheken\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Onderhouden door Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "API-server voor doorsturen van e-mail"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Gebruik uw API-sleutel als **gebruikersnaam** voor basisauthenticatie. Laat het wachtwoordveld leeg.\n\n**Voorbeeld:**\nAls uw API-sleutel `YOUR_API_KEY` is, is de Base64-gecodeerde waarde voor de header `Authorization` `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Gebruik de gegenereerde **alias-gebruikersnaam en het wachtwoord** voor basisverificatie. Dit geldt voor eindpunten onder:\n* Alias-contacten (CardDAV)\n* Alias-agenda's (CalDAV)\n* Alias-berichten (IMAP/POP3)\n* Alias-mappen (IMAP/POP3)\n* Alias-Sieve-scripts\n\n**Voorbeeld:**\nAls de alias-gebruikersnaam `alias@domain.com` is en het wachtwoord `GENERATED_PASSWORD`, dan is de Base64-gecodeerde waarde `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n``http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "SieveScript": {
        "type": "object",
        "required": [
          "id",
          "name",
          "content",
          "alias"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unieke script-identificatie"
          },
          "name": {
            "type": "string",
            "description": "Scriptnaam"
          },
          "content": {
            "type": "string",
            "description": "Zeefscriptinhoud"
          },
          "alias": {
            "type": "string",
            "description": "Alias-ID waartoe dit script behoort"
          },
          "is_active": {
            "type": "boolean",
            "description": "Of het script actief is",
            "default": false
          },
          "priority": {
            "type": "integer",
            "description": "Scriptprioriteit (lager = hogere prioriteit)",
            "default": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tijdstempel van creatie"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tijdstempel laatste update"
          },
          "object": {
            "type": "string",
            "example": "sieve_script"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Foutmelding"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "De door de gebruiker ingestelde voorkeurstaal die de automatische detectie overschrijft."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Alias-ID"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Objecttype"
          },
          "name": {
            "type": "string",
            "description": "Aliasnaam (lokaal deel van e-mail)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Volledig alias-e-mailadres"
          },
          "domain_id": {
            "type": "string",
            "description": "Domein-ID"
          },
          "domain_name": {
            "type": "string",
            "description": "Domeinnaam"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Opslag gebruikt in bytes voor deze alias/mailbox"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Opslagquotum in bytes voor deze alias/mailbox"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Of IMAP is ingeschakeld voor deze alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Of PGP-encryptie is ingeschakeld"
          },
          "public_key": {
            "type": "string",
            "description": "PGP-openbare sleutel indien beschikbaar"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Of S/MIME-versleuteling is ingeschakeld"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509-certificaat in PEM-formaat"
          },
          "locale": {
            "type": "string",
            "description": "Lokale voorkeur"
          },
          "settings": {
            "type": "object",
            "description": "Alias-instellingen",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias-map voor e-mailarchief"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Map met verzonden e-mails (alias)"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Map met concepten voor e-mails met alias"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "Alias-labelkaart op basis van trefwoord",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "Vrije-vorm alias-standaardwaarden zoals display_name of signature.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tijdstempel van creatie"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tijdstempel laatste update"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Contact-ID (contact_id van CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "Contact-UID"
          },
          "full_name": {
            "type": "string",
            "description": "Volledige naam van de contactpersoon"
          },
          "content": {
            "type": "string",
            "description": "vCard-inhoud"
          },
          "etag": {
            "type": "string",
            "description": "ETag voor versiebeheer"
          },
          "is_group": {
            "type": "boolean",
            "description": "Of contact een groep is"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array van e-mailadressen"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array van telefoonnummers"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-inhoud (indien niet opgegeven, wordt gegenereerd vanuit andere velden)"
          },
          "full_name": {
            "type": "string",
            "description": "Volledige naam van de contactpersoon"
          },
          "contact_id": {
            "type": "string",
            "description": "Aangepaste contact-ID (indien niet opgegeven, wordt automatisch gegenereerd)"
          },
          "uid": {
            "type": "string",
            "description": "Contact-UID (indien niet opgegeven, wordt automatisch gegenereerd)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array van e-mailadressen"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array van telefoonnummers"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array van telefoonnummers (alias voor phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Array van adressen"
          },
          "is_group": {
            "type": "boolean",
            "description": "Of contact een groep is"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-inhoud"
          },
          "full_name": {
            "type": "string",
            "description": "Volledige naam van de contactpersoon"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array van e-mailadressen"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array van telefoonnummers"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array van telefoonnummers (alias voor phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Array van adressen"
          },
          "is_group": {
            "type": "boolean",
            "description": "Of contact een groep is"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Agenda-ID (calendarId van CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Kalendernaam"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeschrijving"
          },
          "color": {
            "type": "string",
            "description": "Kalenderkleur (hex-formaat)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalendertijdzone"
          },
          "order": {
            "type": "integer",
            "description": "Weergavevolgorde van de kalender"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendernaam"
          },
          "calendar_id": {
            "type": "string",
            "description": "Aangepaste kalender-ID (indien niet opgegeven, wordt deze automatisch gegenereerd)"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeschrijving"
          },
          "color": {
            "type": "string",
            "description": "Kalenderkleur (hex-formaat, indien niet opgegeven, wordt automatisch gegenereerd)"
          },
          "timezone": {
            "type": "string",
            "description": "Tijdzone van de kalender (standaard de tijdzone van de gebruiker of UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Weergavevolgorde van de kalender (standaard 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendernaam"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeschrijving"
          },
          "color": {
            "type": "string",
            "description": "Kalenderkleur (hex-formaat)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalendertijdzone"
          },
          "order": {
            "type": "integer",
            "description": "Weergavevolgorde van de kalender"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalendergebeurtenis-ID (eventId van CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID van de kalender waartoe deze gebeurtenis behoort"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar (RFC 5545) gegevens voor het evenement"
          },
          "summary": {
            "type": "string",
            "description": "Titel/samenvatting van het evenement (geëxtraheerd uit iCal-gegevens)"
          },
          "description": {
            "type": "string",
            "description": "Beschrijving van het evenement (geëxtraheerd uit iCal-gegevens)"
          },
          "location": {
            "type": "string",
            "description": "Locatie van het evenement (geëxtraheerd uit iCal-gegevens)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Begindatum/tijd van het evenement (geëxtraheerd uit iCal-gegevens)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Einddatum/-tijd van het evenement (geëxtraheerd uit iCal-gegevens)"
          },
          "uid": {
            "type": "string",
            "description": "Unieke identificatie van iCal-gegevens"
          },
          "status": {
            "type": "string",
            "description": "Gebeurtenisstatus (geëxtraheerd uit iCal-gegevens)"
          },
          "organizer": {
            "type": "string",
            "description": "Evenementorganisator (geëxtraheerd uit iCal-gegevens)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Tijdstempel voor zachte verwijdering"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ID van de kalender waaraan de gebeurtenis moet worden toegevoegd"
          },
          "event_id": {
            "type": "string",
            "description": "Aangepaste gebeurtenis-ID (indien niet opgegeven, wordt automatisch gegenereerd)"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar (RFC 5545)-gegevens voor het evenement. Moeten geldig iCal-formaat hebben."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Gebeurtenis verplaatsen naar een andere agenda"
          },
          "ical": {
            "type": "string",
            "description": "Bijgewerkte iCalendar (RFC 5545) gegevens voor het evenement"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Map-ID"
          },
          "path": {
            "type": "string",
            "description": "Volledig mappad"
          },
          "name": {
            "type": "string",
            "description": "Mapnaam (laatste deel van het pad)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Pad van bovenliggende map"
          },
          "uid_validity": {
            "type": "integer",
            "description": "IMAP UID-geldigheid"
          },
          "uid_next": {
            "type": "integer",
            "description": "Volgende UID-waarde"
          },
          "modify_index": {
            "type": "integer",
            "description": "Wijzigingsindex"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Of de map geabonneerd is"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Mapvlaggen"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Bewaartermijn van berichten"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Speciale gebruiksaanduiding"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Pad/naam van map"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Nieuw mappad/naam"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_encrypted",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Bericht-ID"
          },
          "root_id": {
            "type": "string",
            "description": "Root-bericht-ID voor threading"
          },
          "folder_id": {
            "type": "string",
            "description": "Map-ID die het bericht bevat"
          },
          "folder_path": {
            "type": "string",
            "description": "Mappad met het bericht"
          },
          "thread_id": {
            "type": "string",
            "description": "Thread-ID voor conversatiegroepering"
          },
          "header_message_id": {
            "type": "string",
            "description": "Bericht-ID-headerwaarde"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Of het bericht ongelezen is"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Of het bericht gemarkeerd is"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Of het bericht is verwijderd"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Of het bericht een concept is"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Of het bericht ongewenst/spam is"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Of het bericht gekopieerd is"
          },
          "is_encrypted": {
            "type": "boolean",
            "description": "Of het bericht versleuteld is (PGP/MIME of S/MIME)"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Of het bericht doorzoekbaar is"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Of het bericht verlopen is"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Of het bericht bijlagen heeft"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Bewaartermijn van berichten"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Interne datum (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Datum uit berichtkoppen"
          },
          "subject": {
            "type": "string",
            "description": "Onderwerp van het bericht"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-vlaggen"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Door de gebruiker gedefinieerde labels (kleine letters, maximaal 10)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "Berichtgrootte in bytes"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP-UID"
          },
          "modseq": {
            "type": "integer",
            "description": "Wijzigingsvolgorde"
          },
          "transaction": {
            "type": "string",
            "description": "Transactietype"
          },
          "remote_address": {
            "type": "string",
            "description": "Extern IP-adres"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tijdstempel voor het maken van een bericht"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tijdstempel van laatste update van bericht"
          },
          "nodemailer": {
            "type": "object",
            "description": "Geparseerd berichtobject (standaard inbegrepen, stel ?nodemailer=false in om uit te sluiten)"
          },
          "raw": {
            "type": "string",
            "description": "Onbewerkte berichtinhoud (standaard inbegrepen, stel ?raw=false in om uit te sluiten)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_encrypted": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "E-mailadres van de afzender"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-mailadressen van ontvangers"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-mailadressen van CC-ontvangers"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-mailadressen van BCC-ontvangers"
          },
          "subject": {
            "type": "string",
            "description": "Onderwerp van het bericht"
          },
          "text": {
            "type": "string",
            "description": "Inhoud in platte tekst"
          },
          "html": {
            "type": "string",
            "description": "HTML-inhoud"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Berichtbijlagen (Nodemailer-indeling)"
          },
          "folder": {
            "type": "string",
            "description": "Doelmap (standaard INBOX)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "IMAP-vlaggen die op het bericht moeten worden ingesteld"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Door de gebruiker gedefinieerde labels die aan het bericht moeten worden toegevoegd. Dit kan een enkele labeltekenreeks zijn of een array van labels. Labels moeten beginnen met een letter, cijfer, backslash of dollarteken en mogen woordtekens, punten en koppeltekens bevatten. Maximaal 10 labels per bericht. Labels zijn niet hoofdlettergevoelig en worden in kleine letters opgeslagen.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-vlaggen die op het bericht moeten worden ingesteld"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Door de gebruiker gedefinieerde labels die aan het bericht moeten worden toegevoegd. Dit kan een enkele labeltekenreeks zijn of een array van labels. Labels moeten beginnen met een letter, cijfer, backslash of dollarteken en mogen woordtekens, punten en koppeltekens bevatten. Maximaal 10 labels per bericht. Labels zijn niet hoofdlettergevoelig en worden in kleine letters opgeslagen.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "Bericht naar deze map verplaatsen"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "De huidige status van de e-mail. De planning wordt bepaald door het veld `date`.",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "De datum in de e-mailheader. Indien ingesteld op een toekomstig tijdstip (meer dan 1 minuut in de toekomst), wordt de e-mail tot dat tijdstip bewaard. Maximaal 30 dagen in de toekomst vanaf de aanmaakdatum."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Geeft aan of TLS vereist is voor de gehele leveringsketen (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Het e-mailadres van de afzender (moet bestaan als alias van het domein)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Door komma's gescheiden lijst of een matrix met ontvangers voor de 'Aan'-header."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Door komma's gescheiden lijst of een matrix met ontvangers voor de 'Cc'-header."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Door komma's gescheiden lijst of een matrix met ontvangers voor de 'Bcc'-header."
          },
          "subject": {
            "type": "string",
            "description": "Het onderwerp van de e-mail."
          },
          "text": {
            "type": "string",
            "description": "De plattetekstversie van het bericht."
          },
          "html": {
            "type": "string",
            "description": "De HTML-versie van het bericht."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Een reeks bijlageobjecten (zie Algemene velden van Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Het e-mailadres voor de header 'Afzender'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Het e-mailadres voor de 'Reply-To'-header."
          },
          "inReplyTo": {
            "type": "string",
            "description": "De bericht-ID waarop het bericht een antwoord is."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Door spaties gescheiden lijst of een array van bericht-ID's."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Als dit waar is, worden gegevens omgezet: afbeeldingen in de HTML-inhoud naar ingesloten bijlagen."
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch-specifieke HTML-versie van het bericht."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL-specifieke HTML-versie van het bericht."
          },
          "icalEvent": {
            "type": "object",
            "description": "Een iCalendar-gebeurtenis als alternatieve berichtinhoud."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Een reeks alternatieve berichtinhoud."
          },
          "encoding": {
            "type": "string",
            "description": "Codering voor de tekst en HTML-strings (bijv. 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Op maat gegenereerd RFC822-geformatteerd bericht (in plaats van Nodemailer-generatie)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Codering moet verplicht worden gebruikt voor tekstwaarden."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Prioriteitsniveau voor de e-mail."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Object of array met extra headervelden."
          },
          "messageId": {
            "type": "string",
            "description": "Optionele Message-ID voor de 'Message-ID'-header."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Optionele datumheader. Indien ingesteld op een toekomstig tijdstip (meer dan 1 minuut in de toekomst), wordt de e-mail tot dat tijdstip bewaard. De datum mag niet meer dan 30 dagen in de toekomst liggen vanaf de aanmaakdatum.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "Optioneel object van List-* headers."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Indien waar, vereist dit TLS voor de gehele leveringsketen (RFC 8689). Het bericht wordt dan alleen verzonden via TLS-versleutelde verbindingen."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "has_custom_s3": {
            "type": "boolean",
            "description": "Of dit domein gebruikmaakt van aangepaste S3-compatibele opslag voor back-ups."
          },
          "s3_endpoint": {
            "type": "string",
            "description": "Aangepaste S3-compatibele eindpunt-URL (bijv. https://s3.us-east-1.amazonaws.com, https://<accountid>.r2.cloudflarestorage.com)"
          },
          "s3_region": {
            "type": "string",
            "description": "S3-regio (bijv. us-east-1, auto). Standaardwaarde is auto als deze niet is opgegeven."
          },
          "s3_bucket": {
            "type": "string",
            "description": "De naam van de S3-bucket voor het opslaan van back-ups. De bucket moet al bestaan."
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "Indien ingeschakeld, worden inkomende e-mails die niet via TLS zijn verzonden, geweigerd."
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Volledig gekwalificeerde domeinnaam (FQDN) of IP-adres"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Toewijzen aan hetzelfde team vanuit een ander domein; kan een domein-ID of FQDN zijn. Gebruik \"geen\" om expliciet uit te schakelen."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Plantype (standaard 'gratis' of het huidige betaalde abonnement van de gebruiker)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Gescheiden lijst met e-mailadressen (gescheiden door komma's, spaties of nieuwe regels)"
              }
            ],
            "description": "Maak een standaard catch-all alias (standaard ingesteld op true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Spam Scanner-bescherming voor inhoud voor volwassenen inschakelen"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Spam Scanner phishing-beveiliging inschakelen"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Spam Scanner-uitvoerbare bescherming inschakelen"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Spam Scanner-virusbeveiliging inschakelen"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vereist dat aliasontvangers op de e-mailverificatielink klikken"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Negeer MX-recordcontrole voor geavanceerde e-mailrouteringsinstellingen"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Geef toestemming om headers en metadata (exclusief berichtinhoud) op te slaan voor succesvol doorgestuurde, via webhooks verzonden, uitgaande SMTP- en IMAP-bezorgde e-mails. De logs worden 7 dagen bewaard. Deze functie helpt u bij het bewaken en oplossen van problemen met de prestaties van e-mailbezorging, met gedetailleerde inzichten in succesvolle verzendingen."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Aantal dagen dat uitgaande SMTP-logs bewaard moeten blijven (0–30, standaard: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhook-URL om bounce-gebeurtenissen te ontvangen"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Bounce-webhook uitschakelen"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Maximale opslagquotum per alias (bijv. '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Aangepaste poort om te configureren voor SMTP-doorsturen (standaard is '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Of de bescherming tegen inhoud voor volwassenen van Spam Scanner op dit domein moet worden ingeschakeld"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Of de phishingbeveiliging van Spam Scanner op dit domein moet worden ingeschakeld"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Of de uitvoerbare bescherming van Spam Scanner op dit domein moet worden ingeschakeld"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Of de Spam Scanner-virusbeveiliging op dit domein moet worden ingeschakeld"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Standaardinstelling voor globaal domein voor de vraag of aliasontvangers op een e-mailverificatielink moeten klikken om e-mails door te laten stromen"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Of de MX-recordcontrole op het domein voor verificatie moet worden genegeerd (vooral bij geavanceerde MX-routeringsinstellingen)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Geef toestemming om headers en metadata (exclusief berichtinhoud) op te slaan voor succesvol doorgestuurde, via webhooks verzonden, uitgaande SMTP- en IMAP-bezorgde e-mails. De logs worden 7 dagen bewaard. Deze functie helpt u bij het bewaken en oplossen van problemen met de prestaties van e-mailbezorging, met gedetailleerde inzichten in succesvolle verzendingen."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Aantal dagen om uitgaande SMTP-e-mails op te slaan (0 = direct verwijderen)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhook-URL om bouncemeldingen te ontvangen, of false om uit te schakelen"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Opslagquotum per alias (bijv. '1 GB', geparseerd in bytes)"
          },
          "has_custom_s3": {
            "type": "boolean",
            "description": "Of aangepaste S3-compatibele opslag voor IMAP/SQLite-backups op dit domein moet worden ingeschakeld."
          },
          "s3_endpoint": {
            "type": "string",
            "format": "uri",
            "description": "Aangepaste S3-compatibele eindpunt-URL (bijv. https://s3.us-east-1.amazonaws.com)"
          },
          "s3_access_key_id": {
            "type": "string",
            "description": "S3-toegangssleutel-ID. Versleuteld in rust. Laat dit veld leeg bij het bijwerken om de bestaande waarde te behouden."
          },
          "s3_secret_access_key": {
            "type": "string",
            "description": "S3 geheime toegangssleutel. Versleuteld wanneer niet in gebruik. Laat dit veld leeg bij het bijwerken om de bestaande waarde te behouden."
          },
          "s3_region": {
            "type": "string",
            "description": "S3-regio (bijv. us-east-1, auto). Standaard ingesteld op auto."
          },
          "s3_bucket": {
            "type": "string",
            "description": "De naam van de S3-bucket voor het opslaan van back-ups. De bucket moet al bestaan en mag niet openbaar toegankelijk zijn."
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lijst met toegestane afzenders (IP-adressen, volledig gekwalificeerde domeinnamen, e-mailadressen of wildcard-TLD's). Indien ingesteld, wordt alleen e-mail van deze afzenders geaccepteerd. Vervangt de bestaande lijst."
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lijst met geblokkeerde afzenders (IP-adressen, volledig gekwalificeerde domeinnamen, e-mailadressen of wildcard-TLD's). E-mail van deze afzenders wordt geweigerd. Vervangt de bestaande lijst."
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnaam (indien niet opgegeven of leeg, wordt een willekeurige alias gegenereerd)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Door regelafbrekingen/spaties/komma's gescheiden reeksen van geldige e-mailadressen, FQDN's, IP's of webhook-URL's"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Array van geldige ontvangers"
              }
            ],
            "description": "Lijst met ontvangers. Indien niet opgegeven of leeg, wordt standaard het e-mailadres van de aanvrager gebruikt."
          },
          "description": {
            "type": "string",
            "description": "Aliasbeschrijving"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Door regelafbrekingen/spaties/komma's gescheiden reeks labels"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array van labels"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vereisen dat ontvangers op de verificatielink klikken (standaardinstelling domein)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Of deze alias moet worden in- of uitgeschakeld"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Foutcode als alias is uitgeschakeld. Standaardwaarde is 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-opslag voor deze alias in- of uitschakelen"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP-codering voor deze alias in- of uitschakelen"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP openbare sleutel in ASCII Armor-formaat"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Schakel S/MIME-versleuteling voor dit alias in of uit."
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509-certificaat in PEM-formaat"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximale opslagquotum (bijv. '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Vakantiebeantwoorder in- of uitschakelen"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdatum (bijv. 'JJJJ-MM-DD') voor vakantierespondent"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Einddatum (bijv. 'JJJJ-MM-DD') voor vakantiebeantwoorder"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Onderwerp in platte tekst voor vakantiebeantwoorder"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Plattetekstbericht voor vakantiebeantwoorder"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnaam"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Door regelafbrekingen/spaties/komma's gescheiden reeksen van geldige e-mailadressen, FQDN's, IP's of webhook-URL's"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Een array met geldige ontvangers. Geef een lege array door om alle doorstuurontvangers te verwijderen (bijv. voor IMAP-only aliassen)."
              }
            ],
            "description": "Indien weggelaten, blijven bestaande ontvangers behouden. Geef een lege array door om alle doorstuurontvangers te wissen."
          },
          "description": {
            "type": "string",
            "description": "Aliasbeschrijving"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Door regelafbrekingen/spaties/komma's gescheiden reeks labels"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array van labels"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vereisen dat ontvangers op de verificatielink klikken (standaardinstelling domein)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Alias in- of uitschakelen"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Foutcode die moet worden gebruikt als de alias is uitgeschakeld (standaard 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-opslag in- of uitschakelen"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP-codering in- of uitschakelen"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP openbare sleutel in ASCII Armor-formaat"
          },
          "has_smime": {
            "type": "boolean",
            "description": "S/MIME-versleuteling in- of uitschakelen"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509-certificaat in PEM-formaat"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximale opslagquotum (bijv. '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Vakantiebeantwoorder in- of uitschakelen"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Begindatum vakantiewerker (bijv. JJJJ-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Einddatum vakantieresponder (bijv. JJJJ-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Onderwerp van de vakantiebeantwoorder in platte tekst"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Tekstbericht van de vakantiebeantwoorder"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Uw nieuwe aangepaste wachtwoord voor de alias. Aangepaste mailboxwachtwoorden mogen maximaal 128 tekens bevatten, mogen niet beginnen of eindigen met een spatie en mogen geen aanhalingstekens of apostrofs bevatten."
          },
          "password": {
            "type": "string",
            "description": "Bestaand wachtwoord voor alias om het te wijzigen zonder de mailboxopslag te verwijderen"
          },
          "is_override": {
            "type": "boolean",
            "description": "Bestaand wachtwoord overschrijven en IMAP-opslag verwijderen (voorzichtig gebruiken)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-mailadres om aliaswachtwoord en installatie-instructies te verzenden"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Huidig aantal verzonden e-mails"
          },
          "limit": {
            "type": "integer",
            "description": "Maximaal aantal toegestane e-mails"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "Opgeslagen zoekdefinitie per alias.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Weergavenaam voor de opgeslagen zoekopdracht"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Zoekopdrachtreeks om opnieuw te gebruiken (bijv. \"from:billing\")"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "Overzicht van acties en bijbehorende toetsencombinaties voor sneltoetsen.",
        "additionalProperties": {
          "type": "string",
          "description": "Toetscombinatie voor de actie (bijv. \"e\" voor archiveren)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "Toegestane velden bij het bijwerken van een labeldefinitie.",
        "properties": {
          "name": {
            "type": "string",
            "description": "De labelnaam wordt in de gebruikersinterface weergegeven en is leesbaar voor mensen."
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "Hexadecimale kleur gebruikt voor UI-rendering"
          },
          "hidden": {
            "type": "boolean",
            "description": "Verberg het label in de gebruikersinterface, maar behoud het trefwoord."
          },
          "source": {
            "type": "string",
            "description": "Label oorsprong voor filtering en migraties",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Lidmaatschaps-ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "E-mailadres van het lid"
          },
          "role": {
            "type": "string",
            "description": "Rol van het lid"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Uitgenodigd e-mailadres"
          }
        }
      },
      "WebSocketEvent": {
        "type": "object",
        "required": [
          "event"
        ],
        "properties": {
          "event": {
            "type": "string",
            "description": "Het type gebeurtenis",
            "enum": [
              "connected",
              "newMessage",
              "newRelease"
            ]
          },
          "aliasId": {
            "type": "string",
            "description": "De alias-ID (aanwezig in het gekoppelde evenement)"
          },
          "mailbox": {
            "type": "string",
            "description": "Het pad naar de mailbox (aanwezig in de newMessage-gebeurtenis)",
            "example": "INBOX"
          },
          "uid": {
            "type": "integer",
            "description": "De UID van het bericht (aanwezig in de newMessage-gebeurtenis)",
            "example": 123
          },
          "release": {
            "type": "object",
            "description": "Het release-object (aanwezig in de newRelease-gebeurtenis)",
            "properties": {
              "tagName": {
                "type": "string",
                "description": "Git-tagnaam van de release"
              },
              "name": {
                "type": "string",
                "description": "Releasetitel"
              },
              "htmlUrl": {
                "type": "string",
                "description": "URL naar de releasepagina op GitHub"
              }
            }
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "De pagina met de te retourneren resultaten. Indien niet gespecificeerd, is de waarde 1. Moet een getal groter dan of gelijk aan 1 zijn.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Aantal resultaten per pagina. Standaardwaarde is 25 indien niet gespecificeerd. Moet een getal zijn groter dan of gelijk aan 1 en kleiner dan of gelijk aan 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Geef u vóór 1 november 2024 op voor paginering",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Domein-ID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias-ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Lidmaatschaps-ID",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "E-mailadres of bericht-ID. U kunt ofwel het unieke e-mailadres (bijv. '683fbe4d5baef1b583a11e54') of de waarde van de bericht-ID-header van de e-mail doorgeven (bijv. '1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net').",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Contact-ID",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kalender-ID",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Map-ID of pad",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Bericht-ID",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "IMAP-trefwoord gebruikt als label-identificatie",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Rekening"
        ],
        "summary": "Account ophalen",
        "description": "Uw accountgegevens ophalen.\n\n**Authenticatie:** Dit eindpunt ondersteunt zowel authenticatie met API-tokens als authenticatie met aliasgegevens.\n\n- **Gebruikersaccount (API-token):** Wanneer u bent geauthenticeerd met uw API-token, retourneert dit eindpunt uw gebruikersaccountgegevens, inclusief abonnementsdetails, e-mailadres en API-token.\n\n- **Aliasaccount (aliasgegevens):** Wanneer u bent geauthenticeerd met aliasgegevens (e-mailadres en gegenereerd wachtwoord), retourneert dit eindpunt alias-/mailboxinformatie, inclusief gebruikt opslag/quotum en een genest `settings`-object (speciale e-mailmappen, labelinstellingen en standaard aliasinstellingen). Dit is handig voor IMAP/POP3/CalDAV/CardDAV-clients om de opslagstatus en voorkeuren te controleren.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Rekening"
        ],
        "summary": "Account bijwerken",
[...]
