{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />مرحبًا بك في توثيق واجهة برمجة التطبيقات (API) الشاملة لإعادة توجيه البريد الإلكتروني. تتيح لك هذه الواجهة إدارة إعادة توجيه البريد الإلكتروني، والنطاقات، والأسماء المستعارة، ورسائل البريد الإلكتروني الصادرة، والمزيد برمجيًا.\n\n## الميزات الرئيسية\n* **إدارة النطاقات:** إنشاء النطاقات، واسترجاعها، وتحديثها، وحذفها، والتحقق منها.\n* **إدارة الأسماء المستعارة:** إدارة أسماء البريد الإلكتروني المستعارة، بما في ذلك الإنشاء، والتحديثات، وإدارة المستلمين.\n* **بروتوكول SMTP الصادر:** إرسال رسائل البريد الإلكتروني عبر SMTP، وإدارة الحدود، وتتبع رسائل البريد الإلكتروني المرسلة.\n* **الحساب والسجلات:** إدارة تفاصيل حسابك وتنزيل سجلات النشاط.\n* **الأمان:** تشفير سجلات TXT وإدارة أعضاء/دعوات النطاق.\n* **جهات اتصال CardDAV:** عمليات CRUD كاملة لإدارة جهات الاتصال مع دعم vCard.\n* **تقويمات CalDAV:** إدارة تقويم كاملة مع دعم المنطقة الزمنية والألوان.\n* **رسائل IMAP/POP3:** إدارة شاملة للرسائل مع إمكانيات بحث متقدمة.\n* **مجلدات IMAP/POP3:** إدارة كاملة للمجلدات، بما في ذلك الإنشاء وإعادة التسمية والحذف.\n\n## المصادقة\nتتطلب معظم نقاط النهاية المصادقة باستخدام **مفتاح واجهة برمجة التطبيقات** الخاص بك. أدخل مفتاح واجهة برمجة التطبيقات كـ \"اسم المستخدم\" في ترويسة المصادقة الأساسية، مع ترك كلمة المرور فارغة.\n\n```http\nالتفويض: أساسي QVBJX1RPS0VOOg==\n```\n(استبدل `API_TOKEN` بمفتاحك الفعلي قبل ترميز Base64)\n\nتتطلب نقاط النهاية المتعلقة بـ **جهات الاتصال البديلة، والتقويمات، والرسائل، والمجلدات** اسم مستخدم وكلمة مرور بديلين مُولّدين للمصادقة الأساسية.\n\n## الأخطاء\nتستخدم واجهة برمجة التطبيقات رموز حالة HTTP القياسية للإشارة إلى النجاح أو الفشل. تتضمن استجابات الأخطاء نص JSON مع حقل \"رسالة\" يُفصّل الخطأ.\n\n| رمز الحالة | المعنى |\n|-------------|---------------------|\n| 200 | موافق |\n| 400 | طلب خاطئ |\n| 401 | غير مُصرّح به |\n| 403 | ممنوع |\n| 404 | غير موجود |\n| 409 | تعارض |\n| 412 | فشل الشرط المسبق |\n| 429 | طلبات كثيرة جدًا |\n| 500 | خطأ داخلي في الخادم |\n| 501 | غير مُنفّذ |\n| 502 | بوابة خاطئة |\n| 503 | الخدمة غير متاحة |\n| 504 | انتهاء مهلة البوابة |\n\n*إذا واجهتَ خطأ `5xx`، يُرجى التواصل مع [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## الترجمة\nتُترجم استجابات واجهة برمجة التطبيقات بناءً على الإعدادات المحلية التي اكتشفها المستخدم أو ترويسة `Accept-Language`. يدعم البرنامج أكثر من 25 لغة.\n\n## ترقيم الصفحات\nتدعم نقاط النهاية التي تُرجع القوائم ترقيم الصفحات عبر معلمات الاستعلام.\n\n| المعلمة | النوع | اختياري | الوصف | افتراضي | القيود |\n|-------------|----------|-----------|----------------------------------------------------------------------------|----------|------------------------|\n| `page` | عدد صحيح | نعم | رقم الصفحة المطلوب استرجاعها. | 1 | `>= 1` |\n| `limit` | عدد صحيح | نعم | عدد النتائج في الصفحة. | ٢٥ | `>= ١`، `<= ١٠٠` |\n| `ترقيم الصفحات` | منطقي | نعم | الاشتراك في سلوك ترقيم الصفحات (مطلوب قبل ١ نوفمبر ٢٠٢٤ لبعض نقاط النهاية). | خطأ | |\n\n**رؤوس ترقيم الصفحات:**\n* `X-Page-Count`: إجمالي عدد الصفحات.\n* `X-Page-Current`: رقم الصفحة الحالية.\n* `X-Page-Size`: عدد العناصر في الصفحة الحالية.\n* `X-Item-Count`: إجمالي عدد العناصر في جميع الصفحات.\n* `X-Link`: روابط التنقل (السابق، التالي، الأول، الأخير).\n\n**مثال:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## المكتبات الموصى بها\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (يُدار بواسطة إعادة توجيه البريد الإلكتروني)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "خادم API لإعادة توجيه البريد الإلكتروني"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "استخدم مفتاح واجهة برمجة التطبيقات (API) كاسم مستخدم للمصادقة الأساسية. اترك حقل كلمة المرور فارغًا.\n\nمثال:\nإذا كان مفتاح واجهة برمجة التطبيقات (API) الخاص بك هو `YOUR_API_KEY`، فإن قيمة Base64 المُرمَّزة لرأس `Authorization` ستكون `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "استخدم **اسم المستخدم وكلمة المرور المستعارين** المُولَّدين للمصادقة الأساسية. ينطبق هذا على نقاط النهاية ضمن:\n* جهات اتصال المستعارة (CardDAV)\n* التقويمات المستعارة (CalDAV)\n* الرسائل المستعارة (IMAP/POP3)\n* المجلدات المستعارة (IMAP/POP3)\n\n**مثال:**\nإذا كان اسم المستخدم المستعار هو `alias@domain.com` وكلمة المرور هي `GENERATED_PASSWORD`، فإن قيمة Base64 المُرمَّزة ستكون `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nالتفويض: أساسي YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "رسالة الخطأ"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "إعداد اللغة المفضل للمستخدم الذي يتجاوز الكشف التلقائي"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف الاسم المستعار"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "نوع الكائن"
          },
          "name": {
            "type": "string",
            "description": "الاسم المستعار (الجزء المحلي من البريد الإلكتروني)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "عنوان البريد الإلكتروني الكامل"
          },
          "domain_id": {
            "type": "string",
            "description": "معرف المجال"
          },
          "domain_name": {
            "type": "string",
            "description": "اسم النطاق"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "مساحة التخزين المستخدمة بالبايت لهذا الاسم المستعار/صندوق البريد"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "حصة التخزين بالبايت لهذا الاسم المستعار/صندوق البريد"
          },
          "has_imap": {
            "type": "boolean",
            "description": "ما إذا كان IMAP ممكّنًا لهذا الاسم المستعار"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "ما إذا كان تشفير PGP ممكّنًا"
          },
          "public_key": {
            "type": "string",
            "description": "مفتاح PGP العام إذا كان متاحًا"
          },
          "has_smime": {
            "type": "boolean",
            "description": "ما إذا كان تشفير S/MIME مفعلاً"
          },
          "smime_certificate": {
            "type": "string",
            "description": "شهادة S/MIME X.509 بصيغة PEM"
          },
          "locale": {
            "type": "string",
            "description": "تفضيلات الموقع"
          },
          "settings": {
            "type": "object",
            "description": "إعدادات الاسم المستعار",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "مجلد أرشيف البريد الإلكتروني البديل"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "مجلد البريد الإلكتروني المُرسل"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "مجلد مسودات البريد الإلكتروني المستعار"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "خريطة تسميات الأسماء المستعارة المفهرسة بالكلمات المفتاحية",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "أسماء مستعارة افتراضية حرة مثل display_name أو signature.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "طابع زمني للإنشاء"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "طابع زمني للتحديث الأخير"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف جهة الاتصال (contact_id من CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "معرف جهة الاتصال"
          },
          "full_name": {
            "type": "string",
            "description": "الاسم الكامل للجهة الاتصال"
          },
          "content": {
            "type": "string",
            "description": "محتوى بطاقة vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag لإصدارات"
          },
          "is_group": {
            "type": "boolean",
            "description": "سواء كانت جهة الاتصال مجموعة"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "مجموعة من عناوين البريد الإلكتروني"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "مجموعة من أرقام الهواتف"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "محتوى vCard (إذا لم يتم توفيره، فسيتم إنشاؤه من حقول أخرى)"
          },
          "full_name": {
            "type": "string",
            "description": "الاسم الكامل للجهة الاتصال"
          },
          "contact_id": {
            "type": "string",
            "description": "معرف جهة الاتصال المخصص (إذا لم يتم توفيره، فسيتم إنشاؤه تلقائيًا)"
          },
          "uid": {
            "type": "string",
            "description": "معرف جهة الاتصال الفريد (إذا لم يتم توفيره، فسيتم إنشاؤه تلقائيًا)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "مجموعة من عناوين البريد الإلكتروني"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "مجموعة من أرقام الهواتف"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "مجموعة من أرقام الهواتف (اسم مستعار لـ phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "مجموعة من العناوين"
          },
          "is_group": {
            "type": "boolean",
            "description": "سواء كانت جهة الاتصال مجموعة"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "محتوى بطاقة vCard"
          },
          "full_name": {
            "type": "string",
            "description": "الاسم الكامل للجهة الاتصال"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "مجموعة من عناوين البريد الإلكتروني"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "مجموعة من أرقام الهواتف"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "مجموعة من أرقام الهواتف (اسم مستعار لـ phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "مجموعة من العناوين"
          },
          "is_group": {
            "type": "boolean",
            "description": "سواء كانت جهة الاتصال مجموعة"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف التقويم (معرف التقويم من CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "اسم التقويم"
          },
          "description": {
            "type": "string",
            "description": "وصف التقويم"
          },
          "color": {
            "type": "string",
            "description": "لون التقويم (تنسيق سداسي عشري)"
          },
          "timezone": {
            "type": "string",
            "description": "المنطقة الزمنية للتقويم"
          },
          "order": {
            "type": "integer",
            "description": "ترتيب عرض التقويم"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "اسم التقويم"
          },
          "calendar_id": {
            "type": "string",
            "description": "معرف التقويم المخصص (إذا لم يتم توفيره، فسيتم إنشاؤه تلقائيًا)"
          },
          "description": {
            "type": "string",
            "description": "وصف التقويم"
          },
          "color": {
            "type": "string",
            "description": "لون التقويم (تنسيق سداسي عشري، إذا لم يتم توفيره، فسيتم إنشاؤه تلقائيًا)"
          },
          "timezone": {
            "type": "string",
            "description": "المنطقة الزمنية للتقويم (الافتراضي هو المنطقة الزمنية للمستخدم أو UTC)"
          },
          "order": {
            "type": "integer",
            "description": "ترتيب عرض التقويم (الافتراضي هو 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "اسم التقويم"
          },
          "description": {
            "type": "string",
            "description": "وصف التقويم"
          },
          "color": {
            "type": "string",
            "description": "لون التقويم (تنسيق سداسي عشري)"
          },
          "timezone": {
            "type": "string",
            "description": "المنطقة الزمنية للتقويم"
          },
          "order": {
            "type": "integer",
            "description": "ترتيب عرض التقويم"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف حدث التقويم (معرف الحدث من CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "معرف التقويم الذي ينتمي إليه هذا الحدث"
          },
          "ical": {
            "type": "string",
            "description": "بيانات iCalendar (RFC 5545) للحدث"
          },
          "summary": {
            "type": "string",
            "description": "عنوان الحدث/الملخص (مستخرج من بيانات iCal)"
          },
          "description": {
            "type": "string",
            "description": "وصف الحدث (مستخرج من بيانات iCal)"
          },
          "location": {
            "type": "string",
            "description": "موقع الحدث (مستخرج من بيانات iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "تاريخ/وقت بدء الحدث (مستخرج من بيانات iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "تاريخ/وقت انتهاء الحدث (مستخرج من بيانات iCal)"
          },
          "uid": {
            "type": "string",
            "description": "معرف فريد من بيانات iCal"
          },
          "status": {
            "type": "string",
            "description": "حالة الحدث (مستخرجة من بيانات iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "منظم الحدث (مستخرج من بيانات iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "طابع زمني للحذف الناعم"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "معرف التقويم الذي سيتم إضافة الحدث إليه"
          },
          "event_id": {
            "type": "string",
            "description": "معرف الحدث المخصص (إذا لم يتم توفيره، فسيتم إنشاؤه تلقائيًا)"
          },
          "ical": {
            "type": "string",
            "description": "بيانات iCalendar (RFC 5545) للحدث. يجب أن تكون بتنسيق iCal صالح."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "نقل الحدث إلى تقويم مختلف"
          },
          "ical": {
            "type": "string",
            "description": "تم تحديث بيانات iCalendar (RFC 5545) للحدث"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف المجلد"
          },
          "path": {
            "type": "string",
            "description": "مسار المجلد الكامل"
          },
          "name": {
            "type": "string",
            "description": "اسم المجلد (الجزء الأخير من المسار)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "مسار المجلد الرئيسي"
          },
          "uid_validity": {
            "type": "integer",
            "description": "صحة معرف IMAP UID"
          },
          "uid_next": {
            "type": "integer",
            "description": "قيمة UID التالية"
          },
          "modify_index": {
            "type": "integer",
            "description": "مؤشر التعديل"
          },
          "subscribed": {
            "type": "boolean",
            "description": "ما إذا كان المجلد مشتركًا"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "أعلام المجلد"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "فترة الاحتفاظ بالرسالة"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "تسمية الاستخدام الخاص"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "مسار المجلد/الاسم"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "مسار/اسم المجلد الجديد"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف الرسالة"
          },
          "root_id": {
            "type": "string",
            "description": "معرف الرسالة الجذرية للترابط"
          },
          "folder_id": {
            "type": "string",
            "description": "معرف المجلد الذي يحتوي على الرسالة"
          },
          "folder_path": {
            "type": "string",
            "description": "مسار المجلد الذي يحتوي على الرسالة"
          },
          "thread_id": {
            "type": "string",
            "description": "معرف الموضوع لتجميع المحادثة"
          },
          "header_message_id": {
            "type": "string",
            "description": "قيمة رأس معرف الرسالة"
          },
          "is_unread": {
            "type": "boolean",
            "description": "ما إذا كانت الرسالة غير مقروءة"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "ما إذا كانت الرسالة مميزة"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "هل سيتم حذف الرسالة"
          },
          "is_draft": {
            "type": "boolean",
            "description": "هل الرسالة مسودة؟"
          },
          "is_junk": {
            "type": "boolean",
            "description": "ما إذا كانت الرسالة غير مرغوب فيها/بريد عشوائي"
          },
          "is_copied": {
            "type": "boolean",
            "description": "هل تم نسخ الرسالة"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "ما إذا كانت الرسالة قابلة للبحث"
          },
          "is_expired": {
            "type": "boolean",
            "description": "ما إذا كانت الرسالة منتهية الصلاحية"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "ما إذا كانت الرسالة تحتوي على مرفقات"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "تاريخ الاحتفاظ بالرسالة"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "التاريخ الداخلي (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "التاريخ من رؤوس الرسائل"
          },
          "subject": {
            "type": "string",
            "description": "موضوع الرسالة"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "أعلام IMAP"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "تسميات يحددها المستخدم (أحرف صغيرة، بحد أقصى 10)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "حجم الرسالة بالبايت"
          },
          "uid": {
            "type": "integer",
            "description": "معرف IMAP الفريد"
          },
          "modseq": {
            "type": "integer",
            "description": "تسلسل التعديل"
          },
          "transaction": {
            "type": "string",
            "description": "نوع المعاملة"
          },
          "remote_address": {
            "type": "string",
            "description": "عنوان IP البعيد"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "طابع زمني لإنشاء الرسالة"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "طابع زمني لتحديث آخر رسالة"
          },
          "nodemailer": {
            "type": "object",
            "description": "كائن الرسالة المُحلل (مُضمن افتراضيًا، اضبط ?nodemailer=false للاستبعاد)"
          },
          "raw": {
            "type": "string",
            "description": "محتوى الرسالة الخام (مضمن بشكل افتراضي، اضبط ?raw=false للاستبعاد)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "عنوان البريد الإلكتروني للمرسل"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "عناوين البريد الإلكتروني للمستلمين"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "عناوين البريد الإلكتروني لمتلقي النسخة الكربونية"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "عناوين البريد الإلكتروني لمتلقي نسخة مخفية"
          },
          "subject": {
            "type": "string",
            "description": "موضوع الرسالة"
          },
          "text": {
            "type": "string",
            "description": "محتوى نص عادي"
          },
          "html": {
            "type": "string",
            "description": "محتوى HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "مرفقات الرسائل (تنسيق Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "المجلد المستهدف (الافتراضي هو صندوق الوارد)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "علامات IMAP التي يجب تعيينها على الرسالة"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "تسميات يحددها المستخدم لإضافتها إلى الرسالة. يمكن أن تكون سلسلة نصية واحدة أو مصفوفة من التسميات. يجب أن تبدأ التسميات بحرف أو رقم أو شرطة مائلة عكسية أو علامة دولار، ويمكن أن تحتوي على أحرف كلمات أو نقاط أو شرطات. الحد الأقصى 10 تسميات لكل رسالة. التسميات غير حساسة لحالة الأحرف وسيتم تخزينها بأحرف صغيرة.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "علامات IMAP التي يجب تعيينها على الرسالة"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "تسميات يحددها المستخدم لإضافتها إلى الرسالة. يمكن أن تكون سلسلة نصية واحدة أو مصفوفة من التسميات. يجب أن تبدأ التسميات بحرف أو رقم أو شرطة مائلة عكسية أو علامة دولار، ويمكن أن تحتوي على أحرف كلمات أو نقاط أو شرطات. الحد الأقصى 10 تسميات لكل رسالة. التسميات غير حساسة لحالة الأحرف وسيتم تخزينها بأحرف صغيرة.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "نقل الرسالة إلى هذا المجلد"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "الحالة الحالية للبريد الإلكتروني. يتم تحديد الجدولة بواسطة حقل \"التاريخ\".",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "يُحدد تاريخ البريد الإلكتروني. إذا تم ضبطه على وقت لاحق (أكثر من دقيقة واحدة)، فسيتم الاحتفاظ بالبريد الإلكتروني حتى ذلك الوقت. الحد الأقصى 30 يومًا بعد تاريخ الإنشاء."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "يشير إلى ما إذا كان بروتوكول TLS مطلوبًا لسلسلة التسليم بأكملها (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "عنوان البريد الإلكتروني للمرسل (يجب أن يكون موجودًا كاسم مستعار للنطاق)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "قائمة مفصولة بفاصلة أو مجموعة من المستلمين لعنوان \"إلى\"."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "قائمة مفصولة بفاصلة أو مجموعة من المستلمين لرأس \"نسخة إلى\"."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "قائمة مفصولة بفاصلة أو مجموعة من المستلمين لرأس \"Bcc\"."
          },
          "subject": {
            "type": "string",
            "description": "موضوع البريد الإلكتروني."
          },
          "text": {
            "type": "string",
            "description": "النسخة النصية العادية للرسالة."
          },
          "html": {
            "type": "string",
            "description": "النسخة HTML من الرسالة."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "مجموعة من كائنات المرفقات (انظر الحقول المشتركة في Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "عنوان البريد الإلكتروني لرأس \"المرسل\"."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "عنوان البريد الإلكتروني لعنوان \"الرد على\"."
          },
          "inReplyTo": {
            "type": "string",
            "description": "معرف الرسالة التي يتم الرد عليها."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "قائمة مفصولة بمسافة أو مجموعة من معرفات الرسائل."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "إذا كانت هذه القيمة صحيحة، فسيتم تحويل البيانات: الصور الموجودة في محتوى HTML إلى مرفقات مضمنة."
          },
          "watchHtml": {
            "type": "string",
            "description": "إصدار HTML من الرسالة خاص بـ Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "إصدار HTML خاص بـ AMP4EMAIL من الرسالة."
          },
          "icalEvent": {
            "type": "object",
            "description": "حدث iCalendar كمحتوى رسالة بديل."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "مجموعة من محتوى الرسائل البديلة."
          },
          "encoding": {
            "type": "string",
            "description": "ترميز النص وسلاسل HTML (على سبيل المثال، 'utf-8'، 'hex'، 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "رسالة مخصصة بتنسيق RFC822 (بدلاً من استخدام إنشاء Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "ترميز إجباري للاستخدام لقيم النص."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "مستوى الأولوية للبريد الإلكتروني."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "كائن أو مجموعة من حقول الرأس الإضافية."
          },
          "messageId": {
            "type": "string",
            "description": "معرف الرسالة اختياري لعنوان \"معرف الرسالة\"."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "حقل التاريخ اختياري. إذا تم تحديده لوقت لاحق (أكثر من دقيقة واحدة)، فسيتم الاحتفاظ بالبريد الإلكتروني حتى ذلك الوقت. لا يمكن أن يتجاوز التاريخ 30 يومًا من تاريخ الإنشاء.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "كائن اختياري من عناوين List-*."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "إذا كان هذا صحيحًا، فإنه يتطلب استخدام بروتوكول TLS لسلسلة التسليم بأكملها (RFC 8689). ولن تُرسل الرسالة إلا عبر اتصالات مشفرة باستخدام بروتوكول TLS."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "عند التفعيل، يتم رفض رسائل البريد الإلكتروني الواردة التي لم يتم إرسالها عبر بروتوكول TLS."
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "اسم المجال المؤهل بالكامل (FQDN) أو عنوان IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "التعيين للفريق نفسه من نطاق آخر؛ يمكن أن يكون معرف نطاق أو اسم نطاق مؤهل بالكامل. استخدم \"لا شيء\" لتعطيله صراحةً."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "نوع الخطة (الافتراضي هو \"مجاني\" أو الخطة المدفوعة الحالية للمستخدم)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "قائمة محدودة من عناوين البريد الإلكتروني (مفصولة بفاصلة أو مسافة أو سطر جديد)"
              }
            ],
            "description": "إنشاء اسم مستعار افتراضي لجميع العناصر (الافتراضي هو true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "تمكين حماية محتوى البالغين من Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "تمكين حماية Spam Scanner من التصيد الاحتيالي"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "تمكين حماية الملفات القابلة للتنفيذ لـ Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "تمكين الحماية من الفيروسات من خلال Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "مطالبة مستلمي الأسماء المستعارة بالنقر فوق رابط التحقق من البريد الإلكتروني"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "تجاهل فحص سجل MX لإعدادات توجيه البريد المتقدمة"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "اختر حفظ عناوين الرسائل وبياناتها الوصفية (باستثناء محتوى الرسالة) للرسائل المُعاد توجيهها بنجاح، والمُرسلة عبر خطاف الويب، والصادرة عبر SMTP، والمُسلّمة عبر IMAP، مع الاحتفاظ بالسجلات لمدة 7 أيام. تساعدك هذه الميزة على مراقبة أداء تسليم البريد الإلكتروني واستكشاف أخطائه وإصلاحها، مع رؤى تفصيلية حول عمليات الإرسال الناجحة."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "عدد الأيام للاحتفاظ بسجلات SMTP الصادرة (0–30، الافتراضي: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "عنوان URL لـ Webhook لتلقي أحداث الارتداد"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "تعطيل خطاف الويب المرتد"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "الحد الأقصى لحصة التخزين لكل اسم مستعار (على سبيل المثال '1 جيجابايت')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "منفذ مخصص لتكوين إعادة توجيه SMTP (الافتراضي هو '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "ما إذا كان سيتم تمكين حماية محتوى البالغين من Spam Scanner على هذا المجال"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "ما إذا كان سيتم تمكين حماية Spam Scanner من التصيد الاحتيالي على هذا المجال"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "ما إذا كان سيتم تمكين حماية Spam Scanner القابلة للتنفيذ على هذا المجال"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "ما إذا كان سيتم تمكين الحماية من الفيروسات من خلال Spam Scanner على هذا المجال"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "النطاق العالمي الافتراضي لمعرفة ما إذا كان يجب على مستلمي الأسماء المستعارة النقر فوق رابط التحقق من البريد الإلكتروني لتدفق رسائل البريد الإلكتروني"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "ما إذا كان سيتم تجاهل فحص سجل MX على المجال للتحقق (خاصةً لإعدادات توجيه MX المتقدمة)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "اختر حفظ عناوين الرسائل وبياناتها الوصفية (باستثناء محتوى الرسالة) للرسائل المُعاد توجيهها بنجاح، والمُرسلة عبر خطاف الويب، والصادرة عبر SMTP، والمُسلّمة عبر IMAP، مع الاحتفاظ بالسجلات لمدة 7 أيام. تساعدك هذه الميزة على مراقبة أداء تسليم البريد الإلكتروني واستكشاف أخطائه وإصلاحها، مع رؤى تفصيلية حول عمليات الإرسال الناجحة."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "عدد الأيام اللازمة لتخزين رسائل البريد الإلكتروني SMTP الصادرة (0 = الإزالة فورًا)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "عنوان URL لـ Webhook لتلقي إشعارات الارتداد، أو False لتعطيله"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "حصة التخزين لكل اسم مستعار (على سبيل المثال \"1 جيجابايت\"، مقسمة إلى بايتات)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "اسم مستعار (إذا لم يتم توفيره أو إذا كان فارغًا، فسيتم إنشاء اسم مستعار عشوائي)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "سلسلة من عناوين البريد الإلكتروني الصالحة، أو أسماء النطاقات المؤهلة بالكامل، أو عناوين IP، أو عناوين URL لشبكة الويب، مفصولة بفاصل/مسافة/فاصلة"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "مجموعة من المستلمين الصالحين"
              }
            ],
            "description": "قائمة المستلمين. إذا لم تُقدّم أو كانت فارغة، فسيتم تعيينها افتراضيًا على بريد مقدم الطلب الإلكتروني."
          },
          "description": {
            "type": "string",
            "description": "وصف الاسم المستعار"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "سلسلة من العلامات مفصولة بفاصل/مسافة/فاصلة"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "مجموعة من العلامات"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "مطالبة المستلمين بالنقر فوق رابط التحقق (يتم تعيينه افتراضيًا على إعداد المجال)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "ما إذا كان سيتم تمكين هذا الاسم المستعار أو تعطيله"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "رمز الخطأ في حال تعطيل الاسم المستعار. القيمة الافتراضية ٢٥٠"
          },
          "has_imap": {
            "type": "boolean",
            "description": "تمكين أو تعطيل تخزين IMAP لهذا الاسم المستعار"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "تمكين أو تعطيل تشفير OpenPGP لهذا الاسم المستعار"
          },
          "public_key": {
            "type": "string",
            "description": "مفتاح OpenPGP العام بتنسيق ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "قم بتمكين أو تعطيل تشفير S/MIME لهذا الاسم المستعار"
          },
          "smime_certificate": {
            "type": "string",
            "description": "شهادة S/MIME X.509 بصيغة PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "الحد الأقصى لحصة التخزين (على سبيل المثال \"1 جيجابايت\")"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "تمكين أو تعطيل الرد التلقائي"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "تاريخ البدء (على سبيل المثال 'YYYY-MM-DD') لمستجيب الإجازة"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "تاريخ الانتهاء (على سبيل المثال 'YYYY-MM-DD') لمستجيب الإجازة"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "موضوع نص عادي للإجابة التلقائية"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "رسالة نصية عادية للرد على المكالمات أثناء الإجازة"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "الاسم المستعار"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "سلسلة من عناوين البريد الإلكتروني الصالحة، أو أسماء النطاقات المؤهلة بالكامل، أو عناوين IP، أو عناوين URL لشبكة الويب، مفصولة بفاصل/مسافة/فاصلة"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "مجموعة من المستلمين الصالحين"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "وصف الاسم المستعار"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "سلسلة من العلامات مفصولة بفاصل/مسافة/فاصلة"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "مجموعة من العلامات"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "مطالبة المستلمين بالنقر فوق رابط التحقق (يتم تعيينه افتراضيًا على إعداد المجال)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "تمكين أو تعطيل الاسم المستعار"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "رمز الخطأ الذي يجب استخدامه إذا تم تعطيل الاسم المستعار (القيمة الافتراضية هي 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "تمكين أو تعطيل تخزين IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "تمكين أو تعطيل تشفير OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "مفتاح OpenPGP العام بتنسيق ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "تفعيل أو تعطيل تشفير S/MIME"
          },
          "smime_certificate": {
            "type": "string",
            "description": "شهادة S/MIME X.509 بصيغة PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "الحد الأقصى لحصة التخزين (على سبيل المثال، '1 جيجابايت')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "تمكين أو تعطيل الرد التلقائي"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "تاريخ بدء الرد التلقائي (على سبيل المثال YYYY-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "تاريخ انتهاء الرد التلقائي (على سبيل المثال YYYY-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "موضوع نص عادي للإجابة على الإجازة"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "رسالة نصية عادية من المجيب التلقائي"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "كلمة المرور الجديدة المخصصة لك لاستخدامها في الاسم المستعار"
          },
          "password": {
            "type": "string",
            "description": "كلمة المرور الحالية للاسم المستعار لتغييرها دون حذف مساحة تخزين صندوق البريد"
          },
          "is_override": {
            "type": "boolean",
            "description": "تجاوز كلمة المرور الحالية وحذف تخزين IMAP (استخدم بحذر)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "عنوان البريد الإلكتروني لإرسال كلمة المرور المستعارة وتعليمات الإعداد"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "العدد الحالي للرسائل الإلكترونية المرسلة"
          },
          "limit": {
            "type": "integer",
            "description": "الحد الأقصى لعدد رسائل البريد الإلكتروني المسموح بها"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "تم حفظ تعريف البحث لكل اسم مستعار.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "اسم العرض للبحث المحفوظ"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "سلسلة استعلام البحث لإعادة استخدامها (على سبيل المثال، \"from:billing\")"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "خريطة توضح ربط الإجراءات بمفاتيح اختصار لوحة المفاتيح.",
        "additionalProperties": {
          "type": "string",
          "description": "اختصار لوحة المفاتيح للإجراء (على سبيل المثال، \"e\" للأرشفة)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "الحقول المسموح بها عند تحديث تعريف التسمية.",
        "properties": {
          "name": {
            "type": "string",
            "description": "اسم التسمية الذي يمكن قراءته بسهولة والذي يظهر في واجهة المستخدم"
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "لون سداسي عشري يُستخدم لعرض واجهة المستخدم"
          },
          "hidden": {
            "type": "boolean",
            "description": "قم بإخفاء التسمية في واجهة المستخدم مع الحفاظ على الكلمة الرئيسية"
          },
          "source": {
            "type": "string",
            "description": "أصل التسمية للتصفية والترحيلات",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "معرف العضو"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "عنوان البريد الإلكتروني للعضو"
          },
          "role": {
            "type": "string",
            "description": "دور العضو"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "عنوان البريد الإلكتروني المدعو"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "صفحة النتائج المطلوب إرجاعها. إذا لم تُحدَّد القيمة، فستكون ١. يجب أن يكون الرقم أكبر من أو يساوي ١.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "عدد النتائج المعروضة في كل صفحة. الافتراضي هو ٢٥ إذا لم يُحدد. يجب أن يكون العدد أكبر من أو يساوي ١، وأصغر من أو يساوي ١٠٠.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "الاشتراك في الترقيم قبل 1 نوفمبر 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "معرف المجال",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "معرف الاسم المستعار",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "معرف العضو",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "معرف البريد الإلكتروني أو معرف الرسالة. يمكنك تمرير إما معرف البريد الإلكتروني الفريد (على سبيل المثال، '683fbe4d5baef1b583a11e54') أو قيمة رأس معرف الرسالة للبريد الإلكتروني (على سبيل المثال، '1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net').",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "معرف جهة الاتصال",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "معرف التقويم",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "معرف المجلد أو المسار",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "معرف الرسالة",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "كلمة IMAP الرئيسية المستخدمة كمعرف للعلامة",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "حساب"
        ],
        "summary": "استرداد الحساب",
        "description": "استرجع معلومات حسابك.\n\n**المصادقة:** تدعم هذه النقطة النهائية كلاً من مصادقة رمز API ومصادقة بيانات اعتماد الاسم المستعار.\n\n- **حساب المستخدم (رمز API):** عند المصادقة باستخدام رمز API الخاص بك، تُعيد هذه النقطة النهائية معلومات حساب المستخدم الخاص بك، بما في ذلك تفاصيل الخطة والبريد الإلكتروني ورمز API.\n\n- **حساب الاسم المستعار (بيانات اعتماد الاسم المستعار):** عند المصادقة باستخدام بيانات اعتماد الاسم المستعار (البريد الإلكتروني وكلمة المرور المُنشأة)، تُعيد هذه النقطة النهائية معلومات الاسم المستعار/صندوق البريد، بما في ذلك مساحة التخزين المستخدمة/الحصة وكائن `settings` متداخل (مجلدات البريد الخاصة، وإعدادات التصنيفات، والإعدادات الافتراضية للاسم المستعار). يُفيد هذا عملاء IMAP/POP3/CalDAV/CardDAV للتحقق من حالة التخزين والتفضيلات.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "حساب"
        ],
        "summary": "تحديث الحساب",
        "description": "قم بتحديث معلومات حسابك.\n\n\n- **حساب المستخدم (رمز API):** قم بتحديث حقول ملف تعريف المستخدم.\n\n- **حساب الاسم المستعار (بيانات اعتماد الاسم المستعار):** قم بتحديث الإعدادات الخاصة بالاسم المستعار باستخدام كائن `settings` المتداخل. يتم قبول الحقول المسطحة القديمة للتوافق. تتطابق الاستجابة مع `GET /v1/account`.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "إعدادات الاسم المستعار (مصادقة الاسم المستعار فقط)",
                    "properties": {
                      "mail": {
                        "type": "object",
                        "properties": {
                          "archive_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "مجلد أرشيف البريد الإلكتروني البديل"
                          },
                          "sent_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "مجلد البريد الإلكتروني المُرسل"
                          },
                          "drafts_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "مجلد مسودات البريد الإلكتروني المستعار"
                          }
                        }
                      },
                      "label_settings": {
                        "type": "object",
                        "description": "خريطة تسميات الأسماء المستعارة المفهرسة بالكلمات المفتاحية",
                        "additionalProperties": {
                          "$ref": "#/components/schemas/SettingsLabelUpdate"
                        }
                      },
                      "aliases": {
                        "type": "object",
                        "properties": {
                          "defaults": {
                            "type": "object",
                            "description": "أسماء مستعارة افتراضية حرة مثل display_name أو signature",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  },
                  "display_name": {
                    "type": "string",
                    "description": "اسم العرض"
                  },
                  "locale": {
                    "type": "string",
                    "description": "تفضيلات الموقع"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "تم تحديث عنوان البريد الإلكتروني (للتحقق من هوية المستخدم فقط)"
                  },
                  "avatar_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "رابط الصورة الرمزية (للمصادقة على المستخدم فقط)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "جهات الاتصال"
        ],
        "summary": "قائمة جهات الاتصال",
        "description": "استرجاع قائمة بجميع جهات الاتصال للاسم المستعار المُصادق عليه. تدعم هذه النقطة النهائية الترقيم الصفحي وتُرجع جهات الاتصال بتنسيق CardDAV.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "جهات الاتصال"
        ],
        "summary": "إنشاء جهة اتصال",
        "description": "أنشئ جهة اتصال جديدة. يمكنك إما توفير محتوى vCard مباشرةً أو حقول جهات اتصال فردية سيتم تحويلها إلى صيغة vCard. في حال وجود جهة اتصال بنفس المعرف، سيتم إرجاع خطأ تعارض.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "جهات الاتصال"
        ],
        "summary": "استرداد جهة الاتصال",
[...]
