{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Chào mừng bạn đến với tài liệu API toàn diện về Forward Email. API này cho phép bạn quản lý việc chuyển tiếp email, tên miền, bí danh, email gửi đi và nhiều tính năng khác theo chương trình.\n\n## Các tính năng chính\n* **Quản lý tên miền:** Tạo, truy xuất, cập nhật, xóa và xác minh tên miền.\n* **Quản lý bí danh:** Quản lý bí danh email, bao gồm việc tạo, cập nhật và quản lý người nhận.\n* **SMTP gửi đi:** Gửi email qua SMTP, quản lý giới hạn và theo dõi email đã gửi.\n* **Tài khoản & Nhật ký:** Quản lý chi tiết tài khoản và tải xuống nhật ký hoạt động.\n* **Bảo mật:** Mã hóa bản ghi TXT và quản lý thành viên/lời mời tên miền.\n* **Danh bạ CardDAV:** Các thao tác CRUD đầy đủ để quản lý danh bạ với hỗ trợ vCard.\n* **Lịch CalDAV:** Quản lý lịch hoàn chỉnh với hỗ trợ múi giờ và màu sắc.\n* **Tin nhắn IMAP/POP3:** Quản lý tin nhắn toàn diện với khả năng tìm kiếm nâng cao.\n\n* **Thư mục IMAP/POP3:** Quản lý toàn bộ thư mục, bao gồm tạo, đổi tên và xóa.\n\n## Xác thực\nHầu hết các điểm cuối yêu cầu xác thực bằng **Khóa API** của bạn. Hãy cung cấp Khóa API dưới dạng `username` trong tiêu đề Xác thực Cơ bản, để trống mật khẩu.\n\n```http\nỦy quyền: Cơ bản QVBJX1RPS0VOOg==\n```\n(Thay thế `API_TOKEN` bằng khóa thực tế của bạn trước khi mã hóa Base64)\n\nCác điểm cuối liên quan đến **Danh bạ, Lịch, Tin nhắn và Thư mục Bí danh** yêu cầu tên người dùng và mật khẩu bí danh được tạo cho Xác thực Cơ bản.\n\n## Lỗi\nAPI sử dụng mã trạng thái HTTP tiêu chuẩn để chỉ ra thành công hay thất bại. Phản hồi lỗi bao gồm nội dung JSON với trường `message` nêu chi tiết lỗi.\n\n| Mã Trạng thái | Ý nghĩa |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Yêu cầu không hợp lệ |\n| 401 | Không được ủy quyền |\n| 403 | Bị cấm |\n| 404 | Không tìm thấy |\n| 409 | Xung đột |\n| 412 | Điều kiện tiên quyết không thành công |\n| 429 | Quá nhiều yêu cầu |\n| 500 | Lỗi máy chủ nội bộ |\n| 501 | Chưa triển khai |\n| 502 | Cổng không hợp lệ |\n| 503 | Dịch vụ không khả dụng |\n| 504 | Hết thời gian chờ cổng |\n\n*Nếu bạn gặp lỗi `5xx`, vui lòng liên hệ [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Bản địa hóa\nPhản hồi API được dịch dựa trên ngôn ngữ được phát hiện của người dùng hoặc tiêu đề `Accept-Language`. Hơn 25 ngôn ngữ được hỗ trợ.\n\n## Phân trang\nCác điểm cuối trả về danh sách hỗ trợ phân trang thông qua các tham số truy vấn.\n\n| Tham số | Kiểu | Tùy chọn | Mô tả | Mặc định | Ràng buộc |\n|--------------|---------|----------|--------------------------------------------------------------------------------|---------|--------------------|\n| `page` | Số nguyên | Có | Số trang cần truy xuất. | 1 | `>= 1` |\n| `limit` | Số nguyên | Có | Số lượng kết quả trên mỗi trang. | 25 | `>= 1`, `<= 100` |\n| `pagination` | Boolean | Có | Tùy chọn phân trang (bắt buộc trước ngày 1 tháng 11 năm 2024 đối với một số điểm cuối). | false | |\n\n**Tiêu đề phân trang:**\n* `X-Page-Count`: Tổng số trang.\n* `X-Page-Current`: Số trang hiện tại.\n* `X-Page-Size`: Số lượng mục trên trang hiện tại.\n* `X-Item-Count`: Tổng số mục trên tất cả các trang.\n* `Link`: Liên kết điều hướng (trước, sau, đầu, cuối).\n\n**Ví dụ:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Thư viện được đề xuất\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Được duy trì bởi Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Máy chủ API Email chuyển tiếp"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nSử dụng Khóa API của bạn làm **tên người dùng** cho Xác thực Cơ bản. Để trống trường mật khẩu.\n\n**Ví dụ:**\nNếu Khóa API của bạn là `YOUR_API_KEY`, giá trị được mã hóa Base64 cho tiêu đề `Authorization` sẽ là `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Sử dụng **tên người dùng và mật khẩu bí danh** được tạo cho Xác thực Cơ bản. Điều này áp dụng cho các điểm cuối thuộc:\n\n* Danh bạ Bí danh (CardDAV)\n\n* Lịch Bí danh (CalDAV)\n\n* Tin nhắn Bí danh (IMAP/POP3)\n\n* Thư mục Bí danh (IMAP/POP3)\n\n* Tập lệnh Sieve Bí danh\n\n**Ví dụ:**\nNếu tên người dùng bí danh là `alias@domain.com` và mật khẩu là `GENERATED_PASSWORD`, giá trị được mã hóa Base64 sẽ là `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "SieveScript": {
        "type": "object",
        "required": [
          "id",
          "name",
          "content",
          "alias"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Mã định danh kịch bản duy nhất"
          },
          "name": {
            "type": "string",
            "description": "Tên kịch bản"
          },
          "content": {
            "type": "string",
            "description": "Nội dung kịch bản sàng lọc"
          },
          "alias": {
            "type": "string",
            "description": "Mã định danh bí danh mà tập lệnh này thuộc về"
          },
          "is_active": {
            "type": "boolean",
            "description": "Liệu kịch bản có đang hoạt động hay không",
            "default": false
          },
          "priority": {
            "type": "integer",
            "description": "Độ ưu tiên của tập lệnh (càng thấp càng ưu tiên cao)",
            "default": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Dấu thời gian tạo"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Dấu thời gian cập nhật lần cuối"
          },
          "object": {
            "type": "string",
            "example": "sieve_script"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Thông báo lỗi"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "Cài đặt ngôn ngữ ưu tiên của người dùng sẽ ghi đè lên tính năng tự động nhận diện."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID bí danh"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Loại đối tượng"
          },
          "name": {
            "type": "string",
            "description": "Tên bí danh (phần địa phương của email)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email bí danh đầy đủ"
          },
          "domain_id": {
            "type": "string",
            "description": "ID miền"
          },
          "domain_name": {
            "type": "string",
            "description": "Tên miền"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Dung lượng lưu trữ được sử dụng theo byte cho bí danh/hộp thư này"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Hạn ngạch lưu trữ tính bằng byte cho bí danh/hộp thư này"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP có được bật cho bí danh này không"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Có bật mã hóa PGP không"
          },
          "public_key": {
            "type": "string",
            "description": "Khóa công khai PGP nếu có"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Cho biết mã hóa S/MIME có được bật hay không."
          },
          "smime_certificate": {
            "type": "string",
            "description": "Chứng chỉ S/MIME X.509 ở định dạng PEM"
          },
          "locale": {
            "type": "string",
            "description": "Tùy chọn địa phương"
          },
          "settings": {
            "type": "object",
            "description": "Cài đặt bí danh",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Thư mục lưu trữ thư bí danh"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Thư mục đã gửi của Alias"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Thư mục bản nháp thư bí danh"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "Bản đồ nhãn bí danh được lập chỉ mục theo từ khóa",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "Các bí danh mặc định dạng tự do như display_name hoặc signature.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Dấu thời gian tạo"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Dấu thời gian cập nhật lần cuối"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID liên hệ (contact_id từ CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "Liên hệ UID"
          },
          "full_name": {
            "type": "string",
            "description": "Họ và tên đầy đủ của người liên hệ"
          },
          "content": {
            "type": "string",
            "description": "Nội dung vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag để quản lý phiên bản"
          },
          "is_group": {
            "type": "boolean",
            "description": "Cho dù liên hệ là một nhóm"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Mảng địa chỉ email"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Mảng số điện thoại"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Nội dung vCard (nếu không được cung cấp, sẽ được tạo từ các trường khác)"
          },
          "full_name": {
            "type": "string",
            "description": "Họ và tên đầy đủ của người liên hệ"
          },
          "contact_id": {
            "type": "string",
            "description": "ID liên hệ tùy chỉnh (nếu không được cung cấp, sẽ được tự động tạo)"
          },
          "uid": {
            "type": "string",
            "description": "UID liên hệ (nếu không cung cấp, sẽ tự động tạo)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Mảng địa chỉ email"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Mảng số điện thoại"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Mảng số điện thoại (bí danh cho phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Mảng địa chỉ"
          },
          "is_group": {
            "type": "boolean",
            "description": "Cho dù liên hệ là một nhóm"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Nội dung vCard"
          },
          "full_name": {
            "type": "string",
            "description": "Họ và tên đầy đủ của người liên hệ"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Mảng địa chỉ email"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Mảng số điện thoại"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Mảng số điện thoại (bí danh cho phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Mảng địa chỉ"
          },
          "is_group": {
            "type": "boolean",
            "description": "Cho dù liên hệ là một nhóm"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID lịch (calendarId từ CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Tên lịch"
          },
          "description": {
            "type": "string",
            "description": "Mô tả lịch"
          },
          "color": {
            "type": "string",
            "description": "Màu lịch (định dạng hex)"
          },
          "timezone": {
            "type": "string",
            "description": "Múi giờ lịch"
          },
          "order": {
            "type": "integer",
            "description": "Thứ tự hiển thị lịch"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Tên lịch"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID lịch tùy chỉnh (nếu không được cung cấp, sẽ được tự động tạo)"
          },
          "description": {
            "type": "string",
            "description": "Mô tả lịch"
          },
          "color": {
            "type": "string",
            "description": "Màu lịch (định dạng hex, nếu không được cung cấp, sẽ được tự động tạo)"
          },
          "timezone": {
            "type": "string",
            "description": "Múi giờ lịch (mặc định là múi giờ của người dùng hoặc UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Thứ tự hiển thị lịch (mặc định là 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tên lịch"
          },
          "description": {
            "type": "string",
            "description": "Mô tả lịch"
          },
          "color": {
            "type": "string",
            "description": "Màu lịch (định dạng hex)"
          },
          "timezone": {
            "type": "string",
            "description": "Múi giờ lịch"
          },
          "order": {
            "type": "integer",
            "description": "Thứ tự hiển thị lịch"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID sự kiện lịch (eventId từ CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID của lịch sự kiện này thuộc về"
          },
          "ical": {
            "type": "string",
            "description": "Dữ liệu iCalendar (RFC 5545) cho sự kiện"
          },
          "summary": {
            "type": "string",
            "description": "Tiêu đề/tóm tắt sự kiện (trích xuất từ dữ liệu iCal)"
          },
          "description": {
            "type": "string",
            "description": "Mô tả sự kiện (trích xuất từ dữ liệu iCal)"
          },
          "location": {
            "type": "string",
            "description": "Vị trí sự kiện (trích xuất từ dữ liệu iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Ngày/giờ bắt đầu sự kiện (trích xuất từ dữ liệu iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Ngày/giờ kết thúc sự kiện (trích xuất từ dữ liệu iCal)"
          },
          "uid": {
            "type": "string",
            "description": "Mã định danh duy nhất từ dữ liệu iCal"
          },
          "status": {
            "type": "string",
            "description": "Trạng thái sự kiện (trích xuất từ dữ liệu iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "Người tổ chức sự kiện (trích xuất từ dữ liệu iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Dấu thời gian xóa mềm"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ID của lịch để thêm sự kiện vào"
          },
          "event_id": {
            "type": "string",
            "description": "ID sự kiện tùy chỉnh (nếu không được cung cấp, sẽ được tự động tạo)"
          },
          "ical": {
            "type": "string",
            "description": "Dữ liệu iCalendar (RFC 5545) cho sự kiện. Phải là định dạng iCal hợp lệ."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Di chuyển sự kiện sang một lịch khác"
          },
          "ical": {
            "type": "string",
            "description": "Dữ liệu iCalendar (RFC 5545) được cập nhật cho sự kiện"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID thư mục"
          },
          "path": {
            "type": "string",
            "description": "Đường dẫn thư mục đầy đủ"
          },
          "name": {
            "type": "string",
            "description": "Tên thư mục (phần cuối của đường dẫn)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Đường dẫn thư mục cha"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Tính hợp lệ của IMAP UID"
          },
          "uid_next": {
            "type": "integer",
            "description": "Giá trị UID tiếp theo"
          },
          "modify_index": {
            "type": "integer",
            "description": "Chỉ số sửa đổi"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Thư mục có được đăng ký không"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Cờ thư mục"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Thời gian lưu giữ tin nhắn"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Chỉ định sử dụng đặc biệt"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Đường dẫn/tên thư mục"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Đường dẫn/tên thư mục mới"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_encrypted",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID tin nhắn"
          },
          "root_id": {
            "type": "string",
            "description": "ID tin nhắn gốc cho luồng"
          },
          "folder_id": {
            "type": "string",
            "description": "ID thư mục chứa tin nhắn"
          },
          "folder_path": {
            "type": "string",
            "description": "Đường dẫn thư mục chứa tin nhắn"
          },
          "thread_id": {
            "type": "string",
            "description": "ID chủ đề để nhóm cuộc trò chuyện"
          },
          "header_message_id": {
            "type": "string",
            "description": "Giá trị tiêu đề ID tin nhắn"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Có phải tin nhắn chưa đọc không"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Có gắn cờ cho tin nhắn không"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Có xóa tin nhắn không"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Liệu tin nhắn có phải là bản nháp không"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Cho dù tin nhắn là thư rác/thư rác"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Có sao chép tin nhắn không"
          },
          "is_encrypted": {
            "type": "boolean",
            "description": "Liệu tin nhắn có được mã hóa (PGP/MIME hay S/MIME) hay không?"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Có thể tìm kiếm tin nhắn không"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Tin nhắn đã hết hạn chưa"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Tin nhắn có tệp đính kèm không"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Ngày lưu giữ tin nhắn"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Ngày nội bộ (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Ngày từ tiêu đề tin nhắn"
          },
          "subject": {
            "type": "string",
            "description": "Tiêu đề tin nhắn"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Cờ IMAP"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Nhãn do người dùng định nghĩa (chữ thường, tối đa 10 nhãn)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "Kích thước tin nhắn tính bằng byte"
          },
          "uid": {
            "type": "integer",
            "description": "UID IMAP"
          },
          "modseq": {
            "type": "integer",
            "description": "Trình tự sửa đổi"
          },
          "transaction": {
            "type": "string",
            "description": "Loại giao dịch"
          },
          "remote_address": {
            "type": "string",
            "description": "Địa chỉ IP từ xa"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Dấu thời gian tạo tin nhắn"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Dấu thời gian cập nhật tin nhắn cuối cùng"
          },
          "nodemailer": {
            "type": "object",
            "description": "Đối tượng tin nhắn đã phân tích cú pháp (được bao gồm theo mặc định, đặt ?nodemailer=false để loại trừ)"
          },
          "raw": {
            "type": "string",
            "description": "Nội dung tin nhắn thô (được bao gồm theo mặc định, đặt ?raw=false để loại trừ)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_encrypted": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email của người gửi"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Địa chỉ email của người nhận"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Địa chỉ email của người nhận CC"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Địa chỉ email của người nhận BCC"
          },
          "subject": {
            "type": "string",
            "description": "Tiêu đề tin nhắn"
          },
          "text": {
            "type": "string",
            "description": "Nội dung văn bản thuần túy"
          },
          "html": {
            "type": "string",
            "description": "Nội dung HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Tệp đính kèm tin nhắn (định dạng Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "Thư mục đích (mặc định là HỘP THƯ ĐẾN)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Cờ IMAP để thiết lập trên tin nhắn"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Các nhãn do người dùng định nghĩa để thiết lập cho thông báo. Có thể là một chuỗi nhãn đơn hoặc một mảng các nhãn. Nhãn phải bắt đầu bằng một chữ cái, chữ số, dấu gạch chéo ngược hoặc dấu đô la, và có thể chứa các ký tự chữ, dấu chấm và dấu gạch ngang. Tối đa 10 nhãn cho mỗi thông báo. Nhãn không phân biệt chữ hoa chữ thường và sẽ được lưu trữ ở dạng chữ thường.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Cờ IMAP để thiết lập trên tin nhắn"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Các nhãn do người dùng định nghĩa để thiết lập cho thông báo. Có thể là một chuỗi nhãn đơn hoặc một mảng các nhãn. Nhãn phải bắt đầu bằng một chữ cái, chữ số, dấu gạch chéo ngược hoặc dấu đô la, và có thể chứa các ký tự chữ, dấu chấm và dấu gạch ngang. Tối đa 10 nhãn cho mỗi thông báo. Nhãn không phân biệt chữ hoa chữ thường và sẽ được lưu trữ ở dạng chữ thường.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "Di chuyển tin nhắn đến thư mục này"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "Trạng thái hiện tại của email. Lịch gửi được xác định bởi trường `ngày`.",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Trường Ngày tháng trong tiêu đề email. Nếu đặt thành thời gian trong tương lai (hơn 1 phút), email sẽ được giữ lại cho đến thời điểm đó. Tối đa 30 ngày kể từ ngày tạo."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Cho biết liệu TLS có bắt buộc đối với toàn bộ chuỗi phân phối hay không (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email của người gửi (phải tồn tại dưới dạng bí danh của tên miền)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Danh sách được phân tách bằng dấu phẩy hoặc một mảng người nhận cho tiêu đề 'Đến'."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Danh sách được phân tách bằng dấu phẩy hoặc một mảng người nhận cho tiêu đề 'Cc'."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Danh sách được phân tách bằng dấu phẩy hoặc một mảng người nhận cho tiêu đề 'Bcc'."
          },
          "subject": {
            "type": "string",
            "description": "Tiêu đề của email."
          },
          "text": {
            "type": "string",
            "description": "Phiên bản văn bản thuần túy của tin nhắn."
          },
          "html": {
            "type": "string",
            "description": "Phiên bản HTML của tin nhắn."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Một mảng các đối tượng đính kèm (xem các trường chung của Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email cho tiêu đề 'Người gửi'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email cho tiêu đề 'Trả lời'."
          },
          "inReplyTo": {
            "type": "string",
            "description": "ID tin nhắn dùng để trả lời tin nhắn."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Danh sách được phân tách bằng dấu cách hoặc một mảng ID tin nhắn."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Nếu đúng, chuyển đổi dữ liệu: hình ảnh trong nội dung HTML thành tệp đính kèm được nhúng."
          },
          "watchHtml": {
            "type": "string",
            "description": "Phiên bản HTML dành riêng cho Apple Watch của tin nhắn."
          },
          "amp": {
            "type": "string",
            "description": "Phiên bản HTML dành riêng cho AMP4EMAIL của tin nhắn."
          },
          "icalEvent": {
            "type": "object",
            "description": "Sự kiện iCalendar như một nội dung tin nhắn thay thế."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Một mảng nội dung tin nhắn thay thế."
          },
          "encoding": {
            "type": "string",
            "description": "Mã hóa cho chuỗi văn bản và HTML (ví dụ: 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Tin nhắn được tạo theo định dạng RFC822 tùy chỉnh (thay vì sử dụng công nghệ tạo Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Mã hóa bắt buộc phải sử dụng cho các giá trị văn bản."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Mức độ ưu tiên cho email."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Đối tượng hoặc mảng các trường tiêu đề bổ sung."
          },
          "messageId": {
            "type": "string",
            "description": "Message-ID tùy chọn cho tiêu đề 'Message-ID'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Tiêu đề Ngày tháng (tùy chọn). Nếu đặt thành thời gian trong tương lai (hơn 1 phút), email sẽ được giữ lại cho đến thời điểm đó. Không thể đặt quá 30 ngày kể từ ngày tạo.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "Đối tượng tùy chọn của tiêu đề List-*."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Nếu đúng, điều này yêu cầu TLS cho toàn bộ chuỗi truyền tải (RFC 8689). Thông điệp sẽ chỉ được truyền qua các kết nối được mã hóa bằng TLS."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "has_custom_s3": {
            "type": "boolean",
            "description": "Liệu tên miền này có sử dụng bộ nhớ tùy chỉnh tương thích với S3 để sao lưu dữ liệu hay không?"
          },
          "s3_endpoint": {
            "type": "string",
            "description": "URL điểm cuối tùy chỉnh tương thích với S3 (ví dụ: https://s3.us-east-1.amazonaws.com, https://<accountid>.r2.cloudflarestorage.com)"
          },
          "s3_region": {
            "type": "string",
            "description": "Vùng S3 (ví dụ: us-east-1, auto). Mặc định là auto nếu không được chỉ định."
          },
          "s3_bucket": {
            "type": "string",
            "description": "Tên bucket S3 dùng để lưu trữ bản sao lưu. Bucket này phải đã tồn tại."
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "Khi được bật, sẽ từ chối các email đến không được gửi qua TLS."
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Tên miền đủ điều kiện (FQDN) hoặc địa chỉ IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Chỉ định cho cùng một nhóm từ một miền khác; có thể là ID miền hoặc FQDN. Sử dụng \"none\" để tắt rõ ràng."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Loại gói (mặc định là 'miễn phí' hoặc gói trả phí hiện tại của người dùng)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Danh sách địa chỉ email được phân tách (phân tách bằng dấu phẩy, dấu cách hoặc dòng mới)"
              }
            ],
            "description": "Tạo một bí danh bắt tất cả mặc định (mặc định là đúng)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Bật tính năng bảo vệ nội dung người lớn của Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Bật tính năng bảo vệ chống lừa đảo của Spam Scanner"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Bật tính năng bảo vệ tệp thực thi Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Bật tính năng bảo vệ chống vi-rút của Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Yêu cầu người nhận bí danh nhấp vào liên kết xác minh email"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Bỏ qua kiểm tra bản ghi MX cho các thiết lập định tuyến thư nâng cao"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Chọn lưu trữ tiêu đề và siêu dữ liệu (trừ nội dung tin nhắn) cho các email đã chuyển tiếp thành công, gửi qua webhook, gửi qua SMTP và gửi qua IMAP, với nhật ký được lưu giữ trong 7 ngày. Tính năng này giúp bạn theo dõi và khắc phục sự cố hiệu suất gửi email với thông tin chi tiết về các lần gửi thành công."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Số ngày lưu giữ nhật ký SMTP gửi đi (0–30, mặc định: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL webhook để nhận sự kiện trả lại"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Vô hiệu hóa webhook trả lại"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Hạn ngạch lưu trữ tối đa cho mỗi bí danh (ví dụ: '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Cổng tùy chỉnh để cấu hình chuyển tiếp SMTP (mặc định là '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Có nên bật tính năng bảo vệ nội dung người lớn của Spam Scanner trên miền này không"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Có nên bật tính năng bảo vệ chống lừa đảo Spam Scanner trên miền này không"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Có nên bật tính năng bảo vệ thực thi Spam Scanner trên miền này không"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Có nên bật tính năng bảo vệ chống vi-rút Spam Scanner trên miền này không"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Mặc định của miền toàn cầu về việc có yêu cầu người nhận bí danh nhấp vào liên kết xác minh email để email có thể chạy qua hay không"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Có nên bỏ qua kiểm tra bản ghi MX trên miền để xác minh hay không (chủ yếu đối với các thiết lập định tuyến MX nâng cao)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Chọn lưu trữ tiêu đề và siêu dữ liệu (trừ nội dung tin nhắn) cho các email đã chuyển tiếp thành công, gửi qua webhook, gửi qua SMTP và gửi qua IMAP, với nhật ký được lưu giữ trong 7 ngày. Tính năng này giúp bạn theo dõi và khắc phục sự cố hiệu suất gửi email với thông tin chi tiết về các lần gửi thành công."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Số ngày lưu trữ email SMTP gửi đi (0 = xóa ngay lập tức)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL webhook để nhận thông báo trả lại hoặc sai để vô hiệu hóa"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Hạn ngạch lưu trữ cho mỗi bí danh (ví dụ: '1 GB', được phân tích thành byte)"
          },
          "has_custom_s3": {
            "type": "boolean",
            "description": "Có nên bật tính năng lưu trữ tùy chỉnh tương thích với S3 cho các bản sao lưu IMAP/SQLite trên miền này hay không."
          },
          "s3_endpoint": {
            "type": "string",
            "format": "uri",
            "description": "URL điểm cuối tùy chỉnh tương thích với S3 (ví dụ: https://s3.us-east-1.amazonaws.com)"
          },
          "s3_access_key_id": {
            "type": "string",
            "description": "Mã định danh khóa truy cập S3. Được mã hóa khi lưu trữ. Để trống khi cập nhật để giữ nguyên giá trị hiện có."
          },
          "s3_secret_access_key": {
            "type": "string",
            "description": "Khóa truy cập bí mật S3. Được mã hóa khi lưu trữ. Để trống khi cập nhật để giữ nguyên giá trị hiện có."
          },
          "s3_region": {
            "type": "string",
            "description": "Vùng S3 (ví dụ: us-east-1, auto). Mặc định là auto."
          },
          "s3_bucket": {
            "type": "string",
            "description": "Tên bucket S3 dùng để lưu trữ bản sao lưu. Bucket này phải đã tồn tại và không được phép truy cập công khai."
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Danh sách các người gửi được phép (địa chỉ IP, tên miền đầy đủ, địa chỉ email hoặc tên miền cấp cao nhất dạng ký tự đại diện). Khi được thiết lập, chỉ thư từ những người gửi này mới được chấp nhận. Thay thế danh sách hiện có."
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Danh sách các người gửi bị cấm (địa chỉ IP, tên miền đầy đủ, địa chỉ email hoặc tên miền cấp cao nhất dạng ký tự đại diện). Thư từ những người gửi này sẽ bị từ chối. Thay thế danh sách hiện có."
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tên bí danh (nếu không được cung cấp hoặc để trống, thì một bí danh ngẫu nhiên sẽ được tạo)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chuỗi địa chỉ email hợp lệ, FQDN, IP hoặc URL webhook được phân tách bằng dấu ngắt dòng/dấu cách/dấu phẩy"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Mảng người nhận hợp lệ"
              }
            ],
            "description": "Danh sách người nhận. Nếu không được cung cấp hoặc để trống, mặc định là email của người yêu cầu"
          },
          "description": {
            "type": "string",
            "description": "Mô tả bí danh"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chuỗi nhãn được phân tách bằng dấu ngắt dòng/dấu cách/dấu phẩy"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Mảng nhãn"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Yêu cầu người nhận nhấp vào liên kết xác minh (mặc định là cài đặt tên miền)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Có nên bật hay tắt bí danh này không"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Mã lỗi nếu bí danh bị vô hiệu hóa. Mặc định là 250"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Bật hoặc tắt lưu trữ IMAP cho bí danh này"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Bật hoặc tắt mã hóa OpenPGP cho bí danh này"
          },
          "public_key": {
            "type": "string",
            "description": "Khóa công khai OpenPGP ở định dạng ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Cho phép hoặc vô hiệu hóa mã hóa S/MIME cho bí danh này."
          },
          "smime_certificate": {
            "type": "string",
            "description": "Chứng chỉ S/MIME X.509 ở định dạng PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "Hạn ngạch lưu trữ tối đa (ví dụ: '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Bật hoặc tắt chế độ trả lời tự động"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Ngày bắt đầu (ví dụ: 'YYYY-MM-DD') cho người trả lời tự động"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Ngày kết thúc (ví dụ: 'YYYY-MM-DD') cho người trả lời tự động"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Tiêu đề văn bản thuần túy cho người trả lời tự động"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Tin nhắn văn bản thuần túy cho người trả lời tự động"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tên bí danh"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chuỗi địa chỉ email hợp lệ, FQDN, IP hoặc URL webhook được phân tách bằng dấu ngắt dòng/dấu cách/dấu phẩy"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Mảng các người nhận hợp lệ. Truyền một mảng rỗng để xóa tất cả người nhận chuyển tiếp (ví dụ: đối với các bí danh chỉ dành cho IMAP)."
              }
            ],
            "description": "Nếu bỏ qua tham số này, danh sách người nhận hiện có sẽ được giữ nguyên. Truyền vào một mảng rỗng để xóa tất cả người nhận chuyển tiếp."
          },
          "description": {
            "type": "string",
            "description": "Mô tả bí danh"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chuỗi nhãn được phân tách bằng dấu ngắt dòng/dấu cách/dấu phẩy"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Mảng nhãn"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Yêu cầu người nhận nhấp vào liên kết xác minh (mặc định là cài đặt tên miền)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Bật hoặc tắt bí danh"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Mã lỗi sử dụng nếu bí danh bị vô hiệu hóa (mặc định là 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Bật hoặc tắt lưu trữ IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Bật hoặc tắt mã hóa OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Khóa công khai OpenPGP ở định dạng ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Bật hoặc tắt mã hóa S/MIME"
          },
          "smime_certificate": {
            "type": "string",
            "description": "Chứng chỉ S/MIME X.509 ở định dạng PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "Hạn ngạch lưu trữ tối đa (ví dụ: '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Bật hoặc tắt chế độ trả lời tự động"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Ngày bắt đầu trả lời tự động (ví dụ: YYYY-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Ngày kết thúc trả lời tự động (ví dụ: YYYY-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Chủ đề văn bản thuần túy của trình trả lời tự động"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Tin nhắn văn bản thuần túy của người trả lời tự động"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Mật khẩu mới tùy chỉnh của bạn để sử dụng cho bí danh"
          },
          "password": {
            "type": "string",
            "description": "Mật khẩu hiện tại cho bí danh để thay đổi mà không xóa bộ nhớ hộp thư"
          },
          "is_override": {
            "type": "boolean",
            "description": "Ghi đè mật khẩu hiện tại và xóa bộ nhớ IMAP (sử dụng thận trọng)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email để gửi mật khẩu bí danh và hướng dẫn thiết lập"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Số lượng email hiện tại đã gửi"
          },
          "limit": {
            "type": "integer",
            "description": "Số lượng email tối đa được phép"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "Định nghĩa tìm kiếm đã lưu được lưu trữ cho mỗi bí danh.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Tên hiển thị cho tìm kiếm đã lưu"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Chuỗi truy vấn tìm kiếm để sử dụng lại (ví dụ: \"from:billing\")"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "Sơ đồ ánh xạ các thao tác sang phím tắt.",
        "additionalProperties": {
          "type": "string",
          "description": "Phím tắt cho thao tác đó (ví dụ: \"e\" cho thao tác lưu trữ)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "Các trường được phép khi cập nhật định nghĩa nhãn.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tên nhãn dễ đọc được hiển thị trên giao diện người dùng"
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "Mã màu hex được sử dụng để hiển thị giao diện người dùng."
          },
          "hidden": {
            "type": "boolean",
            "description": "Ẩn nhãn trong giao diện người dùng trong khi vẫn giữ nguyên từ khóa."
          },
          "source": {
            "type": "string",
            "description": "Nguồn gốc nhãn để lọc và di chuyển",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID thành viên"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email của thành viên"
          },
          "role": {
            "type": "string",
            "description": "Vai trò của thành viên"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email được mời"
          }
        }
      },
      "WebSocketEvent": {
        "type": "object",
        "required": [
          "event"
        ],
        "properties": {
          "event": {
            "type": "string",
            "description": "Loại sự kiện",
            "enum": [
              "connected",
              "newMessage",
              "newRelease"
            ]
          },
          "aliasId": {
            "type": "string",
            "description": "Mã định danh bí danh (có trong sự kiện được kết nối)"
          },
          "mailbox": {
            "type": "string",
            "description": "Đường dẫn hộp thư (có trong sự kiện newMessage)",
            "example": "INBOX"
          },
          "uid": {
            "type": "integer",
            "description": "UID của thông báo (có trong sự kiện newMessage)",
            "example": 123
          },
          "release": {
            "type": "object",
            "description": "Đối tượng phát hành (có trong sự kiện newRelease)",
            "properties": {
              "tagName": {
                "type": "string",
                "description": "Tên thẻ Git của bản phát hành"
              },
              "name": {
                "type": "string",
                "description": "Tên phát hành"
              },
              "htmlUrl": {
                "type": "string",
                "description": "URL dẫn đến trang phát hành trên GitHub"
              }
            }
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Trang kết quả cần trả về. Nếu không chỉ định, giá trị sẽ là 1. Phải là một số lớn hơn hoặc bằng 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Số lượng kết quả trả về trên mỗi trang. Mặc định là 25 nếu không chỉ định. Số này phải lớn hơn hoặc bằng 1 và nhỏ hơn hoặc bằng 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Chọn tham gia phân trang trước ngày 1 tháng 11 năm 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID miền",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "ID bí danh",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID thành viên",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Địa chỉ email hoặc ID tin nhắn. Bạn có thể truyền địa chỉ email duy nhất (ví dụ: '683fbe4d5baef1b583a11e54') hoặc giá trị tiêu đề ID tin nhắn của email (ví dụ: '1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net').",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID liên hệ",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID lịch",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID thư mục hoặc đường dẫn",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID tin nhắn",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "Từ khóa IMAP được sử dụng làm định danh nhãn.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Tài khoản"
        ],
        "summary": "Lấy lại tài khoản",
        "description": "Truy xuất thông tin tài khoản của bạn.\n\n**Xác thực:** Điểm cuối này hỗ trợ cả xác thực bằng mã thông báo API và xác thực bằng thông tin đăng nhập bí danh.\n\n- **Tài khoản người dùng (Mã thông báo API):** Khi được xác thực bằng mã thông báo API của bạn, điểm cuối này sẽ trả về thông tin tài khoản người dùng của bạn, bao gồm chi tiết gói dịch vụ, email và mã thông báo API.\n\n- **Tài khoản bí danh (Thông tin đăng nhập bí danh):** Khi được xác thực bằng thông tin đăng nhập bí danh (email và mật khẩu được tạo), điểm cuối này sẽ trả về thông tin bí danh/hộp thư, bao gồm dung lượng đã sử dụng/hạn mức và một đối tượng `settings` lồng nhau (thư mục đặc biệt, cài đặt nhãn và cài đặt mặc định của bí danh). Điều này hữu ích cho các máy khách IMAP/POP3/CalDAV/CardDAV để kiểm tra trạng thái và tùy chọn lưu trữ.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Tài khoản"
        ],
        "summary": "Cập nhật tài khoản",
        "description": "Cập nhật thông tin tài khoản của bạn.\n\n- **Tài khoản người dùng (Mã thông báo API):** Cập nhật các trường thông tin hồ sơ người dùng.\n\n- **Tài khoản bí danh (Thông tin đăng nhập bí danh):** Cập nhật các cài đặt phạm vi bí danh bằng cách sử dụng đối tượng `settings` lồng nhau. Các trường phẳng cũ được chấp nhận để đảm bảo tính tương thích. Phản hồi khớp với `GET /v1/account`.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "Cài đặt bí danh (chỉ xác thực bằng bí danh)",
                    "properties": {
                      "mail": {
                        "type": "object",
                        "properties": {
                          "archive_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Thư mục lưu trữ thư bí danh"
                          },
                          "sent_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Thư mục đã gửi của Alias"
                          },
                          "drafts_folder": {
                            "type": "string",
[...]
