{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Добро пожаловать в подробную документацию по API для пересылки электронной почты. Этот API позволяет программно управлять пересылкой электронной почты, доменами, псевдонимами, исходящими письмами и другими функциями.\n\n## Основные функции\n* **Управление доменами:** Создание, извлечение, обновление, удаление и верификация доменов.\n* **Управление псевдонимами:** Управление псевдонимами электронной почты, включая создание, обновление и управление получателями.\n* **Исходящий SMTP:** Отправка писем по SMTP, управление ограничениями и отслеживание отправленных писем.\n* **Учетная запись и журналы:** Управление данными вашей учетной записи и загрузка журналов активности.\n* **Безопасность:** Шифрование TXT-записей и управление участниками/приглашениями домена.\n* **Контакты CardDAV:** Полный набор CRUD-операций для управления контактами с поддержкой vCard.\n* **Календари CalDAV:** Полное управление календарями с поддержкой часовых поясов и цветов.\n* **Сообщения IMAP/POP3:** Комплексное управление сообщениями с расширенными возможностями поиска.\n* **Папки IMAP/POP3:** Полное управление папками, включая создание, переименование и удаление.\n\n## Аутентификация\nДля большинства конечных точек требуется аутентификация с использованием вашего **ключа API**. Укажите ключ API в качестве `username` в заголовке базовой аутентификации, оставив пароль пустым.\n\n```http\nАвторизация: Базовая QVBJX1RPS0VOOg==\n```\n(Замените `API_TOKEN` на ваш фактический ключ перед кодированием в Base64)\n\nДля конечных точек, связанных с **псевдонимами контактов, календарей, сообщений и папок**, требуется сгенерированный псевдоним имени пользователя и пароля для базовой аутентификации.\n\n## Ошибки\nAPI использует стандартные коды статуса HTTP для обозначения успеха или неудачи. Ответы об ошибках включают тело JSON с полем `message`, описывающим ошибку.\n\n| Код статуса | Значение |\n|------------|---------------------|\n| 200 | OK |\n| 400 | Неверный запрос |\n| 401 | Неавторизован |\n| 403 | Запрещено |\n| 404 | Не найдено |\n| 409 | Конфликт |\n| 412 | Предварительное условие не выполнено |\n| 429 | Слишком много запросов |\n| 500 | Внутренняя ошибка сервера |\n| 501 | Не реализовано |\n| 502 | Неверный шлюз |\n| 503 | Служба недоступна |\n| 504 | Истекло время ожидания шлюза |\n\n*Если вы столкнулись с ошибкой `5xx`, свяжитесь с [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Локализация\nОтветы API переводятся на основе обнаруженных локалей пользователя или заголовка `Accept-Language`. Поддерживается более 25 языков.\n\n## Пагинация\nКонечные точки, возвращающие списки, поддерживают пагинацию через параметры запроса.\n\n| Параметр | Тип | Необязательный | Описание | По умолчанию | Ограничения |\n|-------------|---------|-----------|----------------------------------------------------------------------------|---------|--------------------|\n| `page` | Целое число | Да | Номер страницы для извлечения. | 1 | `>= 1` |\n| `limit` | Целое число | Да | Количество результатов на странице. | 25 | `>= 1`, `<= 100` |\n| `pagination` | Логическое значение | Да | Включение пагинации (требуется до 1 ноября 2024 г. для некоторых конечных точек). | false | |\n\n**Заголовки пагинации:**\n* `X-Page-Count`: Общее количество страниц.\n* `X-Page-Current`: Номер текущей страницы.\n* `X-Page-Size`: Количество элементов на текущей странице.\n* `X-Item-Count`: Общее количество элементов на всех страницах.\n* `Link`: Навигационные ссылки (предыдущая, следующая, первая, последняя).\n\n**Пример:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Рекомендуемые библиотеки\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Поддерживается пересылкой электронной почты)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "API-сервер пересылки электронной почты"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nИспользуйте свой ключ API в качестве **имени пользователя** для базовой аутентификации. Оставьте поле пароля пустым.\n\n**Пример:**\nЕсли ваш ключ API — `YOUR_API_KEY`, то значение в кодировке Base64 для заголовка `Authorization` будет выглядеть так: `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nАвторизация: Базовая WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nUse the generated **alias username and password** for Basic Authentication. This applies to endpoints under:\n*   Alias Contacts (CardDAV)\n*   Alias Calendars (CalDAV)\n*   Alias Messages (IMAP/POP3)\n*   Alias Folders (IMAP/POP3)\n*   Alias Sieve Scripts\n\n**Example:**\nIf the alias username is `alias@domain.com` and password is `GENERATED_PASSWORD`, the Base64 encoded value would be `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "SieveScript": {
        "type": "object",
        "required": [
          "id",
          "name",
          "content",
          "alias"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique script identifier"
          },
          "name": {
            "type": "string",
            "description": "Script name"
          },
          "content": {
            "type": "string",
            "description": "Sieve script content"
          },
          "alias": {
            "type": "string",
            "description": "Alias ID this script belongs to"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the script is active",
            "default": false
          },
          "priority": {
            "type": "integer",
            "description": "Script priority (lower = higher priority)",
            "default": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Метка времени создания"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Метка времени последнего обновления"
          },
          "object": {
            "type": "string",
            "example": "sieve_script"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Сообщение об ошибке"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "Предпочитаемый пользователем язык, который отменяет автоматическое определение."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Псевдоним ID"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Тип объекта"
          },
          "name": {
            "type": "string",
            "description": "Псевдоним (локальная часть адреса электронной почты)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Полный псевдоним адреса электронной почты"
          },
          "domain_id": {
            "type": "string",
            "description": "Идентификатор домена"
          },
          "domain_name": {
            "type": "string",
            "description": "Доменное имя"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Объем хранилища, используемый для этого псевдонима/почтового ящика (в байтах)"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Квота хранения в байтах для этого псевдонима/почтового ящика"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Включен ли IMAP для этого псевдонима"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Включено ли шифрование PGP"
          },
          "public_key": {
            "type": "string",
            "description": "Открытый ключ PGP (если доступен)"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Включено ли шифрование S/MIME"
          },
          "smime_certificate": {
            "type": "string",
            "description": "Сертификат S/MIME X.509 в формате PEM"
          },
          "locale": {
            "type": "string",
            "description": "Предпочтения локали"
          },
          "settings": {
            "type": "object",
            "description": "Настройки псевдонимов",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Архивная папка почты псевдонима"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Папка \"Отправленные письма\" (псевдонимы)"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Папка черновиков почты псевдонима"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "Карта псевдонимов и меток, созданная по ключевому слову.",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "Свободные значения по умолчанию для псевдонимов, такие как display_name или signature.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Метка времени создания"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Метка времени последнего обновления"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Идентификатор контакта (contact_id из CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "Контактный UID"
          },
          "full_name": {
            "type": "string",
            "description": "Полное имя контакта"
          },
          "content": {
            "type": "string",
            "description": "содержимое vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag для управления версиями"
          },
          "is_group": {
            "type": "boolean",
            "description": "Является ли контакт группой"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Массив адресов электронной почты"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Массив телефонных номеров"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Содержимое vCard (если не указано, будет сгенерировано из других полей)"
          },
          "full_name": {
            "type": "string",
            "description": "Полное имя контакта"
          },
          "contact_id": {
            "type": "string",
            "description": "Пользовательский идентификатор контакта (если не указан, будет сгенерирован автоматически)"
          },
          "uid": {
            "type": "string",
            "description": "Контактный UID (если не указан, будет сгенерирован автоматически)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Массив адресов электронной почты"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Массив телефонных номеров"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Массив телефонных номеров (псевдоним для phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Массив адресов"
          },
          "is_group": {
            "type": "boolean",
            "description": "Является ли контакт группой"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "содержимое vCard"
          },
          "full_name": {
            "type": "string",
            "description": "Полное имя контакта"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Массив адресов электронной почты"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Массив телефонных номеров"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Массив телефонных номеров (псевдоним для phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Массив адресов"
          },
          "is_group": {
            "type": "boolean",
            "description": "Является ли контакт группой"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Идентификатор календаря (calendarId из CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Название календаря"
          },
          "description": {
            "type": "string",
            "description": "Описание календаря"
          },
          "color": {
            "type": "string",
            "description": "Цвет календаря (шестнадцатеричный формат)"
          },
          "timezone": {
            "type": "string",
            "description": "Календарь часового пояса"
          },
          "order": {
            "type": "integer",
            "description": "Порядок отображения календаря"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Название календаря"
          },
          "calendar_id": {
            "type": "string",
            "description": "Пользовательский идентификатор календаря (если не указан, будет сгенерирован автоматически)"
          },
          "description": {
            "type": "string",
            "description": "Описание календаря"
          },
          "color": {
            "type": "string",
            "description": "Цвет календаря (шестнадцатеричный формат, если не указан, будет сгенерирован автоматически)"
          },
          "timezone": {
            "type": "string",
            "description": "Часовой пояс календаря (по умолчанию — часовой пояс пользователя или UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Порядок отображения календаря (по умолчанию 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Название календаря"
          },
          "description": {
            "type": "string",
            "description": "Описание календаря"
          },
          "color": {
            "type": "string",
            "description": "Цвет календаря (шестнадцатеричный формат)"
          },
          "timezone": {
            "type": "string",
            "description": "Календарь часового пояса"
          },
          "order": {
            "type": "integer",
            "description": "Порядок отображения календаря"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Идентификатор события календаря (eventId из CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "Идентификатор календаря, к которому принадлежит это событие"
          },
          "ical": {
            "type": "string",
            "description": "Данные iCalendar (RFC 5545) для события"
          },
          "summary": {
            "type": "string",
            "description": "Название/краткое описание события (извлечено из данных iCal)"
          },
          "description": {
            "type": "string",
            "description": "Описание события (извлечено из данных iCal)"
          },
          "location": {
            "type": "string",
            "description": "Место события (извлечено из данных iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Дата/время начала события (извлечено из данных iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Дата/время окончания события (извлечено из данных iCal)"
          },
          "uid": {
            "type": "string",
            "description": "Уникальный идентификатор из данных iCal"
          },
          "status": {
            "type": "string",
            "description": "Статус события (извлечен из данных iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "Организатор мероприятия (извлечено из данных iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Метка времени мягкого удаления"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Идентификатор календаря, в который нужно добавить событие"
          },
          "event_id": {
            "type": "string",
            "description": "Пользовательский идентификатор события (если не указан, будет сгенерирован автоматически)"
          },
          "ical": {
            "type": "string",
            "description": "Данные iCalendar (RFC 5545) для события. Должны быть в допустимом формате iCal."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Перенести событие в другой календарь"
          },
          "ical": {
            "type": "string",
            "description": "Обновленные данные iCalendar (RFC 5545) для события"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Идентификатор папки"
          },
          "path": {
            "type": "string",
            "description": "Полный путь к папке"
          },
          "name": {
            "type": "string",
            "description": "Имя папки (последняя часть пути)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Путь к родительской папке"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Действительность UID IMAP"
          },
          "uid_next": {
            "type": "integer",
            "description": "Следующее значение UID"
          },
          "modify_index": {
            "type": "integer",
            "description": "Индекс модификации"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Подписана ли папка"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Флаги папок"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Срок хранения сообщений"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Специальное назначение"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Путь/имя папки"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Новый путь/имя папки"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Идентификатор сообщения"
          },
          "root_id": {
            "type": "string",
            "description": "Идентификатор корневого сообщения для потоковой передачи"
          },
          "folder_id": {
            "type": "string",
            "description": "Идентификатор папки, содержащей сообщение"
          },
          "folder_path": {
            "type": "string",
            "description": "Путь к папке, содержащей сообщение"
          },
          "thread_id": {
            "type": "string",
            "description": "Идентификатор потока для группировки бесед"
          },
          "header_message_id": {
            "type": "string",
            "description": "Значение заголовка Message-ID"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Непрочитано ли сообщение"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Помечено ли сообщение"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Удалено ли сообщение"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Является ли сообщение черновиком"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Является ли сообщение спамом"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Копируется ли сообщение"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Можно ли выполнить поиск по сообщению?"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Срок действия сообщения истек"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Есть ли вложения в сообщении"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата хранения сообщения"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Внутренняя дата (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Дата из заголовков сообщения"
          },
          "subject": {
            "type": "string",
            "description": "Тема сообщения"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Флаги IMAP"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Пользовательские метки (строчные буквы, максимум 10)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "Размер сообщения в байтах"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP-UID"
          },
          "modseq": {
            "type": "integer",
            "description": "Последовательность модификации"
          },
          "transaction": {
            "type": "string",
            "description": "Тип транзакции"
          },
          "remote_address": {
            "type": "string",
            "description": "Удаленный IP-адрес"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Метка времени создания сообщения"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Метка времени последнего обновления сообщения"
          },
          "nodemailer": {
            "type": "object",
            "description": "Проанализированный объект сообщения (включен по умолчанию, установите ?nodemailer=false для исключения)"
          },
          "raw": {
            "type": "string",
            "description": "Необработанное содержимое сообщения (включено по умолчанию, установите ?raw=false, чтобы исключить)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Адрес электронной почты отправителя"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Адреса электронной почты получателей"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Адреса электронной почты получателей копий"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Адреса электронной почты получателей скрытых копий"
          },
          "subject": {
            "type": "string",
            "description": "Тема сообщения"
          },
          "text": {
            "type": "string",
            "description": "Простой текстовый контент"
          },
          "html": {
            "type": "string",
            "description": "HTML-контент"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Вложения сообщений (формат Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "Целевая папка (по умолчанию INBOX)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Флаги IMAP для установки в сообщении"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Пользовательские метки для сообщения. Может представлять собой одну строковую метку или массив меток. Метки должны начинаться с буквы, цифры, обратной косой черты или знака доллара и могут содержать буквенные обозначения, точки и дефисы. Максимальное количество меток на сообщение — 10. Метки нечувствительны к регистру и будут храниться в нижнем регистре.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Флаги IMAP для установки в сообщении"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Пользовательские метки для сообщения. Может представлять собой одну строковую метку или массив меток. Метки должны начинаться с буквы, цифры, обратной косой черты или знака доллара и могут содержать буквенные обозначения, точки и дефисы. Максимальное количество меток на сообщение — 10. Метки нечувствительны к регистру и будут храниться в нижнем регистре.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "Переместить сообщение в эту папку"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "Текущий статус электронного письма. Планирование определяется полем «дата».",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Дата в заголовке электронного письма. Если указана будущая дата (более чем на 1 минуту вперед), письмо будет храниться до этого времени. Максимальное время хранения – 30 дней с момента создания."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Указывает, требуется ли TLS для всей цепочки доставки (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Адрес электронной почты отправителя (должен существовать как псевдоним домена)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Список получателей, разделенных запятыми, или массив получателей для заголовка «Кому»."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Список получателей, разделенных запятыми, или массив получателей для заголовка «Копия»."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Список получателей, разделенных запятыми, или массив для заголовка «Скрытая копия»."
          },
          "subject": {
            "type": "string",
            "description": "Тема письма."
          },
          "text": {
            "type": "string",
            "description": "Текстовая версия сообщения."
          },
          "html": {
            "type": "string",
            "description": "HTML-версия сообщения."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Массив объектов вложений (см. общие поля Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Адрес электронной почты для заголовка «Отправитель»."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Адрес электронной почты для заголовка «Ответить»."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Идентификатор сообщения, на которое отправлено сообщение."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Список, разделенный пробелами, или массив идентификаторов сообщений."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Если значение равно true, преобразует данные: изображения в HTML-содержимом во встроенные вложения."
          },
          "watchHtml": {
            "type": "string",
            "description": "HTML-версия сообщения для Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Специфическая HTML-версия сообщения AMP4EMAIL."
          },
          "icalEvent": {
            "type": "object",
            "description": "Событие iCalendar как альтернативный контент сообщения."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Массив альтернативного содержания сообщений."
          },
          "encoding": {
            "type": "string",
            "description": "Кодировка текста и HTML-строк (например, «utf-8», «hex», «base64»)."
          },
          "raw": {
            "type": "string",
            "description": "Пользовательское сообщение в формате RFC822 (вместо использования генерации Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Для текстовых значений принудительно применяется кодировка."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Уровень приоритета электронного письма."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Объект или массив дополнительных полей заголовка."
          },
          "messageId": {
            "type": "string",
            "description": "Дополнительный Message-ID для заголовка «Message-ID»."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Необязательный заголовок даты. Если задано будущее время (более чем на 1 минуту вперед), электронное письмо будет отправлено до этого времени. Не более чем на 30 дней вперед от даты создания.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "Необязательный объект заголовков List-*."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Если это так, то для всей цепочки доставки требуется TLS (RFC 8689). Сообщение будет передаваться только по зашифрованным TLS-соединениям."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "При включении этой функции отклонять входящие электронные письма, не отправленные по протоколу TLS."
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Полное доменное имя (FQDN) или IP-адрес"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Назначить той же команде из другого домена; можно указать идентификатор домена или полное доменное имя. Для явного отключения используйте значение «none»."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Тип плана (по умолчанию «бесплатный» или текущий платный план пользователя)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Список адресов электронной почты с разделителями (запятыми, пробелами или символами новой строки)"
              }
            ],
            "description": "Создать универсальный псевдоним по умолчанию (значение по умолчанию — true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Включить защиту от контента для взрослых с помощью спам-сканера"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Включить защиту от фишинга Spam Scanner"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Включить защиту исполняемого файла Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Включить защиту от вирусов Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Требовать от получателей псевдонимов нажатия ссылки для подтверждения адреса электронной почты"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Игнорировать проверку записи MX для расширенных настроек маршрутизации почты"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Включите сохранение заголовков и метаданных (за исключением содержимого сообщений) для успешно пересланных, отправленных через вебхук, исходящих SMTP и доставленных по IMAP писем с сохранением журналов в течение 7 дней. Эта функция поможет вам отслеживать и устранять неполадки с доставкой электронной почты, предоставляя подробную информацию об успешных отправках."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Количество дней для хранения исходящих журналов SMTP (0–30, по умолчанию: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL-адрес веб-перехватчика для получения событий отказа"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Отключить веб-перехватчик отказов"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Максимальная квота хранения для псевдонима (например, «1 ГБ»)"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Пользовательский порт для настройки пересылки SMTP (по умолчанию «25»)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Включать ли защиту от контента для взрослых с помощью Spam Scanner на этом домене?"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Включать ли защиту от фишинга Spam Scanner на этом домене?"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Включать ли защиту исполняемого файла Spam Scanner на этом домене?"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Включать ли антивирусную защиту Spam Scanner на этом домене?"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Глобальное значение домена по умолчанию, определяющее, требуется ли, чтобы получатели псевдонимов нажимали ссылку для подтверждения адреса электронной почты, чтобы электронные письма проходили через него."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Игнорировать ли проверку MX-записи в домене для подтверждения (в основном для расширенных настроек маршрутизации MX)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Включите сохранение заголовков и метаданных (за исключением содержимого сообщений) для успешно пересланных, отправленных через вебхук, исходящих SMTP и доставленных по IMAP писем с сохранением журналов в течение 7 дней. Эта функция поможет вам отслеживать и устранять неполадки с доставкой электронной почты, предоставляя подробную информацию об успешных отправках."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Количество дней хранения исходящих писем SMTP (0 = немедленно очистить)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL-адрес веб-перехватчика для получения уведомлений о недоставке или значение false для отключения"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Квота хранения для каждого псевдонима (например, «1 ГБ», в байтах)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Имя псевдонима (если не указано или пусто, то генерируется случайный псевдоним)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Строка допустимых адресов электронной почты, полных доменных имен, IP-адресов или URL-адресов веб-перехватчиков, разделенных разрывами строк, пробелами или запятыми"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Массив допустимых получателей"
              }
            ],
            "description": "Список получателей. Если не указан или пуст, по умолчанию используется адрес электронной почты отправителя запроса."
          },
          "description": {
            "type": "string",
            "description": "Описание псевдонима"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Строка меток, разделенная разрывом строки/пробелом/запятой"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Массив этикеток"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Требовать от получателей нажатия ссылки подтверждения (по умолчанию установлено в настройках домена)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Включить или отключить этот псевдоним"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Код ошибки, если псевдоним отключен. По умолчанию — 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Включить или отключить хранилище IMAP для этого псевдонима"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Включить или отключить шифрование OpenPGP для этого псевдонима"
          },
          "public_key": {
            "type": "string",
            "description": "Открытый ключ OpenPGP в формате ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Включить или отключить шифрование S/MIME для этого псевдонима."
          },
          "smime_certificate": {
            "type": "string",
            "description": "Сертификат S/MIME X.509 в формате PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "Максимальная квота хранилища (например, «1 ГБ»)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Включить или отключить автоответчик"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Дата начала (например, «ГГГГ-ММ-ДД») для автоответчика"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Дата окончания (например, «ГГГГ-ММ-ДД») для автоответчика"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Тема сообщения в виде открытого текста для автоответчика"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Текстовое сообщение для автоответчика"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Псевдоним"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Строка допустимых адресов электронной почты, полных доменных имен, IP-адресов или URL-адресов веб-перехватчиков, разделенных разрывами строк, пробелами или запятыми"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Массив допустимых получателей"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Описание псевдонима"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Строка меток, разделенная разрывом строки/пробелом/запятой"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Массив этикеток"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Требовать от получателей нажатия ссылки подтверждения (по умолчанию установлено в настройках домена)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Включить или отключить псевдоним"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Код ошибки, который следует использовать, если псевдоним отключен (по умолчанию 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Включить или отключить хранилище IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Включить или отключить шифрование OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Открытый ключ OpenPGP в формате ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Включение или отключение шифрования S/MIME"
          },
          "smime_certificate": {
            "type": "string",
            "description": "Сертификат S/MIME X.509 в формате PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "Максимальная квота хранилища (например, «1 ГБ»)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Включить или отключить автоответчик"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Дата начала отпуска (например, ГГГГ-ММ-ДД)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Дата окончания отпуска (например, ГГГГ-ММ-ДД)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Тема ответа на вопрос об отпуске открытым текстом"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Текстовое сообщение автоответчика"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Ваш новый пароль для использования в качестве псевдонима"
          },
          "password": {
            "type": "string",
            "description": "Существующий пароль для псевдонима, чтобы изменить его без удаления хранилища почтового ящика"
          },
          "is_override": {
            "type": "boolean",
            "description": "Переопределить существующий пароль и удалить хранилище IMAP (использовать с осторожностью)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Адрес электронной почты для отправки пароля псевдонима и инструкций по настройке"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Текущее количество отправленных писем"
          },
          "limit": {
            "type": "integer",
            "description": "Максимально допустимое количество писем"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "Сохраненное определение поиска хранится для каждого псевдонима.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Отображаемое имя для сохраненного поиска"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Строку запроса можно использовать повторно (например, \"from:billing\")"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "Схема действий, соответствующих сочетаниям клавиш для быстрого доступа к клавишам.",
        "additionalProperties": {
          "type": "string",
          "description": "Назначение клавиш для выполнения действия (например, \"e\" для архивирования)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "Допустимые поля при обновлении определения метки.",
        "properties": {
          "name": {
            "type": "string",
            "description": "В пользовательском интерфейсе отображается удобочитаемое название метки."
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "Шестнадцатеричное значение цвета, используемое для отрисовки пользовательского интерфейса."
          },
          "hidden": {
            "type": "boolean",
            "description": "Скрыть метку в пользовательском интерфейсе, сохранив при этом ключевое слово."
          },
          "source": {
            "type": "string",
            "description": "Источник меток для фильтрации и миграции",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Идентификатор участника"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Адрес электронной почты участника"
          },
          "role": {
            "type": "string",
            "description": "Роль участника"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Приглашенный адрес электронной почты"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Страница с результатами для возврата. Если значение не указано, оно будет равно 1. Должно быть числом, большим или равным 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Количество результатов, возвращаемых на страницу. По умолчанию 25, если не указано иное. Должно быть числом больше или равно 1 и меньше или равно 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Подключить пагинацию до 1 ноября 2024 г.",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Идентификатор домена",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Псевдоним ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Идентификатор участника",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Адрес электронной почты или идентификатор сообщения. Вы можете передать либо уникальный адрес электронной почты (например, '683fbe4d5baef1b583a11e54'), либо значение заголовка Message-ID электронного письма (например, '1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net').",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Контактный идентификатор",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Идентификатор календаря",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Идентификатор папки или путь",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Идентификатор сообщения",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "Ключевое слово IMAP используется в качестве идентификатора метки.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Счет"
        ],
        "summary": "Восстановить учетную запись",
        "description": "Получите информацию о своей учетной записи.\n\n**Аутентификация:** Эта конечная точка поддерживает как аутентификацию с помощью токена API, так и аутентификацию с помощью учетных данных псевдонима.\n\n- **Учетная запись пользователя (токен API):** При аутентификации с помощью токена API эта конечная точка возвращает информацию о вашей учетной записи пользователя, включая сведения о тарифном плане, адрес электронной почты и токен API.\n\n- **Учетная запись псевдонима (учетные данные псевдонима):** При аутентификации с помощью учетных данных псевдонима (адрес электронной почты и сгенерированный пароль) эта конечная точка возвращает информацию о псевдониме/почтовом ящике, включая используемое хранилище/квоту и вложенный объект `settings` (специальные папки почты, настройки меток и значения по умолчанию для псевдонимов). Это полезно для клиентов IMAP/POP3/CalDAV/CardDAV для проверки состояния хранилища и настроек.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Счет"
        ],
        "summary": "Обновить аккаунт",
        "description": "Обновите информацию своей учетной записи.\n\n- **Учетная запись пользователя (токен API):** Обновите поля профиля пользователя.\n\n- **Псевдоним учетной записи (учетные данные псевдонима):** Обновите настройки в рамках псевдонима, используя вложенный объект `settings`. Для совместимости принимаются устаревшие плоские поля. Ответ соответствует запросу `GET /v1/account`.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "Настройки псевдонимов (только для аутентификации по псевдонимам)",
                    "properties": {
                      "mail": {
                        "type": "object",
                        "properties": {
                          "archive_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Архивная папка почты псевдонима"
                          },
                          "sent_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Папка \"Отправленные письма\" (псевдонимы)"
                          },
                          "drafts_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Папка черновиков почты псевдонима"
                          }
                        }
                      },
                      "label_settings": {
                        "type": "object",
                        "description": "Карта псевдонимов и меток, созданная по ключевому слову.",
                        "additionalProperties": {
                          "$ref": "#/components/schemas/SettingsLabelUpdate"
                        }
                      },
                      "aliases": {
                        "type": "object",
                        "properties": {
                          "defaults": {
                            "type": "object",
                            "description": "Свободные значения по умолчанию для псевдонимов, такие как display_name или signature.",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  },
                  "display_name": {
                    "type": "string",
                    "description": "Отображаемое имя"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Предпочтения локали"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Обновленный адрес электронной почты (только для аутентификации пользователя)"
                  },
                  "avatar_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL-адрес аватара (только для аутентификации пользователя)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
[...]
