{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Chào mừng bạn đến với tài liệu API toàn diện cho Forward Email. API này cho phép bạn quản lý việc chuyển tiếp email, tên miền, bí danh, email gửi đi và nhiều thứ khác theo chương trình.\n\n## Các tính năng chính\n* **Quản lý tên miền:** Tạo, truy xuất, cập nhật, xóa và xác minh tên miền.\n* **Quản lý bí danh:** Quản lý bí danh email, bao gồm việc tạo, cập nhật và quản lý người nhận.\n* **SMTP gửi đi:** Gửi email qua SMTP, quản lý giới hạn và theo dõi email đã gửi.\n* **Tài khoản & Nhật ký:** Quản lý thông tin chi tiết về tài khoản và tải xuống nhật ký hoạt động.\n* **Bảo mật:** Mã hóa bản ghi TXT và quản lý thành viên/lời mời tên miền.\n* **Sắp ra mắt:** Các tính năng như danh bạ CardDAV, lịch CalDAV và quản lý thư mục/tin nhắn IMAP/POP3 đang được lên kế hoạch.\n\n## Xác thực\nHầu hết các điểm cuối đều yêu cầu xác thực bằng **Khóa API** của bạn. Cung cấp Khóa API dưới dạng `username` trong tiêu đề Xác thực cơ bản, để trống mật khẩu.\n\n```http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(Thay thế `API_TOKEN` bằng khóa thực tế của bạn trước khi mã hóa Base64)\n\nCác điểm cuối liên quan đến **Danh bạ, Lịch, Tin nhắn và Thư mục Biệt danh** (hiện được đánh dấu là \"Sắp ra mắt\") sẽ sử dụng tên người dùng và mật khẩu biệt danh được tạo cho Xác thực cơ bản.\n\n## Lỗi\nAPI sử dụng mã trạng thái HTTP chuẩn để chỉ ra thành công hay thất bại. Phản hồi lỗi bao gồm nội dung JSON có trường `message` nêu chi tiết lỗi.\n\n| Mã trạng thái | Ý nghĩa |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Yêu cầu không hợp lệ |\n| 401 | Không được phép |\n| 403 | Bị cấm |\n| 404 | Không tìm thấy |\n| 429 | Quá nhiều yêu cầu |\n| 500 | Lỗi máy chủ nội bộ|\n| 501 | Không triển khai |\n| 502 | Cổng không hợp lệ |\n| 503 | Dịch vụ không khả dụng |\n| 504 | Hết thời gian chờ cổng |\n\n*Nếu bạn gặp lỗi `5xx`, vui lòng liên hệ [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Bản địa hóa\nPhản hồi API được dịch dựa trên ngôn ngữ được phát hiện của người dùng hoặc tiêu đề `Accept-Language`. Hơn 25 ngôn ngữ được hỗ trợ.\n\n## Phân trang\nĐiểm cuối trả về danh sách hỗ trợ phân trang thông qua các tham số truy vấn.\n\n| Tham số | Kiểu | Tùy chọn | Mô tả | Mặc định | Ràng buộc |\n|--------------|---------|----------|--------------------------------------------------------------------------------|---------|--------------------|\n| `trang` | Số nguyên | Có | Số trang cần truy xuất. | 1 | `>= 1` |\n| `limit` | Integer | Có | Số lượng kết quả trên mỗi trang. | 10 | `>= 1`, `<= 50` |\n| `pagination` | Boolean | Có | Chọn tham gia hành vi phân trang (bắt buộc trước ngày 1 tháng 11 năm 2024 đối với một số điểm cuối). | false | |\n\n**Tiêu đề phân trang:**\n* `X-Page-Count`: Tổng số trang.\n* `X-Page-Current`: Số trang hiện tại.\n* `X-Page-Size`: Số mục trên trang hiện tại.\n* `X-Item-Count`: Tổng số mục trên tất cả các trang.\n* `Link`: Liên kết điều hướng (trước, sau, đầu, cuối).\n\n**Ví dụ:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Thư viện được đề xuất\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Được duy trì bởi Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Máy chủ API Email chuyển tiếp"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nSử dụng Khóa API của bạn làm **tên người dùng** cho Xác thực cơ bản. Để trống trường mật khẩu.\n\n**Ví dụ:**\nNếu Khóa API của bạn là `YOUR_API_KEY`, giá trị được mã hóa Base64 cho tiêu đề `Authorization` sẽ là `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nSử dụng **tên người dùng và mật khẩu bí danh** đã tạo cho Xác thực cơ bản. Điều này áp dụng cho các điểm cuối trong:\n* Danh bạ bí danh (CardDAV)\n* Lịch bí danh (CalDAV)\n* Tin nhắn bí danh (IMAP/POP3)\n* Thư mục bí danh (IMAP/POP3)\n\n*(Lưu ý: Các tính năng này hiện được đánh dấu là \"Sắp ra mắt\")*\n\n**Ví dụ:**\nNếu tên người dùng bí danh là `alias@domain.com` và mật khẩu là `GENERATED_PASSWORD`, giá trị được mã hóa Base64 sẽ là `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nỦy quyền: Cơ bản YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Thông báo lỗi"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email của người gửi (phải là bí danh của tên miền)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Danh sách được phân tách bằng dấu phẩy hoặc một mảng người nhận cho tiêu đề 'Đến'."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Danh sách được phân tách bằng dấu phẩy hoặc một mảng người nhận cho tiêu đề 'Cc'."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Danh sách được phân tách bằng dấu phẩy hoặc một mảng người nhận cho tiêu đề 'Bcc'."
          },
          "subject": {
            "type": "string",
            "description": "Tiêu đề của email."
          },
          "text": {
            "type": "string",
            "description": "Phiên bản văn bản thuần túy của tin nhắn."
          },
          "html": {
            "type": "string",
            "description": "Phiên bản HTML của tin nhắn."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Một mảng các đối tượng đính kèm (xem các trường chung của Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email cho tiêu đề 'Người gửi'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email cho tiêu đề 'Trả lời'."
          },
          "inReplyTo": {
            "type": "string",
            "description": "ID tin nhắn dùng để trả lời tin nhắn."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Danh sách được phân tách bằng dấu cách hoặc một mảng ID tin nhắn."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Nếu đúng, chuyển đổi dữ liệu: hình ảnh trong nội dung HTML thành tệp đính kèm được nhúng."
          },
          "watchHtml": {
            "type": "string",
            "description": "Phiên bản HTML của tin nhắn dành riêng cho Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Phiên bản HTML dành riêng cho AMP4EMAIL của tin nhắn."
          },
          "icalEvent": {
            "type": "object",
            "description": "Sự kiện iCalendar như một nội dung tin nhắn thay thế."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Một mảng nội dung tin nhắn thay thế."
          },
          "encoding": {
            "type": "string",
            "description": "Mã hóa cho chuỗi văn bản và HTML (ví dụ: 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Tạo tin nhắn theo định dạng RFC822 tùy chỉnh (thay vì sử dụng công nghệ tạo Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Mã hóa bắt buộc phải sử dụng cho các giá trị văn bản."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Mức độ ưu tiên cho email."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Đối tượng hoặc mảng các trường tiêu đề bổ sung."
          },
          "messageId": {
            "type": "string",
            "description": "Message-ID tùy chọn cho tiêu đề 'Message-ID'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Tiêu đề Ngày tùy chọn. Không thể quá 30 ngày trong tương lai."
          },
          "list": {
            "type": "object",
            "description": "Đối tượng tùy chọn của tiêu đề List-*."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Tên miền đủ điều kiện (FQDN) hoặc địa chỉ IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Chỉ định cho cùng một nhóm từ một miền khác; có thể là ID miền hoặc FQDN. Sử dụng \"none\" để tắt rõ ràng."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Loại gói (mặc định là 'miễn phí' hoặc gói trả phí hiện tại của người dùng)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Danh sách phân cách các địa chỉ email (phân cách bằng dấu phẩy, dấu cách hoặc dòng mới)"
              }
            ],
            "description": "Tạo một bí danh bắt tất cả mặc định (mặc định là true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Bật tính năng bảo vệ nội dung người lớn của Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Bật chức năng bảo vệ chống lừa đảo của Spam Scanner"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Bật chức năng bảo vệ thực thi của Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Bật chế độ bảo vệ chống vi-rút của Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Yêu cầu người nhận bí danh nhấp vào liên kết xác minh email"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Bỏ qua kiểm tra bản ghi MX cho các thiết lập định tuyến thư nâng cao"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Số ngày lưu giữ nhật ký SMTP gửi đi (0–30, mặc định: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL webhook để nhận sự kiện trả lại"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Vô hiệu hóa webhook trả lại"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Hạn ngạch lưu trữ tối đa cho mỗi bí danh (ví dụ: '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Cổng tùy chỉnh để cấu hình chuyển tiếp SMTP (mặc định là '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Có nên bật tính năng bảo vệ nội dung người lớn của Spam Scanner trên miền này không"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Có nên bật tính năng bảo vệ chống lừa đảo Spam Scanner trên miền này không"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Có nên bật chức năng bảo vệ thực thi Spam Scanner trên miền này không"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Có nên bật tính năng bảo vệ chống vi-rút Spam Scanner trên miền này không"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Mặc định của miền toàn cầu về việc có yêu cầu người nhận bí danh nhấp vào liên kết xác minh email để email có thể chạy qua hay không"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Có nên bỏ qua việc kiểm tra bản ghi MX trên miền để xác minh hay không (chủ yếu đối với các thiết lập định tuyến MX nâng cao)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Số ngày lưu trữ email SMTP gửi đi (0 = xóa ngay lập tức)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL webhook để nhận thông báo trả lại hoặc false để vô hiệu hóa"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Hạn ngạch lưu trữ cho mỗi bí danh (ví dụ: '1 GB', được phân tích thành byte)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tên bí danh (nếu không cung cấp hoặc để trống, thì một bí danh ngẫu nhiên sẽ được tạo)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chuỗi địa chỉ email hợp lệ, FQDN, IP hoặc URL webhook được phân tách bằng dấu ngắt dòng/dấu cách/dấu phẩy"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Mảng người nhận hợp lệ"
              }
            ],
            "description": "Danh sách người nhận. Nếu không được cung cấp hoặc để trống, mặc định là email của người yêu cầu"
          },
          "description": {
            "type": "string",
            "description": "Mô tả bí danh"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chuỗi nhãn được phân tách bằng dấu ngắt dòng/dấu cách/dấu phẩy"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Mảng nhãn"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Yêu cầu người nhận nhấp vào liên kết xác minh (mặc định là cài đặt tên miền)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Có nên bật hay tắt bí danh này không"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Mã lỗi nếu bí danh bị vô hiệu hóa. Mặc định là 250"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Bật hoặc tắt lưu trữ IMAP cho bí danh này"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Bật hoặc tắt mã hóa OpenPGP cho bí danh này"
          },
          "public_key": {
            "type": "string",
            "description": "Khóa công khai OpenPGP ở định dạng ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Hạn ngạch lưu trữ tối đa (ví dụ: '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Bật hoặc tắt chế độ trả lời tự động"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Ngày bắt đầu (ví dụ: 'YYYY-MM-DD') cho người trả lời tự động"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Ngày kết thúc (ví dụ: 'YYYY-MM-DD') cho người trả lời tự động"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Tiêu đề văn bản thuần túy cho người trả lời tự động"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Tin nhắn văn bản thuần túy cho người trả lời kỳ nghỉ"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tên bí danh"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chuỗi địa chỉ email hợp lệ, FQDN, IP hoặc URL webhook được phân tách bằng dấu ngắt dòng/dấu cách/dấu phẩy"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Mảng người nhận hợp lệ"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Mô tả bí danh"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chuỗi nhãn được phân tách bằng dấu ngắt dòng/dấu cách/dấu phẩy"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Mảng nhãn"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Yêu cầu người nhận nhấp vào liên kết xác minh (mặc định là cài đặt tên miền)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Bật hoặc tắt bí danh"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Mã lỗi sử dụng nếu bí danh bị vô hiệu hóa (mặc định là 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Bật hoặc tắt lưu trữ IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Bật hoặc tắt mã hóa OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Khóa công khai OpenPGP ở định dạng ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Hạn ngạch lưu trữ tối đa (ví dụ: '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Bật hoặc tắt chế độ trả lời tự động"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Ngày bắt đầu trả lời khi nghỉ phép (ví dụ: YYYY-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Ngày kết thúc trả lời tự động (ví dụ: YYYY-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Chủ đề văn bản thuần túy của người trả lời kỳ nghỉ"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Tin nhắn văn bản thuần túy của người trả lời kỳ nghỉ"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Mật khẩu mới tùy chỉnh của bạn để sử dụng cho bí danh"
          },
          "password": {
            "type": "string",
            "description": "Mật khẩu hiện tại cho bí danh để thay đổi mà không xóa bộ nhớ hộp thư"
          },
          "is_override": {
            "type": "boolean",
            "description": "Ghi đè mật khẩu hiện tại và xóa bộ nhớ IMAP (sử dụng thận trọng)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email để gửi mật khẩu bí danh và hướng dẫn thiết lập"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Số lượng email hiện tại đã gửi"
          },
          "limit": {
            "type": "integer",
            "description": "Số lượng email tối đa được phép"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID thành viên"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email của thành viên"
          },
          "role": {
            "type": "string",
            "description": "Vai trò của thành viên"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Địa chỉ email được mời"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Trang kết quả trả về. Nếu không chỉ định, giá trị sẽ là 1. Phải là số lớn hơn hoặc bằng 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Số lượng kết quả trả về trên mỗi trang. Mặc định là 10 nếu không chỉ định. Phải là số lớn hơn hoặc bằng 1 và nhỏ hơn hoặc bằng 50.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Chọn tham gia phân trang trước ngày 1 tháng 11 năm 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID miền",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "ID Bí danh",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID thành viên",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Mã số Email",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "Tạo tài khoản",
        "description": "Tạo một tài khoản người dùng mới",
        "tags": [
          "Tài khoản"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Địa chỉ email"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Mật khẩu"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "Lấy lại tài khoản",
        "description": "Lấy thông tin tài khoản của người dùng hiện tại",
        "tags": [
          "Tài khoản"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Cập nhật tài khoản",
        "description": "Cập nhật thông tin tài khoản người dùng hiện tại",
        "tags": [
          "Tài khoản"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Địa chỉ email"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "Tên đầu tiên"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "Họ"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Liên kết đến hình ảnh đại diện"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "Tải xuống nhật ký",
        "description": "**Tải xuống nhật ký**\n\nMô tả: API của chúng tôi cho phép bạn tải xuống nhật ký cho tài khoản của mình theo chương trình. Gửi yêu cầu đến điểm cuối này sẽ xử lý tất cả nhật ký cho tài khoản của bạn và gửi qua email cho bạn dưới dạng tệp đính kèm (tệp bảng tính CSV được nén Gzip) sau khi hoàn tất.\n\nĐiều này cho phép bạn tạo các tác vụ nền bằng tác vụ Cron hoặc sử dụng phần mềm lập lịch tác vụ Node.js Bree để nhận nhật ký bất cứ khi nào bạn muốn. Lưu ý rằng điểm cuối này bị giới hạn ở `10` yêu cầu mỗi ngày.\n\nTệp đính kèm là dạng chữ thường của `email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz` và bản thân email có chứa bản tóm tắt ngắn gọn về các nhật ký đã truy xuất.",
        "tags": [
          "Nhật ký"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Lọc nhật ký theo tên miền đủ điều kiện (\"FQDN\"). Nếu không được cung cấp, tất cả nhật ký trên tất cả các tên miền sẽ được truy xuất.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Tìm kiếm nhật ký theo email, tên miền, tên bí danh, địa chỉ IP hoặc ngày (định dạng M/Y, M/D/YY, M-D, M-D-YY hoặc M.D.YY).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "Tìm kiếm nhật ký theo danh mục trả lại cụ thể (ví dụ: \"danh sách chặn\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "Tìm kiếm nhật ký theo mã phản hồi lỗi cụ thể (ví dụ: 421 hoặc 550).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Liệt kê các email SMTP gửi đi",
        "description": "**Liệt kê email SMTP gửi đi**\n\nLưu ý rằng điểm cuối này không trả về giá trị thuộc tính cho `message`, `headers` hoặc `rejectedErrors` của email.\n\nĐể trả về các thuộc tính đó và giá trị của chúng, vui lòng sử dụng điểm cuối [Retrieve email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) với ID email.",
        "tags": [
          "Email"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Tìm kiếm email theo siêu dữ liệu.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Tìm kiếm email theo tên miền.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sắp xếp theo một trường cụ thể (thêm tiền tố là dấu gạch nối đơn - để sắp xếp theo hướng ngược lại của trường đó). Mặc định là created_at nếu không được đặt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Xem Phân trang để biết thêm thông tin chi tiết.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Xem Phân trang để biết thêm thông tin chi tiết.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Tạo email SMTP gửi đi",
        "description": "API của chúng tôi để tạo email được lấy cảm hứng từ và tận dụng cấu hình tùy chọn tin nhắn của Nodemailer. Vui lòng tham khảo [Cấu hình tin nhắn của Nodemailer](https://nodemailer.com/message/) cho tất cả các tham số nội dung bên dưới.\n\nLưu ý rằng ngoại trừ `envelope` và `dkim` (vì chúng tôi tự động đặt những tùy chọn này cho bạn), chúng tôi hỗ trợ tất cả các tùy chọn của Nodemailer. Chúng tôi tự động đặt các tùy chọn `disableFileAccess` và `disableUrlAccess` thành `true` vì mục đích bảo mật.\n\nBạn nên truyền tùy chọn duy nhất là `raw` với email đầy đủ thô của mình bao gồm cả tiêu đề hoặc truyền các tùy chọn tham số nội dung riêng lẻ bên dưới.\n\nĐiểm cuối API này sẽ tự động mã hóa biểu tượng cảm xúc cho bạn nếu chúng được tìm thấy trong tiêu đề (ví dụ: dòng chủ đề `Subject: 🤓 Hello` sẽ tự động được chuyển đổi thành `Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello`). Mục tiêu của chúng tôi là tạo ra một API email cực kỳ thân thiện với nhà phát triển và dễ sử dụng.",
        "tags": [
          "Email"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "Nhận giới hạn email SMTP gửi đi",
        "description": "Đây là điểm cuối đơn giản trả về đối tượng JSON chứa `count` và `limit` cho số lượng tin nhắn SMTP gửi đi hàng ngày trên mỗi tài khoản.",
        "tags": [
          "Email"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "Lấy email SMTP gửi đi",
        "description": "Lấy một email SMTP gửi đi cụ thể.",
        "tags": [
          "Email"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Xóa email SMTP gửi đi",
        "description": "Việc xóa email sẽ đặt trạng thái thành `\"bị từ chối\"` (và sau đó không xử lý email trong hàng đợi) nếu và chỉ nếu trạng thái hiện tại là một trong những trạng thái `\"đang chờ xử lý\"`, `\"đang xếp hàng\"` hoặc `\"bị hoãn lại\"`. Chúng tôi có thể tự động xóa email sau 30 ngày kể từ khi email được tạo và/hoặc gửi – do đó, bạn nên giữ một bản sao email SMTP gửi đi trong máy khách, cơ sở dữ liệu hoặc ứng dụng của mình. Bạn có thể tham chiếu giá trị ID email của chúng tôi trong cơ sở dữ liệu của mình nếu muốn – giá trị này được trả về từ cả hai điểm cuối [Tạo email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email) và [Lấy email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email).",
        "tags": [
          "Email"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "Danh sách tên miền",
        "description": "> [!NOTE]\n>Kể từ ngày 1 tháng 11 năm 2024, các điểm cuối API cho miền Danh sách và bí danh miền Danh sách sẽ mặc định là `1000` kết quả tối đa trên mỗi trang. Nếu bạn muốn chọn tham gia hành vi này sớm, bạn có thể truyền `?paginate=true` làm tham số chuỗi truy vấn bổ sung cho URL cho truy vấn điểm cuối. Xem Phân trang để biết thêm thông tin chi tiết.",
        "tags": [
          "Tên miền"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Tìm kiếm tên miền theo siêu dữ liệu.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Tìm kiếm tên miền theo tên miền.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sắp xếp theo một trường cụ thể (thêm tiền tố là dấu gạch nối đơn - để sắp xếp theo hướng ngược lại của trường đó). Mặc định là created_at nếu không được đặt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Xem Phân trang để biết thêm thông tin chi tiết.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Xem Phân trang để biết thêm thông tin chi tiết.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Tạo tên miền",
        "description": "Tạo một miền mới trong hệ thống. Điểm cuối này cho phép bạn đăng ký tên miền đủ điều kiện (FQDN) hoặc địa chỉ IP để sử dụng với nền tảng.\n\nCác tùy chọn cấu hình tùy chọn bao gồm chỉ định miền cho một nhóm hiện có, thiết lập loại gói (ví dụ: miễn phí, bảo vệ nâng cao hoặc nhóm) và cấu hình các biện pháp bảo vệ nâng cao như lọc thư rác, quét vi-rút và xác minh người nhận. Bạn cũng có thể cấu hình xem có nên tạo bí danh catch-all theo mặc định hay không, thiết lập URL webhook trả lại tùy chỉnh cho lỗi SMTP và xác định giới hạn hạn ngạch lưu trữ cho các bí danh email trên miền này. Điểm cuối này thực hiện xác thực và cung cấp cấp miền. Nếu tùy chọn `ignore_mx_check` được bật, xác minh bản ghi MX sẽ bị bỏ qua (chỉ được khuyến nghị cho các thiết lập định tuyến nâng cao). Phản hồi sẽ chứa đầy đủ thông tin chi tiết về đối tượng miền đã tạo, bao gồm các bản ghi DNS cần thiết để cấu hình.",
        "tags": [
          "Tên miền"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Lấy lại tên miền",
        "description": "Lấy lại một tên miền cụ thể",
        "tags": [
          "Tên miền"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Cập nhật tên miền",
        "description": "Cập nhật một tên miền cụ thể.",
        "tags": [
          "Tên miền"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Xóa tên miền",
        "description": "Xóa một tên miền cụ thể.",
        "tags": [
          "Tên miền"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Xác minh hồ sơ tên miền",
        "description": "Xác minh bản ghi DNS cho một tên miền cụ thể.",
        "tags": [
          "Tên miền"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "Xác minh bản ghi SMTP của miền",
        "description": "Xác minh các bản ghi DNS liên quan đến SMTP cho tên miền đã chỉ định.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "Tên miền"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Tên miền đủ điều kiện (FQDN) để xác minh",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "Tạo mật khẩu bắt tất cả trên toàn miền",
        "description": "Tạo mật khẩu bắt tất cả trên toàn miền. Nếu không cung cấp mật khẩu, mật khẩu ngẫu nhiên an toàn sẽ được tạo.",
        "tags": [
          "Tên miền"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tên miền để tạo mật khẩu bắt tất cả cho"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "Mật khẩu mới tùy chỉnh của bạn để sử dụng cho mật khẩu bắt tất cả trên toàn miền. Để trống để tạo mật khẩu mạnh."
                  },
                  "description": {
                    "type": "string",
                    "description": "Mô tả chỉ nhằm mục đích tổ chức."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Liệt kê mật khẩu bắt tất cả trên toàn miền",
        "description": "Trả về danh sách các mật khẩu chung cho toàn miền hiện đang được cấu hình cho miền đã chỉ định.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "Tên miền"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Tên miền đủ điều kiện (FQDN) để liệt kê mật khẩu bắt buộc",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "Xóa mật khẩu bắt tất cả trên toàn miền",
        "description": "Xóa mật khẩu chung cho toàn miền bằng ID mã thông báo được cung cấp.",
        "tags": [
          "Tên miền"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tên miền liên quan đến mật khẩu bắt tất cả"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã thông báo ID của mật khẩu bắt tất cả trên toàn miền để xóa"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Chấp nhận lời mời tên miền",
        "description": "Chấp nhận lời mời vào tên miền.",
        "tags": [
          "Lời mời"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Tạo lời mời tên miền",
        "description": ">[!IMPORTANT]\n>Nếu người dùng được mời đã là thành viên được chấp nhận của bất kỳ miền nào khác mà quản trị viên mời họ là thành viên, thì nó sẽ tự động chấp nhận lời mời và không gửi email.",
        "tags": [
          "Lời mời"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Địa chỉ email để mời vào danh sách thành viên miền"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "Nhóm để thêm người dùng vào tư cách thành viên miền (có thể là một trong `\"admin\"` hoặc `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Xóa lời mời tên miền",
        "description": "Xóa lời mời tham gia tên miền.",
        "tags": [
          "Lời mời"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Địa chỉ email cần xóa khỏi danh sách thành viên miền"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "Cập nhật thành viên miền",
        "description": "Cập nhật thành viên miền.",
        "tags": [
          "Thành viên"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "Nhóm để cập nhật người dùng lên thành viên miền (có thể là một trong `\"admin\"` hoặc `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Xóa thành viên miền",
        "description": "Xóa thành viên miền.",
        "tags": [
          "Thành viên"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "Tạo mật khẩu bí danh",
        "description": "Tạo mật khẩu cho bí danh. Nếu `emailed_instructions` không được cung cấp, phản hồi sẽ chứa tên người dùng và mật khẩu đã tạo.",
        "tags": [
          "Bí danh"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tên miền đủ điều kiện (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã định danh duy nhất của bí danh"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Liệt kê các bí danh tên miền",
        "description": ">[!NOTE]\n>Kể từ ngày 1 tháng 11 năm 2024, các điểm cuối API cho `Danh sách miền` và `Danh sách bí danh miền` sẽ mặc định là `1000` kết quả tối đa trên mỗi trang. Nếu bạn muốn chọn tham gia hành vi này sớm, bạn có thể truyền `?paginate=true` làm tham số chuỗi truy vấn bổ sung cho URL cho truy vấn điểm cuối. Xem Phân trang để biết thêm thông tin chi tiết.",
        "tags": [
          "Bí danh"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Tìm kiếm bí danh trong một miền theo tên, nhãn hoặc người nhận (RegExp hỗ trợ)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Tìm kiếm bí danh trong một miền theo tên (RegExp hỗ trợ)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Tìm kiếm bí danh trong một miền theo người nhận (RegExp được hỗ trợ)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sắp xếp theo một trường cụ thể (thêm tiền tố bằng dấu gạch nối đơn - để sắp xếp ngược lại). Mặc định là created_at.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Tạo bí danh tên miền mới",
        "description": "Tạo bí danh mới cho một tên miền cụ thể.",
        "tags": [
          "Bí danh"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "Lấy lại bí danh tên miền",
        "description": "Lấy bí danh cụ thể cho một tên miền.",
        "tags": [
          "Bí danh"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Cập nhật bí danh tên miền",
        "description": "Cập nhật bí danh cụ thể cho một miền.",
        "tags": [
          "Bí danh"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Xóa bí danh tên miền",
        "description": "Xóa bí danh cụ thể cho một tên miền.",
        "tags": [
          "Bí danh"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "Mã hóa bản ghi TXT",
        "description": "Chúng tôi cho phép bạn mã hóa hồ sơ ngay cả trên gói miễn phí mà không mất phí. Quyền riêng tư không phải là một tính năng, mà nó phải được tích hợp sẵn trong mọi khía cạnh của sản phẩm. Theo yêu cầu cao trong [thảo luận về Hướng dẫn về quyền riêng tư](https://discuss.privacyguides.net/t/forward-email-email-provider/13370) và trên [các vấn đề GitHub](https://github.com/forwardemail/forwardemail.net/issues/254) của chúng tôi, chúng tôi đã thêm điều này.",
        "tags": [
          "Mã hóa"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "Bất kỳ bản ghi TXT văn bản thuần túy Chuyển tiếp Email hợp lệ nào"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "Liệt kê danh bạ",
        "description": "Liệt kê tất cả các địa chỉ liên hệ (CardDAV). Điểm cuối này sẽ sớm ra mắt.",
        "tags": [
          "Liên hệ bí danh"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Tạo liên hệ",
        "description": "Tạo một liên hệ mới (CardDAV). Điểm cuối này sẽ sớm ra mắt.",
        "tags": [
          "Liên hệ bí danh"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID liên hệ",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Lấy lại liên lạc",
        "description": "Truy xuất một liên hệ cụ thể (CardDAV). Điểm cuối này sẽ sớm ra mắt.",
        "tags": [
          "Liên hệ bí danh"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Cập nhật liên hệ",
        "description": "Cập nhật một liên hệ cụ thể (CardDAV). Điểm cuối này sẽ sớm ra mắt.",
        "tags": [
          "Liên hệ bí danh"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Xóa liên lạc",
        "description": "Xóa một liên hệ cụ thể (CardDAV). Điểm cuối này sẽ sớm ra mắt.",
        "tags": [
          "Liên hệ bí danh"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "summary": "Danh sách lịch",
[...]
