{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />欢迎使用“转发邮件”的全面 API 文档。此 API 允许您以编程方式管理邮件转发、域名、别名、外发邮件等。\n\n## 主要功能\n* **域名管理**：创建、检索、更新、删除和验证域名。\n* **别名管理**：管理邮件别名，包括创建、更新和收件人管理。\n* **外发 SMTP 邮件**：通过 SMTP 发送电子邮件、管理限制并跟踪已发送邮件。\n* **账户和日志**：管理您的账户详情并下载活动日志。\n* **安全性**：加密 TXT 记录并管理域名成员/邀请。\n* **CardDAV 联系人**：支持 vCard 的联系人管理的完整 CRUD 操作。\n* **CalDAV 日历**：提供完整的日历管理功能，并支持时区和颜色。\n* **IMAP/POP3 消息**：提供全面的消息管理功能，并具备高级搜索功能。\n* **IMAP/POP3 文件夹**：提供完整的文件夹管理功能，包括创建、重命名和删除文件夹。\n\n## 身份验证\n大多数端点需要使用您的**API 密钥**进行身份验证。请在基本身份验证标头中将 API 密钥作为“用户名”提供，密码留空。\n\n```http\n授权：基本 QVBJX1RPS0VOOg==\n```\n（在 Base64 编码之前，请将“API_TOKEN”替换为您的实际密钥）\n\n与**别名联系人、日历、消息和文件夹**相关的端点需要生成别名用户名和密码才能进行基本身份验证。\n\n## 错误\nAPI 使用标准 HTTP 状态代码来指示成功或失败。错误响应包含一个 JSON 正文，其中包含一个详细说明错误的“message”字段。\n\n| 状态码 | 含义 |\n|-------------|---------------------|\n| 200 | 正常 |\n| 400 | 错误请求 |\n| 401 | 未授权 |\n| 403 | 禁止访问 |\n| 404 | 未找到 |\n| 409 | 冲突 |\n| 412 | 前提条件不满足 |\n| 429 | 请求过多 |\n| 500 | 内部服务器错误 |\n| 501 | 未实现 |\n| 502 | 网关错误 |\n| 503 | 服务不可用 |\n| 504 | 网关超时 |\n\n*如果您遇到 `5xx` 错误，请联系 [api@forwardemail.net](mailto:api@forwardemail.net)。*\n\n## 本地化\nAPI 响应会根据用户检测到的语言环境或 `Accept-Language` 标头进行翻译。支持超过 25 种语言。\n\n## 分页\n返回列表的端点支持通过查询参数进行分页。\n\n| 参数 | 类型 | 可选 | 描述 | 默认值 | 约束 |\n|-----------|---------|----------|----------------------------------------------------------------------------|---------|--------------------|\n| `page` | 整数 | 是 | 要检索的页码。| 1 | `>= 1` |\n| `limit` | 整数 | 是 | 每页结果数。| 10 | `>= 1`, `<= 50` |\n| `pagination` | 布尔值 | 是 |选择启用分页行为（某些端点需要在 2024 年 11 月 1 日之前启用）。| false | |\n\n**分页标题**\n* `X-Page-Count`：总页数。\n* `X-Page-Current`：当前页码。\n* `X-Page-Size`：当前页面上的项目数。\n* `X-Item-Count`：所有页面上的项目总数。\n* `Link`：导航链接（上一页、下一页、第一页、最后一页）。\n\n**示例：**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## 推荐库\n* **Ruby：** [Faraday](https://github.com/lostisland/faraday)\n* **Python：** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java：** [OkHttp](https://square.github.io/okhttp/)\n* **PHP：** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js：** [superagent](https://github.com/visionmedia/superagent)（由 Forward Email 维护）\n* **Go：** `net/http`\n* **.NET：** RestSharp",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "转发电子邮件 API 服务器"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\n使用您的 API 密钥作为基本身份验证的**用户名**。密码字段请留空。\n\n**示例：**\n如果您的 API 密钥是“YOUR_API_KEY”，则“Authorization”标头的 Base64 编码值应为“echo -n \"YOUR_API_KEY:\" | base64”。\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\n使用生成的**别名用户名和密码**进行基本身份验证。这适用于以下终端：\n* 别名联系人 (CardDAV)\n* 别名日历 (CalDAV)\n* 别名邮件 (IMAP/POP3)\n* 别名文件夹 (IMAP/POP3)\n\n**示例：**\n如果别名用户名为 `alias@domain.com`，密码为 `GENERATED_PASSWORD`，则 Base64 编码值为 `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`。\n\n```http\n授权：基本 YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "错误信息"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "联系人 ID（来自 CardDAV 的 contact_id）"
          },
          "uid": {
            "type": "string",
            "description": "联系 UID"
          },
          "full_name": {
            "type": "string",
            "description": "联系人的全名"
          },
          "content": {
            "type": "string",
            "description": "vCard 内容"
          },
          "etag": {
            "type": "string",
            "description": "用于版本控制的 ETag"
          },
          "is_group": {
            "type": "boolean",
            "description": "联系人是否属于群组"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电子邮件地址数组"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电话号码数组"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard 内容（若未提供，将从其他字段生成）"
          },
          "full_name": {
            "type": "string",
            "description": "联系人的全名"
          },
          "contact_id": {
            "type": "string",
            "description": "自定义联系人 ID（如果未提供，将自动生成）"
          },
          "uid": {
            "type": "string",
            "description": "联系人 UID（如未提供，将自动生成）"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电子邮件地址数组"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电话号码数组"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电话号码数组（phone_numbers 的别名）"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "地址数组"
          },
          "is_group": {
            "type": "boolean",
            "description": "联系人是否属于群组"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard 内容"
          },
          "full_name": {
            "type": "string",
            "description": "联系人的全名"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电子邮件地址数组"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电话号码数组"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "电话号码数组（phone_numbers 的别名）"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "地址数组"
          },
          "is_group": {
            "type": "boolean",
            "description": "联系人是否属于群组"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "日历 ID（来自 CalDAV 的 calendarId）"
          },
          "name": {
            "type": "string",
            "description": "日历名称"
          },
          "description": {
            "type": "string",
            "description": "日历描述"
          },
          "color": {
            "type": "string",
            "description": "日历颜色（十六进制格式）"
          },
          "timezone": {
            "type": "string",
            "description": "日历时区"
          },
          "order": {
            "type": "integer",
            "description": "日历显示顺序"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "日历名称"
          },
          "calendar_id": {
            "type": "string",
            "description": "自定义日历 ID（如果未提供，将自动生成）"
          },
          "description": {
            "type": "string",
            "description": "日历描述"
          },
          "color": {
            "type": "string",
            "description": "日历颜色（十六进制格式，若未提供，将自动生成）"
          },
          "timezone": {
            "type": "string",
            "description": "日历时区（默认为用户时区或 UTC）"
          },
          "order": {
            "type": "integer",
            "description": "日历显示顺序（默认为0）"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "日历名称"
          },
          "description": {
            "type": "string",
            "description": "日历描述"
          },
          "color": {
            "type": "string",
            "description": "日历颜色（十六进制格式）"
          },
          "timezone": {
            "type": "string",
            "description": "日历时区"
          },
          "order": {
            "type": "integer",
            "description": "日历显示顺序"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "文件夹 ID"
          },
          "path": {
            "type": "string",
            "description": "完整文件夹路径"
          },
          "name": {
            "type": "string",
            "description": "文件夹名称（路径的最后一部分）"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "父文件夹路径"
          },
          "uid_validity": {
            "type": "integer",
            "description": "IMAP UID 有效性"
          },
          "uid_next": {
            "type": "integer",
            "description": "下一个 UID 值"
          },
          "modify_index": {
            "type": "integer",
            "description": "修改索引"
          },
          "subscribed": {
            "type": "boolean",
            "description": "文件夹是否已订阅"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "文件夹标志"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "消息保留期"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "特殊用途指定"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "文件夹路径/名称"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "新文件夹路径/名称"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "消息 ID"
          },
          "root_id": {
            "type": "string",
            "description": "线程的根消息 ID"
          },
          "folder_id": {
            "type": "string",
            "description": "包含邮件的文件夹 ID"
          },
          "folder_path": {
            "type": "string",
            "description": "包含消息的文件夹路径"
          },
          "thread_id": {
            "type": "string",
            "description": "会话分组的线程 ID"
          },
          "header_message_id": {
            "type": "string",
            "description": "Message-ID 标头值"
          },
          "is_unread": {
            "type": "boolean",
            "description": "消息是否未读"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "消息是否被标记"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "是否删除消息"
          },
          "is_draft": {
            "type": "boolean",
            "description": "消息是否为草稿"
          },
          "is_junk": {
            "type": "boolean",
            "description": "邮件是否为垃圾邮件"
          },
          "is_copied": {
            "type": "boolean",
            "description": "是否复制消息"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "消息是否可以搜索"
          },
          "is_expired": {
            "type": "boolean",
            "description": "消息是否过期"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "邮件是否带有附件"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "消息保留日期"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "内部日期（IMAP）"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "邮件标题中的日期"
          },
          "subject": {
            "type": "string",
            "description": "消息主题"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP 标志"
          },
          "size": {
            "type": "integer",
            "description": "消息大小（以字节为单位）"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP UID"
          },
          "modseq": {
            "type": "integer",
            "description": "修改顺序"
          },
          "transaction": {
            "type": "string",
            "description": "交易类型"
          },
          "remote_address": {
            "type": "string",
            "description": "远程 IP 地址"
          },
          "nodemailer": {
            "type": "object",
            "description": "解析的消息对象（默认包含，设置 ?nodemailer=false 为排除）"
          },
          "raw": {
            "type": "string",
            "description": "原始消息内容（默认包含，设置 ?raw=false 以排除）"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "发件人电子邮件地址"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "收件人电子邮件地址"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "抄送收件人电子邮件地址"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "密件抄送收件人电子邮件地址"
          },
          "subject": {
            "type": "string",
            "description": "消息主题"
          },
          "text": {
            "type": "string",
            "description": "纯文本内容"
          },
          "html": {
            "type": "string",
            "description": "HTML 内容"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "消息附件（Nodemailer 格式）"
          },
          "folder": {
            "type": "string",
            "description": "目标文件夹（默认为 INBOX）"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "要在邮件上设置的 IMAP 标志"
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "要在邮件上设置的 IMAP 标志"
          },
          "folder": {
            "type": "string",
            "description": "将邮件移动到此文件夹"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "发件人的电子邮件地址（必须作为域的别名存在）。"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "“收件人”标头的收件人逗号分隔列表或数组。"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "“抄送”标头的收件人逗号分隔列表或数组。"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "“密件抄送”标头的收件人逗号分隔列表或数组。"
          },
          "subject": {
            "type": "string",
            "description": "电子邮件的主题。"
          },
          "text": {
            "type": "string",
            "description": "消息的纯文本版本。"
          },
          "html": {
            "type": "string",
            "description": "消息的 HTML 版本。"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "附件对象数组（参见 Nodemailer 的常用字段）。"
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "“发件人”标头的电子邮件地址。"
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "“回复”标题的电子邮件地址。"
          },
          "inReplyTo": {
            "type": "string",
            "description": "该消息所回复的消息 ID。"
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "以空格分隔的消息 ID 列表或数组。"
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "如果为真，则将数据：HTML 内容中的图像转换为嵌入的附件。"
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch 特定的 HTML 版本消息。"
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL 消息的特定 HTML 版本。"
          },
          "icalEvent": {
            "type": "object",
            "description": "iCalendar 事件作为替代消息内容。"
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "备选消息内容的数组。"
          },
          "encoding": {
            "type": "string",
            "description": "文本和 HTML 字符串的编码（例如“utf-8”、“hex”、“base64”）。"
          },
          "raw": {
            "type": "string",
            "description": "自定义生成 RFC822 格式的消息（而不是使用 Nodemailer 生成）。"
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "强制对文本值使用编码。"
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "电子邮件的优先级。"
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "附加标头字段的对象或数组。"
          },
          "messageId": {
            "type": "string",
            "description": "“Message-ID”标头的可选 Message-ID。"
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "可选的日期标题。不能超过未来 30 天。"
          },
          "list": {
            "type": "object",
            "description": "List-* 标题的可选对象。"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "完全限定域名 (FQDN) 或 IP 地址"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "分配给来自其他域的同一团队；可以是域 ID 或 FQDN。使用“none”可明确禁用。"
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "计划类型（默认为“免费”或用户当前的付费计划）"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "电子邮件地址的分隔列表（以逗号、空格或换行符分隔）"
              }
            ],
            "description": "创建默认的 catch-all 别名（默认为 true）"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "启用垃圾邮件扫描程序成人内容保护"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "启用垃圾邮件扫描程序网络钓鱼防护"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "启用垃圾邮件扫描程序可执行保护"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "启用垃圾邮件扫描程序病毒防护"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "要求别名收件人点击电子邮件验证链接"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "忽略高级邮件路由设置的 MX 记录检查"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "保留出站 SMTP 日志的天数（0-30，默认值：0）"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "用于接收退回事件的 Webhook URL"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "禁用反弹 webhook"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "每个别名的最大存储配额（例如“1 GB”）"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "用于配置 SMTP 转发的自定义端口（默认为“25”）"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "是否在此域上启用垃圾邮件扫描程序成人内容保护"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "是否在此域上启用垃圾邮件扫描程序钓鱼保护"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "是否在此域上启用垃圾邮件扫描程序可执行保护"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "是否在此域上启用垃圾邮件扫描程序病毒防护"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "全局域默认是否要求别名收件人单击电子邮件验证链接才能让电子邮件流过"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "是否忽略域名上的 MX 记录检查以进行验证（主要用于高级 MX 路由设置）"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "存储出站 SMTP 电子邮件的天数（0 = 立即清除）"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "用于接收退回通知的 Webhook URL，或使用 false 来禁用"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "每个别名的存储配额（例如“1 GB”，解析为字节）"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "别名（如果未提供或为空，则生成随机别名）"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "以换行符/空格/逗号分隔的有效电子邮件地址、FQDN、IP 或 webhook URL 的字符串"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "有效收件人数组"
              }
            ],
            "description": "收件人列表。如果未提供或为空，则默认为请求者的电子邮件"
          },
          "description": {
            "type": "string",
            "description": "别名描述"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "以换行符/空格/逗号分隔的标签字符串"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "标签数组"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "要求收件人点击验证链接（默认为域设置）"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "是否启用或禁用此别名"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "如果别名被禁用，则返回错误代码。默认为 250"
          },
          "has_imap": {
            "type": "boolean",
            "description": "启用或禁用此别名的 IMAP 存储"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "为该别名启用或禁用 OpenPGP 加密"
          },
          "public_key": {
            "type": "string",
            "description": "ASCII Armor 格式的 OpenPGP 公钥"
          },
          "max_quota": {
            "type": "string",
            "description": "存储最大配额（例如“1 GB”）"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "启用或禁用休假响应器"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "休假回复的开始日期（例如“YYYY-MM-DD”）"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "休假回复的结束日期（例如“YYYY-MM-DD”）"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "休假响应者的纯文本主题"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "休假响应者的纯文本消息"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "别名"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "以换行符/空格/逗号分隔的有效电子邮件地址、FQDN、IP 或 webhook URL 的字符串"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "有效收件人数组"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "别名描述"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "以换行符/空格/逗号分隔的标签字符串"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "标签数组"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "要求收件人点击验证链接（默认为域设置）"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "启用或禁用别名"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "如果别名被禁用则使用的错误代码（默认为 250）"
          },
          "has_imap": {
            "type": "boolean",
            "description": "启用或禁用 IMAP 存储"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "启用或禁用 OpenPGP 加密"
          },
          "public_key": {
            "type": "string",
            "description": "ASCII Armor 格式的 OpenPGP 公钥"
          },
          "max_quota": {
            "type": "string",
            "description": "存储最大配额（例如“1 GB”）"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "启用或禁用休假响应器"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "休假回复开始日期（例如 YYYY-MM-DD）"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "休假回复结束日期（例如 YYYY-MM-DD）"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "休假响应者的明文主题"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "休假响应者的明文消息"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "用于别名的自定义新密码"
          },
          "password": {
            "type": "string",
            "description": "别名的现有密码，无需删除邮箱存储即可更改"
          },
          "is_override": {
            "type": "boolean",
            "description": "覆盖现有密码并删除 IMAP 存储（谨慎使用）"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "用于发送别名密码和设置说明的电子邮件地址"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "当前已发送电子邮件数量"
          },
          "limit": {
            "type": "integer",
            "description": "允许的最大电子邮件数量"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "会员编号"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "会员的电子邮件地址"
          },
          "role": {
            "type": "string",
            "description": "会员角色"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "受邀电子邮件地址"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "返回结果页。如果未指定，则值为 1。必须为大于或等于 1 的数字。",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "每页返回的结果数。如果未指定，则默认为 10。该值必须大于或等于 1，且小于或等于 50。",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "在 2024 年 11 月 1 日之前选择加入分页",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "域 ID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "别名 ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "会员编号",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "电子邮件 ID",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "联系人 ID",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "日历 ID",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "文件夹 ID 或路径",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "消息 ID",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "帐户"
        ],
        "summary": "找回账户",
        "description": "检索您的帐户信息。",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "帐户"
        ],
        "summary": "更新帐户",
        "description": "更新您的帐户信息。",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "显示名称"
                  },
                  "locale": {
                    "type": "string",
                    "description": "区域设置偏好"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "联系方式"
        ],
        "summary": "列出联系人",
        "description": "检索已验证别名的所有联系人列表。此端点支持分页，并以 CardDAV 格式返回联系人。",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "联系方式"
        ],
        "summary": "创建联系人",
        "description": "创建新联系人。您可以直接提供 vCard 内容，也可以提供单独的联系人字段，这些字段将转换为 vCard 格式。如果已存在具有相同 ID 的联系人，则会返回冲突错误。",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "联系方式"
        ],
        "summary": "检索联系人",
        "description": "通过 ID 检索特定联系人。该联系人信息将以标准联系人格式返回，其中包含 vCard 内容和已解析的字段。",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "联系方式"
        ],
        "summary": "更新联系方式",
        "description": "更新现有联系人。您可以提供更新后的 vCard 内容，也可以提供单个字段进行更新。如果提供单个字段，系统将重新生成联系人的 vCard。",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "联系方式"
        ],
        "summary": "删除联系人",
        "description": "永久删除特定联系人。此操作无法撤消。",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "日历"
        ],
        "summary": "列出日历",
        "description": "检索已验证别名的所有日历列表。此端点支持分页，并返回 CalDAV 格式的日历。",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "日历"
        ],
        "summary": "创建日历",
        "description": "创建新日历。日历名称为必填项，其他属性（例如颜色、时区和描述）为可选。如果已存在同名日历，则会返回冲突错误。",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "日历"
        ],
        "summary": "检索日历",
        "description": "通过 ID 检索特定日历。返回日历及其所有属性，包括名称、描述、颜色、时区和顺序。",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "日历"
        ],
        "summary": "更新日历",
        "description": "更新现有日历。您可以更新任何日历属性，包括名称、描述、颜色、时区和顺序。如果您将名称更改为已存在的名称，则会返回冲突错误。",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "日历"
        ],
        "summary": "删除日历",
        "description": "永久删除特定日历。此操作无法撤消，并且会删除日历中的所有事件。",
        "operationId": "deleteCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/folders": {
      "get": {
        "tags": [
          "文件夹"
        ],
        "summary": "列出文件夹",
        "description": "检索已验证别名的所有 IMAP 文件夹/邮箱列表。此端点支持分页和按订阅状态筛选。",
        "operationId": "listFolders",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "subscribed",
            "in": "query",
            "description": "按订阅状态过滤文件夹",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folders retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "文件夹"
        ],
        "summary": "创建文件夹",
        "description": "创建一个新的 IMAP 文件夹/邮箱。文件夹路径是必填项，可以包含父文件夹（例如“INBOX/Subfolder”）。如果父文件夹不存在，系统将自动创建。",
        "operationId": "createFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/folders/{id}": {
      "get": {
        "tags": [
          "文件夹"
        ],
        "summary": "检索文件夹",
        "description": "通过 ID 或路径检索特定文件夹。您可以使用文件夹的 ObjectID 或其完整路径（例如“INBOX/Subfolder”）作为标识符。",
        "operationId": "retrieveFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/folderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "文件夹"
        ],
        "summary": "更新文件夹",
        "description": "更新/重命名现有文件夹。此操作会将文件夹重命名为请求正文中指定的新路径。您可以使用文件夹的 ObjectID 或其当前路径作为标识符。",
        "operationId": "updateFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/folderId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "文件夹"
        ],
        "summary": "删除文件夹",
        "description": "永久删除特定文件夹。此操作无法撤消，并且会删除文件夹中的所有邮件。您可以使用文件夹的 ObjectID 或其路径作为标识符。",
        "operationId": "deleteFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/folderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/messages": {
      "get": {
        "tags": [
          "消息"
        ],
        "summary": "列出和搜索消息",
        "description": "使用高级搜索和筛选功能检索消息列表。此端点支持分页和全面搜索消息内容、标头、标记和元数据。您可以按文件夹、标记、内容、标头、日期范围、大小等进行搜索。",
        "operationId": "listMessages",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "folder",
            "in": "query",
            "description": "按文件夹路径过滤邮件",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_unread",
            "in": "query",
            "description": "按阅读状态过滤",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_flagged",
            "in": "query",
            "description": "按标记状态过滤",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_deleted",
            "in": "query",
            "description": "按已删除状态过滤",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_draft",
            "in": "query",
            "description": "按草稿状态过滤",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_junk",
            "in": "query",
            "description": "按垃圾邮件/垃圾邮件状态过滤",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_copied",
            "in": "query",
            "description": "按复制状态过滤",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_searchable",
            "in": "query",
            "description": "按可搜索状态过滤",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_expired",
            "in": "query",
            "description": "按过期状态过滤",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_attachments",
            "in": "query",
            "description": "按附件存在情况过滤",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_attachment",
            "in": "query",
            "description": "按附件存在进行过滤（has_attachments 的别名）",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "description": "在邮件主题中搜索",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "body",
            "in": "query",
            "description": "在邮件正文/文本中搜索",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "description": "在消息文本中搜索（正文的别名）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "headers",
            "in": "query",
            "description": "在所有邮件标题中搜索",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message_id",
            "in": "query",
            "description": "按 Message-ID 标头搜索",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "跨标题和文本的常规搜索",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "常规搜索（搜索的别名）",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "过滤自该日期以来的消息（ISO 8601 格式）",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "过滤此日期之前的消息（ISO 8601 格式）",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "过滤具有最小字节数的消息",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_size",
            "in": "query",
            "description": "过滤具有最大大小（以字节为单位）的消息",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "按“来自”标题搜索",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "按“至”标题搜索",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cc",
            "in": "query",
            "description": "按 CC 标题搜索",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bcc",
            "in": "query",
            "description": "按密件抄送标题搜索",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "按日期标题搜索",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reply-to",
            "in": "query",
            "description": "按回复标题搜索",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "消息"
        ],
        "summary": "创建消息",
        "description": "创建/附加新消息到文件夹。此端点接受标准的 Nodemailer 消息格式，并允许您指定目标文件夹和初始标志。如果目标文件夹不存在，则会自动创建。",
        "operationId": "createMessage",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/messages/{id}": {
      "get": {
        "tags": [
          "消息"
        ],
        "summary": "检索消息",
        "description": "通过 ID 检索特定消息。默认情况下，响应包含已解析的 Nodemailer 对象和原始消息内容。您可以使用查询参数控制包含的内容。",
        "operationId": "retrieveMessage",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/messageId"
          },
          {
            "name": "eml",
            "in": "query",
            "description": "返回原始 EML 格式而不是 JSON",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "nodemailer",
            "in": "query",
            "description": "包含已解析的 Nodemailer 对象",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "attachments",
            "in": "query",
            "description": "在 Nodemailer 对象中包含附件",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "raw",
            "in": "query",
            "description": "包含原始消息内容",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "message/rfc822": {
                "description": "Raw EML format (when ?eml=true)",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "消息"
        ],
        "summary": "更新消息",
        "description": "更新现有邮件。您可以修改邮件标记或将其移动到其他文件夹。如果目标文件夹不存在，系统将自动创建。",
        "operationId": "updateMessage",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/messageId"
          },
          {
            "name": "eml",
            "in": "query",
            "description": "返回原始 EML 格式而不是 JSON",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              },
              "message/rfc822": {
                "description": "Raw EML format (when ?eml=true)",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "消息"
        ],
        "summary": "删除消息",
[...]
