{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Willkommen zur umfassenden API-Dokumentation für Forward Email. Mit dieser API können Sie E-Mail-Weiterleitungen, Domänen, Aliase, ausgehende E-Mails und mehr programmgesteuert verwalten.\n\n## Hauptfunktionen\n* **Domänenverwaltung:** Domänen erstellen, abrufen, aktualisieren, löschen und verifizieren.\n* **Aliasverwaltung:** E-Mail-Aliase verwalten, einschließlich Erstellung, Aktualisierung und Empfängerverwaltung.\n* **Ausgehendes SMTP:** E-Mails per SMTP versenden, Limits verwalten und gesendete E-Mails verfolgen.\n* **Konto & Protokolle:** Kontodaten verwalten und Aktivitätsprotokolle herunterladen.\n* **Sicherheit:** TXT-Einträge verschlüsseln und Domänenmitglieder/Einladungen verwalten.\n* **CardDAV-Kontakte:** Vollständige CRUD-Operationen für die Kontaktverwaltung mit vCard-Unterstützung.\n* **CalDAV-Kalender:** Umfassende Kalenderverwaltung mit Zeitzonen- und Farbunterstützung.\n* **IMAP/POP3-Nachrichten:** Umfassende Nachrichtenverwaltung mit erweiterten Suchfunktionen.\n* **IMAP/POP3-Ordner:** Vollständige Ordnerverwaltung inklusive Erstellen, Umbenennen und Löschen.\n\n## Authentifizierung\nDie meisten Endpunkte erfordern eine Authentifizierung mit Ihrem **API-Schlüssel**. Geben Sie den API-Schlüssel als „Benutzername“ im Header der Basisauthentifizierung an und lassen Sie das Passwort leer.\n\n```http\nAutorisierung: Basis QVBJX1RPS0VOOg==\n```\n(Ersetzen Sie `API_TOKEN` durch Ihren tatsächlichen Schlüssel vor der Base64-Kodierung.)\n\nEndpunkte im Zusammenhang mit **Alias-Kontakten, -Kalendern, -Nachrichten und -Ordnern** erfordern einen generierten Alias-Benutzernamen und ein Passwort für die Basisauthentifizierung.\n\n## Fehler\nDie API verwendet standardmäßige HTTP-Statuscodes, um Erfolg oder Misserfolg anzuzeigen. Fehlerantworten enthalten einen JSON-Text mit einem Feld „Nachricht“, das den Fehler detailliert beschreibt.\n\n| Statuscode | Bedeutung |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Ungültige Anfrage |\n| 401 | Nicht autorisiert |\n| 403 | Verboten |\n| 404 | Nicht gefunden |\n| 409 | Konflikt |\n| 412 | Vorbedingung fehlgeschlagen |\n| 429 | Zu viele Anfragen |\n| 500 | Interner Serverfehler |\n| 501 | Nicht implementiert |\n| 502 | Ungültiges Gateway |\n| 503 | Dienst nicht verfügbar |\n| 504 | Gateway-Timeout |\n\n*Bei einem `5xx`-Fehler wenden Sie sich bitte an [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalisierung\nAPI-Antworten werden basierend auf der vom Benutzer erkannten Gebietsschemaeinstellung oder dem `Accept-Language`-Header übersetzt. Über 25 Sprachen werden unterstützt.\n\n## Seitennummerierung\nEndpunkte, die Listen zurückgeben, unterstützen die Seitennummerierung über Abfrageparameter.\n\n| Parameter | Typ | Optional | Beschreibung | Standard | Einschränkungen |\n|--------------|---------|----------|--------------------------------------------------------------|---------|--------------------|\n| `page` | Integer | Ja | Abzurufende Seitenzahl. | 1 | `>= 1` |\n| `limit` | Integer | Ja | Anzahl der Ergebnisse pro Seite. | 10 | `>= 1`, `<= 50` |\n| `pagination` | Boolean | Ja | Aktivierung der Seitennummerierung (für einige Endpunkte vor dem 1. November 2024 erforderlich). | false | |\n\n**Seitennummerierungsüberschriften:**\n* `X-Page-Count`: Gesamtseitenzahl.\n* `X-Page-Current`: Aktuelle Seitenzahl.\n* „X-Seitengröße“: Anzahl der Elemente auf der aktuellen Seite.\n* „X-Elementanzahl“: Gesamtzahl der Elemente auf allen Seiten.\n* „Link“: Navigationslinks (vorherige, nächste, erste, letzte).\n\n**Beispiel:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Empfohlene Bibliotheken\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Verwaltet von Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Weiterleitungs-E-Mail-API-Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Verwenden Sie Ihren API-Schlüssel als **Benutzernamen** für die Basisauthentifizierung. Lassen Sie das Passwortfeld leer.\n\n**Beispiel:**\nWenn Ihr API-Schlüssel „IHR_API_SCHLÜSSEL“ lautet, lautet der Base64-kodierte Wert für den Header „Authorization“: „echo -n \"IHR_API_SCHLÜSSEL:\" | base64“.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Verwenden Sie den generierten **Alias-Benutzernamen und das generierte Passwort** für die Standardauthentifizierung. Dies gilt für Endpunkte unter:\n* Alias-Kontakte (CardDAV)\n* Alias-Kalender (CalDAV)\n* Alias-Nachrichten (IMAP/POP3)\n* Alias-Ordner (IMAP/POP3)\n\n**Beispiel:**\nWenn der Alias-Benutzername `alias@domain.com` und das Passwort `GENERATED_PASSWORD` lautet, lautet der Base64-kodierte Wert `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Fehlermeldung"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kontakt-ID (contact_id von CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "Kontakt UID"
          },
          "full_name": {
            "type": "string",
            "description": "Vollständiger Name des Kontakts"
          },
          "content": {
            "type": "string",
            "description": "vCard-Inhalt"
          },
          "etag": {
            "type": "string",
            "description": "ETag zur Versionierung"
          },
          "is_group": {
            "type": "boolean",
            "description": "Ob der Kontakt eine Gruppe ist"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array von E-Mail-Adressen"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array von Telefonnummern"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-Inhalt (falls nicht angegeben, wird aus anderen Feldern generiert)"
          },
          "full_name": {
            "type": "string",
            "description": "Vollständiger Name des Kontakts"
          },
          "contact_id": {
            "type": "string",
            "description": "Benutzerdefinierte Kontakt-ID (falls nicht angegeben, wird sie automatisch generiert)"
          },
          "uid": {
            "type": "string",
            "description": "Kontakt-UID (falls nicht angegeben, wird automatisch generiert)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array von E-Mail-Adressen"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array von Telefonnummern"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array von Telefonnummern (Alias für Telefonnummern)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Array von Adressen"
          },
          "is_group": {
            "type": "boolean",
            "description": "Ob der Kontakt eine Gruppe ist"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-Inhalt"
          },
          "full_name": {
            "type": "string",
            "description": "Vollständiger Name des Kontakts"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array von E-Mail-Adressen"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array von Telefonnummern"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array von Telefonnummern (Alias für Telefonnummern)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Array von Adressen"
          },
          "is_group": {
            "type": "boolean",
            "description": "Ob der Kontakt eine Gruppe ist"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalender-ID (calendarId von CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Kalendername"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeschreibung"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarbe (Hex-Format)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderzeitzone"
          },
          "order": {
            "type": "integer",
            "description": "Kalenderanzeigereihenfolge"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendername"
          },
          "calendar_id": {
            "type": "string",
            "description": "Benutzerdefinierte Kalender-ID (falls nicht angegeben, wird automatisch generiert)"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeschreibung"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarbe (Hex-Format, falls nicht angegeben, wird automatisch generiert)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderzeitzone (standardmäßig die Zeitzone des Benutzers oder UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Kalenderanzeigereihenfolge (Standardwert: 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendername"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeschreibung"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarbe (Hex-Format)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderzeitzone"
          },
          "order": {
            "type": "integer",
            "description": "Kalenderanzeigereihenfolge"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Ordner-ID"
          },
          "path": {
            "type": "string",
            "description": "Vollständiger Ordnerpfad"
          },
          "name": {
            "type": "string",
            "description": "Ordnername (letzter Teil des Pfads)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Pfad des übergeordneten Ordners"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Gültigkeit der IMAP-UID"
          },
          "uid_next": {
            "type": "integer",
            "description": "Nächster UID-Wert"
          },
          "modify_index": {
            "type": "integer",
            "description": "Änderungsindex"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Ob Ordner abonniert ist"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ordnerflaggen"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Aufbewahrungszeitraum für Nachrichten"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Besondere Verwendungsbezeichnung"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Ordnerpfad/-name"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Neuer Ordnerpfad/Name"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Nachrichten-ID"
          },
          "root_id": {
            "type": "string",
            "description": "Stammnachrichten-ID für Threading"
          },
          "folder_id": {
            "type": "string",
            "description": "Ordner-ID, die die Nachricht enthält"
          },
          "folder_path": {
            "type": "string",
            "description": "Ordnerpfad, der die Nachricht enthält"
          },
          "thread_id": {
            "type": "string",
            "description": "Thread-ID zur Konversationsgruppierung"
          },
          "header_message_id": {
            "type": "string",
            "description": "Message-ID-Headerwert"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Ob die Nachricht ungelesen ist"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Ob die Nachricht markiert ist"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Ob die Nachricht gelöscht wird"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Ob die Nachricht ein Entwurf ist"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Ob die Nachricht Junk/Spam ist"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Ob die Nachricht kopiert wird"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Ob die Nachricht durchsuchbar ist"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Ob die Nachricht abgelaufen ist"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Ob die Nachricht Anhänge hat"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Aufbewahrungsdatum der Nachricht"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Internes Datum (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Datum aus Nachrichtenkopfzeilen"
          },
          "subject": {
            "type": "string",
            "description": "Betreff der Nachricht"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-Flags"
          },
          "size": {
            "type": "integer",
            "description": "Nachrichtengröße in Bytes"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP-UID"
          },
          "modseq": {
            "type": "integer",
            "description": "Änderungssequenz"
          },
          "transaction": {
            "type": "string",
            "description": "Transaktionstyp"
          },
          "remote_address": {
            "type": "string",
            "description": "Remote-IP-Adresse"
          },
          "nodemailer": {
            "type": "object",
            "description": "Analysiertes Nachrichtenobjekt (standardmäßig enthalten, zum Ausschließen ?nodemailer=false festlegen)"
          },
          "raw": {
            "type": "string",
            "description": "Roher Nachrichteninhalt (standardmäßig enthalten, zum Ausschließen ?raw=false festlegen)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "E-Mail-Adresse des Absenders"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-Mail-Adressen der Empfänger"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-Mail-Adressen der CC-Empfänger"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-Mail-Adressen von BCC-Empfängern"
          },
          "subject": {
            "type": "string",
            "description": "Betreff der Nachricht"
          },
          "text": {
            "type": "string",
            "description": "Nur-Text-Inhalt"
          },
          "html": {
            "type": "string",
            "description": "HTML-Inhalt"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Nachrichtenanhänge (Nodemailer-Format)"
          },
          "folder": {
            "type": "string",
            "description": "Zielordner (standardmäßig INBOX)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Für die Nachricht zu setzende IMAP-Flags"
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Für die Nachricht zu setzende IMAP-Flags"
          },
          "folder": {
            "type": "string",
            "description": "Nachricht in diesen Ordner verschieben"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Die E-Mail-Adresse des Absenders (muss als Alias der Domäne vorhanden sein)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Durch Kommas getrennte Liste oder ein Array von Empfängern für die Kopfzeile „An“."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Durch Kommas getrennte Liste oder ein Array von Empfängern für den „Cc“-Header."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Durch Kommas getrennte Liste oder ein Array von Empfängern für den „Bcc“-Header."
          },
          "subject": {
            "type": "string",
            "description": "Der Betreff der E-Mail."
          },
          "text": {
            "type": "string",
            "description": "Die Klartextversion der Nachricht."
          },
          "html": {
            "type": "string",
            "description": "Die HTML-Version der Nachricht."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Ein Array von Anhangsobjekten (siehe allgemeine Felder von Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Die E-Mail-Adresse für den Header „Absender“."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Die E-Mail-Adresse für den „Antwort-An“-Header."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Die Nachrichten-ID, auf die die Nachricht antwortet."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Durch Leerzeichen getrennte Liste oder ein Array von Nachrichten-IDs."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Wenn „true“, werden Daten konvertiert: Bilder im HTML-Inhalt in eingebettete Anhänge."
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch-spezifische HTML-Version der Nachricht."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL-spezifische HTML-Version der Nachricht."
          },
          "icalEvent": {
            "type": "object",
            "description": "Ein iCalendar-Ereignis als alternativer Nachrichteninhalt."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Ein Array mit alternativen Nachrichteninhalten."
          },
          "encoding": {
            "type": "string",
            "description": "Kodierung für den Text und die HTML-Zeichenfolgen (z. B. „utf-8“, „hex“, „base64“)."
          },
          "raw": {
            "type": "string",
            "description": "Benutzerdefiniert generierte Nachricht im RFC822-Format (anstelle der Verwendung der Nodemailer-Generierung)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Für Textwerte muss die Kodierung verwendet werden."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Prioritätsstufe für die E-Mail."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objekt oder Array zusätzlicher Headerfelder."
          },
          "messageId": {
            "type": "string",
            "description": "Optionale Nachrichten-ID für den Header „Nachrichten-ID“."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Optionaler Datumsheader. Darf nicht mehr als 30 Tage in der Zukunft liegen."
          },
          "list": {
            "type": "object",
            "description": "Optionales Objekt von List-*-Headern."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Vollqualifizierter Domänenname (FQDN) oder IP-Adresse"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Zuweisung zum selben Team aus einer anderen Domäne; kann eine Domänen-ID oder ein FQDN sein. Verwenden Sie „keine“, um dies explizit zu deaktivieren."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Plantyp (standardmäßig „kostenlos“ oder der aktuelle kostenpflichtige Plan des Benutzers)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Durch Komma, Leerzeichen oder Zeilenumbruch getrennte Liste von E-Mail-Adressen"
              }
            ],
            "description": "Erstellen Sie einen standardmäßigen Catch-All-Alias (Standardwert: „true“)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Aktivieren Sie den Spam-Scanner-Schutz vor Inhalten für Erwachsene"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Spam-Scanner-Phishing-Schutz aktivieren"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Aktivieren Sie den ausführbaren Schutz des Spam-Scanners"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Spam-Scanner-Virenschutz aktivieren"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Alias-Empfänger müssen auf den Link zur E-Mail-Bestätigung klicken"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorieren Sie die MX-Eintragsprüfung für erweiterte Mail-Routing-Setups"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Anzahl der Tage, die ausgehende SMTP-Protokolle aufbewahrt werden sollen (0–30, Standard: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhook-URL zum Empfangen von Bounce-Ereignissen"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Bounce-Webhook deaktivieren"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Maximales Speicherkontingent pro Alias (z. B. „1 GB“)"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Benutzerdefinierter Port zur Konfiguration für die SMTP-Weiterleitung (Standard ist „25“)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Ob der Spam-Scanner-Schutz vor Inhalten für Erwachsene auf dieser Domain aktiviert werden soll"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Ob der Spam-Scanner-Phishing-Schutz für diese Domäne aktiviert werden soll"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Ob der ausführbare Schutz des Spam-Scanners auf dieser Domäne aktiviert werden soll"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Ob der Spam-Scanner-Virenschutz für diese Domäne aktiviert werden soll"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Globale Domänenvorgabe, ob Alias-Empfänger auf einen Link zur E-Mail-Bestätigung klicken müssen, damit E-Mails weitergeleitet werden können"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ob die MX-Eintragsprüfung der Domäne zur Verifizierung ignoriert werden soll (hauptsächlich für erweiterte MX-Routing-Setups)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Anzahl der Tage zum Speichern ausgehender SMTP-E-Mails (0 = sofort löschen)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhook-URL zum Empfangen von Bounce-Benachrichtigungen oder „false“ zum Deaktivieren"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Speicherkontingent pro Alias (z. B. „1 GB“, in Bytes zerlegt)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasname (falls nicht angegeben oder leer, wird ein zufälliger Alias generiert)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Durch Zeilenumbruch/Leerzeichen/Komma getrennte Zeichenfolge gültiger E-Mail-Adressen, FQDNs, IPs oder Webhook-URLs"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Array gültiger Empfänger"
              }
            ],
            "description": "Liste der Empfänger. Falls nicht angegeben oder leer, wird standardmäßig die E-Mail-Adresse des Anforderers verwendet."
          },
          "description": {
            "type": "string",
            "description": "Aliasbeschreibung"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Durch Zeilenumbruch/Leerzeichen/Komma getrennte Zeichenfolge mit Beschriftungen"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array von Beschriftungen"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Empfänger müssen auf den Bestätigungslink klicken (standardmäßig Domäneneinstellung)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Ob dieser Alias aktiviert oder deaktiviert werden soll"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Fehlercode, wenn Alias deaktiviert ist. Standardmäßig 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-Speicher für diesen Alias aktivieren oder deaktivieren"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Aktivieren oder deaktivieren Sie die OpenPGP-Verschlüsselung für diesen Alias"
          },
          "public_key": {
            "type": "string",
            "description": "Öffentlicher OpenPGP-Schlüssel im ASCII-Armor-Format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximales Speicherkontingent (z. B. „1 GB“)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Aktivieren oder Deaktivieren der Abwesenheitsnotiz"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdatum (z. B. „JJJJ-MM-TT“) für die Abwesenheitsnotiz"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Enddatum (z. B. „JJJJ-MM-TT“) für die Abwesenheitsnotiz"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Betreff im Klartext für Abwesenheitsnotizen"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Klartextnachricht für Abwesenheitsnotiz"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasname"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Durch Zeilenumbruch/Leerzeichen/Komma getrennte Zeichenfolge gültiger E-Mail-Adressen, FQDNs, IPs oder Webhook-URLs"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Array gültiger Empfänger"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Aliasbeschreibung"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Durch Zeilenumbruch/Leerzeichen/Komma getrennte Zeichenfolge mit Beschriftungen"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array von Beschriftungen"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Empfänger müssen auf den Bestätigungslink klicken (standardmäßig Domäneneinstellung)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Alias aktivieren oder deaktivieren"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Zu verwendender Fehlercode, wenn der Alias deaktiviert ist (Standardwert: 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Aktivieren oder Deaktivieren des IMAP-Speichers"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Aktivieren oder Deaktivieren der OpenPGP-Verschlüsselung"
          },
          "public_key": {
            "type": "string",
            "description": "Öffentlicher OpenPGP-Schlüssel im ASCII-Armor-Format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximales Speicherkontingent (z. B. „1 GB“)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Aktivieren oder Deaktivieren der Abwesenheitsnotiz"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdatum der Urlaubsantwort (z. B. JJJJ-MM-TT)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Enddatum der Urlaubsantwort (z. B. JJJJ-MM-TT)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Betreff der Abwesenheitsnotiz im Klartext"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Klartextnachricht des Abwesenheitsnotizgebers"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Ihr neues, benutzerdefiniertes Passwort für den Alias"
          },
          "password": {
            "type": "string",
            "description": "Vorhandenes Passwort für Alias, um es zu ändern, ohne den Postfachspeicher zu löschen"
          },
          "is_override": {
            "type": "boolean",
            "description": "Vorhandenes Passwort außer Kraft setzen und IMAP-Speicher löschen (mit Vorsicht verwenden)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-Mail-Adresse zum Senden des Alias-Passworts und der Einrichtungsanweisungen"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Aktuelle Anzahl gesendeter E-Mails"
          },
          "limit": {
            "type": "integer",
            "description": "Maximal zulässige Anzahl an E-Mails"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Mitglieds-ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "E-Mail-Adresse des Mitglieds"
          },
          "role": {
            "type": "string",
            "description": "Rolle des Mitglieds"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Eingeladene E-Mail-Adresse"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Seite mit den zurückzugebenden Ergebnissen. Falls nicht angegeben, ist der Wert 1. Muss eine Zahl größer oder gleich 1 sein.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Anzahl der Ergebnisse pro Seite. Standardmäßig 10, falls nicht anders angegeben. Muss eine Zahl größer oder gleich 1 und kleiner oder gleich 50 sein.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Melden Sie sich vor dem 1. November 2024 für die Paginierung an.",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Domänen-ID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias-ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Mitglieds-ID",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "E-Mail-ID",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kontakt-ID",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kalender-ID",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Ordner-ID oder Pfad",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Nachrichten-ID",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Konto"
        ],
        "summary": "Konto abrufen",
        "description": "Rufen Sie Ihre Kontoinformationen ab.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Konto aktualisieren",
        "description": "Aktualisieren Sie Ihre Kontoinformationen.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "Anzeigename"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Gebietsschemapräferenz"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Kontakte"
        ],
        "summary": "Kontakte auflisten",
        "description": "Ruft eine Liste aller Kontakte für den authentifizierten Alias ab. Dieser Endpunkt unterstützt die Paginierung und gibt Kontakte im CardDAV-Format zurück.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kontakte"
        ],
        "summary": "Kontakt erstellen",
        "description": "Erstellen Sie einen neuen Kontakt. Sie können entweder vCard-Inhalte direkt oder einzelne Kontaktfelder angeben, die in das vCard-Format konvertiert werden. Falls bereits ein Kontakt mit derselben ID vorhanden ist, wird ein Konfliktfehler zurückgegeben.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "Kontakte"
        ],
        "summary": "Kontakt abrufen",
        "description": "Rufen Sie einen bestimmten Kontakt anhand seiner ID ab. Der Kontakt wird im Standardkontaktformat mit vCard-Inhalt und analysierten Feldern zurückgegeben.",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Kontakte"
        ],
        "summary": "Kontakt aktualisieren",
        "description": "Aktualisieren Sie einen vorhandenen Kontakt. Sie können entweder aktualisierte vCard-Inhalte oder einzelne Felder angeben. Die vCard des Kontakts wird neu generiert, wenn einzelne Felder angegeben werden.",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kontakte"
        ],
        "summary": "Kontakt löschen",
        "description": "Löscht einen bestimmten Kontakt dauerhaft. Diese Aktion kann nicht rückgängig gemacht werden.",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "Kalender"
        ],
        "summary": "Kalender auflisten",
        "description": "Ruft eine Liste aller Kalender für den authentifizierten Alias ab. Dieser Endpunkt unterstützt die Paginierung und gibt Kalender im CalDAV-Format zurück.",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kalender"
        ],
        "summary": "Kalender erstellen",
        "description": "Erstellen Sie einen neuen Kalender. Der Kalendername ist erforderlich, während andere Eigenschaften wie Farbe, Zeitzone und Beschreibung optional sind. Wenn bereits ein Kalender mit demselben Namen vorhanden ist, wird ein Konfliktfehler zurückgegeben.",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "Kalender"
        ],
        "summary": "Kalender abrufen",
        "description": "Rufen Sie einen bestimmten Kalender anhand seiner ID ab. Der Kalender wird mit allen Eigenschaften zurückgegeben, einschließlich Name, Beschreibung, Farbe, Zeitzone und Reihenfolge.",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Kalender"
        ],
        "summary": "Kalender aktualisieren",
        "description": "Aktualisieren Sie einen vorhandenen Kalender. Sie können alle Kalendereigenschaften wie Name, Beschreibung, Farbe, Zeitzone und Reihenfolge aktualisieren. Wenn Sie den Namen in einen bereits vorhandenen ändern, wird ein Konfliktfehler zurückgegeben.",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kalender"
        ],
        "summary": "Kalender löschen",
        "description": "Löscht einen bestimmten Kalender dauerhaft. Diese Aktion kann nicht rückgängig gemacht werden und löscht auch alle Ereignisse im Kalender.",
        "operationId": "deleteCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/folders": {
      "get": {
        "tags": [
          "Ordner"
        ],
        "summary": "Ordner auflisten",
        "description": "Rufen Sie eine Liste aller IMAP-Ordner/Postfächer für den authentifizierten Alias ab. Dieser Endpunkt unterstützt die Paginierung und Filterung nach Abonnementstatus.",
        "operationId": "listFolders",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "subscribed",
            "in": "query",
            "description": "Filtern Sie Ordner nach Abonnementstatus",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folders retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Ordner"
        ],
        "summary": "Ordner erstellen",
        "description": "Erstellen Sie einen neuen IMAP-Ordner/ein neues IMAP-Postfach. Der Ordnerpfad ist obligatorisch und kann übergeordnete Ordner enthalten (z. B. „Posteingang/Unterordner“). Falls die übergeordneten Ordner nicht vorhanden sind, werden sie automatisch erstellt.",
        "operationId": "createFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/folders/{id}": {
      "get": {
        "tags": [
          "Ordner"
        ],
        "summary": "Ordner abrufen",
        "description": "Rufen Sie einen bestimmten Ordner anhand seiner ID oder seines Pfads ab. Sie können entweder die ObjectID des Ordners oder seinen vollständigen Pfad (z. B. „INBOX/Unterordner“) als Kennung verwenden.",
        "operationId": "retrieveFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/folderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Ordner"
        ],
        "summary": "Update-Ordner",
        "description": "Aktualisieren/Umbenennen eines vorhandenen Ordners. Dieser Vorgang benennt den Ordner in den im Anforderungstext angegebenen neuen Pfad um. Sie können entweder die ObjectID des Ordners oder seinen aktuellen Pfad als Bezeichner verwenden.",
        "operationId": "updateFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/folderId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Ordner"
        ],
        "summary": "Ordner löschen",
        "description": "Löscht einen bestimmten Ordner dauerhaft. Diese Aktion kann nicht rückgängig gemacht werden und löscht auch alle Nachrichten im Ordner. Als Kennung können Sie entweder die ObjectID oder den Pfad des Ordners verwenden.",
        "operationId": "deleteFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/folderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/messages": {
      "get": {
        "tags": [
          "Nachrichten"
        ],
        "summary": "Auflisten und Suchen von Nachrichten",
        "description": "Rufen Sie eine Nachrichtenliste mit erweiterten Such- und Filterfunktionen ab. Dieser Endpunkt unterstützt die Paginierung und umfassende Suche nach Nachrichteninhalten, Headern, Flags und Metadaten. Sie können nach Ordnern, Flags, Inhalten, Headern, Datumsbereichen, Größe und mehr suchen.",
        "operationId": "listMessages",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "folder",
            "in": "query",
            "description": "Nachrichten nach Ordnerpfad filtern",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_unread",
            "in": "query",
            "description": "Nach Lesestatus filtern",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_flagged",
            "in": "query",
            "description": "Nach Markierungsstatus filtern",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_deleted",
            "in": "query",
            "description": "Nach Löschstatus filtern",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_draft",
            "in": "query",
            "description": "Nach Entwurfsstatus filtern",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_junk",
            "in": "query",
            "description": "Nach Junk-/Spam-Status filtern",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "is_copied",
            "in": "query",
            "description": "Nach Kopierstatus filtern",
[...]
