{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />ברוכים הבאים לתיעוד ה-API המקיף עבור העברת דוא\"ל. API זה מאפשר לכם לנהל העברת דוא\"ל, דומיינים, כינויים, דוא\"ל יוצא ועוד באופן תכנותי.\n\n## תכונות עיקריות\n* **ניהול דומיינים:** יצירה, אחזור, עדכון, מחיקה ואימות דומיינים.\n* **ניהול כינויים:** ניהול כינויי דוא\"ל, כולל יצירה, עדכונים וניהול נמענים.\n* **SMTP יוצא:** שליחת דוא\"ל דרך SMTP, ניהול מגבלות ומעקב אחר דוא\"ל שנשלח.\n* **חשבון ויומנים:** ניהול פרטי החשבון שלכם והורדת יומני פעילות.\n* **אבטחה:** הצפנת רשומות TXT וניהול חברי/הזמנות דומיין.\n* **אנשי קשר של CardDAV:** פעולות CRUD מלאות לניהול אנשי קשר עם תמיכה ב-vCard.\n* **יומני CalDAV:** ניהול יומנים מלא עם תמיכה באזורי זמן וצבע.\n* **הודעות IMAP/POP3:** ניהול מקיף של הודעות עם יכולות חיפוש מתקדמות.\n\n* **תיקיות IMAP/POP3:** ניהול תיקיות מלא כולל יצירה, שינוי שם ומחיקה.\n\n## אימות\nרוב נקודות הקצה דורשות אימות באמצעות **מפתח ה-API** שלך. ספק את מפתח ה-API כ-`שם משתמש` בכותרת האימות הבסיסי, והשאר את הסיסמה ריקה.\n\n```http\nאישור: בסיסי QVBJX1RPS0VOOg==\n```\n(החלף את `API_TOKEN` במפתח בפועל שלך לפני קידוד Base64)\n\nנקודות קצה הקשורות ל- **אנשי קשר, לוחות שנה, הודעות ותיקיות כינויים** דורשות שם משתמש וסיסמה כינויים שנוצרו עבור אימות בסיסי.\n\n## שגיאות\nה-API משתמש בקודי סטטוס HTTP סטנדרטיים כדי לציין הצלחה או כישלון. תגובות שגיאה כוללות גוף JSON עם שדה `הודעה` המפרט את השגיאה.\n\n| קוד סטטוס | משמעות |\n|-------------|----------------------|\n| 200 | אישור |\n| 400 | בקשה שגויה |\n| 401 | לא מורשה |\n| 403 | אסור |\n| 404 | לא נמצא |\n| 409 | התנגשות |\n| 412 | תנאי מוקדם נכשל |\n| 429 | יותר מדי בקשות |\n| 500 | שגיאת שרת פנימית |\n| 501 | לא יושם |\n| 502 | שער פגום |\n| 503 | שירות לא זמין |\n| 504 | פסק זמן של שער |\n\n*אם נתקלת בשגיאת `5xx`, אנא צור קשר עם [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## לוקליזציה\nתגובות ה-API מתורגמות על סמך הלוקאל שזוהה על ידי המשתמש או על סמך כותרת `Accept-Language`. מעל 25 שפות נתמכות.\n\n## עימוד\nנקודות קצה המחזירות רשימות תומכות בעימוד באמצעות פרמטרי שאילתה.\n\n| פרמטר | סוג | אופציונלי | תיאור | ברירת מחדל | אילוצים |\n|--------------|----------|-------------------------------------------------------------------------|---------|----------------------------------------------|\n| `page` | מספר שלם | כן | מספר עמוד לאחזור. | 1 | `>= 1` |\n| `limit` | מספר שלם | כן | מספר תוצאות לעמוד. | 25 | `>= 1`, `<= 100` |\n| `pagination` | בוליאני | כן | אופציה לעמוד (נדרש לפני 1 בנובמבר 2024 עבור נקודות קצה מסוימות). | false | |\n\n**כותרות עמוד:**\n* `X-Page-Count`: ספירת עמודים כוללת.\n* `X-Page-Current`: מספר העמוד הנוכחי.\n* `X-Page-Size`: מספר הפריטים בעמוד הנוכחי.\n* `X-Item-Count`: מספר הפריטים הכולל בכל העמודים.\n* `Link`: קישורי ניווט (קודם, הבא, ראשון, אחרון).\n\n**דוגמה:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## ספריות מומלצות\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (מתוחזק על ידי Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "שרת API להעברת דוא\"ל"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "השתמש במפתח ה-API שלך בתור **שם משתמש** עבור אימות בסיסי. השאר את שדה הסיסמה ריק.\n\n**דוגמה:**\nאם מפתח ה-API שלך הוא `YOUR_API_KEY`, ערך המקודד ב-Base64 עבור כותרת ה-`Authorization` יהיה `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "השתמש בשם המשתמש והסיסמה הכינויים שנוצרו עבור אימות בסיסי. זה חל על נקודות קצה תחת:\n* אנשי קשר כינויים (CardDAV)\n* לוחות שנה כינויים (CalDAV)\n* הודעות כינויים (IMAP/POP3)\n* תיקיות כינויים (IMAP/POP3)\n\n**דוגמה:**\nאם שם המשתמש הכינויים הוא `alias@domain.com` והסיסמה היא `GENERATED_PASSWORD`, הערך המקודד ב-Base64 יהיה `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nאישור: בסיסי YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "הודעת שגיאה"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "מזהה כינוי"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "סוג אובייקט"
          },
          "name": {
            "type": "string",
            "description": "שם בדוי (החלק המקומי של כתובת הדוא\"ל)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "כתובת דוא\"ל מלאה בשם בדויה"
          },
          "domain_id": {
            "type": "string",
            "description": "מזהה דומיין"
          },
          "domain_name": {
            "type": "string",
            "description": "שם הדומיין"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "נפח האחסון בשימוש בבתים עבור כינוי/תיבת דואר זו"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "מכסת אחסון בבתים עבור כינוי/תיבת דואר זו"
          },
          "has_imap": {
            "type": "boolean",
            "description": "האם IMAP מופעל עבור כינוי זה"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "האם הצפנת PGP מופעלת"
          },
          "public_key": {
            "type": "string",
            "description": "מפתח ציבורי של PGP אם זמין"
          },
          "locale": {
            "type": "string",
            "description": "העדפת מקום"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "חותמת זמן של יצירה"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "חותמת זמן של עדכון אחרון"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "מזהה איש קשר (contact_id מ-CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "צור קשר עם UID"
          },
          "full_name": {
            "type": "string",
            "description": "שם מלא של איש קשר"
          },
          "content": {
            "type": "string",
            "description": "תוכן vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag לניהול גרסאות"
          },
          "is_group": {
            "type": "boolean",
            "description": "האם איש הקשר הוא קבוצה"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "מערך של כתובות דוא\"ל"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "מערך של מספרי טלפון"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "תוכן vCard (אם לא סופק, ייווצר משדות אחרים)"
          },
          "full_name": {
            "type": "string",
            "description": "שם מלא של איש קשר"
          },
          "contact_id": {
            "type": "string",
            "description": "מזהה איש קשר מותאם אישית (אם לא יסופק, ייווצר אוטומטית)"
          },
          "uid": {
            "type": "string",
            "description": "מזהה משתמש של איש קשר (אם לא סופק, ייווצר אוטומטית)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "מערך של כתובות דוא\"ל"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "מערך של מספרי טלפון"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "מערך מספרי טלפון (כינוי למספרי_טלפון)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "מערך של כתובות"
          },
          "is_group": {
            "type": "boolean",
            "description": "האם איש הקשר הוא קבוצה"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "תוכן vCard"
          },
          "full_name": {
            "type": "string",
            "description": "שם מלא של איש קשר"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "מערך של כתובות דוא\"ל"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "מערך של מספרי טלפון"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "מערך מספרי טלפון (כינוי למספרי_טלפון)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "מערך של כתובות"
          },
          "is_group": {
            "type": "boolean",
            "description": "האם איש הקשר הוא קבוצה"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "מזהה לוח שנה (calendarId מ-CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "שם לוח שנה"
          },
          "description": {
            "type": "string",
            "description": "תיאור לוח השנה"
          },
          "color": {
            "type": "string",
            "description": "צבע לוח שנה (פורמט הקסדצימלי)"
          },
          "timezone": {
            "type": "string",
            "description": "אזור זמן של לוח שנה"
          },
          "order": {
            "type": "integer",
            "description": "סדר התצוגה של לוח השנה"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "שם לוח שנה"
          },
          "calendar_id": {
            "type": "string",
            "description": "מזהה לוח שנה מותאם אישית (אם לא יסופק, ייווצר אוטומטית)"
          },
          "description": {
            "type": "string",
            "description": "תיאור לוח השנה"
          },
          "color": {
            "type": "string",
            "description": "צבע לוח שנה (פורמט הקסדצימלי, אם לא סופק, ייווצר אוטומטית)"
          },
          "timezone": {
            "type": "string",
            "description": "אזור זמן של לוח שנה (ברירת מחדל היא אזור הזמן של המשתמש או UTC)"
          },
          "order": {
            "type": "integer",
            "description": "סדר הצגת לוח שנה (ברירת מחדל היא 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "שם לוח שנה"
          },
          "description": {
            "type": "string",
            "description": "תיאור לוח השנה"
          },
          "color": {
            "type": "string",
            "description": "צבע לוח שנה (פורמט הקסדצימלי)"
          },
          "timezone": {
            "type": "string",
            "description": "אזור זמן של לוח שנה"
          },
          "order": {
            "type": "integer",
            "description": "סדר התצוגה של לוח השנה"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "מזהה אירוע בלוח שנה (eventId מ-CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "מזהה היומן שאליו שייך אירוע זה"
          },
          "ical": {
            "type": "string",
            "description": "נתוני iCalendar (RFC 5545) עבור האירוע"
          },
          "summary": {
            "type": "string",
            "description": "כותרת/סיכום האירוע (נלקח מנתוני iCal)"
          },
          "description": {
            "type": "string",
            "description": "תיאור האירוע (ממקור נתוני iCal)"
          },
          "location": {
            "type": "string",
            "description": "מיקום האירוע (נלקח מנתוני iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "תאריך/שעת תחילת אירוע (נלקח מנתוני iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "תאריך/שעת סיום האירוע (נלקח מנתוני iCal)"
          },
          "uid": {
            "type": "string",
            "description": "מזהה ייחודי מנתוני iCal"
          },
          "status": {
            "type": "string",
            "description": "סטטוס אירוע (נלקח מנתוני iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "מארגן אירועים (נלקח מנתוני iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "חותמת זמן של מחיקה רכה"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "מזהה היומן שאליו יש להוסיף את האירוע"
          },
          "event_id": {
            "type": "string",
            "description": "מזהה אירוע מותאם אישית (אם לא יסופק, ייווצר אוטומטית)"
          },
          "ical": {
            "type": "string",
            "description": "נתוני iCalendar (RFC 5545) עבור האירוע. חייבים להיות בפורמט iCal תקין."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "העברת אירוע ללוח שנה אחר"
          },
          "ical": {
            "type": "string",
            "description": "נתוני iCalendar (RFC 5545) מעודכנים עבור האירוע"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "מזהה תיקייה"
          },
          "path": {
            "type": "string",
            "description": "נתיב התיקייה המלא"
          },
          "name": {
            "type": "string",
            "description": "שם התיקייה (החלק האחרון של הנתיב)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "נתיב תיקיית האב"
          },
          "uid_validity": {
            "type": "integer",
            "description": "תוקף IMAP UID"
          },
          "uid_next": {
            "type": "integer",
            "description": "ערך ה-UID הבא"
          },
          "modify_index": {
            "type": "integer",
            "description": "אינדקס שינויים"
          },
          "subscribed": {
            "type": "boolean",
            "description": "האם התיקייה מנויה"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "דגלי תיקיות"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "תקופת שמירת ההודעות"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "ייעוד שימוש מיוחד"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "נתיב/שם התיקייה"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "נתיב/שם תיקייה חדשים"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "מזהה הודעה"
          },
          "root_id": {
            "type": "string",
            "description": "מזהה הודעת שורש עבור שרשור"
          },
          "folder_id": {
            "type": "string",
            "description": "מזהה תיקייה המכילה את ההודעה"
          },
          "folder_path": {
            "type": "string",
            "description": "נתיב התיקייה המכיל את ההודעה"
          },
          "thread_id": {
            "type": "string",
            "description": "מזהה שרשור עבור קיבוץ שיחות"
          },
          "header_message_id": {
            "type": "string",
            "description": "ערך כותרת של מזהה הודעה"
          },
          "is_unread": {
            "type": "boolean",
            "description": "האם ההודעה לא נקראה"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "האם ההודעה מסומנת"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "האם ההודעה נמחקה"
          },
          "is_draft": {
            "type": "boolean",
            "description": "האם ההודעה היא טיוטה"
          },
          "is_junk": {
            "type": "boolean",
            "description": "האם ההודעה היא דואר זבל/ספאם"
          },
          "is_copied": {
            "type": "boolean",
            "description": "האם ההודעה הועתקה"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "האם ניתן לחפש את ההודעה"
          },
          "is_expired": {
            "type": "boolean",
            "description": "האם פג תוקף ההודעה"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "האם להודעה יש קבצים מצורפים"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "תאריך שמירת הודעות"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "תאריך פנימי (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "תאריך מכותרות ההודעות"
          },
          "subject": {
            "type": "string",
            "description": "נושא ההודעה"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "דגלי IMAP"
          },
          "size": {
            "type": "integer",
            "description": "גודל ההודעה בבתים"
          },
          "uid": {
            "type": "integer",
            "description": "מזהה משתמש של IMAP"
          },
          "modseq": {
            "type": "integer",
            "description": "רצף שינויים"
          },
          "transaction": {
            "type": "string",
            "description": "סוג העסקה"
          },
          "remote_address": {
            "type": "string",
            "description": "כתובת IP מרוחקת"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "חותמת זמן של יצירת הודעה"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "חותמת זמן של עדכון אחרון של ההודעה"
          },
          "nodemailer": {
            "type": "object",
            "description": "אובייקט הודעה מנותח (כלול כברירת מחדל, הגדר ?nodemailer=false כדי לא לכלול)"
          },
          "raw": {
            "type": "string",
            "description": "תוכן הודעה גולמי (כלול כברירת מחדל, הגדר ?raw=false כדי לא לכלול)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "כתובת הדוא\"ל של השולח"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "כתובות דוא\"ל של נמענים"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "כתובות דוא\"ל של נמעני CC"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "כתובות דוא\"ל של נמעני BCC"
          },
          "subject": {
            "type": "string",
            "description": "נושא ההודעה"
          },
          "text": {
            "type": "string",
            "description": "תוכן טקסט רגיל"
          },
          "html": {
            "type": "string",
            "description": "תוכן HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "קבצים מצורפים להודעות (פורמט Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "תיקיית יעד (ברירת מחדל היא תיבת דואר נכנס)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "דגלי IMAP להגדרה על ההודעה"
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "דגלי IMAP להגדרה על ההודעה"
          },
          "folder": {
            "type": "string",
            "description": "העברת הודעה לתיקייה זו"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "כתובת הדוא\"ל של השולח (חייבת להתקיים ככינוי של הדומיין)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "רשימה או מערך של נמענים מופרדים בפסיקים עבור כותרת 'אל'."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "רשימה או מערך של נמענים מופרדים בפסיקים עבור כותרת 'Cc'."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "רשימה או מערך של נמענים מופרדים בפסיקים עבור כותרת 'עותק מוסתר'."
          },
          "subject": {
            "type": "string",
            "description": "נושא האימייל."
          },
          "text": {
            "type": "string",
            "description": "גרסת הטקסט הרגיל של ההודעה."
          },
          "html": {
            "type": "string",
            "description": "גרסת ה-HTML של ההודעה."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "מערך של אובייקטים מצורפים (ראה שדות נפוצים של Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "כתובת הדוא\"ל עבור כותרת 'שולח'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "כתובת הדוא\"ל עבור כותרת 'השב אל'."
          },
          "inReplyTo": {
            "type": "string",
            "description": "מזהה ההודעה שאליו ההודעה היא בתגובה."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "רשימה או מערך של מזהי הודעות מופרדים ברווחים."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "אם הערך הוא נכון, הפונקציה ממירה נתונים: תמונות בתוכן ה-HTML לקבצים מצורפים מוטמעים."
          },
          "watchHtml": {
            "type": "string",
            "description": "גרסת HTML ספציפית ל-Apple Watch של ההודעה."
          },
          "amp": {
            "type": "string",
            "description": "גרסת HTML ספציפית ל-AMP4EMAIL של ההודעה."
          },
          "icalEvent": {
            "type": "object",
            "description": "אירוע iCalendar כתוכן חלופי להודעה."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "מערך של תוכן הודעות חלופי."
          },
          "encoding": {
            "type": "string",
            "description": "קידוד עבור הטקסט ומחרוזות ה-HTML (למשל, 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "הודעה בפורמט RFC822 שנוצרה בהתאמה אישית (במקום להשתמש ביצירת Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "קידוד נאלץ לשמש עבור ערכי טקסט."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "רמת עדיפות עבור האימייל."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "אובייקט או מערך של שדות כותרת נוספים."
          },
          "messageId": {
            "type": "string",
            "description": "מזהה הודעה אופציונלי עבור כותרת 'מזהה הודעה'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "כותרת תאריך אופציונלית. לא יכולה להיות יותר מ-30 יום בעתיד."
          },
          "list": {
            "type": "object",
            "description": "אובייקט אופציונלי של כותרות List-*."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "שם תחום מלא (FQDN) או כתובת IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "הקצאה לאותו צוות מדומיין אחר; יכול להיות מזהה דומיין או FQDN. השתמש ב-\"none\" כדי להשבית במפורש."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "סוג תוכנית (ברירת מחדל היא 'חינם' או התוכנית בתשלום הנוכחית של המשתמש)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "רשימה מופרדת של כתובות דוא\"ל (מופרדת באמצעות פסיק, רווח או שורה חדשה)"
              }
            ],
            "description": "צור כינוי ברירת מחדל לכיבוש הכל (ברירת המחדל היא true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "הפעלת הגנה מפני תוכן למבוגרים בלבד באמצעות סורק ספאם"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "הפעלת הגנה מפני פישינג באמצעות סורק ספאם"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "הפעל הגנה על קובץ ההפעלה של סורק ספאם"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "הפעלת הגנה מפני וירוסים של ספאם סורק"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "דרוש מנמעני כינוי ללחוץ על קישור אימות דוא\"ל"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "התעלם מבדיקת רשומות MX עבור הגדרות ניתוב דואר מתקדמות"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "הצטרף לאחסון כותרות ומטא-דאטה (לא כולל תוכן הודעה) עבור הודעות דוא\"ל שהועברו בהצלחה, נשלחו באמצעות webhook, יוצאות באמצעות SMTP ו-IMAP, כאשר יומני הרישום נשמרים למשך 7 ימים. תכונה זו עוזרת לך לנטר ולפתור בעיות בביצועי מסירת הודעות דוא\"ל עם תובנות מפורטות לגבי העברות מוצלחות."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "מספר הימים לשמירת יומני SMTP יוצאים (0–30, ברירת מחדל: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "כתובת Webhook לקבלת אירועי ניתור"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "השבתת וו-הוק של ניתור חוזר"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "מכסת אחסון מקסימלית לכל כינוי (לדוגמה '1 ג'יגה-בייט')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "פורט מותאם אישית להגדרה עבור העברת SMTP (ברירת המחדל היא '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "האם להפעיל הגנה על תוכן למבוגרים באמצעות סורק ספאם בדומיין זה"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "האם להפעיל הגנה מפני פישינג באמצעות סורק ספאם בדומיין זה"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "האם להפעיל הגנה על קובץ ההפעלה של סורק ספאם בדומיין זה"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "האם להפעיל את הגנה מפני וירוסים של Spam Scanner בדומיין זה"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "ברירת מחדל של דומיין גלובלי לשאלה האם לדרוש מנמעני כינוי ללחוץ על קישור אימות דוא\"ל כדי שאימיילים יעברו דרכם"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "האם להתעלם מבדיקת רשומת ה-MX בדומיין לצורך אימות (בעיקר עבור הגדרות ניתוב MX מתקדמות)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "הצטרף לאחסון כותרות ומטא-דאטה (לא כולל תוכן הודעה) עבור הודעות דוא\"ל שהועברו בהצלחה, נשלחו באמצעות webhook, יוצאות באמצעות SMTP ו-IMAP, כאשר יומני הרישום נשמרים למשך 7 ימים. תכונה זו עוזרת לך לנטר ולפתור בעיות בביצועי מסירת הודעות דוא\"ל עם תובנות מפורטות לגבי העברות מוצלחות."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "מספר ימים לאחסון הודעות דוא\"ל SMTP יוצאות (0 = מחיקה מיידית)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "כתובת URL של Webhook כדי לקבל התראות יציאה מדף, או false כדי להשבית"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "מכסת אחסון לפי כינוי (לדוגמה '1 ג'יגה-בייט', מנותח לבייטים)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "שם כינוי (אם לא סופק או אם ריק, נוצר כינוי אקראי)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "מחרוזת מופרדת במעבר שורה/רווח/פסיק של כתובות דוא\"ל חוקיות, כתובות FQDN, כתובות IP או כתובות URL של webhook"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "מערך של נמענים חוקיים"
              }
            ],
            "description": "רשימת נמענים. אם לא סופק או ריק, ברירת המחדל היא כתובת הדוא\"ל של המבקש"
          },
          "description": {
            "type": "string",
            "description": "תיאור כינוי"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "מחרוזת תוויות מופרדת באמצעות מעבר שורה/רווח/פסיק"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "מערך של תוויות"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "דרוש מהנמענים ללחוץ על קישור האימות (ברירת המחדל היא הגדרת הדומיין)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "האם להפעיל או להשבית כינוי זה"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "קוד שגיאה אם הכינוי מושבת. ברירת המחדל היא 250"
          },
          "has_imap": {
            "type": "boolean",
            "description": "הפעלה או השבתה של אחסון IMAP עבור כינוי זה"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "הפעלה או השבתה של הצפנת OpenPGP עבור כינוי זה"
          },
          "public_key": {
            "type": "string",
            "description": "מפתח ציבורי של OpenPGP בפורמט ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "מכסת אחסון מקסימלית (לדוגמה '1 ג'יגה-בייט')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "הפעלה או השבתה של מענה חופשה"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "תאריך התחלה (לדוגמה 'YYYY-MM-DD') עבור משיב חופשה"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "תאריך סיום (לדוגמה 'YYYY-MM-DD') עבור הודעה לחופשה"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "נושא טקסט רגיל עבור משיב חופשה"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "הודעת טקסט רגילה עבור מענה לחופשה"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "שם בדוי"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "מחרוזת מופרדת במעבר שורה/רווח/פסיק של כתובות דוא\"ל חוקיות, כתובות FQDN, כתובות IP או כתובות URL של webhook"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "מערך של נמענים חוקיים"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "תיאור כינוי"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "מחרוזת תוויות מופרדת באמצעות מעבר שורה/רווח/פסיק"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "מערך של תוויות"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "דרוש מהנמענים ללחוץ על קישור האימות (ברירת המחדל היא הגדרת הדומיין)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "הפעלה או השבתה של כינוי"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "קוד שגיאה לשימוש אם הכינוי מושבת (ברירת מחדל היא 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "הפעלה או השבתה של אחסון IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "הפעלה או השבתה של הצפנת OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "מפתח ציבורי של OpenPGP בפורמט ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "מכסת אחסון מקסימלית (לדוגמה, '1 ג'יגה-בייט')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "הפעלה או השבתה של מענה חופשה"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "תאריך התחלה של משיב חופשה (לדוגמה: YYYY-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "תאריך סיום של תשובה לחופשה (לדוגמה: YYYY-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "נושא טקסט רגיל של משיב חופשה"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "הודעת טקסט רגילה של משיב חופשה"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "סיסמה חדשה מותאמת אישית לשימוש עבור הכינוי"
          },
          "password": {
            "type": "string",
            "description": "סיסמה קיימת עבור כינוי כדי לשנות אותה מבלי למחוק את אחסון תיבת הדואר"
          },
          "is_override": {
            "type": "boolean",
            "description": "עקיפת סיסמה קיימת ומחיקת אחסון IMAP (יש להשתמש בזהירות)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "כתובת דוא\"ל לשליחת סיסמת כינוי והוראות הגדרה"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "ספירת האימיילים שנשלחו כעת"
          },
          "limit": {
            "type": "integer",
            "description": "מספר האימיילים המרבי המותר"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "מזהה חבר"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "כתובת הדוא\"ל של החבר"
          },
          "role": {
            "type": "string",
            "description": "תפקיד החבר"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "כתובת דוא\"ל שהוזמנה"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "דף התוצאות שיש להחזיר. אם לא צוין, הערך יהיה 1. חייב להיות מספר גדול או שווה ל-1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "מספר התוצאות להחזרה בכל עמוד. ברירת המחדל היא 25 אם לא צוין. חייב להיות מספר גדול או שווה ל-1, וקטן או שווה ל-100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "הצטרף לעמודים לפני 1 בנובמבר 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "מזהה דומיין",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "מזהה כינוי",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "מזהה חבר",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "מזהה דוא\"ל",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "מזהה איש קשר",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "מזהה לוח שנה",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "מזהה תיקייה או נתיב",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "מזהה הודעה",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "חֶשְׁבּוֹן"
        ],
        "summary": "אחזור חשבון",
        "description": "אחזור פרטי החשבון שלך.\n\n**אימות:** נקודת קצה זו תומכת הן באימות אסימון API והן באימות אישורי כינוי.\n\n- **חשבון משתמש (אסימון API):** לאחר אימות באמצעות אסימון ה-API שלך, נקודת קצה זו מחזירה את פרטי חשבון המשתמש שלך, כולל פרטי תוכנית, דוא\"ל ואסימון API.\n\n- **חשבון כינוי (אישרויות כינוי):** לאחר אימות באמצעות אישורי כינוי (דוא\"ל וסיסמה שנוצרה), נקודת קצה זו מחזירה מידע על כינוי/תיבת דואר, כולל אחסון בשימוש, מכסת אחסון והגדרות תיבת דואר. זה שימושי עבור לקוחות IMAP/POP3/CalDAV/CardDAV לבדיקת מצב האחסון.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "חֶשְׁבּוֹן"
        ],
        "summary": "עדכון חשבון",
        "description": "עדכן את פרטי החשבון שלך.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "שם תצוגה"
                  },
                  "locale": {
                    "type": "string",
                    "description": "העדפת מקום"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "אנשי קשר"
        ],
        "summary": "רשימת אנשי קשר",
        "description": "אחזור רשימה של כל אנשי הקשר עבור הכינוי המאומת. נקודת קצה זו תומכת בחלוקה לעמודים ומחזירה אנשי קשר בפורמט CardDAV.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "אנשי קשר"
        ],
        "summary": "צור איש קשר",
        "description": "צור איש קשר חדש. ניתן לספק תוכן vCard ישירות או שדות של אנשי קשר בודדים שיומרו לפורמט vCard. אם איש קשר עם אותו מזהה כבר קיים, תוחזר שגיאת התנגשות.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "אנשי קשר"
        ],
        "summary": "אחזור איש קשר",
        "description": "אחזור איש קשר ספציפי לפי המזהה שלו. איש הקשר מוחזר בפורמט איש קשר סטנדרטי עם תוכן vCard ושדות מנותחים.",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "אנשי קשר"
        ],
        "summary": "עדכון איש קשר",
        "description": "עדכון איש קשר קיים. ניתן לספק תוכן vCard מעודכן או שדות בודדים לעדכון. ה-vCard של איש הקשר ייווצר מחדש אם יסופקו שדות בודדים.",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "אנשי קשר"
        ],
        "summary": "מחיקת איש קשר",
        "description": "מחק איש קשר ספציפי לצמיתות. לא ניתן לבטל פעולה זו.",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "לוחות שנה"
        ],
        "summary": "רשימת לוחות שנה",
        "description": "אחזור רשימה של כל היומנים עבור הכינוי המאומת. נקודת קצה זו תומכת בעמודים ומחזירה יומנים בפורמט CalDAV.",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "לוחות שנה"
        ],
        "summary": "צור לוח שנה",
        "description": "צור לוח שנה חדש. שם לוח השנה נדרש, בעוד שמאפיינים אחרים כמו צבע, אזור זמן ותיאור הם אופציונליים. אם כבר קיים לוח שנה עם אותו שם, תוחזר שגיאת התנגשות.",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "לוחות שנה"
        ],
        "summary": "אחזור לוח שנה",
        "description": "אחזור לוח שנה ספציפי לפי המזהה שלו. לוח השנה מוחזר עם כל המאפיינים שלו, כולל שם, תיאור, צבע, אזור זמן וסדר.",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "לוחות שנה"
        ],
        "summary": "עדכון לוח שנה",
        "description": "עדכון לוח שנה קיים. ניתן לעדכן כל אחד ממאפייני לוח השנה, כולל שם, תיאור, צבע, אזור זמן וסדר. אם תשנה את השם לשם שכבר קיים, תוחזר שגיאת התנגשות.",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "לוחות שנה"
        ],
        "summary": "מחיקת לוח שנה",
        "description": "מחיקת לוח שנה ספציפי לצמיתות. פעולה זו אינה ניתנת לביטול והיא תמחק גם את כל האירועים בלוח השנה.",
        "operationId": "deleteCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendar-events": {
      "get": {
        "tags": [
          "אירועי לוח שנה"
        ],
        "summary": "רשימת אירועי לוח שנה",
        "description": "אחזור רשימה של אירועי לוח שנה עבור הכינוי המאומת. נקודת קצה זו תומכת בחלוקה לדפים ובסינון לפי לוח שנה, טווח תאריכים וסטטוס מחיקה.",
        "operationId": "listCalendarEvents",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "name": "calendar_id",
            "in": "query",
            "description": "סנן אירועים לפי מזהה לוח שנה",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "סנן אירועים החל מתאריך זה (פורמט ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "סנן אירועים המסתיימים לפני תאריך זה (פורמט ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "description": "כלול אירועים שנמחקו באופן רך בתוצאות",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of calendar events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarEvent"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "אירועי לוח שנה"
        ],
        "summary": "צור אירוע בלוח שנה",
        "description": "צור אירוע לוח שנה חדש עם נתוני iCalendar. האירוע יעבור אימות וניתוח כדי לחלץ מאפיינים משותפים לגישה נוחה.",
[...]
