{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Tervetuloa kattavaan sähköpostin edelleenlähetyksen API-dokumentaatioon. Tämän API:n avulla voit hallita sähköpostin edelleenlähetystä, verkkotunnuksia, aliaksia, lähteviä sähköposteja ja paljon muuta ohjelmallisesti.\n\n## Tärkeimmät ominaisuudet\n* **Verkkotunnusten hallinta:** Luo, hae, päivitä, poista ja vahvista verkkotunnuksia.\n* **Aliasten hallinta:** Hallitse sähköpostialiaksia, mukaan lukien luominen, päivitykset ja vastaanottajien hallinta.\n* **Lähtevät SMTP:** Lähetä sähköposteja SMTP:n kautta, hallitse rajoituksia ja seuraa lähetettyjä sähköposteja.\n* **Tili ja lokit:** Hallitse tilisi tietoja ja lataa toimintalokeja.\n* **Turvallisuus:** Salaa TXT-tietueet ja hallitse verkkotunnuksen jäseniä/kutsuja.\n* **Tulossa pian:** Ominaisuuksia, kuten CardDAV-yhteystiedot, CalDAV-kalenterit ja IMAP/POP3-viestien/kansioiden hallinta, on suunnitteilla.\n\n## Todennus\nUseimmat päätepisteet vaativat todennuksen **API-avaimella**. Anna API-avain `käyttäjätunnuksena` perustodennuksen otsikossa ja jätä salasana tyhjäksi.\n\n```http\nValtuutus: Perus QVBJX1RPS0VOOg==\n```\n(Korvaa `API_TOKEN` omalla avaimellasi ennen Base64-koodausta)\n\n**Yhteystietojen, kalentereiden, viestien ja kansioiden aliaksiin** (tällä hetkellä merkitty \"Tulossa pian\") liittyvät päätepisteet käyttävät luotua alias-käyttäjätunnusta ja salasanaa perustodennuksessa.\n\n## Virheet\nAPI käyttää HTTP-vakiotilakoodeja onnistumisen tai epäonnistumisen osoittamiseen. Virhevastaukset sisältävät JSON-rungon, jossa on `viesti`-kenttä, jossa on virheen tiedot.\n\n| Tilakoodi | Merkitys |\n|--------------|--------------------|\n| 200 | OK |\n| 400 | Virheellinen pyyntö |\n| 401 | Luvaton |\n| 403 | Kielletty |\n| 404 | Ei löydy |\n| 429 | Liikaa pyyntöjä |\n| 500 | Sisäinen palvelinvirhe|\n| 501 | Ei toteutettu |\n| 502 | Viallinen yhdyskäytävä |\n| 503 | Palvelu ei ole käytettävissä |\n| 504 | Yhdyskäytävän aikakatkaisu |\n\n*Jos kohtaat `5xx`-virheen, ota yhteyttä osoitteeseen [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalisointi\nAPI-vastaukset käännetään käyttäjän havaitseman kieliasetuksen tai `Accept-Language`-otsikon perusteella. Yli 25 kieltä tuetaan.\n\n## Sivutus\nPäätepisteet, jotka palauttavat luetteloita, tukevat sivutusta kyselyparametrien kautta.\n\n| Parametri | Tyyppi | Valinnainen | Kuvaus | Oletusarvo | Rajoitukset |\n|---------------|----------|-----------|----------------------------------------------------------------------|---------|------------------------|\n| `sivu` | Kokonaisluku | Kyllä | Haettava sivunumero. | 1 | `>= 1` |\n| `limit` | Kokonaisluku | Kyllä | Tulosten määrä sivua kohden. | 10 | `>= 1`, `<= 50` |\n| `sivutus` | Boolean | Kyllä | Sivutustoiminto käytössä (vaaditaan joillekin päätepisteille ennen 1. marraskuuta 2024). | false | |\n\n**Sivutusotsikot:**\n* `X-Page-Count`: Sivujen kokonaismäärä.\n* `X-Page-Current`: Nykyinen sivunumero.\n* `X-Page-Size`: Nykyisellä sivulla olevien kohteiden määrä.\n* `X-Item-Count`: Kohteiden kokonaismäärä kaikilla sivuilla.\n* `Link`: Navigointilinkit (edellinen, seuraava, ensimmäinen, viimeinen).\n\n**Esimerkki:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Suositellut kirjastot\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Ylläpitää Forward Email)\n* **Siirry:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Sähköpostin edelleenlähetys-API-palvelin"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Käytä API-avaintasi **käyttäjätunnuksena** perustodennuksessa. Jätä salasana-kenttä tyhjäksi.\n\n**Esimerkki:**\nJos API-avaimesi on `OMA_API_AVAIMESI`, `Valtuutus`-otsikon Base64-koodattu arvo olisi `echo -n \"OMA_API_AVAIMESI:\" | base64`.\n\n```http\nValtuutus: Perus WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Käytä luotua **alias-käyttäjätunnusta ja -salasanaa** perustodennukseen. Tämä koskee päätepisteitä seuraavissa:\n* Alias-yhteystiedot (CardDAV)\n* Alias-kalenterit (CalDAV)\n* Alias-viestit (IMAP/POP3)\n* Alias-kansiot (IMAP/POP3)\n\n*(Huomautus: Nämä ominaisuudet on tällä hetkellä merkitty \"Tulossa pian\")*\n\n**Esimerkki:**\nJos alias-käyttäjätunnus on `alias@domain.com` ja salasana on `GENERATED_PASSWORD`, Base64-koodattu arvo olisi `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nValtuutus: Perus YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Virheilmoitus"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Lähettäjän sähköpostiosoite (sen on oltava verkkotunnuksen alias)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Pilkuilla erotettu luettelo tai vastaanottajien taulukko Vastaanottaja-otsikkoa varten."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Pilkuilla erotettu luettelo tai vastaanottajien taulukko 'Kopio'-otsikkoa varten."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Pilkuilla erotettu luettelo tai vastaanottajien taulukko 'Piilokopio'-otsikkoa varten."
          },
          "subject": {
            "type": "string",
            "description": "Sähköpostin aihe."
          },
          "text": {
            "type": "string",
            "description": "Viestin selkokielinen versio."
          },
          "html": {
            "type": "string",
            "description": "Viestin HTML-versio."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Liitetiedostojen objekteja sisältävä taulukko (katso Nodemailerin yleiset kentät)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Lähettäjä-otsikon sähköpostiosoite."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Vastaa-otsikon sähköpostiosoite."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Viesti-ID, johon viesti on vastaus."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Välilyönneillä erotettu luettelo tai viestitunnusten taulukko."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Jos arvo on true, muuntaa HTML-sisällön data:-kuvat upotetuiksi liitteiksi."
          },
          "watchHtml": {
            "type": "string",
            "description": "Viestin Apple Watch -kohtainen HTML-versio."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL-viestin HTML-versio."
          },
          "icalEvent": {
            "type": "object",
            "description": "iCalendar-tapahtuma vaihtoehtoisena viestisisältönä."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Vaihtoehtoisten viestien sisältöjen kokoelma."
          },
          "encoding": {
            "type": "string",
            "description": "Tekstin ja HTML-merkkijonojen koodaus (esim. 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Mukautettu RFC822-muotoiltu viesti (Nodemailer-generoinnin sijaan)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Tekstiarvoille pakollinen koodauksen käyttö."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Sähköpostin prioriteettitaso."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objekti tai lisäotsikkokenttien taulukko."
          },
          "messageId": {
            "type": "string",
            "description": "Valinnainen viestitunnus 'Viestitunnus'-otsikkoa varten."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Valinnainen päivämääräotsikko. Ei voi olla yli 30 päivää tulevaisuudessa."
          },
          "list": {
            "type": "object",
            "description": "List-*-otsikoiden valinnainen objekti."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Täydellinen verkkotunnusnimi (FQDN) tai IP-osoite"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Määritä samaan tiimiin toisesta verkkotunnuksesta; voi olla verkkotunnustunnus tai täydellinen verkkotunnus (FQDN). Käytä arvoa \"ei mitään\", jos haluat poistaa sen käytöstä erikseen."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Sopimuksen tyyppi (oletuksena 'ilmainen' tai käyttäjän nykyinen maksullinen paketti)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Erotinmerkein eroteltu sähköpostiosoitteiden luettelo (pilkulla, välilyönnillä tai rivinvaihdolla erotettuna)"
              }
            ],
            "description": "Luo oletusarvoinen keräilyalias (oletusarvo on true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Ota käyttöön roskapostiskannerin aikuisille tarkoitetun sisällön suojaus"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Ota roskapostiskannerin tietojenkalastelusuoja käyttöön"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Ota käyttöön roskapostiskannerin suoritettavan tiedoston suojaus"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Ota käyttöön roskapostiskannerin virustorjunta"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vaadi alias-vastaanottajia napsauttamaan sähköpostiosoitteen vahvistuslinkkiä"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ohita MX-tietueiden tarkistus sähköpostin reitityksen lisäasetuksissa"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Lähtevien SMTP-lokien säilytyspäivien määrä (0–30, oletusarvo: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhookin URL-osoite palautustapahtumien vastaanottamiseksi"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Poista käytöstä palautuswebhook"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Tallennustilan enimmäiskiintiö aliasta kohden (esim. '1 Gt')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Mukautettu portti SMTP-edelleenlähetystä varten (oletus on '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Otetaanko käyttöön roskapostiskannerin aikuisille suunnatun sisällön suojaus tällä verkkotunnuksella"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Otetaanko roskapostiskannerin tietojenkalastelusuoja käyttöön tässä verkkotunnuksessa"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Otetaanko käyttöön roskapostiskannerin suoritettavan tiedoston suojaus tällä verkkotunnuksella"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Otetaanko roskapostiskannerin virustorjunta käyttöön tässä verkkotunnuksessa"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Globaali toimialueen oletusasetus sille, vaaditaanko aliasvastaanottajilta sähköpostin vahvistuslinkin napsauttamista sähköpostien kulkemiseksi"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ohitetaanko verkkotunnuksen MX-tietueen tarkistus vahvistusta varten (pääasiassa edistyneissä MX-reititysasetuksissa)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Lähtevien SMTP-sähköpostien tallennuspäivien määrä (0 = tyhjennä välittömästi)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhookin URL-osoite palautusilmoitusten vastaanottamista varten tai false niiden poistamiseksi käytöstä"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Tallennuskiintiö aliasta kohden (esim. '1 Gt', jäsennettynä tavuiksi)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias-nimi (jos sitä ei anneta tai jos se on tyhjä, luodaan satunnainen alias)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Rivinvaihdolla/välilyönnillä/pilkulla erotettu merkkijono kelvollisista sähköpostiosoitteista, FQDN-osoitteista, IP-osoitteista tai webhook-URL-osoitteista"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Kelvollisten vastaanottajien taulukko"
              }
            ],
            "description": "Vastaanottajien luettelo. Jos sitä ei anneta tai se on tyhjä, oletuksena käytetään pyytäjän sähköpostiosoitetta."
          },
          "description": {
            "type": "string",
            "description": "Alias-kuvaus"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Rivinvaihdolla/välilyönnillä/pilkulla erotettu otsikkomerkkijono"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tarrataulukko"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vaadi vastaanottajia napsauttamaan vahvistuslinkkiä (oletusarvoisesti verkkotunnusasetus)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Otetaanko tämä alias käyttöön vai poistetaanko se käytöstä"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Virhekoodi, jos alias on poistettu käytöstä. Oletusarvo on 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Ota IMAP-tallennus käyttöön tai poista se käytöstä tälle aliakselle"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Ota OpenPGP-salaus käyttöön tai poista se käytöstä tälle aliakselle"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP julkinen avain ASCII Armor -muodossa"
          },
          "max_quota": {
            "type": "string",
            "description": "Tallennustilan enimmäiskiintiö (esim. 1 Gt)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Lomaviestin ottaminen käyttöön tai poistaminen käytöstä"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Lomaviestin aloituspäivämäärä (esim. 'VVVV-KK-PP')"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Lomaviestin päättymispäivämäärä (esim. 'VVVV-KK-PP')"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Lomaviestin selkokielinen aihe"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Lomavastaajan selkokielinen viesti"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias-nimi"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Rivinvaihdolla/välilyönnillä/pilkulla erotettu merkkijono kelvollisista sähköpostiosoitteista, FQDN-osoitteista, IP-osoitteista tai webhook-URL-osoitteista"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Kelvollisten vastaanottajien taulukko"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Alias-kuvaus"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Rivinvaihdolla/välilyönnillä/pilkulla erotettu otsikkomerkkijono"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tarrataulukko"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vaadi vastaanottajia napsauttamaan vahvistuslinkkiä (oletusarvoisesti verkkotunnusasetus)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Alias-ominaisuuden ottaminen käyttöön tai poistaminen käytöstä"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Virhekoodi, jota käytetään, jos alias on poistettu käytöstä (oletusarvo on 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-tallennuksen ottaminen käyttöön tai poistaminen käytöstä"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP-salaus käyttöön tai poista se käytöstä"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP julkinen avain ASCII Armor -muodossa"
          },
          "max_quota": {
            "type": "string",
            "description": "Tallennustilan enimmäiskiintiö (esim. 1 Gt)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Lomaviestin ottaminen käyttöön tai poistaminen käytöstä"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Lomavastaajan aloituspäivämäärä (esim. VVVV-KK-PP)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Lomavastaajan päättymispäivä (esim. VVVV-KK-PP)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Lomaviestin selkokielinen otsikko"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Lomavastaajan selkokielinen viesti"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Uusi mukautettu salasanasi aliakselle"
          },
          "password": {
            "type": "string",
            "description": "Aliaksen olemassa oleva salasana, jotta sitä voidaan vaihtaa poistamatta postilaatikon tallennustilaa"
          },
          "is_override": {
            "type": "boolean",
            "description": "Ohita olemassa oleva salasana ja poista IMAP-tallennustila (käytä varoen)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Sähköpostiosoite, johon lähetetään aliaksen salasana ja asennusohjeet"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Lähetettyjen sähköpostien nykyinen määrä"
          },
          "limit": {
            "type": "integer",
            "description": "Sähköpostien sallittu enimmäismäärä"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Jäsentunnus"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Jäsenen sähköpostiosoite"
          },
          "role": {
            "type": "string",
            "description": "Jäsenen rooli"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Kutsuttu sähköpostiosoite"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Palautettava tulossivu. Jos arvoa ei ole määritetty, arvo on 1. Luvun on oltava suurempi tai yhtä suuri kuin 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Sivua kohden palautettavien tulosten määrä. Oletusarvo on 10, jos sitä ei ole määritetty. Luvun on oltava suurempi tai yhtä suuri kuin 1 ja pienempi tai yhtä suuri kuin 50.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Ota sivutus käyttöön ennen 1. marraskuuta 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Verkkotunnustunnus",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "ID-aliakset",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Jäsentunnus",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Sähköpostiosoite",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "Luo tili",
        "description": "Luo uusi käyttäjätili",
        "tags": [
          "Tili"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Sähköpostiosoite"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Salasana"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "Nouda tili",
        "description": "Hae nykyisen käyttäjän tilitiedot",
        "tags": [
          "Tili"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Päivitä tili",
        "description": "Päivitä nykyisen käyttäjän tilitiedot",
        "tags": [
          "Tili"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Sähköpostiosoite"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "Etunimi"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "Sukunimi"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Linkki avatar-kuvaan"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "Lataa lokit",
        "description": "**Lataa lokeja**\n\nKuvaus: API-rajapintamme avulla voit ladata lokeja tilillesi ohjelmallisesti. Lähettämällä pyynnön tähän päätepisteeseen, kaikki tilisi lokit käsitellään ja lähetetään sinulle sähköpostiliitteenä (Gzip-pakattu CSV-taulukkotiedosto) valmistuttua.\n\nTämän avulla voit luoda taustatöitä Cron-työllä tai Node.js-työaikataulutusohjelmisto Breen avulla lokien vastaanottamiseen milloin tahansa. Huomaa, että tämä päätepiste on rajoitettu 10 pyyntöön päivässä.\n\nLiite on muotoa `email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz` pienellä kirjaimella, ja itse sähköposti sisältää lyhyen yhteenvedon noudetuista lokeista.",
        "tags": [
          "Lokit"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Suodata lokit täysin pätevän verkkotunnuksen (\"FQDN\") mukaan. Jos sitä ei anneta, kaikkien verkkotunnusten kaikki lokit noudetaan.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Hae lokeja sähköpostiosoitteen, verkkotunnuksen, aliaksen, IP-osoitteen tai päivämäärän (muodossa KK/V, KK/PP/VV, KK-PP, KK-PP-VV tai KK.P.VV) mukaan.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "Hae lokeja tietyn palautusluokan mukaan (esim. \"estolista\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "Hae lokeja tietyn virhevastauskoodin perusteella (esim. 421 tai 550).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Listaa lähtevät SMTP-sähköpostit",
        "description": "**Listaa lähtevät SMTP-sähköpostit**\n\nHuomaa, että tämä päätepiste ei palauta ominaisuusarvoja sähköpostin viestille, otsikoille tai hylätyille virheille.\n\nPalautaaksesi nämä ominaisuudet ja niiden arvot, käytä [Retrieve email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) -päätepistettä ja sähköpostiosoitetta.",
        "tags": [
          "Sähköpostit"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Hae sähköposteja metatietojen perusteella.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Hae sähköposteja verkkotunnuksen perusteella.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Lajittele tietyn kentän mukaan (lisää etuliite yhdellä yhdysmerkillä, jos haluat lajitella kentän vastakkaiseen suuntaan). Oletusarvo on created_at, jos sitä ei ole asetettu.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Katso lisätietoja kohdasta Sivutus.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Katso lisätietoja kohdasta Sivutus.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Luo lähtevä SMTP-sähköposti",
        "description": "Sähköpostin luomiseen tarkoitettu API-rajapintamme on saanut inspiraationsa Nodemailerin viestiasetusten määrityksestä ja hyödyntää sitä. Käytä [Nodemailerin viestiasetuksia](https://nodemailer.com/message/) kaikkien alla olevien runkoparametrien osalta.\n\nHuomaa, että lukuun ottamatta `envelope`- ja `dkim`-parametreja (koska asetamme ne automaattisesti puolestasi), tuemme kaikkia Nodemailerin asetuksia. Asetamme `disableFileAccess`- ja `disableUrlAccess`-asetukset automaattisesti arvoon `true` turvallisuussyistä.\n\nSinun tulisi joko antaa yksittäinen `raw`-asetus raakasähköpostiviestisi kanssa, mukaan lukien otsikot, tai antaa yksittäiset runkoparametriasetukset alla.\n\nTämä API-päätepiste koodaa emojeja automaattisesti, jos niitä löytyy otsikoista (esim. otsikkorivi `Subject: 🤓 Hello` muunnetaan automaattisesti muotoon `Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello`). Tavoitteenamme oli luoda erittäin kehittäjäystävällinen ja testeiltä suojattu sähköposti-API.",
        "tags": [
          "Sähköpostit"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "Hanki lähtevän SMTP-sähköpostin rajoitus",
        "description": "Tämä on yksinkertainen päätepiste, joka palauttaa JSON-objektin, joka sisältää tilikohtaisesti päivittäisten SMTP-lähtevien viestien lukumäärän `count`- ja `limit`-arvot.",
        "tags": [
          "Sähköpostit"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "Nouda lähtevä SMTP-sähköposti",
        "description": "Hae tietty lähtevä SMTP-sähköposti.",
        "tags": [
          "Sähköpostit"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Poista lähtevä SMTP-sähköposti",
        "description": "Sähköpostin poistaminen asettaa tilan tilaan \"hylätty\" (eikä sitä myöhemmin käsitellä jonossa) vain ja ainoastaan, jos nykyinen tila on \"odottaa\", \"jonossa\" tai \"lykätty\". Saatamme poistaa sähköposteja automaattisesti 30 päivän kuluttua niiden luomisesta ja/tai lähettämisestä – siksi sinun tulee säilyttää kopio lähtevistä SMTP-sähköposteista sähköpostiohjelmassasi, tietokannassasi tai sovelluksessasi. Voit halutessasi viitata sähköpostitunnukseemme tietokannassasi – tämä arvo palautetaan sekä [Luo sähköposti](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email) että [Hae sähköposti](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) -päätepisteistä.",
        "tags": [
          "Sähköpostit"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "Listaa verkkotunnukset",
        "description": "> [!NOTE]\n>1. marraskuuta 2024 alkaen lista-alueiden ja lista-alueiden aliaksien API-päätepisteiden oletusarvo on enintään 1000 tulosta sivua kohden. Jos haluat ottaa tämän käyttöön jo aiemmin, voit antaa `?paginate=true`-parametrin päätepistekyselyn URL-osoitteelle lisäkyselymerkkijonoparametrina. Lisätietoja on kohdassa Sivutus.",
        "tags": [
          "Verkkotunnukset"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Hae verkkotunnuksia metatietojen perusteella.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Hae verkkotunnuksia verkkotunnuksen nimellä.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Lajittele tietyn kentän mukaan (lisää etuliite yhdellä yhdysmerkillä, jos haluat lajitella kentän vastakkaiseen suuntaan). Oletusarvo on created_at, jos sitä ei ole asetettu.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Katso lisätietoja kohdasta Sivutus.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Katso lisätietoja kohdasta Sivutus.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Luo verkkotunnus",
        "description": "Luo järjestelmään uuden verkkotunnuksen. Tämän päätepisteen avulla voit rekisteröidä täysin pätevän verkkotunnuksen (FQDN) tai IP-osoitteen käytettäväksi alustan kanssa.\n\nValinnaisia määritysvaihtoehtoja ovat verkkotunnuksen määrittäminen olemassa olevalle tiimille, suunnitelman tyypin määrittäminen (esim. ilmainen, parannettu suojaus tai tiimi) ja lisäsuojausten, kuten roskapostisuodatuksen, virustorjunnan ja vastaanottajan vahvistuksen, määrittäminen. Voit myös määrittää, luodaanko oletusarvoisesti keräilyalias, asettaa mukautetun palautus-webhook-URL-osoitteen SMTP-virheitä varten ja määrittää tallennuskiintiörajat sähköpostialiaksille tällä verkkotunnuksella. Tämä päätepiste suorittaa verkkotunnustason validoinnin ja valmistelun. Jos `ignore_mx_check`-vaihtoehto on käytössä, MX-tietueen vahvistus ohitetaan (suositellaan vain edistyneille reititysasetuksille). Vastaus sisältää luodun verkkotunnusobjektin täydelliset tiedot, mukaan lukien konfigurointiin tarvittavat DNS-tietueet.",
        "tags": [
          "Verkkotunnukset"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Hae verkkotunnus",
        "description": "Hae tietty verkkotunnus",
        "tags": [
          "Verkkotunnukset"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Päivitä verkkotunnus",
        "description": "Päivitä tietty verkkotunnus.",
        "tags": [
          "Verkkotunnukset"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Poista verkkotunnus",
        "description": "Poista tietty verkkotunnus.",
        "tags": [
          "Verkkotunnukset"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Tarkista verkkotunnustietueet",
        "description": "Tarkista tietyn verkkotunnuksen DNS-tietueet.",
        "tags": [
          "Verkkotunnukset"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "Tarkista verkkotunnuksen SMTP-tietueet",
        "description": "Tarkistaa määritetyn verkkotunnuksen SMTP-liittyvät DNS-tietueet.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "Verkkotunnukset"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Täysin hyväksytty verkkotunnus (FQDN) vahvistettavaksi",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "Luo koko verkkotunnuksen kattava salasana",
        "description": "Luo koko verkkotunnuksen kattavan yleissalasanan. Jos salasanaa ei anneta, luodaan turvallinen satunnainen salasana.",
        "tags": [
          "Verkkotunnukset"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Verkkotunnus, jolle luodaan yleissalasana"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "Uusi mukautettu salasanasi, jota käytetään koko verkkotunnuksen kattavana keräilysalasanana. Jätä tyhjäksi luodaksesi vahvan salasanan."
                  },
                  "description": {
                    "type": "string",
                    "description": "Kuvaus vain organisointitarkoituksiin."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Listaa koko verkkotunnuksen kattavat yleiset salasanat",
        "description": "Palauttaa luettelon koko verkkotunnuksen laajuisista keräilysalasanoista, jotka on tällä hetkellä määritetty määritetylle verkkotunnukselle.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "Verkkotunnukset"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Täydellinen verkkotunnusnimi (FQDN), jolle keräilysalasanat listataan",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "Poista koko verkkotunnuksen kattava yleissalasana",
        "description": "Poistaa koko verkkotunnuksen kattavan keräilysalasanan annetun tunnisteen avulla.",
        "tags": [
          "Verkkotunnukset"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Yleiseen salasanaan liittyvä verkkotunnusnimi"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Poistettavan koko verkkotunnuksen kattavan keräilysalasanan tunnustunnus"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Hyväksy verkkotunnuskutsu",
        "description": "Hyväksy kutsu verkkotunnukseen.",
        "tags": [
          "Kutsut"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Luo verkkotunnuskutsu",
        "description": ">[!IMPORTANT]\n>Jos kutsuttava käyttäjä on jo hyväksytty jäsen jollakin muulla verkkotunnuksella, johon kutsun lähettänyt ylläpitäjä kuuluu, kutsu hyväksytään automaattisesti eikä sähköpostia lähetetä.",
        "tags": [
          "Kutsut"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Sähköpostiosoite, johon haluat kutsua verkkotunnuksen jäsenluetteloon"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "Ryhmä, johon käyttäjä lisätään verkkotunnusjäsenyyteen (voi olla joko \"admin\" tai \"user\")"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Poista verkkotunnuskutsu",
        "description": "Poista kutsu verkkotunnukseen.",
        "tags": [
          "Kutsut"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Verkkotunnuksen jäsenluettelosta poistettava sähköpostiosoite"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "Päivitä verkkotunnuksen jäsen",
        "description": "Päivitä verkkotunnuksen jäsen.",
        "tags": [
          "Jäsenet"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "Ryhmä, johon käyttäjä päivitetään verkkotunnusjäsenyydeksi (voi olla joko \"admin\" tai \"user\")"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Poista verkkotunnuksen jäsen",
        "description": "Poista verkkotunnuksen jäsen.",
        "tags": [
          "Jäsenet"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "Luo aliassalasana",
        "description": "Luo salasana aliakselle. Jos `emailed_instructions`-määrettä ei anneta, vastaus sisältää luodun käyttäjätunnuksen ja salasanan.",
        "tags": [
          "Aliakset"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Täysin pätevä verkkotunnusnimi (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Aliaksen yksilöllinen tunniste"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Listaa verkkotunnusaliakset",
        "description": ">[!NOTE]\n>1. marraskuuta 2024 alkaen `Listaa verkkotunnukset`- ja `Listaa verkkotunnuksen aliakset`-API-päätepisteiden oletusarvo on enintään 1000 tulosta sivua kohden. Jos haluat ottaa tämän käyttöön jo aiemmin, voit antaa `?paginate=true`-parametrin päätepistekyselyn URL-osoitteelle lisäkyselymerkkijonoparametrina. Lisätietoja on kohdassa Sivutus.",
        "tags": [
          "Aliakset"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Hae aliaksia verkkotunnuksesta nimen, tunnisteen tai vastaanottajan perusteella (rek. lauseke tuettu)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Hae aliaksia verkkotunnuksesta nimen perusteella (rek. lauseke tuettu)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Hae aliaksia verkkotunnuksesta vastaanottajan mukaan (rek. lauseke tuettu)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Lajittele tietyn kentän mukaan (etuliite yhdellä yhdysmerkillä - lajitellaksesi käänteisesti). Oletusarvo on created_at.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Luo uusi verkkotunnusalias",
        "description": "Luo uusi alias tietylle verkkotunnukselle.",
        "tags": [
          "Aliakset"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "Hae verkkotunnuksen alias",
        "description": "Hae tietty alias verkkotunnukselle.",
        "tags": [
          "Aliakset"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Päivitä verkkotunnuksen alias",
        "description": "Päivitä tietty verkkotunnuksen alias.",
        "tags": [
          "Aliakset"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Poista verkkotunnuksen alias",
        "description": "Poista tietty verkkotunnuksen alias.",
        "tags": [
          "Aliakset"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "Salaa TXT-tietue",
        "description": "Voit salata tietueita jopa ilmaisversiossa täysin ilmaiseksi. Yksityisyyden ei pitäisi olla ominaisuus, vaan sen tulisi olla luonnostaan sisäänrakennettu osa kaikkia tuotteen ominaisuuksia. Olemme lisänneet tämän ominaisuuden, kuten [Tietosuojaoppaiden keskustelussa](https://discuss.privacyguides.net/t/forward-email-email-provider/13370) ja [GitHub-ongelmissamme](https://github.com/forwardemail/forwardemail.net/issues/254) todettiin.",
        "tags": [
          "Salaa"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "Mikä tahansa kelvollinen välityssähköpostin selkotekstitiedosto"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "Listaa yhteystiedot",
        "description": "Listaa kaikki yhteystiedot (CardDAV). Tämä päätepiste on tulossa pian.",
        "tags": [
          "Alias-yhteystiedot"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Luo yhteystieto",
        "description": "Luo uusi yhteystieto (CardDAV). Tämä päätepiste on tulossa pian.",
        "tags": [
          "Alias-yhteystiedot"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Yhteyshenkilön tunnus",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Hae yhteystieto",
        "description": "Hae tietty yhteystieto (CardDAV). Tämä päätepiste on tulossa pian.",
        "tags": [
          "Alias-yhteystiedot"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
[...]
