{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Vítejte v komplexní dokumentaci k API pro funkci Forward Email. Toto API vám umožňuje programově spravovat přesměrování e-mailů, domény, aliasy, odchozí e-maily a další.\n\n## Klíčové funkce\n* **Správa domén:** Vytváření, načítání, aktualizace, mazání a ověřování domén.\n* **Správa aliasů:** Správa e-mailových aliasů, včetně vytváření, aktualizací a správy příjemců.\n* **Odchozí SMTP:** Odesílání e-mailů přes SMTP, správa limitů a sledování odeslaných e-mailů.\n* **Účet a protokoly:** Správa údajů o vašem účtu a stahování protokolů aktivit.\n* **Zabezpečení:** Šifrování záznamů TXT a správa členů/pozvánek domény.\n* **Kontakty CardDAV:** Úplné operace CRUD pro správu kontaktů s podporou vCard.\n* **Kalendáře CalDAV:** Kompletní správa kalendářů s podporou časových pásem a barev.\n* **Zprávy IMAP/POP3:** Komplexní správa zpráv s pokročilými funkcemi vyhledávání.\n* **Složky IMAP/POP3:** Úplná správa složek včetně vytváření, přejmenování a mazání.\n\n## Ověřování\nVětšina koncových bodů vyžaduje ověřování pomocí vašeho **klíče API**. Zadejte klíč API jako `uživatelské_jméno` v záhlaví základního ověřování a heslo ponechte prázdné.\n\n```http\nAutorizace: Basic QVBJX1RPS0VOOg==\n```\n(Nahraďte `API_TOKEN` svým skutečným klíčem před kódováním Base64)\n\nKoncové body související s **aliasem kontaktů, kalendářů, zpráv a složek** vyžadují pro základní ověřování vygenerované uživatelské jméno a heslo aliasu.\n\n## Chyby\nRozhraní API používá standardní stavové kódy HTTP k indikaci úspěchu nebo neúspěchu. Chybové odpovědi zahrnují tělo JSON s polem `message` s podrobnostmi o chybě.\n\n| Stavový kód | Význam |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Špatný požadavek |\n| 401 | Neoprávněné |\n| 403 | Zakázáno |\n| 404 | Nenalezen |\n| 409 | Konflikt |\n| 412 | Předběžná podmínka selhala |\n| 429 | Příliš mnoho požadavků |\n| 500 | Interní chyba serveru|\n| 501 | Není implementováno |\n| 502 | Špatná brána |\n| 503 | Služba není dostupná |\n| 504 | Časový limit brány |\n\n*Pokud narazíte na chybu `5xx`, kontaktujte prosím [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalizace\nOdpovědi API jsou překládány na základě zjištěného národního prostředí uživatele nebo záhlaví `Accept-Language`. Je podporováno více než 25 jazyků.\n\n## Stránkování\nSeznamy vracející koncové body podporují stránkování pomocí parametrů dotazu.\n\n| Parametr | Typ | Volitelné | Popis | Výchozí | Omezení |\n|--------------|----------|-----------|-----------|-------------------------------------------------------------------------------------|---------|---------------------|\n| `page` | Integer | Ano | Číslo stránky, která se má načíst. | 1 | `>= 1` |\n| `limit` | Integer | Ano | Počet výsledků na stránku. | 25 | `>= 1`, `<= 100` |\n| `pagination` | Boolean | Ano | Přihlásit se k stránkování (vyžadováno před 1. listopadem 2024 pro některé koncové body). | false | |\n\n**Záhlaví stránkování:**\n* `X-Page-Count`: Celkový počet stránek.\n* `X-Page-Current`: Aktuální číslo stránky.\n\n* `X-Page-Size`: Počet položek na aktuální stránce.\n* `X-Item-Count`: Celkový počet položek na všech stránkách.\n* `Link`: Navigační odkazy (předchozí, další, první, poslední).\n\n**Příklad:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Doporučené knihovny\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Spravováno službou Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Server API pro přeposílání e-mailů"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nPoužijte svůj klíč API jako **uživatelské jméno** pro základní ověřování. Pole pro heslo nechte prázdné.\n\n**Příklad:**\nPokud je váš klíč API `VÁŠ_KLÍČ_API`, hodnota kódovaná v Base64 pro záhlaví `Authorization` by byla `echo -n \"VÁŠ_KLÍČ_API:\" | base64`.\n\n```http\nAutorizace: Základní WU9VUl9BUELfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nPro základní ověřování použijte vygenerované **alias uživatelské jméno a heslo**. Toto platí pro koncové body v rámci:\n* Alias kontaktů (CardDAV)\n* Alias kalendářů (CalDAV)\n* Alias zpráv (IMAP/POP3)\n* Alias složek (IMAP/POP3)\n\n**Příklad:**\nPokud je alias uživatelské jméno `alias@domain.com` a heslo `GENERATED_PASSWORD`, hodnota kódovaná Base64 by byla `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAutorizace: Základní YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Chybová zpráva"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "Preferované nastavení jazyka uživatele, které přepíše automatickou detekci"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Alias ID"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Typ objektu"
          },
          "name": {
            "type": "string",
            "description": "Alias (lokální část e-mailu)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Úplná aliasová e-mailová adresa"
          },
          "domain_id": {
            "type": "string",
            "description": "ID domény"
          },
          "domain_name": {
            "type": "string",
            "description": "Název domény"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Úložiště použité v bajtech pro tento alias/poštovní schránku"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Kvóta úložiště v bajtech pro tento alias/poštovní schránku"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Zda je pro tento alias povolen protokol IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Zda je povoleno šifrování PGP"
          },
          "public_key": {
            "type": "string",
            "description": "Veřejný klíč PGP, pokud je k dispozici"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Zda je povoleno šifrování S/MIME"
          },
          "smime_certificate": {
            "type": "string",
            "description": "Certifikát S/MIME X.509 ve formátu PEM"
          },
          "locale": {
            "type": "string",
            "description": "Předvolba místního nastavení"
          },
          "settings": {
            "type": "object",
            "description": "Nastavení aliasů",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Složka archivu aliasové pošty"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Složka odeslané pošty Alias"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Složka konceptů aliasů"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "Mapa aliasových popisků s klíčovým slovem",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "Výchozí aliasy ve volném formátu, například zobrazované_jméno nebo podpis.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Časové razítko vytvoření"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Časové razítko poslední aktualizace"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID kontaktu (contact_id z CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "UID kontaktu"
          },
          "full_name": {
            "type": "string",
            "description": "Celé jméno kontaktní osoby"
          },
          "content": {
            "type": "string",
            "description": "Obsah vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag pro verzování"
          },
          "is_group": {
            "type": "boolean",
            "description": "Zda je kontakt skupinou"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Pole e-mailových adres"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Pole telefonních čísel"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Obsah vCard (pokud není poskytnut, bude vygenerován z jiných polí)"
          },
          "full_name": {
            "type": "string",
            "description": "Celé jméno kontaktní osoby"
          },
          "contact_id": {
            "type": "string",
            "description": "Vlastní kontaktní ID (pokud není poskytnuto, bude vygenerováno automaticky)"
          },
          "uid": {
            "type": "string",
            "description": "UID kontaktu (pokud není poskytnuto, bude vygenerováno automaticky)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Pole e-mailových adres"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Pole telefonních čísel"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Pole telefonních čísel (alias pro phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Pole adres"
          },
          "is_group": {
            "type": "boolean",
            "description": "Zda je kontakt skupinou"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Obsah vCard"
          },
          "full_name": {
            "type": "string",
            "description": "Celé jméno kontaktní osoby"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Pole e-mailových adres"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Pole telefonních čísel"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Pole telefonních čísel (alias pro phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Pole adres"
          },
          "is_group": {
            "type": "boolean",
            "description": "Zda je kontakt skupinou"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID kalendáře (calendarId z CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Název kalendáře"
          },
          "description": {
            "type": "string",
            "description": "Popis kalendáře"
          },
          "color": {
            "type": "string",
            "description": "Barva kalendáře (hex formát)"
          },
          "timezone": {
            "type": "string",
            "description": "Časové pásmo kalendáře"
          },
          "order": {
            "type": "integer",
            "description": "Pořadí zobrazení v kalendáři"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Název kalendáře"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID vlastního kalendáře (pokud není zadáno, bude vygenerováno automaticky)"
          },
          "description": {
            "type": "string",
            "description": "Popis kalendáře"
          },
          "color": {
            "type": "string",
            "description": "Barva kalendáře (hexadecimální formát, pokud není poskytnut, bude automaticky vygenerován)"
          },
          "timezone": {
            "type": "string",
            "description": "Časové pásmo kalendáře (výchozí nastavení je časové pásmo uživatele nebo UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Pořadí zobrazení v kalendáři (výchozí nastavení je 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Název kalendáře"
          },
          "description": {
            "type": "string",
            "description": "Popis kalendáře"
          },
          "color": {
            "type": "string",
            "description": "Barva kalendáře (hex formát)"
          },
          "timezone": {
            "type": "string",
            "description": "Časové pásmo kalendáře"
          },
          "order": {
            "type": "integer",
            "description": "Pořadí zobrazení v kalendáři"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID události v kalendáři (eventId z CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID kalendáře, do kterého tato událost patří"
          },
          "ical": {
            "type": "string",
            "description": "Data iCalendar (RFC 5545) pro událost"
          },
          "summary": {
            "type": "string",
            "description": "Název/shrnutí události (extrahováno z dat iCal)"
          },
          "description": {
            "type": "string",
            "description": "Popis události (extrahován z dat iCal)"
          },
          "location": {
            "type": "string",
            "description": "Místo události (extrahováno z dat iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Datum/čas zahájení události (extrahováno z dat iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Datum/čas ukončení události (extrahováno z dat iCal)"
          },
          "uid": {
            "type": "string",
            "description": "Jedinečný identifikátor z dat iCal"
          },
          "status": {
            "type": "string",
            "description": "Stav události (extrahováno z dat iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "Organizátor události (extrahováno z dat iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Časové razítko pro softwarové odstranění"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ID kalendáře, do kterého se má událost přidat"
          },
          "event_id": {
            "type": "string",
            "description": "ID vlastní události (pokud není zadáno, bude vygenerováno automaticky)"
          },
          "ical": {
            "type": "string",
            "description": "Data iCalendar (RFC 5545) pro událost. Musí být v platném formátu iCal."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Přesunout událost do jiného kalendáře"
          },
          "ical": {
            "type": "string",
            "description": "Aktualizovaná data iCalendar (RFC 5545) pro událost"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID složky"
          },
          "path": {
            "type": "string",
            "description": "Úplná cesta ke složce"
          },
          "name": {
            "type": "string",
            "description": "Název složky (poslední část cesty)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Cesta k nadřazené složce"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Platnost UID IMAP"
          },
          "uid_next": {
            "type": "integer",
            "description": "Další hodnota UID"
          },
          "modify_index": {
            "type": "integer",
            "description": "Index modifikací"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Zda je složka odebírána"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Příznaky složek"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Doba uchovávání zpráv"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Označení pro zvláštní použití"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Cesta/název složky"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Nová cesta/název složky"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID zprávy"
          },
          "root_id": {
            "type": "string",
            "description": "ID kořenové zprávy pro vlákno"
          },
          "folder_id": {
            "type": "string",
            "description": "ID složky obsahující zprávu"
          },
          "folder_path": {
            "type": "string",
            "description": "Cesta ke složce obsahující zprávu"
          },
          "thread_id": {
            "type": "string",
            "description": "ID vlákna pro seskupení konverzací"
          },
          "header_message_id": {
            "type": "string",
            "description": "Hodnota záhlaví Message-ID"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Zda je zpráva nepřečtená"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Zda je zpráva označena příznakem"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Zda je zpráva smazána"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Zda je zpráva koncept"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Zda je zpráva spam/nevyžádaná pošta"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Zda je zpráva zkopírována"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Zda je zpráva vyhledatelná"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Zda platnost zprávy vypršela"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Zda zpráva obsahuje přílohy"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Datum uchování zprávy"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Interní datum (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Datum ze záhlaví zpráv"
          },
          "subject": {
            "type": "string",
            "description": "Předmět zprávy"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Příznaky IMAP"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Uživatelsky definované popisky (malá písmena, max. 10)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "Velikost zprávy v bajtech"
          },
          "uid": {
            "type": "integer",
            "description": "UID IMAP"
          },
          "modseq": {
            "type": "integer",
            "description": "Modifikační sekvence"
          },
          "transaction": {
            "type": "string",
            "description": "Typ transakce"
          },
          "remote_address": {
            "type": "string",
            "description": "Vzdálená IP adresa"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Časové razítko vytvoření zprávy"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Časové razítko poslední aktualizace zprávy"
          },
          "nodemailer": {
            "type": "object",
            "description": "Analyzovaný objekt zprávy (standardně zahrnutý, nastavením ?nodemailer=false jej vyloučíte)"
          },
          "raw": {
            "type": "string",
            "description": "Nezpracovaný obsah zprávy (standardně zahrnutý, nastavením ?raw=false jej vyloučíte)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "E-mailová adresa odesílatele"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-mailové adresy příjemců"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-mailové adresy příjemců kopie"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-mailové adresy příjemců skryté kopie"
          },
          "subject": {
            "type": "string",
            "description": "Předmět zprávy"
          },
          "text": {
            "type": "string",
            "description": "Prostý textový obsah"
          },
          "html": {
            "type": "string",
            "description": "HTML obsah"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Přílohy zpráv (formát Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "Cílová složka (výchozí nastavení je Doručená pošta)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Příznaky IMAP, které se mají nastavit pro zprávu"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Uživatelsky definované popisky, které se mají nastavit ve zprávě. Může se jednat o jeden řetězec popisků nebo pole popisků. Popisky musí začínat písmenem, číslicí, zpětným lomítkem nebo znakem dolaru a mohou obsahovat znaky slov, tečky a pomlčky. Maximálně 10 popisků na zprávu. Popisky nerozlišují velká a malá písmena a budou uloženy malými písmeny.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Příznaky IMAP, které se mají nastavit pro zprávu"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Uživatelsky definované popisky, které se mají nastavit ve zprávě. Může se jednat o jeden řetězec popisků nebo pole popisků. Popisky musí začínat písmenem, číslicí, zpětným lomítkem nebo znakem dolaru a mohou obsahovat znaky slov, tečky a pomlčky. Maximálně 10 popisků na zprávu. Popisky nerozlišují velká a malá písmena a budou uloženy malými písmeny.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "Přesunout zprávu do této složky"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "Aktuální stav e-mailu. Plánování je určeno polem `date`.",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Záhlaví data e-mailu. Pokud je datum nastaveno na budoucí čas (více než 1 minutu dopředu), bude e-mail uchován do tohoto času. Maximálně 30 dní od vytvoření."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Označuje, zda je TLS vyžadován pro celý doručovací řetězec (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "E-mailová adresa odesílatele (musí existovat jako alias domény)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Seznam oddělený čárkami nebo pole příjemců pro záhlaví „Komu“."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Seznam oddělený čárkami nebo pole příjemců pro záhlaví „Kopie“."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Seznam oddělený čárkami nebo pole příjemců pro záhlaví „Skrytá kopie“."
          },
          "subject": {
            "type": "string",
            "description": "Předmět e-mailu."
          },
          "text": {
            "type": "string",
            "description": "Verze zprávy v prostém textu."
          },
          "html": {
            "type": "string",
            "description": "HTML verze zprávy."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Pole objektů příloh (viz společná pole Nodemaileru)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "E-mailová adresa pro záhlaví „Odesílatel“."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "E-mailová adresa pro záhlaví „Odpovědět na“."
          },
          "inReplyTo": {
            "type": "string",
            "description": "ID zprávy, na kterou je zpráva odpovědí."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Seznam oddělený mezerami nebo pole ID zpráv."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Pokud je hodnota true, převede data: obrázky v obsahu HTML na vložené přílohy."
          },
          "watchHtml": {
            "type": "string",
            "description": "HTML verze zprávy specifická pro Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "HTML verze zprávy specifická pro AMP4EMAIL."
          },
          "icalEvent": {
            "type": "object",
            "description": "Událost iCalendar jako alternativní obsah zprávy."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Pole alternativního obsahu zpráv."
          },
          "encoding": {
            "type": "string",
            "description": "Kódování textu a řetězců HTML (např. „utf-8“, „hex“, „base64“)."
          },
          "raw": {
            "type": "string",
            "description": "Vlastní generovaná zpráva ve formátu RFC822 (namísto použití generování Nodemailerem)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Pro textové hodnoty je vynuceno použití kódování."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Úroveň priority pro e-mail."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objekt nebo pole dalších polí záhlaví."
          },
          "messageId": {
            "type": "string",
            "description": "Volitelné ID zprávy pro záhlaví „ID zprávy“."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Volitelné datum v záhlaví. Pokud je datum nastaveno na budoucí čas (více než 1 minutu dopředu), bude e-mail uložen do tohoto času. Datum nesmí být od vytvoření dále než 30 dní v budoucnosti.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "Volitelný objekt záhlaví List-*."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Pokud je hodnota nastavena na hodnotu true, vyžaduje se TLS pro celý doručovací řetězec (RFC 8689). Zpráva bude přenášena pouze přes připojení šifrovaná pomocí TLS."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "Pokud je povoleno, odmítnout příchozí e-maily neodeslané přes TLS"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Plně kvalifikovaný název domény (FQDN) nebo IP adresa"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Přiřadit ke stejnému týmu z jiné domény; může to být ID domény nebo FQDN. Pro explicitní zakázání použijte „none“."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Typ tarifu (výchozí nastavení je „zdarma“ nebo aktuální placený tarif uživatele)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Seznam e-mailových adres oddělených čárkou, mezerou nebo znakem nového řádku"
              }
            ],
            "description": "Vytvořit výchozí alias pro všechny adresy (výchozí hodnota je true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Povolit ochranu proti obsahu pro dospělé ve Spam Scanneru"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Povolit ochranu proti phishingu pomocí skeneru spamu"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Povolit ochranu spustitelného souboru skeneru spamu"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Povolit antivirovou ochranu skeneru spamu"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vyžadovat, aby příjemci aliasu klikli na odkaz pro ověření e-mailu"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorovat kontrolu záznamů MX pro pokročilá nastavení směrování pošty"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Přihlaste se k ukládání záhlaví a metadat (kromě obsahu zpráv) pro úspěšně přeposlané, odeslané přes webhook, odchozí e-maily doručené přes SMTP a IMAP. Protokoly se uchovávají po dobu 7 dnů. Tato funkce vám pomáhá monitorovat a řešit problémy s doručováním e-mailů díky podrobným informacím o úspěšných přenosech."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Počet dní pro uchovávání odchozích protokolů SMTP (0–30, výchozí: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL adresa webhooku pro příjem událostí bounce"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Zakázat webhook pro odražení"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Maximální kvóta úložiště na alias (např. „1 GB“)"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Vlastní port pro konfiguraci pro přesměrování SMTP (výchozí je '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Zda povolit ochranu proti obsahu pro dospělé pomocí skeneru spamu v této doméně"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Zda povolit v této doméně ochranu proti phishingu pomocí skeneru spamu"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Zda povolit ochranu spustitelného souboru Spam Scanner v této doméně"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Zda povolit antivirovou ochranu Spam Scanner v této doméně"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Globální výchozí nastavení domény pro určení, zda se má od příjemců aliasů vyžadovat kliknutí na odkaz pro ověření e-mailu, aby od nich mohly odeslat e-maily."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Zda ignorovat kontrolu záznamů MX v doméně pro ověření (zejména pro pokročilá nastavení směrování MX)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Přihlaste se k ukládání záhlaví a metadat (kromě obsahu zpráv) pro úspěšně přeposlané, odeslané přes webhook, odchozí e-maily doručené přes SMTP a IMAP. Protokoly se uchovávají po dobu 7 dnů. Tato funkce vám pomáhá monitorovat a řešit problémy s doručováním e-mailů díky podrobným informacím o úspěšných přenosech."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Počet dní pro ukládání odchozích SMTP e-mailů (0 = okamžitě smazat)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL adresa webhooku pro příjem oznámení o nedoručitelnosti nebo hodnota false pro zakázání"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Kvóta úložiště na alias (např. „1 GB“, analyzováno na bajty)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias (pokud není zadán nebo je prázdný, vygeneruje se náhodný alias)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Řetězec platných e-mailových adres, plně kvalifikovaných doménových jmen, IP adres nebo URL webhooků oddělený zalomením řádku/mezerou/čpárkou"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Pole platných příjemců"
              }
            ],
            "description": "Seznam příjemců. Pokud není uveden nebo je prázdný, výchozím nastavením je e-mail žadatele."
          },
          "description": {
            "type": "string",
            "description": "Popis aliasu"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Řetězec popisků oddělený zalomením řádku/mezerou/čpárkou"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Pole štítků"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Požadovat, aby příjemci klikli na ověřovací odkaz (výchozí nastavení je doména)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Zda povolit nebo zakázat tento alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Kód chyby, pokud je alias zakázán. Výchozí hodnota je 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Povolit nebo zakázat úložiště IMAP pro tento alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Povolit nebo zakázat šifrování OpenPGP pro tento alias"
          },
          "public_key": {
            "type": "string",
            "description": "Veřejný klíč OpenPGP ve formátu ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Povolit nebo zakázat šifrování S/MIME pro tento alias"
          },
          "smime_certificate": {
            "type": "string",
            "description": "Certifikát S/MIME X.509 ve formátu PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximální kvóta úložiště (např. „1 GB“)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Povolení nebo zakázání odpovědi na nepřítomnost"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Datum zahájení (např. „RRRR-MM-DD“) pro odpověď v nepřítomnosti"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Datum ukončení (např. „RRRR-MM-DD“) pro odpověď v nepřítomnosti"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Předmět pro odpověď v nepřítomnosti v prostém textu"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Zpráva v prostém textu pro odpověď v nepřítomnosti"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Řetězec platných e-mailových adres, plně kvalifikovaných doménových jmen, IP adres nebo URL webhooků oddělený zalomením řádku/mezerou/čpárkou"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Pole platných příjemců"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Popis aliasu"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Řetězec popisků oddělený zalomením řádku/mezerou/čpárkou"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Pole štítků"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Požadovat, aby příjemci klikli na ověřovací odkaz (výchozí nastavení je doména)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Povolit nebo zakázat alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Kód chyby, který se má použít, pokud je alias zakázán (výchozí hodnota je 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Povolení nebo zakázání úložiště IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Povolení nebo zakázání šifrování OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Veřejný klíč OpenPGP ve formátu ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Povolení nebo zakázání šifrování S/MIME"
          },
          "smime_certificate": {
            "type": "string",
            "description": "Certifikát S/MIME X.509 ve formátu PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximální kvóta úložiště (např. „1 GB“)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Povolení nebo zakázání odpovědi na nepřítomnost"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Datum zahájení automatické odpovědi v nepřítomnosti (např. RRRR-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Datum ukončení automatické odpovědi na dovolenou (např. RRRR-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Předmět odpovědi na dovolenou v prostém textu"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Zpráva v prostém textu odpovědi na dovolenou"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Vaše nové vlastní heslo, které se použije pro alias"
          },
          "password": {
            "type": "string",
            "description": "Stávající heslo pro alias pro jeho změnu bez smazání úložiště poštovní schránky"
          },
          "is_override": {
            "type": "boolean",
            "description": "Přepsat stávající heslo a smazat úložiště IMAP (používejte s opatrností)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-mailová adresa pro zaslání hesla k aliasu a pokynů k nastavení"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Aktuální počet odeslaných e-mailů"
          },
          "limit": {
            "type": "integer",
            "description": "Maximální povolený počet e-mailů"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "Uložená definice vyhledávání uložená pro každý alias.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Zobrazovaný název pro uložené vyhledávání"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Řetězec vyhledávacího dotazu k opětovnému použití (např. „from:billing“)"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "Mapa akcí na klávesové zkratky.",
        "additionalProperties": {
          "type": "string",
          "description": "Klávesová zkratka pro akci (např. „e“ pro archiv)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "Pole povolená při aktualizaci definice popisku.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Člověkem čitelný název štítku zobrazený v uživatelském rozhraní"
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "Hexadecimální barva použitá pro vykreslování uživatelského rozhraní"
          },
          "hidden": {
            "type": "boolean",
            "description": "Skrýt popisek v uživatelském rozhraní při zachování klíčového slova"
          },
          "source": {
            "type": "string",
            "description": "Původ štítku pro filtrování a migrace",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID člena"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "E-mailová adresa člena"
          },
          "role": {
            "type": "string",
            "description": "Role člena"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Pozvaná e-mailová adresa"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Stránka s výsledky, které se mají vrátit. Pokud není zadána, hodnota bude 1. Musí se jednat o číslo větší nebo rovno 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Počet výsledků, které se mají vrátit na stránku. Pokud není zadán žádný parametr, je výchozí hodnota 25. Musí se jednat o číslo větší nebo rovno 1 a menší nebo rovno 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Přihlaste se k stránkování do 1. listopadu 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID domény",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID člena",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID e-mailu nebo ID zprávy. Můžete předat buď jedinečné ID e-mailu (např. „683fbe4d5baef1b583a11e54“), nebo hodnotu záhlaví Message-ID e-mailu (např. „1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net“).",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID kontaktu",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID kalendáře",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID složky nebo cesta",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID zprávy",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "Klíčové slovo IMAP použité jako identifikátor štítku",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Účet"
        ],
        "summary": "Obnovit účet",
        "description": "Získejte informace o svém účtu.\n\n**Ověřování:** Tento koncový bod podporuje ověřování pomocí tokenu API i ověřování pomocí aliasových přihlašovacích údajů.\n\n- **Uživatelský účet (token API):** Po ověření pomocí tokenu API tento koncový bod vrátí informace o vašem uživatelském účtu, včetně podrobností o tarifu, e-mailu a tokenu API.\n\n- **Alias účet (aliasové přihlašovací údaje):** Po ověření pomocí aliasových přihlašovacích údajů (e-mail a vygenerované heslo) tento koncový bod vrátí informace o aliasu/poštovní schránce, včetně použitého úložiště/kvóty a vnořeného objektu `settings` (speciální složky pošty, nastavení štítků a výchozí hodnoty aliasů). To je užitečné pro klienty IMAP/POP3/CalDAV/CardDAV pro kontrolu stavu a předvoleb úložiště.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Účet"
        ],
        "summary": "Aktualizovat účet",
        "description": "Aktualizujte informace o svém účtu.\n\n- **Uživatelský účet (API Token):** Aktualizujte pole profilu uživatele.\n\n- **Alias účtu (Alias Credentials):** Aktualizujte nastavení s rozsahem aliasu pomocí vnořeného objektu `settings`. Z důvodu kompatibility jsou akceptována starší plochá pole. Odpověď odpovídá `GET /v1/account`.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "Nastavení aliasu (pouze ověřování aliasem)",
                    "properties": {
                      "mail": {
                        "type": "object",
                        "properties": {
                          "archive_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Složka archivu aliasové pošty"
                          },
                          "sent_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Složka odeslané pošty Alias"
                          },
                          "drafts_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Složka konceptů aliasů"
                          }
                        }
                      },
                      "label_settings": {
                        "type": "object",
                        "description": "Mapa aliasových popisků s klíčovým slovem",
                        "additionalProperties": {
                          "$ref": "#/components/schemas/SettingsLabelUpdate"
                        }
                      },
                      "aliases": {
                        "type": "object",
                        "properties": {
                          "defaults": {
                            "type": "object",
                            "description": "Výchozí aliasy ve volném formátu, například display_name nebo signature",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  },
                  "display_name": {
                    "type": "string",
                    "description": "Zobrazovaný název"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Předvolba místního nastavení"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Aktualizovaná e-mailová adresa (pouze ověření uživatele)"
                  },
                  "avatar_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL adresa avatara (pouze pro ověření uživatele)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Kontakty"
        ],
        "summary": "Seznam kontaktů",
        "description": "Načte seznam všech kontaktů pro ověřený alias. Tento koncový bod podporuje stránkování a vrací kontakty ve formátu CardDAV.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kontakty"
        ],
        "summary": "Vytvořit kontakt",
        "description": "Vytvořte nový kontakt. Můžete zadat buď přímo obsah vCard, nebo jednotlivá pole kontaktu, která budou převedena do formátu vCard. Pokud kontakt se stejným ID již existuje, bude vrácena chyba konfliktu.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
[...]
