{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Välkommen till den omfattande API-dokumentationen för vidarebefordran av e-post. Detta API låter dig hantera vidarebefordran av e-post, domäner, alias, utgående e-postmeddelanden och mer programmatiskt.\n\n## Viktiga funktioner\n* **Domänhantering:** Skapa, hämta, uppdatera, ta bort och verifiera domäner.\n* **Aliashantering:** Hantera e-postalias, inklusive skapande, uppdateringar och mottagarhantering.\n* **Utgående SMTP:** Skicka e-postmeddelanden via SMTP, hantera gränser och spåra skickade e-postmeddelanden.\n* **Konto och loggar:** Hantera dina kontouppgifter och ladda ner aktivitetsloggar.\n* **Säkerhet:** Kryptera TXT-poster och hantera domänmedlemmar/inbjudningar.\n* **Kommer snart:** Funktioner som CardDAV-kontakter, CalDAV-kalendrar och IMAP/POP3-meddelande-/mapphantering är planerade.\n\n## Autentisering\nDe flesta slutpunkter kräver autentisering med din **API-nyckel**. Ange API-nyckeln som `användarnamn` i huvudet för grundläggande autentisering och lämna lösenordet tomt.\n\n```http\nAuktorisering: Grundläggande QVBJX1RPS0VOOg==\n```\n(Ersätt `API_TOKEN` med din faktiska nyckel före Base64-kodning)\n\nSlutpunkter relaterade till **Aliaskontakter, kalendrar, meddelanden och mappar** (för närvarande markerade som \"Kommer snart\") kommer att använda ett genererat aliasanvändarnamn och lösenord för grundläggande autentisering.\n\n## Fel\nAPI:et använder standard HTTP-statuskoder för att indikera framgång eller misslyckande. Felsvar inkluderar en JSON-text med ett `meddelande`-fält som beskriver felet.\n\n| Statuskod | Betydelse |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Felaktig begäran |\n| 401 | Obehörig |\n| 403 | Förbjuden |\n| 404 | Hittades inte |\n| 429 | För många förfrågningar |\n| 500 | Internt serverfel |\n| 501 | Inte implementerat |\n| 502 | Felaktig gateway |\n| 503 | Tjänsten är inte tillgänglig |\n| 504 | Gateway-timeout |\n\n*Om du stöter på ett `5xx`-fel, vänligen kontakta [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalisering\nAPI-svar översätts baserat på användarens identifierade språkinställning eller `Accept-Language`-rubriken. Över 25 språk stöds.\n\n## Paginering\nSlutpunkter som returnerar listor stöder paginering via frågeparametrar.\n\n| Parameter | Typ | Valfritt | Beskrivning | Standard | Begränsningar |\n|--------------|---------|----------|------------------------------------------------------------------------|----------------------|\n| `sida` | Heltal | Ja | Sidnummer att hämta. | 1 | `>= 1` |\n| `limit` | Heltal | Ja | Antal resultat per sida. | 10 | `>= 1`, `<= 50` |\n| `paginering` | Boolean | Ja | Välj att paginera (krävs före 1 november 2024 för vissa slutpunkter). | false | |\n\n**Pagineringsrubriker:**\n* `X-Page-Count`: Totalt antal sidor.\n* `X-Page-Current`: Aktuellt sidnummer.\n* `X-Page-Size`: Antal objekt på den aktuella sidan.\n* `X-Item-Count`: Totalt antal objekt på alla sidor.\n\n* `Länk`: Navigeringslänkar (föregående, nästa, första, sista).\n\n**Exempel:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Rekommenderade bibliotek\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Underhålls av vidarebefordran av e-post)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "API-server för vidarebefordran av e-post"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Använd din API-nyckel som **användarnamn** för grundläggande autentisering. Lämna lösenordsfältet tomt.\n\n**Exempel:**\nOm din API-nyckel är `YOUR_API_KEY`, skulle det Base64-kodade värdet för `Authorization`-rubriken vara `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Använd det genererade **alias användarnamnet och lösenordet** för grundläggande autentisering. Detta gäller slutpunkter under:\n* Alias Kontakter (CardDAV)\n* Alias Kalendrar (CalDAV)\n* Alias Meddelanden (IMAP/POP3)\n* Alias Mappar (IMAP/POP3)\n\n*(Obs: Dessa funktioner är för närvarande markerade som \"Kommer snart\")*\n\n**Exempel:**\nOm alias användarnamnet är `alias@domain.com` och lösenordet är `GENERATED_PASSWORD`, skulle det Base64-kodade värdet vara `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuktorisering: Grundläggande YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Felmeddelande"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Avsändarens e-postadress (måste finnas som ett alias för domänen)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommaavgränsad lista eller en matris med mottagare för 'Till'-rubriken."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommaavgränsad lista eller en matris med mottagare för 'Cc'-rubriken."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommaavgränsad lista eller en matris med mottagare för rubriken 'Bcc'."
          },
          "subject": {
            "type": "string",
            "description": "Ämnet för e-postmeddelandet."
          },
          "text": {
            "type": "string",
            "description": "Klartextversionen av meddelandet."
          },
          "html": {
            "type": "string",
            "description": "HTML-versionen av meddelandet."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "En array med bilagor (se Nodemailers vanliga fält)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "E-postadressen för rubriken 'Avsändare'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "E-postadressen för rubriken \"Svara till\"."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Meddelande-ID som meddelandet är som svar på."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Mellanslagsavgränsad lista eller en array av meddelande-ID:n."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Om sant konverteras data: bilder i HTML-innehållet till inbäddade bilagor."
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch-specifik HTML-version av meddelandet."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL-specifik HTML-version av meddelandet."
          },
          "icalEvent": {
            "type": "object",
            "description": "En iCalendar-händelse som alternativt meddelandeinnehåll."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "En uppsättning alternativa meddelanden."
          },
          "encoding": {
            "type": "string",
            "description": "Kodning för text och HTML-strängar (t.ex. 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Anpassat genererat RFC822-formaterat meddelande (istället för att använda Nodemailer-generering)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Kodning tvingas användas för textvärden."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Prioritetsnivå för e-postmeddelandet."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objekt eller matris med ytterligare rubrikfält."
          },
          "messageId": {
            "type": "string",
            "description": "Valfritt meddelande-ID för rubriken 'Meddelande-ID'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Datumrubrik (valfri). Får inte vara mer än 30 dagar framåt."
          },
          "list": {
            "type": "object",
            "description": "Valfritt objekt för List-*-rubriker."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Fullständigt kvalificerat domännamn (FQDN) eller IP-adress"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Tilldela till samma team från en annan domän; kan vara ett domän-ID eller ett FQDN. Använd \"none\" för att explicit inaktivera."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Abonnemangstyp (standardinställningen är \"gratis\" eller användarens nuvarande betalda abonnemang)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Avgränsad lista med e-postadresser (separerad med kommatecken, mellanslag eller radbrytning)"
              }
            ],
            "description": "Skapa ett standardalias för alla användare (standardvärdet är sant)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Aktivera skydd mot vuxeninnehåll från Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Aktivera Spam Scanner-nätfiskeskydd"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Aktivera skyddet för körbara filer från Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Aktivera virusskyddet Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Kräv att aliasmottagare klickar på länken för e-postverifiering"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorera MX-postkontroll för avancerade inställningar för e-postrouting"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Antal dagar som utgående SMTP-loggar ska behållas (0–30, standard: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhook-URL för att ta emot avvisningshändelser"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Inaktivera studsande webhook"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Max lagringskvot per alias (t.ex. '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Anpassad port att konfigurera för SMTP-vidarebefordran (standard är '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Huruvida skydd mot vuxeninnehåll ska aktiveras för Spam Scanner på den här domänen"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Huruvida Spam Scanner ska aktivera nätfiskeskydd på den här domänen"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Huruvida skyddet för körbara filer i Spam Scanner ska aktiveras på den här domänen"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Huruvida Spam Scanner-virusskydd ska aktiveras på den här domänen"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Global domänstandard för om aliasmottagare ska behöva klicka på en e-postverifieringslänk för att e-postmeddelanden ska kunna skickas vidare"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Huruvida MX-postkontrollen på domänen ska ignoreras för verifiering (främst för avancerade MX-routinginställningar)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Antal dagar att lagra utgående SMTP-e-postmeddelanden (0 = rensa omedelbart)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhook-URL för att ta emot avvisningsmeddelanden, eller false för att inaktivera"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Lagringskvot per alias (t.ex. '1 GB', analyserat i byte)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnamn (om det inte anges eller om det är tomt genereras ett slumpmässigt alias)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Radbrytnings-/mellanslags-/kommaseparerade strängar med giltiga e-postadresser, FQDN-adresser, IP-adresser eller webhook-URL:er"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matris med giltiga mottagare"
              }
            ],
            "description": "Lista över mottagare. Om den inte anges eller är tom används som standard den begärande e-postadressen"
          },
          "description": {
            "type": "string",
            "description": "Aliasbeskrivning"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Radbrytnings-/mellanslags-/kommaseparerade strängar av etiketter"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matris med etiketter"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Kräv att mottagarna klickar på verifieringslänken (standardinställningen är domäninställningen)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Om detta aliaset ska aktiveras eller inaktiveras"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Felkod om alias är inaktiverat. Standardinställningen är 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera IMAP-lagring för detta alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera OpenPGP-kryptering för detta alias"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP-nyckel i ASCII Armor-format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximal lagringskvot (t.ex. '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera semestersvar"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdatum (t.ex. 'ÅÅÅÅ-MM-DD') för semestersvar"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Slutdatum (t.ex. 'ÅÅÅÅ-MM-DD') för semestersvar"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Ämne i klartext för semestersvar"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Vanligt textmeddelande för semestersvar"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnamn"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Radbrytnings-/mellanslags-/kommaseparerade strängar med giltiga e-postadresser, FQDN-adresser, IP-adresser eller webhook-URL:er"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matris med giltiga mottagare"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Aliasbeskrivning"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Radbrytnings-/mellanslags-/kommaseparerade strängar av etiketter"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matris med etiketter"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Kräv att mottagarna klickar på verifieringslänken (standardinställningen är domäninställningen)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Felkod att använda om alias är inaktiverat (standard är 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera IMAP-lagring"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera OpenPGP-kryptering"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP-nyckel i ASCII Armor-format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximal lagringskvot (t.ex. '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera semestersvar"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdatum för semestersvar (t.ex. ÅÅÅÅ-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Slutdatum för semestersvar (t.ex. ÅÅÅÅ-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Klartextämne för semestersvar"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Vanligt textmeddelande för semestersvar"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Ditt nya lösenord att använda för aliaset"
          },
          "password": {
            "type": "string",
            "description": "Befintligt lösenord för alias för att ändra det utan att radera postlådelagring"
          },
          "is_override": {
            "type": "boolean",
            "description": "Åsidosätt befintligt lösenord och radera IMAP-lagring (använd med försiktighet)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-postadress för att skicka aliaslösenord och installationsinstruktioner"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Nuvarande antal skickade e-postmeddelanden"
          },
          "limit": {
            "type": "integer",
            "description": "Maximalt antal tillåtna e-postadresser"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Medlems-ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Medlems e-postadress"
          },
          "role": {
            "type": "string",
            "description": "Medlemmens roll"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Inbjuden e-postadress"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Resultatsida som ska returneras. Om inget anges blir värdet 1. Måste vara ett tal större än eller lika med 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Antal resultat att returnera per sida. Standardvärdet är 10 om inget anges. Måste vara ett tal större än eller lika med 1, och mindre än eller lika med 50.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Anmäl dig till paginering före 1 november 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Domän-ID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "ID-alias",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Medlems-ID",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "E-postadress",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "Skapa konto",
        "description": "Skapa ett nytt användarkonto",
        "tags": [
          "Konto"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-postadress"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Lösenord"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "Hämta konto",
        "description": "Hämta den nuvarande användarens kontoinformation",
        "tags": [
          "Konto"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Uppdatera konto",
        "description": "Uppdatera den nuvarande användarens kontoinformation",
        "tags": [
          "Konto"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-postadress"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "Förnamn"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "Efternamn"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Länk till avatarbild"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "Ladda ner loggar",
        "description": "**Ladda ner loggar**\n\nBeskrivning: Vårt API låter dig programmatiskt ladda ner loggar för ditt konto. Om du skickar en begäran till denna slutpunkt bearbetas alla loggar för ditt konto och skickas till dig via e-post som en bilaga (komprimerad Gzip CSV-kalkylbladsfil) när den är klar.\n\nDetta låter dig skapa bakgrundsjobb med ett Cron-jobb eller använda Node.js jobbplaneringsprogram Bree för att ta emot loggar när du vill. Observera att denna slutpunkt är begränsad till \"10\" förfrågningar per dag.\n\nBilaget är den gemena formen av \"email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz\" och själva e-postmeddelandet innehåller en kort sammanfattning av de hämtade loggarna.",
        "tags": [
          "Loggar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Filtrera loggar efter fullständigt kvalificerad domän (\"FQDN\"). Om inget anges hämtas alla loggar över alla domäner.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Sök efter loggar efter e-postadress, domän, aliasnamn, IP-adress eller datum (M/Å, M/D/ÅÅ, M-D, M-D-ÅÅ eller M.D.ÅÅ-format).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "Sök efter loggar med en specifik avvisningskategori (t.ex. \"blocklista\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "Sök efter loggar med en specifik felkod (t.ex. 421 eller 550).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Lista utgående SMTP-e-postmeddelanden",
        "description": "**Lista utgående SMTP-e-postmeddelanden**\n\nObservera att denna slutpunkt inte returnerar egenskapsvärden för ett e-postmeddelandes `message`, `headers` eller `rejectedErrors`.\n\nFör att returnera dessa egenskaper och deras värden, använd slutpunkten [Retrieve email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) med ett e-post-ID.",
        "tags": [
          "E-postmeddelanden"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Sök efter e-postmeddelanden med hjälp av metadata.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Sök efter e-postmeddelanden efter domännamn.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sortera efter ett specifikt fält (prefix med ett enda bindestreck - för att sortera i omvänd riktning jämfört med det fältet). Standardvärdet är created_at om det inte är angivet.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Se Paginering för mer insikt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Se Paginering för mer insikt.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Skapa utgående SMTP-e-post",
        "description": "Vårt API för att skapa e-postmeddelanden är inspirerat av och använder Nodemailers konfiguration av meddelandealternativ. Vänligen hänvisa till [Nodemailer message configuration](https://nodemailer.com/message/) för alla brödtextparametrar nedan.\n\nObservera att med undantag för `envelope` och `dkim` (eftersom vi ställer in dem automatiskt åt dig) stöder vi alla Nodemailer-alternativ. Vi ställer automatiskt in alternativen `disableFileAccess` och `disableUrlAccess` till `true` av säkerhetsskäl.\n\nDu bör antingen skicka det enda alternativet `raw` med ditt fullständiga råa e-postmeddelande inklusive rubriker eller skicka individuella brödtextparameteralternativ nedan.\n\nDenna API-slutpunkt kommer automatiskt att koda emojis åt dig om de finns i rubrikerna (t.ex. konverteras ämnesraden `Subject: 🤓 Hello` automatiskt till `Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello`). Vårt mål var att skapa ett extremt utvecklarvänligt och dummysäkert e-post-API.",
        "tags": [
          "E-postmeddelanden"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "Hämta gräns för utgående SMTP-e-post",
        "description": "Detta är en enkel slutpunkt som returnerar ett JSON-objekt som innehåller `count` och `limit` för antalet dagliga utgående SMTP-meddelanden per konto.",
        "tags": [
          "E-postmeddelanden"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "Hämta utgående SMTP-e-post",
        "description": "Hämta ett specifikt utgående SMTP-e-postmeddelande.",
        "tags": [
          "E-postmeddelanden"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Ta bort utgående SMTP-e-post",
        "description": "Borttagning av e-postmeddelanden sätter statusen till \"avvisad\" (och bearbetar den därefter inte i kön) endast om den aktuella statusen är \"väntande\", \"i kö\" eller \"uppskjuten\". Vi kan komma att rensa e-postmeddelanden automatiskt 30 dagar efter att de skapades och/eller skickades – därför bör du behålla en kopia av utgående SMTP-e-postmeddelanden i din klient, databas eller applikation. Du kan referera till vårt e-post-ID-värde i din databas om så önskas – detta värde returneras från både [Skapa e-post](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email) och [Hämta e-post](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) slutpunkter.",
        "tags": [
          "E-postmeddelanden"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "Lista domäner",
        "description": "> [!NOTE]\n>Från och med den 1 november 2024 kommer API-slutpunkterna för List-domäner och List-domänalias att som standard vara max `1000` resultat per sida. Om du vill välja att använda detta beteende tidigt kan du skicka `?paginate=true` som en ytterligare frågesträngsparameter till URL:en för slutpunktsfrågan. Se Paginering för mer information.",
        "tags": [
          "Domäner"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Sök efter domäner med hjälp av metadata.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Sök efter domäner efter domännamn.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sortera efter ett specifikt fält (prefix med ett enda bindestreck - för att sortera i omvänd riktning jämfört med det fältet). Standardvärdet är created_at om det inte är angivet.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Se Paginering för mer insikt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Se Paginering för mer insikt.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Skapa domän",
        "description": "Skapar en ny domän i systemet. Denna slutpunkt låter dig registrera ett fullständigt kvalificerat domännamn (FQDN) eller en IP-adress för användning med plattformen.\n\nValfria konfigurationsalternativ inkluderar att tilldela domänen till ett befintligt team, ställa in en plantyp (t.ex. gratis, utökat skydd eller team) och konfigurera avancerade skydd som skräppostfiltrering, virusskanning och mottagarverifiering. Du kan också konfigurera om ett catch-all-alias ska skapas som standard, ange en anpassad studs-webhook-URL för SMTP-fel och definiera lagringskvotgränser för e-postalias på denna domän. Denna slutpunkt utför validering och provisionering på domännivå. Om alternativet \"ignore_mx_check\" är aktiverat hoppas MX-postverifiering över (rekommenderas endast för avancerade routinginställningar). Svaret kommer att innehålla fullständig information om det skapade domänobjektet, inklusive DNS-poster som behövs för konfigurationen.",
        "tags": [
          "Domäner"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Hämta domän",
        "description": "Hämta en specifik domän",
        "tags": [
          "Domäner"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Uppdatera domän",
        "description": "Uppdatera en specifik domän.",
        "tags": [
          "Domäner"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Ta bort domän",
        "description": "Ta bort en specifik domän.",
        "tags": [
          "Domäner"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Verifiera domänposter",
        "description": "Verifiera DNS-poster för en specifik domän.",
        "tags": [
          "Domäner"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "Verifiera domänens SMTP-poster",
        "description": "Verifierar SMTP-relaterade DNS-poster för den angivna domänen.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "Domäner"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Fullständigt kvalificerat domännamn (FQDN) att verifiera",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "Skapa ett domänomfattande lösenord",
        "description": "Skapar ett domänomfattande lösenord som gäller för hela fältet. Om inget lösenord anges genereras ett säkert slumpmässigt lösenord.",
        "tags": [
          "Domäner"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domännamnet för att skapa det allmänna lösenordet"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "Ditt nya anpassade lösenord som ska användas för det domänomfattande allmänna lösenordet. Lämna tomt för att generera ett starkt lösenord."
                  },
                  "description": {
                    "type": "string",
                    "description": "Beskrivning endast för organisationsändamål."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Lista domänomfattande lösenord som omfattar alla",
        "description": "Returnerar en lista över domänomfattande catch-all-lösenord som för närvarande är konfigurerade för den angivna domänen.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "Domäner"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Fullständigt kvalificerat domännamn (FQDN) för vilket catch-all-lösenord ska listas",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "Ta bort domänomfattande lösenord",
        "description": "Tar bort ett domänomfattande catch-all-lösenord med hjälp av det angivna token-ID:t.",
        "tags": [
          "Domäner"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domännamnet som är kopplat till det allmänna lösenordet"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token-ID:t för det domänomfattande catch-all-lösenordet som ska raderas"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Acceptera domäninbjudan",
        "description": "Acceptera en inbjudan till en domän.",
        "tags": [
          "Inbjudningar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Skapa domäninbjudan",
        "description": ">[!IMPORTANT]\n>Om den inbjudna användaren redan är en accepterad medlem i andra domäner som administratören som bjuder in dem är medlem i, kommer inbjudan att accepteras automatiskt och inget e-postmeddelande skickas.",
        "tags": [
          "Inbjudningar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-postadress att bjuda in till domänmedlemslistan"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "Grupp att lägga till användaren i domänmedlemskapet med (kan vara en av `\"admin\"` eller `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Ta bort domäninbjudan",
        "description": "Ta bort en inbjudan till en domän.",
        "tags": [
          "Inbjudningar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-postadress att ta bort från domänmedlemslistan"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "Uppdatera domänmedlem",
        "description": "Uppdatera en domänmedlem.",
        "tags": [
          "Medlemmar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "Grupp att uppdatera användaren till domänmedlemskapet med (kan vara en av `\"admin\"` eller `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Ta bort domänmedlem",
        "description": "Ta bort en domänmedlem.",
        "tags": [
          "Medlemmar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "Generera ett aliaslösenord",
        "description": "Generera ett lösenord för ett alias. Om `emailed_instructions` inte anges kommer svaret att innehålla det genererade användarnamnet och lösenordet.",
        "tags": [
          "Alias"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Fullständigt kvalificerat domännamn (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unik identifierare för alias"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Lista domänalias",
        "description": ">[!NOTE]\n>Från och med den 1 november 2024 kommer API-slutpunkterna för `List domains` och `List domain aliases` att som standard ha `1000` maxresultat per sida. Om du vill välja att använda detta beteende tidigt kan du skicka `?paginate=true` som en ytterligare frågesträngsparameter till URL:en för slutpunktsfrågan. Se Paginering för mer information.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Sök efter alias i en domän efter namn, etikett eller mottagare (RegExp stöds)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Sök efter alias i en domän med namn (RegExp stöds)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Sök efter alias i en domän efter mottagare (RegExp stöds)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sortera efter ett specifikt fält (prefix med ett enkelt bindestreck - för att sortera i omvänd ordning). Standardinställningen är created_at.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Skapa nytt domänalias",
        "description": "Skapa ett nytt alias för en specifik domän.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "Hämta domänalias",
        "description": "Hämta ett specifikt alias för en domän.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Uppdatera domänalias",
        "description": "Uppdatera ett specifikt alias för en domän.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Ta bort domänalias",
        "description": "Ta bort ett specifikt alias för en domän.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "Kryptera TXT-post",
        "description": "Vi låter dig kryptera poster även med gratisplanen utan kostnad. Sekretess bör inte vara en funktion, den bör vara inbyggd i alla aspekter av en produkt. Som efterfrågats i en [sekretessguidediskussion](https://discuss.privacyguides.net/t/forward-email-email-provider/13370) och i våra [GitHub-problem](https://github.com/forwardemail/forwardemail.net/issues/254) har vi lagt till detta.",
        "tags": [
          "Kryptera"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "Alla giltiga poster för vidarebefordran av e-post i klartext (TXT)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "Lista kontakter",
        "description": "Lista alla kontakter (CardDAV). Denna slutpunkt kommer snart.",
        "tags": [
          "Aliaskontakter"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Skapa kontakt",
        "description": "Skapa en ny kontakt (CardDAV). Denna slutpunkt kommer snart.",
        "tags": [
          "Aliaskontakter"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Kontakt-ID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Hämta kontakt",
        "description": "Hämta en specifik kontakt (CardDAV). Denna slutpunkt kommer snart.",
        "tags": [
          "Aliaskontakter"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Uppdatera kontakt",
        "description": "Uppdatera en specifik kontakt (CardDAV). Denna slutpunkt kommer snart.",
        "tags": [
          "Aliaskontakter"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Ta bort kontakt",
        "description": "Ta bort en specifik kontakt (CardDAV). Denna slutpunkt kommer snart.",
        "tags": [
          "Aliaskontakter"
        ],
[...]
