{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Ласкаво просимо до вичерпної документації API для пересилання електронної пошти. Цей API дозволяє вам програмно керувати пересиланням електронної пошти, доменами, псевдонімами, вихідними електронними листами та іншим.\n\n## Основні функції\n* **Керування доменом:** Створення, отримання, оновлення, видалення та перевірка доменів.\n* **Керування псевдонімами:** Керування псевдонімами електронної пошти, включаючи створення, оновлення та керування одержувачами.\n* **Вихідний SMTP:** Надсилання електронних листів через SMTP, керування обмеженнями та відстеження надісланих листів.\n* **Обліковий запис і журнали:** Керування даними вашого облікового запису та завантаження журналів активності.\n* **Безпека:** Шифрування записів TXT та керування учасниками/запрошеннями домену.\n* **Незабаром:** Планується реалізація таких функцій, як контакти CardDAV, календарі CalDAV та керування повідомленнями/папками IMAP/POP3.\n\n## Автентифікація\nБільшість кінцевих точок вимагають автентифікації за допомогою вашого **ключа API**. Вкажіть ключ API як `ім'я користувача` у заголовку базової автентифікації, залишивши поле пароля порожнім.\n\n```http\nАвторизація: Базова QVBJX1RPS0VOOg==\n```\n(Замініть `API_TOKEN` вашим фактичним ключем перед кодуванням Base64)\n\nКінцеві точки, пов'язані з **Псевдонімами контактів, календарів, повідомлень та папок** (наразі позначені як \"Скоро доступні\"), використовуватимуть згенеровані псевдоніми імені користувача та пароля для базової автентифікації.\n\n## Помилки\nAPI використовує стандартні коди стану HTTP для позначення успіху або невдачі. Відповіді на помилки включають тіло JSON з полем `message` з детальним описом помилки.\n\n| Код стану | Значення |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Неправильний запит |\n| 401 | Неавторизовано |\n| 403 | Заборонено |\n| 404 | Не знайдено |\n| 429 | Забагато запитів |\n| 500 | Внутрішня помилка сервера|\n| 501 | Не реалізовано |\n| 502 | Поганий шлюз |\n| 503 | Служба недоступна |\n| 504 | Час очікування шлюзу минув |\n\n*Якщо ви зіткнулися з помилкою `5xx`, зверніться до [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Локалізація\nВідповіді API перекладаються на основі виявленої локалізації користувача або заголовка `Accept-Language`. Підтримується понад 25 мов.\n\n## Пагінація\nСписки повернення кінцевих точок підтримують пагінацію за допомогою параметрів запиту.\n\n| Параметр | Тип | Необов'язково | Опис | За замовчуванням | Обмеження |\n|--------------|----------|-----------|--------------------------------------------------------------------------------------|----------|---------------------|\n| `page` | Ціле число | Так | Номер сторінки для отримання. | 1 | `>= 1` |\n| `limit` | Ціле число | Так | Кількість результатів на сторінці. | 10 | `>= 1`, `<= 50` |\n| `pagination` | Логічне значення | Так | Увімкнути пагінацію (обов'язково до 1 листопада 2024 року для деяких кінцевих точок). | false | |\n\n**Заголовки пагінації:**\n* `X-Page-Count`: Загальна кількість сторінок.\n* `X-Page-Current`: Номер поточної сторінки.\n* `X-Page-Size`: Кількість елементів на поточній сторінці.\n\n* `X-Item-Count`: Загальна кількість елементів на всіх сторінках.\n* `Link`: Посилання навігації (попередній, наступний, перший, останній).\n\n**Приклад:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Рекомендовані бібліотеки\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Підтримується Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Сервер API пересилання електронної пошти"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nВикористовуйте свій ключ API як **ім'я користувача** для базової автентифікації. Залиште поле пароля порожнім.\n\n**Приклад:**\nЯкщо ваш ключ API — `YOUR_API_KEY`, значення Base64 для заголовка `Authorization` буде таким: `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nАвторизація: Базова WU9VUl9BUELfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nВикористовуйте згенеровані **псевдонім імені користувача та пароля** для базової автентифікації. Це стосується кінцевих точок у розділах:\n* Псевдонім контактів (CardDAV)\n* Псевдонім календарів (CalDAV)\n* Псевдонім повідомлень (IMAP/POP3)\n* Псевдонім папок (IMAP/POP3)\n\n*(Примітка: Ці функції наразі позначені як «Скоро доступні»)*\n\n**Приклад:**\nЯкщо псевдонім імені користувача — `alias@domain.com`, а пароль — `GENERATED_PASSWORD`, значення в кодуванні Base64 буде `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nАвторизація: Базова YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Повідомлення про помилку"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Адреса електронної пошти відправника (має існувати як псевдонім домену)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Список або масив одержувачів, розділених комами, для заголовка «Кому»."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Список або масив одержувачів, розділених комами, для заголовка «Копія»."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Список або масив одержувачів, розділених комами, для заголовка «Прихована копія»."
          },
          "subject": {
            "type": "string",
            "description": "Тема електронного листа."
          },
          "text": {
            "type": "string",
            "description": "Відкритий текст повідомлення."
          },
          "html": {
            "type": "string",
            "description": "HTML-версія повідомлення."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Масив об'єктів вкладень (див. загальні поля Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Адреса електронної пошти для заголовка «Відправник»."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Адреса електронної пошти для заголовка «Відповісти»."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Ідентифікатор повідомлення, на яке відповідає повідомлення."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Список або масив ідентифікаторів повідомлень, розділених пробілами."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Якщо значення true, перетворює дані: зображення у HTML-вмісті на вбудовані вкладення."
          },
          "watchHtml": {
            "type": "string",
            "description": "HTML-версія повідомлення, специфічна для Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Специфічна для AMP4EMAIL HTML-версія повідомлення."
          },
          "icalEvent": {
            "type": "object",
            "description": "Подія iCalendar як альтернативний вміст повідомлення."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Масив альтернативного вмісту повідомлення."
          },
          "encoding": {
            "type": "string",
            "description": "Кодування тексту та рядків HTML (наприклад, «utf-8», «hex», «base64»)."
          },
          "raw": {
            "type": "string",
            "description": "Повідомлення, згенероване на замовлення у форматі RFC822 (замість використання генерації Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Для текстових значень примусово використано кодування."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Рівень пріоритету для електронного листа."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Об'єкт або масив додаткових полів заголовка."
          },
          "messageId": {
            "type": "string",
            "description": "Необов’язковий ідентифікатор повідомлення для заголовка «Ідентифікатор повідомлення»."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Необов’язковий заголовок дати. Дата не може бути більше ніж через 30 днів у майбутньому."
          },
          "list": {
            "type": "object",
            "description": "Необов'язковий об'єкт заголовків List-*."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Повне доменне ім'я (FQDN) або IP-адреса"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Призначити тій самій команді з іншого домену; може бути ідентифікатором домену або повним доменом (FQDN). Використовуйте \"none\" для явного вимкнення."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Тип плану (за замовчуванням «безкоштовний» або поточний платний план користувача)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Список адрес електронної пошти з роздільниками (комами, пробілами або символами нового рядка)"
              }
            ],
            "description": "Створити загальнодоступний псевдонім за замовчуванням (за замовчуванням значення true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Увімкнути захист від контенту для дорослих за допомогою сканера спаму"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Увімкнути захист від фішингу за допомогою сканера спаму"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Увімкнути захист виконуваного файлу сканера спаму"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Увімкнути захист від вірусів сканера спаму"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Вимагати від одержувачів псевдонімів натискання посилання для підтвердження електронної пошти"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ігнорувати перевірку запису MX для розширених налаштувань маршрутизації пошти"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Кількість днів для зберігання вихідних журналів SMTP (0–30, за замовчуванням: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL-адреса вебхука для отримання подій відмов"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Вимкнути вебхук відмов"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Максимальна квота сховища на псевдонім (наприклад, «1 ГБ»)"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Спеціальний порт для налаштування переадресації SMTP (за замовчуванням — «25»)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Чи вмикати захист від контенту для дорослих за допомогою сканера спаму на цьому домені"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Чи вмикати захист від фішингу за допомогою сканера спаму на цьому домені"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Чи вмикати захист виконуваного файлу Spam Scanner на цьому домені"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Чи вмикати захист від вірусів Spam Scanner на цьому домені"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Глобальне значення домену за замовчуванням, яке визначає, чи вимагати від одержувачів псевдонімів натискання посилання для підтвердження електронної пошти для надсилання електронних листів."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Чи ігнорувати перевірку запису MX на домені для підтвердження (головним чином для розширених налаштувань маршрутизації MX)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Кількість днів для зберігання вихідних SMTP-повідомлень (0 = негайно видаляти)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL-адреса вебхука для отримання сповіщень про відмову або значення false для вимкнення"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Квота сховища для кожного псевдоніма (наприклад, «1 ГБ», розбита на байти)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Псевдонім (якщо не вказано або поле порожнє, то генерується випадковий псевдонім)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Рядок дійсних адрес електронної пошти, повних доменів (FQDN), IP-адрес або URL-адрес вебхуків, розділений розривами рядка/пробілами/комами"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Масив дійсних одержувачів"
              }
            ],
            "description": "Список одержувачів. Якщо не вказано або поле порожнє, за замовчуванням використовується електронна адреса запитувача."
          },
          "description": {
            "type": "string",
            "description": "Опис псевдоніма"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Рядок міток, розділений розривом рядка/пробілом/комою"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Масив міток"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Вимагати від одержувачів натискання посилання для підтвердження (за замовчуванням використовується налаштування домену)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Увімкнути чи вимкнути цей псевдонім"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Код помилки, якщо псевдонім вимкнено. За замовчуванням — 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Увімкнути або вимкнути сховище IMAP для цього псевдоніма"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Увімкнути або вимкнути шифрування OpenPGP для цього псевдоніма"
          },
          "public_key": {
            "type": "string",
            "description": "Відкритий ключ OpenPGP у форматі ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Максимальна квота сховища (наприклад, «1 ГБ»)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Увімкнення або вимкнення автоматичної відповіді у відпустці"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Дата початку (наприклад, «РРРР-ММ-ДД») для автовідповідача у відпустці"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Дата завершення (наприклад, «РРРР-ММ-ДД») для автовідповідача у відпустці"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Тема повідомлення про відпустку у відкритому тексті"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Текстове повідомлення для автоматичної відповіді у відпустці"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Псевдонім"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Рядок дійсних адрес електронної пошти, повних доменів (FQDN), IP-адрес або URL-адрес вебхуків, розділений розривами рядка/пробілами/комами"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Масив дійсних одержувачів"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Опис псевдоніма"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Рядок міток, розділений розривом рядка/пробілом/комою"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Масив міток"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Вимагати від одержувачів натискання посилання для підтвердження (за замовчуванням використовується налаштування домену)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Увімкнути або вимкнути псевдонім"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Код помилки, який потрібно використовувати, якщо псевдонім вимкнено (за замовчуванням — 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Увімкнення або вимкнення сховища IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Увімкнення або вимкнення шифрування OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Відкритий ключ OpenPGP у форматі ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Максимальна квота сховища (наприклад, «1 ГБ»)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Увімкнення або вимкнення автоматичної відповіді у відпустці"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Дата початку роботи автовідповідача (наприклад, РРРР-ММ-ДД)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Дата завершення автоматичної відповіді (наприклад, РРРР-ММ-ДД)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Тема відповіді на відпустку у відкритому тексті"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Відкритий текст повідомлення автовідповідача у відпустці"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Ваш новий пароль для псевдоніма"
          },
          "password": {
            "type": "string",
            "description": "Існуючий пароль для псевдоніма, щоб змінити його без видалення сховища поштової скриньки"
          },
          "is_override": {
            "type": "boolean",
            "description": "Перевизначити існуючий пароль та видалити сховище IMAP (використовувати з обережністю)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Адреса електронної пошти для надсилання псевдоніма, пароля та інструкцій з налаштування"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Поточна кількість надісланих електронних листів"
          },
          "limit": {
            "type": "integer",
            "description": "Максимальна дозволена кількість електронних листів"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Ідентифікатор учасника"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Адреса електронної пошти учасника"
          },
          "role": {
            "type": "string",
            "description": "Роль учасника"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Запрошена адреса електронної пошти"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Сторінка результатів, яку потрібно повернути. Якщо не вказано, значення буде 1. Має бути числом більше або рівним 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Кількість результатів, які потрібно повернути на сторінці. За замовчуванням 10, якщо не вказано. Має бути числом більше або рівним 1 та менше або рівним 50.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Підключіться до пагінації до 1 листопада 2024 року",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Ідентифікатор домену",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Псевдоніми ідентифікаторів",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Ідентифікатор учасника",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Ідентифікатор електронної пошти",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "Створити обліковий запис",
        "description": "Створіть новий обліковий запис користувача",
        "tags": [
          "Обліковий запис"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Адреса електронної пошти"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Пароль"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "Отримати обліковий запис",
        "description": "Отримати інформацію про обліковий запис поточного користувача",
        "tags": [
          "Обліковий запис"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Оновити обліковий запис",
        "description": "Оновити інформацію облікового запису поточного користувача",
        "tags": [
          "Обліковий запис"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Адреса електронної пошти"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "Ім'я"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "Прізвище"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Посилання на зображення аватара"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "Завантажити журнали",
        "description": "**Завантаження журналів**\n\nОпис: Наш API програмно дозволяє вам завантажувати журнали для вашого облікового запису. Надсилання запиту до цієї кінцевої точки обробить усі журнали для вашого облікового запису та надішле їх вам електронною поштою як вкладення (стиснутий Gzip-файл електронної таблиці CSV) після завершення.\n\nЦе дозволяє вам створювати фонові завдання за допомогою завдання Cron або використовувати програмне забезпечення для планування завдань Node.js Bree, щоб отримувати журнали, коли забажаєте. Зверніть увагу, що ця кінцева точка обмежена `10` запитами на день.\n\nВкладення має форму `email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz`, а сам електронний лист містить короткий опис отриманих журналів.",
        "tags": [
          "Журнали"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Фільтрувати журнали за повним доменом (\"FQDN\"). Якщо не вказано, буде отримано всі журнали з усіх доменів.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Пошук журналів за електронною поштою, доменом, псевдонімом, IP-адресою або датою (формат М/Р, М/Д/РР, М-Д, М-Д-РР або М.Д.РР).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "Пошук журналів за певною категорією відмов (наприклад, «список блокування»).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "Пошук журналів за певним кодом відповіді на помилку (наприклад, 421 або 550).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Список вихідних SMTP-електронних пошт",
        "description": "**Список вихідних SMTP-листів**\n\nЗверніть увагу, що ця кінцева точка не повертає значення властивостей для `message`, `headers` та `rejectedErrors` електронного листа.\n\nЩоб повернути ці властивості та їхні значення, скористайтеся кінцевою точкою [Retrieve email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) з ідентифікатором електронної пошти.",
        "tags": [
          "Електронні листи"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Пошук електронних листів за метаданими.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Пошук електронних листів за доменним іменем.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Сортувати за певним полем (префікс з одним дефісом — для сортування у зворотному напрямку до цього поля). Якщо не встановлено, значення за замовчуванням — created_at.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Див. розділ «Пагінація» для отримання додаткової інформації.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Див. розділ «Пагінація» для отримання додаткової інформації.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Створення вихідної SMTP-електронної пошти",
        "description": "Наш API для створення електронного листа натхненний та використовує конфігурацію параметрів повідомлень Nodemailer. Будь ласка, дотримуйтесь [конфігурації повідомлення Nodemailer](https://nodemailer.com/message/) для всіх параметрів тіла листа, наведених нижче.\n\nЗверніть увагу, що за винятком `envelope` та `dkim` (оскільки ми встановлюємо їх автоматично), ми підтримуємо всі параметри Nodemailer. Ми автоматично встановлюємо параметри `disableFileAccess` та `disableUrlAccess` на `true` з міркувань безпеки.\n\nВи повинні або передати один параметр `raw` разом з вашим необробленим повним електронним листом, включаючи заголовки, або передати окремі параметри параметрів тіла листа нижче.\n\nЦя кінцева точка API автоматично кодуватиме емодзі для вас, якщо вони знайдені в заголовках (наприклад, рядок теми `Subject: 🤓 Hello` автоматично перетворюється на `Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello`). Нашою метою було створити надзвичайно зручний для розробників та захищений від фіктивних елементів API електронної пошти.",
        "tags": [
          "Електронні листи"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "Отримати ліміт вихідної SMTP-електронної пошти",
        "description": "Це проста кінцева точка, яка повертає JSON-об'єкт, що містить значення `count` та `limit` для кількості вихідних SMTP-повідомлень за день для кожного облікового запису.",
        "tags": [
          "Електронні листи"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "Отримання вихідної SMTP-електронної пошти",
        "description": "Отримати певний вихідний SMTP-електронний лист.",
        "tags": [
          "Електронні листи"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Видалити вихідну SMTP-електронну пошту",
        "description": "Видалення електронної пошти встановить статус «відхилено» (і, відповідно, не оброблятиметься в черзі) тоді і тільки тоді, коли поточний статус — «очікує» (pending), «у черзі» (queued) або «відкладено» (deferred). Ми можемо автоматично видаляти електронні листи через 30 днів після їх створення та/або відправлення, тому вам слід зберігати копію вихідних SMTP-листів у вашому клієнті, базі даних або програмі. За потреби ви можете посилатися на значення нашого ідентифікатора електронної пошти у вашій базі даних — це значення повертається як з кінцевих точок [Створити електронну пошту](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email), так і з кінцевих точок [Отримати електронну пошту](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email).",
        "tags": [
          "Електронні листи"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "Список доменів",
        "description": "> [!NOTE]\n>З 1 листопада 2024 року кінцеві точки API для доменів списків та псевдонімів доменів списків за замовчуванням матимуть максимальну кількість результатів на сторінці – `1000`. Якщо ви хочете ввімкнути цю функцію раніше, ви можете передати `?paginate=true` як додатковий параметр рядка запиту до URL-адреси для запиту кінцевої точки. Див. розділ «Пагінація» для отримання додаткової інформації.",
        "tags": [
          "Домени"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Пошук доменів за метаданими.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Пошук доменів за доменним іменем.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Сортувати за певним полем (префікс з одним дефісом — для сортування у зворотному напрямку до цього поля). Якщо не встановлено, значення за замовчуванням — created_at.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Див. розділ «Пагінація» для отримання додаткової інформації.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Див. розділ «Пагінація» для отримання додаткової інформації.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Створити домен",
        "description": "Створює новий домен у системі. Ця кінцева точка дозволяє зареєструвати повне доменне ім'я (FQDN) або IP-адресу для використання з платформою.\n\nДодаткові параметри конфігурації включають призначення домену існуючій команді, встановлення типу плану (наприклад, безкоштовний, розширений захист або командний) та налаштування розширеного захисту, такого як фільтрація спаму, сканування на віруси та перевірка одержувачів. Ви також можете налаштувати, чи слід створювати універсальний псевдонім за замовчуванням, встановити власну URL-адресу вебхука для відмов у разі збоїв SMTP та визначити обмеження квот сховища для псевдонімів електронної пошти в цьому домені. Ця кінцева точка виконує перевірку та налаштування на рівні домену. Якщо ввімкнено опцію `ignore_mx_check`, перевірка записів MX пропускається (рекомендується лише для розширених налаштувань маршрутизації). Відповідь міститиме повну інформацію про створений об'єкт домену, включаючи записи DNS, необхідні для конфігурації.",
        "tags": [
          "Домени"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Отримати домен",
        "description": "Отримати певний домен",
        "tags": [
          "Домени"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Оновити домен",
        "description": "Оновіть певний домен.",
        "tags": [
          "Домени"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Видалити домен",
        "description": "Видалити певний домен.",
        "tags": [
          "Домени"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Перевірка записів домену",
        "description": "Перевірте DNS-записи для певного домену.",
        "tags": [
          "Домени"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "Перевірка SMTP-записів домену",
        "description": "Перевіряє DNS-записи, пов’язані з SMTP, для вказаного домену.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "Домени"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Повне доменне ім'я (FQDN) для перевірки",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "Створити універсальний пароль для всього домену",
        "description": "Створює універсальний пароль для всього домену. Якщо пароль не вказано, буде згенеровано безпечний випадковий пароль.",
        "tags": [
          "Домени"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Доменне ім'я для створення універсального пароля"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "Ваш новий власний пароль, який використовуватиметься як універсальний пароль для всього домену. Залиште поле порожнім, щоб створити надійний пароль."
                  },
                  "description": {
                    "type": "string",
                    "description": "Опис лише для цілей організації."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Список загальних паролів для всього домену",
        "description": "Повертає список загальних паролів для домену, які наразі налаштовані для вказаного домену.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "Домени"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Повне доменне ім'я (FQDN), для якого потрібно вказати загальні паролі",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "Видалити загальний пароль для всього домену",
        "description": "Видаляє загальний пароль для всього домену, використовуючи наданий ідентифікатор токена.",
        "tags": [
          "Домени"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Доменне ім'я, пов'язане з універсальним паролем"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ідентифікатор токена загальнодоменного пароля, який потрібно видалити"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Прийняти запрошення домену",
        "description": "Прийміть запрошення до домену.",
        "tags": [
          "Запрошення"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Створити запрошення до домену",
        "description": ">[!IMPORTANT]\n>Якщо користувач, якого запрошують, вже є прийнятим членом будь-якого іншого домену, членом якого є адміністратор, який його запрошує, то запрошення буде автоматично прийнято, а електронний лист не буде надіслано.",
        "tags": [
          "Запрошення"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Адреса електронної пошти для запрошення до списку учасників домену"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "Група, до якої потрібно додати користувача до членства в домені (може бути однією з `\"admin\"` або `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Видалити запрошення домену",
        "description": "Видалити запрошення до домену.",
        "tags": [
          "Запрошення"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Адреса електронної пошти, яку потрібно видалити зі списку учасників домену"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "Оновити учасника домену",
        "description": "Оновлення учасника домену.",
        "tags": [
          "Члени"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "Група для оновлення користувача до членства в домені (може бути однією з `\"admin\"` або `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Видалити учасника домену",
        "description": "Видалити учасника домену.",
        "tags": [
          "Члени"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "Згенерувати псевдонім пароля",
        "description": "Згенеруйте пароль для псевдоніма. Якщо `emailed_instructions` не вказано, відповідь міститиме згенероване ім'я користувача та пароль.",
        "tags": [
          "Псевдоніми"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Повне доменне ім'я (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Унікальний ідентифікатор псевдоніма"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Список псевдонімів доменів",
        "description": ">[!NOTE]\n>З 1 листопада 2024 року кінцеві точки API для `List domains` та `List domain aliases` за замовчуванням матимуть максимум `1000` результатів на сторінку. Якщо ви хочете ввімкнути цю функцію раніше, ви можете передати `?paginate=true` як додатковий параметр рядка запиту до URL-адреси для запиту кінцевої точки. Див. Розбиття на сторінки для отримання додаткової інформації.",
        "tags": [
          "Псевдоніми"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Пошук псевдонімів у домені за іменем, міткою або одержувачем (підтримується регулярний вираз)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Пошук псевдонімів у домені за іменем (підтримується RegExp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Пошук псевдонімів у домені за одержувачем (підтримується RegExp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Сортувати за певним полем (префікс з одним дефісом – для зворотного сортування). За замовчуванням created_at.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Створити новий псевдонім домену",
        "description": "Створіть новий псевдонім для певного домену.",
        "tags": [
          "Псевдоніми"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "Отримати псевдонім домену",
        "description": "Отримати певний псевдонім для домену.",
        "tags": [
          "Псевдоніми"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Оновити псевдонім домену",
        "description": "Оновити певний псевдонім для домену.",
        "tags": [
          "Псевдоніми"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Видалити псевдонім домену",
        "description": "Видалити певний псевдонім для домену.",
        "tags": [
          "Псевдоніми"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "Зашифрувати TXT-запис",
        "description": "Ми дозволяємо вам шифрувати записи навіть у безкоштовному плані безкоштовно. Конфіденційність не повинна бути функцією, вона має бути вбудованою в усі аспекти продукту. Як наполегливо просили в [обговоренні Посібників з конфіденційності](https://discuss.privacyguides.net/t/forward-email-email-provider/13370) та в наших [питаннях GitHub](https://github.com/forwardemail/forwardemail.net/issues/254), ми додали це.",
        "tags": [
          "Шифрувати"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "Будь-який дійсний запис відкритого тексту для пересилання електронної пошти"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "Список контактів",
        "description": "Список усіх контактів (CardDAV). Ця кінцева точка з’явиться найближчим часом.",
        "tags": [
          "Контакти Alias"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Створити контакт",
        "description": "Створіть новий контакт (CardDAV). Ця кінцева точка стане доступною найближчим часом.",
        "tags": [
          "Контакти Alias"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
[...]
