{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />ยินดีต้อนรับสู่เอกสาร API ที่ครอบคลุมสำหรับการส่งต่ออีเมล API นี้ช่วยให้คุณจัดการการส่งต่ออีเมล โดเมน นามแฝง อีเมลขาออก และอื่นๆ ด้วยโปรแกรม\n\n## คุณสมบัติหลัก\n* **การจัดการโดเมน:** สร้าง เรียกค้น อัปเดต ลบ และตรวจสอบโดเมน\n* **การจัดการนามแฝง:** จัดการนามแฝงอีเมล รวมถึงการสร้าง อัปเดต และการจัดการผู้รับ\n* **SMTP ขาออก:** ส่งอีเมลผ่าน SMTP จัดการขีดจำกัด และติดตามอีเมลที่ส่ง\n* **บัญชีและบันทึก:** จัดการรายละเอียดบัญชีของคุณและดาวน์โหลดบันทึกกิจกรรม\n* **ความปลอดภัย:** เข้ารหัสบันทึก TXT และจัดการสมาชิก/คำเชิญของโดเมน\n* **เร็วๆ นี้:** มีการวางแผนคุณสมบัติ เช่น รายชื่อติดต่อ CardDAV ปฏิทิน CalDAV และการจัดการข้อความ/โฟลเดอร์ IMAP/POP3\n\n## การตรวจสอบสิทธิ์\nจุดปลายทางส่วนใหญ่ต้องการการตรวจสอบสิทธิ์โดยใช้ **รหัส API** ของคุณ ให้ใส่รหัส API เป็น `ชื่อผู้ใช้` ในส่วนหัวการตรวจสอบสิทธิ์พื้นฐาน โดยเว้นรหัสผ่านว่างไว้\n\n```http\nการอนุญาต: QVBJX1RPS0VOOg== พื้นฐาน\n```\n(แทนที่ `API_TOKEN` ด้วยคีย์จริงของคุณก่อนการเข้ารหัส Base64)\n\nจุดปลายทางที่เกี่ยวข้องกับ **รายชื่อผู้ติดต่อ ปฏิทิน ข้อความ และโฟลเดอร์นามแฝง** (ปัจจุบันทำเครื่องหมายว่า \"เร็วๆ นี้\") จะใช้ชื่อผู้ใช้และรหัสผ่านนามแฝงที่สร้างขึ้นสำหรับการตรวจสอบสิทธิ์พื้นฐาน\n\n## ข้อผิดพลาด\nAPI ใช้รหัสสถานะ HTTP มาตรฐานเพื่อระบุความสำเร็จหรือความล้มเหลว การตอบสนองข้อผิดพลาดรวมถึงเนื้อหา JSON พร้อมฟิลด์ `ข้อความ` ที่ให้รายละเอียดข้อผิดพลาด\n\n| รหัสสถานะ | ความหมาย |\n|------------|--------------------|\n| 200 | ตกลง |\n| 400 | คำขอไม่ถูกต้อง |\n| 401 | ไม่ได้รับอนุญาต |\n| 403 | ห้าม |\n| 404 | ไม่พบ |\n| 429 | คำขอมากเกินไป |\n| 500 | ข้อผิดพลาดเซิร์ฟเวอร์ภายใน|\n| 501 | ไม่ได้ใช้งาน |\n| 502 | เกตเวย์ไม่ดี |\n| 503 | บริการไม่พร้อมใช้งาน |\n| 504 | เกตเวย์หมดเวลา |\n\n*หากคุณพบข้อผิดพลาด `5xx` โปรดติดต่อ [api@forwardemail.net](mailto:api@forwardemail.net)*\n\n## การแปล\nการตอบสนองของ API จะถูกแปลตามตำแหน่งที่ตรวจพบของผู้ใช้หรือส่วนหัว `Accept-Language` รองรับมากกว่า 25 ภาษา\n\n## การแบ่งหน้า\nรายการปลายทางที่ส่งคืนรองรับการแบ่งหน้าผ่านพารามิเตอร์การค้นหา\n\n| พารามิเตอร์ | ประเภท | ตัวเลือก | คำอธิบาย | ค่าเริ่มต้น | ข้อจำกัด |\n|--------------|----------|--------------------------|--------------------------------------------------------------------------|---------|--------------------|\n| `page` | Integer | Yes | Page number to retrieve | 1 | `>= 1` |\n| `limit` | Integer | Yes | Number of results per page. | 10 | `>= 1`, `<= 50` |\n| `pagination` | Boolean | Yes | Opt-in to pagination behavior (required before November 1st, 2024 for some endpoints). | false | |\n\n**Pagination Headers:**\n* `X-Page-Count`: Total page count.\n* `X-Page-Current`: Current page number.\n* `X-Page-Size`: Number of items on the current page.\n* `X-Item-Count`: Total item-Count across all pages. * `ลิงก์`: ลิงก์การนำทาง (ก่อนหน้า, ถัดไป, แรก, ท้าย)\n**ตัวอย่าง:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## ไลบรารีที่แนะนำ\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (ดูแลโดย Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "เซิร์ฟเวอร์ API สำหรับการส่งต่ออีเมล"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nใช้รหัส API ของคุณเป็น **ชื่อผู้ใช้** สำหรับการตรวจสอบสิทธิ์ขั้นพื้นฐาน ปล่อยให้ช่องรหัสผ่านว่างเปล่า\n\n**ตัวอย่าง:**\nหากรหัส API ของคุณคือ `YOUR_API_KEY` ค่าที่เข้ารหัส Base64 สำหรับส่วนหัว `Authorization` จะเป็น `echo -n \"YOUR_API_KEY:\" | base64`\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nใช้ **ชื่อผู้ใช้และรหัสผ่านนามแฝง** ที่สร้างขึ้นสำหรับการตรวจสอบสิทธิ์ขั้นพื้นฐาน ซึ่งจะใช้กับปลายทางภายใต้:\n* รายชื่อผู้ติดต่อนามแฝง (CardDAV)\n* ปฏิทินนามแฝง (CalDAV)\n* ข้อความนามแฝง (IMAP/POP3)\n* โฟลเดอร์นามแฝง (IMAP/POP3)\n\n*(หมายเหตุ: คุณลักษณะเหล่านี้ถูกทำเครื่องหมายว่า \"เร็วๆ นี้\")*\n\n**ตัวอย่าง:**\nหากชื่อผู้ใช้นามแฝงคือ `alias@domain.com` และรหัสผ่านคือ `GENERATED_PASSWORD` ค่าที่เข้ารหัส Base64 จะเป็น `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`\n\n```http\nการอนุญาต: พื้นฐาน YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "ข้อความแสดงข้อผิดพลาด"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลของผู้ส่ง (ต้องมีอยู่เป็นนามแฝงของโดเมน)"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "รายการที่คั่นด้วยจุลภาคหรืออาร์เรย์ของผู้รับสำหรับส่วนหัว \"ถึง\""
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "รายการที่คั่นด้วยจุลภาคหรืออาร์เรย์ของผู้รับสำหรับส่วนหัว 'Cc'"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "รายการที่คั่นด้วยจุลภาคหรืออาร์เรย์ของผู้รับสำหรับส่วนหัว 'Bcc'"
          },
          "subject": {
            "type": "string",
            "description": "หัวข้อของอีเมล์"
          },
          "text": {
            "type": "string",
            "description": "ข้อความเวอร์ชันข้อความธรรมดา"
          },
          "html": {
            "type": "string",
            "description": "ข้อความเวอร์ชัน HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "อาร์เรย์ของวัตถุแนบ (ดูฟิลด์ทั่วไปของ Nodemailer)"
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลสำหรับส่วนหัว 'ผู้ส่ง'"
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลสำหรับส่วนหัว 'ตอบกลับถึง'"
          },
          "inReplyTo": {
            "type": "string",
            "description": "Message-ID ที่ข้อความนั้นใช้ในการตอบกลับ"
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "รายการที่คั่นด้วยช่องว่างหรืออาร์เรย์ของ Message-ID"
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "หากเป็นจริง จะแปลงข้อมูล: รูปภาพในเนื้อหา HTML เป็นไฟล์แนบที่ฝังไว้"
          },
          "watchHtml": {
            "type": "string",
            "description": "ข้อความเวอร์ชัน HTML เฉพาะสำหรับ Apple Watch"
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL เวอร์ชัน HTML เฉพาะของข้อความ"
          },
          "icalEvent": {
            "type": "object",
            "description": "กิจกรรม iCalendar เป็นเนื้อหาข้อความทางเลือก"
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "อาร์เรย์ของเนื้อหาข้อความทางเลือก"
          },
          "encoding": {
            "type": "string",
            "description": "การเข้ารหัสสำหรับข้อความและสตริง HTML (เช่น 'utf-8', 'hex', 'base64')"
          },
          "raw": {
            "type": "string",
            "description": "ข้อความรูปแบบ RFC822 ที่สร้างขึ้นเอง (แทนที่จะใช้การสร้าง Nodemailer)"
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "การเข้ารหัสถูกบังคับให้ใช้สำหรับค่าข้อความ"
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "ระดับความสำคัญของอีเมล์"
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "วัตถุหรืออาร์เรย์ของฟิลด์ส่วนหัวเพิ่มเติม"
          },
          "messageId": {
            "type": "string",
            "description": "ตัวเลือก Message-ID สำหรับส่วนหัว 'Message-ID'"
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "ส่วนหัววันที่ที่เลือกได้ ไม่สามารถเกิน 30 วันในอนาคต"
          },
          "list": {
            "type": "object",
            "description": "วัตถุตัวเลือกของส่วนหัว List-*"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "ชื่อโดเมนที่มีคุณสมบัติครบถ้วน (FQDN) หรือที่อยู่ IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "มอบหมายให้ทีมเดียวกันจากโดเมนอื่น อาจเป็น ID โดเมนหรือ FQDN ใช้ \"ไม่มี\" เพื่อปิดการใช้งานโดยชัดเจน"
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "ประเภทแผน (ค่าเริ่มต้นคือ 'ฟรี' หรือแผนแบบชำระเงินปัจจุบันของผู้ใช้)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "รายชื่อที่อยู่อีเมลที่คั่นด้วยเครื่องหมายจุลภาค ช่องว่าง หรือบรรทัดใหม่"
              }
            ],
            "description": "สร้างนามแฝง catch-all แบบเริ่มต้น (ค่าเริ่มต้นเป็นจริง)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "เปิดใช้งานการป้องกันเนื้อหาสำหรับผู้ใหญ่ด้วยเครื่องสแกนสแปม"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "เปิดใช้งานการป้องกันการฟิชชิ่งด้วยเครื่องสแกนสแปม"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "เปิดใช้งานการป้องกันการทำงานของเครื่องสแกนสแปม"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "เปิดใช้งานการป้องกันไวรัส Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "กำหนดให้ผู้รับนามแฝงคลิกลิงก์ยืนยันอีเมล"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "ละเว้นการตรวจสอบบันทึก MX สำหรับการตั้งค่าการกำหนดเส้นทางอีเมลขั้นสูง"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "จำนวนวันในการเก็บบันทึก SMTP ขาออก (0–30, ค่าเริ่มต้น: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL เว็บฮุกสำหรับรับเหตุการณ์เด้งกลับ"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "ปิดใช้งานเว็บฮุกเด้ง"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "โควตาพื้นที่เก็บข้อมูลสูงสุดต่อนามแฝง (เช่น '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "พอร์ตที่กำหนดเองเพื่อกำหนดค่าสำหรับการส่งต่อ SMTP (ค่าเริ่มต้นคือ '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "ว่าจะเปิดใช้งานการป้องกันเนื้อหาสำหรับผู้ใหญ่ของ Spam Scanner บนโดเมนนี้หรือไม่"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "ว่าจะเปิดใช้งานการป้องกันฟิชชิ่งด้วย Spam Scanner บนโดเมนนี้หรือไม่"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "ว่าจะเปิดใช้งานการป้องกันการทำงาน Spam Scanner บนโดเมนนี้หรือไม่"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "ว่าจะเปิดใช้งานการป้องกันไวรัส Spam Scanner บนโดเมนนี้หรือไม่"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "ค่าเริ่มต้นของโดเมนทั่วโลกสำหรับการกำหนดให้ผู้รับนามแฝงต้องคลิกลิงก์ยืนยันอีเมลเพื่อให้อีเมลไหลผ่าน"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "ว่าจะละเว้นการตรวจสอบบันทึก MX บนโดเมนเพื่อการยืนยันหรือไม่ (ส่วนใหญ่สำหรับการตั้งค่าการกำหนดเส้นทาง MX ขั้นสูง)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "จำนวนวันในการจัดเก็บอีเมล SMTP ขาออก (0 = ล้างทันที)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL เว็บฮุกเพื่อรับการแจ้งเตือนการตีกลับ หรือเท็จเพื่อปิดการใช้งาน"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "โควตาพื้นที่เก็บข้อมูลตามนามแฝง (เช่น '1 GB' แยกเป็นไบต์)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "ชื่อนามแฝง (ถ้าไม่ได้ระบุหรือเว้นว่างไว้ นามแฝงแบบสุ่มจะถูกสร้างขึ้น)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "สตริงที่คั่นด้วยเครื่องหมายจุลภาค/แบ่งบรรทัด/เว้นวรรคของที่อยู่อีเมล FQDN, IP หรือ URL ของเว็บฮุกที่ถูกต้อง"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "อาร์เรย์ของผู้รับที่ถูกต้อง"
              }
            ],
            "description": "รายชื่อผู้รับ หากไม่ได้ระบุหรือว่างเปล่า จะเป็นอีเมลของผู้ร้องขอตามค่าเริ่มต้น"
          },
          "description": {
            "type": "string",
            "description": "คำอธิบายนามแฝง"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "สตริงของป้ายกำกับที่คั่นด้วยเครื่องหมายจุลภาค/แบ่งบรรทัด/เว้นวรรค"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "อาร์เรย์ของฉลาก"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "กำหนดให้ผู้รับคลิกลิงก์ยืนยัน (ค่าเริ่มต้นคือการตั้งค่าโดเมน)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "ว่าจะเปิดใช้งานหรือปิดใช้งานนามแฝงนี้"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "รหัสข้อผิดพลาดหากปิดใช้งานนามแฝง ค่าเริ่มต้นคือ 250"
          },
          "has_imap": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานที่จัดเก็บ IMAP สำหรับนามแฝงนี้"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานการเข้ารหัส OpenPGP สำหรับนามแฝงนี้"
          },
          "public_key": {
            "type": "string",
            "description": "คีย์สาธารณะ OpenPGP ในรูปแบบ ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "โควตาพื้นที่เก็บข้อมูลสูงสุด (เช่น '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานระบบตอบกลับอัตโนมัติเมื่อลาพักร้อน"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "วันที่เริ่มต้น (เช่น 'ปปป-ดด-วว') สำหรับการตอบกลับในช่วงวันหยุด"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "วันที่สิ้นสุด (เช่น 'ปปป-ดด-วว') สำหรับผู้ตอบกลับในช่วงวันหยุด"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "หัวเรื่องแบบข้อความธรรมดาสำหรับการตอบกลับในช่วงวันหยุด"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "ข้อความธรรมดาสำหรับการตอบกลับในช่วงวันหยุด"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "ชื่อเล่น"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "สตริงที่คั่นด้วยเครื่องหมายจุลภาค/แบ่งบรรทัด/เว้นวรรคของที่อยู่อีเมล FQDN, IP หรือ URL ของเว็บฮุกที่ถูกต้อง"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "อาร์เรย์ของผู้รับที่ถูกต้อง"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "คำอธิบายนามแฝง"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "สตริงของป้ายกำกับที่คั่นด้วยเครื่องหมายจุลภาค/แบ่งบรรทัด/เว้นวรรค"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "อาร์เรย์ของฉลาก"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "กำหนดให้ผู้รับคลิกลิงก์ยืนยัน (ค่าเริ่มต้นคือการตั้งค่าโดเมน)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานนามแฝง"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "รหัสข้อผิดพลาดที่จะใช้หากปิดใช้งานนามแฝง (ค่าเริ่มต้นคือ 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานการจัดเก็บ IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานการเข้ารหัส OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "คีย์สาธารณะ OpenPGP ในรูปแบบ ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "โควตาพื้นที่เก็บข้อมูลสูงสุด (เช่น '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานระบบตอบกลับอัตโนมัติเมื่อลาพักร้อน"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "วันที่เริ่มต้นการตอบกลับในช่วงวันหยุด (เช่น YYYY-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "วันที่สิ้นสุดการตอบกลับในช่วงวันหยุด (เช่น YYYY-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "หัวข้อข้อความธรรมดาของการตอบกลับในช่วงวันหยุด"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "ข้อความตอบกลับแบบข้อความธรรมดาในช่วงวันหยุด"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "รหัสผ่านใหม่ที่คุณกำหนดเองเพื่อใช้สำหรับนามแฝง"
          },
          "password": {
            "type": "string",
            "description": "รหัสผ่านที่มีอยู่สำหรับนามแฝงเพื่อเปลี่ยนแปลงโดยไม่ต้องลบพื้นที่จัดเก็บกล่องจดหมาย"
          },
          "is_override": {
            "type": "boolean",
            "description": "แทนที่รหัสผ่านที่มีอยู่และลบที่เก็บข้อมูล IMAP (ใช้ด้วยความระมัดระวัง)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลสำหรับส่งรหัสผ่านนามแฝงและคำแนะนำในการตั้งค่า"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "จำนวนอีเมลที่ส่งในปัจจุบัน"
          },
          "limit": {
            "type": "integer",
            "description": "จำนวนอีเมลสูงสุดที่อนุญาต"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "รหัสสมาชิก"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมล์ของสมาชิก"
          },
          "role": {
            "type": "string",
            "description": "บทบาทของสมาชิก"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลเชิญ"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "หน้าผลลัพธ์ที่จะส่งกลับ หากไม่ได้ระบุค่าจะเป็น 1 ต้องเป็นตัวเลขที่มากกว่าหรือเท่ากับ 1",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "จำนวนผลลัพธ์ที่จะแสดงต่อหนึ่งเพจ ค่าเริ่มต้นคือ 10 หากไม่ได้ระบุ ต้องเป็นตัวเลขที่มากกว่าหรือเท่ากับ 1 และน้อยกว่าหรือเท่ากับ 50",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "เลือกเข้าร่วมการแบ่งหน้าก่อนวันที่ 1 พฤศจิกายน 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "รหัสโดเมน",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "นามแฝง ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "รหัสสมาชิก",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "อีเมลไอดี",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "สร้างบัญชี",
        "description": "สร้างบัญชีผู้ใช้ใหม่",
        "tags": [
          "บัญชี"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "ที่อยู่อีเมล์"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "รหัสผ่าน"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "ดึงข้อมูลบัญชี",
        "description": "ดึงข้อมูลบัญชีของผู้ใช้ปัจจุบัน",
        "tags": [
          "บัญชี"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "อัปเดตบัญชี",
        "description": "อัปเดตข้อมูลบัญชีผู้ใช้ปัจจุบัน",
        "tags": [
          "บัญชี"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "ที่อยู่อีเมล์"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "ชื่อจริง"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "นามสกุล"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "ลิงค์ไปยังรูปอวาตาร์"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "ดาวน์โหลดบันทึก",
        "description": "**ดาวน์โหลดบันทึก**\n\nคำอธิบาย: โปรแกรม API ของเราอนุญาตให้คุณดาวน์โหลดบันทึกสำหรับบัญชีของคุณได้ การส่งคำขอไปยังจุดสิ้นสุดนี้จะประมวลผลบันทึกทั้งหมดสำหรับบัญชีของคุณและส่งให้คุณทางอีเมลเป็นไฟล์แนบ (ไฟล์สเปรดชีต CSV ที่บีบอัดด้วย Gzip) เมื่อดำเนินการเสร็จสิ้น\n\nวิธีนี้ช่วยให้คุณสร้างงานเบื้องหลังด้วยงาน Cron หรือใช้ซอฟต์แวร์จัดกำหนดการงาน Node.js ชื่อ Bree เพื่อรับบันทึกเมื่อใดก็ตามที่คุณต้องการ โปรดทราบว่าจุดสิ้นสุดนี้จำกัดให้ส่งคำขอได้ `10` ครั้งต่อวัน\n\nไฟล์แนบเป็นรูปแบบตัวพิมพ์เล็กของ `email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz` และอีเมลนั้นประกอบด้วยสรุปสั้นๆ ของบันทึกที่ดึงมา",
        "tags": [
          "บันทึก"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "กรองบันทึกตามโดเมนที่ระบุคุณสมบัติครบถ้วน (\"FQDN\") หากไม่ได้ระบุไว้ ระบบจะดึงบันทึกทั้งหมดจากโดเมนทั้งหมด",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "ค้นหาบันทึกตามอีเมล โดเมน ชื่อแฝง ที่อยู่ IP หรือวันที่ (รูปแบบ M/Y, M/D/YY, M-D, M-D-YY หรือ M.D.YY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "ค้นหาบันทึกตามหมวดหมู่การตีกลับที่เฉพาะเจาะจง (เช่น \"รายการบล็อก\")",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "ค้นหาบันทึกโดยใช้รหัสการตอบสนองข้อผิดพลาดที่เฉพาะเจาะจง (เช่น 421 หรือ 550)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "รายชื่ออีเมล SMTP ขาออก",
        "description": "**รายการอีเมล SMTP ขาออก**\n\nโปรดทราบว่าจุดสิ้นสุดนี้จะไม่ส่งคืนค่าคุณสมบัติสำหรับ `ข้อความ` `ส่วนหัว` หรือ `ข้อผิดพลาดที่ถูกปฏิเสธ` ของอีเมล\n\nหากต้องการส่งคืนคุณสมบัติและค่าของคุณสมบัติเหล่านั้น โปรดใช้จุดสิ้นสุด [เรียกอีเมล](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) พร้อม ID อีเมล",
        "tags": [
          "อีเมล์"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "ค้นหาอีเมล์ตามข้อมูลเมตา",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "ค้นหาอีเมล์ตามชื่อโดเมน",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "เรียงลำดับตามฟิลด์ที่ระบุ (นำหน้าด้วยเครื่องหมายขีดกลางเพียงตัวเดียว เพื่อเรียงลำดับในทิศทางย้อนกลับของฟิลด์นั้น) ค่าเริ่มต้นคือ created_at หากไม่ได้ตั้งค่าไว้",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "ดูการแบ่งหน้าเพื่อข้อมูลเชิงลึกเพิ่มเติม",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "ดูการแบ่งหน้าเพื่อข้อมูลเชิงลึกเพิ่มเติม",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "สร้างอีเมล SMTP ขาออก",
        "description": "API ของเราสำหรับการสร้างอีเมลได้รับแรงบันดาลใจและใช้ประโยชน์จากการกำหนดค่าตัวเลือกข้อความของ Nodemailer โปรดใช้ [การกำหนดค่าข้อความของ Nodemailer](https://nodemailer.com/message/) สำหรับพารามิเตอร์เนื้อหาทั้งหมดด้านล่าง\n\nโปรดทราบว่ายกเว้น `envelope` และ `dkim` (เนื่องจากเราตั้งค่าให้คุณโดยอัตโนมัติ) เรารองรับตัวเลือก Nodemailer ทั้งหมด เราตั้งค่าตัวเลือก `disableFileAccess` และ `disableUrlAccess` เป็น `true` โดยอัตโนมัติเพื่อวัตถุประสงค์ด้านความปลอดภัย\n\nคุณควรส่งตัวเลือกเดี่ยวของ `raw` พร้อมอีเมลเต็มแบบดิบของคุณรวมถึงส่วนหัวหรือส่งตัวเลือกพารามิเตอร์เนื้อหาแต่ละรายการด้านล่าง\n\nจุดสิ้นสุดของ API นี้จะเข้ารหัสอีโมจิให้คุณโดยอัตโนมัติหากพบในส่วนหัว (เช่น บรรทัดหัวเรื่อง `Subject: 🤓 Hello` จะถูกแปลงเป็น `Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello` โดยอัตโนมัติ) เป้าหมายของเราคือการสร้าง API อีเมลที่เป็นมิตรกับนักพัฒนาและป้องกันข้อผิดพลาดได้ดียิ่งขึ้น",
        "tags": [
          "อีเมล์"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "รับขีดจำกัดอีเมล SMTP ขาออก",
        "description": "นี่เป็นจุดสิ้นสุดแบบเรียบง่ายที่ส่งคืนวัตถุ JSON ที่มี `count` และ `limit` สำหรับจำนวนข้อความขาออก SMTP รายวันในแต่ละบัญชี",
        "tags": [
          "อีเมล์"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "ดึงข้อมูลอีเมล SMTP ขาออก",
        "description": "ดึงอีเมล SMTP ขาออกที่เฉพาะเจาะจง",
        "tags": [
          "อีเมล์"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "ลบอีเมล์ SMTP ขาออก",
        "description": "การลบอีเมลจะตั้งสถานะเป็น \"ปฏิเสธ\" (และจะไม่ดำเนินการในคิวในภายหลัง) ก็ต่อเมื่อสถานะปัจจุบันเป็น \"รอดำเนินการ\" \"เข้าคิว\" หรือ \"เลื่อนการดำเนินการ\" เราอาจล้างอีเมลโดยอัตโนมัติหลังจาก 30 วันหลังจากที่สร้างและ/หรือส่ง ดังนั้นคุณจึงควรเก็บสำเนาอีเมล SMTP ขาออกไว้ในไคลเอนต์ ฐานข้อมูล หรือแอปพลิเคชันของคุณ คุณสามารถอ้างอิงค่า ID อีเมลของเราในฐานข้อมูลของคุณได้หากต้องการ โดยค่านี้ส่งคืนจากทั้งจุดสิ้นสุด [สร้างอีเมล](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email) และ [เรียกอีเมล](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email)",
        "tags": [
          "อีเมล์"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "รายการโดเมน",
        "description": "> [!NOTE]\n>ตั้งแต่วันที่ 1 พฤศจิกายน 2024 เป็นต้นไป จุดสิ้นสุดของ API สำหรับโดเมนรายการและนามแฝงโดเมนรายการจะตั้งค่าเริ่มต้นเป็นผลลัพธ์สูงสุด `1,000` รายการต่อหน้า หากคุณต้องการเลือกใช้พฤติกรรมนี้ก่อนกำหนด คุณสามารถส่ง `?paginate=true` เป็นพารามิเตอร์ querystring เพิ่มเติมให้กับ URL สำหรับการค้นหาจุดสิ้นสุด ดูการแบ่งหน้าเพื่อดูข้อมูลเชิงลึกเพิ่มเติม",
        "tags": [
          "โดเมน"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "ค้นหาโดเมนตามข้อมูลเมตา",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "ค้นหาโดเมนตามชื่อโดเมน",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "เรียงลำดับตามฟิลด์ที่ระบุ (นำหน้าด้วยเครื่องหมายขีดกลางเพียงตัวเดียว เพื่อเรียงลำดับในทิศทางย้อนกลับของฟิลด์นั้น) ค่าเริ่มต้นคือ created_at หากไม่ได้ตั้งค่าไว้",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "ดูการแบ่งหน้าเพื่อข้อมูลเชิงลึกเพิ่มเติม",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "ดูการแบ่งหน้าเพื่อข้อมูลเชิงลึกเพิ่มเติม",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "สร้างโดเมน",
        "description": "สร้างโดเมนใหม่ในระบบ จุดสิ้นสุดนี้ช่วยให้คุณลงทะเบียนชื่อโดเมนที่มีคุณสมบัติครบถ้วน (FQDN) หรือที่อยู่ IP เพื่อใช้กับแพลตฟอร์มได้\n\nตัวเลือกการกำหนดค่าเพิ่มเติม ได้แก่ การกำหนดโดเมนให้กับทีมที่มีอยู่ การกำหนดประเภทแผน (เช่น ฟรี การป้องกันขั้นสูง หรือทีม) และการกำหนดค่าการป้องกันขั้นสูง เช่น การกรองสแปม การสแกนไวรัส และการยืนยันผู้รับ นอกจากนี้ คุณยังสามารถกำหนดค่าว่าควรสร้างนามแฝงแบบ catch-all ตามค่าเริ่มต้นหรือไม่ ตั้งค่า URL webhook ของอีเมลที่ส่งกลับแบบกำหนดเองสำหรับความล้มเหลวของ SMTP และกำหนดขีดจำกัดโควตาพื้นที่จัดเก็บสำหรับนามแฝงอีเมลบนโดเมนนี้ จุดสิ้นสุดนี้จะดำเนินการตรวจสอบและจัดเตรียมในระดับโดเมน หากเปิดใช้งานตัวเลือก `ignore_mx_check` การตรวจสอบระเบียน MX จะถูกข้าม (แนะนำสำหรับการตั้งค่าการกำหนดเส้นทางขั้นสูงเท่านั้น) การตอบสนองจะมีรายละเอียดทั้งหมดของวัตถุโดเมนที่สร้างขึ้น รวมถึงระเบียน DNS ที่จำเป็นสำหรับการกำหนดค่า",
        "tags": [
          "โดเมน"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "ดึงข้อมูลโดเมน",
        "description": "ดึงข้อมูลโดเมนเฉพาะ",
        "tags": [
          "โดเมน"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "อัพเดทโดเมน",
        "description": "อัพเดทโดเมนเฉพาะ",
        "tags": [
          "โดเมน"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "ลบโดเมน",
        "description": "ลบโดเมนที่เฉพาะเจาะจง",
        "tags": [
          "โดเมน"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "ตรวจสอบบันทึกโดเมน",
        "description": "ตรวจสอบบันทึก DNS สำหรับโดเมนเฉพาะ",
        "tags": [
          "โดเมน"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "ตรวจสอบบันทึก SMTP ของโดเมน",
        "description": "ตรวจสอบบันทึก DNS ที่เกี่ยวข้องกับ SMTP สำหรับโดเมนที่ระบุ",
        "operationId": "verifySmtpRecords",
        "tags": [
          "โดเมน"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "ชื่อโดเมนที่มีคุณสมบัติครบถ้วน (FQDN) ที่ต้องตรวจสอบ",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "สร้างรหัสผ่านที่ครอบคลุมทั้งโดเมน",
        "description": "สร้างรหัสผ่านแบบครอบคลุมทั้งโดเมน หากไม่ได้ระบุรหัสผ่าน ระบบจะสร้างรหัสผ่านแบบสุ่มที่ปลอดภัย",
        "tags": [
          "โดเมน"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ชื่อโดเมนที่จะสร้างรหัสผ่านแบบจับทั้งหมดสำหรับ"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "รหัสผ่านใหม่ที่คุณกำหนดเองเพื่อใช้เป็นรหัสผ่านที่ครอบคลุมทั้งโดเมน ปล่อยว่างไว้เพื่อสร้างรหัสผ่านที่แข็งแกร่ง"
                  },
                  "description": {
                    "type": "string",
                    "description": "คำอธิบายเพื่อวัตถุประสงค์ในการจัดระเบียบเท่านั้น"
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "รายการรหัสผ่านที่ครอบคลุมทั้งโดเมน",
        "description": "ส่งคืนรายการรหัสผ่านแบบครอบคลุมทั่วโดเมนที่ได้รับการกำหนดค่าในปัจจุบันสำหรับโดเมนที่ระบุ",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "โดเมน"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "ชื่อโดเมนที่มีคุณสมบัติครบถ้วน (FQDN) ที่จะใช้แสดงรายการรหัสผ่านแบบครอบคลุม",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "ลบรหัสผ่านแบบครอบคลุมโดเมนทั้งหมด",
        "description": "ลบรหัสผ่านแบบครอบคลุมโดเมนโดยใช้ ID โทเค็นที่ให้มา",
        "tags": [
          "โดเมน"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ชื่อโดเมนที่เชื่อมโยงกับรหัสผ่านแบบจับทั้งหมด"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID โทเค็นของรหัสผ่านแบบครอบคลุมโดเมนที่ต้องการลบ"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "ยอมรับคำเชิญโดเมน",
        "description": "ยอมรับคำเชิญเข้าร่วมโดเมน",
        "tags": [
          "คำเชิญ"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "สร้างคำเชิญโดเมน",
        "description": ">[!IMPORTANT]\n>หากผู้ใช้ที่ได้รับคำเชิญเป็นสมาชิกที่ได้รับการยอมรับของโดเมนอื่นใดที่ผู้ดูแลระบบที่ส่งคำเชิญเป็นสมาชิกอยู่แล้ว ระบบจะยอมรับคำเชิญโดยอัตโนมัติและจะไม่ส่งอีเมล",
        "tags": [
          "คำเชิญ"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "ที่อยู่อีเมลที่จะเชิญไปยังรายชื่อสมาชิกโดเมน"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "กลุ่มที่จะเพิ่มผู้ใช้เข้าในการเป็นสมาชิกโดเมน (สามารถเป็นหนึ่งใน \"ผู้ดูแลระบบ\" หรือ \"ผู้ใช้\" ก็ได้)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "ลบคำเชิญโดเมน",
        "description": "ลบคำเชิญไปยังโดเมน",
        "tags": [
          "คำเชิญ"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "ที่อยู่อีเมลที่จะลบออกจากรายชื่อสมาชิกโดเมน"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "อัพเดทสมาชิกโดเมน",
        "description": "อัพเดตสมาชิกโดเมน",
        "tags": [
          "สมาชิก"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "กลุ่มที่จะอัพเดตผู้ใช้เป็นสมาชิกโดเมนด้วย (สามารถเป็นหนึ่งใน `\"admin\"` หรือ `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "ลบสมาชิกโดเมน",
        "description": "ลบสมาชิกโดเมน",
        "tags": [
          "สมาชิก"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "สร้างรหัสผ่านนามแฝง",
        "description": "สร้างรหัสผ่านสำหรับนามแฝง หากไม่ได้ระบุ `emailed_instructions` การตอบสนองจะมีชื่อผู้ใช้และรหัสผ่านที่สร้างขึ้น",
        "tags": [
          "นามแฝง"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ชื่อโดเมนที่มีคุณสมบัติครบถ้วน (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "รหัสประจำตัวที่ไม่ซ้ำกันของนามแฝง"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "รายชื่อนามแฝงโดเมน",
        "description": ">[!NOTE]\n>ตั้งแต่วันที่ 1 พฤศจิกายน 2024 เป็นต้นไป จุดสิ้นสุดของ API สำหรับ `List domains` และ `List domain aliases` จะใช้ค่าเริ่มต้นเป็นผลลัพธ์สูงสุด `1,000` รายการต่อหน้า หากคุณต้องการเลือกใช้พฤติกรรมนี้ก่อนกำหนด คุณสามารถส่ง `?paginate=true` เป็นพารามิเตอร์ querystring เพิ่มเติมให้กับ URL สำหรับการค้นหาจุดสิ้นสุด ดูการแบ่งหน้าเพื่อดูข้อมูลเชิงลึกเพิ่มเติม",
        "tags": [
          "นามแฝง"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "ค้นหาชื่อนามแฝงในโดเมนตามชื่อ ป้ายกำกับ หรือผู้รับ (รองรับ RegExp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "ค้นหาชื่อนามแฝงในโดเมนตามชื่อ (รองรับ RegExp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "ค้นหาชื่อแทนในโดเมนโดยผู้รับ (รองรับ RegExp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "เรียงลำดับตามฟิลด์ที่ระบุ (นำหน้าด้วยเครื่องหมายขีดกลางเพียงตัวเดียว - เพื่อเรียงลำดับแบบย้อนกลับ) ค่าเริ่มต้นคือ created_at",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "สร้างชื่อโดเมนใหม่",
        "description": "สร้างนามแฝงใหม่สำหรับโดเมนเฉพาะ",
        "tags": [
          "นามแฝง"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "ดึงข้อมูลนามแฝงโดเมน",
        "description": "ดึงชื่อนามแฝงที่เฉพาะเจาะจงสำหรับโดเมน",
        "tags": [
          "นามแฝง"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "อัปเดตชื่อโดเมน",
        "description": "อัปเดตชื่อแทนเฉพาะสำหรับโดเมน",
        "tags": [
          "นามแฝง"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "ลบชื่อโดเมน",
        "description": "ลบชื่อแทนเฉพาะสำหรับโดเมน",
        "tags": [
          "นามแฝง"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "เข้ารหัสบันทึก TXT",
        "description": "เราอนุญาตให้คุณเข้ารหัสระเบียนได้แม้ในแผนฟรีโดยไม่มีค่าใช้จ่าย ความเป็นส่วนตัวไม่ควรเป็นคุณสมบัติ แต่ควรเป็นสิ่งที่มีอยู่ในผลิตภัณฑ์ทุกด้านโดยเนื้อแท้ ตามที่ขออย่างมากในการสนทนาเกี่ยวกับ [Privacy Guides](https://discuss.privacyguides.net/t/forward-email-email-provider/13370) และใน [GitHub issues](https://github.com/forwardemail/forwardemail.net/issues/254) ของเรา เราได้เพิ่มสิ่งนี้เข้าไปแล้ว",
        "tags": [
          "เข้ารหัส"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "บันทึก TXT แบบข้อความธรรมดาของ Forward Email ที่ถูกต้อง"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "รายชื่อผู้ติดต่อ",
        "description": "แสดงรายการผู้ติดต่อทั้งหมด (CardDAV) จุดสิ้นสุดนี้จะพร้อมใช้งานเร็วๆ นี้",
        "tags": [
          "รายชื่อผู้ติดต่อนามแฝง"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "สร้างการติดต่อ",
        "description": "สร้างรายชื่อติดต่อใหม่ (CardDAV) จุดสิ้นสุดนี้จะพร้อมใช้งานเร็วๆ นี้",
        "tags": [
          "รายชื่อผู้ติดต่อนามแฝง"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "เบอร์ติดต่อ",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "ดึงข้อมูลการติดต่อ",
        "description": "ดึงข้อมูลผู้ติดต่อเฉพาะ (CardDAV) จุดสิ้นสุดนี้จะพร้อมใช้งานเร็วๆ นี้",
        "tags": [
          "รายชื่อผู้ติดต่อนามแฝง"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "อัปเดตข้อมูลติดต่อ",
        "description": "อัปเดตรายชื่อติดต่อเฉพาะ (CardDAV) จุดสิ้นสุดนี้จะพร้อมใช้งานเร็วๆ นี้",
        "tags": [
          "รายชื่อผู้ติดต่อนามแฝง"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "ลบข้อมูลติดต่อ",
        "description": "ลบรายชื่อผู้ติดต่อเฉพาะ (CardDAV) จุดสิ้นสุดนี้จะพร้อมใช้งานเร็วๆ นี้",
        "tags": [
          "รายชื่อผู้ติดต่อนามแฝง"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "summary": "รายการปฏิทิน",
        "description": "แสดงรายการปฏิทินทั้งหมด (CalDAV) จุดสิ้นสุดนี้จะมาเร็ว ๆ นี้",
        "tags": [
          "ปฏิทินนามแฝง"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "สร้างปฏิทิน",
        "description": "สร้างปฏิทินใหม่ (CalDAV) จุดสิ้นสุดนี้จะพร้อมใช้งานเร็วๆ นี้",
        "tags": [
          "ปฏิทินนามแฝง"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "รหัสปฏิทิน",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "ดึงข้อมูลปฏิทิน",
        "description": "ดึงข้อมูลปฏิทินเฉพาะ (CalDAV) จุดสิ้นสุดนี้จะพร้อมใช้งานเร็วๆ นี้",
[...]
