{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Tervetuloa kattavaan sähköpostin edelleenlähetyksen API-dokumentaatioon. Tämän API:n avulla voit hallita sähköpostin edelleenlähetystä, verkkotunnuksia, aliaksia, lähteviä sähköposteja ja paljon muuta ohjelmallisesti.\n\n## Tärkeimmät ominaisuudet\n* **Verkkotunnusten hallinta:** Luo, hae, päivitä, poista ja vahvista verkkotunnuksia.\n* **Aliasten hallinta:** Hallitse sähköpostialiaksia, mukaan lukien luominen, päivitykset ja vastaanottajien hallinta.\n* **Lähtevät SMTP:** Lähetä sähköposteja SMTP:n kautta, hallitse rajoituksia ja seuraa lähetettyjä sähköposteja.\n* **Tili ja lokit:** Hallitse tilisi tietoja ja lataa toimintalokeja.\n* **Turvallisuus:** Salaa TXT-tietueet ja hallitse verkkotunnuksen jäseniä/kutsuja.\n* **CardDAV-yhteystiedot:** Täydelliset CRUD-toiminnot yhteystietojen hallintaan vCard-tuella.\n* **CalDAV-kalenterit:** Täydellinen kalenterinhallinta aikavyöhyke- ja värituella.\n* **IMAP/POP3-viestit:** Kattava viestien hallinta edistyneillä hakutoiminnoilla.\n* **IMAP/POP3-kansiot:** Täydellinen kansioiden hallinta, mukaan lukien luominen, uudelleennimeäminen ja poistaminen.\n\n## Todennus\nUseimmat päätepisteet vaativat todennuksen **API-avaimella**. Anna API-avain `käyttäjänimenä` perustodennuksen otsikossa ja jätä salasana tyhjäksi.\n\n```http\nValtuutus: Perus QVBJX1RPS0VOOg==\n```\n(Korvaa `API_TOKEN` omalla avaimellasi ennen Base64-koodausta)\n\n**Yhteystietojen, kalentereiden, viestien ja kansioiden** aliaksiin liittyvät päätepisteet vaativat luodun alias-käyttäjätunnuksen ja salasanan perustodennusta varten.\n\n## Virheet\nAPI käyttää HTTP-standarditilakoodeja onnistumisen tai epäonnistumisen osoittamiseen. Virhevastaukset sisältävät JSON-rungon, jossa on `viesti`-kenttä, jossa on virheen tiedot.\n\n| Tilakoodi | Merkitys |\n|--------------|---------------------|\n| 200 | OK |\n| 400 | Virheellinen pyyntö |\n| 401 | Luvaton |\n| 403 | Kielletty |\n| 404 | Ei löydy |\n| 409 | Ristiriita |\n| 412 | Edellytys epäonnistui |\n| 429 | Liian monta pyyntöä |\n| 500 | Sisäinen palvelinvirhe|\n| 501 | Ei toteutettu |\n| 502 | Virheellinen yhdyskäytävä |\n| 503 | Palvelu ei ole käytettävissä |\n| 504 | Yhdyskäytävän aikakatkaisu |\n\n*Jos kohtaat `5xx`-virheen, ota yhteyttä osoitteeseen [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalisointi\nAPI-vastaukset käännetään käyttäjän havaitun kieliasetuksen tai `Accept-Language`-otsikon perusteella. Yli 25 kieltä tuetaan.\n\n## Sivutus\nPäätepisteet, jotka palauttavat luetteloita, tukevat sivutusta kyselyparametrien avulla.\n\n| Parametri | Tyyppi | Valinnainen | Kuvaus | Oletusarvo | Rajoitukset |\n|---------------|----------|----------|-----------------------------------------------------------------------|---------|-------------------------|\n| `sivu` | Kokonaisluku | Kyllä | Haettava sivunumero. | 1 | `>= 1` |\n| `limit` | Kokonaisluku | Kyllä | Tulosten määrä sivulla. | 25 | `>= 1`, `<= 100` |\n| `sivutus` | Totuusarvo | Kyllä | Sivutustoiminto käytössä (vaaditaan joillekin päätepisteille ennen 1. marraskuuta 2024). | false | |\n\n**Sivutuksen otsikot:**\n* `X-Page-Count`: Sivujen kokonaismäärä.\n* `X-Page-Current`: Nykyinen sivunumero.\n* `X-Page-Size`: Nykyisellä sivulla olevien kohteiden lukumäärä.\n* `X-Item-Count`: Kohteiden kokonaismäärä kaikilla sivuilla.\n* `Link`: Navigointilinkit (edellinen, seuraava, ensimmäinen, viimeinen).\n\n**Esimerkki:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Suositellut kirjastot\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Ylläpitää Forward Email)\n* **Siirry:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Sähköpostin edelleenlähetys-API-palvelin"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Käytä API-avaintasi **käyttäjätunnuksena** perustodennuksessa. Jätä salasana-kenttä tyhjäksi.\n\n**Esimerkki:**\nJos API-avaimesi on `OMA_API_AVAIMESI`, `Valtuutus`-otsikon Base64-koodattu arvo olisi `echo -n \"OMA_API_AVAIMESI:\" | base64`.\n\n```http\nValtuutus: Perus WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nUse the generated **alias username and password** for Basic Authentication. This applies to endpoints under:\n*   Alias Contacts (CardDAV)\n*   Alias Calendars (CalDAV)\n*   Alias Messages (IMAP/POP3)\n*   Alias Folders (IMAP/POP3)\n*   Alias Sieve Scripts\n\n**Example:**\nIf the alias username is `alias@domain.com` and password is `GENERATED_PASSWORD`, the Base64 encoded value would be `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "SieveScript": {
        "type": "object",
        "required": [
          "id",
          "name",
          "content",
          "alias"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique script identifier"
          },
          "name": {
            "type": "string",
            "description": "Script name"
          },
          "content": {
            "type": "string",
            "description": "Sieve script content"
          },
          "alias": {
            "type": "string",
            "description": "Alias ID this script belongs to"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the script is active",
            "default": false
          },
          "priority": {
            "type": "integer",
            "description": "Script priority (lower = higher priority)",
            "default": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Luonnin aikaleima"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Viimeisimmän päivityksen aikaleima"
          },
          "object": {
            "type": "string",
            "example": "sieve_script"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Virheilmoitus"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "Käyttäjän ensisijainen kieliasetus, joka ohittaa automaattisen tunnistuksen"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Alias-tunnus"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Objektityyppi"
          },
          "name": {
            "type": "string",
            "description": "Alias-nimi (sähköpostin paikallinen osa)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Koko alias-sähköpostiosoite"
          },
          "domain_id": {
            "type": "string",
            "description": "Verkkotunnustunnus"
          },
          "domain_name": {
            "type": "string",
            "description": "Verkkotunnus"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Tämän aliaksen/postilaatikon käyttämä tallennustila tavuina"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Tämän aliaksen/postilaatikon tallennuskiintiö tavuina"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Onko IMAP käytössä tälle aliakselle"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Onko PGP-salaus käytössä"
          },
          "public_key": {
            "type": "string",
            "description": "PGP-julkinen avain, jos saatavilla"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Onko S/MIME-salaus käytössä"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 -sertifikaatti PEM-muodossa"
          },
          "locale": {
            "type": "string",
            "description": "Kielikohtainen asetus"
          },
          "settings": {
            "type": "object",
            "description": "Alias-asetukset",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias-sähköpostiarkistokansio"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Lähetettyjen sähköpostien alias-kansio"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias-sähköpostin luonnoskansio"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "Alias-tunnisteen kartta avainsanan mukaan",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "Vapaamuotoiset aliasten oletusarvot, kuten näyttönimi tai allekirjoitus.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Luonnin aikaleima"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Viimeisimmän päivityksen aikaleima"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Yhteyshenkilön tunnus (contact_id CardDAVista)"
          },
          "uid": {
            "type": "string",
            "description": "Yhteyshenkilön UID"
          },
          "full_name": {
            "type": "string",
            "description": "Yhteyshenkilön koko nimi"
          },
          "content": {
            "type": "string",
            "description": "vCard-sisältö"
          },
          "etag": {
            "type": "string",
            "description": "ETag versiointia varten"
          },
          "is_group": {
            "type": "boolean",
            "description": "Onko yhteystieto ryhmä"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Sähköpostiosoitteiden taulukko"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Puhelinnumeroiden taulukko"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-sisältö (jos sitä ei anneta, se luodaan muista kentistä)"
          },
          "full_name": {
            "type": "string",
            "description": "Yhteyshenkilön koko nimi"
          },
          "contact_id": {
            "type": "string",
            "description": "Mukautettu yhteyshenkilön tunnus (jos sitä ei anneta, se luodaan automaattisesti)"
          },
          "uid": {
            "type": "string",
            "description": "Yhteyshenkilön UID (jos sitä ei anneta, se luodaan automaattisesti)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Sähköpostiosoitteiden taulukko"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Puhelinnumeroiden taulukko"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Puhelinnumeroiden taulukko (alias puhelinnumeroille)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Osoitetaulukko"
          },
          "is_group": {
            "type": "boolean",
            "description": "Onko yhteystieto ryhmä"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-sisältö"
          },
          "full_name": {
            "type": "string",
            "description": "Yhteyshenkilön koko nimi"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Sähköpostiosoitteiden taulukko"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Puhelinnumeroiden taulukko"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Puhelinnumeroiden taulukko (alias puhelinnumeroille)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Osoitetaulukko"
          },
          "is_group": {
            "type": "boolean",
            "description": "Onko yhteystieto ryhmä"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalenteritunnus (calendarId CalDAV:sta)"
          },
          "name": {
            "type": "string",
            "description": "Kalenterin nimi"
          },
          "description": {
            "type": "string",
            "description": "Kalenterin kuvaus"
          },
          "color": {
            "type": "string",
            "description": "Kalenterin väri (heksadesimaalimuoto)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenterin aikavyöhyke"
          },
          "order": {
            "type": "integer",
            "description": "Kalenterin näyttöjärjestys"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalenterin nimi"
          },
          "calendar_id": {
            "type": "string",
            "description": "Mukautetun kalenterin tunnus (jos sitä ei anneta, se luodaan automaattisesti)"
          },
          "description": {
            "type": "string",
            "description": "Kalenterin kuvaus"
          },
          "color": {
            "type": "string",
            "description": "Kalenterin väri (heksadesimaalimuodossa, jos sitä ei anneta, luodaan automaattisesti)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenterin aikavyöhyke (oletusarvoisesti käyttäjän aikavyöhyke tai UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Kalenterin näyttöjärjestys (oletusarvo on 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalenterin nimi"
          },
          "description": {
            "type": "string",
            "description": "Kalenterin kuvaus"
          },
          "color": {
            "type": "string",
            "description": "Kalenterin väri (heksadesimaalimuoto)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenterin aikavyöhyke"
          },
          "order": {
            "type": "integer",
            "description": "Kalenterin näyttöjärjestys"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalenteritapahtuman tunnus (eventId CalDAVista)"
          },
          "calendar_id": {
            "type": "string",
            "description": "Tämän tapahtuman kalenterin tunnus"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar (RFC 5545) -tiedot tapahtumalle"
          },
          "summary": {
            "type": "string",
            "description": "Tapahtuman otsikko/yhteenveto (poimittu iCal-datasta)"
          },
          "description": {
            "type": "string",
            "description": "Tapahtuman kuvaus (poimittu iCal-datasta)"
          },
          "location": {
            "type": "string",
            "description": "Tapahtumapaikka (ote iCal-datasta)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Tapahtuman alkamispäivämäärä/-aika (poimittu iCal-tiedoista)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Tapahtuman päättymispäivämäärä/-aika (poimittu iCal-tiedoista)"
          },
          "uid": {
            "type": "string",
            "description": "iCal-datan yksilöllinen tunniste"
          },
          "status": {
            "type": "string",
            "description": "Tapahtuman tila (ote iCal-tiedoista)"
          },
          "organizer": {
            "type": "string",
            "description": "Tapahtuman järjestäjä (poimittu iCal-datasta)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Pehmeän poiston aikaleima"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Sen kalenterin tunnus, johon tapahtuma lisätään"
          },
          "event_id": {
            "type": "string",
            "description": "Mukautettu tapahtumatunnus (jos sitä ei anneta, se luodaan automaattisesti)"
          },
          "ical": {
            "type": "string",
            "description": "Tapahtuman iCalendar (RFC 5545) -tiedot. Tiedon on oltava kelvollisessa iCal-muodossa."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Siirrä tapahtuma eri kalenteriin"
          },
          "ical": {
            "type": "string",
            "description": "Päivitetty iCalendar (RFC 5545) -tiedot tapahtumalle"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kansion tunnus"
          },
          "path": {
            "type": "string",
            "description": "Koko kansion polku"
          },
          "name": {
            "type": "string",
            "description": "Kansion nimi (polun viimeinen osa)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Yläkansion polku"
          },
          "uid_validity": {
            "type": "integer",
            "description": "IMAP UID:n voimassaolo"
          },
          "uid_next": {
            "type": "integer",
            "description": "Seuraava UID-arvo"
          },
          "modify_index": {
            "type": "integer",
            "description": "Muokkausindeksi"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Onko kansio tilattu"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Kansioiden liput"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Viestin säilytysaika"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Erityiskäyttönimitys"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Kansion polku/nimi"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Uusi kansiopolku/nimi"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Viestin tunnus"
          },
          "root_id": {
            "type": "string",
            "description": "Säikeiden juuriviestin tunnus"
          },
          "folder_id": {
            "type": "string",
            "description": "Viestin sisältävän kansion tunnus"
          },
          "folder_path": {
            "type": "string",
            "description": "Viestin sisältävä kansiopolku"
          },
          "thread_id": {
            "type": "string",
            "description": "Keskusteluryhmittelyn ketjun tunnus"
          },
          "header_message_id": {
            "type": "string",
            "description": "Viesti-ID-otsikkoarvo"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Onko viesti lukematon"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Onko viesti merkitty lipulla"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Poistetaanko viesti"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Onko viesti luonnos"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Onko viesti roskapostia/roskapostia"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Kopioidaanko viesti"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Onko viesti haettavissa"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Onko viesti vanhentunut"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Onko viestissä liitteitä"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Viestin säilytyspäivämäärä"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Sisäinen päivämäärä (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Viestiotsikoiden päivämäärä"
          },
          "subject": {
            "type": "string",
            "description": "Viestin aihe"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-liput"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Käyttäjän määrittämät otsikot (pienet kirjaimet, enintään 10)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "Viestin koko tavuina"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP-UID"
          },
          "modseq": {
            "type": "integer",
            "description": "Muokkausjärjestys"
          },
          "transaction": {
            "type": "string",
            "description": "Transaktiotyyppi"
          },
          "remote_address": {
            "type": "string",
            "description": "Etä-IP-osoite"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Viestin luomisen aikaleima"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Viestin viimeisimmän päivityksen aikaleima"
          },
          "nodemailer": {
            "type": "object",
            "description": "Jäsennetyn viestin objekti (sisältyy oletuksena, aseta ?nodemailer=false poisjättämiseksi)"
          },
          "raw": {
            "type": "string",
            "description": "Raaka viestisisältö (sisältyy oletuksena, aseta ?raw=false poisjättämiseksi)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Lähettäjän sähköpostiosoite"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Vastaanottajien sähköpostiosoitteet"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kopion vastaanottajien sähköpostiosoitteet"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Piilokopion vastaanottajien sähköpostiosoitteet"
          },
          "subject": {
            "type": "string",
            "description": "Viestin aihe"
          },
          "text": {
            "type": "string",
            "description": "Pelkkä tekstisisältö"
          },
          "html": {
            "type": "string",
            "description": "HTML-sisältö"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Viestin liitteet (Nodemailer-muodossa)"
          },
          "folder": {
            "type": "string",
            "description": "Kohdekansio (oletuksena INBOX)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Viestille asetettavat IMAP-liput"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Käyttäjän määrittämät viestille asetettavat otsikot. Voi olla yksittäinen otsikkomerkkijono tai otsikoiden taulukko. Otsikoiden on alettava kirjaimella, numerolla, kenoviivalla tai dollarimerkillä, ja ne voivat sisältää sanamerkkejä, pisteitä ja yhdysviivoja. Enintään 10 otsikkoa viestiä kohden. Otsikot eivät ole kirjainkokoerottelijoita ja ne tallennetaan pienillä kirjaimilla.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Viestille asetettavat IMAP-liput"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Käyttäjän määrittämät viestille asetettavat otsikot. Voi olla yksittäinen otsikkomerkkijono tai otsikoiden taulukko. Otsikoiden on alettava kirjaimella, numerolla, kenoviivalla tai dollarimerkillä, ja ne voivat sisältää sanamerkkejä, pisteitä ja yhdysviivoja. Enintään 10 otsikkoa viestiä kohden. Otsikot eivät ole kirjainkokoerottelijoita ja ne tallennetaan pienillä kirjaimilla.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "Siirrä viesti tähän kansioon"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "Sähköpostin nykyinen tila. Ajoitus määräytyy päivämääräkentän mukaan.",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Sähköpostin päivämääräotsikko. Jos päivämäärä on asetettu tulevaan aikaan (yli minuutin päähän), sähköpostia säilytetään kyseiseen aikaan asti. Enintään 30 päivää luomisesta."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Ilmaisee, vaaditaanko TLS:ää koko toimitusketjulle (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Lähettäjän sähköpostiosoite (sen on oltava verkkotunnuksen alias)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Pilkuilla erotettu luettelo tai vastaanottajien taulukko Vastaanottaja-otsikkoa varten."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Pilkuilla erotettu luettelo tai vastaanottajien taulukko 'Kopio'-otsikkoa varten."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Pilkuilla erotettu luettelo tai vastaanottajien taulukko 'Piilokopio'-otsikkoa varten."
          },
          "subject": {
            "type": "string",
            "description": "Sähköpostin aihe."
          },
          "text": {
            "type": "string",
            "description": "Viestin selkokielinen versio."
          },
          "html": {
            "type": "string",
            "description": "Viestin HTML-versio."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Liitetiedostojen objekteja sisältävä taulukko (katso Nodemailerin yleiset kentät)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Lähettäjä-otsikon sähköpostiosoite."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Vastaa-otsikon sähköpostiosoite."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Viesti-ID, johon viesti on vastaus."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Välilyönneillä erotettu luettelo tai viestitunnusten taulukko."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Jos arvo on true, muuntaa HTML-sisällön data:-kuvat upotetuiksi liitteiksi."
          },
          "watchHtml": {
            "type": "string",
            "description": "Viestin Apple Watch -kohtainen HTML-versio."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL-viestin HTML-versio."
          },
          "icalEvent": {
            "type": "object",
            "description": "iCalendar-tapahtuma vaihtoehtoisena viestisisältönä."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Vaihtoehtoisten viestien sisältöjen kokoelma."
          },
          "encoding": {
            "type": "string",
            "description": "Tekstin ja HTML-merkkijonojen koodaus (esim. 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Mukautettu RFC822-muotoiltu viesti (Nodemailer-generoinnin sijaan)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Tekstiarvoille pakotettu koodaus."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Sähköpostin prioriteettitaso."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objekti tai lisäotsikkokenttien taulukko."
          },
          "messageId": {
            "type": "string",
            "description": "Valinnainen viestitunnus 'Viestitunnus'-otsikkoa varten."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Valinnainen päivämääräotsikko. Jos päivämäärä on asetettu tulevaan aikaan (yli minuutin päähän), sähköpostia säilytetään kyseiseen aikaan asti. Se ei voi olla yli 30 päivää tulevaisuudessa luomisesta.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "List-*-otsikoiden valinnainen objekti."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Jos arvo on true, vaatii TLS:n koko toimitusketjulle (RFC 8689). Viesti lähetetään vain TLS-salattujen yhteyksien kautta."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "Kun käytössä, hylkää saapuvat sähköpostit, jotka eivät ole TLS-yhteyden kautta lähetettyjä"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Täydellinen verkkotunnusnimi (FQDN) tai IP-osoite"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Määritä samaan tiimiin toisesta verkkotunnuksesta; voi olla verkkotunnustunnus tai täydellinen verkkotunnus (FQDN). Käytä arvoa \"ei mitään\", jos haluat poistaa sen käytöstä erikseen."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Sopimuksen tyyppi (oletuksena 'ilmainen' tai käyttäjän nykyinen maksullinen paketti)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Erotinmerkein eroteltu sähköpostiosoitteiden luettelo (pilkulla, välilyönnillä tai rivinvaihdolla erotettuna)"
              }
            ],
            "description": "Luo oletusarvoinen keräilyalias (oletusarvo on true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Ota käyttöön roskapostiskannerin aikuisille tarkoitetun sisällön suojaus"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Ota käyttöön roskapostiskannerin tietojenkalastelusuojaus"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Ota käyttöön roskapostiskannerin suoritettavan tiedoston suojaus"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Ota käyttöön roskapostiskannerin virustorjunta"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vaadi alias-vastaanottajia napsauttamaan sähköpostiosoitteen vahvistuslinkkiä"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ohita MX-tietueiden tarkistus sähköpostin reitityksen lisäasetuksissa"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Valitse, että onnistuneesti edelleenlähetettyjen, webhook-lähetettyjen, lähtevien SMTP- ja IMAP-toimitettujen sähköpostien otsikot ja metatiedot (viestin sisältöä lukuun ottamatta) tallennetaan. Lokit säilytetään 7 päivää. Tämä ominaisuus auttaa sinua valvomaan ja vianmäärittämään sähköpostin toimituksen suorituskykyä tarjoamalla yksityiskohtaisia tietoja onnistuneista lähetyksistä."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Lähtevien SMTP-lokien säilytyspäivien määrä (0–30, oletusarvo: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhookin URL-osoite palautustapahtumien vastaanottamiseksi"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Poista käytöstä palautuswebhook"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Tallennustilan enimmäiskiintiö aliasta kohden (esim. '1 Gt')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Mukautettu portti SMTP-edelleenlähetystä varten (oletus on '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Otetaanko käyttöön roskapostiskannerin aikuisille suunnatun sisällön suojaus tällä verkkotunnuksella"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Otetaanko roskapostiskannerin tietojenkalastelusuoja käyttöön tässä verkkotunnuksessa"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Otetaanko käyttöön roskapostiskannerin suoritettavan tiedoston suojaus tällä verkkotunnuksella"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Otetaanko roskapostiskannerin virustorjunta käyttöön tässä verkkotunnuksessa"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Globaali toimialueen oletusasetus sille, vaaditaanko aliasvastaanottajilta sähköpostin vahvistuslinkin napsauttamista sähköpostien kulkemiseksi"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ohitetaanko verkkotunnuksen MX-tietueen tarkistus vahvistusta varten (pääasiassa edistyneissä MX-reititysasetuksissa)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Valitse, että onnistuneesti edelleenlähetettyjen, webhook-lähetettyjen, lähtevien SMTP- ja IMAP-toimitettujen sähköpostien otsikot ja metatiedot (viestin sisältöä lukuun ottamatta) tallennetaan. Lokit säilytetään 7 päivää. Tämä ominaisuus auttaa sinua valvomaan ja vianmäärittämään sähköpostin toimituksen suorituskykyä tarjoamalla yksityiskohtaisia tietoja onnistuneista lähetyksistä."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Lähtevien SMTP-sähköpostien tallennuspäivien määrä (0 = tyhjennä välittömästi)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhookin URL-osoite palautusilmoitusten vastaanottamista varten tai false niiden poistamiseksi käytöstä"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Tallennuskiintiö aliasta kohden (esim. '1 Gt', jäsennettynä tavuiksi)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias-nimi (jos sitä ei anneta tai jos se on tyhjä, luodaan satunnainen alias)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Rivinvaihdolla/välilyönnillä/pilkulla erotettu merkkijono kelvollisista sähköpostiosoitteista, FQDN-osoitteista, IP-osoitteista tai webhook-URL-osoitteista"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Kelvollisten vastaanottajien taulukko"
              }
            ],
            "description": "Vastaanottajien luettelo. Jos sitä ei anneta tai se on tyhjä, oletuksena käytetään pyytäjän sähköpostiosoitetta."
          },
          "description": {
            "type": "string",
            "description": "Alias-kuvaus"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Rivinvaihdolla/välilyönnillä/pilkulla erotettu otsikkomerkkijono"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tarrataulukko"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vaadi vastaanottajia napsauttamaan vahvistuslinkkiä (oletusarvoisesti verkkotunnusasetus)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Otetaanko tämä alias käyttöön vai poistetaanko se käytöstä"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Virhekoodi, jos alias on poistettu käytöstä. Oletusarvo on 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Ota IMAP-tallennus käyttöön tai poista se käytöstä tälle aliakselle"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Ota OpenPGP-salaus käyttöön tai poista se käytöstä tälle aliakselle"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP julkinen avain ASCII Armor -muodossa"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Ota S/MIME-salaus käyttöön tai poista se käytöstä tälle aliakselle"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 -sertifikaatti PEM-muodossa"
          },
          "max_quota": {
            "type": "string",
            "description": "Tallennustilan enimmäiskiintiö (esim. 1 Gt)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Lomaviestin ottaminen käyttöön tai poistaminen käytöstä"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Lomaviestin aloituspäivämäärä (esim. 'VVVV-KK-PP')"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Lomaviestin päättymispäivämäärä (esim. 'VVVV-KK-PP')"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Lomaviestin selkokielinen aihe"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Lomavastaajan selkokielinen viesti"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias-nimi"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Rivinvaihdolla/välilyönnillä/pilkulla erotettu merkkijono kelvollisista sähköpostiosoitteista, FQDN-osoitteista, IP-osoitteista tai webhook-URL-osoitteista"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Kelvollisten vastaanottajien taulukko"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Alias-kuvaus"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Rivinvaihdolla/välilyönnillä/pilkulla erotettu otsikkomerkkijono"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tarrataulukko"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vaadi vastaanottajia napsauttamaan vahvistuslinkkiä (oletusarvoisesti verkkotunnusasetus)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Alias-ominaisuuden ottaminen käyttöön tai poistaminen käytöstä"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Virhekoodi, jota käytetään, jos alias on poistettu käytöstä (oletusarvo on 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-tallennuksen ottaminen käyttöön tai poistaminen käytöstä"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP-salaus käyttöön tai poista se käytöstä"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP julkinen avain ASCII Armor -muodossa"
          },
          "has_smime": {
            "type": "boolean",
            "description": "S/MIME-salaus käyttöön tai poista se käytöstä"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 -sertifikaatti PEM-muodossa"
          },
          "max_quota": {
            "type": "string",
            "description": "Tallennustilan enimmäiskiintiö (esim. 1 Gt)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Lomaviestin ottaminen käyttöön tai poistaminen käytöstä"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Lomavastaajan aloituspäivämäärä (esim. VVVV-KK-PP)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Lomavastaajan päättymispäivä (esim. VVVV-KK-PP)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Lomaviestin selkokielinen otsikko"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Lomavastaajan selkokielinen viesti"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Uusi mukautettu salasanasi aliakselle"
          },
          "password": {
            "type": "string",
            "description": "Aliaksen olemassa oleva salasana, jotta sitä voidaan vaihtaa poistamatta postilaatikon tallennustilaa"
          },
          "is_override": {
            "type": "boolean",
            "description": "Ohita olemassa oleva salasana ja poista IMAP-tallennustila (käytä varoen)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Sähköpostiosoite, johon lähetetään aliaksen salasana ja asennusohjeet"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Lähetettyjen sähköpostien nykyinen määrä"
          },
          "limit": {
            "type": "integer",
            "description": "Sähköpostien enimmäismäärä"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "Tallennettu hakumääritelmä tallennettuna aliaksen mukaan.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Tallennetun haun näyttönimi"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Hakukyselymerkkijono uudelleenkäytettäväksi (esim. \"lähettäjä:laskutus\")"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "Toimintojen ja pikanäppäinten yhdistäminen.",
        "additionalProperties": {
          "type": "string",
          "description": "Toiminnon näppäinsidonta (esim. \"e\" arkistoinnille)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "Kentät, jotka ovat sallittuja tunnisteen määritelmää päivitettäessä.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Käyttöliittymässä näkyvä ihmisen luettavissa oleva tunnisteen nimi"
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "Käyttöliittymän renderöinnissä käytetty heksadesimaaliväri"
          },
          "hidden": {
            "type": "boolean",
            "description": "Piilota käyttöliittymän otsikko säilyttäen samalla avainsanan"
          },
          "source": {
            "type": "string",
            "description": "Tunnisteen alkuperä suodatusta ja siirtoja varten",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Jäsentunnus"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Jäsenen sähköpostiosoite"
          },
          "role": {
            "type": "string",
            "description": "Jäsenen rooli"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Kutsuttu sähköpostiosoite"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Palautettava tulossivu. Jos arvoa ei ole määritetty, arvo on 1. Luvun on oltava suurempi tai yhtä suuri kuin 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Sivua kohden palautettavien tulosten määrä. Oletusarvo on 25, jos sitä ei ole määritetty. Luvun on oltava suurempi tai yhtä suuri kuin 1 ja pienempi tai yhtä suuri kuin 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Ota sivutus käyttöön ennen 1. marraskuuta 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Verkkotunnustunnus",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias-tunnus",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Jäsentunnus",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Sähköpostiosoite tai viestiosoite. Voit välittää joko yksilöllisen sähköpostiosoitteen (esim. '683fbe4d5baef1b583a11e54') tai sähköpostin viestiosoitteen otsikkoarvon (esim. '1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net').",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Yhteyshenkilön tunnus",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kalenterin tunnus",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kansion tunnus tai polku",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Viestin tunnus",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "IMAP-avainsanaa käytetään tunnisteen tunnisteena",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Tili"
        ],
        "summary": "Nouda tili",
        "description": "Hae tilitietosi.\n\n**Todennus:** Tämä päätepiste tukee sekä API-token-todennusta että alias-tunnistetietojen todennusta.\n\n- **Käyttäjätili (API-token):** Kun todennus tehdään API-tokenilla, tämä päätepiste palauttaa käyttäjätilitietosi, mukaan lukien sopimuksen tiedot, sähköpostiosoite ja API-token.\n\n- **Alias-tili (alias-tunnistetiedot):** Kun todennus tehdään alias-tunnistetiedoilla (sähköpostiosoite ja luotu salasana), tämä päätepiste palauttaa alias-/postilaatikkotiedot, mukaan lukien käytetyn tallennustilan/kiintiön ja sisäkkäisen `asetus`-objektin (sähköpostin erikoiskansiot, tunnisteasetukset ja alias-oletusasetukset). Tämä on hyödyllistä IMAP/POP3/CalDAV/CardDAV-asiakkaille tallennustilan ja -asetusten tarkistamiseen.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Tili"
        ],
        "summary": "Päivitä tili",
        "description": "Päivitä tilisi tiedot.\n\n- **Käyttäjätili (API-tunnus):** Päivitä käyttäjäprofiilikentät.\n\n- **Alias-tili (alias-tunnistetiedot):** Päivitä alias-laajuusasetukset sisäkkäisen `settings`-objektin avulla. Yhteensopivuuden vuoksi vanhat tasaiset kentät hyväksytään. Vastaus vastaa `GET /v1/account`.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "Alias-asetukset (vain aliastodennus)",
                    "properties": {
                      "mail": {
                        "type": "object",
                        "properties": {
                          "archive_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias-sähköpostiarkistokansio"
                          },
                          "sent_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Lähetettyjen sähköpostien alias-kansio"
                          },
                          "drafts_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias-sähköpostin luonnoskansio"
                          }
                        }
                      },
                      "label_settings": {
                        "type": "object",
                        "description": "Alias-tunnisteen kartta avainsanan mukaan",
                        "additionalProperties": {
                          "$ref": "#/components/schemas/SettingsLabelUpdate"
                        }
                      },
                      "aliases": {
                        "type": "object",
                        "properties": {
                          "defaults": {
                            "type": "object",
                            "description": "Vapaamuotoiset aliasten oletusarvot, kuten näyttönimi tai allekirjoitus",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  },
                  "display_name": {
                    "type": "string",
                    "description": "Näyttönimi"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Kielikohtainen asetus"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Päivitetty sähköpostiosoite (vain käyttäjän todennus)"
                  },
                  "avatar_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Avatar-URL (vain käyttäjän todennus)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Yhteystiedot"
        ],
        "summary": "Listaa yhteystiedot",
        "description": "Hae luettelo kaikista todennetun aliaksen yhteystiedoista. Tämä päätepiste tukee sivutusta ja palauttaa yhteystiedot CardDAV-muodossa.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
[...]
