{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Bienvenue dans la documentation complète de l'API Forward Email. Cette API vous permet de gérer le transfert d'emails, les domaines, les alias, les emails sortants et bien plus encore par programmation.\n\n## Fonctionnalités clés\n* **Gestion des domaines :** Créez, récupérez, mettez à jour, supprimez et vérifiez des domaines.\n\n* **Gestion des alias :** Gérez les alias d'email, y compris leur création, leurs mises à jour et la gestion des destinataires.\n\n* **SMTP sortant :** Envoyez des emails via SMTP, gérez les limites et suivez les emails envoyés.\n\n* **Compte et journaux :** Gérez les détails de votre compte et téléchargez les journaux d'activité.\n\n* **Sécurité :** Chiffrez les enregistrements TXT et gérez les membres/invitations du domaine.\n\n* **Contacts CardDAV :** Opérations CRUD complètes pour la gestion des contacts avec prise en charge des vCards.\n\n* **Calendriers CalDAV :** Gestion complète des calendriers avec prise en charge des fuseaux horaires et des couleurs. * **Messages IMAP/POP3 :** Gestion complète des messages avec fonctionnalités de recherche avancées.\n\n* **Dossiers IMAP/POP3 :** Gestion complète des dossiers, y compris la création, le renommage et la suppression.\n\n## Authentification\n\nLa plupart des points de terminaison requièrent une authentification à l'aide de votre **clé API**. Indiquez la clé API comme nom d'utilisateur dans l'en-tête d'authentification de base, en laissant le mot de passe vide.\n\n```http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(Remplacez `API_TOKEN` par votre clé avant l'encodage Base64)\n\nLes points de terminaison liés aux **alias de contacts, calendriers, messages et dossiers** requièrent un nom d'utilisateur et un mot de passe d'alias générés pour l'authentification de base.\n\n## Erreurs\n\nL'API utilise les codes d'état HTTP standard pour indiquer la réussite ou l'échec. Les réponses d'erreur incluent un corps JSON avec un champ `message` détaillant l'erreur.\n\n| Code d'état | Signification |\n\n|-------------|---------------------|\n| 200 | OK |\n\n| 400 | Mauvaise requête |\n\n| 401 | Non autorisé |\n\n| 403 | Interdit |\n\n| 404 | Introuvable |\n\n| 409 | Conflit |\n\n| 412 | Précondition non remplie |\n\n| 429 | Trop de requêtes |\n\n| 500 | Erreur interne du serveur |\n\n| 501 | Non implémenté |\n\n| 502 | Mauvaise passerelle |\n\n| 503 | Service indisponible |\n\n| 504 | Délai d'attente de la passerelle dépassé |\n\n*Si vous rencontrez une erreur `5xx`, veuillez contacter [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Localisation\nLes réponses de l'API sont traduites en fonction des paramètres régionaux détectés de l'utilisateur ou de l'en-tête `Accept-Language`. Plus de 25 langues sont prises en charge.\n\n## Pagination\nLes points de terminaison renvoyant des listes prennent en charge la pagination via les paramètres de requête.\n\n| Paramètre | Type | Facultatif | Description | Valeur par défaut | Contraintes |\n\n|--------------|---------|----------|-----------------------------------------------------------------------------|---------|--------------------|\n\n| `page` | Entier | Oui | Numéro de la page à récupérer. | 1 | `>= 1` |\n\n| `limit` | Entier | Oui | Nombre de résultats par page. | 25 | `>= 1`, `<= 100` |\n\n| `pagination` | Booléen | Oui | Activation de la pagination (obligatoire avant le 1er novembre 2024 pour certains points de terminaison). | false | |\n\n**En-têtes de pagination :**\n\n* `X-Page-Count` : Nombre total de pages.\n\n* `X-Page-Current` : Numéro de la page courante.\n\n* `X-Page-Size` : Nombre d'éléments sur la page courante.\n\n* `X-Item-Count` : Nombre total d'éléments sur toutes les pages.\n\n* `Link` : Liens de navigation (précédent, suivant, premier, dernier).\n\n**Exemple :**\n\n``bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n\n-u API_TOKEN:\n```\n\n## Bibliothèques recommandées\n* **Ruby :** [Faraday](https://github.com/lostisland/faraday)\n* **Python :** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java :** [OkHttp](https://square.github.io/okhttp/)\n* **PHP :** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js :** [superagent](https://github.com/visionmedia/superagent) (Maintenu par Forward Email)\n* **Go :** `net/http`\n* **.NET :** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Serveur API de transfert de courriel"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Utilisez votre clé API comme **nom d'utilisateur** pour l'authentification de base. Laissez le champ du mot de passe vide.\n\n**Exemple :**\n\nSi votre clé API est `YOUR_API_KEY`, la valeur encodée en Base64 pour l'en-tête `Authorization` sera `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Utilisez le nom d'utilisateur et le mot de passe de l'alias générés pour l'authentification de base. Ceci s'applique aux points de terminaison suivants :\n\n* Contacts Alias (CardDAV)\n\n* Calendriers Alias (CalDAV)\n\n* Messages Alias (IMAP/POP3)\n\n* Dossiers Alias (IMAP/POP3)\n\n**Exemple :**\n\nSi le nom d'utilisateur de l'alias est `alias@domain.com` et le mot de passe `GENERATED_PASSWORD`, la valeur encodée en Base64 sera : `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Message d'erreur"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "User's preferred language setting that overrides automatic detection"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Alias ID"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Type d'objet"
          },
          "name": {
            "type": "string",
            "description": "Nom d'alias (partie locale de l'adresse e-mail)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail complète de l'alias"
          },
          "domain_id": {
            "type": "string",
            "description": "ID de domaine"
          },
          "domain_name": {
            "type": "string",
            "description": "Nom de domaine"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Espace de stockage utilisé en octets pour cet alias/cette boîte aux lettres"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Quota de stockage en octets pour cet alias/cette boîte aux lettres"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Indique si IMAP est activé pour cet alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "L'activation du chiffrement PGP"
          },
          "public_key": {
            "type": "string",
            "description": "Clé publique PGP si disponible"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Whether S/MIME encryption is enabled"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 certificate in PEM format"
          },
          "locale": {
            "type": "string",
            "description": "Préférence locale"
          },
          "settings": {
            "type": "object",
            "description": "Alias settings",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias mail archive folder"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias mail sent folder"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias mail drafts folder"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "Alias label map keyed by keyword",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "Free-form alias defaults such as display_name or signature.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de création"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date et heure de la dernière mise à jour"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de contact (contact_id de CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "UID de contact"
          },
          "full_name": {
            "type": "string",
            "description": "Nom complet du contact"
          },
          "content": {
            "type": "string",
            "description": "Contenu de la vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag pour le versionnage"
          },
          "is_group": {
            "type": "boolean",
            "description": "Que le contact soit un groupe"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau d'adresses électroniques"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau de numéros de téléphone"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Contenu de la vCard (si non fourni, il sera généré à partir d'autres champs)"
          },
          "full_name": {
            "type": "string",
            "description": "Nom complet du contact"
          },
          "contact_id": {
            "type": "string",
            "description": "Identifiant de contact personnalisé (s'il n'est pas fourni, il sera généré automatiquement)"
          },
          "uid": {
            "type": "string",
            "description": "Identifiant unique du contact (s'il n'est pas fourni, il sera généré automatiquement)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau d'adresses électroniques"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau de numéros de téléphone"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau de numéros de téléphone (alias pour phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Tableau d'adresses"
          },
          "is_group": {
            "type": "boolean",
            "description": "Que le contact soit un groupe"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Contenu de la vCard"
          },
          "full_name": {
            "type": "string",
            "description": "Nom complet du contact"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau d'adresses électroniques"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau de numéros de téléphone"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau de numéros de téléphone (alias pour phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Tableau d'adresses"
          },
          "is_group": {
            "type": "boolean",
            "description": "Que le contact soit un groupe"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID du calendrier (calendarId de CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Nom du calendrier"
          },
          "description": {
            "type": "string",
            "description": "Description du calendrier"
          },
          "color": {
            "type": "string",
            "description": "Couleur du calendrier (format hexadécimal)"
          },
          "timezone": {
            "type": "string",
            "description": "fuseau horaire du calendrier"
          },
          "order": {
            "type": "integer",
            "description": "Ordre d'affichage du calendrier"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nom du calendrier"
          },
          "calendar_id": {
            "type": "string",
            "description": "Identifiant personnalisé du calendrier (s'il n'est pas fourni, il sera généré automatiquement)"
          },
          "description": {
            "type": "string",
            "description": "Description du calendrier"
          },
          "color": {
            "type": "string",
            "description": "Couleur du calendrier (format hexadécimal, généré automatiquement si non fourni)"
          },
          "timezone": {
            "type": "string",
            "description": "Fuseau horaire du calendrier (par défaut : fuseau horaire de l’utilisateur ou UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Ordre d'affichage du calendrier (par défaut : 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nom du calendrier"
          },
          "description": {
            "type": "string",
            "description": "Description du calendrier"
          },
          "color": {
            "type": "string",
            "description": "Couleur du calendrier (format hexadécimal)"
          },
          "timezone": {
            "type": "string",
            "description": "fuseau horaire du calendrier"
          },
          "order": {
            "type": "integer",
            "description": "Ordre d'affichage du calendrier"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de l'événement du calendrier (eventId de CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "Identifiant du calendrier auquel cet événement appartient"
          },
          "ical": {
            "type": "string",
            "description": "Données iCalendar (RFC 5545) pour l'événement"
          },
          "summary": {
            "type": "string",
            "description": "Titre/résumé de l'événement (extrait des données iCal)"
          },
          "description": {
            "type": "string",
            "description": "Description de l'événement (extraite des données iCal)"
          },
          "location": {
            "type": "string",
            "description": "Lieu de l'événement (extrait des données iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date et heure de début de l'événement (extraites des données iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date et heure de fin de l'événement (extraites des données iCal)"
          },
          "uid": {
            "type": "string",
            "description": "Identifiant unique issu des données iCal"
          },
          "status": {
            "type": "string",
            "description": "Statut de l'événement (extrait des données iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "Organisateur de l'événement (données extraites d'iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Horodatage de suppression logicielle"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Identifiant du calendrier auquel ajouter l'événement"
          },
          "event_id": {
            "type": "string",
            "description": "ID d'événement personnalisé (s'il n'est pas fourni, il sera généré automatiquement)"
          },
          "ical": {
            "type": "string",
            "description": "Données iCalendar (RFC 5545) pour l'événement. Doit être au format iCal valide."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Déplacer l'événement vers un autre calendrier"
          },
          "ical": {
            "type": "string",
            "description": "Données iCalendar (RFC 5545) mises à jour pour l'événement"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID du dossier"
          },
          "path": {
            "type": "string",
            "description": "Chemin complet du dossier"
          },
          "name": {
            "type": "string",
            "description": "Nom du dossier (dernière partie du chemin)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Chemin du dossier parent"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Validité de l'UID IMAP"
          },
          "uid_next": {
            "type": "integer",
            "description": "Valeur UID suivante"
          },
          "modify_index": {
            "type": "integer",
            "description": "Indice de modification"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Le dossier est-il abonné ?"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "drapeaux de dossier"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Période de conservation des messages"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "désignation d'usage spécial"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Chemin/nom du dossier"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Nouveau chemin/nom du dossier"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID du message"
          },
          "root_id": {
            "type": "string",
            "description": "ID du message racine pour le threading"
          },
          "folder_id": {
            "type": "string",
            "description": "Identifiant du dossier contenant le message"
          },
          "folder_path": {
            "type": "string",
            "description": "Chemin du dossier contenant le message"
          },
          "thread_id": {
            "type": "string",
            "description": "ID du fil de discussion pour le regroupement des conversations"
          },
          "header_message_id": {
            "type": "string",
            "description": "valeur d'en-tête Message-ID"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Message non lu"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Indiquer si le message est signalé"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Que le message soit supprimé ou non"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Que le message soit un brouillon ou non"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Indiquer si le message est indésirable/spam"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Que le message soit copié"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Est-il possible de rechercher le message ?"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Message expiré"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Le message contient-il des pièces jointes ?"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "date de conservation des messages"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date interne (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date extraite des en-têtes du message"
          },
          "subject": {
            "type": "string",
            "description": "Sujet du message"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "drapeaux IMAP"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User-defined labels (lowercase, max 10)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "Taille du message en octets"
          },
          "uid": {
            "type": "integer",
            "description": "UID IMAP"
          },
          "modseq": {
            "type": "integer",
            "description": "séquence de modification"
          },
          "transaction": {
            "type": "string",
            "description": "Type de transaction"
          },
          "remote_address": {
            "type": "string",
            "description": "Adresse IP distante"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de création du message"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de la dernière mise à jour du message"
          },
          "nodemailer": {
            "type": "object",
            "description": "Objet de message analysé (inclus par défaut, définissez ?nodemailer=false pour l'exclure)"
          },
          "raw": {
            "type": "string",
            "description": "Contenu brut du message (inclus par défaut, définissez ?raw=false pour l'exclure)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail de l'expéditeur"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Adresses électroniques des destinataires"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Adresses e-mail des destinataires en copie"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Adresses e-mail des destinataires en copie cachée (BCC)"
          },
          "subject": {
            "type": "string",
            "description": "Sujet du message"
          },
          "text": {
            "type": "string",
            "description": "Contenu en texte brut"
          },
          "html": {
            "type": "string",
            "description": "Contenu HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Pièces jointes (format Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "Dossier cible (par défaut : BOÎTE DE RÉCEPTION)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Indicateurs IMAP à définir sur le message"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "User-defined labels to set on the message. Can be a single label string or an array of labels. Labels must start with a letter, digit, backslash, or dollar sign, and can contain word characters, dots, and hyphens. Maximum of 10 labels per message. Labels are case-insensitive and will be stored in lowercase.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Indicateurs IMAP à définir sur le message"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "User-defined labels to set on the message. Can be a single label string or an array of labels. Labels must start with a letter, digit, backslash, or dollar sign, and can contain word characters, dots, and hyphens. Maximum of 10 labels per message. Labels are case-insensitive and will be stored in lowercase.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "Déplacer le message vers ce dossier"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "The current status of the email. Scheduling is determined by the `date` field.",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "The email's Date header. If set to a future time (more than 1 minute ahead), the email will be held until that time. Maximum 30 days in the future from creation."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Indicates if TLS is required for the entire delivery chain (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "L'adresse électronique de l'expéditeur (doit exister en tant qu'alias du domaine)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Liste de destinataires séparés par des virgules ou tableau de destinataires pour l'en-tête « À »."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Liste de destinataires séparés par des virgules ou tableau de destinataires pour l'en-tête « Cc »."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Liste de destinataires séparés par des virgules ou tableau de destinataires pour l'en-tête « Cci »."
          },
          "subject": {
            "type": "string",
            "description": "Objet du courriel."
          },
          "text": {
            "type": "string",
            "description": "Version en texte clair du message."
          },
          "html": {
            "type": "string",
            "description": "Version HTML du message."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Un tableau d'objets de pièces jointes (voir les champs communs de Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "L'adresse électronique de l'en-tête « Expéditeur »."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Adresse électronique pour l'en-tête « Répondre à »."
          },
          "inReplyTo": {
            "type": "string",
            "description": "L'identifiant du message auquel ce message répond."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Liste ou tableau d'identifiants de messages séparés par des espaces."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Si la valeur est vraie, convertit les données : les images du contenu HTML en pièces jointes intégrées."
          },
          "watchHtml": {
            "type": "string",
            "description": "Version HTML spécifique à l'Apple Watch du message."
          },
          "amp": {
            "type": "string",
            "description": "Version HTML spécifique du message pour AMP4EMAIL."
          },
          "icalEvent": {
            "type": "object",
            "description": "Un événement iCalendar comme contenu alternatif du message."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Un ensemble de contenus de messages alternatifs."
          },
          "encoding": {
            "type": "string",
            "description": "Encodage des chaînes de texte et HTML (par exemple, 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Message personnalisé au format RFC822 (au lieu d'utiliser la génération Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Encodage imposé pour les valeurs textuelles."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Niveau de priorité de l'e-mail."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objet ou tableau de champs d'en-tête supplémentaires."
          },
          "messageId": {
            "type": "string",
            "description": "ID de message facultatif pour l'en-tête « ID de message »."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Optional Date header. If set to a future time (more than 1 minute ahead), the email will be held until that time. Cannot be more than 30 days in the future from creation.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "Objet optionnel d'en-têtes List-*."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "If true, requires TLS for the entire delivery chain (RFC 8689). The message will only be transmitted over TLS-encrypted connections."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "When enabled, reject inbound emails not sent over TLS"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Nom de domaine pleinement qualifié (FQDN) ou adresse IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Attribuer à la même équipe depuis un autre domaine ; peut être un ID de domaine ou un nom de domaine complet (FQDN). Utilisez « none » pour désactiver explicitement."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Type de forfait (par défaut : « gratuit » ou le forfait payant actuel de l’utilisateur)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Liste délimitée d'adresses électroniques (séparées par des virgules, des espaces ou des sauts de ligne)"
              }
            ],
            "description": "Créer un alias par défaut générique (activé par défaut)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Activer la protection contre le spam pour les contenus adultes"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Activer la protection anti-hameçonnage du scanner anti-spam"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Activer la protection des exécutables du scanner anti-spam"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Activer la protection antivirus du scanner anti-spam"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exiger que les destinataires utilisant un alias cliquent sur le lien de vérification par e-mail"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorer la vérification de l'enregistrement MX pour les configurations de routage de courrier avancées"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Activez l'option permettant de conserver les en-têtes et les métadonnées (à l'exclusion du contenu des messages) des e-mails transférés, envoyés via webhook, SMTP sortants et IMAP, avec une conservation des journaux pendant 7 jours. Cette fonctionnalité vous aide à surveiller et à résoudre les problèmes de performance de la distribution des e-mails grâce à des informations détaillées sur les transmissions réussies."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Nombre de jours de conservation des journaux SMTP sortants (0–30, par défaut : 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL du webhook pour recevoir les événements de rebond"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Désactiver le webhook de rebond"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Quota de stockage maximal par alias (ex. : « 1 Go »)"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Port personnalisé à configurer pour le transfert SMTP (par défaut : « 25 »)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Faut-il activer la protection contre le contenu adulte du scanner anti-spam sur ce domaine ?"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Faut-il activer la protection anti-hameçonnage de Spam Scanner sur ce domaine ?"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Faut-il activer la protection contre le spam sur ce domaine ?"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Faut-il activer la protection antivirus Spam Scanner sur ce domaine ?"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Paramètre par défaut du domaine global indiquant si les destinataires d'alias doivent cliquer sur un lien de vérification pour que les e-mails soient acheminés."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Faut-il ignorer la vérification de l'enregistrement MX sur le domaine à des fins de vérification (principalement pour les configurations de routage MX avancées) ?"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Activez l'option permettant de conserver les en-têtes et les métadonnées (à l'exclusion du contenu des messages) des e-mails transférés, envoyés via webhook, SMTP sortants et IMAP, avec une conservation des journaux pendant 7 jours. Cette fonctionnalité vous aide à surveiller et à résoudre les problèmes de performance de la distribution des e-mails grâce à des informations détaillées sur les transmissions réussies."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Nombre de jours de conservation des e-mails SMTP sortants (0 = suppression immédiate)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL du webhook pour recevoir les notifications de rebond, ou false pour désactiver"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Quota de stockage par alias (par exemple « 1 Go », converti en octets)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nom d'alias (si non fourni ou si vide, un alias aléatoire est généré)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chaîne de caractères séparée par des sauts de ligne, des espaces ou des virgules, contenant des adresses e-mail valides, des noms de domaine pleinement qualifiés (FQDN), des adresses IP ou des URL de webhook."
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Tableau des destinataires valides"
              }
            ],
            "description": "Liste des destinataires. Si cette liste n'est pas fournie ou si elle est vide, l'adresse électronique du demandeur sera utilisée par défaut."
          },
          "description": {
            "type": "string",
            "description": "Description de l'alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chaîne d'étiquettes séparées par des sauts de ligne, des espaces ou des virgules"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tableau d'étiquettes"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exiger que les destinataires cliquent sur le lien de vérification (paramètre par défaut du domaine)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Faut-il activer ou désactiver cet alias ?"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Code d'erreur si l'alias est désactivé. Par défaut : 250"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Activer ou désactiver le stockage IMAP pour cet alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Activer ou désactiver le chiffrement OpenPGP pour cet alias"
          },
          "public_key": {
            "type": "string",
            "description": "Clé publique OpenPGP au format ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Enable or disable S/MIME encryption for this alias"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 certificate in PEM format"
          },
          "max_quota": {
            "type": "string",
            "description": "Quota de stockage maximal (ex. : « 1 Go »)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Activer ou désactiver le répondeur automatique en cas d'absence"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Date de début (ex. : AAAA-MM-JJ) pour la personne répondant pendant les vacances"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Date de fin (par exemple, « AAAA-MM-JJ ») pour la personne répondant aux congés"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Objet en texte clair pour réponse aux vacances"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Message en clair pour le répondeur de vacances"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chaîne de caractères séparée par des sauts de ligne, des espaces ou des virgules, contenant des adresses e-mail valides, des noms de domaine pleinement qualifiés (FQDN), des adresses IP ou des URL de webhook."
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Tableau des destinataires valides"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Description de l'alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chaîne d'étiquettes séparées par des sauts de ligne, des espaces ou des virgules"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tableau d'étiquettes"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exiger que les destinataires cliquent sur le lien de vérification (paramètre par défaut du domaine)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Activer ou désactiver l'alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Code d'erreur à utiliser si l'alias est désactivé (par défaut : 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Activer ou désactiver le stockage IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Activer ou désactiver le chiffrement OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Clé publique OpenPGP au format ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Enable or disable S/MIME encryption"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 certificate in PEM format"
          },
          "max_quota": {
            "type": "string",
            "description": "Quota de stockage maximal (par exemple, « 1 Go »)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Activer ou désactiver le répondeur automatique en cas d'absence"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Date de début de l'intervention pendant les vacances (ex. AAAA-MM-JJ)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Date de fin de la période de réponse pendant les vacances (ex. AAAA-MM-JJ)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Sujet en clair de réponse aux vacances"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Message en clair du répondeur de vacances"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Votre nouveau mot de passe personnalisé à utiliser pour l'alias"
          },
          "password": {
            "type": "string",
            "description": "Mot de passe existant pour l'alias : à modifier sans supprimer le stockage de la boîte aux lettres"
          },
          "is_override": {
            "type": "boolean",
            "description": "Remplacer le mot de passe existant et supprimer le stockage IMAP (à utiliser avec précaution)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail pour envoyer le mot de passe de l'alias et les instructions de configuration"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Nombre actuel d'e-mails envoyés"
          },
          "limit": {
            "type": "integer",
            "description": "Nombre maximal d'e-mails autorisés"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "Saved search definition stored per alias.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Display name for the saved search"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Search query string to reuse (e.g., \"from:billing\")"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "Map of actions to keybindings for keyboard shortcuts.",
        "additionalProperties": {
          "type": "string",
          "description": "Keybinding for the action (e.g., \"e\" for archive)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "Fields allowed when updating a label definition.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable label name shown in the UI"
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "Hex color used for UI rendering"
          },
          "hidden": {
            "type": "boolean",
            "description": "Hide the label in the UI while preserving the keyword"
          },
          "source": {
            "type": "string",
            "description": "Label origin for filtering and migrations",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifiant de membre"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail du membre"
          },
          "role": {
            "type": "string",
            "description": "Rôle des membres"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail invitée"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Nombre de pages de résultats à retourner. Si non spécifié, la valeur sera 1. Doit être un nombre supérieur ou égal à 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Nombre de résultats à afficher par page. Par défaut : 25. Doit être un nombre compris entre 1 et 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Activez la pagination avant le 1er novembre 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID de domaine",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Identifiant de membre",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Email ID or Message-ID. You can pass either the unique email ID (e.g., '683fbe4d5baef1b583a11e54') or the email's Message-ID header value (e.g., '1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net').",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Identifiant de contact",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID du calendrier",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID ou chemin du dossier",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID du message",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "IMAP keyword used as the label identifier",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Compte"
        ],
        "summary": "Récupérer le compte",
        "description": "Retrieve your account information.\n\n**Authentication:** This endpoint supports both API token authentication and alias credentials authentication.\n\n- **User Account (API Token):** When authenticated with your API token, this endpoint returns your user account information including plan details, email, and API token.\n\n- **Alias Account (Alias Credentials):** When authenticated with alias credentials (email and generated password), this endpoint returns alias/mailbox information including storage used/quota and a nested `settings` object (mail special folders, label settings, and alias defaults). This is useful for IMAP/POP3/CalDAV/CardDAV clients to check storage status and preferences.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Compte"
        ],
        "summary": "Mettre à jour le compte",
        "description": "Update your account information.\n\n- **User Account (API Token):** Update user profile fields.\n- **Alias Account (Alias Credentials):** Update alias-scoped settings using the nested `settings` object. Legacy flat fields are accepted for compatibility. The response matches `GET /v1/account`.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "Alias settings (alias authentication only)",
                    "properties": {
                      "mail": {
                        "type": "object",
                        "properties": {
                          "archive_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias mail archive folder"
                          },
                          "sent_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias mail sent folder"
                          },
                          "drafts_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias mail drafts folder"
                          }
                        }
                      },
                      "label_settings": {
                        "type": "object",
                        "description": "Alias label map keyed by keyword",
                        "additionalProperties": {
                          "$ref": "#/components/schemas/SettingsLabelUpdate"
                        }
                      },
                      "aliases": {
                        "type": "object",
                        "properties": {
                          "defaults": {
                            "type": "object",
                            "description": "Free-form alias defaults such as display_name or signature",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  },
                  "display_name": {
                    "type": "string",
                    "description": "Nom d'affichage"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Préférence locale"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Updated email address (user authentication only)"
                  },
                  "avatar_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Avatar URL (user authentication only)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Liste de contacts",
        "description": "Récupérez la liste de tous les contacts associés à l'alias authentifié. Ce point de terminaison prend en charge la pagination et renvoie les contacts au format CardDAV.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
[...]
