{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Vítejte v komplexní dokumentaci k API pro funkci Forward Email. Toto API vám umožňuje programově spravovat přesměrování e-mailů, domény, aliasy, odchozí e-maily a další.\n\n## Klíčové funkce\n* **Správa domén:** Vytvářejte, načítávejte, aktualizujte, mazejte a ověřujte domény.\n* **Správa aliasů:** Správa e-mailových aliasů, včetně vytváření, aktualizací a správy příjemců.\n* **Odchozí SMTP:** Odesílejte e-maily přes SMTP, spravujte limity a sledujte odeslané e-maily.\n* **Účet a protokoly:** Spravujte podrobnosti o svém účtu a stahujte protokoly aktivit.\n* **Zabezpečení:** Šifrujte záznamy TXT a spravujte členy/pozvánky domény.\n* **Brzy:** Plánují se funkce jako kontakty CardDAV, kalendáře CalDAV a správa zpráv/složek IMAP/POP3.\n\n## Ověřování\nVětšina koncových bodů vyžaduje ověřování pomocí vašeho **klíče API**. V záhlaví základního ověřování zadejte klíč API jako `uživatelské_jméno` a pole pro heslo nechte prázdné.\n\n```http\nAutorizace: Basic QVBJX1RPS0VOOg==\n```\n(Nahraďte `API_TOKEN` skutečným klíčem před kódováním Base64)\n\nKoncové body související s **aliasovými kontakty, kalendáři, zprávami a složkami** (aktuálně označené jako \"Již brzy\") budou pro základní ověřování používat vygenerované aliasové uživatelské jméno a heslo.\n\n## Chyby\nRozhraní API používá standardní stavové kódy HTTP k označení úspěchu nebo neúspěchu. Chybové odpovědi obsahují tělo JSON s polem `message` s podrobnostmi o chybě.\n\n| Stavový kód | Význam |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Špatný požadavek |\n| 401 | Neoprávněné |\n| 403 | Zakázáno |\n| 404 | Nenalezeno |\n| 429 | Příliš mnoho požadavků |\n| 500 | Interní chyba serveru|\n| 501 | Není implementováno |\n| 502 | Špatná brána |\n| 503 | Služba není dostupná |\n| 504 | Časový limit brány |\n\n*Pokud narazíte na chybu `5xx`, kontaktujte prosím [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalizace\nOdpovědi API jsou překládány na základě zjištěného národního prostředí uživatele nebo záhlaví `Accept-Language`. Je podporováno více než 25 jazyků.\n\n## Stránkování\nSeznamy vracející koncové body podporují stránkování pomocí parametrů dotazu.\n\n| Parametr | Typ | Volitelné | Popis | Výchozí | Omezení |\n|--------------|----------|-----------|--------------------------------------------------------------------------------------|----------|---------------------|\n| `page` | Integer | Ano | Číslo stránky, která se má načíst. | 1 | `>= 1` |\n| `limit` | Integer | Ano | Počet výsledků na stránku. | 10 | `>= 1`, `<= 50` |\n| `pagination` | Boolean | Ano | Přihlásit se k stránkování (vyžadováno před 1. listopadem 2024 pro některé koncové body). | false | |\n\n**Záhlaví stránkování:**\n* `X-Page-Count`: Celkový počet stránek.\n* `X-Page-Current`: Aktuální číslo stránky.\n* `X-Page-Size`: Počet položek na aktuální stránce.\n\n* `X-Item-Count`: Celkový počet položek na všech stránkách.\n* `Link`: Navigační odkazy (předchozí, další, první, poslední).\n\n**Příklad:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Doporučené knihovny\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Spravováno službou Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Server API pro přeposílání e-mailů"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nPoužijte svůj klíč API jako **uživatelské jméno** pro základní ověřování. Pole pro heslo nechte prázdné.\n\n**Příklad:**\nPokud je váš klíč API `VÁŠ_KLÍČ_API`, hodnota kódovaná v kódu Base64 pro záhlaví `Authorization` by byla `echo -n \"VÁŠ_KLÍČ_API:\" | base64`.\n\n```http\nAutorizace: Základní WU9VUl9BUELfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nPro základní ověřování použijte vygenerované **alias uživatelské jméno a heslo**. Toto platí pro koncové body v rámci:\n* Alias kontaktů (CardDAV)\n* Alias kalendářů (CalDAV)\n* Alias zpráv (IMAP/POP3)\n* Alias složek (IMAP/POP3)\n\n*(Poznámka: Tyto funkce jsou aktuálně označeny jako „Brzy k dispozici“)*\n\n**Příklad:**\nPokud je alias uživatelské jméno `alias@domain.com` a heslo `GENERATED_PASSWORD`, hodnota kódovaná Base64 by byla `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAutorizace: Základní YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Chybová zpráva"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "E-mailová adresa odesílatele (musí existovat jako alias domény)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Seznam oddělený čárkami nebo pole příjemců pro záhlaví „Komu“."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Seznam oddělený čárkami nebo pole příjemců pro záhlaví „Kopie“."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Seznam oddělený čárkami nebo pole příjemců pro záhlaví „Skrytá kopie“."
          },
          "subject": {
            "type": "string",
            "description": "Předmět e-mailu."
          },
          "text": {
            "type": "string",
            "description": "Verze zprávy v prostém textu."
          },
          "html": {
            "type": "string",
            "description": "HTML verze zprávy."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Pole objektů příloh (viz společná pole Nodemaileru)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "E-mailová adresa pro záhlaví „Odesílatel“."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "E-mailová adresa pro záhlaví „Odpovědět na“."
          },
          "inReplyTo": {
            "type": "string",
            "description": "ID zprávy, na kterou je zpráva odpovědí."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Seznam oddělený mezerami nebo pole ID zpráv."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Pokud je hodnota true, převede data: obrázky v obsahu HTML na vložené přílohy."
          },
          "watchHtml": {
            "type": "string",
            "description": "HTML verze zprávy specifická pro Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "HTML verze zprávy specifická pro AMP4EMAIL."
          },
          "icalEvent": {
            "type": "object",
            "description": "Událost iCalendar jako alternativní obsah zprávy."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Pole alternativního obsahu zpráv."
          },
          "encoding": {
            "type": "string",
            "description": "Kódování textu a řetězců HTML (např. „utf-8“, „hex“, „base64“)."
          },
          "raw": {
            "type": "string",
            "description": "Vlastní generovaná zpráva ve formátu RFC822 (namísto použití generování Nodemailerem)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Pro textové hodnoty je vynuceno použití kódování."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Úroveň priority pro e-mail."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objekt nebo pole dalších polí záhlaví."
          },
          "messageId": {
            "type": "string",
            "description": "Volitelné ID zprávy pro záhlaví „ID zprávy“."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Volitelné datum v záhlaví. Nesmí být více než 30 dní v budoucnosti."
          },
          "list": {
            "type": "object",
            "description": "Volitelný objekt záhlaví List-*."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Plně kvalifikovaný název domény (FQDN) nebo IP adresa"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Přiřadit ke stejnému týmu z jiné domény; může to být ID domény nebo FQDN. Pro explicitní zakázání použijte „none“."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Typ tarifu (výchozí nastavení je „zdarma“ nebo aktuální placený tarif uživatele)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Seznam e-mailových adres oddělených čárkou, mezerou nebo znakem nového řádku"
              }
            ],
            "description": "Vytvořit výchozí alias pro všechny adresy (výchozí hodnota je true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Povolit ochranu proti obsahu pro dospělé ve Spam Scanneru"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Povolit ochranu proti phishingu pomocí skeneru spamu"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Povolit ochranu spustitelného souboru skeneru spamu"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Povolit antivirovou ochranu skeneru spamu"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vyžadovat, aby příjemci aliasu klikli na odkaz pro ověření e-mailu"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorovat kontrolu záznamů MX pro pokročilá nastavení směrování pošty"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Počet dní pro uchovávání odchozích protokolů SMTP (0–30, výchozí: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL adresa webhooku pro příjem událostí bounce"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Zakázat webhook pro odražení"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Maximální kvóta úložiště na alias (např. „1 GB“)"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Vlastní port pro konfiguraci pro přesměrování SMTP (výchozí je '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Zda povolit ochranu proti obsahu pro dospělé pomocí skeneru spamu v této doméně"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Zda povolit v této doméně ochranu proti phishingu pomocí skeneru spamu"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Zda povolit ochranu spustitelného souboru Spam Scanner v této doméně"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Zda povolit antivirovou ochranu Spam Scanner v této doméně"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Globální výchozí nastavení domény pro určení, zda se má od příjemců aliasů vyžadovat kliknutí na odkaz pro ověření e-mailu, aby od nich mohly odeslat e-maily."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Zda ignorovat kontrolu záznamů MX v doméně pro ověření (zejména pro pokročilá nastavení směrování MX)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Počet dní pro ukládání odchozích e-mailů SMTP (0 = okamžitě smazat)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL adresa webhooku pro příjem oznámení o nedoručitelnosti nebo hodnota false pro zakázání"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Kvóta úložiště na alias (např. „1 GB“, analyzováno na bajty)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias (pokud není zadán nebo je prázdný, vygeneruje se náhodný alias)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Řetězec platných e-mailových adres, plně kvalifikovaných doménových jmen, IP adres nebo URL webhooků oddělený zalomením řádku/mezerou/čpárkou"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Pole platných příjemců"
              }
            ],
            "description": "Seznam příjemců. Pokud není uveden nebo je prázdný, výchozím nastavením je e-mail žadatele."
          },
          "description": {
            "type": "string",
            "description": "Popis aliasu"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Řetězec popisků oddělený zalomením řádku/mezerou/čpárkou"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Pole štítků"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Požadovat, aby příjemci klikli na ověřovací odkaz (výchozí nastavení je doména)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Zda povolit nebo zakázat tento alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Kód chyby, pokud je alias zakázán. Výchozí hodnota je 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Povolit nebo zakázat úložiště IMAP pro tento alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Povolit nebo zakázat šifrování OpenPGP pro tento alias"
          },
          "public_key": {
            "type": "string",
            "description": "Veřejný klíč OpenPGP ve formátu ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximální kvóta úložiště (např. „1 GB“)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Povolení nebo zakázání odpovědi na nepřítomnost"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Datum zahájení (např. „RRRR-MM-DD“) pro odpověď v nepřítomnosti"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Datum ukončení (např. „RRRR-MM-DD“) pro odpověď v nepřítomnosti"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Předmět pro odpověď v nepřítomnosti v prostém textu"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Zpráva v prostém textu pro odpověď v nepřítomnosti"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Řetězec platných e-mailových adres, plně kvalifikovaných doménových jmen, IP adres nebo URL webhooků oddělený zalomením řádku/mezerou/čpárkou"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Pole platných příjemců"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Popis aliasu"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Řetězec popisků oddělený zalomením řádku/mezerou/čpárkou"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Pole štítků"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Požadovat, aby příjemci klikli na ověřovací odkaz (výchozí nastavení je doména)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Povolit nebo zakázat alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Kód chyby, který se má použít, pokud je alias zakázán (výchozí hodnota je 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Povolení nebo zakázání úložiště IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Povolení nebo zakázání šifrování OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Veřejný klíč OpenPGP ve formátu ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximální kvóta úložiště (např. „1 GB“)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Povolení nebo zakázání odpovědi na nepřítomnost"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Datum zahájení automatické odpovědi v nepřítomnosti (např. RRRR-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Datum ukončení automatické odpovědi na dovolenou (např. RRRR-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Předmět odpovědi na dovolenou v prostém textu"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Zpráva v prostém textu odpovědi na dovolenou"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Vaše nové vlastní heslo, které se použije pro alias"
          },
          "password": {
            "type": "string",
            "description": "Stávající heslo pro alias pro jeho změnu bez smazání úložiště poštovní schránky"
          },
          "is_override": {
            "type": "boolean",
            "description": "Přepsat stávající heslo a smazat úložiště IMAP (používejte s opatrností)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-mailová adresa pro zaslání hesla k aliasu a pokynů k nastavení"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Aktuální počet odeslaných e-mailů"
          },
          "limit": {
            "type": "integer",
            "description": "Maximální povolený počet e-mailů"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID člena"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "E-mailová adresa člena"
          },
          "role": {
            "type": "string",
            "description": "Role člena"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Pozvaná e-mailová adresa"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Stránka s výsledky, které se mají vrátit. Pokud není zadána, hodnota bude 1. Musí se jednat o číslo větší nebo rovno 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Počet výsledků, které se mají vrátit na stránku. Pokud není zadán, je výchozí hodnota 10. Musí se jednat o číslo větší nebo rovno 1 a menší nebo rovno 50.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Přihlaste se k stránkování do 1. listopadu 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID domény",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Aliasy ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID člena",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID e-mailu",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "Vytvořit účet",
        "description": "Vytvořte nový uživatelský účet",
        "tags": [
          "Účet"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mailová adresa"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Heslo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "Obnovit účet",
        "description": "Načíst informace o účtu aktuálního uživatele",
        "tags": [
          "Účet"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Aktualizovat účet",
        "description": "Aktualizovat informace o účtu aktuálního uživatele",
        "tags": [
          "Účet"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mailová adresa"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "Křestní jméno"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "Příjmení"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Odkaz na obrázek avatara"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "Stáhnout protokoly",
        "description": "**Stahování protokolů**\n\nPopis: Naše API vám programově umožňuje stahovat protokoly pro váš účet. Odesláním požadavku do tohoto koncového bodu zpracujete všechny protokoly pro váš účet a po dokončení vám je odešlete e-mailem jako přílohu (komprimovaný soubor CSV pomocí Gzip).\n\nTo vám umožňuje vytvářet úlohy na pozadí pomocí úlohy Cron nebo pomocí softwaru Bree pro plánování úloh Node.js k přijímání protokolů, kdykoli si to přejete. Upozorňujeme, že tento koncový bod je omezen na „10“ požadavků denně.\n\nPříloha je malým písmenem ve tvaru „email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz“ a samotný e-mail obsahuje stručné shrnutí načtených protokolů.",
        "tags": [
          "Protokoly"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Filtrovat protokoly podle plně kvalifikované domény („FQDN“). Pokud není zadána, budou načteny všechny protokoly ze všech domén.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Vyhledávání protokolů podle e-mailu, domény, aliasu, IP adresy nebo data (formát M/R, M/D/RR, M-D, M-D-RR nebo M.D.RR).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "Vyhledávejte protokoly podle konkrétní kategorie nedoručených zpráv (např. „seznam blokovaných adres“).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "Vyhledávání protokolů podle konkrétního kódu chybové odpovědi (např. 421 nebo 550).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Seznam odchozích SMTP e-mailů",
        "description": "**Vypsat odchozí e-maily SMTP**\n\nUpozorňujeme, že tento koncový bod nevrací hodnoty vlastností pro `message`, `headers` ani `rejectedErrors` e-mailu.\n\nChcete-li tyto vlastnosti a jejich hodnoty vrátit, použijte koncový bod [Retrieve email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) s ID e-mailu.",
        "tags": [
          "E-maily"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Vyhledávání e-mailů podle metadat.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Vyhledávání e-mailů podle názvu domény.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Seřadit podle konkrétního pole (předpona s jednou pomlčkou – pro řazení v opačném směru než dané pole). Pokud není nastaveno, výchozí hodnota je created_at.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pro více informací viz Stránkování.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pro více informací viz Stránkování.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Vytvořit odchozí SMTP e-mail",
        "description": "Naše API pro vytváření e-mailů je inspirováno a využívá konfiguraci možností zpráv Nodemaileru. Pro všechny parametry těla zprávy se prosím řiďte pokyny v [konfiguraci zpráv Nodemaileru](https://nodemailer.com/message/) níže.\n\nUpozorňujeme, že s výjimkou parametrů `envelope` a `dkim` (protože je nastavujeme automaticky) podporujeme všechny možnosti Nodemaileru. Z bezpečnostních důvodů automaticky nastavujeme možnosti `disableFileAccess` a `disableUrlAccess` na `true`.\n\nBuď byste měli předat jednu možnost `raw` s vaším nezpracovaným celým e-mailem včetně záhlaví, nebo níže předat jednotlivé možnosti parametrů těla.\n\nTento koncový bod API automaticky zakóduje emoji, pokud se nacházejí v záhlavích (např. předmět `Subject: 🤓 Hello` se automaticky převede na `Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello`). Naším cílem bylo vytvořit e-mailové API, které je extrémně uživatelsky přívětivé a odolné vůči fiktivním prvkům.",
        "tags": [
          "E-maily"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "Získat limit odchozích e-mailů SMTP",
        "description": "Toto je jednoduchý koncový bod, který vrací objekt JSON obsahující hodnoty `count` a `limit` pro počet denních odchozích zpráv SMTP pro každý účet.",
        "tags": [
          "E-maily"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "Načíst odchozí e-maily SMTP",
        "description": "Načíst konkrétní odchozí SMTP e-mail.",
        "tags": [
          "E-maily"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Smazat odchozí e-maily SMTP",
        "description": "Smazání e-mailu nastaví stav na „odmítnuto“ (a následně jej nezpracuje ve frontě) pouze tehdy, když je aktuální stav „čeká na vyřízení“, „zařazeno do fronty“ nebo „odloženo“. E-maily můžeme automaticky smazat po 30 dnech od jejich vytvoření a/nebo odeslání – proto byste si měli uchovávat kopii odchozích SMTP e-mailů ve svém klientovi, databázi nebo aplikaci. V případě potřeby můžete ve své databázi odkazovat na hodnotu ID našeho e-mailu – tato hodnota je vrácena z koncových bodů [Vytvořit e-mail](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email) i [Načíst e-mail](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email).",
        "tags": [
          "E-maily"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "Seznam domén",
        "description": "> [!NOTE]\n>Od 1. listopadu 2024 budou koncové body API pro domény List a aliasy domén List standardně zobrazovat maximálně `1000` výsledků na stránku. Pokud chcete toto chování aktivovat dříve, můžete předat `?paginate=true` jako další parametr řetězce dotazu do adresy URL pro dotaz koncového bodu. Další informace naleznete v části Stránkování.",
        "tags": [
          "Domény"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Vyhledávání domén podle metadat.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Vyhledávání domén podle názvu domény.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Seřadit podle konkrétního pole (předpona s jednou pomlčkou – pro řazení v opačném směru než dané pole). Pokud není nastaveno, výchozí hodnota je created_at.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pro více informací viz Stránkování.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pro více informací viz Stránkování.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Vytvořit doménu",
        "description": "Vytvoří v systému novou doménu. Tento koncový bod umožňuje zaregistrovat plně kvalifikovaný název domény (FQDN) nebo IP adresu pro použití s platformou.\n\nMezi volitelné možnosti konfigurace patří přiřazení domény existujícímu týmu, nastavení typu plánu (např. bezplatný, rozšířená ochrana nebo týmový) a konfigurace pokročilých ochranných opatření, jako je filtrování spamu, antivirová kontrola a ověřování příjemců. Můžete také nakonfigurovat, zda má být ve výchozím nastavení vytvořen alias typu catch-all, nastavit vlastní URL adresu webhooku pro nedoručení e-mailů pro selhání SMTP a definovat limity úložiště pro aliasy e-mailů v této doméně. Tento koncový bod provádí ověřování a zřizování na úrovni domény. Pokud je povolena možnost `ignore_mx_check`, ověřování záznamů MX se přeskočí (doporučeno pouze pro pokročilá nastavení směrování). Odpověď bude obsahovat úplné podrobnosti o vytvořeném objektu domény, včetně záznamů DNS potřebných pro konfiguraci.",
        "tags": [
          "Domény"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Načíst doménu",
        "description": "Načíst konkrétní doménu",
        "tags": [
          "Domény"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Aktualizovat doménu",
        "description": "Aktualizujte konkrétní doménu.",
        "tags": [
          "Domény"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Smazat doménu",
        "description": "Smazat konkrétní doménu.",
        "tags": [
          "Domény"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Ověření záznamů domény",
        "description": "Ověřte DNS záznamy pro konkrétní doménu.",
        "tags": [
          "Domény"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "Ověření SMTP záznamů domény",
        "description": "Ověřuje záznamy DNS související s protokolem SMTP pro zadanou doménu.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "Domény"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Plně kvalifikovaný název domény (FQDN) k ověření",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "Vytvořte heslo pro celou doménu",
        "description": "Vytvoří heslo pro celou doménu. Pokud heslo není zadáno, bude vygenerováno bezpečné náhodné heslo.",
        "tags": [
          "Domény"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Název domény, pro který se má vytvořit univerzální heslo"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "Vaše vlastní nové heslo, které se použije jako univerzální heslo pro celou doménu. Pro vygenerování silného hesla ponechte pole prázdné."
                  },
                  "description": {
                    "type": "string",
                    "description": "Popis pouze pro účely organizace."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Vypsat hesla pro celou doménu",
        "description": "Vrátí seznam hesel pro celou doménu, která jsou aktuálně nakonfigurována pro zadanou doménu.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "Domény"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Plně kvalifikovaný název domény (FQDN), pro který se mají zobrazit hesla pro všechny typy uživatelů",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "Odebrat heslo pro celou doménu",
        "description": "Odstraní heslo pro celou doménu pomocí zadaného ID tokenu.",
        "tags": [
          "Domény"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Název domény spojený s univerzálním heslem"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID tokenu pro heslo pro celou doménu, které se má odstranit."
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Přijmout pozvánku k doméně",
        "description": "Přijměte pozvánku do domény.",
        "tags": [
          "Pozvánky"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Vytvořit pozvánku do domény",
        "description": ">[!IMPORTANT]\n>Pokud je pozvaný uživatel již přijatým členem jakékoli jiné domény, jejímž členem je i administrátor, který ho zve, pak se pozvánka automaticky přijme a e-mail se neodešle.",
        "tags": [
          "Pozvánky"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mailová adresa pro pozvání do seznamu členů domény"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "Skupina, do které se má uživatel přidat do domény (může být `\"admin\"` nebo `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Odebrat pozvánku z domény",
        "description": "Odebrat pozvánku do domény.",
        "tags": [
          "Pozvánky"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mailová adresa, kterou chcete odebrat ze seznamu členů domény"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "Aktualizovat člena domény",
        "description": "Aktualizace člena domény.",
        "tags": [
          "Členové"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "Skupina, u které se má uživatele aktualizovat na členství v doméně (může být `\"admin\"` nebo `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Odebrat člena domény",
        "description": "Odebrání člena domény.",
        "tags": [
          "Členové"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "Generování hesla pro alias",
        "description": "Vygenerujte heslo pro alias. Pokud není zadána hodnota `emailed_instructions`, odpověď bude obsahovat vygenerované uživatelské jméno a heslo.",
        "tags": [
          "Aliasy"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Plně kvalifikovaný název domény (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Jedinečný identifikátor aliasu"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Seznam aliasů domén",
        "description": ">[!NOTE]\n>Od 1. listopadu 2024 budou koncové body API pro `Domény seznamu` a `Aliasy domén seznamu` standardně nastaveny na maximálně `1000` výsledků na stránku. Pokud chcete toto chování aktivovat dříve, můžete předat `?paginate=true` jako další parametr řetězce dotazu do adresy URL pro dotaz koncového bodu. Další informace naleznete v části Stránkování.",
        "tags": [
          "Aliasy"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Vyhledávání aliasů v doméně podle jména, štítku nebo příjemce (podporováno s RegExp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Hledání aliasů v doméně podle názvu (podporováno s RegExp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Hledání aliasů v doméně podle příjemce (podporováno s RegExp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Seřadit podle konkrétního pole (předpona s jednou pomlčkou – pro obrácené řazení). Výchozí nastavení je created_at.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Vytvořit nový alias domény",
        "description": "Vytvořte nový alias pro konkrétní doménu.",
        "tags": [
          "Aliasy"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "Načíst alias domény",
        "description": "Načíst konkrétní alias pro doménu.",
        "tags": [
          "Aliasy"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Aktualizovat alias domény",
        "description": "Aktualizujte konkrétní alias pro doménu.",
        "tags": [
          "Aliasy"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Smazat alias domény",
        "description": "Smazat konkrétní alias pro doménu.",
        "tags": [
          "Aliasy"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "Šifrovat TXT záznam",
        "description": "Umožňujeme vám šifrovat záznamy i v bezplatném tarifu bezplatně. Soukromí by nemělo být funkcí, ale mělo by být neodmyslitelně zabudováno do všech aspektů produktu. Na základě důrazné žádosti v [diskusi o Průvodcích ochranou osobních údajů](https://discuss.privacyguides.net/t/forward-email-email-provider/13370) a v našich [problémech na GitHubu](https://github.com/forwardemail/forwardemail.net/issues/254) jsme toto přidali.",
        "tags": [
          "Šifrovat"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "Jakýkoli platný záznam TXT v prostém textu pro přeposílaní e-mailu"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "Seznam kontaktů",
        "description": "Zobrazit všechny kontakty (CardDAV). Tento koncový bod bude brzy k dispozici.",
        "tags": [
          "Aliasové kontakty"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Vytvořit kontakt",
        "description": "Vytvořte nový kontakt (CardDAV). Tento koncový bod bude brzy k dispozici.",
        "tags": [
          "Aliasové kontakty"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID kontaktu",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Načíst kontakt",
        "description": "Načíst konkrétní kontakt (CardDAV). Tento koncový bod bude brzy k dispozici.",
        "tags": [
          "Aliasové kontakty"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Aktualizovat kontakt",
        "description": "Aktualizovat konkrétní kontakt (CardDAV). Tento koncový bod bude brzy k dispozici.",
        "tags": [
          "Aliasové kontakty"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Smazat kontakt",
        "description": "Smazat konkrétní kontakt (CardDAV). Tento koncový bod bude brzy k dispozici.",
        "tags": [
          "Aliasové kontakty"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
[...]
