{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Bienvenido a la documentación completa de la API para el reenvío de correo electrónico. Esta API le permite administrar el reenvío de correo electrónico, dominios, alias, correos salientes y más mediante programación.\n\n## Características principales\n* **Administración de dominios:** Cree, recupere, actualice, elimine y verifique dominios.\n* **Administración de alias:** Administre alias de correo electrónico, incluyendo la creación, actualización y administración de destinatarios.\n* **SMTP saliente:** Envíe correos electrónicos mediante SMTP, administre límites y realice un seguimiento de los correos enviados.\n* **Cuenta y registros:** Administre los detalles de su cuenta y descargue registros de actividad.\n* **Seguridad:** Cifre registros TXT y administre miembros/invitaciones del dominio.\n* **Contactos CardDAV:** Operaciones CRUD completas para la administración de contactos con compatibilidad con vCard.\n* **Calendarios CalDAV:** Administración completa de calendarios con compatibilidad con zonas horarias y colores. * **Mensajes IMAP/POP3:** Gestión integral de mensajes con funciones de búsqueda avanzada.\n* **Carpetas IMAP/POP3:** Gestión completa de carpetas, incluyendo creación, cambio de nombre y eliminación.\n\n## Autenticación\nLa mayoría de los endpoints requieren autenticación mediante su **Clave API**. Proporcione la Clave API como `nombre de usuario` en el encabezado de Autenticación Básica, dejando la contraseña en blanco.\n\n```http\nAutorización: Básica QVBJX1RPS0VOOg==\n```\n(Reemplace `API_TOKEN` con su clave real antes de la codificación Base64)\n\nLos endpoints relacionados con **Contactos, Calendarios, Mensajes y Carpetas de Alias** requieren un nombre de usuario y una contraseña de alias generados para la Autenticación Básica.\n\n## Errores\nLa API utiliza códigos de estado HTTP estándar para indicar éxito o fracaso. Las respuestas de error incluyen un cuerpo JSON con un campo `mensaje` que detalla el error.\n\n| Código de Estado | Significado |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Solicitud incorrecta |\n| 401 | No autorizado |\n| 403 | Prohibido |\n| 404 | No encontrado |\n| 409 | Conflicto |\n| 412 | Error de precondición |\n| 429 | Demasiadas solicitudes |\n| 500 | Error interno del servidor |\n| 501 | No implementado |\n| 502 | Puerta de enlace incorrecta |\n| 503 | Servicio no disponible |\n| 504 | Tiempo de espera de la puerta de enlace agotado |\n\n*Si encuentra un error «5xx», póngase en contacto con [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Localización\nLas respuestas de la API se traducen según la configuración regional detectada por el usuario o el encabezado «Accept-Language». Se admiten más de 25 idiomas.\n\n## Paginación\nLos endpoints que devuelven listas admiten la paginación mediante parámetros de consulta.\n\n| Parámetro | Tipo | Opcional | Descripción | Predeterminado | Restricciones |\n|---------------|---------|----------|-------------------------------------------------------------------------------|---------|-------------------|\n| `page` | Entero | Sí | Número de página a recuperar. | 1 | `>= 1` |\n| `limit` | Entero | Sí | Número de resultados por página. | 25 | `>= 1`, `<= 100` |\n| `pagination` | Booleano | Sí | Activar la paginación (obligatorio antes del 1 de noviembre de 2024 para algunos endpoints). | false | |\n\n**Encabezados de paginación:**\n* `X-Page-Count`: Número total de páginas.\n* `X-Page-Current`: Número de página actual.\n* `X-Page-Size`: Número de elementos en la página actual.\n* `X-Item-Count`: Número total de elementos en todas las páginas.\n* `Link`: Enlaces de navegación (anterior, siguiente, primero, último).\n\n**Ejemplo:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Bibliotecas recomendadas\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Mantenido por Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Servidor API de reenvío de correo electrónico"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Usa tu clave API como **nombre de usuario** para la autenticación básica. Deja el campo de contraseña vacío.\n\n**Ejemplo:**\nSi tu clave API es `YOUR_API_KEY`, el valor codificado en Base64 para el encabezado `Authorization` sería `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nUse the generated **alias username and password** for Basic Authentication. This applies to endpoints under:\n*   Alias Contacts (CardDAV)\n*   Alias Calendars (CalDAV)\n*   Alias Messages (IMAP/POP3)\n*   Alias Folders (IMAP/POP3)\n*   Alias Sieve Scripts\n\n**Example:**\nIf the alias username is `alias@domain.com` and password is `GENERATED_PASSWORD`, the Base64 encoded value would be `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "SieveScript": {
        "type": "object",
        "required": [
          "id",
          "name",
          "content",
          "alias"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique script identifier"
          },
          "name": {
            "type": "string",
            "description": "Script name"
          },
          "content": {
            "type": "string",
            "description": "Sieve script content"
          },
          "alias": {
            "type": "string",
            "description": "Alias ID this script belongs to"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the script is active",
            "default": false
          },
          "priority": {
            "type": "integer",
            "description": "Script priority (lower = higher priority)",
            "default": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de creación"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de la última actualización"
          },
          "object": {
            "type": "string",
            "example": "sieve_script"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Mensaje de error"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "Configuración de idioma preferida del usuario que anula la detección automática"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de alias"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Tipo de objeto"
          },
          "name": {
            "type": "string",
            "description": "Nombre de alias (parte local del correo electrónico)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico de alias completa"
          },
          "domain_id": {
            "type": "string",
            "description": "ID de dominio"
          },
          "domain_name": {
            "type": "string",
            "description": "Nombre de dominio"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Almacenamiento utilizado en bytes para este alias/buzón"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Cuota de almacenamiento en bytes para este alias/buzón"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Si IMAP está habilitado para este alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Si el cifrado PGP está habilitado"
          },
          "public_key": {
            "type": "string",
            "description": "Clave pública PGP si está disponible"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Si el cifrado S/MIME está habilitado"
          },
          "smime_certificate": {
            "type": "string",
            "description": "Certificado S/MIME X.509 en formato PEM"
          },
          "locale": {
            "type": "string",
            "description": "Preferencias de configuración regional"
          },
          "settings": {
            "type": "object",
            "description": "Configuración de alias",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Carpeta de archivo de correo de alias"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Carpeta de correo enviado de alias"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Carpeta de borradores de correo de Alias"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "Mapa de etiquetas de alias codificado por palabra clave",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "Valores predeterminados de alias de formato libre, como display_name o signature.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de creación"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de la última actualización"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de contacto (contact_id de CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "UID de contacto"
          },
          "full_name": {
            "type": "string",
            "description": "Nombre completo del contacto"
          },
          "content": {
            "type": "string",
            "description": "Contenido de vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag para control de versiones"
          },
          "is_group": {
            "type": "boolean",
            "description": "Si el contacto es un grupo"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matriz de direcciones de correo electrónico"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matriz de números de teléfono"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Contenido de vCard (si no se proporciona, se generará a partir de otros campos)"
          },
          "full_name": {
            "type": "string",
            "description": "Nombre completo del contacto"
          },
          "contact_id": {
            "type": "string",
            "description": "ID de contacto personalizado (si no se proporciona, se generará automáticamente)"
          },
          "uid": {
            "type": "string",
            "description": "UID de contacto (si no se proporciona, se generará automáticamente)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matriz de direcciones de correo electrónico"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matriz de números de teléfono"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matriz de números de teléfono (alias para phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Matriz de direcciones"
          },
          "is_group": {
            "type": "boolean",
            "description": "Si el contacto es un grupo"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Contenido de vCard"
          },
          "full_name": {
            "type": "string",
            "description": "Nombre completo del contacto"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matriz de direcciones de correo electrónico"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matriz de números de teléfono"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matriz de números de teléfono (alias para phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Matriz de direcciones"
          },
          "is_group": {
            "type": "boolean",
            "description": "Si el contacto es un grupo"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de calendario (calendarId de CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Nombre del calendario"
          },
          "description": {
            "type": "string",
            "description": "Descripción del calendario"
          },
          "color": {
            "type": "string",
            "description": "Color del calendario (formato hexadecimal)"
          },
          "timezone": {
            "type": "string",
            "description": "Zona horaria del calendario"
          },
          "order": {
            "type": "integer",
            "description": "Orden de visualización del calendario"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nombre del calendario"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID de calendario personalizado (si no se proporciona, se generará automáticamente)"
          },
          "description": {
            "type": "string",
            "description": "Descripción del calendario"
          },
          "color": {
            "type": "string",
            "description": "Color del calendario (formato hexadecimal, si no se proporciona, se generará automáticamente)"
          },
          "timezone": {
            "type": "string",
            "description": "Zona horaria del calendario (predeterminada: la zona horaria del usuario o UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Orden de visualización del calendario (predeterminado 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nombre del calendario"
          },
          "description": {
            "type": "string",
            "description": "Descripción del calendario"
          },
          "color": {
            "type": "string",
            "description": "Color del calendario (formato hexadecimal)"
          },
          "timezone": {
            "type": "string",
            "description": "Zona horaria del calendario"
          },
          "order": {
            "type": "integer",
            "description": "Orden de visualización del calendario"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de evento del calendario (eventId de CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID del calendario al que pertenece este evento"
          },
          "ical": {
            "type": "string",
            "description": "Datos de iCalendar (RFC 5545) para el evento"
          },
          "summary": {
            "type": "string",
            "description": "Título/resumen del evento (extraído de datos de iCal)"
          },
          "description": {
            "type": "string",
            "description": "Descripción del evento (extraída de datos de iCal)"
          },
          "location": {
            "type": "string",
            "description": "Ubicación del evento (extraída de datos de iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha y hora de inicio del evento (extraídas de los datos de iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha y hora de finalización del evento (extraídas de los datos de iCal)"
          },
          "uid": {
            "type": "string",
            "description": "Identificador único de los datos de iCal"
          },
          "status": {
            "type": "string",
            "description": "Estado del evento (extraído de los datos de iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "Organizador de eventos (extraído de datos de iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Marca de tiempo de eliminación suave"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ID del calendario al que agregar el evento"
          },
          "event_id": {
            "type": "string",
            "description": "ID de evento personalizado (si no se proporciona, se generará automáticamente)"
          },
          "ical": {
            "type": "string",
            "description": "Datos de iCalendar (RFC 5545) del evento. Deben tener un formato iCal válido."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Mover evento a un calendario diferente"
          },
          "ical": {
            "type": "string",
            "description": "Datos actualizados de iCalendar (RFC 5545) para el evento"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de carpeta"
          },
          "path": {
            "type": "string",
            "description": "Ruta completa de la carpeta"
          },
          "name": {
            "type": "string",
            "description": "Nombre de la carpeta (última parte de la ruta)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Ruta de la carpeta principal"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Validez del UID de IMAP"
          },
          "uid_next": {
            "type": "integer",
            "description": "Siguiente valor de UID"
          },
          "modify_index": {
            "type": "integer",
            "description": "Índice de modificación"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Si la carpeta está suscrita"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Banderas de carpeta"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Período de retención de mensajes"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Designación de uso especial"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Ruta/nombre de la carpeta"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Nueva ruta/nombre de carpeta"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID del mensaje"
          },
          "root_id": {
            "type": "string",
            "description": "ID de mensaje raíz para subprocesos"
          },
          "folder_id": {
            "type": "string",
            "description": "ID de la carpeta que contiene el mensaje"
          },
          "folder_path": {
            "type": "string",
            "description": "Ruta de la carpeta que contiene el mensaje"
          },
          "thread_id": {
            "type": "string",
            "description": "ID de hilo para agrupar conversaciones"
          },
          "header_message_id": {
            "type": "string",
            "description": "Valor del encabezado Message-ID"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Si el mensaje no está leído"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Si el mensaje está marcado"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Si el mensaje se elimina"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Si el mensaje es un borrador"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Si el mensaje es basura/spam"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Si el mensaje se copia"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Si el mensaje se puede buscar"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Si el mensaje ha expirado"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Si el mensaje tiene archivos adjuntos"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Fecha de retención del mensaje"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha interna (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de los encabezados de los mensajes"
          },
          "subject": {
            "type": "string",
            "description": "Asunto del mensaje"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Banderas IMAP"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Etiquetas definidas por el usuario (minúsculas, máximo 10)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "Tamaño del mensaje en bytes"
          },
          "uid": {
            "type": "integer",
            "description": "UID de IMAP"
          },
          "modseq": {
            "type": "integer",
            "description": "Secuencia de modificación"
          },
          "transaction": {
            "type": "string",
            "description": "Tipo de transacción"
          },
          "remote_address": {
            "type": "string",
            "description": "Dirección IP remota"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de creación del mensaje"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Marca de tiempo de la última actualización del mensaje"
          },
          "nodemailer": {
            "type": "object",
            "description": "Objeto de mensaje analizado (incluido de forma predeterminada, configure ?nodemailer=false para excluirlo)"
          },
          "raw": {
            "type": "string",
            "description": "Contenido del mensaje sin procesar (incluido de forma predeterminada, configure ?raw=false para excluirlo)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico del remitente"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Direcciones de correo electrónico de los destinatarios"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Direcciones de correo electrónico de los destinatarios de CC"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Direcciones de correo electrónico de destinatarios en CCO"
          },
          "subject": {
            "type": "string",
            "description": "Asunto del mensaje"
          },
          "text": {
            "type": "string",
            "description": "Contenido de texto sin formato"
          },
          "html": {
            "type": "string",
            "description": "Contenido HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Archivos adjuntos de mensajes (formato Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "Carpeta de destino (predeterminada en BANDEJA DE ENTRADA)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Banderas IMAP para configurar en el mensaje"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Etiquetas definidas por el usuario para el mensaje. Pueden ser una sola cadena de etiquetas o una matriz de etiquetas. Las etiquetas deben comenzar con una letra, un dígito, una barra invertida o un signo de dólar, y pueden contener caracteres de palabra, puntos y guiones. Máximo de 10 etiquetas por mensaje. Las etiquetas no distinguen entre mayúsculas y minúsculas y se almacenan en minúsculas.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Banderas IMAP para configurar en el mensaje"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Etiquetas definidas por el usuario para el mensaje. Pueden ser una sola cadena de etiquetas o una matriz de etiquetas. Las etiquetas deben comenzar con una letra, un dígito, una barra invertida o un signo de dólar, y pueden contener caracteres de palabra, puntos y guiones. Máximo de 10 etiquetas por mensaje. Las etiquetas no distinguen entre mayúsculas y minúsculas y se almacenan en minúsculas.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "Mover el mensaje a esta carpeta"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "Estado actual del correo electrónico. La programación se determina mediante el campo \"fecha\".",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "El encabezado de fecha del correo electrónico. Si se configura para una fecha futura (más de 1 minuto), el correo se conservará hasta esa fecha. Máximo 30 días después de su creación."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Indica si se requiere TLS para toda la cadena de entrega (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "La dirección de correo electrónico del remitente (debe existir como un alias del dominio)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista separada por comas o una matriz de destinatarios para el encabezado \"Para\"."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista separada por comas o una matriz de destinatarios para el encabezado 'Cc'."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista separada por comas o una matriz de destinatarios para el encabezado \"CCO\"."
          },
          "subject": {
            "type": "string",
            "description": "El asunto del correo electrónico."
          },
          "text": {
            "type": "string",
            "description": "La versión de texto simple del mensaje."
          },
          "html": {
            "type": "string",
            "description": "La versión HTML del mensaje."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Una matriz de objetos adjuntos (ver campos comunes de Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "La dirección de correo electrónico para el encabezado 'Remitente'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "La dirección de correo electrónico para el encabezado \"Responder a\"."
          },
          "inReplyTo": {
            "type": "string",
            "description": "El ID del mensaje al que responde el mensaje."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Lista separada por espacios o una matriz de identificadores de mensajes."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Si es verdadero, convierte los datos: imágenes en el contenido HTML en archivos adjuntos incrustados."
          },
          "watchHtml": {
            "type": "string",
            "description": "Versión HTML del mensaje específica para Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Versión HTML específica del mensaje de AMP4EMAIL."
          },
          "icalEvent": {
            "type": "object",
            "description": "Un evento de iCalendar como contenido de mensaje alternativo."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Una variedad de contenidos de mensajes alternativos."
          },
          "encoding": {
            "type": "string",
            "description": "Codificación para el texto y las cadenas HTML (por ejemplo, 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Mensaje con formato RFC822 generado de forma personalizada (en lugar de utilizar la generación de Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Codificación forzada a ser utilizada para valores de texto."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Nivel de prioridad del correo electrónico."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objeto o matriz de campos de encabezado adicionales."
          },
          "messageId": {
            "type": "string",
            "description": "ID de mensaje opcional para el encabezado 'ID de mensaje'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Encabezado de fecha opcional. Si se configura para una fecha futura (más de 1 minuto), el correo electrónico se conservará hasta esa fecha. No puede ser posterior a más de 30 días desde su creación.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "Objeto opcional de encabezados List-*."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Si es verdadero, se requiere TLS para toda la cadena de entrega (RFC 8689). El mensaje solo se transmitirá mediante conexiones cifradas con TLS."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "Cuando está habilitado, rechaza los correos electrónicos entrantes que no se envían a través de TLS"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Nombre de dominio completo (FQDN) o dirección IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Asignar al mismo equipo desde otro dominio; puede ser un ID de dominio o un FQDN. Use \"ninguno\" para deshabilitarlo explícitamente."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Tipo de plan (predeterminado: «gratis» o el plan pago actual del usuario)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Lista delimitada de direcciones de correo electrónico (separadas por comas, espacios o nuevas líneas)"
              }
            ],
            "description": "Crear un alias general predeterminado (el valor predeterminado es verdadero)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Habilitar la protección de contenido para adultos de Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Habilitar la protección contra phishing de Spam Scanner"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Habilitar la protección del ejecutable de Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Habilitar la protección antivirus del escáner de spam"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Requerir que los destinatarios de alias hagan clic en el enlace de verificación de correo electrónico"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorar la comprobación de registros MX para configuraciones avanzadas de enrutamiento de correo"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Opte por almacenar encabezados y metadatos (excluyendo el contenido del mensaje) de correos electrónicos reenviados, enviados mediante webhook, SMTP salientes y entregados mediante IMAP. Los registros se conservan durante 7 días. Esta función le ayuda a supervisar y solucionar problemas de rendimiento de la entrega de correo electrónico con información detallada sobre transmisiones exitosas."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Número de días para conservar los registros SMTP salientes (0–30, valor predeterminado: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL de webhook para recibir eventos de rebote"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Deshabilitar el webhook de rebote"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Cuota máxima de almacenamiento por alias (p. ej., '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Puerto personalizado para configurar el reenvío SMTP (el valor predeterminado es '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Si se debe habilitar la protección de contenido para adultos de Spam Scanner en este dominio"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Si se debe habilitar la protección contra phishing de Spam Scanner en este dominio"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Si se debe habilitar la protección ejecutable de Spam Scanner en este dominio"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Si se debe habilitar la protección antivirus Spam Scanner en este dominio"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Dominio global predeterminado que determina si se requiere que los destinatarios alias hagan clic en un enlace de verificación de correo electrónico para que los correos electrónicos fluyan."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Si se debe ignorar la comprobación del registro MX en el dominio para verificación (principalmente para configuraciones avanzadas de enrutamiento MX)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Opte por almacenar encabezados y metadatos (excluyendo el contenido del mensaje) de correos electrónicos reenviados, enviados mediante webhook, SMTP salientes y entregados mediante IMAP. Los registros se conservan durante 7 días. Esta función le ayuda a supervisar y solucionar problemas de rendimiento de la entrega de correo electrónico con información detallada sobre transmisiones exitosas."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Número de días para almacenar correos electrónicos SMTP salientes (0 = purgar inmediatamente)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL del webhook para recibir notificaciones de rebote o falso para deshabilitarlo"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Cuota de almacenamiento por alias (por ejemplo, '1 GB', analizado en bytes)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nombre de alias (si no se proporciona o está en blanco, se genera un alias aleatorio)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Cadena de direcciones de correo electrónico válidas, FQDN, IP o URL de webhook separadas por saltos de línea, espacios o comas"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matriz de destinatarios válidos"
              }
            ],
            "description": "Lista de destinatarios. Si no se proporciona o está vacía, se usa por defecto el correo electrónico del solicitante."
          },
          "description": {
            "type": "string",
            "description": "Descripción del alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Cadena de etiquetas separada por saltos de línea, espacios y comas"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matriz de etiquetas"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Requerir que los destinatarios hagan clic en el enlace de verificación (configuración predeterminada del dominio)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Si desea habilitar o deshabilitar este alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Código de error si el alias está deshabilitado. El valor predeterminado es 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar el almacenamiento IMAP para este alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar el cifrado OpenPGP para este alias"
          },
          "public_key": {
            "type": "string",
            "description": "Clave pública OpenPGP en formato ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar el cifrado S/MIME para este alias"
          },
          "smime_certificate": {
            "type": "string",
            "description": "Certificado S/MIME X.509 en formato PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "Cuota máxima de almacenamiento (p. ej., '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar la respuesta en vacaciones"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Fecha de inicio (por ejemplo, 'AAAA-MM-DD') para la respuesta de vacaciones"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Fecha de finalización (por ejemplo, 'AAAA-MM-DD') para la respuesta de vacaciones"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Asunto de texto sin formato para la respuesta de vacaciones"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Mensaje de texto sin formato para respuesta de vacaciones"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Cadena de direcciones de correo electrónico válidas, FQDN, IP o URL de webhook separadas por saltos de línea, espacios o comas"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matriz de destinatarios válidos"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Descripción del alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Cadena de etiquetas separada por saltos de línea, espacios y comas"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matriz de etiquetas"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Requerir que los destinatarios hagan clic en el enlace de verificación (configuración predeterminada del dominio)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Código de error a utilizar si el alias está deshabilitado (predeterminado 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar el almacenamiento IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar el cifrado OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Clave pública OpenPGP en formato ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar el cifrado S/MIME"
          },
          "smime_certificate": {
            "type": "string",
            "description": "Certificado S/MIME X.509 en formato PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "Cuota máxima de almacenamiento (por ejemplo, '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar la respuesta en vacaciones"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Fecha de inicio de la respuesta de vacaciones (por ejemplo, AAAA-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Fecha de finalización de la respuesta de vacaciones (p. ej. AAAA-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Asunto de texto sin formato del respondedor de vacaciones"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Mensaje de texto sin formato del respondedor de vacaciones"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Su nueva contraseña personalizada para usar como alias"
          },
          "password": {
            "type": "string",
            "description": "Contraseña existente para el alias para cambiarla sin eliminar el almacenamiento del buzón"
          },
          "is_override": {
            "type": "boolean",
            "description": "Anular la contraseña existente y eliminar el almacenamiento IMAP (usar con precaución)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico para enviar la contraseña del alias y las instrucciones de configuración"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Recuento actual de correos electrónicos enviados"
          },
          "limit": {
            "type": "integer",
            "description": "Número máximo de correos electrónicos permitidos"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "Definición de búsqueda guardada almacenada por alias.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Nombre para mostrar de la búsqueda guardada"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Cadena de consulta de búsqueda para reutilizar (por ejemplo, \"from:billing\")"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "Mapa de acciones para combinaciones de teclas para atajos de teclado.",
        "additionalProperties": {
          "type": "string",
          "description": "Combinación de teclas para la acción (p. ej., \"e\" para archivar)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "Campos permitidos al actualizar una definición de etiqueta.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nombre de etiqueta legible para humanos que se muestra en la interfaz de usuario"
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "Color hexadecimal utilizado para la representación de la interfaz de usuario"
          },
          "hidden": {
            "type": "boolean",
            "description": "Ocultar la etiqueta en la interfaz de usuario conservando la palabra clave"
          },
          "source": {
            "type": "string",
            "description": "Origen de la etiqueta para filtrado y migraciones",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de miembro"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico del miembro"
          },
          "role": {
            "type": "string",
            "description": "Rol del miembro"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico de invitación"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Página de resultados a devolver. Si no se especifica, el valor será 1. Debe ser un número mayor o igual a 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Número de resultados que se devolverán por página. El valor predeterminado es 25 si no se especifica. Debe ser un número mayor o igual a 1 y menor o igual a 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Inscríbete en la paginación antes del 1 de noviembre de 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID de dominio",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "ID de alias",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID de miembro",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID de correo electrónico o ID de mensaje. Puede pasar el ID de correo electrónico único (p. ej., '683fbe4d5baef1b583a11e54') o el valor del encabezado del ID de mensaje del correo electrónico (p. ej., '1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net').",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID de contacto",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID del calendario",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID de carpeta o ruta",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID del mensaje",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "Palabra clave IMAP utilizada como identificador de etiqueta",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Cuenta"
        ],
        "summary": "Recuperar cuenta",
        "description": "Recupere la información de su cuenta.\n\n**Autenticación:** Este punto final admite la autenticación mediante token de API y credenciales de alias.\n\n- **Cuenta de usuario (Token de API):** Al autenticarse con su token de API, este punto final devuelve la información de su cuenta de usuario, incluyendo detalles del plan, correo electrónico y token de API.\n\n- **Cuenta de alias (Credenciales de alias):** Al autenticarse con credenciales de alias (correo electrónico y contraseña generada), este punto final devuelve información de alias/buzón, incluyendo el almacenamiento utilizado/cuota y un objeto de configuración anidado (carpetas especiales de correo, configuración de etiquetas y valores predeterminados de alias). Esto es útil para que los clientes IMAP/POP3/CalDAV/CardDAV comprueben el estado y las preferencias de almacenamiento.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Cuenta"
        ],
        "summary": "Actualizar cuenta",
        "description": "Actualice la información de su cuenta.\n\n- **Cuenta de usuario (Token API):** Actualice los campos del perfil de usuario.\n- **Cuenta de alias (Credenciales de alias):** Actualice la configuración del alias mediante el objeto `settings` anidado. Se aceptan campos planos heredados por compatibilidad. La respuesta coincide con `GET /v1/account`.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "Configuración de alias (solo autenticación de alias)",
                    "properties": {
                      "mail": {
                        "type": "object",
                        "properties": {
                          "archive_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Carpeta de archivo de correo de alias"
                          },
                          "sent_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Carpeta de correo enviado de alias"
                          },
                          "drafts_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Carpeta de borradores de correo de Alias"
                          }
                        }
                      },
                      "label_settings": {
                        "type": "object",
                        "description": "Mapa de etiquetas de alias codificado por palabra clave",
                        "additionalProperties": {
                          "$ref": "#/components/schemas/SettingsLabelUpdate"
                        }
                      },
                      "aliases": {
                        "type": "object",
                        "properties": {
                          "defaults": {
                            "type": "object",
                            "description": "Valores predeterminados de alias de formato libre, como display_name o signature",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  },
                  "display_name": {
                    "type": "string",
[...]
