{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Benvenuti alla documentazione API completa per Forward Email. Questa API consente di gestire l'inoltro email, i domini, gli alias, le email in uscita e altro ancora in modo programmatico.\n\n## Funzionalità principali\n* **Gestione domini:** Crea, recupera, aggiorna, elimina e verifica domini.\n* **Gestione alias:** Gestisci gli alias email, inclusi creazione, aggiornamenti e gestione dei destinatari.\n* **SMTP in uscita:** Invia email tramite SMTP, gestisci i limiti e monitora le email inviate.\n* **Account e registri:** Gestisci i dettagli del tuo account e scarica i registri delle attività.\n* **Sicurezza:** Crittografa i record TXT e gestisci i membri/inviti del dominio.\n* **Contatti CardDAV:** Operazioni CRUD complete per la gestione dei contatti con supporto vCard.\n* **Calendari CalDAV:** Gestione completa del calendario con supporto per fuso orario e colori. * **Messaggi IMAP/POP3:** Gestione completa dei messaggi con funzionalità di ricerca avanzate.\n* **Cartelle IMAP/POP3:** Gestione completa delle cartelle, inclusa la creazione, la ridenominazione e l'eliminazione.\n\n## Autenticazione\nLa maggior parte degli endpoint richiede l'autenticazione tramite la **Chiave API**. Fornire la Chiave API come `username` nell'intestazione dell'Autenticazione di base, lasciando vuoto il campo ```http`\nAutorizzazione: Base QVBJX1RPS0VOOg==\n```\n(Sostituire `API_TOKEN` con la chiave effettiva prima della codifica Base64)\n\nGli endpoint relativi a **Alias Contatti, Calendari, Messaggi e Cartelle** richiedono un nome utente e una password alias generati per l'Autenticazione di base.\n\n## Errori\nL'API utilizza codici di stato HTTP standard per indicare l'esito positivo o negativo. Le risposte di errore includono un corpo JSON con un campo `message` che descrive l'errore.\n\n| Codice di stato | Significato |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Richiesta non valida |\n| 401 | Non autorizzato |\n| 403 | Vietato |\n| 404 | Non trovato |\n| 409 | Conflitto |\n| 412 | Precondizione non riuscita |\n| 429 | Troppe richieste |\n| 500 | Errore interno del server |\n| 501 | Non implementato |\n| 502 | Gateway non valido |\n| 503 | Servizio non disponibile |\n| 504 | Timeout del gateway |\n\n*Se riscontri un errore `5xx`, contatta [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Localizzazione\nLe risposte API vengono tradotte in base alle impostazioni locali rilevate dall'utente o all'intestazione `Accept-Language`. Sono supportate oltre 25 lingue.\n\n## Paginazione\nGli endpoint che restituiscono elenchi supportano la paginazione tramite parametri di query.\n\n| Parametro | Tipo | Facoltativo | Descrizione | Predefinito | Vincoli |\n|--------------|----------|--------------------------------------------------------------|----------|----------------------------------------------|--------------|------------------------------------|\n| `page` | Intero | Sì | Numero di pagina da recuperare. | 1 | `>= 1` |\n| `limit` | Intero | Sì | Numero di risultati per pagina. | 25 | `>= 1`, `<= 100` |\n| `pagination` | Booleano | Sì | Accettazione del comportamento di paginazione (obbligatorio prima del 1° novembre 2024 per alcuni endpoint). | false | |\n\n**Intestazioni di paginazione:**\n* `X-Page-Count`: Numero totale di pagine. * `X-Page-Current`: Numero di pagina corrente.\n* `X-Page-Size`: Numero di elementi nella pagina corrente.\n* `X-Item-Count`: Numero totale di elementi in tutte le pagine.\n* `Link`: Link di navigazione (precedente, successivo, primo, ultimo).\n\n**Esempio:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Librerie consigliate\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Gestito da Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Server API di inoltro e-mail"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nUtilizza la tua chiave API come **nome utente** per l'autenticazione di base. Lascia vuoto il campo password.\n\n**Esempio:**\nSe la tua chiave API è `YOUR_API_KEY`, il valore codificato in Base64 per l'intestazione `Authorization` sarà `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nUtilizzare **nome utente e password alias** generati per l'autenticazione di base. Questo vale per gli endpoint in:\n* Contatti alias (CardDAV)\n* Calendari alias (CalDAV)\n* Messaggi alias (IMAP/POP3)\n* Cartelle alias (IMAP/POP3)\n\n**Esempio:**\nSe il nome utente alias è `alias@dominio.com` e la password è `GENERATED_PASSWORD`, il valore codificato in Base64 sarà `echo -n \"alias@dominio.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAutorizzazione: Base YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Messaggio di errore"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "User's preferred language setting that overrides automatic detection"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID alias"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Tipo di oggetto"
          },
          "name": {
            "type": "string",
            "description": "Nome alias (parte locale dell'email)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Indirizzo email alias completo"
          },
          "domain_id": {
            "type": "string",
            "description": "ID dominio"
          },
          "domain_name": {
            "type": "string",
            "description": "Nome di dominio"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Spazio di archiviazione utilizzato in byte per questo alias/casella postale"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Quota di archiviazione in byte per questo alias/casella postale"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Se IMAP è abilitato per questo alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Se la crittografia PGP è abilitata"
          },
          "public_key": {
            "type": "string",
            "description": "Chiave pubblica PGP se disponibile"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Whether S/MIME encryption is enabled"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 certificate in PEM format"
          },
          "locale": {
            "type": "string",
            "description": "Preferenza locale"
          },
          "settings": {
            "type": "object",
            "description": "Alias settings",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias mail archive folder"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias mail sent folder"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias mail drafts folder"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "Alias label map keyed by keyword",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "Free-form alias defaults such as display_name or signature.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp di creazione"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data e ora dell'ultimo aggiornamento"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID contatto (contact_id da CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "Contatta UID"
          },
          "full_name": {
            "type": "string",
            "description": "Nome completo del contatto"
          },
          "content": {
            "type": "string",
            "description": "Contenuto vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag per il controllo delle versioni"
          },
          "is_group": {
            "type": "boolean",
            "description": "Se il contatto è un gruppo"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Serie di indirizzi email"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Serie di numeri di telefono"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Contenuto vCard (se non fornito, verrà generato da altri campi)"
          },
          "full_name": {
            "type": "string",
            "description": "Nome completo del contatto"
          },
          "contact_id": {
            "type": "string",
            "description": "ID contatto personalizzato (se non fornito, verrà generato automaticamente)"
          },
          "uid": {
            "type": "string",
            "description": "UID del contatto (se non fornito, verrà generato automaticamente)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Serie di indirizzi email"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Serie di numeri di telefono"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array di numeri di telefono (alias per phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Array di indirizzi"
          },
          "is_group": {
            "type": "boolean",
            "description": "Se il contatto è un gruppo"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Contenuto vCard"
          },
          "full_name": {
            "type": "string",
            "description": "Nome completo del contatto"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Serie di indirizzi email"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Serie di numeri di telefono"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array di numeri di telefono (alias per phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Array di indirizzi"
          },
          "is_group": {
            "type": "boolean",
            "description": "Se il contatto è un gruppo"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID calendario (calendarId da CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Nome del calendario"
          },
          "description": {
            "type": "string",
            "description": "Descrizione del calendario"
          },
          "color": {
            "type": "string",
            "description": "Colore del calendario (formato esadecimale)"
          },
          "timezone": {
            "type": "string",
            "description": "Fuso orario del calendario"
          },
          "order": {
            "type": "integer",
            "description": "Ordine di visualizzazione del calendario"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome del calendario"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID calendario personalizzato (se non fornito, verrà generato automaticamente)"
          },
          "description": {
            "type": "string",
            "description": "Descrizione del calendario"
          },
          "color": {
            "type": "string",
            "description": "Colore del calendario (il formato esadecimale, se non specificato, verrà generato automaticamente)"
          },
          "timezone": {
            "type": "string",
            "description": "Fuso orario del calendario (per impostazione predefinita è il fuso orario dell'utente o UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Ordine di visualizzazione del calendario (predefinito su 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome del calendario"
          },
          "description": {
            "type": "string",
            "description": "Descrizione del calendario"
          },
          "color": {
            "type": "string",
            "description": "Colore del calendario (formato esadecimale)"
          },
          "timezone": {
            "type": "string",
            "description": "Fuso orario del calendario"
          },
          "order": {
            "type": "integer",
            "description": "Ordine di visualizzazione del calendario"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID evento del calendario (eventId da CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID del calendario a cui appartiene questo evento"
          },
          "ical": {
            "type": "string",
            "description": "Dati iCalendar (RFC 5545) per l'evento"
          },
          "summary": {
            "type": "string",
            "description": "Titolo/riepilogo dell'evento (estratto dai dati iCal)"
          },
          "description": {
            "type": "string",
            "description": "Descrizione dell'evento (estratta dai dati iCal)"
          },
          "location": {
            "type": "string",
            "description": "Luogo dell'evento (estratto dai dati iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Data/ora di inizio dell'evento (estratte dai dati iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Data/ora di fine dell'evento (estratte dai dati iCal)"
          },
          "uid": {
            "type": "string",
            "description": "Identificatore univoco dai dati iCal"
          },
          "status": {
            "type": "string",
            "description": "Stato dell'evento (estratto dai dati iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "Organizzatore dell'evento (estratto dai dati iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp di eliminazione temporanea"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ID del calendario a cui aggiungere l'evento"
          },
          "event_id": {
            "type": "string",
            "description": "ID evento personalizzato (se non fornito, verrà generato automaticamente)"
          },
          "ical": {
            "type": "string",
            "description": "Dati iCalendar (RFC 5545) per l'evento. Devono essere in formato iCal valido."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Sposta l'evento in un calendario diverso"
          },
          "ical": {
            "type": "string",
            "description": "Dati iCalendar (RFC 5545) aggiornati per l'evento"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID cartella"
          },
          "path": {
            "type": "string",
            "description": "Percorso completo della cartella"
          },
          "name": {
            "type": "string",
            "description": "Nome della cartella (ultima parte del percorso)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Percorso della cartella padre"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Validità UID IMAP"
          },
          "uid_next": {
            "type": "integer",
            "description": "Valore UID successivo"
          },
          "modify_index": {
            "type": "integer",
            "description": "Indice di modifica"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Se la cartella è sottoscritta"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Flag delle cartelle"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Periodo di conservazione del messaggio"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Designazione di uso speciale"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Percorso/nome della cartella"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Nuovo percorso/nome della cartella"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID messaggio"
          },
          "root_id": {
            "type": "string",
            "description": "ID messaggio radice per il threading"
          },
          "folder_id": {
            "type": "string",
            "description": "ID cartella contenente il messaggio"
          },
          "folder_path": {
            "type": "string",
            "description": "Percorso della cartella contenente il messaggio"
          },
          "thread_id": {
            "type": "string",
            "description": "ID thread per il raggruppamento delle conversazioni"
          },
          "header_message_id": {
            "type": "string",
            "description": "Valore dell'intestazione Message-ID"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Se il messaggio non è letto"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Se il messaggio è contrassegnato"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Se il messaggio è stato eliminato"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Se il messaggio è una bozza"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Se il messaggio è spam/posta indesiderata"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Se il messaggio è stato copiato"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Se il messaggio è ricercabile"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Se il messaggio è scaduto"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Se il messaggio ha allegati"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Data di conservazione del messaggio"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Data interna (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Data dalle intestazioni dei messaggi"
          },
          "subject": {
            "type": "string",
            "description": "Oggetto del messaggio"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Flag IMAP"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User-defined labels (lowercase, max 10)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "Dimensione del messaggio in byte"
          },
          "uid": {
            "type": "integer",
            "description": "UID IMAP"
          },
          "modseq": {
            "type": "integer",
            "description": "Sequenza di modifica"
          },
          "transaction": {
            "type": "string",
            "description": "Tipo di transazione"
          },
          "remote_address": {
            "type": "string",
            "description": "Indirizzo IP remoto"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp di creazione del messaggio"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data e ora dell'ultimo aggiornamento del messaggio"
          },
          "nodemailer": {
            "type": "object",
            "description": "Oggetto messaggio analizzato (incluso per impostazione predefinita, impostare ?nodemailer=false per escludere)"
          },
          "raw": {
            "type": "string",
            "description": "Contenuto del messaggio non elaborato (incluso per impostazione predefinita, impostare ?raw=false per escluderlo)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Indirizzo email del mittente"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Indirizzi email dei destinatari"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Indirizzi email dei destinatari CC"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Indirizzi email dei destinatari in CCN"
          },
          "subject": {
            "type": "string",
            "description": "Oggetto del messaggio"
          },
          "text": {
            "type": "string",
            "description": "Contenuto di testo normale"
          },
          "html": {
            "type": "string",
            "description": "Contenuto HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Allegati ai messaggi (formato Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "Cartella di destinazione (predefinita su POSTA IN ARRIVO)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Flag IMAP da impostare sul messaggio"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "User-defined labels to set on the message. Can be a single label string or an array of labels. Labels must start with a letter, digit, backslash, or dollar sign, and can contain word characters, dots, and hyphens. Maximum of 10 labels per message. Labels are case-insensitive and will be stored in lowercase.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Flag IMAP da impostare sul messaggio"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "User-defined labels to set on the message. Can be a single label string or an array of labels. Labels must start with a letter, digit, backslash, or dollar sign, and can contain word characters, dots, and hyphens. Maximum of 10 labels per message. Labels are case-insensitive and will be stored in lowercase.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "Sposta il messaggio in questa cartella"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "The current status of the email. Scheduling is determined by the `date` field.",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "The email's Date header. If set to a future time (more than 1 minute ahead), the email will be held until that time. Maximum 30 days in the future from creation."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Indicates if TLS is required for the entire delivery chain (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "L'indirizzo email del mittente (deve esistere come alias del dominio)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Elenco separato da virgole o matrice di destinatari per l'intestazione \"A\"."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Elenco separato da virgole o matrice di destinatari per l'intestazione 'Cc'."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Elenco separato da virgole o matrice di destinatari per l'intestazione 'Ccn'."
          },
          "subject": {
            "type": "string",
            "description": "L'oggetto dell'e-mail."
          },
          "text": {
            "type": "string",
            "description": "La versione in chiaro del messaggio."
          },
          "html": {
            "type": "string",
            "description": "La versione HTML del messaggio."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Un array di oggetti allegato (vedere i campi comuni di Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "L'indirizzo email per l'intestazione \"Mittente\"."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "L'indirizzo email per l'intestazione \"Rispondi a\"."
          },
          "inReplyTo": {
            "type": "string",
            "description": "L'ID del messaggio a cui il messaggio è in risposta."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Elenco separato da spazi o array di Message-ID."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Se vero, converte i dati: immagini nel contenuto HTML in allegati incorporati."
          },
          "watchHtml": {
            "type": "string",
            "description": "Versione HTML del messaggio specifica per Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Versione HTML specifica del messaggio per AMP4EMAIL."
          },
          "icalEvent": {
            "type": "object",
            "description": "Un evento iCalendar come contenuto alternativo del messaggio."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Una serie di contenuti alternativi del messaggio."
          },
          "encoding": {
            "type": "string",
            "description": "Codifica per il testo e le stringhe HTML (ad esempio, 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Messaggio formattato RFC822 generato in modo personalizzato (invece di utilizzare la generazione Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Codifica forzata da utilizzare per i valori di testo."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Livello di priorità per l'email."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Oggetto o array di campi di intestazione aggiuntivi."
          },
          "messageId": {
            "type": "string",
            "description": "Message-ID facoltativo per l'intestazione 'Message-ID'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Optional Date header. If set to a future time (more than 1 minute ahead), the email will be held until that time. Cannot be more than 30 days in the future from creation.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "Oggetto facoltativo delle intestazioni List-*."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "If true, requires TLS for the entire delivery chain (RFC 8689). The message will only be transmitted over TLS-encrypted connections."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "When enabled, reject inbound emails not sent over TLS"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Nome di dominio completo (FQDN) o indirizzo IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Assegna allo stesso team da un altro dominio; può essere un ID dominio o un FQDN. Usa \"nessuno\" per disabilitare esplicitamente."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Tipo di piano (il valore predefinito è \"gratuito\" o il piano a pagamento corrente dell'utente)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Elenco delimitato di indirizzi e-mail (separati da virgole, spazi o nuove righe)"
              }
            ],
            "description": "Crea un alias predefinito catch-all (il valore predefinito è true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Abilita la protezione dei contenuti per adulti dello Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Abilita la protezione anti-phishing dello Spam Scanner"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Abilita la protezione eseguibile dello Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Abilita la protezione antivirus dello Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Richiedi ai destinatari alias di fare clic sul collegamento di verifica dell'e-mail"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignora il controllo del record MX per le impostazioni avanzate di routing della posta"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Scegli di archiviare intestazioni e metadati (escluso il contenuto del messaggio) per le email inoltrate correttamente, inviate tramite webhook, in uscita tramite SMTP e consegnate tramite IMAP, con i relativi registri conservati per 7 giorni. Questa funzionalità ti aiuta a monitorare e risolvere i problemi relativi alle prestazioni di recapito delle email, con informazioni dettagliate sulle trasmissioni riuscite."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Numero di giorni per cui conservare i registri SMTP in uscita (0–30, predefinito: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL del webhook per ricevere eventi di rimbalzo"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Disabilita il webhook di rimbalzo"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Quota massima di archiviazione per alias (ad esempio '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Porta personalizzata da configurare per l'inoltro SMTP (il valore predefinito è '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Se abilitare la protezione dei contenuti per adulti tramite Spam Scanner su questo dominio"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Se abilitare la protezione anti-phishing di Spam Scanner su questo dominio"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Se abilitare la protezione eseguibile dello Spam Scanner su questo dominio"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Se abilitare la protezione antivirus Spam Scanner su questo dominio"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Impostazione predefinita del dominio globale per richiedere ai destinatari dell'alias di fare clic su un collegamento di verifica e-mail affinché le e-mail possano fluire"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Se ignorare il controllo del record MX sul dominio per la verifica (principalmente per configurazioni di routing MX avanzate)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Scegli di archiviare intestazioni e metadati (escluso il contenuto del messaggio) per le email inoltrate correttamente, inviate tramite webhook, in uscita tramite SMTP e consegnate tramite IMAP, con i relativi registri conservati per 7 giorni. Questa funzionalità ti aiuta a monitorare e risolvere i problemi relativi alle prestazioni di recapito delle email, con informazioni dettagliate sulle trasmissioni riuscite."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Numero di giorni per archiviare le email SMTP in uscita (0 = elimina immediatamente)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL del webhook per ricevere notifiche di rimbalzo o false per disabilitarlo"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Quota di archiviazione per alias (ad esempio '1 GB', analizzato in byte)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome alias (se non fornito o vuoto, viene generato un alias casuale)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Stringa di indirizzi email validi, FQDN, IP o URL webhook separati da interruzione di riga/spazio/virgola"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matrice di destinatari validi"
              }
            ],
            "description": "Elenco dei destinatari. Se non specificato o vuoto, il valore predefinito è l'indirizzo email del richiedente."
          },
          "description": {
            "type": "string",
            "description": "Descrizione dell'alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Stringa di etichette separate da interruzione di riga/spazio/virgola"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Serie di etichette"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Richiedi ai destinatari di cliccare sul collegamento di verifica (impostazione predefinita: dominio)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Se abilitare o disabilitare questo alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Codice di errore se l'alias è disabilitato. Il valore predefinito è 250"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Abilita o disabilita l'archiviazione IMAP per questo alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Abilita o disabilita la crittografia OpenPGP per questo alias"
          },
          "public_key": {
            "type": "string",
            "description": "Chiave pubblica OpenPGP in formato ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Enable or disable S/MIME encryption for this alias"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 certificate in PEM format"
          },
          "max_quota": {
            "type": "string",
            "description": "Quota massima di archiviazione (ad esempio '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Abilita o disabilita il risponditore automatico"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Data di inizio (ad esempio 'AAAA-MM-GG') per il risponditore automatico"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Data di fine (ad esempio 'AAAA-MM-GG') per il risponditore automatico"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Oggetto in chiaro per il risponditore automatico"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Messaggio di testo normale per il risponditore automatico"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome alias"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Stringa di indirizzi email validi, FQDN, IP o URL webhook separati da interruzione di riga/spazio/virgola"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matrice di destinatari validi"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Descrizione dell'alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Stringa di etichette separate da interruzione di riga/spazio/virgola"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Serie di etichette"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Richiedi ai destinatari di cliccare sul collegamento di verifica (impostazione predefinita: dominio)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Abilita o disabilita l'alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Codice di errore da utilizzare se l'alias è disabilitato (il valore predefinito è 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Abilita o disabilita l'archiviazione IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Abilita o disabilita la crittografia OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Chiave pubblica OpenPGP in formato ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Enable or disable S/MIME encryption"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 certificate in PEM format"
          },
          "max_quota": {
            "type": "string",
            "description": "Quota massima di archiviazione (ad esempio, '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Abilita o disabilita il risponditore automatico"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Data di inizio del risponditore automatico (ad esempio AAAA-MM-GG)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Data di fine del risponditore automatico (ad esempio AAAA-MM-GG)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Oggetto in chiaro del risponditore automatico"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Messaggio in chiaro del soccorritore automatico"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "La tua nuova password personalizzata da utilizzare per l'alias"
          },
          "password": {
            "type": "string",
            "description": "Password esistente per l'alias per modificarla senza eliminare l'archiviazione della casella di posta"
          },
          "is_override": {
            "type": "boolean",
            "description": "Sostituisci la password esistente ed elimina l'archiviazione IMAP (usare con cautela)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Indirizzo email a cui inviare la password dell'alias e le istruzioni di configurazione"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Conteggio attuale delle email inviate"
          },
          "limit": {
            "type": "integer",
            "description": "Numero massimo di email consentite"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "Saved search definition stored per alias.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Display name for the saved search"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Search query string to reuse (e.g., \"from:billing\")"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "Map of actions to keybindings for keyboard shortcuts.",
        "additionalProperties": {
          "type": "string",
          "description": "Keybinding for the action (e.g., \"e\" for archive)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "Fields allowed when updating a label definition.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable label name shown in the UI"
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "Hex color used for UI rendering"
          },
          "hidden": {
            "type": "boolean",
            "description": "Hide the label in the UI while preserving the keyword"
          },
          "source": {
            "type": "string",
            "description": "Label origin for filtering and migrations",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID membro"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Indirizzo email del membro"
          },
          "role": {
            "type": "string",
            "description": "Ruolo del membro"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Indirizzo email invitato"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Pagina dei risultati da restituire. Se non specificato, il valore sarà 1. Deve essere un numero maggiore o uguale a 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Numero di risultati da restituire per pagina. Il valore predefinito è 25 se non specificato. Deve essere un numero maggiore o uguale a 1 e minore o uguale a 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Aderisci alla paginazione prima del 1° novembre 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID dominio",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "ID alias",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID membro",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Email ID or Message-ID. You can pass either the unique email ID (e.g., '683fbe4d5baef1b583a11e54') or the email's Message-ID header value (e.g., '1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net').",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID contatto",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID calendario",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID o percorso della cartella",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID messaggio",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "IMAP keyword used as the label identifier",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Recupera account",
        "description": "Retrieve your account information.\n\n**Authentication:** This endpoint supports both API token authentication and alias credentials authentication.\n\n- **User Account (API Token):** When authenticated with your API token, this endpoint returns your user account information including plan details, email, and API token.\n\n- **Alias Account (Alias Credentials):** When authenticated with alias credentials (email and generated password), this endpoint returns alias/mailbox information including storage used/quota and a nested `settings` object (mail special folders, label settings, and alias defaults). This is useful for IMAP/POP3/CalDAV/CardDAV clients to check storage status and preferences.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Aggiorna account",
        "description": "Update your account information.\n\n- **User Account (API Token):** Update user profile fields.\n- **Alias Account (Alias Credentials):** Update alias-scoped settings using the nested `settings` object. Legacy flat fields are accepted for compatibility. The response matches `GET /v1/account`.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "Alias settings (alias authentication only)",
                    "properties": {
                      "mail": {
                        "type": "object",
                        "properties": {
                          "archive_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias mail archive folder"
                          },
                          "sent_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias mail sent folder"
                          },
                          "drafts_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias mail drafts folder"
                          }
                        }
                      },
                      "label_settings": {
                        "type": "object",
                        "description": "Alias label map keyed by keyword",
                        "additionalProperties": {
                          "$ref": "#/components/schemas/SettingsLabelUpdate"
                        }
                      },
                      "aliases": {
                        "type": "object",
                        "properties": {
                          "defaults": {
                            "type": "object",
                            "description": "Free-form alias defaults such as display_name or signature",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  },
                  "display_name": {
                    "type": "string",
                    "description": "Nome da visualizzare"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Preferenza locale"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Updated email address (user authentication only)"
                  },
                  "avatar_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Avatar URL (user authentication only)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Contatti"
        ],
        "summary": "Elenca i contatti",
        "description": "Recupera un elenco di tutti i contatti per l'alias autenticato. Questo endpoint supporta la paginazione e restituisce i contatti in formato CardDAV.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
[...]
