{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Välkommen till den omfattande API-dokumentationen för vidarebefordran av e-post. Detta API låter dig hantera vidarebefordran av e-post, domäner, alias, utgående e-postmeddelanden och mer programmatiskt.\n\n## Viktiga funktioner\n* **Domänhantering:** Skapa, hämta, uppdatera, ta bort och verifiera domäner.\n* **Aliashantering:** Hantera e-postalias, inklusive skapande, uppdateringar och mottagarhantering.\n* **Utgående SMTP:** Skicka e-postmeddelanden via SMTP, hantera gränser och spåra skickade e-postmeddelanden.\n* **Konto och loggar:** Hantera dina kontouppgifter och ladda ner aktivitetsloggar.\n* **Säkerhet:** Kryptera TXT-poster och hantera domänmedlemmar/inbjudningar.\n* **CardDAV-kontakter:** Fullständiga CRUD-åtgärder för kontakthantering med vCard-stöd.\n* **CalDAV-kalendrar:** Komplett kalenderhantering med stöd för tidszoner och färger.\n* **IMAP/POP3-meddelanden:** Omfattande meddelandehantering med avancerade sökfunktioner.\n\n* **IMAP/POP3-mappar:** Fullständig mapphantering inklusive skapande, namnbyte och borttagning.\n\n## Autentisering\nDe flesta slutpunkter kräver autentisering med din **API-nyckel**. Ange API-nyckeln som `användarnamn` i huvudet för grundläggande autentisering och lämna lösenordet tomt.\n\n```http\nAuktorisering: Grundläggande QVBJX1RPS0VOOg==\n```\n(Ersätt `API_TOKEN` med din faktiska nyckel före Base64-kodning)\n\nSlutpunkter relaterade till **Aliaskontakter, kalendrar, meddelanden och mappar** kräver ett genererat aliasanvändarnamn och lösenord för grundläggande autentisering.\n\n## Fel\nAPI:et använder standard HTTP-statuskoder för att indikera framgång eller misslyckande. Felsvar inkluderar en JSON-text med ett `meddelande`-fält som beskriver felet.\n\n| Statuskod | Betydelse |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Felaktig begäran |\n| 401 | Obehörig |\n| 403 | Förbjuden |\n| 404 | Hittades inte |\n| 409 | Konflikt |\n| 412 | Förutsättning misslyckades |\n| 429 | För många begäranden |\n| 500 | Internt serverfel |\n| 501 | Inte implementerat |\n| 502 | Felaktig gateway |\n| 503 | Tjänsten är inte tillgänglig |\n| 504 | Gateway-timeout |\n\n*Om du stöter på ett `5xx`-fel, vänligen kontakta [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalisering\nAPI-svar översätts baserat på användarens identifierade språkinställning eller `Accept-Language`-rubriken. Över 25 språk stöds.\n\n## Paginering\nSlutpunkter som returnerar listor stöder paginering via frågeparametrar.\n\n| Parameter | Typ | Valfritt | Beskrivning | Standard | Begränsningar |\n|--------------|----------|-----------|-------------------------------------------------------------------------|---------|-------------------------------------|\n| `page` | Heltal | Ja | Sidnummer att hämta. | 1 | `>= 1` |\n| `limit` | Heltal | Ja | Antal resultat per sida. | 25 | `>= 1`, `<= 100` |\n| `paginering` | Boolean | Ja | Välj pagineringsbeteende (krävs före 1 november 2024 för vissa slutpunkter). | false | |\n\n**Pagineringsrubriker:**\n* `X-Page-Count`: Totalt antal sidor.\n* `X-Page-Current`: Aktuellt sidnummer.\n* `X-Page-Size`: Antal objekt på den aktuella sidan.\n* `X-Item-Count`: Totalt antal objekt på alla sidor.\n* `Länk`: Navigeringslänkar (föregående, nästa, första, sista).\n\n**Exempel:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Rekommenderade bibliotek\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Underhålls av vidarebefordran av e-post)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "API-server för vidarebefordran av e-post"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Använd din API-nyckel som **användarnamn** för grundläggande autentisering. Lämna lösenordsfältet tomt.\n\n**Exempel:**\nOm din API-nyckel är `YOUR_API_KEY`, skulle det Base64-kodade värdet för `Authorization`-rubriken vara `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Använd det genererade **alias användarnamnet och lösenordet** för grundläggande autentisering. Detta gäller slutpunkter under:\n* Alias Kontakter (CardDAV)\n* Alias Kalendrar (CalDAV)\n* Alias Meddelanden (IMAP/POP3)\n* Alias Mappar (IMAP/POP3)\n\n**Exempel:**\nOm alias användarnamnet är `alias@domain.com` och lösenordet är `GENERATED_PASSWORD`, skulle det Base64-kodade värdet vara `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuktorisering: Grundläggande YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Felmeddelande"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Alias-ID"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Objekttyp"
          },
          "name": {
            "type": "string",
            "description": "Aliasnamn (lokal del av e-postadressen)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Fullständig alias-e-postadress"
          },
          "domain_id": {
            "type": "string",
            "description": "Domän-ID"
          },
          "domain_name": {
            "type": "string",
            "description": "Domännamn"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Lagringsutrymme i byte för detta alias/denna postlåda"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Lagringskvot i byte för detta alias/denna postlåda"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Om IMAP är aktiverat för detta alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Om PGP-kryptering är aktiverad"
          },
          "public_key": {
            "type": "string",
            "description": "PGP-nyckel om tillgänglig"
          },
          "locale": {
            "type": "string",
            "description": "Språkinställning"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstämpel för skapande"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstämpel för senaste uppdatering"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kontakt-ID (contact_id från CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "Kontakt-UID"
          },
          "full_name": {
            "type": "string",
            "description": "Kontaktens fullständiga namn"
          },
          "content": {
            "type": "string",
            "description": "vCard-innehåll"
          },
          "etag": {
            "type": "string",
            "description": "ETag för versionshantering"
          },
          "is_group": {
            "type": "boolean",
            "description": "Om kontakten är en grupp"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matris med e-postadresser"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matris med telefonnummer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-innehåll (om det inte anges genereras det från andra fält)"
          },
          "full_name": {
            "type": "string",
            "description": "Kontaktens fullständiga namn"
          },
          "contact_id": {
            "type": "string",
            "description": "Anpassat kontakt-ID (om det inte anges genereras det automatiskt)"
          },
          "uid": {
            "type": "string",
            "description": "Kontakt-UID (om det inte anges genereras det automatiskt)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matris med e-postadresser"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matris med telefonnummer"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matris med telefonnummer (alias för telefonnummer)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Adressmatris"
          },
          "is_group": {
            "type": "boolean",
            "description": "Om kontakten är en grupp"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-innehåll"
          },
          "full_name": {
            "type": "string",
            "description": "Kontaktens fullständiga namn"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matris med e-postadresser"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matris med telefonnummer"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matris med telefonnummer (alias för telefonnummer)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Adressmatris"
          },
          "is_group": {
            "type": "boolean",
            "description": "Om kontakten är en grupp"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalender-ID (calendarId från CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Kalendernamn"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeskrivning"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfärg (hexformat)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderns tidszon"
          },
          "order": {
            "type": "integer",
            "description": "Kalenderns visningsordning"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendernamn"
          },
          "calendar_id": {
            "type": "string",
            "description": "Anpassat kalender-ID (om det inte anges genereras det automatiskt)"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeskrivning"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfärg (hexformat genereras automatiskt om det inte anges)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalendertidszon (standard är användarens tidszon eller UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Kalenderns visningsordning (standard är 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendernamn"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeskrivning"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfärg (hexformat)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderns tidszon"
          },
          "order": {
            "type": "integer",
            "description": "Kalenderns visningsordning"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalenderhändelse-ID (händelse-ID från CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID för kalendern som denna händelse tillhör"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar (RFC 5545)-data för händelsen"
          },
          "summary": {
            "type": "string",
            "description": "Händelsetitel/sammanfattning (hämtad från iCal-data)"
          },
          "description": {
            "type": "string",
            "description": "Händelsebeskrivning (hämtad från iCal-data)"
          },
          "location": {
            "type": "string",
            "description": "Händelseplats (hämtad från iCal-data)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Händelsens startdatum/tid (hämtad från iCal-data)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Slutdatum/tid för evenemang (hämtat från iCal-data)"
          },
          "uid": {
            "type": "string",
            "description": "Unik identifierare från iCal-data"
          },
          "status": {
            "type": "string",
            "description": "Händelsestatus (hämtad från iCal-data)"
          },
          "organizer": {
            "type": "string",
            "description": "Evenemangsorganisatör (hämtat från iCal-data)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Tidsstämpel för mjuk borttagning"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ID för kalendern att lägga till händelsen i"
          },
          "event_id": {
            "type": "string",
            "description": "Anpassat händelse-ID (om det inte anges genereras det automatiskt)"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar-data (RFC 5545) för händelsen. Måste vara i giltigt iCal-format."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Flytta händelsen till en annan kalender"
          },
          "ical": {
            "type": "string",
            "description": "Uppdaterad iCalendar-data (RFC 5545) för evenemanget"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Mapp-ID"
          },
          "path": {
            "type": "string",
            "description": "Fullständig mappsökväg"
          },
          "name": {
            "type": "string",
            "description": "Mappnamn (sista delen av sökvägen)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Sökväg till överordnad mapp"
          },
          "uid_validity": {
            "type": "integer",
            "description": "IMAP UID-giltighet"
          },
          "uid_next": {
            "type": "integer",
            "description": "Nästa UID-värde"
          },
          "modify_index": {
            "type": "integer",
            "description": "Modifieringsindex"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Om mappen prenumereras"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Mappflaggor"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Meddelandets lagringsperiod"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Särskild användningsbeteckning"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Mappsökväg/namn"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Ny mappsökväg/namn"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Meddelande-ID"
          },
          "root_id": {
            "type": "string",
            "description": "Rotmeddelande-ID för trådning"
          },
          "folder_id": {
            "type": "string",
            "description": "Mapp-ID som innehåller meddelandet"
          },
          "folder_path": {
            "type": "string",
            "description": "Mappsökvägen som innehåller meddelandet"
          },
          "thread_id": {
            "type": "string",
            "description": "Tråd-ID för konversationsgruppering"
          },
          "header_message_id": {
            "type": "string",
            "description": "Meddelande-ID-rubrikvärde"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Om meddelandet är oläst"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Om meddelandet är flaggat"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Om meddelandet tas bort"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Om meddelandet är ett utkast"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Om meddelandet är skräppost"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Om meddelandet kopieras"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Om meddelandet är sökbart"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Om meddelandet har gått ut"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Om meddelandet innehåller bilagor"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Meddelandets lagringsdatum"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Internt datum (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Datum från meddelanderubriker"
          },
          "subject": {
            "type": "string",
            "description": "Meddelandeämne"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-flaggor"
          },
          "size": {
            "type": "integer",
            "description": "Meddelandestorlek i byte"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP UID"
          },
          "modseq": {
            "type": "integer",
            "description": "Modifieringssekvens"
          },
          "transaction": {
            "type": "string",
            "description": "Transaktionstyp"
          },
          "remote_address": {
            "type": "string",
            "description": "Fjärr-IP-adress"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstämpel för skapande av meddelande"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstämpel för senaste uppdatering av meddelande"
          },
          "nodemailer": {
            "type": "object",
            "description": "Parserat meddelandeobjekt (inkluderat som standard, sätt ?nodemailer=false för att exkludera)"
          },
          "raw": {
            "type": "string",
            "description": "Råmeddelandeinnehåll (inkluderat som standard, sätt ?raw=false för att exkludera)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Avsändarens e-postadress"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Mottagarens e-postadresser"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "CC-mottagarens e-postadresser"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "BCC-mottagarens e-postadresser"
          },
          "subject": {
            "type": "string",
            "description": "Meddelandeämne"
          },
          "text": {
            "type": "string",
            "description": "Vanligt textinnehåll"
          },
          "html": {
            "type": "string",
            "description": "HTML-innehåll"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Meddelandebilagor (Nodemailer-format)"
          },
          "folder": {
            "type": "string",
            "description": "Målmapp (standard är INKORG)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "IMAP-flaggor att ställa in på meddelandet"
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-flaggor att ställa in på meddelandet"
          },
          "folder": {
            "type": "string",
            "description": "Flytta meddelandet till den här mappen"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Avsändarens e-postadress (måste finnas som ett alias för domänen)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommaavgränsad lista eller en matris med mottagare för 'Till'-rubriken."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommaavgränsad lista eller en matris med mottagare för 'Cc'-rubriken."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommaavgränsad lista eller en matris med mottagare för rubriken 'Bcc'."
          },
          "subject": {
            "type": "string",
            "description": "Ämnet för e-postmeddelandet."
          },
          "text": {
            "type": "string",
            "description": "Klartextversionen av meddelandet."
          },
          "html": {
            "type": "string",
            "description": "HTML-versionen av meddelandet."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "En array med bilagor (se Nodemailers vanliga fält)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "E-postadressen för rubriken 'Avsändare'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "E-postadressen för rubriken \"Svara till\"."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Meddelande-ID som meddelandet är som svar på."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Mellanslagsavgränsad lista eller en array av meddelande-ID:n."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Om sant konverteras data: bilder i HTML-innehållet till inbäddade bilagor."
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch-specifik HTML-version av meddelandet."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL-specifik HTML-version av meddelandet."
          },
          "icalEvent": {
            "type": "object",
            "description": "En iCalendar-händelse som alternativt meddelandeinnehåll."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "En uppsättning alternativa meddelanden."
          },
          "encoding": {
            "type": "string",
            "description": "Kodning för text och HTML-strängar (t.ex. 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Anpassat genererat RFC822-formaterat meddelande (istället för att använda Nodemailer-generering)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Kodning tvingas användas för textvärden."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Prioritetsnivå för e-postmeddelandet."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objekt eller matris med ytterligare rubrikfält."
          },
          "messageId": {
            "type": "string",
            "description": "Valfritt meddelande-ID för rubriken 'Meddelande-ID'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Datumrubrik (valfri). Får inte vara mer än 30 dagar framåt."
          },
          "list": {
            "type": "object",
            "description": "Valfritt objekt för List-*-rubriker."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Fullständigt kvalificerat domännamn (FQDN) eller IP-adress"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Tilldela till samma team från en annan domän; kan vara ett domän-ID eller ett FQDN. Använd \"none\" för att explicit inaktivera."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Abonnemangstyp (standardinställningen är \"gratis\" eller användarens nuvarande betalda abonnemang)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Avgränsad lista med e-postadresser (separerad med kommatecken, mellanslag eller radbrytning)"
              }
            ],
            "description": "Skapa ett standardalias för alla användare (standardvärdet är sant)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Aktivera skydd mot vuxeninnehåll från Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Aktivera Spam Scanner-nätfiskeskydd"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Aktivera skyddet för körbara filer från Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Aktivera virusskyddet Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Kräv att aliasmottagare klickar på länken för e-postverifiering"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorera MX-postkontroll för avancerade inställningar för e-postrouting"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Välj att lagra rubriker och metadata (exklusive meddelandeinnehåll) för framgångsrikt vidarebefordrade, webhook-skickade, utgående SMTP- och IMAP-levererade e-postmeddelanden, med loggar som sparas i 7 dagar. Den här funktionen hjälper dig att övervaka och felsöka e-postleveransprestanda med detaljerade insikter i lyckade överföringar."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Antal dagar som utgående SMTP-loggar ska behållas (0–30, standard: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhook-URL för att ta emot avvisningshändelser"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Inaktivera studsande webhook"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Max lagringskvot per alias (t.ex. '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Anpassad port att konfigurera för SMTP-vidarebefordran (standard är '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Huruvida skydd mot vuxeninnehåll ska aktiveras för Spam Scanner på den här domänen"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Huruvida Spam Scanner ska aktivera nätfiskeskydd på den här domänen"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Huruvida skyddet för körbara filer i Spam Scanner ska aktiveras på den här domänen"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Huruvida Spam Scanner-virusskydd ska aktiveras på den här domänen"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Global domänstandard för om aliasmottagare ska behöva klicka på en e-postverifieringslänk för att e-postmeddelanden ska kunna skickas vidare"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Huruvida MX-postkontrollen på domänen ska ignoreras för verifiering (främst för avancerade MX-routinginställningar)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Välj att lagra rubriker och metadata (exklusive meddelandeinnehåll) för framgångsrikt vidarebefordrade, webhook-skickade, utgående SMTP- och IMAP-levererade e-postmeddelanden, med loggar som sparas i 7 dagar. Den här funktionen hjälper dig att övervaka och felsöka e-postleveransprestanda med detaljerade insikter i lyckade överföringar."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Antal dagar att lagra utgående SMTP-e-postmeddelanden (0 = rensa omedelbart)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhook-URL för att ta emot avvisningsmeddelanden, eller false för att inaktivera"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Lagringskvot per alias (t.ex. '1 GB', analyserat i byte)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnamn (om det inte anges eller om det är tomt genereras ett slumpmässigt alias)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Radbrytnings-/mellanslags-/kommaseparerade strängar med giltiga e-postadresser, FQDN-adresser, IP-adresser eller webhook-URL:er"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matris med giltiga mottagare"
              }
            ],
            "description": "Lista över mottagare. Om den inte anges eller är tom används som standard den begärande e-postadressen"
          },
          "description": {
            "type": "string",
            "description": "Aliasbeskrivning"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Radbrytnings-/mellanslags-/kommaseparerade strängar av etiketter"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matris med etiketter"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Kräv att mottagarna klickar på verifieringslänken (standardinställningen är domäninställningen)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Om detta aliaset ska aktiveras eller inaktiveras"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Felkod om alias är inaktiverat. Standardinställningen är 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera IMAP-lagring för detta alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera OpenPGP-kryptering för detta alias"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP-nyckel i ASCII Armor-format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximal lagringskvot (t.ex. '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera semestersvar"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdatum (t.ex. 'ÅÅÅÅ-MM-DD') för semestersvar"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Slutdatum (t.ex. 'ÅÅÅÅ-MM-DD') för semestersvar"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Ämne i klartext för semestersvar"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Vanligt textmeddelande för semestersvar"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnamn"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Radbrytnings-/mellanslags-/kommaseparerade strängar med giltiga e-postadresser, FQDN-adresser, IP-adresser eller webhook-URL:er"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matris med giltiga mottagare"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Aliasbeskrivning"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Radbrytnings-/mellanslags-/kommaseparerade strängar av etiketter"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matris med etiketter"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Kräv att mottagarna klickar på verifieringslänken (standardinställningen är domäninställningen)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Felkod att använda om alias är inaktiverat (standard är 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera IMAP-lagring"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera OpenPGP-kryptering"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP-nyckel i ASCII Armor-format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximal lagringskvot (t.ex. '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Aktivera eller inaktivera semestersvar"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdatum för semestersvar (t.ex. ÅÅÅÅ-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Slutdatum för semestersvar (t.ex. ÅÅÅÅ-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Klartextämne för semestersvar"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Vanligt textmeddelande för semestersvar"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Ditt nya lösenord att använda för aliaset"
          },
          "password": {
            "type": "string",
            "description": "Befintligt lösenord för alias för att ändra det utan att radera postlådelagring"
          },
          "is_override": {
            "type": "boolean",
            "description": "Åsidosätt befintligt lösenord och radera IMAP-lagring (använd med försiktighet)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-postadress för att skicka aliaslösenord och installationsinstruktioner"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Nuvarande antal skickade e-postmeddelanden"
          },
          "limit": {
            "type": "integer",
            "description": "Maximalt antal tillåtna e-postadresser"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Medlems-ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Medlems e-postadress"
          },
          "role": {
            "type": "string",
            "description": "Medlemmens roll"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Inbjuden e-postadress"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Resultatsida som ska returneras. Om inget anges blir värdet 1. Måste vara ett tal större än eller lika med 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Antal resultat att returnera per sida. Standardvärdet är 25 om inget anges. Måste vara ett tal större än eller lika med 1, och mindre än eller lika med 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Anmäl dig till paginering före 1 november 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Domän-ID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias-ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Medlems-ID",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "E-postadress",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kontakt-ID",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kalender-ID",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Mapp-ID eller sökväg",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Meddelande-ID",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Konto"
        ],
        "summary": "Hämta konto",
        "description": "Hämta din kontoinformation.\n\n**Autentisering:** Denna slutpunkt stöder både API-tokenautentisering och autentisering av aliasuppgifter.\n\n- **Användarkonto (API-token):** När den autentiseras med din API-token returnerar denna slutpunkt din användarkontoinformation inklusive planinformation, e-postadress och API-token.\n\n- **Aliaskonto (Aliasuppgifter):** När den autentiseras med aliasuppgifter (e-postadress och genererat lösenord) returnerar denna slutpunkt alias-/postlådeinformation inklusive använt lagringsutrymme, lagringskvot och postlådeinställningar. Detta är användbart för IMAP/POP3/CalDAV/CardDAV-klienter för att kontrollera lagringsstatus.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Uppdatera konto",
        "description": "Uppdatera din kontoinformation.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "Visningsnamn"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Språkinställning"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Lista kontakter",
        "description": "Hämta en lista över alla kontakter för det autentiserade aliaset. Denna slutpunkt stöder paginering och returnerar kontakter i CardDAV-format.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Skapa kontakt",
        "description": "Skapa en ny kontakt. Du kan ange antingen vCard-innehåll direkt eller enskilda kontaktfält som konverteras till vCard-format. Om en kontakt med samma ID redan finns returneras ett konfliktfel.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Hämta kontakt",
        "description": "Hämta en specifik kontakt via dess ID. Kontakten returneras i standardformatet för kontakter med vCard-innehåll och analyserade fält.",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Uppdatera kontakt",
        "description": "Uppdatera en befintlig kontakt. Du kan antingen ange uppdaterat vCard-innehåll eller enskilda fält att uppdatera. Kontaktens vCard kommer att genereras på nytt om enskilda fält anges.",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Ta bort kontakt",
        "description": "Ta bort en specifik kontakt permanent. Den här åtgärden kan inte ångras.",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "Kalendrar"
        ],
        "summary": "Lista kalendrar",
        "description": "Hämta en lista över alla kalendrar för det autentiserade aliaset. Denna slutpunkt stöder paginering och returnerar kalendrar i CalDAV-format.",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kalendrar"
        ],
        "summary": "Skapa kalender",
        "description": "Skapa en ny kalender. Kalendernamnet är obligatoriskt, medan andra egenskaper som färg, tidszon och beskrivning är valfria. Om en kalender med samma namn redan finns kommer ett konfliktfel att returneras.",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "Kalendrar"
        ],
        "summary": "Hämta kalender",
        "description": "Hämta en specifik kalender via dess ID. Kalendern returneras med alla dess egenskaper inklusive namn, beskrivning, färg, tidszon och ordning.",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Kalendrar"
        ],
        "summary": "Uppdatera kalendern",
        "description": "Uppdatera en befintlig kalender. Du kan uppdatera alla kalenderegenskaper, inklusive namn, beskrivning, färg, tidszon och ordning. Om du ändrar namnet till ett som redan finns kommer ett konfliktfel att returneras.",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kalendrar"
        ],
        "summary": "Ta bort kalender",
        "description": "Ta bort en specifik kalender permanent. Den här åtgärden kan inte ångras och kommer även att ta bort alla händelser i kalendern.",
        "operationId": "deleteCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar deleted successfully",
            "content": {
              "application/json": {
                "schema": {
[...]
