{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Ласкаво просимо до вичерпної документації API для пересилання електронної пошти. Цей API дозволяє вам програмно керувати пересиланням електронної пошти, доменами, псевдонімами, вихідними електронними листами та іншим.\n\n## Основні функції\n* **Керування доменами:** Створення, отримання, оновлення, видалення та перевірка доменів.\n* **Керування псевдонімами:** Керування псевдонімами електронної пошти, включаючи створення, оновлення та керування одержувачами.\n* **Вихідний SMTP:** Надсилання електронних листів через SMTP, керування обмеженнями та відстеження надісланих листів.\n* **Обліковий запис та журнали:** Керування даними облікового запису та завантаження журналів активності.\n* **Безпека:** Шифрування записів TXT та керування учасниками/запрошеннями домену.\n* **Контакти CardDAV:** Повні операції CRUD для керування контактами з підтримкою vCard.\n* **Календарі CalDAV:** Повне керування календарем з підтримкою часового поясу та кольору.\n* **Повідомлення IMAP/POP3:** Комплексне керування повідомленнями з розширеними можливостями пошуку.\n* **Папки IMAP/POP3:** Повне керування папками, включаючи створення, перейменування та видалення.\n\n## Автентифікація\nБільшість кінцевих точок вимагають автентифікації за допомогою вашого **ключа API**. Вкажіть ключ API як `ім'я користувача` у заголовку базової автентифікації, залишаючи поле пароля порожнім.\n\n```http\nАвторизація: Базова QVBJX1RPS0VOOg==\n```\n(Замініть `API_TOKEN` на ваш фактичний ключ перед кодуванням Base64)\n\nКінцеві точки, пов'язані з **Псевдонімами контактів, календарів, повідомлень та папок**, вимагають згенерованого псевдоніма імені користувача та пароля для базової автентифікації.\n\n## Помилки\nAPI використовує стандартні коди стану HTTP для позначення успіху або невдачі. Відповіді на помилки включають тіло JSON з полем `message` з детальним описом помилки.\n\n| Код стану | Значення |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Неправильний запит |\n| 401 | Неавторизовано |\n| 403 | Заборонено |\n| 404 | Не знайдено |\n| 409 | Конфлікт |\n| 412 | Попередня умова не виконана |\n| 429 | Забагато запитів |\n| 500 | Внутрішня помилка сервера|\n| 501 | Не реалізовано |\n| 502 | Поганий шлюз |\n| 503 | Служба недоступна |\n| 504 | Час очікування шлюзу минув |\n\n*Якщо ви зіткнулися з помилкою `5xx`, зверніться до [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Локалізація\nВідповіді API перекладаються на основі виявленої локалізації користувача або заголовка `Accept-Language`. Підтримується понад 25 мов.\n\n## Пагінація\nСписки повернення кінцевих точок підтримують пагінацію за допомогою параметрів запиту.\n\n| Параметр | Тип | Необов'язково | Опис | За замовчуванням | Обмеження |\n|--------------|----------|-----------|-----------|-------------------------------------------------------------------------------------|---------|---------------------|\n| `page` | Ціле число | Так | Номер сторінки для отримання. | 1 | `>= 1` |\n| `limit` | Ціле число | Так | Кількість результатів на сторінці. | 25 | `>= 1`, `<= 100` |\n| `pagination` | Логічне значення | Так | Увімкнути пагінацію (обов'язково до 1 листопада 2024 року для деяких кінцевих точок). | false | |\n\n**Заголовки пагінації:**\n* `X-Page-Count`: Загальна кількість сторінок.\n* `X-Page-Current`: Поточний номер сторінки.\n\n* `X-Page-Size`: Кількість елементів на поточній сторінці.\n* `X-Item-Count`: Загальна кількість елементів на всіх сторінках.\n* `Link`: Посилання навігації (попереднє, наступне, перше, останнє).\n\n**Приклад:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Рекомендовані бібліотеки\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Підтримується Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Сервер API пересилання електронної пошти"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nВикористовуйте свій ключ API як **ім'я користувача** для базової автентифікації. Залиште поле пароля порожнім.\n\n**Приклад:**\nЯкщо ваш ключ API — `YOUR_API_KEY`, значення Base64 для заголовка `Authorization` буде таким: `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nАвторизація: Базова WU9VUl9BUELfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nВикористовуйте згенеровані **псевдонім імені користувача та пароль** для базової автентифікації. Це стосується кінцевих точок у розділах:\n* Псевдонім контактів (CardDAV)\n* Псевдонім календарів (CalDAV)\n* Псевдонім повідомлень (IMAP/POP3)\n* Псевдонім папок (IMAP/POP3)\n\n**Приклад:**\nЯкщо псевдонім імені користувача — `alias@domain.com`, а пароль — `GENERATED_PASSWORD`, значення в кодуванні Base64 буде `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nАвторизація: Базова YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Повідомлення про помилку"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Ідентифікатор псевдоніма"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Тип об'єкта"
          },
          "name": {
            "type": "string",
            "description": "Псевдонім (локальна частина електронної пошти)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Повний псевдонім електронної адреси"
          },
          "domain_id": {
            "type": "string",
            "description": "Ідентифікатор домену"
          },
          "domain_name": {
            "type": "string",
            "description": "Доменне ім'я"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Використано пам'ять у байтах для цього псевдоніма/поштової скриньки"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Квота сховища в байтах для цього псевдоніма/поштової скриньки"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Чи ввімкнено IMAP для цього псевдоніма"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Чи ввімкнено шифрування PGP"
          },
          "public_key": {
            "type": "string",
            "description": "Відкритий ключ PGP, якщо доступний"
          },
          "locale": {
            "type": "string",
            "description": "Налаштування мови"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Мітка часу створення"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Позначка часу останнього оновлення"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Ідентифікатор контакту (contact_id з CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "UID контакту"
          },
          "full_name": {
            "type": "string",
            "description": "Повне ім'я контактної особи"
          },
          "content": {
            "type": "string",
            "description": "вміст vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag для керування версіями"
          },
          "is_group": {
            "type": "boolean",
            "description": "Чи є контакт групою"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Масив адрес електронної пошти"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Масив номерів телефонів"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Вміст vCard (якщо не надано, буде згенеровано з інших полів)"
          },
          "full_name": {
            "type": "string",
            "description": "Повне ім'я контактної особи"
          },
          "contact_id": {
            "type": "string",
            "description": "Користувацький ідентифікатор контакту (якщо його не вказано, буде згенеровано автоматично)"
          },
          "uid": {
            "type": "string",
            "description": "UID контакту (якщо не вказано, буде згенеровано автоматично)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Масив адрес електронної пошти"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Масив номерів телефонів"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Масив номерів телефонів (псевдонім для phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Масив адрес"
          },
          "is_group": {
            "type": "boolean",
            "description": "Чи є контакт групою"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "вміст vCard"
          },
          "full_name": {
            "type": "string",
            "description": "Повне ім'я контактної особи"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Масив адрес електронної пошти"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Масив номерів телефонів"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Масив номерів телефонів (псевдонім для phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Масив адрес"
          },
          "is_group": {
            "type": "boolean",
            "description": "Чи є контакт групою"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Ідентифікатор календаря (calendarId від CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Назва календаря"
          },
          "description": {
            "type": "string",
            "description": "Опис календаря"
          },
          "color": {
            "type": "string",
            "description": "Колір календаря (шістнадцятковий формат)"
          },
          "timezone": {
            "type": "string",
            "description": "Часовий пояс календаря"
          },
          "order": {
            "type": "integer",
            "description": "Порядок відображення календаря"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Назва календаря"
          },
          "calendar_id": {
            "type": "string",
            "description": "Ідентифікатор власного календаря (якщо його не вказано, буде згенеровано автоматично)"
          },
          "description": {
            "type": "string",
            "description": "Опис календаря"
          },
          "color": {
            "type": "string",
            "description": "Колір календаря (шістнадцятковий формат, якщо його не вказано, буде згенеровано автоматично)"
          },
          "timezone": {
            "type": "string",
            "description": "Часовий пояс календаря (за замовчуванням використовується часовий пояс користувача або UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Порядок відображення календаря (за замовчуванням — 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Назва календаря"
          },
          "description": {
            "type": "string",
            "description": "Опис календаря"
          },
          "color": {
            "type": "string",
            "description": "Колір календаря (шістнадцятковий формат)"
          },
          "timezone": {
            "type": "string",
            "description": "Часовий пояс календаря"
          },
          "order": {
            "type": "integer",
            "description": "Порядок відображення календаря"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Ідентифікатор події календаря (eventId з CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "Ідентифікатор календаря, до якого належить ця подія"
          },
          "ical": {
            "type": "string",
            "description": "Дані iCalendar (RFC 5545) для події"
          },
          "summary": {
            "type": "string",
            "description": "Назва/короткий зміст події (взято з даних iCal)"
          },
          "description": {
            "type": "string",
            "description": "Опис події (взято з даних iCal)"
          },
          "location": {
            "type": "string",
            "description": "Місце події (отримано з даних iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Дата/час початку події (отримано з даних iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Дата/час завершення події (отримано з даних iCal)"
          },
          "uid": {
            "type": "string",
            "description": "Унікальний ідентифікатор з даних iCal"
          },
          "status": {
            "type": "string",
            "description": "Статус події (отримано з даних iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "Організатор події (отримано з даних iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Мітка часу м’якого видалення"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Ідентифікатор календаря, до якого потрібно додати подію"
          },
          "event_id": {
            "type": "string",
            "description": "Ідентифікатор користувацької події (якщо не вказано, буде згенеровано автоматично)"
          },
          "ical": {
            "type": "string",
            "description": "Дані iCalendar (RFC 5545) для події. Має бути у дійсному форматі iCal."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Перенести подію до іншого календаря"
          },
          "ical": {
            "type": "string",
            "description": "Оновлено дані iCalendar (RFC 5545) для події"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Ідентифікатор папки"
          },
          "path": {
            "type": "string",
            "description": "Повний шлях до папки"
          },
          "name": {
            "type": "string",
            "description": "Ім'я папки (остання частина шляху)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Шлях до батьківської папки"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Дійсність UID IMAP"
          },
          "uid_next": {
            "type": "integer",
            "description": "Наступне значення UID"
          },
          "modify_index": {
            "type": "integer",
            "description": "Індекс модифікації"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Чи підписана папка"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Прапорці папок"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Термін зберігання повідомлень"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Позначення спеціального використання"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Шлях/ім'я папки"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Новий шлях/ім'я папки"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Ідентифікатор повідомлення"
          },
          "root_id": {
            "type": "string",
            "description": "Ідентифікатор кореневого повідомлення для потоків"
          },
          "folder_id": {
            "type": "string",
            "description": "Ідентифікатор папки, що містить повідомлення"
          },
          "folder_path": {
            "type": "string",
            "description": "Шлях до папки, що містить повідомлення"
          },
          "thread_id": {
            "type": "string",
            "description": "Ідентифікатор теми для групи розмов"
          },
          "header_message_id": {
            "type": "string",
            "description": "Значення заголовка Message-ID"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Чи є повідомлення непрочитаним"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Чи позначено повідомлення прапорцем"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Чи видалено повідомлення"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Чи є повідомлення чернеткою"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Чи є повідомлення небажаною/спамом"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Чи копіюється повідомлення"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Чи можна шукати повідомлення"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Чи закінчився термін дії повідомлення"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Чи містить повідомлення вкладення"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Дата зберігання повідомлення"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Внутрішня дата (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Дата із заголовків повідомлення"
          },
          "subject": {
            "type": "string",
            "description": "Тема повідомлення"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Прапори IMAP"
          },
          "size": {
            "type": "integer",
            "description": "Розмір повідомлення в байтах"
          },
          "uid": {
            "type": "integer",
            "description": "Універсальний ідентифікатор IMAP"
          },
          "modseq": {
            "type": "integer",
            "description": "Послідовність модифікацій"
          },
          "transaction": {
            "type": "string",
            "description": "Тип транзакції"
          },
          "remote_address": {
            "type": "string",
            "description": "Віддалена IP-адреса"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Мітка часу створення повідомлення"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Мітка часу останнього оновлення повідомлення"
          },
          "nodemailer": {
            "type": "object",
            "description": "Розібраний об'єкт повідомлення (включено за замовчуванням, встановіть ?nodemailer=false для виключення)"
          },
          "raw": {
            "type": "string",
            "description": "Необроблений вміст повідомлення (включено за замовчуванням, встановіть ?raw=false, щоб виключити)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Адреса електронної пошти відправника"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Адреси електронної пошти одержувачів"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Адреси електронної пошти одержувачів копій"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Адреси електронної пошти одержувачів прихованої копії"
          },
          "subject": {
            "type": "string",
            "description": "Тема повідомлення"
          },
          "text": {
            "type": "string",
            "description": "Звичайний текстовий контент"
          },
          "html": {
            "type": "string",
            "description": "HTML-контент"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Вкладення до повідомлень (формат Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "Цільова папка (за замовчуванням — ВХІДНІ)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Прапорці IMAP, які потрібно встановити для повідомлення"
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Прапорці IMAP, які потрібно встановити для повідомлення"
          },
          "folder": {
            "type": "string",
            "description": "Перемістити повідомлення до цієї папки"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Адреса електронної пошти відправника (має існувати як псевдонім домену)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Список або масив одержувачів, розділених комами, для заголовка «Кому»."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Список або масив одержувачів, розділених комами, для заголовка «Копія»."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Список або масив одержувачів, розділених комами, для заголовка «Прихована копія»."
          },
          "subject": {
            "type": "string",
            "description": "Тема електронного листа."
          },
          "text": {
            "type": "string",
            "description": "Відкритий текст повідомлення."
          },
          "html": {
            "type": "string",
            "description": "HTML-версія повідомлення."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Масив об'єктів вкладень (див. загальні поля Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Адреса електронної пошти для заголовка «Відправник»."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Адреса електронної пошти для заголовка «Відповісти»."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Ідентифікатор повідомлення, на яке відповідає повідомлення."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Список або масив ідентифікаторів повідомлень, розділених пробілами."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Якщо значення true, перетворює дані: зображення у HTML-вмісті на вбудовані вкладення."
          },
          "watchHtml": {
            "type": "string",
            "description": "HTML-версія повідомлення, специфічна для Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Специфічна для AMP4EMAIL HTML-версія повідомлення."
          },
          "icalEvent": {
            "type": "object",
            "description": "Подія iCalendar як альтернативний вміст повідомлення."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Масив альтернативного вмісту повідомлення."
          },
          "encoding": {
            "type": "string",
            "description": "Кодування тексту та рядків HTML (наприклад, «utf-8», «hex», «base64»)."
          },
          "raw": {
            "type": "string",
            "description": "Повідомлення, згенероване на замовлення у форматі RFC822 (замість використання генерації Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Для текстових значень примусово використано кодування."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Рівень пріоритету для електронного листа."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Об'єкт або масив додаткових полів заголовка."
          },
          "messageId": {
            "type": "string",
            "description": "Необов’язковий ідентифікатор повідомлення для заголовка «Ідентифікатор повідомлення»."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Необов’язковий заголовок дати. Дата не може бути більше ніж через 30 днів у майбутньому."
          },
          "list": {
            "type": "object",
            "description": "Необов'язковий об'єкт заголовків List-*."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Повне доменне ім'я (FQDN) або IP-адреса"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Призначити тій самій команді з іншого домену; може бути ідентифікатором домену або повним доменом (FQDN). Використовуйте \"none\" для явного вимкнення."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Тип плану (за замовчуванням «безкоштовний» або поточний платний план користувача)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Список адрес електронної пошти з роздільниками (комами, пробілами або символами нового рядка)"
              }
            ],
            "description": "Створити загальнодоступний псевдонім за замовчуванням (за замовчуванням значення true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Увімкнути захист від контенту для дорослих за допомогою сканера спаму"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Увімкнути захист від фішингу за допомогою сканера спаму"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Увімкнути захист виконуваного файлу сканера спаму"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Увімкнути захист від вірусів сканера спаму"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Вимагати від одержувачів псевдонімів натискання посилання для підтвердження електронної пошти"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ігнорувати перевірку запису MX для розширених налаштувань маршрутизації пошти"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Увімкніть збереження заголовків і метаданих (за винятком вмісту повідомлення) для успішно пересланих, надісланих через вебхуки, вихідних електронних листів SMTP та IMAP, а журнали зберігатимуться протягом 7 днів. Ця функція допомагає вам контролювати та усувати несправності доставки електронної пошти, отримуючи детальну інформацію про успішні передачі."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Кількість днів для зберігання вихідних журналів SMTP (0–30, за замовчуванням: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL-адреса вебхука для отримання подій відмов"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Вимкнути вебхук відмов"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Максимальна квота сховища на псевдонім (наприклад, «1 ГБ»)"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Спеціальний порт для налаштування переадресації SMTP (за замовчуванням — «25»)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Чи вмикати захист від контенту для дорослих за допомогою сканера спаму на цьому домені"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Чи вмикати захист від фішингу за допомогою сканера спаму на цьому домені"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Чи вмикати захист виконуваного файлу Spam Scanner на цьому домені"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Чи вмикати захист від вірусів Spam Scanner на цьому домені"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Глобальне значення домену за замовчуванням, яке визначає, чи вимагати від одержувачів псевдонімів натискання посилання для підтвердження електронної пошти для надсилання електронних листів."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Чи ігнорувати перевірку запису MX на домені для підтвердження (головним чином для розширених налаштувань маршрутизації MX)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Увімкніть збереження заголовків і метаданих (за винятком вмісту повідомлення) для успішно пересланих, надісланих через вебхуки, вихідних електронних листів SMTP та IMAP, а журнали зберігатимуться протягом 7 днів. Ця функція допомагає вам контролювати та усувати несправності доставки електронної пошти, отримуючи детальну інформацію про успішні передачі."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Кількість днів для зберігання вихідних SMTP-повідомлень (0 = негайно видаляти)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL-адреса вебхука для отримання сповіщень про відмову або значення false для вимкнення"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Квота сховища для кожного псевдоніма (наприклад, «1 ГБ», розбита на байти)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Псевдонім (якщо не вказано або поле порожнє, то генерується випадковий псевдонім)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Рядок дійсних адрес електронної пошти, повних доменів (FQDN), IP-адрес або URL-адрес вебхуків, розділений розривами рядка/пробілами/комами"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Масив дійсних одержувачів"
              }
            ],
            "description": "Список одержувачів. Якщо не вказано або поле порожнє, за замовчуванням використовується електронна адреса запитувача."
          },
          "description": {
            "type": "string",
            "description": "Опис псевдоніма"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Рядок міток, розділений розривом рядка/пробілом/комою"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Масив міток"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Вимагати від одержувачів натискання посилання для підтвердження (за замовчуванням використовується налаштування домену)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Увімкнути чи вимкнути цей псевдонім"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Код помилки, якщо псевдонім вимкнено. За замовчуванням — 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Увімкнути або вимкнути сховище IMAP для цього псевдоніма"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Увімкнути або вимкнути шифрування OpenPGP для цього псевдоніма"
          },
          "public_key": {
            "type": "string",
            "description": "Відкритий ключ OpenPGP у форматі ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Максимальна квота сховища (наприклад, «1 ГБ»)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Увімкнення або вимкнення автоматичної відповіді у відпустці"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Дата початку (наприклад, «РРРР-ММ-ДД») для автовідповідача у відпустці"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Дата завершення (наприклад, «РРРР-ММ-ДД») для автовідповідача у відпустці"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Тема повідомлення про відпустку у відкритому тексті"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Текстове повідомлення для автоматичної відповіді у відпустці"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Псевдонім"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Рядок дійсних адрес електронної пошти, повних доменів (FQDN), IP-адрес або URL-адрес вебхуків, розділений розривами рядка/пробілами/комами"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Масив дійсних одержувачів"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Опис псевдоніма"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Рядок міток, розділений розривом рядка/пробілом/комою"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Масив міток"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Вимагати від одержувачів натискання посилання для підтвердження (за замовчуванням використовується налаштування домену)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Увімкнути або вимкнути псевдонім"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Код помилки, який потрібно використовувати, якщо псевдонім вимкнено (за замовчуванням — 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Увімкнення або вимкнення сховища IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Увімкнення або вимкнення шифрування OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Відкритий ключ OpenPGP у форматі ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Максимальна квота сховища (наприклад, «1 ГБ»)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Увімкнення або вимкнення автоматичної відповіді у відпустці"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Дата початку роботи автовідповідача (наприклад, РРРР-ММ-ДД)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Дата завершення автоматичної відповіді (наприклад, РРРР-ММ-ДД)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Тема відповіді на відпустку у відкритому тексті"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Відкритий текст повідомлення автовідповідача у відпустці"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Ваш новий пароль для псевдоніма"
          },
          "password": {
            "type": "string",
            "description": "Існуючий пароль для псевдоніма, щоб змінити його без видалення сховища поштової скриньки"
          },
          "is_override": {
            "type": "boolean",
            "description": "Перевизначити існуючий пароль та видалити сховище IMAP (використовувати з обережністю)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Адреса електронної пошти для надсилання псевдоніма, пароля та інструкцій з налаштування"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Поточна кількість надісланих електронних листів"
          },
          "limit": {
            "type": "integer",
            "description": "Максимальна дозволена кількість електронних листів"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Ідентифікатор учасника"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Адреса електронної пошти учасника"
          },
          "role": {
            "type": "string",
            "description": "Роль учасника"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Запрошена адреса електронної пошти"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Сторінка результатів, яку потрібно повернути. Якщо не вказано, значення буде 1. Має бути числом більше або рівним 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Кількість результатів, які потрібно повернути на сторінці. За замовчуванням 25, якщо не вказано. Має бути числом більше або рівним 1 та менше або рівним 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Підключіться до пагінації до 1 листопада 2024 року",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Ідентифікатор домену",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Ідентифікатор псевдоніма",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Ідентифікатор учасника",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Ідентифікатор електронної пошти",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Ідентифікатор контакту",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Ідентифікатор календаря",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Ідентифікатор папки або шлях",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Ідентифікатор повідомлення",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Обліковий запис"
        ],
        "summary": "Отримати обліковий запис",
        "description": "Отримати інформацію про ваш обліковий запис.\n\n**Автентифікація:** Ця кінцева точка підтримує автентифікацію як за допомогою токенів API, так і за допомогою псевдонімів облікових даних.\n\n- **Обліковий запис користувача (токен API):** Після автентифікації за допомогою вашого токена API ця кінцева точка повертає інформацію про ваш обліковий запис користувача, включаючи деталі плану, електронну пошту та токен API.\n\n- **Псевдонім облікового запису (псевдонім облікових даних):** Після автентифікації за допомогою псевдонімів облікових даних (електронна пошта та згенерований пароль) ця кінцева точка повертає інформацію про псевдонім/поштову скриньку, включаючи використаний обсяг сховища, квоту сховища та налаштування поштової скриньки. Це корисно для клієнтів IMAP/POP3/CalDAV/CardDAV для перевірки стану сховища.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Обліковий запис"
        ],
        "summary": "Оновити обліковий запис",
        "description": "Оновіть інформацію свого облікового запису.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "Відображуване ім'я"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Налаштування мови"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Контакти"
        ],
        "summary": "Список контактів",
        "description": "Отримати список усіх контактів для автентифікованого псевдоніма. Ця кінцева точка підтримує пагінацію та повертає контакти у форматі CardDAV.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Контакти"
        ],
        "summary": "Створити контакт",
        "description": "Створіть новий контакт. Ви можете надати або безпосередньо вміст vCard, або окремі поля контакту, які будуть конвертовані у формат vCard. Якщо контакт із таким самим ідентифікатором вже існує, буде повернуто помилку конфлікту.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "Контакти"
        ],
        "summary": "Отримати контакт",
        "description": "Отримати певний контакт за його ідентифікатором. Контакт повертається у стандартному форматі контакту з вмістом vCard та проаналізованими полями.",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Контакти"
        ],
        "summary": "Оновити контакт",
        "description": "Оновіть існуючий контакт. Ви можете надати або оновлений вміст vCard, або окремі поля для оновлення. VCard контакту буде створено повторно, якщо окремі поля будуть надані.",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Контакти"
        ],
        "summary": "Видалити контакт",
        "description": "Видалити певний контакт назавжди. Цю дію не можна скасувати.",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "Календарі"
        ],
        "summary": "Список календарів",
        "description": "Отримати список усіх календарів для автентифікованого псевдоніма. Ця кінцева точка підтримує пагінацію та повертає календарі у форматі CalDAV.",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Календарі"
        ],
        "summary": "Створити календар",
        "description": "Створіть новий календар. Назва календаря є обов’язковою, а інші властивості, такі як колір, часовий пояс та опис, є необов’язковими. Якщо календар із такою назвою вже існує, буде повернуто помилку конфлікту.",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "Календарі"
        ],
        "summary": "Отримати календар",
        "description": "Отримати певний календар за його ідентифікатором. Календар повертається з усіма його властивостями, включаючи назву, опис, колір, часовий пояс та порядок.",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Календарі"
        ],
        "summary": "Оновити календар",
        "description": "Оновлення існуючого календаря. Ви можете оновити будь-які властивості календаря, включаючи назву, опис, колір, часовий пояс і порядок. Якщо ви зміните назву на таку, що вже існує, буде повернуто помилку конфлікту.",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
[...]
