{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Forward Email에 대한 포괄적인 API 설명서에 오신 것을 환영합니다. 이 API를 사용하면 이메일 전달, 도메인, 별칭, 발신 이메일 등을 프로그래밍 방식으로 관리할 수 있습니다.\n\n## 주요 기능\n* **도메인 관리:** 도메인을 생성, 검색, 업데이트, 삭제 및 확인할 수 있습니다.\n* **별칭 관리:** 생성, 업데이트 및 수신자 관리를 포함하여 이메일 별칭을 관리할 수 있습니다.\n* **발신 SMTP:** SMTP를 통해 이메일을 전송하고, 한도를 관리하고, 전송된 이메일을 추적할 수 있습니다.\n* **계정 및 로그:** 계정 정보를 관리하고 활동 로그를 다운로드할 수 있습니다.\n* **보안:** TXT 레코드를 암호화하고 도메인 구성원/초대를 관리할 수 있습니다.\n* **곧 제공 예정:** CardDAV 연락처, CalDAV 캘린더, IMAP/POP3 메시지/폴더 관리와 같은 기능이 추가될 예정입니다.\n\n## 인증\n대부분의 엔드포인트는 **API 키**를 사용한 인증을 요구합니다. 기본 인증 헤더에 API 키를 `username`으로 입력하고 비밀번호는 비워 두세요.\n\n```http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(`API_TOKEN`을 Base64 인코딩 전의 실제 키로 바꾸세요.)\n\n**별칭 연락처, 캘린더, 메시지 및 폴더**(현재 \"곧 제공 예정\"으로 표시됨)와 관련된 엔드포인트는 기본 인증에 생성된 별칭 사용자 이름과 비밀번호를 사용합니다.\n\n## 오류\nAPI는 표준 HTTP 상태 코드를 사용하여 성공 또는 실패를 나타냅니다. 오류 응답에는 오류를 자세히 설명하는 `message` 필드가 있는 JSON 본문이 포함됩니다.\n\n| 상태 코드 | 의미 |\n|-------------|---------------------|\n| 200 | 정상 |\n| 400 | 잘못된 요청 |\n| 401 | 권한 없음 |\n| 403 | 금지됨 |\n| 404 | 찾을 수 없음 |\n| 429 | 요청이 너무 많음 |\n| 500 | 내부 서버 오류 |\n| 501 | 구현되지 않음 |\n| 502 | 잘못된 게이트웨이 |\n| 503 | 서비스를 사용할 수 없음 |\n| 504 | 게이트웨이 시간 초과 |\n\n*`5xx` 오류가 발생하면 [api@forwardemail.net](mailto:api@forwardemail.net)으로 문의해 주세요.*\n\n## 현지화\nAPI 응답은 사용자가 감지한 로캘 또는 `Accept-Language` 헤더를 기반으로 번역됩니다. 25개 이상의 언어가 지원됩니다.\n\n## 페이지 매김\n목록을 반환하는 엔드포인트는 쿼리 매개변수를 통한 페이지 매김을 지원합니다.\n\n| 매개변수 | 유형 | 선택 사항 | 설명 | 기본값 | 제약 조건 |\n|--------------|---------|----------|-----------------------------------------------------------------------------|---------|--------------------|\n| `page` | 정수 | 예 | 검색할 페이지 번호입니다. | 1 | `>= 1` |\n| `limit` | 정수 | 예 | 페이지당 결과 수입니다. | 10 | `>= 1`, `<= 50` |\n| `pagination` | 부울 | 예 | 페이지 매김 동작 옵트인(일부 엔드포인트의 경우 2024년 11월 1일 이전 필수). | false | |\n\n**페이지 매김 헤더:**\n* `X-Page-Count`: 총 페이지 수입니다.\n* `X-Page-Current`: 현재 페이지 번호입니다.\n* `X-Page-Size`: 현재 페이지의 항목 수입니다.\n* `X-Item-Count`: 모든 페이지의 총 항목 수입니다.\n* `링크`: 탐색 링크(이전, 다음, 처음, 마지막).\n\n**예:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## 추천 라이브러리\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Forward Email에서 관리)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "이메일 전달 API 서버"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\n기본 인증의 **사용자 이름**으로 API 키를 사용하세요. 비밀번호 필드는 비워 두세요.\n\n**예:**\nAPI 키가 `YOUR_API_KEY`인 경우, `Authorization` 헤더의 Base64 인코딩 값은 `echo -n \"YOUR_API_KEY:\" | base64`입니다.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\n기본 인증에는 생성된 **별칭 사용자 이름과 비밀번호**를 사용하세요. 이는 다음 엔드포인트에 적용됩니다.\n* 별칭 연락처(CardDAV)\n* 별칭 캘린더(CalDAV)\n* 별칭 메시지(IMAP/POP3)\n* 별칭 폴더(IMAP/POP3)\n\n*(참고: 이 기능은 현재 \"출시 예정\"으로 표시되어 있습니다.)*\n\n**예:**\n별칭 사용자 이름이 `alias@domain.com`이고 비밀번호가 `GENERATED_PASSWORD`인 경우, Base64로 인코딩된 값은 `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`입니다.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "오류 메시지"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "발신자의 이메일 주소(도메인의 별칭으로 존재해야 함)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "'받는 사람' 헤더에 대한 쉼표로 구분된 목록 또는 수신자 배열입니다."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "'Cc' 헤더에 대한 수신자 목록(쉼표로 구분) 또는 배열입니다."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "'Bcc' 헤더에 대한 수신자 목록(쉼표로 구분) 또는 배열입니다."
          },
          "subject": {
            "type": "string",
            "description": "이메일의 제목."
          },
          "text": {
            "type": "string",
            "description": "메시지의 평문 버전."
          },
          "html": {
            "type": "string",
            "description": "메시지의 HTML 버전입니다."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "첨부 파일 객체의 배열(Nodemailer의 일반 필드 참조)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "'발신자' 헤더에 대한 이메일 주소입니다."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "'답장' 헤더에 대한 이메일 주소입니다."
          },
          "inReplyTo": {
            "type": "string",
            "description": "메시지가 답장되는 메시지 ID입니다."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "공백으로 구분된 목록 또는 메시지 ID 배열입니다."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "true인 경우, HTML 콘텐츠의 이미지를 내장된 첨부 파일로 변환합니다."
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch 전용 HTML 버전의 메시지입니다."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL 전용 HTML 버전의 메시지입니다."
          },
          "icalEvent": {
            "type": "object",
            "description": "대체 메시지 콘텐츠로서의 iCalendar 이벤트."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "대체 메시지 콘텐츠의 배열입니다."
          },
          "encoding": {
            "type": "string",
            "description": "텍스트 및 HTML 문자열에 대한 인코딩(예: 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "사용자 정의 RFC822 형식 메시지 생성(Nodemailer 생성 대신)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "텍스트 값에 강제로 인코딩을 사용하도록 했습니다."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "이메일의 우선순위 수준입니다."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "추가 헤더 필드의 객체 또는 배열입니다."
          },
          "messageId": {
            "type": "string",
            "description": "'Message-ID' 헤더에 대한 선택적 Message-ID입니다."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "선택 사항인 날짜 헤더입니다. 최대 30일 후까지만 입력하세요."
          },
          "list": {
            "type": "object",
            "description": "List-* 헤더의 선택적 객체입니다."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "정규화된 도메인 이름(FQDN) 또는 IP 주소"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "다른 도메인에서 동일한 팀에 할당합니다. 도메인 ID 또는 FQDN일 수 있습니다. 명시적으로 비활성화하려면 \"none\"을 사용하세요."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "플랜 유형(기본값은 '무료' 또는 사용자의 현재 유료 플랜)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "구분 기호로 구분된 이메일 주소 목록(쉼표, 공백 또는 줄 바꿈으로 구분)"
              }
            ],
            "description": "기본 포괄적 별칭을 만듭니다(기본값은 true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "스팸 스캐너 성인 콘텐츠 보호 활성화"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "스팸 스캐너 피싱 보호 활성화"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "스팸 스캐너 실행 파일 보호 활성화"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "스팸 스캐너 바이러스 보호 활성화"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "별칭 수신자에게 이메일 확인 링크를 클릭하도록 요구"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "고급 메일 라우팅 설정에 대한 MX 레코드 확인 무시"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "아웃바운드 SMTP 로그를 보관할 일 수(0~30, 기본값: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "바운스 이벤트를 수신하기 위한 웹훅 URL"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "바운스 웹훅 비활성화"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "별칭당 최대 저장 할당량(예: '1GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "SMTP 전달을 위해 구성할 사용자 지정 포트(기본값은 '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "이 도메인에서 스팸 스캐너 성인 콘텐츠 보호를 활성화할지 여부"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "이 도메인에서 스팸 스캐너 피싱 보호를 활성화할지 여부"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "이 도메인에서 스팸 스캐너 실행 파일 보호를 활성화할지 여부"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "이 도메인에서 스팸 스캐너 바이러스 보호 기능을 활성화할지 여부"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "이메일이 통과하기 위해 별칭 수신자가 이메일 확인 링크를 클릭해야 하는지 여부에 대한 글로벌 도메인 기본값"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "도메인의 MX 레코드 확인을 무시할지 여부(주로 고급 MX 라우팅 설정의 경우)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "아웃바운드 SMTP 이메일을 저장하는 일 수(0 = 즉시 삭제)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "반송 알림을 수신하려면 Webhook URL을 지정하고, 비활성화하려면 false를 지정합니다."
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "별칭당 저장 할당량(예: '1GB', 바이트로 구문 분석)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "별칭 이름(제공되지 않거나 비어 있는 경우 무작위 별칭이 생성됩니다)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "줄 바꿈/공백/쉼표로 구분된 유효한 이메일 주소, FQDN, IP 또는 웹훅 URL 문자열"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "유효한 수신자 배열"
              }
            ],
            "description": "수신자 목록입니다. 제공되지 않거나 비어 있는 경우 요청자의 이메일로 기본 설정됩니다."
          },
          "description": {
            "type": "string",
            "description": "별칭 설명"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "줄 바꿈/공백/쉼표로 구분된 레이블 문자열"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "라벨 배열"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "수신자에게 확인 링크를 클릭하도록 요구(기본값은 도메인 설정)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "이 별칭을 활성화할지 비활성화할지 여부"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "별칭이 비활성화된 경우의 오류 코드입니다. 기본값은 250입니다."
          },
          "has_imap": {
            "type": "boolean",
            "description": "이 별칭에 대한 IMAP 저장소를 활성화하거나 비활성화합니다."
          },
          "has_pgp": {
            "type": "boolean",
            "description": "이 별칭에 대해 OpenPGP 암호화를 활성화하거나 비활성화합니다."
          },
          "public_key": {
            "type": "string",
            "description": "ASCII Armor 형식의 OpenPGP 공개 키"
          },
          "max_quota": {
            "type": "string",
            "description": "저장 공간 최대 할당량(예: '1GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "휴가 응답 활성화 또는 비활성화"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "휴가 응답자의 시작 날짜(예: 'YYYY-MM-DD')"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "휴가 응답자의 종료 날짜(예: 'YYYY-MM-DD')"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "휴가 응답을 위한 평문 제목"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "휴가 응답자를 위한 일반 텍스트 메시지"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "별칭"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "줄 바꿈/공백/쉼표로 구분된 유효한 이메일 주소, FQDN, IP 또는 웹훅 URL 문자열"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "유효한 수신자 배열"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "별칭 설명"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "줄 바꿈/공백/쉼표로 구분된 레이블 문자열"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "라벨 배열"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "수신자에게 확인 링크를 클릭하도록 요구(기본값은 도메인 설정)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "별칭 활성화 또는 비활성화"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "별칭이 비활성화된 경우 사용할 오류 코드(기본값은 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP 저장소 활성화 또는 비활성화"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP 암호화 활성화 또는 비활성화"
          },
          "public_key": {
            "type": "string",
            "description": "ASCII Armor 형식의 OpenPGP 공개 키"
          },
          "max_quota": {
            "type": "string",
            "description": "저장 최대 할당량(예: '1GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "휴가 응답 활성화 또는 비활성화"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "휴가 응답 시작 날짜(예: YYYY-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "휴가 응답자 종료 날짜(예: YYYY-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "휴가 응답자의 평문 제목"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "휴가 응답자의 평문 메시지"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "별칭에 사용할 사용자 지정 새 비밀번호"
          },
          "password": {
            "type": "string",
            "description": "별칭에 대한 기존 비밀번호를 사서함 저장소를 삭제하지 않고 변경할 수 있습니다."
          },
          "is_override": {
            "type": "boolean",
            "description": "기존 비밀번호를 재정의하고 IMAP 저장소를 삭제합니다(신중하게 사용하세요)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "별칭 비밀번호와 설정 지침을 보낼 이메일 주소"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "현재 전송된 이메일 수"
          },
          "limit": {
            "type": "integer",
            "description": "허용되는 최대 이메일 수"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "회원 ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "회원님의 이메일 주소"
          },
          "role": {
            "type": "string",
            "description": "회원의 역할"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "초대된 이메일 주소"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "반환할 결과 페이지입니다. 지정하지 않으면 값은 1이 됩니다. 1 이상의 숫자여야 합니다.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "페이지당 반환할 결과 수입니다. 지정하지 않으면 기본값은 10입니다. 1 이상 50 이하의 숫자여야 합니다.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "2024년 11월 1일 이전에 페이지네이션에 참여하세요",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "도메인 ID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "ID 별칭",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "회원 ID",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "이메일 ID",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "계정 생성",
        "description": "새로운 사용자 계정을 만듭니다",
        "tags": [
          "계정"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "이메일 주소"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "비밀번호"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "계정 검색",
        "description": "현재 사용자의 계정 정보를 검색합니다",
        "tags": [
          "계정"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "계정 업데이트",
        "description": "현재 사용자의 계정 정보를 업데이트합니다",
        "tags": [
          "계정"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "이메일 주소"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "이름"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "성"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "아바타 이미지에 대한 링크"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "로그 다운로드",
        "description": "**로그 다운로드**\n\n설명: 저희 API를 사용하면 프로그래밍 방식으로 계정의 로그를 다운로드할 수 있습니다. 이 엔드포인트에 요청을 제출하면 계정의 모든 로그가 처리되고, 완료되면 Gzip으로 압축된 CSV 스프레드시트 파일인 첨부 파일로 이메일로 전송됩니다.\n\n이를 통해 Cron 작업이나 Node.js 작업 스케줄링 소프트웨어 Bree를 사용하여 백그라운드 작업을 생성하여 원하는 시간에 로그를 수신할 수 있습니다. 이 엔드포인트는 하루에 `10`개의 요청으로 제한됩니다.\n\n첨부 파일은 `email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz`의 소문자 형식이며, 이메일 자체에는 검색된 로그에 대한 간략한 요약이 포함되어 있습니다.",
        "tags": [
          "로그"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "정규화된 도메인(\"FQDN\")으로 로그를 필터링합니다. FQDN을 지정하지 않으면 모든 도메인의 모든 로그가 검색됩니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "이메일, 도메인, 별칭 이름, IP 주소 또는 날짜(M/Y, M/D/YY, M-D, M-D-YY 또는 M.D.YY 형식)로 로그를 검색합니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "특정 반송 카테고리(예: \"차단목록\")로 로그를 검색합니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "특정 오류 응답 코드(예: 421 또는 550)로 로그를 검색합니다.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "아웃바운드 SMTP 이메일 나열",
        "description": "**발신 SMTP 이메일 나열**\n\n이 엔드포인트는 이메일의 `message`, `headers`, `rejectedErrors` 속성 값을 반환하지 않습니다.\n\n이러한 속성과 값을 반환하려면 이메일 ID와 함께 [이메일 검색](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) 엔드포인트를 사용하세요.",
        "tags": [
          "이메일"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "메타데이터로 이메일을 검색합니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "도메인 이름으로 이메일을 검색합니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "특정 필드를 기준으로 정렬합니다(하이픈 하나만 접두사로 사용하면 해당 필드의 역방향으로 정렬). 설정하지 않으면 created_at이 기본값으로 사용됩니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "자세한 내용은 페이지 매김을 참조하세요.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "자세한 내용은 페이지 매김을 참조하세요.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "아웃바운드 SMTP 이메일 생성",
        "description": "이메일 생성을 위한 API는 Nodemailer의 메시지 옵션 구성에서 영감을 받아 이를 활용합니다. 아래 모든 본문 매개변수는 [Nodemailer 메시지 구성](https://nodemailer.com/message/)을 참조하세요.\n\n`envelope` 및 `dkim`(자동으로 설정됨)을 제외한 모든 Nodemailer 옵션을 지원합니다. 보안을 위해 `disableFileAccess` 및 `disableUrlAccess` 옵션은 `true`로 자동 설정됩니다.\n\n헤더를 포함한 전체 원시 이메일과 함께 `raw` 옵션 하나를 전달하거나, 아래에 개별 본문 매개변수 옵션을 전달해야 합니다.\n\n이 API 엔드포인트는 헤더에 이모지가 있는 경우 자동으로 인코딩합니다(예: `Subject: 🤓 Hello`라는 제목은 `Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello`로 자동 변환됨). 우리의 목표는 개발자에게 매우 친화적이고 더미 테스트가 가능한 이메일 API를 만드는 것이었습니다.",
        "tags": [
          "이메일"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "아웃바운드 SMTP 이메일 제한 가져오기",
        "description": "이는 각 계정별로 일일 SMTP 발신 메시지 수에 대한 `count`와 `limit`를 포함하는 JSON 객체를 반환하는 간단한 엔드포인트입니다.",
        "tags": [
          "이메일"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "아웃바운드 SMTP 이메일 검색",
        "description": "특정 아웃바운드 SMTP 이메일을 검색합니다.",
        "tags": [
          "이메일"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "아웃바운드 SMTP 이메일 삭제",
        "description": "이메일을 삭제하면 현재 상태가 \"보류 중\", \"대기 중\" 또는 \"지연됨\" 중 하나인 경우에만 상태가 \"거부됨\"으로 설정되고 대기열에서 처리되지 않습니다. 이메일은 생성 및/또는 발송 후 30일이 지나면 자동으로 삭제될 수 있으므로 클라이언트, 데이터베이스 또는 애플리케이션에 발신 SMTP 이메일 사본을 보관해야 합니다. 필요한 경우 데이터베이스에서 이메일 ID 값을 참조할 수 있습니다. 이 값은 [이메일 생성](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email) 및 [이메일 검색](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) 엔드포인트 모두에서 반환됩니다.",
        "tags": [
          "이메일"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "도메인 목록",
        "description": "> [!NOTE]\n>2024년 11월 1일부터 목록 도메인 및 목록 도메인 별칭에 대한 API 엔드포인트는 페이지당 최대 결과 수가 `1000개`로 기본 설정됩니다. 이 동작을 미리 적용하려면 엔드포인트 쿼리 URL에 추가 쿼리 문자열 매개변수로 `?paginate=true`를 전달하면 됩니다. 자세한 내용은 페이지네이션을 참조하세요.",
        "tags": [
          "도메인"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "메타데이터로 도메인을 검색합니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "도메인 이름으로 도메인을 검색하세요.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "특정 필드를 기준으로 정렬합니다(하이픈 하나만 접두사로 사용하면 해당 필드의 역방향으로 정렬). 설정하지 않으면 created_at이 기본값으로 사용됩니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "자세한 내용은 페이지 매김을 참조하세요.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "자세한 내용은 페이지 매김을 참조하세요.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "도메인 생성",
        "description": "시스템에 새 도메인을 생성합니다. 이 엔드포인트를 사용하면 플랫폼에서 사용할 정규화된 도메인 이름(FQDN) 또는 IP 주소를 등록할 수 있습니다.\n\n선택적인 구성 옵션으로는 기존 팀에 도메인 할당, 플랜 유형 설정(예: 무료, 강화된 보호 또는 팀), 스팸 필터링, 바이러스 검사, 수신자 확인과 같은 고급 보호 기능 구성이 있습니다. 또한 기본적으로 포괄 별칭을 생성할지 여부를 구성하고, SMTP 실패 시 사용자 지정 반송 웹훅 URL을 설정하고, 이 도메인의 이메일 별칭에 대한 저장 공간 할당량 한도를 정의할 수 있습니다. 이 엔드포인트는 도메인 수준의 유효성 검사 및 프로비저닝을 수행합니다. `ignore_mx_check` 옵션을 활성화하면 MX 레코드 확인이 건너뜁니다(고급 라우팅 설정에만 권장). 응답에는 구성에 필요한 DNS 레코드를 포함하여 생성된 도메인 개체에 대한 전체 정보가 포함됩니다.",
        "tags": [
          "도메인"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "도메인 검색",
        "description": "특정 도메인 검색",
        "tags": [
          "도메인"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "도메인 업데이트",
        "description": "특정 도메인을 업데이트합니다.",
        "tags": [
          "도메인"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "도메인 삭제",
        "description": "특정 도메인을 삭제합니다.",
        "tags": [
          "도메인"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "도메인 레코드 확인",
        "description": "특정 도메인에 대한 DNS 레코드를 확인합니다.",
        "tags": [
          "도메인"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "도메인 SMTP 레코드 확인",
        "description": "지정된 도메인에 대한 SMTP 관련 DNS 레코드를 확인합니다.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "도메인"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "검증을 위한 정규화된 도메인 이름(FQDN)",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "도메인 전체에 적용되는 포괄적인 비밀번호 생성",
        "description": "도메인 전체에 적용되는 포괄적인 비밀번호를 생성합니다. 비밀번호를 제공하지 않으면 안전한 무작위 비밀번호가 생성됩니다.",
        "tags": [
          "도메인"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "포괄적인 비밀번호를 생성하기 위한 도메인 이름"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "도메인 전체의 포괄적인 비밀번호에 사용할 사용자 지정 새 비밀번호입니다. 강력한 비밀번호를 생성하려면 비워 두세요."
                  },
                  "description": {
                    "type": "string",
                    "description": "이 설명은 조직 목적으로만 사용됩니다."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "도메인 전체의 포괄적인 비밀번호 나열",
        "description": "지정된 도메인에 현재 구성되어 있는 도메인 전체의 포괄적인 비밀번호 목록을 반환합니다.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "도메인"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "포괄적인 비밀번호를 나열할 정규화된 도메인 이름(FQDN)",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "도메인 전체의 포괄적인 비밀번호 제거",
        "description": "제공된 토큰 ID를 사용하여 도메인 전체의 포괄적인 비밀번호를 삭제합니다.",
        "tags": [
          "도메인"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "캐치올 비밀번호와 연관된 도메인 이름"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "삭제할 도메인 전체 포괄 비밀번호의 토큰 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "도메인 초대 수락",
        "description": "도메인 초대를 수락합니다.",
        "tags": [
          "초대합니다"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "도메인 초대 만들기",
        "description": ">[!IMPORTANT]\n>초대되는 사용자가 이미 다른 도메인의 승인된 회원이고, 초대하는 관리자가 회원으로 등록되어 있는 경우, 초대는 자동으로 승인되고 이메일은 발송되지 않습니다.",
        "tags": [
          "초대합니다"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "도메인 회원 목록에 초대할 이메일 주소"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "사용자를 도메인 멤버십에 추가할 그룹(`\"admin\"` 또는 `\"user\"` 중 하나일 수 있음)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "도메인 초대 제거",
        "description": "도메인에 대한 초대를 제거합니다.",
        "tags": [
          "초대합니다"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "도메인 회원 목록에서 제거할 이메일 주소"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "도메인 멤버 업데이트",
        "description": "도메인 멤버를 업데이트합니다.",
        "tags": [
          "회원들"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "사용자를 도메인 멤버십으로 업데이트할 그룹(`\"admin\"` 또는 `\"user\"` 중 하나일 수 있음)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "도메인 멤버 제거",
        "description": "도메인 구성원을 제거합니다.",
        "tags": [
          "회원들"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "별칭 비밀번호 생성",
        "description": "별칭에 대한 비밀번호를 생성합니다. `emailed_instructions`가 제공되지 않으면 생성된 사용자 이름과 비밀번호가 응답에 포함됩니다.",
        "tags": [
          "별칭"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "정규화된 도메인 이름(FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "별칭의 고유 식별자"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "도메인 별칭 나열",
        "description": ">[!NOTE]\n>2024년 11월 1일부터 `도메인 목록` 및 `도메인 별칭 목록` API 엔드포인트는 페이지당 최대 결과 수가 `1,000개`로 기본 설정됩니다. 이 기능을 미리 사용하려면 엔드포인트 쿼리 URL에 `?paginate=true`를 추가 쿼리 문자열 매개변수로 전달하면 됩니다. 자세한 내용은 페이지네이션을 참조하세요.",
        "tags": [
          "별칭"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "이름, 레이블 또는 수신자를 기준으로 도메인의 별칭 검색(RegExp 지원)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "이름으로 도메인의 별칭 검색(RegExp 지원)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "수신자별로 도메인의 별칭 검색(RegExp 지원)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "특정 필드를 기준으로 정렬합니다(하이픈 하나만 접두사로 사용하면 역순으로 정렬). 기본값은 created_at입니다.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "새 도메인 별칭 만들기",
        "description": "특정 도메인에 대한 새로운 별칭을 만듭니다.",
        "tags": [
          "별칭"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "도메인 별칭 검색",
        "description": "도메인에 대한 특정 별칭을 검색합니다.",
        "tags": [
          "별칭"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "도메인 별칭 업데이트",
        "description": "도메인의 특정 별칭을 업데이트합니다.",
        "tags": [
          "별칭"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "도메인 별칭 삭제",
        "description": "도메인의 특정 별칭을 삭제합니다.",
        "tags": [
          "별칭"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "TXT 레코드 암호화",
        "description": "무료 플랜에서도 기록 암호화를 무료로 제공합니다. 개인정보 보호는 단순한 기능이 아니라 제품의 모든 측면에 기본적으로 내장되어야 합니다. [개인정보 보호 가이드 토론](https://discuss.privacyguides.net/t/forward-email-email-provider/13370)과 [GitHub 이슈](https://github.com/forwardemail/forwardemail.net/issues/254)에서 많은 요청이 있었기에 이 기능을 추가했습니다.",
        "tags": [
          "암호화"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "유효한 전달 이메일 일반 텍스트 TXT 레코드"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "연락처 목록",
        "description": "모든 연락처를 나열합니다(CardDAV). 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 연락처"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "연락처 만들기",
        "description": "새 연락처(CardDAV)를 만드세요. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 연락처"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "연락처 ID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "연락처 검색",
        "description": "특정 연락처(CardDAV)를 검색합니다. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 연락처"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "연락처 업데이트",
        "description": "특정 연락처(CardDAV)를 업데이트합니다. 이 엔드포인트는 곧 출시될 예정입니다.",
        "tags": [
          "별칭 연락처"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "연락처 삭제",
        "description": "특정 연락처(CardDAV)를 삭제합니다. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 연락처"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "summary": "캘린더 목록",
        "description": "모든 캘린더를 나열합니다(CalDAV). 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 캘린더"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "캘린더 만들기",
        "description": "새 캘린더(CalDAV)를 만드세요. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 캘린더"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "캘린더 ID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "달력 검색",
        "description": "특정 캘린더(CalDAV)를 가져옵니다. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 캘린더"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "캘린더 업데이트",
        "description": "특정 캘린더(CalDAV)를 업데이트합니다. 이 엔드포인트는 곧 출시될 예정입니다.",
        "tags": [
          "별칭 캘린더"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "캘린더 삭제",
        "description": "특정 캘린더(CalDAV)를 삭제합니다. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 캘린더"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "get": {
        "summary": "메시지 나열 및 검색",
        "description": "메시지(IMAP/POP3)를 나열하고 검색할 수 있습니다. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 메시지"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "메시지 작성",
        "description": "새 메시지(IMAP/POP3)를 만드세요. 이 기능은 이메일을 전송하는 것이 아니라, 메시지를 사서함 폴더에 추가하는 기능만 제공합니다(IMAP APPEND 명령과 유사). 이 기능은 곧 제공될 예정입니다.",
        "tags": [
          "별칭 메시지"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "메시지 ID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "메시지 검색",
        "description": "특정 메시지(IMAP/POP3)를 가져옵니다. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 메시지"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "메시지 업데이트",
        "description": "특정 메시지(IMAP/POP3)를 업데이트합니다. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 메시지"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "메시지 삭제",
        "description": "특정 메시지(IMAP/POP3)를 삭제합니다. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 메시지"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/folders": {
      "get": {
        "summary": "폴더 목록",
        "description": "모든 폴더(IMAP/POP3)를 나열합니다. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 폴더"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "폴더 만들기",
        "description": "새 폴더(IMAP/POP3)를 만드세요. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 폴더"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/folders/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "폴더 ID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "폴더 검색",
        "description": "특정 폴더(IMAP/POP3)를 가져옵니다. 이 엔드포인트는 곧 제공될 예정입니다.",
        "tags": [
          "별칭 폴더"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
[...]
