{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Üdvözöljük az Email továbbítása átfogó API dokumentációjában. Ez az API lehetővé teszi az e-mail továbbításának, domainek, aliasok, kimenő e-mailek és egyebek programozott kezelését.\n\n## Főbb jellemzők\n* **Domainkezelés:** Domainek létrehozása, lekérése, frissítése, törlése és ellenőrzése.\n* **Aliaskezelés:** E-mail aliasok kezelése, beleértve a létrehozást, a frissítéseket és a címzettek kezelését.\n* **Kimenő SMTP:** E-mailek küldése SMTP-n keresztül, korlátok kezelése és az elküldött e-mailek nyomon követése.\n* **Fiók és naplók:** Fiókadatok kezelése és tevékenységnaplók letöltése.\n* **Biztonság:** TXT rekordok titkosítása és domain tagok/meghívók kezelése.\n* **CardDAV névjegyek:** Teljes CRUD műveletek a névjegyek kezeléséhez vCard támogatással.\n* **CalDAV naptárak:** Teljes naptárkezelés időzóna- és színtámogatással.\n* **IMAP/POP3 üzenetek:** Átfogó üzenetkezelés fejlett keresési lehetőségekkel.\n* **IMAP/POP3 mappák:** Teljes mappakezelés, beleértve a létrehozást, átnevezést és törlést.\n\n## Hitelesítés\nA legtöbb végpont hitelesítést igényel az **API-kulccsal**. Adja meg az API-kulcsot `felhasználónév`-ként az Alapvető hitelesítés fejlécben, a jelszó mezőt hagyja üresen.\n\n```http\nEngedélyezés: Alap QVBJX1RPS0VOOg==\n```\n(Cserélje ki az `API_TOKEN`-t a tényleges kulcsára a Base64 kódolás előtt)\n\nAz **Névjegyek, Naptárak, Üzenetek és Mappák** aliasokhoz kapcsolódó végpontok generált alias felhasználónevet és jelszót igényelnek az Alapvető hitelesítéshez.\n\n## Hibák\nAz API szabványos HTTP állapotkódokat használ a siker vagy a sikertelenség jelzésére. A hibaválaszok egy JSON törzset tartalmaznak egy `üzenet` mezővel, amely részletezi a hibát.\n\n| Állapotkód | Jelentés |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Hibás kérés |\n| 401 | Jogosulatlan |\n| 403 | Tiltott |\n| 404 | Nem található |\n| 409 | Ütközés |\n| 412 | Előfeltétel sikertelen |\n| 429 | Túl sok kérés |\n| 500 | Belső szerverhiba|\n| 501 | Nincs megvalósítva |\n| 502 | Hibás átjáró |\n| 503 | Szolgáltatás nem érhető el |\n| 504 | Átjáró időtúllépése |\n\n*Ha `5xx` hibát tapasztal, kérjük, vegye fel a kapcsolatot a [api@forwardemail.net](mailto:api@forwardemail.net) címen.*\n\n## Lokalizáció\nAz API-válaszok a felhasználó által észlelt területi beállítás vagy az `Accept-Language` fejléc alapján kerülnek lefordításra. Több mint 25 nyelv támogatott.\n\n## Lapozás\nA listákat visszaadó végpontok támogatják a lapozást lekérdezési paramétereken keresztül.\n\n| Paraméter | Típus | Opcionális | Leírás | Alapértelmezett | Korlátozások |\n|---------------|----------|----------|------------------------------------------------------------------------|---------|-------------------------|\n| `oldal` | Egész szám | Igen | A lekérendő oldalszám. | 1 | `>= 1` |\n| `korlát` | Egész szám | Igen | Oldalankénti eredmények száma. | 25 | `>= 1`, `<= 100` |\n| `oldalszámozás` | Logikai érték | Igen | Oldalszámozási viselkedés engedélyezése (egyes végpontokhoz 2024. november 1. előtt kötelező). | false | |\n\n**Oldalszámozási fejlécek:**\n* `X-Page-Count`: Teljes oldalszám.\n* `X-Page-Current`: Aktuális oldalszám.\n* `X-Page-Size`: Az aktuális oldalon található elemek száma.\n* `X-Item-Count`: Az összes oldalon található elemek teljes száma.\n* `Link`: Navigációs linkek (előző, következő, első, utolsó).\n\n**Példa:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Ajánlott függvénykönyvtárak\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Karbantartó: Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "E-mail továbbítási API-kiszolgáló"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nHasználja az API-kulcsát **felhasználónévként** az alapvető hitelesítéshez. A jelszó mezőt hagyja üresen.\n\n\n**Példa:**\nHa az API-kulcsa a `YOUR_API_KEY`, akkor az `Authorization` fejléc Base64 kódolású értéke `echo -n \"YOUR_API_KEY:\" | base64` lesz.\n\n\n```http\nEngedélyezés: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nHasználja a létrehozott **alias felhasználónevet és jelszót** az alapvető hitelesítéshez. Ez a következő végpontokra vonatkozik:\n* Alias névjegyek (CardDAV)\n* Alias naptárak (CalDAV)\n* Alias üzenetek (IMAP/POP3)\n* Alias mappák (IMAP/POP3)\n\n**Példa:**\nHa az alias felhasználónév `alias@domain.com` és a jelszó `GENERATED_PASSWORD`, akkor a Base64 kódolású érték `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64` lenne.\n\n```http\nEngedélyezés: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Hibaüzenet"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Alias azonosító"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Objektumtípus"
          },
          "name": {
            "type": "string",
            "description": "Alias név (e-mail helyi része)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Teljes alias e-mail cím"
          },
          "domain_id": {
            "type": "string",
            "description": "Domain azonosító"
          },
          "domain_name": {
            "type": "string",
            "description": "Domain név"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Az alias/postafiók által használt tárhely bájtban"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Tárolási kvóta bájtban ehhez az aliashoz/postafiókhoz"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Az IMAP engedélyezve van-e ehhez az aliashoz."
          },
          "has_pgp": {
            "type": "boolean",
            "description": "PGP titkosítás engedélyezve van-e"
          },
          "public_key": {
            "type": "string",
            "description": "PGP nyilvános kulcs, ha elérhető"
          },
          "locale": {
            "type": "string",
            "description": "Helyi beállítás"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Létrehozási időbélyeg"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Utolsó frissítés időbélyege"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kapcsolattartó azonosítója (contact_id a CardDAV-ból)"
          },
          "uid": {
            "type": "string",
            "description": "Kapcsolattartó UID-ja"
          },
          "full_name": {
            "type": "string",
            "description": "Kapcsolattartó teljes neve"
          },
          "content": {
            "type": "string",
            "description": "vCard-tartalom"
          },
          "etag": {
            "type": "string",
            "description": "ETag a verziókezeléshez"
          },
          "is_group": {
            "type": "boolean",
            "description": "A kontakt csoport-e"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "E-mail címek tömbje"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Telefonszámok tömbje"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard tartalom (ha nincs megadva, akkor más mezőkből generálódik)"
          },
          "full_name": {
            "type": "string",
            "description": "Kapcsolattartó teljes neve"
          },
          "contact_id": {
            "type": "string",
            "description": "Egyéni kapcsolattartó azonosító (ha nincs megadva, automatikusan generálódik)"
          },
          "uid": {
            "type": "string",
            "description": "Kapcsolattartói UID (ha nincs megadva, automatikusan generálódik)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "E-mail címek tömbje"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Telefonszámok tömbje"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Telefonszámok tömbje (a phone_numbers aliasa)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Címek tömbje"
          },
          "is_group": {
            "type": "boolean",
            "description": "A kontakt csoport-e"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-tartalom"
          },
          "full_name": {
            "type": "string",
            "description": "Kapcsolattartó teljes neve"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "E-mail címek tömbje"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Telefonszámok tömbje"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Telefonszámok tömbje (a phone_numbers aliasa)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Címek tömbje"
          },
          "is_group": {
            "type": "boolean",
            "description": "A kontakt csoport-e"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Naptárazonosító (calendarId a CalDAV-tól)"
          },
          "name": {
            "type": "string",
            "description": "Naptár neve"
          },
          "description": {
            "type": "string",
            "description": "Naptár leírása"
          },
          "color": {
            "type": "string",
            "description": "Naptár színe (hex formátum)"
          },
          "timezone": {
            "type": "string",
            "description": "Naptár időzónája"
          },
          "order": {
            "type": "integer",
            "description": "Naptár megjelenítési sorrendje"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Naptár neve"
          },
          "calendar_id": {
            "type": "string",
            "description": "Egyéni naptár azonosító (ha nincs megadva, automatikusan generálódik)"
          },
          "description": {
            "type": "string",
            "description": "Naptár leírása"
          },
          "color": {
            "type": "string",
            "description": "Naptár színe (hexadecimális formátum, ha nincs megadva, automatikusan generálódik)"
          },
          "timezone": {
            "type": "string",
            "description": "Naptár időzónája (alapértelmezés szerint a felhasználó időzónája vagy UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Naptár megjelenítési sorrendje (alapértelmezett érték: 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Naptár neve"
          },
          "description": {
            "type": "string",
            "description": "Naptár leírása"
          },
          "color": {
            "type": "string",
            "description": "Naptár színe (hex formátum)"
          },
          "timezone": {
            "type": "string",
            "description": "Naptár időzónája"
          },
          "order": {
            "type": "integer",
            "description": "Naptár megjelenítési sorrendje"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Naptári esemény azonosítója (eventId a CalDAV-ból)"
          },
          "calendar_id": {
            "type": "string",
            "description": "Az eseményhez tartozó naptár azonosítója"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar (RFC 5545) adatok az eseményhez"
          },
          "summary": {
            "type": "string",
            "description": "Esemény címe/összefoglalója (iCal adatokból kinyerve)"
          },
          "description": {
            "type": "string",
            "description": "Esemény leírása (iCal adatokból kinyerve)"
          },
          "location": {
            "type": "string",
            "description": "Esemény helyszíne (iCal adatokból kinyerve)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Esemény kezdési dátuma/ideje (iCal adatokból kinyerve)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Esemény befejezési dátuma/ideje (iCal adatokból kinyerve)"
          },
          "uid": {
            "type": "string",
            "description": "Egyedi azonosító az iCal adatokból"
          },
          "status": {
            "type": "string",
            "description": "Esemény állapota (iCal adatokból kinyerve)"
          },
          "organizer": {
            "type": "string",
            "description": "Eseményszervező (iCal adatokból kinyerve)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Lágy törlés időbélyege"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Annak a naptárnak az azonosítója, amelyhez az eseményt hozzá kell adni"
          },
          "event_id": {
            "type": "string",
            "description": "Egyéni eseményazonosító (ha nincs megadva, automatikusan generálódik)"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar (RFC 5545) adatok az eseményhez. Érvényes iCal formátumban kell lennie."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Esemény áthelyezése másik naptárba"
          },
          "ical": {
            "type": "string",
            "description": "Frissített iCalendar (RFC 5545) adatok az eseményhez"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Mappa azonosítója"
          },
          "path": {
            "type": "string",
            "description": "Teljes mappaútvonal"
          },
          "name": {
            "type": "string",
            "description": "Mappa neve (az elérési út utolsó része)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Szülőmappa elérési útja"
          },
          "uid_validity": {
            "type": "integer",
            "description": "IMAP UID érvényesség"
          },
          "uid_next": {
            "type": "integer",
            "description": "Következő UID érték"
          },
          "modify_index": {
            "type": "integer",
            "description": "Módosítási index"
          },
          "subscribed": {
            "type": "boolean",
            "description": "A mappa feliratkozása"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Mappajelzők"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Üzenetmegőrzési időszak"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Különleges felhasználási megnevezés"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Mappa elérési útja/neve"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Új mappa elérési útja/neve"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Üzenetazonosító"
          },
          "root_id": {
            "type": "string",
            "description": "Szálkezelés gyökérüzenet-azonosítója"
          },
          "folder_id": {
            "type": "string",
            "description": "Az üzenetet tartalmazó mappaazonosító"
          },
          "folder_path": {
            "type": "string",
            "description": "Az üzenetet tartalmazó mappa elérési útja"
          },
          "thread_id": {
            "type": "string",
            "description": "Beszélgetéscsoport azonosítója"
          },
          "header_message_id": {
            "type": "string",
            "description": "Üzenetazonosító fejlécérték"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Az üzenet olvasatlan-e"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Megjelölt üzenet"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Az üzenet törlődik-e"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Az üzenet vázlat-e"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Az üzenet levélszemét/spam-e"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Hogy az üzenet másolva van-e"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Az üzenet kereshető-e"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Az üzenet lejárt-e"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Hogy az üzenet tartalmaz-e mellékleteket"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Üzenetmegőrzési dátum"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Belső dátum (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Üzenetfejlécekből származó dátum"
          },
          "subject": {
            "type": "string",
            "description": "Üzenet tárgya"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-jelzők"
          },
          "size": {
            "type": "integer",
            "description": "Üzenet mérete bájtban"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP UID"
          },
          "modseq": {
            "type": "integer",
            "description": "Módosítási sorrend"
          },
          "transaction": {
            "type": "string",
            "description": "Tranzakció típusa"
          },
          "remote_address": {
            "type": "string",
            "description": "Távoli IP-cím"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Üzenet létrehozásának időbélyege"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Üzenet utolsó frissítésének időbélyege"
          },
          "nodemailer": {
            "type": "object",
            "description": "Elemzett üzenetobjektum (alapértelmezés szerint benne van, a kizáráshoz állítsa be a ?nodemailer=false értéket)"
          },
          "raw": {
            "type": "string",
            "description": "Nyers üzenettartalom (alapértelmezés szerint tartalmazza, a kizáráshoz állítsa be a ?raw=false értéket)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Feladó e-mail címe"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Címzett e-mail címei"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Másolatot kapó címzettek e-mail címei"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Titkos másolatot kapó címzettek e-mail címei"
          },
          "subject": {
            "type": "string",
            "description": "Üzenet tárgya"
          },
          "text": {
            "type": "string",
            "description": "Sima szöveges tartalom"
          },
          "html": {
            "type": "string",
            "description": "HTML-tartalom"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Üzenetmellékletek (Nodemailer formátum)"
          },
          "folder": {
            "type": "string",
            "description": "Célmappa (alapértelmezés szerint a BEJELENTKEZŐK mappa)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "IMAP-jelzők beállítása az üzenethez"
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-jelzők beállítása az üzenethez"
          },
          "folder": {
            "type": "string",
            "description": "Üzenet áthelyezése ebbe a mappába"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "A feladó e-mail címe (léteznie kell a domain aliasaként)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Vesszővel elválasztott lista vagy címzettek tömbje a „Címzett” fejléchez."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Vesszővel elválasztott lista vagy címzettek tömbje a „Másolatot kap” fejléchez."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Vesszővel elválasztott lista vagy címzettek tömbje a „Titkos másolat” fejléchez."
          },
          "subject": {
            "type": "string",
            "description": "Az e-mail tárgya."
          },
          "text": {
            "type": "string",
            "description": "Az üzenet sima szöveges változata."
          },
          "html": {
            "type": "string",
            "description": "Az üzenet HTML-verziója."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Mellékletobjektumok tömbje (lásd a Nodemailer közös mezőit)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "A „Feladó” fejléchez tartozó e-mail cím."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "A „Válasz” fejléchez tartozó e-mail cím."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Az üzenet azonosítója, amelyre a válaszüzenet vonatkozik."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Szóközökkel elválasztott lista vagy üzenetazonosítók tömbje."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Ha igaz, akkor a HTML tartalomban található data: image-eket beágyazott mellékletekké alakítja."
          },
          "watchHtml": {
            "type": "string",
            "description": "Az üzenet Apple Watch-specifikus HTML-verziója."
          },
          "amp": {
            "type": "string",
            "description": "Az üzenet AMP4EMAIL-specifikus HTML-verziója."
          },
          "icalEvent": {
            "type": "object",
            "description": "Egy iCalendar esemény alternatív üzenettartalomként."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Alternatív üzenettartalom tömbje."
          },
          "encoding": {
            "type": "string",
            "description": "A szöveg és a HTML-karakterláncok kódolása (pl. 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Egyedileg generált RFC822 formátumú üzenet (a Nodemailer generálása helyett)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Szöveges értékekhez kötelező a kódolás használata."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Az e-mail prioritási szintje."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "További fejlécmezők objektuma vagy tömbje."
          },
          "messageId": {
            "type": "string",
            "description": "Opcionális üzenetazonosító a „Message-ID” fejléchez."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Opcionális dátum fejléc. Nem lehet 30 napnál régebbi a jövőben."
          },
          "list": {
            "type": "object",
            "description": "A List-* fejlécek opcionális objektuma."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Teljesen minősített domainnév (FQDN) vagy IP-cím"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Hozzárendelés ugyanahhoz a csapathoz egy másik domainből; lehet domain azonosító vagy FQDN. A „nincs” beállítással explicit módon letiltható."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Csomag típusa (alapértelmezés szerint „ingyenes” vagy a felhasználó aktuális fizetős csomagja)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "E-mail címek elválasztott listája (vesszővel, szóközzel vagy sortöréssel elválasztva)"
              }
            ],
            "description": "Hozz létre egy alapértelmezett gyűjtőaliast (alapértelmezett értéke igaz)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Spam Scanner felnőtt tartalom elleni védelem engedélyezése"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Spam Scanner adathalászat elleni védelem engedélyezése"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Spam Scanner futtatható fájlvédelmének engedélyezése"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Spam Scanner vírusvédelem engedélyezése"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Az alias címzetteknek kötelező az e-mail-ellenőrző linkre kattintás"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "MX rekordok ellenőrzésének figyelmen kívül hagyása a speciális levelezési útválasztási beállításoknál"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Iratkozzon fel a sikeresen továbbított, webhookon keresztül elküldött, kimenő SMTP és IMAP útján kézbesített e-mailek fejléceinek és metaadatainak (az üzenet tartalmának kivételével) tárolására, a naplókat 7 napig megőrzve. Ez a funkció segít az e-mail-kézbesítési teljesítmény monitorozásában és hibaelhárításában, részletes betekintést nyújtva a sikeres küldésekbe."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "A kimenő SMTP-naplók megőrzésének napjainak száma (0–30, alapértelmezett: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhook URL a visszapattanási események fogadásához"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Visszapattanó webhook letiltása"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Maximális tárhelykvóta aliasonként (pl. '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Egyéni port az SMTP továbbításhoz konfiguráláshoz (alapértelmezett: '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Engedélyezze-e a Spam Scanner felnőtt tartalomvédelmét ezen a domainen"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Engedélyezze-e a Spam Scanner adathalászat elleni védelmét ezen a domainen"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Engedélyezze-e a Spam Scanner futtatható fájlvédelmét ezen a domainen"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Engedélyezze-e a Spam Scanner vírusvédelmet ezen a domainen"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Globális domain alapértelmezett beállítása, amely meghatározza, hogy az alias címzetteknek rá kell-e kattintaniuk egy e-mail ellenőrző linkre az e-mailek fogadásához."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Hogy figyelmen kívül hagyja-e az MX rekordok ellenőrzését a domainen az ellenőrzés során (főleg speciális MX útválasztási beállítások esetén)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Iratkozzon fel a sikeresen továbbított, webhookon keresztül elküldött, kimenő SMTP és IMAP útján kézbesített e-mailek fejléceinek és metaadatainak (az üzenet tartalmának kivételével) tárolására, a naplókat 7 napig megőrzve. Ez a funkció segít az e-mail-kézbesítési teljesítmény monitorozásában és hibaelhárításában, részletes betekintést nyújtva a sikeres küldésekbe."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "A kimenő SMTP e-mailek tárolásának napjainak száma (0 = azonnali törlés)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhook URL a visszapattanási értesítések fogadásához, vagy hamis a letiltáshoz"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Tárhelykvóta aliasonként (pl. „1 GB”, bájtokra elemezve)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias név (ha nincs megadva, vagy üres, akkor egy véletlenszerű alias generálódik)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Érvényes e-mail címek, FQDN-ek, IP-címek vagy webhook URL-ek sortöréssel/szóközzel/vesszővel elválasztott karakterlánca"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Érvényes címzettek tömbje"
              }
            ],
            "description": "Címzettek listája. Ha nincs megadva vagy üres, akkor a kérelmező e-mail címe lesz az alapértelmezett érték."
          },
          "description": {
            "type": "string",
            "description": "Álnév leírása"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sortöréssel/szóközzel/vesszővel elválasztott címkék"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Címkék tömbje"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "A címzetteknek meg kell kattintaniuk az ellenőrző linkre (alapértelmezett a domainbeállítás)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Engedélyezze vagy tiltsa le ezt az aliast"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Hibakód, ha az alias le van tiltva. Alapértelmezés szerint 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-tárolás engedélyezése vagy letiltása ehhez az aliashoz"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP titkosítás engedélyezése vagy letiltása ehhez az aliashoz"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP nyilvános kulcs ASCII Armor formátumban"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximális tárhelykvóta (pl. „1 GB”)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Szabadidős válasz engedélyezése vagy letiltása"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "A vakációs válasz kezdő dátuma (pl. „ÉÉÉÉ-HH-NN”)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "A vakációs válasz befejezési dátuma (pl. „ÉÉÉÉ-HH-NN”)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Egyszerű szöveges tárgy az automatikus válaszhoz"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Egyszerű szöveges üzenet az automatikus válaszhoz"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Álnév"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Érvényes e-mail címek, FQDN-ek, IP-címek vagy webhook URL-ek sortöréssel/szóközzel/vesszővel elválasztott karakterlánca"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Érvényes címzettek tömbje"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Álnév leírása"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sortöréssel/szóközzel/vesszővel elválasztott címkék"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Címkék tömbje"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "A címzetteknek meg kell kattintaniuk az ellenőrző linkre (alapértelmezett a domainbeállítás)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Alias engedélyezése vagy letiltása"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Hibakód, amelyet akkor kell használni, ha az alias le van tiltva (alapértelmezett érték 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-tárolás engedélyezése vagy letiltása"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP titkosítás engedélyezése vagy letiltása"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP nyilvános kulcs ASCII Armor formátumban"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximális tárhelykvóta (pl. „1 GB”)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Szabadidős válasz engedélyezése vagy letiltása"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Automatikus válaszadás kezdési dátuma (pl. ÉÉÉÉ-HH-NN)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Automatikus válasz küldésének befejezési dátuma (pl. ÉÉÉÉ-HH-NN)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Vakációs válasz sima szöveges tárgya"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Vakációs válasz egyszerű szöveges üzenete"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Az aliashoz használandó új egyéni jelszavad"
          },
          "password": {
            "type": "string",
            "description": "Az alias meglévő jelszava a postaláda tárhelyének törlése nélkül módosítható"
          },
          "is_override": {
            "type": "boolean",
            "description": "A meglévő jelszó felülbírálása és az IMAP-tárhely törlése (óvatosan használja)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-mail cím, ahová az alias jelszavát és a beállítási utasításokat küldeni lehet"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Az elküldött e-mailek jelenlegi száma"
          },
          "limit": {
            "type": "integer",
            "description": "Maximálisan engedélyezett e-mailek száma"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Tagsági azonosító"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Tag e-mail címe"
          },
          "role": {
            "type": "string",
            "description": "A tag szerepe"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Meghívott e-mail cím"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "A visszaadandó eredmények oldala. Ha nincs megadva, az érték 1 lesz. 1-nél nagyobb vagy azzal egyenlő számnak kell lennie.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Oldalanként visszaadandó találatok száma. Alapértelmezés szerint 25, ha nincs megadva. 1-nél nagyobb vagy egyenlő, és 100-nál kisebb vagy egyenlő számnak kell lennie.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Iratkozzon fel a lapozásra 2024. november 1. előtt",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Domain azonosító",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias azonosító",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Tagsági azonosító",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "E-mail azonosító",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kapcsolattartó azonosítója",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Naptár azonosítója",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Mappaazonosító vagy elérési út",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Üzenetazonosító",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Fiók"
        ],
        "summary": "Fiók lekérése",
        "description": "Fiókadatok lekérése.\n\n**Hitelesítés:** Ez a végpont támogatja mind az API token hitelesítést, mind az alias hitelesítő adatok hitelesítését.\n\n- **Felhasználói fiók (API token):** Az API tokennel történő hitelesítéskor ez a végpont visszaadja a felhasználói fiók adatait, beleértve a csomag részleteit, az e-mail címet és az API tokent.\n\n- **Alias fiók (alias hitelesítő adatok):** Az alias hitelesítő adatokkal (e-mail cím és generált jelszó) történő hitelesítéskor ez a végpont visszaadja az alias/postafiók adatait, beleértve a felhasznált tárhelyet, a tárhelykvótát és a postaláda beállításait. Ez hasznos az IMAP/POP3/CalDAV/CardDAV kliensek számára a tárhely állapotának ellenőrzéséhez.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Fiók"
        ],
        "summary": "Fiók frissítése",
        "description": "Frissítse fiókadatait.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "Megjelenített név"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Helyi beállítás"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Kapcsolatok"
        ],
        "summary": "Kapcsolatok listázása",
        "description": "A hitelesített aliashoz tartozó összes kapcsolattartó listájának lekérése. Ez a végpont támogatja a lapozást, és CardDAV formátumban adja vissza a kapcsolatokat.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kapcsolatok"
        ],
        "summary": "Kapcsolat létrehozása",
        "description": "Hozzon létre egy új kapcsolattartót. Megadhatja közvetlenül a vCard tartalmat, vagy az egyes kapcsolattartói mezőket, amelyeket a rendszer vCard formátumba konvertál. Ha már létezik egy azonos azonosítójú kapcsolattartó, ütközési hiba jelenik meg.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "Kapcsolatok"
        ],
        "summary": "Kapcsolatfelvétel",
        "description": "Egy adott kapcsolat lekérése az azonosítója alapján. A kapcsolat a szabványos kapcsolatfelvételi formátumban, vCard tartalommal és elemzett mezőkkel kerül visszaadásra.",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Kapcsolatok"
        ],
        "summary": "Kapcsolat frissítése",
        "description": "Meglévő kapcsolat frissítése. Megadhat frissített vCard-tartalmat vagy egyes mezőket a frissítéshez. A kapcsolat vCard-ja újragenerálódik, ha az egyes mezőket megadja.",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kapcsolatok"
        ],
        "summary": "Kapcsolat törlése",
        "description": "Egy adott kapcsolat végleges törlése. Ez a művelet nem vonható vissza.",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "Naptárak"
        ],
        "summary": "Naptárak listázása",
        "description": "A hitelesített aliashoz tartozó összes naptár listájának lekérése. Ez a végpont támogatja a lapozást, és CalDAV formátumú naptárakat ad vissza.",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Naptárak"
        ],
        "summary": "Naptár létrehozása",
        "description": "Hozzon létre egy új naptárat. A naptár neve kötelező, míg a többi tulajdonság, például a szín, az időzóna és a leírás opcionális. Ha már létezik egy azonos nevű naptár, ütközési hiba jelenik meg.",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "Naptárak"
        ],
        "summary": "Naptár lekérése",
        "description": "Egy adott naptár lekérése az azonosítója alapján. A naptár minden tulajdonságával együtt visszaadásra kerül, beleértve a nevet, leírást, színt, időzónát és sorrendet.",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Naptárak"
        ],
        "summary": "Naptár frissítése",
        "description": "Meglévő naptár frissítése. A naptár bármelyik tulajdonságát frissítheti, beleértve a nevet, a leírást, a színt, az időzónát és a sorrendet. Ha a nevet egy már létező névre módosítja, ütközési hiba keletkezik.",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
[...]
