{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Üdvözöljük az Email továbbítása átfogó API dokumentációjában. Ez az API lehetővé teszi az e-mail továbbítás, domainek, aliasok, kimenő e-mailek és egyebek programozott kezelését.\n\n## Főbb jellemzők\n* **Domainkezelés:** Domainek létrehozása, lekérése, frissítése, törlése és ellenőrzése.\n* **Aliaskezelés:** E-mail aliasok kezelése, beleértve a létrehozást, a frissítéseket és a címzettek kezelését.\n* **Kimenő SMTP:** E-mailek küldése SMTP-n keresztül, korlátok kezelése és az elküldött e-mailek nyomon követése.\n* **Fiók és naplók:** Fiókadatok kezelése és tevékenységnaplók letöltése.\n* **Biztonság:** TXT rekordok titkosítása és domain tagok/meghívók kezelése.\n* **Hamarosan:** Tervben vannak olyan funkciók, mint a CardDAV névjegyek, a CalDAV naptárak és az IMAP/POP3 üzenet-/mappakezelés.\n\n## Hitelesítés\nA legtöbb végpont hitelesítést igényel az **API-kulccsal**. Adja meg az API-kulcsot `felhasználónév`-ként az alapvető hitelesítési fejlécben, a jelszó mezőt hagyja üresen.\n\n```http\nEngedélyezés: Alap QVBJX1RPS0VOOg==\n```\n(Cserélje ki az `API_TOKEN` részt a tényleges kulcsára a Base64 kódolás előtt)\n\nAz **Névjegyek, naptárak, üzenetek és mappák aliasai** (jelenleg \"Hamarosan\" jelölésűek) egy generált alias felhasználónevet és jelszót fognak használni az alapvető hitelesítéshez.\n\n## Hibák\nAz API szabványos HTTP állapotkódokat használ a siker vagy a sikertelenség jelzésére. A hibaválaszok egy JSON törzset tartalmaznak egy `üzenet` mezővel, amely részletezi a hibát.\n\n| Állapotkód | Jelentés |\n|-------------|--------------------|\n| 200 | OK |\n| 400 | Hibás kérés |\n| 401 | Jogosulatlan |\n| 403 | Tiltott |\n| 404 | Nem található |\n| 429 | Túl sok kérés |\n| 500 | Belső szerverhiba|\n| 501 | Nincs megvalósítva |\n| 502 | Hibás átjáró |\n| 503 | Szolgáltatás nem elérhető |\n| 504 | Átjáró időtúllépése |\n\n*Ha `5xx` hibát tapasztal, kérjük, vegye fel a kapcsolatot a [api@forwardemail.net] címen (mailto:api@forwardemail.net).*\n\n## Lokalizáció\nAz API-válaszok a felhasználó által észlelt területi beállítás vagy az `Accept-Language` fejléc alapján kerülnek lefordításra. Több mint 25 nyelv támogatott.\n\n## Lapozás\nA listákat visszaadó végpontok támogatják a lapozást lekérdezési paramétereken keresztül.\n\n| Paraméter | Típus | Opcionális | Leírás | Alapértelmezett | Korlátozások |\n|---------------|----------|-----------|----------------------------------------------------------------------|---------|------------------------|\n| `oldal` | Egész szám | Igen | Találatok száma oldalonként. | 10 | `>= 1`, `<= 50` |\n| `oldalszámozás` | Logikai érték | Igen | Oldalszámozási viselkedés engedélyezése (egyes végpontokhoz 2024. november 1. előtt kötelező). | false | |\n\n**Oldalszámozási fejlécek:**\n* `X-Page-Count`: Teljes oldalszám.\n* `X-Page-Current`: Aktuális oldalszám.\n* `X-Page-Size`: Elemek száma az aktuális oldalon.\n* `X-Item-Count`: Az összes oldalon található elemek teljes száma.\n* `Link`: Navigációs linkek (előző, következő, első, utolsó).\n\n**Példa:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Ajánlott függvénykönyvtárak\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Karbantartó: Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "E-mail továbbítási API-kiszolgáló"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nHasználja az API-kulcsát **felhasználónévként** az alapvető hitelesítéshez. A jelszó mezőt hagyja üresen.\n\n\n**Példa:**\nHa az API-kulcsa a `YOUR_API_KEY`, akkor az `Authorization` fejléc Base64 kódolású értéke `echo -n \"YOUR_API_KEY:\" | base64` lesz.\n\n\n```http\nEngedélyezés: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nHasználja a létrehozott **alias felhasználónevet és jelszót** az alapvető hitelesítéshez. Ez a következő végpontokra vonatkozik:\n* Alias névjegyek (CardDAV)\n* Alias naptárak (CalDAV)\n* Alias üzenetek (IMAP/POP3)\n* Alias mappák (IMAP/POP3)\n\n*(Megjegyzés: Ezek a funkciók jelenleg „Hamarosan” jelöléssel vannak ellátva)*\n\n**Példa:**\nHa az alias felhasználónév `alias@domain.com` és a jelszó `GENERATED_PASSWORD`, akkor a Base64 kódolású érték `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64` lenne.\n\n```http\nEngedélyezés: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Hibaüzenet"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "A feladó e-mail címe (léteznie kell a domain aliasaként)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Vesszővel elválasztott lista vagy címzettek tömbje a „Címzett” fejléchez."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Vesszővel elválasztott lista vagy címzettek tömbje a „Másolatot kap” fejléchez."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Vesszővel elválasztott lista vagy címzettek tömbje a „Titkos másolat” fejléchez."
          },
          "subject": {
            "type": "string",
            "description": "Az e-mail tárgya."
          },
          "text": {
            "type": "string",
            "description": "Az üzenet sima szöveges változata."
          },
          "html": {
            "type": "string",
            "description": "Az üzenet HTML-verziója."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Mellékletobjektumok tömbje (lásd a Nodemailer közös mezőit)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "A „Feladó” fejléchez tartozó e-mail cím."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "A „Válasz” fejléchez tartozó e-mail cím."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Az üzenet azonosítója, amelyre a válaszüzenet vonatkozik."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Szóközökkel elválasztott lista vagy üzenetazonosítók tömbje."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Ha igaz, akkor a HTML tartalomban található data: image-eket beágyazott mellékletekké alakítja."
          },
          "watchHtml": {
            "type": "string",
            "description": "Az üzenet Apple Watch-specifikus HTML-verziója."
          },
          "amp": {
            "type": "string",
            "description": "Az üzenet AMP4EMAIL-specifikus HTML-verziója."
          },
          "icalEvent": {
            "type": "object",
            "description": "Egy iCalendar esemény alternatív üzenettartalomként."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Alternatív üzenettartalom tömbje."
          },
          "encoding": {
            "type": "string",
            "description": "A szöveg és a HTML-karakterláncok kódolása (pl. 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Egyedileg generált RFC822 formátumú üzenet (a Nodemailer generálása helyett)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Szöveges értékekhez kötelező a kódolás használata."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Az e-mail prioritási szintje."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "További fejlécmezők objektuma vagy tömbje."
          },
          "messageId": {
            "type": "string",
            "description": "Opcionális üzenetazonosító a „Message-ID” fejléchez."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Opcionális dátum fejléc. Nem lehet 30 napnál régebbi a jövőben."
          },
          "list": {
            "type": "object",
            "description": "A List-* fejlécek opcionális objektuma."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Teljesen minősített domainnév (FQDN) vagy IP-cím"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Hozzárendelés ugyanahhoz a csapathoz egy másik domainből; lehet domain azonosító vagy FQDN. A „nincs” beállítással explicit módon letiltható."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Csomag típusa (alapértelmezés szerint „ingyenes” vagy a felhasználó aktuális fizetős csomagja)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "E-mail címek elválasztott listája (vesszővel, szóközzel vagy sortöréssel elválasztva)"
              }
            ],
            "description": "Hozz létre egy alapértelmezett gyűjtőaliast (alapértelmezett értéke igaz)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Spam Scanner felnőtt tartalom elleni védelem engedélyezése"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Spam Scanner adathalászat elleni védelem engedélyezése"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Spam Scanner futtatható fájlvédelmének engedélyezése"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Spam Scanner vírusvédelem engedélyezése"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Az alias címzetteknek kötelező az e-mail-ellenőrző linkre kattintás"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "MX rekordok ellenőrzésének figyelmen kívül hagyása a speciális levelezési útválasztási beállításoknál"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "A kimenő SMTP-naplók megőrzésének napjainak száma (0–30, alapértelmezett: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhook URL a visszapattanási események fogadásához"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Visszapattanó webhook letiltása"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Maximális tárhelykvóta aliasonként (pl. '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Egyéni port az SMTP továbbításhoz konfiguráláshoz (alapértelmezett: '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Engedélyezze-e a Spam Scanner felnőtt tartalomvédelmét ezen a domainen"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Engedélyezze-e a Spam Scanner adathalászat elleni védelmét ezen a domainen"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Engedélyezze-e a Spam Scanner futtatható fájlvédelmét ezen a domainen"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Engedélyezze-e a Spam Scanner vírusvédelmet ezen a domainen"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Globális domain alapértelmezett beállítása, amely meghatározza, hogy az alias címzetteknek rá kell-e kattintaniuk egy e-mail ellenőrző linkre az e-mailek fogadásához."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Hogy figyelmen kívül hagyja-e az MX rekordok ellenőrzését a domainen az ellenőrzés során (főleg speciális MX útválasztási beállítások esetén)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "A kimenő SMTP e-mailek tárolásának napjainak száma (0 = azonnali törlés)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhook URL a visszapattanási értesítések fogadásához, vagy hamis a letiltáshoz"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Tárhelykvóta aliasonként (pl. „1 GB”, bájtokra elemezve)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias név (ha nincs megadva, vagy üres, akkor egy véletlenszerű alias generálódik)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Érvényes e-mail címek, FQDN-ek, IP-címek vagy webhook URL-ek sortöréssel/szóközzel/vesszővel elválasztott karakterlánca"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Érvényes címzettek tömbje"
              }
            ],
            "description": "Címzettek listája. Ha nincs megadva vagy üres, akkor a kérelmező e-mail címe lesz az alapértelmezett érték."
          },
          "description": {
            "type": "string",
            "description": "Álnév leírása"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sortöréssel/szóközzel/vesszővel elválasztott címkék"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Címkék tömbje"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "A címzetteknek meg kell kattintaniuk az ellenőrző linkre (alapértelmezett a domainbeállítás)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Engedélyezze vagy tiltsa le ezt az aliast"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Hibakód, ha az alias le van tiltva. Alapértelmezés szerint 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-tárolás engedélyezése vagy letiltása ehhez az aliashoz"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP titkosítás engedélyezése vagy letiltása ehhez az aliashoz"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP nyilvános kulcs ASCII Armor formátumban"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximális tárhelykvóta (pl. „1 GB”)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Szabadidős válasz engedélyezése vagy letiltása"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "A vakációs válasz kezdő dátuma (pl. „ÉÉÉÉ-HH-NN”)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "A vakációs válasz befejezési dátuma (pl. „ÉÉÉÉ-HH-NN”)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Egyszerű szöveges tárgy az automatikus válaszhoz"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Egyszerű szöveges üzenet az automatikus válaszhoz"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Álnév"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Érvényes e-mail címek, FQDN-ek, IP-címek vagy webhook URL-ek sortöréssel/szóközzel/vesszővel elválasztott karakterlánca"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Érvényes címzettek tömbje"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Álnév leírása"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sortöréssel/szóközzel/vesszővel elválasztott címkék"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Címkék tömbje"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "A címzetteknek meg kell kattintaniuk az ellenőrző linkre (alapértelmezett a domainbeállítás)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Alias engedélyezése vagy letiltása"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Hibakód, amelyet akkor kell használni, ha az alias le van tiltva (alapértelmezett érték 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-tárolás engedélyezése vagy letiltása"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP titkosítás engedélyezése vagy letiltása"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP nyilvános kulcs ASCII Armor formátumban"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximális tárhelykvóta (pl. „1 GB”)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Szabadidős válasz engedélyezése vagy letiltása"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Automatikus válaszadás kezdési dátuma (pl. ÉÉÉÉ-HH-NN)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Automatikus válasz küldésének befejezési dátuma (pl. ÉÉÉÉ-HH-NN)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Vakációs válasz sima szöveges tárgya"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Vakációs válasz egyszerű szöveges üzenete"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Az aliashoz használandó új egyéni jelszavad"
          },
          "password": {
            "type": "string",
            "description": "Az alias meglévő jelszava a postaláda tárhelyének törlése nélkül módosítható"
          },
          "is_override": {
            "type": "boolean",
            "description": "Felülírja a meglévő jelszót és törölje az IMAP-tárhelyet (óvatosan használja)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-mail cím, ahová az alias jelszavát és a beállítási utasításokat küldeni lehet"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Az elküldött e-mailek jelenlegi száma"
          },
          "limit": {
            "type": "integer",
            "description": "Maximálisan engedélyezett e-mailek száma"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Tagsági azonosító"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Tag e-mail címe"
          },
          "role": {
            "type": "string",
            "description": "A tag szerepe"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Meghívott e-mail cím"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "A visszaadandó eredmények oldala. Ha nincs megadva, az érték 1 lesz. 1-nél nagyobb vagy azzal egyenlő számnak kell lennie.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Oldalanként visszaadandó találatok száma. Alapértelmezés szerint 10, ha nincs megadva. 1-nél nagyobb vagy egyenlő, és 50-nél kisebb vagy egyenlő számnak kell lennie.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Iratkozzon fel a lapozásra 2024. november 1. előtt",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Domain azonosító",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Azonosító álnevek",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Tagsági azonosító",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "E-mail azonosító",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "Fiók létrehozása",
        "description": "Új felhasználói fiók létrehozása",
        "tags": [
          "Fiók"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mail cím"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Jelszó"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "Fiók lekérése",
        "description": "A jelenlegi felhasználó fiókadatainak lekérése",
        "tags": [
          "Fiók"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Fiók frissítése",
        "description": "Frissítse a jelenlegi felhasználó fiókadatait",
        "tags": [
          "Fiók"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mail cím"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "Keresztnév"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "Vezetéknév"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Link az avatar képhez"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "Naplók letöltése",
        "description": "**Naplók letöltése**\n\nLeírás: API-nk programozott módon lehetővé teszi fiókod naplóinak letöltését. Ha erre a végpontra küldesz egy kérést, a rendszer feldolgozza a fiókod összes naplóját, és a befejezés után csatolmányként (Gzip tömörített CSV táblázatfájl) elküldi neked e-mailben.\n\nEz lehetővé teszi, hogy háttérfeladatokat hozz létre egy Cron-feladattal, vagy a Node.js Bree feladatütemező szoftverrel bármikor megkapd a naplókat. Ne feledd, hogy ez a végpont napi `10` kérésre korlátozódik.\n\nA melléklet az `email-deliverability-logs-YYYY-MM-NN-h-mm-A-z.csv.gz` kisbetűs formája, és maga az e-mail tartalmazza a lekért naplók rövid összefoglalását.",
        "tags": [
          "Naplók"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Naplók szűrése teljesen minősített domain (\"FQDN\") szerint. Ha nincs megadva, akkor az összes domain összes naplója lekérésre kerül.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Naplók keresése e-mail cím, domain, aliasnév, IP-cím vagy dátum (H/É, H/N/ÉÉ, H-N, H-N-ÉÉ vagy H.N.ÉÉ formátum) alapján.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "Naplók keresése egy adott visszapattanási kategória (pl. „tiltási lista”) szerint.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "Naplók keresése egy adott hibakód (pl. 421 vagy 550) alapján.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Kimenő SMTP e-mailek listázása",
        "description": "**Kimenő SMTP e-mailek listázása**\n\nFontos megjegyezni, hogy ez a végpont nem ad vissza tulajdonságértékeket az e-mailek `message`, `headers` vagy `rejectedErrors` tulajdonságaihoz.\n\nA tulajdonságok és értékük visszaadásához kérjük, használja a [Retrieve email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) végpontot egy e-mail azonosítóval.",
        "tags": [
          "E-mailek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "E-mailek keresése metaadatok alapján.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "E-mailek keresése domain név alapján.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Rendezés egy adott mező szerint (egyetlen kötőjellel előtagolva - a mező fordított irányában történő rendezés). Alapértelmezés szerint created_at, ha nincs beállítva.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "További információkért lásd a Törölvezérelt tördelés részt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "További információkért lásd a Törölvezérelt tördelés részt.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Kimenő SMTP e-mail létrehozása",
        "description": "Az e-mailek létrehozására szolgáló API-nkat a Nodemailer üzenetbeállítás-konfigurációja ihlette és hasznosítja. Kérjük, az alábbi törzsparaméterek esetében a [Nodemailer üzenetkonfigurációját](https://nodemailer.com/message/) használja.\n\nVegye figyelembe, hogy az `envelope` és a `dkim` kivételével (mivel ezeket automatikusan beállítjuk Önnek) az összes Nodemailer-beállítást támogatjuk. Biztonsági okokból a `disableFileAccess` és a `disableUrlAccess` opciókat automatikusan `true` értékre állítjuk.\n\nVagy a `raw` egyetlen opciót kell átadnia a nyers teljes e-mailhez, beleértve a fejléceket is, vagy az alábbi törzsparaméter-beállításokat külön kell megadnia.\n\nEz az API-végpont automatikusan kódolja az emojikat, ha azok megtalálhatók a fejlécekben (pl. a `Subject: 🤓 Hello` tárgysor automatikusan `Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello`-ra konvertálódik). Célunk egy rendkívül fejlesztőbarát és ál-biztos e-mail API létrehozása volt.",
        "tags": [
          "E-mailek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "Kimenő SMTP e-mail korlát lekérése",
        "description": "Ez egy egyszerű végpont, amely egy JSON objektumot ad vissza, amely fiókonként tartalmazza a napi SMTP kimenő üzenetek számának `count` és `limit` értékeit.",
        "tags": [
          "E-mailek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "Kimenő SMTP e-mailek lekérése",
        "description": "Egy adott kimenő SMTP e-mail lekérése.",
        "tags": [
          "E-mailek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Kimenő SMTP e-mailek törlése",
        "description": "Az e-mail törlése akkor és csak akkor állítja be az állapotot „elutasítva”-ra (és ezt követően nem dolgozza fel a sorban), ha az aktuális állapot „függőben”, „sorban álló” vagy „elhalasztott”. Előfordulhat, hogy az e-maileket 30 nappal a létrehozásuk és/vagy elküldésük után automatikusan töröljük – ezért érdemes a kimenő SMTP e-mailekről másolatot tartani a kliensben, az adatbázisban vagy az alkalmazásban. Ha szükséges, hivatkozhat az adatbázisban található e-mail azonosítónk értékére – ezt az értéket mind a [Create email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email), mind a [Retrieve email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) végpontok visszaadják.",
        "tags": [
          "E-mailek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "Domainek listázása",
        "description": "> [!NOTE]\n>2024. november 1-jétől a List domainek és List domain aliasok API végpontjai alapértelmezés szerint maximum 1000 találatot jelenítenek meg oldalanként. Ha korábban szeretné engedélyezni ezt a viselkedést, átadhatja a `?paginate=true` paramétert további lekérdezési karakterlánc paraméterként a végpont lekérdezés URL-címéhez. További információkért lásd a Lapozás című részt.",
        "tags": [
          "Domainek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Domainek keresése metaadatok alapján.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Domainek keresése domain név alapján.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Rendezés egy adott mező szerint (egyetlen kötőjellel előtagolva - a mező fordított irányában történő rendezés). Alapértelmezés szerint created_at, ha nincs beállítva.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "További információkért lásd a Törölvezérelt tördelés részt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "További információkért lásd a Törölvezérelt tördelés részt.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Domain létrehozása",
        "description": "Létrehoz egy új domaint a rendszerben. Ez a végpont lehetővé teszi egy teljes domainnév (FQDN) vagy IP-cím regisztrálását a platformmal való használatra.\n\n\nAz opcionális konfigurációs lehetőségek közé tartozik a domain hozzárendelése egy meglévő csapathoz, a csomag típusának beállítása (pl. ingyenes, fokozott védelem vagy csapat), valamint a speciális védelem konfigurálása, például a spam szűrés, a víruskeresés és a címzett-ellenőrzés. Azt is konfigurálhatja, hogy alapértelmezés szerint létrejöjjön-e egy gyűjtőalias, beállíthat egyéni visszapattanási webhook URL-t az SMTP-hibákhoz, és meghatározhatja a tárolási kvótakorlátokat az e-mail aliasok számára ezen a domainen. Ez a végpont domain szintű érvényesítést és kiépítést végez. Ha az `ignore_mx_check` opció engedélyezve van, az MX rekordok ellenőrzése kimarad (csak speciális útválasztási beállításokhoz ajánlott). A válasz a létrehozott domainobjektum teljes részleteit tartalmazza, beleértve a konfigurációhoz szükséges DNS-rekordokat is.",
        "tags": [
          "Domainek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Domain lekérése",
        "description": "Egy adott domain lekérése",
        "tags": [
          "Domainek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Domain frissítése",
        "description": "Egy adott domain frissítése.",
        "tags": [
          "Domainek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Domain törlése",
        "description": "Töröljön egy adott domaint.",
        "tags": [
          "Domainek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Domainrekordok ellenőrzése",
        "description": "Egy adott domain DNS-rekordjainak ellenőrzése.",
        "tags": [
          "Domainek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "Domain SMTP-rekordok ellenőrzése",
        "description": "Ellenőrzi a megadott domainhez tartozó SMTP-vel kapcsolatos DNS-rekordokat.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "Domainek"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Teljesen minősített domainnév (FQDN) az ellenőrzéshez",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "Hozzon létre egy domain szintű, mindent lefedő jelszót",
        "description": "Létrehoz egy domain szintű, gyűjtőjelszót. Ha nem ad meg jelszót, akkor egy biztonságos, véletlenszerű jelszó generálódik.",
        "tags": [
          "Domainek"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A domain név, amelyhez létre kell hozni a gyűjtőjelszót"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "Az Ön egyéni új jelszava, amelyet domain szintű gyűjtőjelszóként kell használni. Hagyja üresen, ha erős jelszót szeretne létrehozni."
                  },
                  "description": {
                    "type": "string",
                    "description": "A leírás csak szervezési célokat szolgál."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Domain szintű, mindent lefedő jelszavak listája",
        "description": "Visszaadja a megadott domainhez jelenleg konfigurált, domain szintű, mindent lefedő jelszavak listáját.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "Domainek"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Teljesen minősített domainnév (FQDN), amelyhez a gyűjtőjelszavakat listázni kell",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "Távolítsa el a domain szintű, mindent lefedő jelszót",
        "description": "Törli a domain szintű, mindent lefedő jelszót a megadott tokenazonosító használatával.",
        "tags": [
          "Domainek"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A gyűjtőjelszóhoz társított domainnév"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A törlendő domain szintű, mindent leíró jelszó tokenazonosítója"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Domain meghívó elfogadása",
        "description": "Fogadjon el egy meghívást egy domainre.",
        "tags": [
          "Meghívók"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Domain meghívó létrehozása",
        "description": ">[!IMPORTANT]\n>Ha a meghívott felhasználó már elfogadott tagja bármely más olyan domainnek, amelynek a meghívót küldő adminisztrátor is tagja, akkor a rendszer automatikusan elfogadja a meghívást, és nem küld e-mailt.",
        "tags": [
          "Meghívók"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "A domain tagok listájára meghívandó e-mail cím"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "A felhasználó domaintagsághoz való hozzáadásához használandó csoport (lehet „admin” vagy „user”)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Domain meghívó eltávolítása",
        "description": "Meghívó eltávolítása egy domainre.",
        "tags": [
          "Meghívók"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "A domain tagok listájáról eltávolítandó e-mail cím"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "Tartományi tag frissítése",
        "description": "Tartományi tag frissítése.",
        "tags": [
          "Tagok"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "A felhasználó domaintagságának frissítéséhez használandó csoport (lehet „admin” vagy „user”)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Domaintag eltávolítása",
        "description": "Távolítson el egy tartományi tagot.",
        "tags": [
          "Tagok"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "Alias jelszó létrehozása",
        "description": "Jelszó generálása egy aliashoz. Ha az `emailed_instructions` nincs megadva, a válasz a generált felhasználónevet és jelszót fogja tartalmazni.",
        "tags": [
          "Álnevek"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Teljesen minősített domainnév (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Az álnév egyedi azonosítója"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Domain aliasok listázása",
        "description": ">[!NOTE]\n>2024. november 1-jétől a `Domainek listázása` és a `Domain aliasok listázása` API-végpontjai alapértelmezés szerint maximum `1000` találatot jelenítenek meg oldalanként. Ha korábban szeretné engedélyezni ezt a viselkedést, átadhatja a `?paginate=true` paramétert további lekérdezési karakterlánc paraméterként a végpont lekérdezésének URL-címéhez. További információkért lásd a Lapozás című részt.",
        "tags": [
          "Álnevek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Aliasok keresése egy domainben név, címke vagy címzett alapján (RegExp támogatott)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Aliasok keresése egy domainben név alapján (RegExp támogatott)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Aliasok keresése egy domainben címzett szerint (regexp támogatott)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Rendezés egy adott mező szerint (egyetlen kötőjellel előtagolva - fordított rendezés). Alapértelmezés szerint a created_at értékre van állítva.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Új domain alias létrehozása",
        "description": "Hozzon létre egy új aliast egy adott domainhez.",
        "tags": [
          "Álnevek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "Domainalias lekérése",
        "description": "Egy adott domain aliasának lekérése.",
        "tags": [
          "Álnevek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Domainalias frissítése",
        "description": "Egy adott domain aliasának frissítése.",
        "tags": [
          "Álnevek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Domainalias törlése",
        "description": "Egy adott domain aliasának törlése.",
        "tags": [
          "Álnevek"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "TXT rekord titkosítása",
        "description": "Ingyenesen titkosíthatja a rekordokat még az ingyenes csomagban is. Az adatvédelem nem lehet funkció, hanem a termék minden aspektusába beépített rész. Ahogy azt az [Adatvédelmi útmutatókról szóló beszélgetésben](https://discuss.privacyguides.net/t/forward-email-email-provider/13370) és a [GitHub-problémáinkban](https://github.com/forwardemail/forwardemail.net/issues/254) is kérték, ezt hozzáadtuk.",
        "tags": [
          "Titkosítás"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "Bármely érvényes e-mail továbbítási egyszerű szöveges TXT rekord"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "Kapcsolatok listázása",
        "description": "Az összes kapcsolattartó listázása (CardDAV). Ez a végpont hamarosan elérhető lesz.",
        "tags": [
          "Alias-kapcsolatok"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Kapcsolat létrehozása",
        "description": "Hozz létre egy új kontaktust (CardDAV). Ez a végpont hamarosan elérhető lesz.",
        "tags": [
          "Alias-kapcsolatok"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Kapcsolattartó azonosító",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Kapcsolatfelvétel",
        "description": "Egy adott kapcsolattartó lekérése (CardDAV). Ez a végpont hamarosan elérhető lesz.",
        "tags": [
          "Alias-kapcsolatok"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Kapcsolat frissítése",
        "description": "Egy adott kapcsolattartó frissítése (CardDAV). Ez a végpont hamarosan elérhető lesz.",
        "tags": [
          "Alias-kapcsolatok"
        ],
[...]
