{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />ยินดีต้อนรับสู่เอกสารประกอบ API ที่ครอบคลุมสำหรับการส่งต่ออีเมล API นี้ช่วยให้คุณจัดการการส่งต่ออีเมล โดเมน นามแฝง อีเมลขาออก และอื่นๆ ได้ด้วยโปรแกรม\n\n## คุณสมบัติหลัก\n* **การจัดการโดเมน:** สร้าง ดึงข้อมูล อัปเดต ลบ และตรวจสอบโดเมน\n* **การจัดการนามแฝง:** จัดการนามแฝงอีเมล รวมถึงการสร้าง อัปเดต และการจัดการผู้รับ\n* **SMTP ขาออก:** ส่งอีเมลผ่าน SMTP จัดการขีดจำกัด และติดตามอีเมลที่ส่ง\n* **บัญชีและบันทึก:** จัดการรายละเอียดบัญชีของคุณและบันทึกกิจกรรมการดาวน์โหลด\n* **ความปลอดภัย:** เข้ารหัสบันทึก TXT และจัดการสมาชิก/คำเชิญในโดเมน\n* **ผู้ติดต่อ CardDAV:** การดำเนินการ CRUD เต็มรูปแบบสำหรับการจัดการผู้ติดต่อพร้อมการรองรับ vCard\n* **ปฏิทิน CalDAV:** การจัดการปฏิทินอย่างเต็มรูปแบบพร้อมการรองรับเขตเวลาและสี\n* **ข้อความ IMAP/POP3:** การจัดการข้อความที่ครอบคลุมพร้อมความสามารถในการค้นหาขั้นสูง\n* **โฟลเดอร์ IMAP/POP3:** การจัดการโฟลเดอร์ทั้งหมด รวมถึงการสร้าง การเปลี่ยนชื่อ และการลบ\n\n## การตรวจสอบสิทธิ์\nอุปกรณ์ปลายทางส่วนใหญ่ต้องการการตรวจสอบสิทธิ์โดยใช้ **คีย์ API** ของคุณ ระบุคีย์ API เป็น `ชื่อผู้ใช้` ในส่วนหัวการตรวจสอบสิทธิ์พื้นฐาน โดยเว้นรหัสผ่านว่างไว้\n\n```http\nการอนุญาต: พื้นฐาน QVBJX1RPS0VOOg==\n```\n(แทนที่ `API_TOKEN` ด้วยคีย์จริงของคุณก่อนการเข้ารหัส Base64)\n\nอุปกรณ์ปลายทางที่เกี่ยวข้องกับ **นามแฝง รายชื่อ ปฏิทิน ข้อความ และโฟลเดอร์** ต้องใช้ชื่อผู้ใช้และรหัสผ่านนามแฝงที่สร้างขึ้นสำหรับการตรวจสอบสิทธิ์พื้นฐาน\n\n## ข้อผิดพลาด\nAPI ใช้รหัสสถานะ HTTP มาตรฐานเพื่อระบุความสำเร็จหรือความล้มเหลว การตอบสนองข้อผิดพลาดประกอบด้วยเนื้อหา JSON พร้อมฟิลด์ `ข้อความ` ที่ระบุรายละเอียดของข้อผิดพลาด\n\n| รหัสสถานะ | ความหมาย |\n|-----------|---------------------|\n| 200 | ตกลง |\n| 400 | คำขอไม่ถูกต้อง |\n| 401 | ไม่ได้รับอนุญาต |\n| 403 | ไม่ได้รับอนุญาต |\n| 404 | ไม่พบ |\n| 409 | ขัดแย้ง |\n| 412 | เงื่อนไขเบื้องต้นล้มเหลว |\n| 429 | คำขอมากเกินไป |\n| 500 | ข้อผิดพลาดภายในเซิร์ฟเวอร์ |\n| 501 | ไม่ได้ใช้งาน |\n| 502 | เกตเวย์ไม่ถูกต้อง |\n| 503 | บริการไม่พร้อมใช้งาน |\n| 504 | เกตเวย์หมดเวลา |\n\n*หากคุณพบข้อผิดพลาด `5xx` โปรดติดต่อ [api@forwardemail.net](mailto:api@forwardemail.net)*\n\n## การแปล\nการตอบสนองของ API จะถูกแปลตามตำแหน่งที่ตั้งที่ผู้ใช้ตรวจพบหรือส่วนหัว `Accept-Language` รองรับมากกว่า 25 ภาษา\n\n## การแบ่งหน้า\nปลายทางที่ส่งคืนรายการรองรับการแบ่งหน้าผ่านพารามิเตอร์การค้นหา\n\n| พารามิเตอร์ | ประเภท | ตัวเลือก | คำอธิบาย | ค่าเริ่มต้น | ข้อจำกัด |\n|-----------|----------|-----------------------------------------------------------------------------|---------|---------------------------------------------------|\n| `page` | จำนวนเต็ม | ใช่ | หมายเลขหน้าที่ต้องการเรียก | 1 | `>= 1` |\n| `limit` | จำนวนเต็ม | ใช่ | จำนวนผลลัพธ์ต่อหน้า | 25 | `>= 1`, `<= 100` |\n| `pagination` | บูลีน | ใช่ | เลือกรับพฤติกรรมการแบ่งหน้า (จำเป็นก่อนวันที่ 1 พฤศจิกายน 2024 สำหรับปลายทางบางจุด) | false | |\n\n**ส่วนหัวการแบ่งหน้า:**\n* `X-Page-Count`: จำนวนหน้าทั้งหมด\n* `X-Page-Current`: หมายเลขหน้าปัจจุบัน\n* `X-Page-Size`: จำนวนรายการในหน้าปัจจุบัน\n* `X-Item-Count`: จำนวนรายการทั้งหมดในทุกหน้า\n* `Link`: ลิงก์การนำทาง (ก่อนหน้า, ถัดไป, แรก, สุดท้าย)\n\n**ตัวอย่าง:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## ไลบรารีที่แนะนำ\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (ดูแลโดย Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "เซิร์ฟเวอร์ API ส่งต่ออีเมล"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nใช้รหัส API ของคุณเป็น **ชื่อผู้ใช้** สำหรับการยืนยันตัวตนขั้นพื้นฐาน เว้นช่องรหัสผ่านว่างไว้\n\n**ตัวอย่าง:**\nหากรหัส API ของคุณคือ `YOUR_API_KEY` ค่าที่เข้ารหัส Base64 สำหรับส่วนหัว `Authorization` จะเป็น `echo -n \"YOUR_API_KEY:\" | base64`\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nใช้ **ชื่อผู้ใช้และรหัสผ่านนามแฝง** ที่สร้างขึ้นสำหรับการตรวจสอบสิทธิ์ขั้นพื้นฐาน วิธีนี้ใช้กับปลายทางภายใต้:\n* รายชื่อผู้ติดต่อนามแฝง (CardDAV)\n* ปฏิทินนามแฝง (CalDAV)\n* ข้อความนามแฝง (IMAP/POP3)\n* โฟลเดอร์นามแฝง (IMAP/POP3)\n\n**ตัวอย่าง:**\nหากชื่อผู้ใช้นามแฝงคือ `alias@domain.com` และรหัสผ่านคือ `GENERATED_PASSWORD` ค่าที่เข้ารหัส Base64 จะเป็น `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`\n\n```http\nการอนุญาต: พื้นฐาน YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "ข้อความแสดงข้อผิดพลาด"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "รหัสนามแฝง"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "ประเภทวัตถุ"
          },
          "name": {
            "type": "string",
            "description": "ชื่อนามแฝง (ส่วนท้องถิ่นของอีเมล)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลนามแฝงแบบเต็ม"
          },
          "domain_id": {
            "type": "string",
            "description": "รหัสโดเมน"
          },
          "domain_name": {
            "type": "string",
            "description": "ชื่อโดเมน"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "พื้นที่เก็บข้อมูลที่ใช้เป็นไบต์สำหรับนามแฝง/กล่องจดหมายนี้"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "โควตาพื้นที่เก็บข้อมูลเป็นไบต์สำหรับนามแฝง/กล่องจดหมายนี้"
          },
          "has_imap": {
            "type": "boolean",
            "description": "ว่า IMAP ได้เปิดใช้งานสำหรับนามแฝงนี้หรือไม่"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "เปิดใช้งานการเข้ารหัส PGP หรือไม่"
          },
          "public_key": {
            "type": "string",
            "description": "คีย์สาธารณะ PGP หากมี"
          },
          "locale": {
            "type": "string",
            "description": "การตั้งค่าตำแหน่งที่ตั้ง"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ประทับเวลาการสร้าง"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "อัปเดตเวลาล่าสุด"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID ผู้ติดต่อ (contact_id จาก CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "ติดต่อ UID"
          },
          "full_name": {
            "type": "string",
            "description": "ชื่อ-นามสกุลของผู้ติดต่อ"
          },
          "content": {
            "type": "string",
            "description": "เนื้อหา vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag สำหรับการกำหนดเวอร์ชัน"
          },
          "is_group": {
            "type": "boolean",
            "description": "ไม่ว่าการติดต่อจะเป็นแบบกลุ่ม"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "อาร์เรย์ของที่อยู่อีเมล"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "อาร์เรย์ของหมายเลขโทรศัพท์"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "เนื้อหา vCard (ถ้าไม่ได้ระบุ จะถูกสร้างขึ้นจากฟิลด์อื่น)"
          },
          "full_name": {
            "type": "string",
            "description": "ชื่อ-นามสกุลของผู้ติดต่อ"
          },
          "contact_id": {
            "type": "string",
            "description": "รหัสติดต่อที่กำหนดเอง (หากไม่ได้ระบุไว้ ระบบจะสร้างโดยอัตโนมัติ)"
          },
          "uid": {
            "type": "string",
            "description": "UID การติดต่อ (หากไม่ได้ระบุ ระบบจะสร้างให้โดยอัตโนมัติ)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "อาร์เรย์ของที่อยู่อีเมล"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "อาร์เรย์ของหมายเลขโทรศัพท์"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "อาร์เรย์ของหมายเลขโทรศัพท์ (นามแฝงสำหรับ phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "อาร์เรย์ของที่อยู่"
          },
          "is_group": {
            "type": "boolean",
            "description": "ไม่ว่าการติดต่อจะเป็นแบบกลุ่ม"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "เนื้อหา vCard"
          },
          "full_name": {
            "type": "string",
            "description": "ชื่อ-นามสกุลของผู้ติดต่อ"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "อาร์เรย์ของที่อยู่อีเมล"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "อาร์เรย์ของหมายเลขโทรศัพท์"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "อาร์เรย์ของหมายเลขโทรศัพท์ (นามแฝงสำหรับ phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "อาร์เรย์ของที่อยู่"
          },
          "is_group": {
            "type": "boolean",
            "description": "ไม่ว่าการติดต่อจะเป็นแบบกลุ่ม"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "รหัสปฏิทิน (calendarId จาก CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "ชื่อปฏิทิน"
          },
          "description": {
            "type": "string",
            "description": "คำอธิบายปฏิทิน"
          },
          "color": {
            "type": "string",
            "description": "สีปฏิทิน (รูปแบบเลขฐานสิบหก)"
          },
          "timezone": {
            "type": "string",
            "description": "โซนเวลาปฏิทิน"
          },
          "order": {
            "type": "integer",
            "description": "ลำดับการแสดงปฏิทิน"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "ชื่อปฏิทิน"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID ปฏิทินที่กำหนดเอง (ถ้าไม่ได้ระบุ ระบบจะสร้างขึ้นโดยอัตโนมัติ)"
          },
          "description": {
            "type": "string",
            "description": "คำอธิบายปฏิทิน"
          },
          "color": {
            "type": "string",
            "description": "สีปฏิทิน (รูปแบบเลขฐานสิบหก หากไม่ได้ระบุไว้ ระบบจะสร้างให้โดยอัตโนมัติ)"
          },
          "timezone": {
            "type": "string",
            "description": "โซนเวลาปฏิทิน (ค่าเริ่มต้นเป็นโซนเวลาของผู้ใช้หรือ UTC)"
          },
          "order": {
            "type": "integer",
            "description": "ลำดับการแสดงปฏิทิน (ค่าเริ่มต้นเป็น 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "ชื่อปฏิทิน"
          },
          "description": {
            "type": "string",
            "description": "คำอธิบายปฏิทิน"
          },
          "color": {
            "type": "string",
            "description": "สีปฏิทิน (รูปแบบเลขฐานสิบหก)"
          },
          "timezone": {
            "type": "string",
            "description": "โซนเวลาปฏิทิน"
          },
          "order": {
            "type": "integer",
            "description": "ลำดับการแสดงปฏิทิน"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "รหัสเหตุการณ์ปฏิทิน (eventId จาก CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "รหัสของปฏิทินที่กิจกรรมนี้เป็นของ"
          },
          "ical": {
            "type": "string",
            "description": "ข้อมูล iCalendar (RFC 5545) สำหรับกิจกรรม"
          },
          "summary": {
            "type": "string",
            "description": "ชื่อเหตุการณ์/สรุป (ดึงมาจากข้อมูล iCal)"
          },
          "description": {
            "type": "string",
            "description": "คำอธิบายเหตุการณ์ (ดึงมาจากข้อมูล iCal)"
          },
          "location": {
            "type": "string",
            "description": "สถานที่จัดงาน (ดึงข้อมูลจาก iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "วันที่/เวลาเริ่มต้นกิจกรรม (ดึงมาจากข้อมูล iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "วันที่/เวลาสิ้นสุดกิจกรรม (ดึงมาจากข้อมูล iCal)"
          },
          "uid": {
            "type": "string",
            "description": "ตัวระบุเฉพาะจากข้อมูล iCal"
          },
          "status": {
            "type": "string",
            "description": "สถานะเหตุการณ์ (ดึงมาจากข้อมูล iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "ผู้จัดงาน (ดึงข้อมูลจาก iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "ไทม์สแตมป์การลบแบบอ่อน"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ID ของปฏิทินที่จะเพิ่มกิจกรรม"
          },
          "event_id": {
            "type": "string",
            "description": "รหัสเหตุการณ์ที่กำหนดเอง (ถ้าไม่ได้ระบุ ระบบจะสร้างขึ้นโดยอัตโนมัติ)"
          },
          "ical": {
            "type": "string",
            "description": "ข้อมูล iCalendar (RFC 5545) สำหรับกิจกรรม ต้องเป็นรูปแบบ iCal ที่ถูกต้อง"
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ย้ายกิจกรรมไปยังปฏิทินอื่น"
          },
          "ical": {
            "type": "string",
            "description": "อัปเดตข้อมูล iCalendar (RFC 5545) สำหรับกิจกรรม"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "รหัสโฟลเดอร์"
          },
          "path": {
            "type": "string",
            "description": "เส้นทางโฟลเดอร์แบบเต็ม"
          },
          "name": {
            "type": "string",
            "description": "ชื่อโฟลเดอร์ (ส่วนสุดท้ายของเส้นทาง)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "เส้นทางโฟลเดอร์หลัก"
          },
          "uid_validity": {
            "type": "integer",
            "description": "ความถูกต้องของ IMAP UID"
          },
          "uid_next": {
            "type": "integer",
            "description": "ค่า UID ถัดไป"
          },
          "modify_index": {
            "type": "integer",
            "description": "ดัชนีการปรับเปลี่ยน"
          },
          "subscribed": {
            "type": "boolean",
            "description": "โฟลเดอร์ได้รับการสมัครสมาชิกหรือไม่"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "แฟล็กโฟลเดอร์"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "ระยะเวลาเก็บรักษาข้อความ"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "การกำหนดการใช้งานพิเศษ"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "เส้นทาง/ชื่อโฟลเดอร์"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "เส้นทาง/ชื่อโฟลเดอร์ใหม่"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "รหัสข้อความ"
          },
          "root_id": {
            "type": "string",
            "description": "ID ข้อความรูทสำหรับการเธรด"
          },
          "folder_id": {
            "type": "string",
            "description": "ID โฟลเดอร์ที่มีข้อความ"
          },
          "folder_path": {
            "type": "string",
            "description": "เส้นทางโฟลเดอร์ที่มีข้อความ"
          },
          "thread_id": {
            "type": "string",
            "description": "ID เธรดสำหรับการจัดกลุ่มการสนทนา"
          },
          "header_message_id": {
            "type": "string",
            "description": "ค่าส่วนหัว ID ข้อความ"
          },
          "is_unread": {
            "type": "boolean",
            "description": "ไม่ว่าข้อความจะยังไม่ได้อ่านหรือไม่"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "ไม่ว่าข้อความจะถูกทำเครื่องหมายไว้หรือไม่"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "ข้อความจะถูกลบหรือไม่"
          },
          "is_draft": {
            "type": "boolean",
            "description": "ไม่ว่าข้อความจะเป็นฉบับร่าง"
          },
          "is_junk": {
            "type": "boolean",
            "description": "ไม่ว่าข้อความจะเป็นขยะ/สแปม"
          },
          "is_copied": {
            "type": "boolean",
            "description": "ว่าข้อความจะถูกคัดลอกหรือไม่"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "ข้อความสามารถค้นหาได้หรือไม่"
          },
          "is_expired": {
            "type": "boolean",
            "description": "ข้อความหมดอายุหรือไม่"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "ข้อความมีไฟล์แนบหรือไม่"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "วันที่เก็บรักษาข้อความ"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "วันที่ภายใน (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "วันที่จากส่วนหัวข้อความ"
          },
          "subject": {
            "type": "string",
            "description": "หัวข้อข้อความ"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "แฟล็ก IMAP"
          },
          "size": {
            "type": "integer",
            "description": "ขนาดข้อความเป็นไบต์"
          },
          "uid": {
            "type": "integer",
            "description": "รหัสประจำตัว IMAP"
          },
          "modseq": {
            "type": "integer",
            "description": "ลำดับการปรับเปลี่ยน"
          },
          "transaction": {
            "type": "string",
            "description": "ประเภทธุรกรรม"
          },
          "remote_address": {
            "type": "string",
            "description": "ที่อยู่ IP ระยะไกล"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ประทับเวลาการสร้างข้อความ"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ข้อความอัปเดตเวลาล่าสุด"
          },
          "nodemailer": {
            "type": "object",
            "description": "วัตถุข้อความที่แยกวิเคราะห์ (รวมไว้ตามค่าเริ่มต้น ตั้งค่า ?nodemailer=false เพื่อแยกออก)"
          },
          "raw": {
            "type": "string",
            "description": "เนื้อหาข้อความดิบ (รวมไว้ตามค่าเริ่มต้น ตั้งค่า ?raw=false เพื่อไม่รวม)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลของผู้ส่ง"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "ที่อยู่อีเมลของผู้รับ"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "ที่อยู่อีเมลของผู้รับ CC"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "ที่อยู่อีเมลผู้รับ BCC"
          },
          "subject": {
            "type": "string",
            "description": "หัวข้อข้อความ"
          },
          "text": {
            "type": "string",
            "description": "เนื้อหาข้อความธรรมดา"
          },
          "html": {
            "type": "string",
            "description": "เนื้อหา HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "ไฟล์แนบข้อความ (รูปแบบ Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "โฟลเดอร์เป้าหมาย (ค่าเริ่มต้นคือ INBOX)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "ตั้งค่าแฟล็ก IMAP บนข้อความ"
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "ตั้งค่าแฟล็ก IMAP บนข้อความ"
          },
          "folder": {
            "type": "string",
            "description": "ย้ายข้อความไปยังโฟลเดอร์นี้"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลของผู้ส่ง (ต้องมีอยู่เป็นนามแฝงของโดเมน)"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "รายการที่คั่นด้วยจุลภาคหรืออาร์เรย์ของผู้รับสำหรับส่วนหัว \"ถึง\""
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "รายการที่คั่นด้วยจุลภาคหรืออาร์เรย์ของผู้รับสำหรับส่วนหัว 'สำเนาถึง'"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "รายการที่คั่นด้วยจุลภาคหรืออาร์เรย์ของผู้รับสำหรับส่วนหัว 'Bcc'"
          },
          "subject": {
            "type": "string",
            "description": "หัวข้อของอีเมล์"
          },
          "text": {
            "type": "string",
            "description": "ข้อความเวอร์ชันข้อความธรรมดา"
          },
          "html": {
            "type": "string",
            "description": "ข้อความเวอร์ชัน HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "อาร์เรย์ของวัตถุแนบ (ดูฟิลด์ทั่วไปของ Nodemailer)"
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลสำหรับส่วนหัว 'ผู้ส่ง'"
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลสำหรับส่วนหัว 'ตอบกลับถึง'"
          },
          "inReplyTo": {
            "type": "string",
            "description": "Message-ID ที่ข้อความนั้นใช้ในการตอบกลับ"
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "รายการที่คั่นด้วยช่องว่างหรืออาร์เรย์ของ Message-ID"
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "หากเป็นจริง จะแปลงข้อมูล: รูปภาพในเนื้อหา HTML เป็นไฟล์แนบที่ฝังไว้"
          },
          "watchHtml": {
            "type": "string",
            "description": "ข้อความเวอร์ชัน HTML เฉพาะสำหรับ Apple Watch"
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL เวอร์ชัน HTML เฉพาะของข้อความ"
          },
          "icalEvent": {
            "type": "object",
            "description": "กิจกรรม iCalendar เป็นเนื้อหาข้อความทางเลือก"
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "อาร์เรย์ของเนื้อหาข้อความทางเลือก"
          },
          "encoding": {
            "type": "string",
            "description": "การเข้ารหัสสำหรับข้อความและสตริง HTML (เช่น 'utf-8', 'hex', 'base64')"
          },
          "raw": {
            "type": "string",
            "description": "ข้อความรูปแบบ RFC822 ที่สร้างขึ้นเอง (แทนที่จะใช้การสร้าง Nodemailer)"
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "การเข้ารหัสถูกบังคับให้ใช้สำหรับค่าข้อความ"
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "ระดับความสำคัญของอีเมล์"
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "วัตถุหรืออาร์เรย์ของฟิลด์ส่วนหัวเพิ่มเติม"
          },
          "messageId": {
            "type": "string",
            "description": "Message-ID ที่เป็นทางเลือกสำหรับส่วนหัว 'Message-ID'"
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "ส่วนหัววันที่ (ไม่บังคับ) ต้องไม่เกิน 30 วันในอนาคต"
          },
          "list": {
            "type": "object",
            "description": "วัตถุตัวเลือกของส่วนหัว List-*"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "ชื่อโดเมนที่มีคุณสมบัติครบถ้วน (FQDN) หรือที่อยู่ IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "มอบหมายให้ทีมเดียวกันจากโดเมนอื่น อาจเป็น ID โดเมนหรือ FQDN ก็ได้ ใช้ \"none\" เพื่อปิดใช้งานโดยชัดเจน"
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "ประเภทแผน (ค่าเริ่มต้นคือ 'ฟรี' หรือแผนชำระเงินปัจจุบันของผู้ใช้)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "รายชื่อที่อยู่อีเมลที่คั่นด้วยเครื่องหมายจุลภาค ช่องว่าง หรือบรรทัดใหม่"
              }
            ],
            "description": "สร้างนามแฝง catch-all แบบเริ่มต้น (ค่าเริ่มต้นเป็นจริง)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "เปิดใช้งานการป้องกันเนื้อหาสำหรับผู้ใหญ่ด้วยเครื่องสแกนสแปม"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "เปิดใช้งานการป้องกันฟิชชิ่งด้วยเครื่องสแกนสแปม"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "เปิดใช้งานการป้องกันการทำงานของเครื่องสแกนสแปม"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "เปิดใช้งานการป้องกันไวรัส Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "กำหนดให้ผู้รับนามแฝงคลิกลิงก์ยืนยันอีเมล"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "ละเว้นการตรวจสอบบันทึก MX สำหรับการตั้งค่าการกำหนดเส้นทางอีเมลขั้นสูง"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "เลือกที่จะเก็บส่วนหัวและข้อมูลเมตา (ไม่รวมเนื้อหาข้อความ) สำหรับอีเมลที่ส่งต่อสำเร็จ ส่งผ่านเว็บฮุก ส่งผ่าน SMTP ขาออก และส่งอีเมลผ่าน IMAP พร้อมบันทึกข้อมูลเก็บไว้ 7 วัน ฟีเจอร์นี้ช่วยให้คุณตรวจสอบและแก้ไขปัญหาประสิทธิภาพการส่งอีเมล พร้อมข้อมูลเชิงลึกโดยละเอียดเกี่ยวกับการส่งอีเมลที่สำเร็จ"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "จำนวนวันที่จะเก็บรักษาบันทึก SMTP ขาออก (0–30, ค่าเริ่มต้น: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL เว็บฮุกสำหรับรับเหตุการณ์การตีกลับ"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "ปิดใช้งานเว็บฮุกแบบเด้งกลับ"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "โควตาพื้นที่เก็บข้อมูลสูงสุดต่อนามแฝง (เช่น '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "พอร์ตที่กำหนดเองเพื่อกำหนดค่าการส่งต่อ SMTP (ค่าเริ่มต้นคือ '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "ว่าจะเปิดใช้งานการป้องกันเนื้อหาสำหรับผู้ใหญ่ของ Spam Scanner บนโดเมนนี้หรือไม่"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "ว่าจะเปิดใช้งานการป้องกันฟิชชิ่งด้วย Spam Scanner บนโดเมนนี้หรือไม่"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "ว่าจะเปิดใช้งานการป้องกันการทำงานของ Spam Scanner บนโดเมนนี้หรือไม่"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "ว่าจะเปิดใช้งานการป้องกันไวรัส Spam Scanner บนโดเมนนี้หรือไม่"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "โดเมนทั่วโลกเป็นค่าเริ่มต้นสำหรับการกำหนดให้ผู้รับนามแฝงต้องคลิกลิงก์ยืนยันอีเมลเพื่อให้อีเมลไหลผ่านหรือไม่"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "ว่าจะละเว้นการตรวจสอบบันทึก MX บนโดเมนเพื่อการยืนยันหรือไม่ (ส่วนใหญ่สำหรับการตั้งค่าการกำหนดเส้นทาง MX ขั้นสูง)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "เลือกที่จะเก็บส่วนหัวและข้อมูลเมตา (ไม่รวมเนื้อหาข้อความ) สำหรับอีเมลที่ส่งต่อสำเร็จ ส่งผ่านเว็บฮุก ส่งผ่าน SMTP ขาออก และส่งอีเมลผ่าน IMAP พร้อมบันทึกข้อมูลเก็บไว้ 7 วัน ฟีเจอร์นี้ช่วยให้คุณตรวจสอบและแก้ไขปัญหาประสิทธิภาพการส่งอีเมล พร้อมข้อมูลเชิงลึกโดยละเอียดเกี่ยวกับการส่งอีเมลที่สำเร็จ"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "จำนวนวันในการจัดเก็บอีเมล SMTP ขาออก (0 = ล้างทันที)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL เว็บฮุกสำหรับรับการแจ้งเตือนการตีกลับ หรือเท็จเพื่อปิดการใช้งาน"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "โควตาพื้นที่เก็บข้อมูลต่อนามแฝง (เช่น '1 GB' แยกเป็นไบต์)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "ชื่อนามแฝง (ถ้าไม่ได้ระบุหรือเว้นว่างไว้ ระบบจะสร้างนามแฝงแบบสุ่ม)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "สตริงที่คั่นด้วยเครื่องหมายจุลภาค/แบ่งบรรทัด/ช่องว่างของที่อยู่อีเมลที่ถูกต้อง, FQDN, IP หรือ URL ของเว็บฮุก"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "อาร์เรย์ของผู้รับที่ถูกต้อง"
              }
            ],
            "description": "รายชื่อผู้รับ หากไม่ได้ระบุหรือว่างเปล่า ระบบจะตั้งค่าเริ่มต้นเป็นอีเมลของผู้ร้องขอ"
          },
          "description": {
            "type": "string",
            "description": "คำอธิบายนามแฝง"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "สตริงป้ายกำกับที่คั่นด้วยการแบ่งบรรทัด/ช่องว่าง/จุลภาค"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "อาร์เรย์ของฉลาก"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "กำหนดให้ผู้รับคลิกลิงก์ยืนยัน (ค่าเริ่มต้นเป็นการตั้งค่าโดเมน)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "ว่าจะเปิดใช้งานหรือปิดใช้งานนามแฝงนี้"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "รหัสข้อผิดพลาดหากปิดใช้งานนามแฝง ค่าเริ่มต้นคือ 250"
          },
          "has_imap": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานที่จัดเก็บ IMAP สำหรับนามแฝงนี้"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานการเข้ารหัส OpenPGP สำหรับนามแฝงนี้"
          },
          "public_key": {
            "type": "string",
            "description": "คีย์สาธารณะ OpenPGP ในรูปแบบ ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "โควตาพื้นที่เก็บข้อมูลสูงสุด (เช่น '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานการตอบกลับช่วงวันหยุด"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "วันที่เริ่มต้น (เช่น 'YYYY-MM-DD') สำหรับผู้ตอบกลับในช่วงวันหยุด"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "วันที่สิ้นสุด (เช่น 'YYYY-MM-DD') สำหรับผู้ตอบกลับในช่วงวันหยุด"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "หัวเรื่องข้อความธรรมดาสำหรับการตอบกลับในช่วงวันหยุด"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "ข้อความธรรมดาสำหรับการตอบกลับช่วงวันหยุด"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "ชื่อเล่น"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "สตริงที่คั่นด้วยเครื่องหมายจุลภาค/แบ่งบรรทัด/ช่องว่างของที่อยู่อีเมลที่ถูกต้อง, FQDN, IP หรือ URL ของเว็บฮุก"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "อาร์เรย์ของผู้รับที่ถูกต้อง"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "คำอธิบายนามแฝง"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "สตริงป้ายกำกับที่คั่นด้วยการแบ่งบรรทัด/ช่องว่าง/จุลภาค"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "อาร์เรย์ของฉลาก"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "กำหนดให้ผู้รับคลิกลิงก์ยืนยัน (ค่าเริ่มต้นเป็นการตั้งค่าโดเมน)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานนามแฝง"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "รหัสข้อผิดพลาดที่จะใช้หากปิดใช้งานนามแฝง (ค่าเริ่มต้นคือ 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานที่เก็บข้อมูล IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานการเข้ารหัส OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "คีย์สาธารณะ OpenPGP ในรูปแบบ ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "โควตาพื้นที่เก็บข้อมูลสูงสุด (เช่น '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "เปิดใช้งานหรือปิดใช้งานการตอบกลับช่วงวันหยุด"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "วันที่เริ่มต้นการตอบกลับในช่วงวันหยุด (เช่น YYYY-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "วันที่สิ้นสุดการตอบกลับในช่วงวันหยุด (เช่น YYYY-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "หัวข้อข้อความธรรมดาของผู้ตอบกลับในช่วงวันหยุด"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "ข้อความธรรมดาของผู้ตอบกลับช่วงวันหยุด"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "รหัสผ่านใหม่ที่คุณกำหนดเองเพื่อใช้สำหรับนามแฝง"
          },
          "password": {
            "type": "string",
            "description": "รหัสผ่านที่มีอยู่สำหรับนามแฝงเพื่อเปลี่ยนโดยไม่ต้องลบพื้นที่เก็บข้อมูลกล่องจดหมาย"
          },
          "is_override": {
            "type": "boolean",
            "description": "แทนที่รหัสผ่านที่มีอยู่และลบที่เก็บข้อมูล IMAP (ใช้ด้วยความระมัดระวัง)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลสำหรับส่งรหัสผ่านนามแฝงและคำแนะนำในการตั้งค่า"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "จำนวนอีเมลที่ส่งในปัจจุบัน"
          },
          "limit": {
            "type": "integer",
            "description": "จำนวนอีเมลสูงสุดที่อนุญาต"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "รหัสสมาชิก"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลของสมาชิก"
          },
          "role": {
            "type": "string",
            "description": "บทบาทของสมาชิก"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "ที่อยู่อีเมลที่ได้รับเชิญ"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "หน้าผลลัพธ์ที่จะส่งคืน หากไม่ได้ระบุ ค่าจะเป็น 1 ต้องเป็นตัวเลขที่มากกว่าหรือเท่ากับ 1",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "จำนวนผลลัพธ์ที่จะแสดงต่อหน้า ค่าเริ่มต้นคือ 25 หากไม่ได้ระบุ ต้องเป็นตัวเลขที่มากกว่าหรือเท่ากับ 1 และน้อยกว่าหรือเท่ากับ 100",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "เลือกเข้าร่วมการแบ่งหน้าก่อนวันที่ 1 พฤศจิกายน 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "รหัสโดเมน",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "รหัสนามแฝง",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "รหัสสมาชิก",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "รหัสอีเมล",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "รหัสติดต่อ",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "รหัสปฏิทิน",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID หรือเส้นทางโฟลเดอร์",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "รหัสข้อความ",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "บัญชี"
        ],
        "summary": "ดึงข้อมูลบัญชี",
        "description": "ดึงข้อมูลบัญชีของคุณ\n\n**การรับรองความถูกต้อง:** จุดสิ้นสุดนี้รองรับทั้งการรับรองความถูกต้องโทเค็น API และการรับรองความถูกต้องข้อมูลประจำตัวนามแฝง\n\n- **บัญชีผู้ใช้ (โทเค็น API):** เมื่อรับรองความถูกต้องด้วยโทเค็น API ของคุณ จุดสิ้นสุดนี้จะส่งคืนข้อมูลบัญชีผู้ใช้ของคุณ รวมถึงรายละเอียดแผน อีเมล และโทเค็น API\n\n- **บัญชีนามแฝง (ข้อมูลประจำตัวนามแฝง):** เมื่อรับรองความถูกต้องด้วยข้อมูลประจำตัวนามแฝง (อีเมลและรหัสผ่านที่สร้างขึ้น) จุดสิ้นสุดนี้จะส่งคืนข้อมูลนามแฝง/กล่องจดหมาย รวมถึงพื้นที่เก็บข้อมูลที่ใช้ โควต้าพื้นที่เก็บข้อมูล และการตั้งค่ากล่องจดหมาย วิธีนี้มีประโยชน์สำหรับไคลเอ็นต์ IMAP/POP3/CalDAV/CardDAV เพื่อตรวจสอบสถานะพื้นที่เก็บข้อมูล",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "บัญชี"
        ],
        "summary": "อัปเดตบัญชี",
        "description": "อัปเดตข้อมูลบัญชีของคุณ",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "ชื่อที่แสดง"
                  },
                  "locale": {
                    "type": "string",
                    "description": "การตั้งค่าตำแหน่งที่ตั้ง"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "ติดต่อเรา"
        ],
        "summary": "รายชื่อผู้ติดต่อ",
        "description": "ดึงรายชื่อผู้ติดต่อทั้งหมดสำหรับนามแฝงที่ผ่านการรับรองแล้ว จุดสิ้นสุดนี้รองรับการแบ่งหน้าและส่งคืนรายชื่อผู้ติดต่อในรูปแบบ CardDAV",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "ติดต่อเรา"
        ],
        "summary": "สร้างการติดต่อ",
        "description": "สร้างผู้ติดต่อใหม่ คุณสามารถระบุข้อมูล vCard โดยตรงหรือระบุข้อมูลผู้ติดต่อรายบุคคลที่จะแปลงเป็นรูปแบบ vCard ก็ได้ หากมีผู้ติดต่อที่มี ID เดียวกันอยู่แล้ว ระบบจะแสดงข้อผิดพลาดข้อขัดแย้ง",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "ติดต่อเรา"
        ],
        "summary": "ดึงข้อมูลติดต่อ",
        "description": "ดึงข้อมูลผู้ติดต่อเฉพาะตาม ID ผู้ติดต่อจะถูกส่งคืนในรูปแบบ Contact มาตรฐานพร้อมเนื้อหา vCard และฟิลด์ที่แยกวิเคราะห์",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "ติดต่อเรา"
        ],
        "summary": "อัปเดตข้อมูลติดต่อ",
        "description": "อัปเดตผู้ติดต่อที่มีอยู่ คุณสามารถระบุเนื้อหา vCard ที่อัปเดตแล้วหรือระบุฟิลด์ที่ต้องการอัปเดตได้ vCard ของผู้ติดต่อจะถูกสร้างขึ้นใหม่หากมีการระบุฟิลด์ที่ต้องการอัปเดต",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "ติดต่อเรา"
        ],
        "summary": "ลบรายชื่อผู้ติดต่อ",
        "description": "ลบรายชื่อติดต่อที่ต้องการอย่างถาวร การดำเนินการนี้ไม่สามารถย้อนกลับได้",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "ปฏิทิน"
        ],
        "summary": "รายการปฏิทิน",
        "description": "ดึงรายการปฏิทินทั้งหมดสำหรับนามแฝงที่ผ่านการรับรองความถูกต้อง จุดสิ้นสุดนี้รองรับการแบ่งหน้าและส่งคืนปฏิทินในรูปแบบ CalDAV",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "ปฏิทิน"
        ],
        "summary": "สร้างปฏิทิน",
        "description": "สร้างปฏิทินใหม่ จำเป็นต้องระบุชื่อปฏิทิน ส่วนคุณสมบัติอื่นๆ เช่น สี เขตเวลา และคำอธิบาย เป็นตัวเลือกเสริม หากมีปฏิทินที่มีชื่อเดียวกันอยู่แล้ว ระบบจะแสดงข้อผิดพลาดข้อขัดแย้ง",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "ปฏิทิน"
        ],
        "summary": "ดึงข้อมูลปฏิทิน",
        "description": "ดึงปฏิทินที่ต้องการตาม ID ปฏิทินจะแสดงพร้อมคุณสมบัติทั้งหมด ได้แก่ ชื่อ คำอธิบาย สี เขตเวลา และลำดับ",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "ปฏิทิน"
        ],
        "summary": "อัปเดตปฏิทิน",
        "description": "อัปเดตปฏิทินที่มีอยู่ คุณสามารถอัปเดตคุณสมบัติปฏิทินใดๆ ก็ได้ รวมถึงชื่อ คำอธิบาย สี เขตเวลา และลำดับ หากคุณเปลี่ยนชื่อเป็นชื่อที่มีอยู่แล้ว ระบบจะแสดงข้อผิดพลาดข้อขัดแย้ง",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "ปฏิทิน"
        ],
        "summary": "ลบปฏิทิน",
        "description": "ลบปฏิทินที่ต้องการอย่างถาวร การดำเนินการนี้ไม่สามารถย้อนกลับได้ และจะลบกิจกรรมทั้งหมดภายในปฏิทินด้วย",
        "operationId": "deleteCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendar-events": {
      "get": {
        "tags": [
          "กิจกรรมในปฏิทิน"
        ],
        "summary": "รายการกิจกรรมในปฏิทิน",
        "description": "ดึงรายการกิจกรรมในปฏิทินสำหรับนามแฝงที่ผ่านการรับรองความถูกต้อง จุดสิ้นสุดนี้รองรับการแบ่งหน้าและการกรองตามปฏิทิน ช่วงวันที่ และสถานะการลบ",
        "operationId": "listCalendarEvents",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "name": "calendar_id",
            "in": "query",
            "description": "กรองเหตุการณ์ตาม ID ปฏิทิน",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "กรองเหตุการณ์ที่เริ่มต้นจากวันที่นี้ (รูปแบบ ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
[...]
