{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Welkom bij de uitgebreide API-documentatie voor Forward Email. Met deze API kunt u e-maildoorsturing, domeinen, aliassen, uitgaande e-mails en meer programmatisch beheren.\n\n## Belangrijkste functies\n* **Domeinbeheer:** Domeinen aanmaken, ophalen, bijwerken, verwijderen en verifiëren.\n* **Aliasbeheer:** E-mailaliassen beheren, inclusief aanmaken, bijwerken en ontvangersbeheer.\n* **Uitgaande SMTP:** E-mails verzenden via SMTP, limieten beheren en verzonden e-mails volgen.\n* **Account & Logs:** Uw accountgegevens beheren en activiteitenlogs downloaden.\n* **Beveiliging:** TXT-records versleutelen en domeinleden/uitnodigingen beheren.\n* **Binnenkort beschikbaar:** Functies zoals CardDAV-contacten, CalDAV-agenda's en IMAP/POP3-berichten-/mapbeheer staan gepland.\n\n## Authenticatie\nDe meeste eindpunten vereisen authenticatie met uw **API-sleutel**. Geef de API-sleutel op als `gebruikersnaam` in de header van de basisauthenticatie en laat het wachtwoord leeg.\n\n```http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(Vervang `API_TOKEN` door uw daadwerkelijke sleutel vóór Base64-codering)\n\nEindpunten gerelateerd aan **Alias Contacten, Agenda's, Berichten en Mappen** (momenteel gemarkeerd als \"Binnenkort beschikbaar\") gebruiken een gegenereerde aliasgebruikersnaam en -wachtwoord voor basisauthenticatie.\n\n## Fouten\nDe API gebruikt standaard HTTP-statuscodes om succes of mislukking aan te geven. Foutreacties bevatten een JSON-body met een `bericht`-veld waarin de fout wordt beschreven.\n\n| Statuscode | Betekenis |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Foutverzoek |\n| 401 | Ongeautoriseerd |\n| 403 | Verboden |\n| 404 | Niet gevonden |\n| 429 | Te veel verzoeken |\n| 500 | Interne serverfout |\n| 501 | Niet geïmplementeerd |\n| 502 | Ongeldige gateway |\n| 503 | Service niet beschikbaar |\n| 504 | Gateway-time-out |\n\n*Als u een `5xx`-fout tegenkomt, neem dan contact op met [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalisatie\nAPI-reacties worden vertaald op basis van de gedetecteerde landinstellingen van de gebruiker of de `Accept-Language`-header. Er worden meer dan 25 talen ondersteund.\n\n## Paginering\nEindpunten die lijsten retourneren, ondersteunen paginering via queryparameters.\n\n| Parameter | Type | Optioneel | Beschrijving | Standaard | Beperkingen |\n|--------------|---------|----------|--------------------------------------------------------------|---------|--------------------|\n| `page` | Geheel getal | Ja | Op te halen paginanummer. | 1 | `>= 1` |\n| `limit` | Geheel getal | Ja | Aantal resultaten per pagina. | 10 | `>= 1`, `<= 50` |\n| `paginering` | Booleaans | Ja | Opt-in voor paginering (vereist vóór 1 november 2024 voor sommige eindpunten). | false | |\n\n**Paginatieheaders:**\n* `X-Page-Count`: Totaal aantal pagina's.\n* `X-Page-Current`: Huidig paginanummer.\n* `X-Page-Size`: Aantal items op de huidige pagina. * `X-Item-Count`: Totaal aantal items op alle pagina's.\n* `Link`: Navigatielinks (vorige, volgende, eerste, laatste).\n\n**Voorbeeld:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Aanbevolen bibliotheken\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Onderhouden door Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "API-server voor doorsturen van e-mail"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Gebruik uw API-sleutel als **gebruikersnaam** voor basisauthenticatie. Laat het wachtwoordveld leeg.\n\n**Voorbeeld:**\nAls uw API-sleutel `YOUR_API_KEY` is, is de Base64-gecodeerde waarde voor de header `Authorization` `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Gebruik de gegenereerde **alias gebruikersnaam en wachtwoord** voor basisverificatie. Dit geldt voor eindpunten onder:\n* Alias Contacten (CardDAV)\n* Alias Agenda's (CalDAV)\n* Alias Berichten (IMAP/POP3)\n* Alias Mappen (IMAP/POP3)\n\n*(Opmerking: Deze functies zijn momenteel gemarkeerd als \"Binnenkort beschikbaar\")*\n\n**Voorbeeld:**\nAls de alias gebruikersnaam `alias@domein.com` is en het wachtwoord `GENERATED_PASSWORD`, dan is de Base64-gecodeerde waarde `echo -n \"alias@domein.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAutorisatie: Basis YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Foutmelding"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Het e-mailadres van de afzender (moet bestaan als alias van het domein)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Door komma's gescheiden lijst of een matrix met ontvangers voor de 'Aan'-header."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Door komma's gescheiden lijst of een matrix met ontvangers voor de 'Cc'-header."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Door komma's gescheiden lijst of een matrix met ontvangers voor de 'Bcc'-header."
          },
          "subject": {
            "type": "string",
            "description": "Het onderwerp van de e-mail."
          },
          "text": {
            "type": "string",
            "description": "De plattetekstversie van het bericht."
          },
          "html": {
            "type": "string",
            "description": "De HTML-versie van het bericht."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Een reeks bijlageobjecten (zie Algemene velden van Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Het e-mailadres voor de header 'Afzender'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Het e-mailadres voor de 'Reply-To'-header."
          },
          "inReplyTo": {
            "type": "string",
            "description": "De bericht-ID waarop het bericht een antwoord is."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Door spaties gescheiden lijst of een array van bericht-ID's."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Als dit waar is, worden gegevens omgezet: afbeeldingen in de HTML-inhoud naar ingesloten bijlagen."
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch-specifieke HTML-versie van het bericht."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL specifieke HTML-versie van het bericht."
          },
          "icalEvent": {
            "type": "object",
            "description": "Een iCalendar-gebeurtenis als alternatieve berichtinhoud."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Een reeks alternatieve berichtinhoud."
          },
          "encoding": {
            "type": "string",
            "description": "Codering voor de tekst en HTML-strings (bijv. 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Aangepaste gegenereerde RFC822-geformatteerde berichten (in plaats van Nodemailer-generatie)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Codering moet verplicht worden gebruikt voor tekstwaarden."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Prioriteitsniveau voor de e-mail."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Object of array met extra headervelden."
          },
          "messageId": {
            "type": "string",
            "description": "Optionele Message-ID voor de 'Message-ID'-header."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Optionele datumkop. Kan niet meer dan 30 dagen in de toekomst liggen."
          },
          "list": {
            "type": "object",
            "description": "Optioneel object van List-* headers."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Volledig gekwalificeerde domeinnaam (FQDN) of IP-adres"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Toewijzen aan hetzelfde team vanuit een ander domein; kan een domein-ID of FQDN zijn. Gebruik \"geen\" om expliciet uit te schakelen."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Plantype (standaard 'gratis' of het huidige betaalde abonnement van de gebruiker)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Gescheiden lijst met e-mailadressen (gescheiden door komma's, spaties of nieuwe regels)"
              }
            ],
            "description": "Maak een standaard catch-all alias (standaard ingesteld op true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Spam Scanner-bescherming voor inhoud voor volwassenen inschakelen"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Spam Scanner phishing-beveiliging inschakelen"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Spam Scanner-uitvoerbare bescherming inschakelen"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Spam Scanner-virusbeveiliging inschakelen"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vereist dat aliasontvangers op de e-mailverificatielink klikken"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Negeer MX-recordcontrole voor geavanceerde e-mailrouteringsinstellingen"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Aantal dagen dat uitgaande SMTP-logs bewaard moeten blijven (0–30, standaard: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhook-URL voor het ontvangen van bounce-gebeurtenissen"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Bounce-webhook uitschakelen"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Maximale opslagquotum per alias (bijv. '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Aangepaste poort om te configureren voor SMTP-doorsturen (standaard is '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Of de bescherming tegen inhoud voor volwassenen van Spam Scanner op dit domein moet worden ingeschakeld"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Of de phishingbeveiliging van Spam Scanner op dit domein moet worden ingeschakeld"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Of de uitvoerbare bescherming van Spam Scanner op dit domein moet worden ingeschakeld"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Of de Spam Scanner-virusbeveiliging op dit domein moet worden ingeschakeld"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Standaardinstelling voor globaal domein voor de vraag of aliasontvangers op een e-mailverificatielink moeten klikken om e-mails door te laten stromen"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Of de MX-recordcontrole op het domein voor verificatie moet worden genegeerd (vooral bij geavanceerde MX-routeringsinstellingen)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Aantal dagen om uitgaande SMTP-e-mails op te slaan (0 = direct verwijderen)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhook-URL om bouncemeldingen te ontvangen, of false om uit te schakelen"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Opslagquotum per alias (bijv. '1 GB', geparseerd in bytes)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnaam (indien niet opgegeven of leeg, wordt een willekeurige alias gegenereerd)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Door regelafbrekingen/spaties/komma's gescheiden reeksen van geldige e-mailadressen, FQDN's, IP's of webhook-URL's"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Array van geldige ontvangers"
              }
            ],
            "description": "Lijst met ontvangers. Indien niet opgegeven of leeg, wordt standaard het e-mailadres van de aanvrager gebruikt."
          },
          "description": {
            "type": "string",
            "description": "Aliasbeschrijving"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Door regelafbrekingen/spaties/komma's gescheiden reeks labels"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array van labels"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vereisen dat ontvangers op de verificatielink klikken (standaardinstelling domein)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Of deze alias moet worden in- of uitgeschakeld"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Foutcode als alias is uitgeschakeld. Standaardwaarde is 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-opslag voor deze alias in- of uitschakelen"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP-codering voor deze alias in- of uitschakelen"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP openbare sleutel in ASCII Armor-formaat"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximale opslagquotum (bijv. '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Vakantieantwoorder in- of uitschakelen"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdatum (bijv. 'JJJJ-MM-DD') voor vakantierespondent"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Einddatum (bijv. 'JJJJ-MM-DD') voor vakantiebeantwoorder"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Onderwerp in platte tekst voor vakantiebeantwoorder"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Plattetekstbericht voor vakantiebeantwoorder"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnaam"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Door regelafbrekingen/spaties/komma's gescheiden reeksen van geldige e-mailadressen, FQDN's, IP's of webhook-URL's"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Array van geldige ontvangers"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Aliasbeschrijving"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Door regelafbrekingen/spaties/komma's gescheiden reeks labels"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array van labels"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Vereisen dat ontvangers op de verificatielink klikken (standaardinstelling domein)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Alias in- of uitschakelen"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Foutcode die moet worden gebruikt als de alias is uitgeschakeld (standaard 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-opslag in- of uitschakelen"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP-codering in- of uitschakelen"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP openbare sleutel in ASCII Armor-formaat"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximale opslagquotum (bijv. '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Vakantieantwoorder in- of uitschakelen"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Begindatum vakantiewerker (bijv. JJJJ-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Einddatum vakantieresponder (bijv. JJJJ-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Onderwerp van de vakantiebeantwoorder in platte tekst"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Tekstbericht van de vakantiebeantwoorder"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Uw nieuwe, aangepaste wachtwoord voor de alias"
          },
          "password": {
            "type": "string",
            "description": "Bestaand wachtwoord voor alias om het te wijzigen zonder de mailboxopslag te verwijderen"
          },
          "is_override": {
            "type": "boolean",
            "description": "Bestaand wachtwoord overschrijven en IMAP-opslag verwijderen (voorzichtig gebruiken)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-mailadres om aliaswachtwoord en installatie-instructies te verzenden"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Huidig aantal verzonden e-mails"
          },
          "limit": {
            "type": "integer",
            "description": "Maximaal aantal toegestane e-mails"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Lidmaatschaps-ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "E-mailadres van het lid"
          },
          "role": {
            "type": "string",
            "description": "Rol van het lid"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Uitgenodigd e-mailadres"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Pagina met te retourneren resultaten. Indien niet gespecificeerd, is de waarde 1. Moet een getal groter dan of gelijk aan 1 zijn.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Aantal resultaten per pagina. Standaardwaarde 10 indien niet gespecificeerd. Moet een getal groter dan of gelijk aan 1 en kleiner dan of gelijk aan 50 zijn.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Geef u vóór 1 november 2024 op voor paginering",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Domein-ID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "ID-aliassen",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Lidmaatschaps-ID",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "E-mailadres",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "Account aanmaken",
        "description": "Een nieuw gebruikersaccount aanmaken",
        "tags": [
          "Rekening"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mailadres"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Wachtwoord"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "Account ophalen",
        "description": "De accountgegevens van de huidige gebruiker ophalen",
        "tags": [
          "Rekening"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Account bijwerken",
        "description": "De accountgegevens van de huidige gebruiker bijwerken",
        "tags": [
          "Rekening"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mailadres"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "Voornaam"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "Achternaam"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Link naar avatarafbeelding"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "Logboeken downloaden",
        "description": "**Logs downloaden**\n\nBeschrijving: Met onze API kunt u programmatisch logs voor uw account downloaden. Door een verzoek in te dienen bij dit eindpunt, worden alle logs voor uw account verwerkt en na voltooiing als bijlage (Gzip-gecomprimeerd CSV-spreadsheetbestand) naar u gemaild.\n\nHiermee kunt u achtergrondtaken aanmaken met een cron-taak of met Node.js-taakplanningssoftware Bree om logs te ontvangen wanneer u maar wilt. Houd er rekening mee dat dit eindpunt beperkt is tot `10` verzoeken per dag.\n\nDe bijlage is de kleine letter `email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz` en de e-mail zelf bevat een korte samenvatting van de opgehaalde logs.",
        "tags": [
          "Logboeken"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Filter logs op volledig gekwalificeerd domein (\"FQDN\"). Indien niet opgegeven, worden alle logs van alle domeinen opgehaald.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Zoek naar logs op e-mailadres, domein, aliasnaam, IP-adres of datum (in de indeling M/J, M/D/JJ, M-D, M-D-JJ of M.D.JJ).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "Zoek naar logs op basis van een specifieke bouncecategorie (bijv. 'blokkeerlijst').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "Zoek naar logs met een specifieke foutresponscode (bijv. 421 of 550).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Lijst met uitgaande SMTP-e-mails",
        "description": "**Uitgaande SMTP-e-mails weergeven**\n\nHoud er rekening mee dat dit eindpunt geen eigenschapswaarden retourneert voor de 'bericht', 'headers' en 'rejectedErrors' van een e-mail.\n\nOm deze eigenschappen en hun waarden te retourneren, gebruikt u het eindpunt [E-mail ophalen](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) met een e-mail-ID.",
        "tags": [
          "E-mails"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Zoek naar e-mails op metagegevens.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Zoek naar e-mails op domeinnaam.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteren op een specifiek veld (voorvoegsel met een enkel streepje - om in de omgekeerde richting van dat veld te sorteren). Standaard is dit created_at als deze optie niet is ingesteld.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zie Paginering voor meer informatie.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Zie Paginering voor meer informatie.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Uitgaande SMTP-e-mail maken",
        "description": "Onze API voor het maken van een e-mail is geïnspireerd op en maakt gebruik van de berichtconfiguratie van Nodemailer. Raadpleeg de [berichtconfiguratie van Nodemailer](https://nodemailer.com/message/) voor alle onderstaande bodyparameters.\n\nMet uitzondering van `envelope` en `dkim` (aangezien we die automatisch voor u instellen), ondersteunen we alle Nodemailer-opties. Om veiligheidsredenen stellen we de opties `disableFileAccess` en `disableUrlAccess` automatisch in op `true`.\n\nU dient ofwel de enkele optie `raw` mee te sturen met uw volledige raw-e-mail inclusief headers, ofwel de onderstaande individuele bodyparameteropties.\n\nDit API-eindpunt codeert automatisch emoji's als ze in de headers voorkomen (bijvoorbeeld: een onderwerpregel met de tekst `Subject: 🤓 Hello` wordt automatisch omgezet naar `Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello`). Ons doel was om een e-mail-API te maken die uiterst gebruiksvriendelijk en onfeilbaar is voor ontwikkelaars.",
        "tags": [
          "E-mails"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "Limiet voor uitgaande SMTP-e-mail ophalen",
        "description": "Dit is een eenvoudig eindpunt dat een JSON-object retourneert met de `count` en `limit` voor het aantal dagelijkse uitgaande SMTP-berichten per account.",
        "tags": [
          "E-mails"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "Uitgaande SMTP-e-mail ophalen",
        "description": "Een specifiek uitgaand SMTP-e-mailadres ophalen.",
        "tags": [
          "E-mails"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Uitgaande SMTP-e-mail verwijderen",
        "description": "Het verwijderen van e-mails zet de status op 'afgewezen' (en verwerkt deze vervolgens niet in de wachtrij) als en alleen als de huidige status 'in behandeling', 'in wachtrij' of 'uitgesteld' is. We kunnen e-mails automatisch verwijderen na 30 dagen nadat ze zijn aangemaakt en/of verzonden. Bewaar daarom een kopie van uitgaande SMTP-e-mails in uw client, database of applicatie. U kunt desgewenst verwijzen naar onze e-mail-ID in uw database. Deze waarde wordt geretourneerd door zowel de eindpunten [E-mail maken](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email) als [E-mail ophalen](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email).",
        "tags": [
          "E-mails"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "Lijstdomeinen",
        "description": "> [!NOTE]\n>Vanaf 1 november 2024 staan de API-eindpunten voor lijstdomeinen en lijstdomeinaliassen standaard op maximaal `1000` resultaten per pagina. Als u zich hier al eerder voor wilt aanmelden, kunt u `?paginate=true` als extra querystringparameter aan de URL voor de eindpuntquery doorgeven. Zie Paginering voor meer informatie.",
        "tags": [
          "Domeinen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Zoek naar domeinen op basis van metagegevens.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Zoek naar domeinen op domeinnaam.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteren op een specifiek veld (voorvoegsel met een enkel streepje - om in de omgekeerde richting van dat veld te sorteren). Standaard is dit created_at als deze optie niet is ingesteld.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zie Paginering voor meer informatie.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Zie Paginering voor meer informatie.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Domein aanmaken",
        "description": "Creëert een nieuw domein in het systeem. Met dit eindpunt kunt u een volledig gekwalificeerde domeinnaam (FQDN) of IP-adres registreren voor gebruik met het platform.\n\nOptionele configuratieopties omvatten het toewijzen van het domein aan een bestaand team, het instellen van een abonnementstype (bijv. gratis, uitgebreide beveiliging of team) en het configureren van geavanceerde beveiligingen zoals spamfiltering, virusscans en ontvangersverificatie. U kunt ook configureren of er standaard een catch-all-alias moet worden aangemaakt, een aangepaste bounce-webhook-URL instellen voor SMTP-fouten en opslagquotalimieten definiëren voor e-mailaliassen op dit domein. Dit eindpunt voert validatie en provisioning op domeinniveau uit. Als de optie `ignore_mx_check` is ingeschakeld, wordt MX-recordverificatie overgeslagen (alleen aanbevolen voor geavanceerde routeringsinstellingen). Het antwoord bevat alle details van het aangemaakte domeinobject, inclusief de DNS-records die nodig zijn voor de configuratie.",
        "tags": [
          "Domeinen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Domein ophalen",
        "description": "Een specifiek domein ophalen",
        "tags": [
          "Domeinen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Domein bijwerken",
        "description": "Een specifiek domein bijwerken.",
        "tags": [
          "Domeinen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Domein verwijderen",
        "description": "Een specifiek domein verwijderen.",
        "tags": [
          "Domeinen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Domeinrecords verifiëren",
        "description": "Controleer DNS-records voor een specifiek domein.",
        "tags": [
          "Domeinen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "Controleer domein SMTP-records",
        "description": "Controleert de SMTP-gerelateerde DNS-records voor het opgegeven domein.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "Domeinen"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Volledig gekwalificeerde domeinnaam (FQDN) ter verificatie",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "Maak een domeinbreed catch-all-wachtwoord aan",
        "description": "Creëert een domeinbreed verzamelwachtwoord. Als er geen wachtwoord wordt opgegeven, wordt er een veilig willekeurig wachtwoord gegenereerd.",
        "tags": [
          "Domeinen"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "De domeinnaam om het verzamelwachtwoord voor te maken"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "Uw nieuwe, aangepaste wachtwoord voor het domeinbrede verzamelwachtwoord. Laat dit leeg om een sterk wachtwoord te genereren."
                  },
                  "description": {
                    "type": "string",
                    "description": "Beschrijving is uitsluitend bedoeld voor organisatorische doeleinden."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Domeinbrede catch-all-wachtwoorden opsommen",
        "description": "Retourneert een lijst met domeinbrede catch-all-wachtwoorden die momenteel zijn geconfigureerd voor het opgegeven domein.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "Domeinen"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Volledig gekwalificeerde domeinnaam (FQDN) waarvoor u algemene wachtwoorden wilt vermelden",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "Verwijder domeinbrede catch-all-wachtwoorden",
        "description": "Verwijdert een domeinbreed catch-all-wachtwoord met behulp van de opgegeven token-ID.",
        "tags": [
          "Domeinen"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "De domeinnaam die aan het catch-all-wachtwoord is gekoppeld"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "De token-ID van het domeinbrede catch-all-wachtwoord dat moet worden verwijderd"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Domeinuitnodiging accepteren",
        "description": "Accepteer een uitnodiging voor een domein.",
        "tags": [
          "Uitnodigingen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Domeinuitnodiging maken",
        "description": ">[!IMPORTANT]\n>Als de uitgenodigde gebruiker al een geaccepteerd lid is van andere domeinen waarvan de beheerder die hem uitnodigt lid is, wordt de uitnodiging automatisch geaccepteerd en wordt er geen e-mail verzonden.",
        "tags": [
          "Uitnodigingen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mailadres om uit te nodigen voor de domeinledenlijst"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "Groep waaraan de gebruiker aan het domeinlidmaatschap moet worden toegevoegd (kan `\"admin\"` of `\"user\"` zijn)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Domeinuitnodiging verwijderen",
        "description": "Een uitnodiging voor een domein verwijderen.",
        "tags": [
          "Uitnodigingen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-mailadres om te verwijderen uit de ledenlijst van het domein"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "Domeinlid bijwerken",
        "description": "Een domeinlid bijwerken.",
        "tags": [
          "Leden"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "Groep waarmee de gebruiker moet worden bijgewerkt naar het domeinlidmaatschap (kan `\"admin\"` of `\"user\"` zijn)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Domeinlid verwijderen",
        "description": "Een domeinlid verwijderen.",
        "tags": [
          "Leden"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "Genereer een aliaswachtwoord",
        "description": "Genereer een wachtwoord voor een alias. Als `emailed_instructions` niet is opgegeven, bevat het antwoord de gegenereerde gebruikersnaam en het wachtwoord.",
        "tags": [
          "Aliassen"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Volledig gekwalificeerde domeinnaam (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unieke identificatie van de alias"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Domeinaliassen weergeven",
        "description": ">[!NOTE]\n>Vanaf 1 november 2024 staan de API-eindpunten voor 'Lijst domeinen' en 'Lijst domeinaliassen' standaard op maximaal '1000' resultaten per pagina. Als u zich hier al eerder voor wilt aanmelden, kunt u '?paginate=true' als extra querystringparameter aan de URL voor de eindpuntquery doorgeven. Zie Paginering voor meer informatie.",
        "tags": [
          "Aliassen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Zoeken naar aliassen in een domein op naam, label of ontvanger (RegExp ondersteund)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Zoeken naar aliassen in een domein op naam (RegExp ondersteund)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Zoeken naar aliassen in een domein op ontvanger (RegExp ondersteund)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteren op een specifiek veld (voorvoegsel met een enkel streepje - om omgekeerd te sorteren). Standaard is dit created_at.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Nieuw domeinalias aanmaken",
        "description": "Maak een nieuwe alias voor een specifiek domein.",
        "tags": [
          "Aliassen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "Domeinalias ophalen",
        "description": "Haal een specifieke alias op voor een domein.",
        "tags": [
          "Aliassen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Domeinalias bijwerken",
        "description": "Een specifieke alias voor een domein bijwerken.",
        "tags": [
          "Aliassen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Domeinalias verwijderen",
        "description": "Een specifieke alias voor een domein verwijderen.",
        "tags": [
          "Aliassen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "TXT-record versleutelen",
        "description": "We bieden je de mogelijkheid om records te versleutelen, zelfs met het gratis abonnement, zonder extra kosten. Privacy zou geen feature moeten zijn, maar inherent ingebouwd in alle aspecten van een product. Zoals gevraagd in een discussie over de [Privacy Guides](https://discuss.privacyguides.net/t/forward-email-email-provider/13370) en op onze [GitHub-issues](https://github.com/forwardemail/forwardemail.net/issues/254) hebben we dit toegevoegd.",
        "tags": [
          "Versleutelen"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "Een geldige Forward Email plaintext TXT-record"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "Contactenlijst",
        "description": "Toon alle contacten (CardDAV). Dit eindpunt is binnenkort beschikbaar.",
        "tags": [
          "Alias-contacten"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Contactpersoon aanmaken",
        "description": "Maak een nieuw contact aan (CardDAV). Dit eindpunt is binnenkort beschikbaar.",
        "tags": [
          "Alias-contacten"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Contact-ID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Contactpersoon ophalen",
        "description": "Haal een specifiek contact op (CardDAV). Dit eindpunt is binnenkort beschikbaar.",
        "tags": [
          "Alias-contacten"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Contactpersoon bijwerken",
[...]
