{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Forward Email için kapsamlı API belgelerine hoş geldiniz. Bu API, e-posta yönlendirmeyi, etki alanlarını, takma adları, giden e-postaları ve daha fazlasını programatik olarak yönetmenizi sağlar.\n\n## Temel Özellikler\n* **Alan Yönetimi:** Etki alanlarını oluşturun, alın, güncelleyin, silin ve doğrulayın.\n* **Takma Ad Yönetimi:** Oluşturma, güncelleme ve alıcı yönetimi dahil olmak üzere e-posta takma adlarını yönetin.\n* **Giden SMTP:** SMTP üzerinden e-posta gönderin, limitleri yönetin ve gönderilen e-postaları takip edin.\n* **Hesap ve Günlükler:** Hesap ayrıntılarınızı yönetin ve etkinlik günlüklerini indirin.\n* **Güvenlik:** TXT kayıtlarını şifreleyin ve etki alanı üyelerini/davetlerini yönetin. * **Yakında:** CardDAV kişileri, CalDAV takvimleri ve IMAP/POP3 mesaj/klasör yönetimi gibi özellikler planlanıyor.\n\n## Kimlik Doğrulama\nÇoğu uç nokta, **API Anahtarınızı** kullanarak kimlik doğrulaması gerektirir. Temel Kimlik Doğrulama başlığında `kullanıcı adı` olarak API Anahtarını sağlayın ve parolayı boş bırakın.\n\n```http\nYetkilendirme: Temel QVBJX1RPS0VOOg==\n```\n(`API_TOKEN`'ı Base64 kodlamasından önce gerçek anahtarınızla değiştirin)\n\n**Takma Adlı Kişiler, Takvimler, Mesajlar ve Klasörler** ile ilgili uç noktalar (şu anda \"Yakında\" olarak işaretlenmiştir) Temel Kimlik Doğrulama için oluşturulmuş bir takma ad kullanıcı adı ve parola kullanacaktır.\n\n## Hatalar\nAPI, başarıyı veya başarısızlığı belirtmek için standart HTTP durum kodlarını kullanır. Hata yanıtları, hatayı ayrıntılı olarak açıklayan bir `mesaj` alanı içeren bir JSON gövdesi içerir.\n\n| Durum Kodu | Anlam |\n|-------------|----------------------|\n| 200 | Tamam |\n| 400 | Kötü İstek |\n| 401 | Yetkisiz |\n| 403 | Yasak |\n| 404 | Bulunamadı |\n| 429 | Çok Fazla İstek |\n| 500 | Dahili Sunucu Hatası |\n| 501 | Uygulanmadı |\n| 502 | Kötü Ağ Geçidi |\n| 503 | Hizmet Kullanılamıyor |\n| 504 | Ağ Geçidi Zaman Aşımı |\n\n*Bir `5xx` hatasıyla karşılaşırsanız lütfen [api@forwardemail.net](mailto:api@forwardemail.net) ile iletişime geçin.*\n\n## Yerelleştirme\nAPI yanıtları kullanıcının algılanan yerel ayarına veya `Accept-Language` başlığına göre çevrilir. 25'ten fazla dil desteklenmektedir.\n\n## Sayfalandırma\nListeleri döndüren uç noktalar, sorgu parametreleri aracılığıyla sayfalandırmayı destekler.\n\n| Parametre | Tür | İsteğe bağlı | Açıklama | Varsayılan | Kısıtlamalar |\n|-------------|----------|------------|----------------------------------------------------------------------------------------------------|---------------------|\n| `page` | Tam sayı | Evet | Alınacak sayfa numarası. | 1 | `>= 1` |\n| `limit` | Tam sayı | Evet | Sayfa başına sonuç sayısı. | 10 | `>= 1`, `<= 50` |\n| `pagination` | Boolean | Evet | Sayfalandırma davranışına katılım (bazı uç noktalar için 1 Kasım 2024'ten önce gereklidir). | false | |\n\n**Sayfalandırma Başlıkları:**\n* `X-Page-Count`: Toplam sayfa sayısı.\n* `X-Page-Current`: Geçerli sayfa numarası.\n* `X-Page-Size`: Geçerli sayfadaki öğe sayısı.\n* `X-Item-Count`: Tüm sayfalardaki toplam öğe sayısı.\n* `Link`: Gezinme bağlantıları (önceki, sonraki, ilk, son).\n\n**Örnek:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Önerilen Kütüphaneler\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Forward Email tarafından yönetilir)\n* **Git:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "E-posta API Sunucusunu İlet"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nTemel Kimlik Doğrulama için **kullanıcı adı** olarak API Anahtarınızı kullanın. Parola alanını boş bırakın.\n\n**Örnek:**\nAPI Anahtarınız `YOUR_API_KEY` ise, `Authorization` başlığı için Base64 kodlu değer `echo -n \"YOUR_API_KEY:\" | base64` olur.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nTemel Kimlik Doğrulaması için oluşturulan **takma ad kullanıcı adı ve parolasını** kullanın. Bu, aşağıdaki uç noktalar için geçerlidir:\n* Takma Ad Kişiler (CardDAV)\n* Takma Ad Takvimler (CalDAV)\n* Takma Ad Mesajlar (IMAP/POP3)\n* Takma Ad Klasörler (IMAP/POP3)\n\n*(Not: Bu özellikler şu anda \"Yakında Geliyor\" olarak işaretlenmiştir)*\n\n**Örnek:**\nTakma ad kullanıcı adı `alias@domain.com` ve parola `GENERATED_PASSWORD` ise, Base64 kodlu değer `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64` olur.\n\n```http\nYetkilendirme: Temel YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Hata mesajı"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Gönderenin e-posta adresi (alan adının takma adı olarak bulunmalıdır)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "'Kime' başlığı için virgülle ayrılmış liste veya alıcı dizisi."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "'Cc' başlığı için virgülle ayrılmış liste veya alıcı dizisi."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "'Bcc' başlığı için virgülle ayrılmış liste veya alıcı dizisi."
          },
          "subject": {
            "type": "string",
            "description": "E-postanın konusu."
          },
          "text": {
            "type": "string",
            "description": "Mesajın düz metin versiyonu."
          },
          "html": {
            "type": "string",
            "description": "Mesajın HTML versiyonu."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Bir dizi ek nesnesi (Nodemailer'ın ortak alanlarına bakın)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "'Gönderen' başlığı için e-posta adresi."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "'Cevapla' başlığı için e-posta adresi."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Mesajın cevap olarak gönderildiği Mesaj Kimliği."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Boşlukla ayrılmış liste veya Mesaj Kimlikleri dizisi."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Doğruysa, HTML içeriğindeki verileri: görüntüleri gömülü eklere dönüştürür."
          },
          "watchHtml": {
            "type": "string",
            "description": "Mesajın Apple Watch'a özel HTML versiyonu."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL'e özel mesajın HTML versiyonu."
          },
          "icalEvent": {
            "type": "object",
            "description": "Alternatif mesaj içeriği olarak iCalendar etkinliği."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Alternatif mesaj içeriklerinin dizisi."
          },
          "encoding": {
            "type": "string",
            "description": "Metin ve HTML dizeleri için kodlama (örneğin, 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Özel olarak oluşturulmuş RFC822 biçimli mesaj (Nodemailer oluşturma yerine)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Metin değerleri için zorunlu olarak kodlama kullanılması."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "E-postanın öncelik düzeyi."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Ek başlık alanlarının nesnesi veya dizisi."
          },
          "messageId": {
            "type": "string",
            "description": "'Mesaj Kimliği' başlığı için isteğe bağlı Mesaj Kimliği."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "İsteğe bağlı Tarih başlığı. 30 günden daha ileride olamaz."
          },
          "list": {
            "type": "object",
            "description": "List-* başlıklarının isteğe bağlı nesnesi."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Tam nitelikli alan adı (FQDN) veya IP adresi"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Başka bir etki alanından aynı takıma atayın; bir etki alanı kimliği veya FQDN olabilir. Açıkça devre dışı bırakmak için \"hiçbiri\" kullanın."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Plan türü (varsayılan olarak 'ücretsiz' veya kullanıcının mevcut ücretli planı)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "E-posta adreslerinin ayrılmış listesi (virgül, boşluk veya yeni satırla ayrılmış)"
              }
            ],
            "description": "Varsayılan bir genel takma ad oluşturun (varsayılanı true'dur)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Spam Tarayıcısının yetişkin içerik korumasını etkinleştirin"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Spam Tarayıcısı kimlik avı korumasını etkinleştirin"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Spam Tarayıcısı yürütülebilir korumasını etkinleştir"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Spam Tarayıcı virüs korumasını etkinleştirin"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Takma ad alıcılarının e-posta doğrulama bağlantısına tıklamasını zorunlu kılın"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Gelişmiş posta yönlendirme kurulumları için MX kayıt denetimini yoksay"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Giden SMTP günlüklerinin saklanacağı gün sayısı (0–30, varsayılan: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Geri tepme olaylarını almak için Webhook URL'si"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Geri tepme web kancasını devre dışı bırak"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Takma ad başına depolama maksimum kotası (örn. '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "SMTP yönlendirmesi için yapılandırılacak özel bağlantı noktası (varsayılan '25'tir)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Bu etki alanında Spam Tarayıcısının yetişkin içerik korumasının etkinleştirilip etkinleştirilmeyeceği"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Bu etki alanında Spam Tarayıcısı kimlik avı korumasının etkinleştirilip etkinleştirilmeyeceği"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Bu etki alanında Spam Tarayıcısı yürütülebilir korumasının etkinleştirilip etkinleştirilmeyeceği"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Bu etki alanında Spam Tarayıcı virüs korumasının etkinleştirilip etkinleştirilmeyeceği"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "E-postaların akması için takma ad alıcılarının bir e-posta doğrulama bağlantısına tıklamasını gerektirip gerektirmeyeceğine ilişkin küresel etki alanı varsayılanı"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Alandaki MX kayıt denetiminin doğrulama için göz ardı edilip edilmeyeceği (çoğunlukla gelişmiş MX yönlendirme kurulumları için)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Giden SMTP e-postalarının depolanacağı gün sayısı (0 = hemen temizle)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Geri tepme bildirimlerini almak için Webhook URL'sini veya devre dışı bırakmak için false değerini kullanın"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Takma ad başına depolama kotası (örneğin '1 GB', baytlara ayrıştırılır)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Takma ad (sağlanmazsa veya boş bırakılırsa, rastgele bir takma ad oluşturulur)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Geçerli e-posta adresleri, FQDN'ler, IP'ler veya webhook URL'lerinin satır sonu/boşluk/virgülle ayrılmış dizesi"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Geçerli alıcıların dizisi"
              }
            ],
            "description": "Alıcıların listesi. Sağlanmamışsa veya boşsa, varsayılan olarak talep edenin e-postası"
          },
          "description": {
            "type": "string",
            "description": "Takma ad açıklaması"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Satır sonu/boşluk/virgülle ayrılmış etiket dizisi"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Etiket dizisi"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Alıcıların doğrulama bağlantısına tıklamasını gerektir (varsayılan olarak alan adı ayarı)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Bu takma adın etkinleştirilmesi veya devre dışı bırakılması gerekip gerekmediği"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Takma ad devre dışıysa hata kodu. Varsayılanı 250'dir"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Bu takma ad için IMAP depolama alanını etkinleştirin veya devre dışı bırakın"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Bu takma ad için OpenPGP şifrelemesini etkinleştirin veya devre dışı bırakın"
          },
          "public_key": {
            "type": "string",
            "description": "ASCII Armor formatında OpenPGP genel anahtarı"
          },
          "max_quota": {
            "type": "string",
            "description": "Depolama maksimum kotası (örn. '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Tatil yanıtlayıcısını etkinleştirin veya devre dışı bırakın"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Tatil yanıtlayıcısı için başlangıç tarihi (örneğin 'YYYY-AA-GG')"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Tatil yanıtlayıcısı için bitiş tarihi (örn. 'YYYY-AA-GG')"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Tatil yanıtlayıcısı için düz metin konusu"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Tatil yanıtlayıcısı için düz metin mesajı"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Takma ad"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Geçerli e-posta adresleri, FQDN'ler, IP'ler veya webhook URL'lerinin satır sonu/boşluk/virgülle ayrılmış dizesi"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Geçerli alıcıların dizisi"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Takma ad açıklaması"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Satır sonu/boşluk/virgülle ayrılmış etiket dizisi"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Etiket dizisi"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Alıcıların doğrulama bağlantısına tıklamasını gerektir (varsayılan olarak alan adı ayarı)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Takma adı etkinleştir veya devre dışı bırak"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Takma ad devre dışı bırakıldığında kullanılacak hata kodu (varsayılanı 250'dir)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP depolamayı etkinleştirin veya devre dışı bırakın"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP şifrelemesini etkinleştirin veya devre dışı bırakın"
          },
          "public_key": {
            "type": "string",
            "description": "ASCII Armor formatında OpenPGP genel anahtarı"
          },
          "max_quota": {
            "type": "string",
            "description": "Depolama maksimum kotası (örneğin, '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Tatil yanıtlayıcısını etkinleştirin veya devre dışı bırakın"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Tatil yanıtlayıcı başlangıç tarihi (örn. YYYY-AA-GG)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Tatil yanıtlayıcı bitiş tarihi (örn. YYYY-AA-GG)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Tatil yanıtlayıcısının düz metin konusu"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Tatil yanıtlayıcısının düz metin mesajı"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Takma ad için kullanacağınız özel yeni parolanız"
          },
          "password": {
            "type": "string",
            "description": "Posta kutusu depolamasını silmeden değiştirmek için takma adın mevcut parolası"
          },
          "is_override": {
            "type": "boolean",
            "description": "Mevcut parolayı geçersiz kılın ve IMAP depolama alanını silin (dikkatli kullanın)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Takma ad parolası ve kurulum talimatlarının gönderileceği e-posta adresi"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Gönderilen e-postaların güncel sayısı"
          },
          "limit": {
            "type": "integer",
            "description": "İzin verilen maksimum e-posta sayısı"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Üye Kimliği"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Üyenin e-posta adresi"
          },
          "role": {
            "type": "string",
            "description": "Üyenin rolü"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Davet edilen e-posta adresi"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Döndürülecek sonuç sayfası. Belirtilmezse, değer 1 olacaktır. 1'den büyük veya ona eşit bir sayı olmalıdır.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Sayfa başına döndürülecek sonuç sayısı. Belirtilmezse varsayılan olarak 10'dur. 1'den büyük veya ona eşit ve 50'den küçük veya ona eşit bir sayı olmalıdır.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "1 Kasım 2024'ten önce sayfalandırmaya katılın",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Alan adı kimliği",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Kimlik Takma Adları",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Üye Kimliği",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "E-posta kimliği",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "Hesap oluşturmak",
        "description": "Yeni bir kullanıcı hesabı oluşturun",
        "tags": [
          "Hesap"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-posta adresi"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Şifre"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "Hesabı geri al",
        "description": "Mevcut kullanıcının hesap bilgilerini alın",
        "tags": [
          "Hesap"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Hesabı güncelle",
        "description": "Mevcut kullanıcının hesap bilgilerini güncelle",
        "tags": [
          "Hesap"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "E-posta adresi"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "İlk adı"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "Soy isim"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Avatar resmine bağlantı"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "Günlükleri indirin",
        "description": "**Günlükleri indirin**\n\nAçıklama: API'miz, hesabınız için günlükleri programatik olarak indirmenize olanak tanır. Bu uç noktaya bir istek gönderdiğinizde, hesabınız için tüm günlükler işlenir ve tamamlandığında bir ek (Gzip sıkıştırılmış CSV elektronik tablo dosyası) olarak size e-postayla gönderilir.\n\nBu, istediğiniz zaman günlükleri almak için bir Cron işi veya Node.js iş planlama yazılımı Bree'yi kullanarak arka plan işleri oluşturmanıza olanak tanır. Bu uç noktanın günde `10` istekle sınırlı olduğunu unutmayın.\n\nEk, `email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz`nin küçük harfli biçimidir ve e-postanın kendisi alınan günlüklerin kısa bir özetini içerir.",
        "tags": [
          "Günlükler"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Günlükleri tam nitelikli etki alanına (\"FQDN\") göre filtreleyin. Sağlanmazsa, tüm etki alanlarındaki tüm günlükler alınacaktır.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Günlükleri e-postaya, etki alanına, takma ada, IP adresine veya tarihe (A/Y, A/G/YY, A-G, A-G-YY veya A.G.YY biçimi) göre arayın.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "Belirli bir geri dönüş kategorisine göre (örneğin \"engelleme listesi\") günlükleri arayın.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "Belirli bir hata yanıt koduna göre (örneğin 421 veya 550) günlükleri arayın.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Giden SMTP e-postalarını listele",
        "description": "**Giden SMTP e-postalarını listele**\n\nBu uç noktanın bir e-postanın `message`, `headers` veya `rejectedErrors` için özellik değerlerini döndürmediğini unutmayın.\n\nBu özellikleri ve değerlerini döndürmek için lütfen bir e-posta kimliğiyle [E-postayı al](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) uç noktasını kullanın.",
        "tags": [
          "E-postalar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "E-postaları meta verilere göre arayın.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Alan adına göre e-postaları arayın.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Belirli bir alana göre sırala (tek bir tire ile önek - o alanın ters yönünde sıralamak için). Ayarlanmamışsa varsayılan olarak created_at olur.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Daha fazla bilgi için Sayfalandırmaya bakın.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Daha fazla bilgi için Sayfalandırmaya bakın.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Giden SMTP e-postası oluştur",
        "description": "E-posta oluşturmak için kullandığımız API, Nodemailer'ın mesaj seçeneği yapılandırmasından esinlenmiştir ve bu yapılandırmayı kullanır. Lütfen aşağıdaki tüm gövde parametreleri için [Nodemailer mesaj yapılandırmasına](https://nodemailer.com/message/) bakın.\n\n`envelope` ve `dkim` hariç (bunları sizin için otomatik olarak ayarladığımız için), tüm Nodemailer seçeneklerini desteklediğimizi unutmayın. Güvenlik amaçlı olarak `disableFileAccess` ve `disableUrlAccess` seçeneklerini otomatik olarak `true` olarak ayarladık.\n\nBaşlıklar dahil olmak üzere ham tam e-postanızla birlikte `raw` seçeneğini tek başına iletmeli veya aşağıdaki bireysel gövde parametresi seçeneklerini iletmelisiniz.\n\nBu API uç noktası, başlıklarda bulunan emojileri sizin için otomatik olarak kodlayacaktır (örneğin, `Konu: 🤓 Merhaba` konu satırı otomatik olarak `Konu: =?UTF-8?Q?=F0=9F=A4=93?= Merhaba`ya dönüştürülür). Amacımız son derece geliştirici dostu ve aptallara karşı dayanıklı bir e-posta API'si yapmaktı.",
        "tags": [
          "E-postalar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "Giden SMTP e-posta limitini al",
        "description": "Bu, hesap bazında günlük SMTP giden mesajlarının sayısını içeren `count` ve `limit` değerlerini döndüren basit bir uç noktadır.",
        "tags": [
          "E-postalar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "Giden SMTP e-postasını al",
        "description": "Belirli bir giden SMTP e-postasını al.",
        "tags": [
          "E-postalar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Giden SMTP e-postasını sil",
        "description": "E-posta silme, yalnızca geçerli durum ``bekleyen'', ``sıraya alınmış'' veya ``ertelenmiş'' ise durumu ``reddedildi'' olarak ayarlar (ve daha sonra kuyrukta işlemez). E-postaları oluşturulduktan ve/veya gönderildikten 30 gün sonra otomatik olarak temizleyebiliriz; bu nedenle istemcinizde, veritabanınızda veya uygulamanızda giden SMTP e-postalarının bir kopyasını saklamalısınız. İsterseniz veritabanınızda e-posta kimliği değerimize başvurabilirsiniz; bu değer hem [E-posta oluştur](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email) hem de [E-posta al](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) uç noktalarından döndürülür.",
        "tags": [
          "E-postalar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "Alan adlarını listele",
        "description": "> [!NOTE]\n>1 Kasım 2024 itibarıyla, Liste etki alanları ve Liste etki alanı takma adları için API uç noktaları, sayfa başına maksimum `1000` sonuç olarak varsayılan olacaktır. Bu davranışı erkenden etkinleştirmek isterseniz, uç nokta sorgusu için URL'ye ek bir sorgu dizesi parametresi olarak `?paginate=true` geçirebilirsiniz. Daha fazla bilgi için Sayfalandırma'ya bakın.",
        "tags": [
          "Alan Adları"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Alan adlarını meta verilere göre arayın.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Alan adına göre alan adı arayın.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Belirli bir alana göre sırala (tek bir tire ile önek - o alanın ters yönünde sıralamak için). Ayarlanmamışsa varsayılan olarak created_at olur.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Daha fazla bilgi için Sayfalandırmaya bakın.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Daha fazla bilgi için Sayfalandırmaya bakın.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Alan adı oluştur",
        "description": "Sistemde yeni bir etki alanı oluşturur. Bu uç nokta, platformla birlikte kullanılmak üzere tam nitelikli bir etki alanı adı (FQDN) veya IP adresi kaydetmenize olanak tanır.\n\nİsteğe bağlı yapılandırma seçenekleri arasında etki alanını mevcut bir ekibe atamak, bir plan türü (örneğin, ücretsiz, gelişmiş koruma veya ekip) belirlemek ve spam filtreleme, virüs taraması ve alıcı doğrulaması gibi gelişmiş korumaları yapılandırmak yer alır. Ayrıca, varsayılan olarak bir genel takma adın oluşturulup oluşturulmayacağını yapılandırabilir, SMTP arızaları için özel bir geri dönüş web kancası URL'si ayarlayabilir ve bu etki alanındaki e-posta takma adları için depolama kotası sınırları tanımlayabilirsiniz. Bu uç nokta, etki alanı düzeyinde doğrulama ve sağlama gerçekleştirir. `ignore_mx_check` seçeneği etkinleştirilirse, MX kaydı doğrulaması atlanır (yalnızca gelişmiş yönlendirme kurulumları için önerilir). Yanıt, yapılandırma için gereken DNS kayıtları dahil olmak üzere oluşturulan etki alanı nesnesinin tüm ayrıntılarını içerecektir.",
        "tags": [
          "Alan Adları"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Alan adını al",
        "description": "Belirli bir etki alanını al",
        "tags": [
          "Alan Adları"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Alan adını güncelle",
        "description": "Belirli bir etki alanını güncelleyin.",
        "tags": [
          "Alan Adları"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Alan adını sil",
        "description": "Belirli bir etki alanını silin.",
        "tags": [
          "Alan Adları"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Alan adı kayıtlarını doğrulayın",
        "description": "Belirli bir etki alanı için DNS kayıtlarını doğrulayın.",
        "tags": [
          "Alan Adları"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "Alan SMTP kayıtlarını doğrulayın",
        "description": "Belirtilen etki alanı için SMTP ile ilgili DNS kayıtlarını doğrular.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "Alan Adları"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Doğrulanması gereken tam nitelikli alan adı (FQDN)",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "Alan genelinde herkesi kapsayan parola oluşturun",
        "description": "Alan çapında bir genel parola oluşturur. Parola sağlanmazsa, güvenli bir rastgele parola oluşturulur.",
        "tags": [
          "Alan Adları"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Genel parolayı oluşturmak için alan adı"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "Alan genelindeki genel parola için kullanılacak özel yeni parolanız. Güçlü bir parola oluşturmak için boş bırakın."
                  },
                  "description": {
                    "type": "string",
                    "description": "Açıklama yalnızca organizasyon amaçlıdır."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Alan adı genelindeki tüm parolaları listele",
        "description": "Belirtilen etki alanı için şu anda yapılandırılmış olan etki alanı genelindeki genel parolaların listesini döndürür.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "Alan Adları"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Tüm parolaları listelemek için tam nitelikli alan adı (FQDN)",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "Alan adı genelinde geçerli olan genel parolayı kaldırın",
        "description": "Sağlanan belirteç kimliğini kullanarak alan adı genelinde geçerli bir parolayı siler.",
        "tags": [
          "Alan Adları"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Genel parola ile ilişkili alan adı"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Silinecek alan çapındaki genel parolanın belirteç kimliği"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Alan adı davetini kabul et",
        "description": "Bir alan adına gelen daveti kabul edin.",
        "tags": [
          "Davetler"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Alan adı daveti oluştur",
        "description": ">[!IMPORTANT]\n>Davet edilen kullanıcı, davet eden yöneticinin üyesi olduğu başka bir etki alanının kabul edilmiş bir üyesiyse, daveti otomatik olarak kabul edecek ve e-posta göndermeyecektir.",
        "tags": [
          "Davetler"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Alan adı üyeleri listesine davet etmek için e-posta adresi"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "Kullanıcının etki alanı üyeliğine ekleneceği grup (`\"admin\"` veya `\"user\"`'dan biri olabilir)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Alan adı davetini kaldır",
        "description": "Bir alan adına ait daveti kaldırın.",
        "tags": [
          "Davetler"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Etki alanı üyeleri listesinden kaldırılacak e-posta adresi"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "Etki alanı üyesini güncelle",
        "description": "Bir etki alanı üyesini güncelleyin.",
        "tags": [
          "Üyeler"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "Kullanıcıyı etki alanı üyeliğine güncellemek için kullanılacak grup (`\"admin\"` veya `\"user\"`'dan biri olabilir)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Etki alanı üyesini kaldır",
        "description": "Bir etki alanı üyesini kaldırın.",
        "tags": [
          "Üyeler"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "Bir takma ad parolası oluşturun",
        "description": "Bir takma ad için bir parola oluşturun. `emailed_instructions` sağlanmazsa, yanıt oluşturulan kullanıcı adı ve parolayı içerecektir.",
        "tags": [
          "Takma adlar"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tam nitelikli alan adı (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Takma adın benzersiz tanımlayıcısı"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Alan adı takma adlarını listeleyin",
        "description": ">[!NOTE]\n>1 Kasım 2024 itibarıyla `List domains` ve `List domain aliases` için API uç noktaları varsayılan olarak sayfa başına maksimum `1000` sonuç olacaktır. Bu davranışı erkenden etkinleştirmek isterseniz, uç nokta sorgusu için URL'ye ek bir sorgu dizesi parametresi olarak `?paginate=true` geçirebilirsiniz. Daha fazla bilgi için Sayfalandırma'ya bakın.",
        "tags": [
          "Takma adlar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Bir etki alanındaki takma adları ad, etiket veya alıcıya göre arayın (RegExp desteklenir)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Bir alandaki takma adları adına göre arayın (RegExp desteklenir)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Alıcıya göre bir etki alanındaki takma adları arayın (RegExp desteklenir)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Belirli bir alana göre sırala (ters sıralama için tek tireli önek). Varsayılanı created_at'dir.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Yeni alan adı takma adı oluştur",
        "description": "Belirli bir alan adı için yeni bir takma ad oluşturun.",
        "tags": [
          "Takma adlar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "Alan adı takma adını al",
        "description": "Bir alan adı için belirli bir takma ad alın.",
        "tags": [
          "Takma adlar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Alan adı takma adını güncelle",
        "description": "Belirli bir alan adına ait takma adı güncelleyin.",
        "tags": [
          "Takma adlar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Alan adı takma adını sil",
        "description": "Belirli bir alan adına ait takma adı silin.",
        "tags": [
          "Takma adlar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "TXT Kaydını Şifrele",
        "description": "Ücretsiz planda bile kayıtları hiçbir maliyet olmadan şifrelemenize izin veriyoruz. Gizlilik bir özellik olmamalı, bir ürünün tüm yönlerine doğal olarak entegre edilmelidir. [Gizlilik Kılavuzları tartışmasında](https://discuss.privacyguides.net/t/forward-email-email-provider/13370) ve [GitHub sorunlarımızda](https://github.com/forwardemail/forwardemail.net/issues/254) çokça talep edildiği üzere bunu ekledik.",
        "tags": [
          "Şifrele"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "Herhangi bir geçerli Forward Email düz metin TXT kaydı"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "Kişileri listele",
        "description": "Tüm kişileri listele (CardDAV). Bu uç nokta yakında geliyor.",
        "tags": [
          "Takma Adlı Kişiler"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "İletişim oluştur",
        "description": "Yeni bir kişi oluşturun (CardDAV). Bu uç nokta yakında geliyor.",
        "tags": [
          "Takma Adlı Kişiler"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "İletişim Kimliği",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "İletişimi al",
        "description": "Belirli bir kişiyi alın (CardDAV). Bu uç nokta yakında geliyor.",
        "tags": [
          "Takma Adlı Kişiler"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "İletişim bilgilerini güncelle",
        "description": "Belirli bir kişiyi güncelleyin (CardDAV). Bu uç nokta yakında geliyor.",
        "tags": [
          "Takma Adlı Kişiler"
        ],
        "security": [
[...]
