{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Bienvenue dans la documentation complète de l'API de transfert d'e-mails. Cette API vous permet de gérer le transfert d'e-mails, les domaines, les alias, les e-mails sortants et bien plus encore, par programmation.\n\n## Fonctionnalités clés\n* **Gestion des domaines :** Créez, récupérez, mettez à jour, supprimez et vérifiez des domaines.\n* **Gestion des alias :** Gérez les alias d'e-mails, y compris leur création, leurs mises à jour et la gestion des destinataires.\n* **SMTP sortant :** Envoyez des e-mails via SMTP, gérez les limites et suivez les e-mails envoyés.\n* **Compte et journaux :** Gérez les détails de votre compte et téléchargez les journaux d'activité.\n* **Sécurité :** Chiffrez les enregistrements TXT et gérez les membres/invitations du domaine.\n* **Contacts CardDAV :** Opérations CRUD complètes pour la gestion des contacts avec prise en charge de vCard.\n* **Calendriers CalDAV :** Gestion complète des calendriers avec prise en charge des fuseaux horaires et des couleurs.\n* **Messages IMAP/POP3** : Gestion complète des messages avec fonctions de recherche avancées.\n* **Dossiers IMAP/POP3** : Gestion complète des dossiers, y compris la création, le changement de nom et la suppression.\n\n## Authentification\nLa plupart des terminaux nécessitent une authentification à l'aide de votre **Clé API**. Indiquez la clé API comme « nom d'utilisateur » dans l'en-tête d'authentification de base, en laissant le mot de passe vide.\n\n```http\nAutorisation : Basic QVBJX1RPS0VOOg==\n```\n(Remplacez « API_TOKEN » par votre clé réelle avant l'encodage Base64)\n\nLes terminaux liés aux **Contacts, Calendriers, Messages et Dossiers Alias** nécessitent un nom d'utilisateur et un mot de passe d'alias générés pour l'authentification de base.\n\n## Erreurs\nL'API utilise des codes d'état HTTP standard pour indiquer la réussite ou l'échec. Les réponses d'erreur incluent un corps JSON avec un champ « message » détaillant l'erreur.\n\n| Code d'état | Signification | |-------------|---------------------|\n| 200 | OK |\n| 400 | Requête incorrecte |\n| 401 | Non autorisé |\n| 403 | Interdit |\n| 404 | Introuvable |\n| 409 | Conflit |\n| 412 | Échec de la précondition |\n| 429 | Trop de requêtes |\n| 500 | Erreur interne du serveur |\n| 501 | Non implémenté |\n| 502 | Passerelle incorrecte |\n| 503 | Service indisponible |\n| 504 | Délai d'attente de la passerelle dépassé |\n\n*Si vous rencontrez une erreur « 5xx », veuillez contacter [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Localisation\nLes réponses de l'API sont traduites en fonction des paramètres régionaux détectés par l'utilisateur ou de l'en-tête « Accept-Language ». Plus de 25 langues sont prises en charge.\n\n## Pagination\nLes points de terminaison renvoyant des listes prennent en charge la pagination via des paramètres de requête.\n\n| Paramètre | Type | Facultatif | Description | Par défaut | Contraintes |\n|--------------|---------|----------|-----------------------------------------------------------------------------|---------|--------------------|\n| `page` | Entier | Oui | Numéro de page à récupérer. | 1 | `>= 1` |\n| `limit` | Entier | Oui | Nombre de résultats par page. | 10 | `>= 1`, `<= 50` |\n| `pagination` | Booléen | Oui | Acceptation de la pagination (requise avant le 1er novembre 2024 pour certains points de terminaison). | false | |\n\n**En-têtes de pagination :**\n* `X-Page-Count` : Nombre total de pages. * `X-Page-Current` : Numéro de la page actuelle.\n* `X-Page-Size` : Nombre d'éléments sur la page actuelle.\n* `X-Item-Count` : Nombre total d'éléments sur toutes les pages.\n* `Link` : Liens de navigation (précédent, suivant, premier, dernier).\n\n**Exemple :**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Bibliothèques recommandées\n* **Ruby :** [Faraday](https://github.com/lostisland/faraday)\n* **Python :** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java :** [OkHttp](https://square.github.io/okhttp/)\n* **PHP :** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js :** [superagent](https://github.com/visionmedia/superagent) (Géré par Forward Email)\n* **Go :** `net/http`\n* **.NET :** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Serveur API de transfert de courrier électronique"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nUtilisez votre clé API comme **nom d'utilisateur** pour l'authentification de base. Laissez le champ Mot de passe vide.\n\n**Exemple** :\nSi votre clé API est « YOUR_API_KEY », la valeur codée en Base64 de l'en-tête « Authorization » sera « echo -n \"YOUR_API_KEY:\" | base64 ».\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nUtilisez le **nom d'utilisateur et le mot de passe d'alias** générés pour l'authentification de base. Ceci s'applique aux terminaux sous :\n* Contacts d'alias (CardDAV)\n* Calendriers d'alias (CalDAV)\n* Messages d'alias (IMAP/POP3)\n* Dossiers d'alias (IMAP/POP3)\n\nExemple :\nSi le nom d'utilisateur d'alias est « alias@domain.com » et le mot de passe « MOT DE PASSE GÉNÉRÉ », la valeur codée en Base64 sera « echo -n \"alias@domain.com:MOT DE PASSE GÉNÉRÉ\" | base64 ».\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Message d'erreur"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de contact (contact_id de CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "Contacter UID"
          },
          "full_name": {
            "type": "string",
            "description": "Nom complet du contact"
          },
          "content": {
            "type": "string",
            "description": "Contenu de la vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag pour le contrôle de version"
          },
          "is_group": {
            "type": "boolean",
            "description": "Si le contact est un groupe"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau d'adresses e-mail"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau de numéros de téléphone"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Contenu de la vCard (s'il n'est pas fourni, sera généré à partir d'autres champs)"
          },
          "full_name": {
            "type": "string",
            "description": "Nom complet du contact"
          },
          "contact_id": {
            "type": "string",
            "description": "ID de contact personnalisé (s'il n'est pas fourni, il sera généré automatiquement)"
          },
          "uid": {
            "type": "string",
            "description": "UID de contact (s'il n'est pas fourni, il sera généré automatiquement)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau d'adresses e-mail"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau de numéros de téléphone"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau de numéros de téléphone (alias pour phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Tableau d'adresses"
          },
          "is_group": {
            "type": "boolean",
            "description": "Si le contact est un groupe"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Contenu de la vCard"
          },
          "full_name": {
            "type": "string",
            "description": "Nom complet du contact"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau d'adresses e-mail"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau de numéros de téléphone"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Tableau de numéros de téléphone (alias pour phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Tableau d'adresses"
          },
          "is_group": {
            "type": "boolean",
            "description": "Si le contact est un groupe"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID du calendrier (calendarId de CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Nom du calendrier"
          },
          "description": {
            "type": "string",
            "description": "Description du calendrier"
          },
          "color": {
            "type": "string",
            "description": "Couleur du calendrier (format hexadécimal)"
          },
          "timezone": {
            "type": "string",
            "description": "Fuseau horaire du calendrier"
          },
          "order": {
            "type": "integer",
            "description": "Ordre d'affichage du calendrier"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nom du calendrier"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID de calendrier personnalisé (s'il n'est pas fourni, il sera généré automatiquement)"
          },
          "description": {
            "type": "string",
            "description": "Description du calendrier"
          },
          "color": {
            "type": "string",
            "description": "Couleur du calendrier (le format hexadécimal, s'il n'est pas fourni, sera généré automatiquement)"
          },
          "timezone": {
            "type": "string",
            "description": "Fuseau horaire du calendrier (par défaut, le fuseau horaire de l'utilisateur ou UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Ordre d'affichage du calendrier (par défaut à 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nom du calendrier"
          },
          "description": {
            "type": "string",
            "description": "Description du calendrier"
          },
          "color": {
            "type": "string",
            "description": "Couleur du calendrier (format hexadécimal)"
          },
          "timezone": {
            "type": "string",
            "description": "Fuseau horaire du calendrier"
          },
          "order": {
            "type": "integer",
            "description": "Ordre d'affichage du calendrier"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID du dossier"
          },
          "path": {
            "type": "string",
            "description": "Chemin d'accès complet au dossier"
          },
          "name": {
            "type": "string",
            "description": "Nom du dossier (dernière partie du chemin)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Chemin du dossier parent"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Validité de l'UID IMAP"
          },
          "uid_next": {
            "type": "integer",
            "description": "Valeur UID suivante"
          },
          "modify_index": {
            "type": "integer",
            "description": "Indice de modification"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Si le dossier est abonné"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Drapeaux de dossier"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Durée de conservation des messages"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Désignation d'usage spécial"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Chemin/nom du dossier"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Nouveau chemin/nom du dossier"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID du message"
          },
          "root_id": {
            "type": "string",
            "description": "ID de message racine pour le threading"
          },
          "folder_id": {
            "type": "string",
            "description": "ID du dossier contenant le message"
          },
          "folder_path": {
            "type": "string",
            "description": "Chemin du dossier contenant le message"
          },
          "thread_id": {
            "type": "string",
            "description": "ID de fil de discussion pour le regroupement des conversations"
          },
          "header_message_id": {
            "type": "string",
            "description": "Valeur de l'en-tête Message-ID"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Si le message n'est pas lu"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Si le message est signalé"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Si le message est supprimé"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Si le message est un brouillon"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Si le message est indésirable/spam"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Si le message est copié"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Si le message est consultable"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Si le message a expiré"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Si le message contient des pièces jointes"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date de conservation des messages"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date interne (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date des en-têtes de message"
          },
          "subject": {
            "type": "string",
            "description": "Objet du message"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Drapeaux IMAP"
          },
          "size": {
            "type": "integer",
            "description": "Taille du message en octets"
          },
          "uid": {
            "type": "integer",
            "description": "UID IMAP"
          },
          "modseq": {
            "type": "integer",
            "description": "Séquence de modification"
          },
          "transaction": {
            "type": "string",
            "description": "Type de transaction"
          },
          "remote_address": {
            "type": "string",
            "description": "Adresse IP distante"
          },
          "nodemailer": {
            "type": "object",
            "description": "Objet de message analysé (inclus par défaut, définissez ?nodemailer=false pour exclure)"
          },
          "raw": {
            "type": "string",
            "description": "Contenu du message brut (inclus par défaut, définissez ?raw=false pour exclure)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail de l'expéditeur"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Adresses e-mail des destinataires"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Adresses e-mail des destinataires en copie conforme"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Adresses e-mail des destinataires BCC"
          },
          "subject": {
            "type": "string",
            "description": "Objet du message"
          },
          "text": {
            "type": "string",
            "description": "Contenu en texte brut"
          },
          "html": {
            "type": "string",
            "description": "Contenu HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Pièces jointes aux messages (format Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "Dossier cible (par défaut, BOÎTE DE RÉCEPTION)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Indicateurs IMAP à définir sur le message"
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Indicateurs IMAP à définir sur le message"
          },
          "folder": {
            "type": "string",
            "description": "Déplacer le message vers ce dossier"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "L'adresse e-mail de l'expéditeur (doit exister en tant qu'alias du domaine)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Liste séparée par des virgules ou tableau de destinataires pour l'en-tête « À »."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Liste séparée par des virgules ou tableau de destinataires pour l'en-tête « Cc »."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Liste séparée par des virgules ou tableau de destinataires pour l'en-tête « Cci »."
          },
          "subject": {
            "type": "string",
            "description": "L'objet de l'e-mail."
          },
          "text": {
            "type": "string",
            "description": "La version en texte brut du message."
          },
          "html": {
            "type": "string",
            "description": "La version HTML du message."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Un tableau d'objets de pièces jointes (voir les champs communs de Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "L'adresse e-mail pour l'en-tête « Expéditeur »."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "L'adresse e-mail pour l'en-tête « Répondre à »."
          },
          "inReplyTo": {
            "type": "string",
            "description": "L'ID du message auquel le message répond."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Liste séparée par des espaces ou tableau d'ID de message."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Si vrai, convertit les données : images du contenu HTML en pièces jointes intégrées."
          },
          "watchHtml": {
            "type": "string",
            "description": "Version HTML spécifique du message pour Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Version HTML spécifique à AMP4EMAIL du message."
          },
          "icalEvent": {
            "type": "object",
            "description": "Un événement iCalendar comme contenu de message alternatif."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Un éventail de contenus de messages alternatifs."
          },
          "encoding": {
            "type": "string",
            "description": "Codage pour le texte et les chaînes HTML (par exemple, « utf-8 », « hex », « base64 »)."
          },
          "raw": {
            "type": "string",
            "description": "Message formaté RFC822 généré sur mesure (au lieu d'utiliser la génération Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "L'encodage est forcé d'être utilisé pour les valeurs de texte."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Niveau de priorité pour l'e-mail."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objet ou tableau de champs d'en-tête supplémentaires."
          },
          "messageId": {
            "type": "string",
            "description": "ID de message facultatif pour l'en-tête « ID de message »."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "En-tête de date facultatif. Ne peut pas être postérieur de plus de 30 jours."
          },
          "list": {
            "type": "object",
            "description": "Objet facultatif des en-têtes List-*."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Nom de domaine complet (FQDN) ou adresse IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Affecter à la même équipe depuis un autre domaine ; peut être un identifiant de domaine ou un nom de domaine complet. Utilisez « Aucun » pour désactiver explicitement."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Type de forfait (par défaut « gratuit » ou le forfait payant actuel de l'utilisateur)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Liste délimitée d'adresses e-mail (séparées par une virgule, un espace ou une nouvelle ligne)"
              }
            ],
            "description": "Créer un alias fourre-tout par défaut (la valeur par défaut est true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Activer la protection du contenu pour adultes de Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Activer la protection anti-hameçonnage de Spam Scanner"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Activer la protection exécutable du scanner anti-spam"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Activer la protection antivirus Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exiger que les destinataires d'alias cliquent sur le lien de vérification de l'e-mail"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorer la vérification des enregistrements MX pour les configurations avancées de routage du courrier"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Nombre de jours de conservation des journaux SMTP sortants (0–30, par défaut : 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL du webhook pour recevoir les événements de rebond"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Désactiver le webhook de rebond"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Quota de stockage maximal par alias (par exemple « 1 Go »)"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Port personnalisé à configurer pour le transfert SMTP (la valeur par défaut est « 25 »)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "S'il faut activer la protection du contenu pour adultes de Spam Scanner sur ce domaine"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "S'il faut activer la protection anti-hameçonnage Spam Scanner sur ce domaine"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "S'il faut activer la protection exécutable de Spam Scanner sur ce domaine"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "S'il faut activer la protection antivirus Spam Scanner sur ce domaine"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Valeur par défaut du domaine global pour savoir s'il faut exiger des destinataires d'alias qu'ils cliquent sur un lien de vérification de courrier électronique pour que les courriers électroniques soient transmis"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "S'il faut ignorer la vérification de l'enregistrement MX sur le domaine pour vérification (principalement pour les configurations de routage MX avancées)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Nombre de jours de stockage des e-mails SMTP sortants (0 = purger immédiatement)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL du webhook pour recevoir des notifications de rebond ou false pour désactiver"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Quota de stockage par alias (par exemple « 1 Go », analysé en octets)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nom d'alias (s'il n'est pas fourni ou s'il est vide, un alias aléatoire est généré)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chaîne d'adresses e-mail, de noms de domaine complets, d'adresses IP ou d'URL de webhook valides, séparées par des sauts de ligne, des espaces et des virgules"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Tableau de destinataires valides"
              }
            ],
            "description": "Liste des destinataires. Si elle n'est pas renseignée ou vide, l'adresse e-mail du demandeur est utilisée par défaut."
          },
          "description": {
            "type": "string",
            "description": "Description de l'alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chaîne d'étiquettes séparées par un saut de ligne/un espace/une virgule"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tableau d'étiquettes"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exiger des destinataires qu'ils cliquent sur le lien de vérification (paramètre par défaut du domaine)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "S'il faut activer ou désactiver cet alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Code d'erreur si l'alias est désactivé. Valeur par défaut : 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Activer ou désactiver le stockage IMAP pour cet alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Activer ou désactiver le cryptage OpenPGP pour cet alias"
          },
          "public_key": {
            "type": "string",
            "description": "Clé publique OpenPGP au format ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Quota de stockage maximal (par exemple « 1 Go »)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Activer ou désactiver le répondeur de vacances"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Date de début (par exemple « AAAA-MM-JJ ») pour le répondeur de vacances"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Date de fin (par exemple « AAAA-MM-JJ ») pour le répondeur de vacances"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Objet en texte clair pour le répondeur de vacances"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Message en texte clair pour le répondeur de vacances"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nom d'alias"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chaîne d'adresses e-mail, de noms de domaine complets, d'adresses IP ou d'URL de webhook valides, séparées par des sauts de ligne, des espaces et des virgules"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Tableau de destinataires valides"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Description de l'alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Chaîne d'étiquettes séparées par un saut de ligne/un espace/une virgule"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tableau d'étiquettes"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exiger des destinataires qu'ils cliquent sur le lien de vérification (paramètre par défaut du domaine)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Activer ou désactiver l'alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Code d'erreur à utiliser si l'alias est désactivé (par défaut 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Activer ou désactiver le stockage IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Activer ou désactiver le cryptage OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Clé publique OpenPGP au format ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Quota de stockage maximal (par exemple, « 1 Go »)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Activer ou désactiver le répondeur de vacances"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Date de début du répondeur de vacances (par exemple AAAA-MM-JJ)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Date de fin du répondeur de vacances (par exemple AAAA-MM-JJ)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Objet en texte clair du répondeur de vacances"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Message en texte clair du répondeur de vacances"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Votre nouveau mot de passe personnalisé à utiliser pour l'alias"
          },
          "password": {
            "type": "string",
            "description": "Mot de passe existant pour l'alias pour le modifier sans supprimer le stockage de la boîte aux lettres"
          },
          "is_override": {
            "type": "boolean",
            "description": "Remplacer le mot de passe existant et supprimer le stockage IMAP (à utiliser avec prudence)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail pour envoyer le mot de passe de l'alias et les instructions de configuration"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Nombre actuel d'e-mails envoyés"
          },
          "limit": {
            "type": "integer",
            "description": "Nombre maximum d'e-mails autorisés"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de membre"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail du membre"
          },
          "role": {
            "type": "string",
            "description": "Rôle du membre"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Adresse e-mail invitée"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Page de résultats à afficher. Si non spécifié, la valeur sera 1. Doit être un nombre supérieur ou égal à 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Nombre de résultats à renvoyer par page. La valeur par défaut est 10 si non spécifiée. Doit être supérieur ou égal à 1 et inférieur ou égal à 50.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Inscrivez-vous à la pagination avant le 1er novembre 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID de domaine",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "ID d'alias",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID de membre",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Identifiant e-mail",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID de contact",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID du calendrier",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID ou chemin du dossier",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID du message",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Compte"
        ],
        "summary": "Récupérer le compte",
        "description": "Récupérez les informations de votre compte.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Compte"
        ],
        "summary": "Mettre à jour le compte",
        "description": "Mettez à jour les informations de votre compte.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "Nom d'affichage"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Préférence locale"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Liste des contacts",
        "description": "Récupérez la liste de tous les contacts pour l'alias authentifié. Ce point de terminaison prend en charge la pagination et renvoie les contacts au format CardDAV.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Créer un contact",
        "description": "Créez un nouveau contact. Vous pouvez fournir directement le contenu de la vCard ou des champs de contact individuels qui seront convertis au format vCard. Si un contact portant le même identifiant existe déjà, une erreur de conflit sera renvoyée.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Récupérer le contact",
        "description": "Récupérez un contact spécifique par son identifiant. Le contact est renvoyé au format Contact standard, avec le contenu vCard et les champs analysés.",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Mettre à jour les contacts",
        "description": "Mettre à jour un contact existant. Vous pouvez fournir soit le contenu de la vCard mis à jour, soit des champs individuels à mettre à jour. La vCard du contact sera régénérée si des champs individuels sont fournis.",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Supprimer le contact",
        "description": "Supprimer définitivement un contact spécifique. Cette action est irréversible.",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "Calendriers"
        ],
        "summary": "Liste des calendriers",
        "description": "Récupérer la liste de tous les calendriers pour l'alias authentifié. Ce point de terminaison prend en charge la pagination et renvoie les calendriers au format CalDAV.",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Calendriers"
        ],
        "summary": "Créer un calendrier",
        "description": "Créez un nouveau calendrier. Le nom du calendrier est obligatoire, tandis que les autres propriétés comme la couleur, le fuseau horaire et la description sont facultatives. Si un calendrier portant le même nom existe déjà, une erreur de conflit sera renvoyée.",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "Calendriers"
        ],
        "summary": "Récupérer le calendrier",
        "description": "Récupérer un calendrier spécifique par son identifiant. Le calendrier est renvoyé avec toutes ses propriétés, dont le nom, la description, la couleur, le fuseau horaire et l'ordre.",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Calendriers"
        ],
        "summary": "Calendrier de mise à jour",
        "description": "Mettre à jour un calendrier existant. Vous pouvez modifier toutes les propriétés du calendrier, y compris le nom, la description, la couleur, le fuseau horaire et l'ordre. Si vous remplacez le nom par un nom existant, une erreur de conflit sera renvoyée.",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Calendriers"
        ],
        "summary": "Supprimer le calendrier",
        "description": "Supprimer définitivement un calendrier spécifique. Cette action est irréversible et supprimera également tous les événements du calendrier.",
        "operationId": "deleteCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/folders": {
      "get": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Liste des dossiers",
        "description": "Récupérez la liste de tous les dossiers/boîtes aux lettres IMAP pour l'alias authentifié. Ce point de terminaison prend en charge la pagination et le filtrage par statut d'abonnement.",
        "operationId": "listFolders",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "subscribed",
            "in": "query",
            "description": "Filtrer les dossiers par statut d'abonnement",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folders retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Créer un dossier",
        "description": "Créez un nouveau dossier/boîte aux lettres IMAP. Le chemin d'accès au dossier est obligatoire et peut inclure des dossiers parents (par exemple, « BOÎTE DE RÉCEPTION/Sous-dossier »). Si les dossiers parents n'existent pas, ils seront créés automatiquement.",
        "operationId": "createFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/folders/{id}": {
      "get": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Récupérer le dossier",
        "description": "Récupérez un dossier spécifique par son identifiant ou son chemin. Vous pouvez utiliser l'identifiant ObjectID du dossier ou son chemin complet (par exemple, « BOÎTE DE RÉCEPTION/Sous-dossier ») comme identifiant.",
        "operationId": "retrieveFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/folderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Mettre à jour le dossier",
        "description": "Mettre à jour/renommer un dossier existant. Cette opération renomme le dossier avec le nouveau chemin spécifié dans le corps de la requête. Vous pouvez utiliser l'ObjectID du dossier ou son chemin actuel comme identifiant.",
        "operationId": "updateFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/folderId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FolderUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Dossiers"
        ],
        "summary": "Supprimer le dossier",
        "description": "Supprimez définitivement un dossier spécifique. Cette action est irréversible et supprimera également tous les messages qu'il contient. Vous pouvez utiliser l'ObjectID ou le chemin d'accès du dossier comme identifiant.",
        "operationId": "deleteFolder",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/folderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Lister et rechercher des messages",
        "description": "Récupérez une liste de messages grâce à des fonctionnalités avancées de recherche et de filtrage. Ce point de terminaison prend en charge la pagination et la recherche complète sur le contenu, les en-têtes, les indicateurs et les métadonnées des messages. Vous pouvez effectuer des recherches par dossier, indicateurs, contenu, en-têtes, plages de dates, taille, etc.",
        "operationId": "listMessages",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "folder",
            "in": "query",
            "description": "Filtrer les messages par chemin de dossier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_unread",
            "in": "query",
            "description": "Filtrer par statut de lecture",
            "schema": {
              "type": "boolean"
            }
          },
[...]
