{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Forward Email の包括的な API ドキュメントへようこそ。この API を使用すると、メール転送、ドメイン、エイリアス、送信メールなどをプログラムで管理できます。\n\n## 主な機能\n* **ドメイン管理:** ドメインの作成、取得、更新、削除、検証。\n* **エイリアス管理:** メールエイリアスの作成、更新、受信者管理などの管理。\n* **送信 SMTP:** SMTP 経由でメールを送信し、制限を管理し、送信メールを追跡。\n* **アカウントとログ:** アカウントの詳細を管理し、アクティビティログをダウンロード。\n* **セキュリティ:** TXT レコードを暗号化し、ドメインメンバー/招待を管理。\n* **近日公開:** CardDAV 連絡先、CalDAV カレンダー、IMAP/POP3 メッセージ/フォルダ管理などの機能が予定されています。\n\n## 認証\nほとんどのエンドポイントでは、**API キー** を使用した認証が必要です。Basic 認証ヘッダーの `username` に API キーを指定し、パスワードは空のままにしてください。\n\n```http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(Base64 エンコードの前に、`API_TOKEN` を実際のキーに置き換えてください)\n\n**エイリアス連絡先、カレンダー、メッセージ、フォルダ** (現在「近日公開」と表示されています) に関連するエンドポイントでは、生成されたエイリアスのユーザー名とパスワードが Basic 認証に使用されます。\n\n## エラー\nAPI は標準の HTTP ステータスコードを使用して成功または失敗を示します。エラーレスポンスには、エラーの詳細を示す `message` フィールドを含む JSON 本文が含まれます。\n\n| ステータスコード | 意味 |\n|------------|---------------------|\n| 200 | OK |\n| 400 | 不正なリクエスト |\n| 401 |権限がありません |\n| 403 | 禁止されています |\n| 404 | 見つかりません |\n| 429 | リクエストが多すぎます |\n| 500 | 内部サーバーエラー |\n| 501 | 実装されていません |\n| 502 | ゲートウェイが無効です |\n| 503 | サービスを利用できません |\n| 504 | ゲートウェイがタイムアウトしました |\n\n*`5xx` エラーが発生した場合は、[api@forwardemail.net](mailto:api@forwardemail.net) までお問い合わせください。*\n\n## ローカリゼーション\nAPI レスポンスは、ユーザーが検出したロケールまたは `Accept-Language` ヘッダーに基づいて翻訳されます。25 以上の言語がサポートされています。\n\n## ページネーション\nリストを返すエンドポイントは、クエリパラメータによるページネーションをサポートしています。\n\n| パラメータ | タイプ | オプション | 説明 | デフォルト | 制約 |\n|--------------|---------|----------|-----------------------------------------------------------------------------|--------|--------------------|\n| `page` | 整数 | はい | 取得するページ番号。 | 1 | `>= 1` |\n| `limit` | 整数 | はい | 1 ページあたりの結果数。 | 10 | `>= 1`, `<= 50` |\n| `pagination` | ブール値 | はい | ページ区切りの動作をオプトインします (一部のエンドポイントでは 2024 年 11 月 1 日より前に必須)。 | false | |\n\n**ページ区切りヘッダー:**\n* `X-Page-Count`: 合計ページ数。\n* `X-Page-Current`: 現在のページ番号。\n* `X-Page-Size`: 現在のページにあるアイテム数。\n* `X-Item-Count`: 全ページのアイテムの総数。\n* `Link`: ナビゲーションリンク（前、次、最初、最後）。\n\n**例:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## 推奨ライブラリ\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Forward Email がメンテナンス)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "メール転送APIサーバー"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nBasic認証の**ユーザー名**としてAPIキーを使用してください。パスワードフィールドは空のままにしてください。\n\n**例:**\nAPIキーが`YOUR_API_KEY`の場合、`Authorization`ヘッダーのBase64エンコードされた値は`echo -n \"YOUR_API_KEY:\" | base64`となります。\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\n生成された**エイリアスのユーザー名とパスワード**をBasic認証に使用します。これは、以下のエンドポイントに適用されます。\n* エイリアス連絡先 (CardDAV)\n* エイリアスカレンダー (CalDAV)\n* エイリアスメッセージ (IMAP/POP3)\n* エイリアスフォルダ (IMAP/POP3)\n\n*(注: これらの機能は現在「近日公開」となっています)*\n\n**例:**\nエイリアスのユーザー名が`alias@domain.com`、パスワードが`GENERATED_PASSWORD`の場合、Base64エンコードされた値は`echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`となります。\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "エラーメッセージ"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "送信者のメール アドレス (ドメインのエイリアスとして存在している必要があります)。"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "「To」ヘッダーの受信者のコンマ区切りリストまたは配列。"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "「Cc」ヘッダーの受信者のコンマ区切りリストまたは配列。"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "「Bcc」ヘッダーの受信者のコンマ区切りリストまたは配列。"
          },
          "subject": {
            "type": "string",
            "description": "電子メールの件名。"
          },
          "text": {
            "type": "string",
            "description": "メッセージのプレーンテキスト バージョン。"
          },
          "html": {
            "type": "string",
            "description": "メッセージの HTML バージョン。"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "添付ファイルオブジェクトの配列 (Nodemailer の共通フィールドを参照)。"
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "「送信者」ヘッダーの電子メール アドレス。"
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "「Reply-To」ヘッダーのメール アドレス。"
          },
          "inReplyTo": {
            "type": "string",
            "description": "メッセージが返信されるメッセージ ID。"
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "スペースで区切られたメッセージ ID のリストまたは配列。"
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "true の場合、HTML コンテンツ内のデータ: 画像を埋め込み添付ファイルに変換します。"
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch 固有のメッセージの HTML バージョン。"
          },
          "amp": {
            "type": "string",
            "description": "メッセージの AMP4EMAIL 固有の HTML バージョン。"
          },
          "icalEvent": {
            "type": "object",
            "description": "代替メッセージ コンテンツとしての iCalendar イベント。"
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "代替メッセージ コンテンツの配列。"
          },
          "encoding": {
            "type": "string",
            "description": "テキストと HTML 文字列のエンコーディング (例: 'utf-8'、'hex'、'base64')。"
          },
          "raw": {
            "type": "string",
            "description": "カスタム生成された RFC822 形式のメッセージ (Nodemailer 生成を使用する代わりに)。"
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "テキスト値にはエンコーディングが強制的に使用されます。"
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "電子メールの優先度。"
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "追加のヘッダー フィールドのオブジェクトまたは配列。"
          },
          "messageId": {
            "type": "string",
            "description": "「Message-ID」ヘッダーのオプションのメッセージ ID。"
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "オプションの日付ヘッダー。30日を超える日付は指定できません。"
          },
          "list": {
            "type": "object",
            "description": "List-* ヘッダーのオプションのオブジェクト。"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "完全修飾ドメイン名（FQDN）またはIPアドレス"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "別のドメインから同じチームに割り当てます。ドメインIDまたはFQDNを指定できます。明示的に無効にするには「none」を使用してください。"
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "プランの種類（デフォルトは「無料」またはユーザーの現在の有料プラン）"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "電子メール アドレスの区切りリスト (カンマ、スペース、または改行で区切られます)"
              }
            ],
            "description": "デフォルトのキャッチオールエイリアスを作成する（デフォルトは true）"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "スパムスキャナのアダルトコンテンツ保護を有効にする"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "スパムスキャナのフィッシング対策を有効にする"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "スパムスキャナの実行ファイル保護を有効にする"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "スパムスキャナのウイルス対策を有効にする"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "エイリアス受信者にメール確認リンクをクリックするよう要求する"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "高度なメールルーティング設定のMXレコードチェックを無視する"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "送信SMTPログを保持する日数（0～30、デフォルト：0）"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "バウンスイベントを受信するためのWebhook URL"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "バウンスWebhookを無効にする"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "エイリアスあたりのストレージ最大割り当て量（例：1 GB）"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "SMTP 転送用に設定するカスタム ポート (デフォルトは「25」)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "このドメインでスパムスキャナによるアダルトコンテンツ保護を有効にするかどうか"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "このドメインでスパムスキャナのフィッシング保護を有効にするかどうか"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "このドメインでスパムスキャナ実行ファイル保護を有効にするかどうか"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "このドメインでスパムスキャナウイルス対策を有効にするかどうか"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "エイリアス受信者がメールを流すためにメール確認リンクをクリックすることを要求するかどうかのグローバルドメインのデフォルト"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "検証のためにドメインの MX レコード チェックを無視するかどうか (主に高度な MX ルーティング設定の場合)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "送信 SMTP メールを保存する日数 (0 = すぐに削除)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "バウンス通知を受信するためのWebhook URL、または無効にする場合はfalse"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "エイリアスごとのストレージクォータ（例：1 GB、バイトに解析）"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "エイリアス名（指定されない場合、または空白の場合は、ランダムなエイリアスが生成されます）"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "有効なメールアドレス、FQDN、IP、またはWebhook URLの改行/スペース/カンマ区切りの文字列"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "有効な受信者の配列"
              }
            ],
            "description": "受信者のリスト。指定されていないか空の場合、リクエスト者のメールアドレスがデフォルトになります。"
          },
          "description": {
            "type": "string",
            "description": "エイリアスの説明"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "改行/スペース/カンマで区切られたラベルの文字列"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "ラベルの配列"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "受信者に確認リンクをクリックするよう要求する（デフォルトはドメイン設定）"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "このエイリアスを有効にするか無効にするか"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "エイリアスが無効の場合のエラーコード。デフォルトは250です。"
          },
          "has_imap": {
            "type": "boolean",
            "description": "このエイリアスの IMAP ストレージを有効または無効にする"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "このエイリアスの OpenPGP 暗号化を有効または無効にする"
          },
          "public_key": {
            "type": "string",
            "description": "ASCII Armor形式のOpenPGP公開鍵"
          },
          "max_quota": {
            "type": "string",
            "description": "ストレージの最大割り当て量（例：「1 GB」）"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "不在通知を有効または無効にする"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "休暇対応者の開始日（例：'YYYY-MM-DD'）"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "休暇回答者の終了日（例：'YYYY-MM-DD'）"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "休暇通知用のプレーンテキストの件名"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "休暇応答者へのプレーンテキストメッセージ"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "エイリアス名"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "有効なメールアドレス、FQDN、IP、またはWebhook URLの改行/スペース/カンマ区切りの文字列"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "有効な受信者の配列"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "エイリアスの説明"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "改行/スペース/カンマで区切られたラベルの文字列"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "ラベルの配列"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "受信者に確認リンクをクリックするよう要求する（デフォルトはドメイン設定）"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "エイリアスを有効または無効にする"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "エイリアスが無効の場合に使用するエラー コード (デフォルトは 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP ストレージを有効または無効にする"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP暗号化を有効または無効にする"
          },
          "public_key": {
            "type": "string",
            "description": "ASCII Armor形式のOpenPGP公開鍵"
          },
          "max_quota": {
            "type": "string",
            "description": "ストレージの最大割り当て量（例：「1 GB」）"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "不在通知を有効または無効にする"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "休暇対応開始日（例：YYYY-MM-DD）"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "休暇回答者終了日（例：YYYY-MM-DD）"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "休暇応答者のプレーンテキストの件名"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "休暇応答者の平文メッセージ"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "エイリアスに使用する新しいカスタムパスワード"
          },
          "password": {
            "type": "string",
            "description": "メールボックスのストレージを削除せずにエイリアスの既存のパスワードを変更する"
          },
          "is_override": {
            "type": "boolean",
            "description": "既存のパスワードを上書きし、IMAP ストレージを削除します (注意して使用してください)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "エイリアスのパスワードと設定手順を送信するメールアドレス"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "現在送信されたメールの数"
          },
          "limit": {
            "type": "integer",
            "description": "許可されるメールの最大数"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "会員ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "メンバーのメールアドレス"
          },
          "role": {
            "type": "string",
            "description": "メンバーの役割"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "招待されたメールアドレス"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "返される結果のページ。指定しない場合は、値は1になります。1以上の数値を指定する必要があります。",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "1ページあたりに返される結果の数。指定がない場合はデフォルトで10になります。1以上50以下の数値を指定する必要があります。",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "2024年11月1日までにページネーションをオプトインしてください",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ドメインID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "IDエイリアス",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "会員ID",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "メールID",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "アカウントを作成する",
        "description": "新しいユーザーアカウントを作成する",
        "tags": [
          "アカウント"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "電子メールアドレス"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "パスワード"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "アカウントを取得",
        "description": "現在のユーザーのアカウント情報を取得する",
        "tags": [
          "アカウント"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "アカウントを更新する",
        "description": "現在のユーザーのアカウント情報を更新する",
        "tags": [
          "アカウント"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "電子メールアドレス"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "ファーストネーム"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "苗字"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "アバター画像へのリンク"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "ログをダウンロード",
        "description": "**ログのダウンロード**\n\n説明: 当社のAPIを使用すると、プログラム的にアカウントのログをダウンロードできます。このエンドポイントにリクエストを送信すると、アカウントのすべてのログが処理され、処理が完了すると添付ファイル（Gzip圧縮されたCSVスプレッドシートファイル）としてメールで送信されます。\n\nこれにより、Cronジョブでバックグラウンドジョブを作成したり、Node.jsジョブスケジューリングソフトウェアBreeを使用して、必要なときにいつでもログを取得できます。なお、このエンドポイントは1日あたり10リクエストまでに制限されています。\n\n添付ファイルは「email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz」の小文字形式で、メールには取得したログの簡単な概要が含まれます。",
        "tags": [
          "ログ"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "完全修飾ドメイン（FQDN）でログをフィルタリングします。指定しない場合は、すべてのドメインのすべてのログが取得されます。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "電子メール、ドメイン、エイリアス名、IP アドレス、または日付 (M/Y、M/D/YY、M-D、M-D-YY、または M.D.YY 形式) でログを検索します。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "特定のバウンス カテゴリ (例: 「ブロックリスト」) でログを検索します。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "特定のエラー応答コード (例: 421 または 550) でログを検索します。",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "送信SMTPメールの一覧",
        "description": "**送信SMTPメールの一覧表示**\n\nこのエンドポイントは、メールの `message`、`headers`、`rejectedErrors` のプロパティ値を返さないことに注意してください。\n\nこれらのプロパティとその値を返すには、メールIDを指定して[メールの取得](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email)エンドポイントを使用してください。",
        "tags": [
          "メール"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "メタデータでメールを検索します。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "ドメイン名でメールを検索します。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "特定のフィールドで並べ替えます（先頭にハイフンを 1 つ付けると、そのフィールドの逆方向に並べ替えられます）。設定されていない場合は、デフォルトで created_at に設定されます。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "詳細については、「ページ区切り」を参照してください。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "詳細については、「ページ区切り」を参照してください。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "送信SMTPメールを作成する",
        "description": "メール作成用のAPIは、Nodemailerのメッセージオプション設定を参考に開発されています。以下のすべての本文パラメータについては、[Nodemailerのメッセージ設定](https://nodemailer.com/message/)を参照してください。\n\n`envelope`と`dkim`（これらは自動的に設定されます）を除き、すべてのNodemailerオプションをサポートしています。セキュリティ上の理由から、`disableFileAccess`と`disableUrlAccess`オプションは自動的に`true`に設定されます。\n\nヘッダーを含む生のメール全体と`raw`オプションのみを渡すか、以下の本文パラメータオプションを個別に渡す必要があります。\n\nこのAPIエンドポイントは、ヘッダーに絵文字が含まれている場合、自動的にエンコードします（例：件名が`Subject: 🤓 Hello`の場合、`Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello`に自動的に変換されます）。私たちの目標は、開発者にとって非常に使いやすく、誰でも簡単に使用できる電子メール API を作成することでした。",
        "tags": [
          "メール"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "送信SMTPメールの制限を取得する",
        "description": "これは、アカウントごとに毎日の SMTP 送信メッセージ数の `count` と `limit` を含む JSON オブジェクトを返すシンプルなエンドポイントです。",
        "tags": [
          "メール"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "送信SMTPメールを取得する",
        "description": "特定の送信 SMTP メールを取得します。",
        "tags": [
          "メール"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "送信SMTPメールを削除する",
        "description": "メールを削除すると、現在のステータスが「保留中」、「キューに追加済み」、または「延期」のいずれかの場合に限り、ステータスが「拒否」に設定され（その後、キューで処理されません）、キュー内で処理されます。メールは作成または送信されてから30日後に自動的に消去される場合があります。そのため、送信SMTPメールのコピーをクライアント、データベース、またはアプリケーションに保存しておく必要があります。必要に応じて、データベースでメールID値を参照できます。この値は、[メールの作成](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email)と[メールの取得](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email)エンドポイントの両方から返されます。",
        "tags": [
          "メール"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "ドメインの一覧",
        "description": "> [!NOTE]\n>2024年11月1日より、リストドメインおよびリストドメインエイリアスのAPIエンドポイントでは、1ページあたり最大結果数がデフォルトで「1000」になります。この動作を早期にオプトインしたい場合は、エンドポイントクエリのURLに追加のクエリ文字列パラメータとして「?paginate=true」を渡してください。詳しくはページネーションをご覧ください。",
        "tags": [
          "ドメイン"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "メタデータでドメインを検索します。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "ドメイン名でドメインを検索します。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "特定のフィールドで並べ替えます（先頭にハイフンを 1 つ付けると、そのフィールドの逆方向に並べ替えられます）。設定されていない場合は、デフォルトで created_at に設定されます。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "詳細については、「ページ区切り」を参照してください。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "詳細については、「ページ区切り」を参照してください。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "ドメインを作成",
        "description": "システムに新しいドメインを作成します。このエンドポイントでは、プラットフォームで使用する完全修飾ドメイン名 (FQDN) または IP アドレスを登録できます。\n\nオプションの設定オプションには、既存のチームへのドメインの割り当て、プランの種類 (無料、拡張保護、チームなど) の設定、スパムフィルタリング、ウイルススキャン、受信者検証などの高度な保護機能の設定などがあります。また、キャッチオールエイリアスをデフォルトで作成するかどうかの設定、SMTP エラー時のカスタムバウンス Webhook URL の設定、このドメインのメールエイリアスに対するストレージクォータ制限の定義も可能です。このエンドポイントは、ドメインレベルの検証とプロビジョニングを実行します。`ignore_mx_check` オプションが有効になっている場合、MX レコードの検証はスキップされます (高度なルーティング設定の場合のみ推奨)。レスポンスには、設定に必要な DNS レコードを含む、作成されたドメインオブジェクトの詳細がすべて含まれます。",
        "tags": [
          "ドメイン"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "ドメインを取得",
        "description": "特定のドメインを取得する",
        "tags": [
          "ドメイン"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "ドメインを更新",
        "description": "特定のドメインを更新します。",
        "tags": [
          "ドメイン"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "ドメインを削除",
        "description": "特定のドメインを削除します。",
        "tags": [
          "ドメイン"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "ドメインレコードを確認する",
        "description": "特定のドメインの DNS レコードを検証します。",
        "tags": [
          "ドメイン"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "ドメインのSMTPレコードを確認する",
        "description": "指定されたドメインの SMTP 関連の DNS レコードを検証します。",
        "operationId": "verifySmtpRecords",
        "tags": [
          "ドメイン"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "検証する完全修飾ドメイン名（FQDN）",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "ドメイン全体で共通するパスワードを作成する",
        "description": "ドメイン全体で共通するパスワードを作成します。パスワードが指定されていない場合は、安全なランダムパスワードが生成されます。",
        "tags": [
          "ドメイン"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "キャッチオールパスワードを作成するドメイン名"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "ドメイン全体のキャッチオールパスワードとして使用する新しいカスタムパスワード。強力なパスワードを生成するには空白のままにしてください。"
                  },
                  "description": {
                    "type": "string",
                    "description": "整理目的のみの説明。"
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "ドメイン全体のキャッチオールパスワードを一覧表示する",
        "description": "指定されたドメインに対して現在設定されているドメイン全体のキャッチオール パスワードのリストを返します。",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "ドメイン"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "キャッチオールパスワードをリストする完全修飾ドメイン名 (FQDN)",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "ドメイン全体のキャッチオールパスワードを削除する",
        "description": "指定されたトークン ID を使用して、ドメイン全体のキャッチオール パスワードを削除します。",
        "tags": [
          "ドメイン"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "キャッチオールパスワードに関連付けられたドメイン名"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "削除するドメイン全体のキャッチオールパスワードのトークンID"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "ドメイン招待を承認",
        "description": "ドメインへの招待を承諾します。",
        "tags": [
          "招待"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "ドメイン招待を作成",
        "description": ">[!IMPORTANT]\n>招待されたユーザーが、招待元の管理者が所属する他のドメインで既に承認済みのメンバーである場合、招待は自動的に承認され、メールは送信されません。",
        "tags": [
          "招待"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "ドメインメンバーリストに招待するメールアドレス"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "ユーザーをドメイン メンバーシップに追加するグループ (`\"admin\"` または `\"user\"` のいずれか)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "ドメイン招待を削除する",
        "description": "ドメインへの招待を削除します。",
        "tags": [
          "招待"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "ドメインメンバーリストから削除するメールアドレス"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "ドメインメンバーの更新",
        "description": "ドメイン メンバーを更新します。",
        "tags": [
          "メンバー"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "ユーザーをドメイン メンバーシップに更新するグループ (`\"admin\"` または `\"user\"` のいずれか)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "ドメインメンバーを削除",
        "description": "ドメイン メンバーを削除します。",
        "tags": [
          "メンバー"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "エイリアスパスワードを生成する",
        "description": "エイリアスのパスワードを生成します。`emailed_instructions` が指定されていない場合、レスポンスには生成されたユーザー名とパスワードが含まれます。",
        "tags": [
          "エイリアス"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "完全修飾ドメイン名 (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "エイリアスの一意の識別子"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "ドメインエイリアスの一覧",
        "description": ">[!NOTE]\n>2024年11月1日より、「ドメイン一覧表示」および「ドメインエイリアス一覧表示」のAPIエンドポイントでは、1ページあたり最大結果数がデフォルトで「1000件」になります。この動作を早期に有効化したい場合は、エンドポイントクエリのURLに追加のクエリ文字列パラメータとして「?paginate=true」を渡してください。詳しくはページネーションをご覧ください。",
        "tags": [
          "エイリアス"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "名前、ラベル、受信者でドメイン内のエイリアスを検索します（正規表現をサポート）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "ドメイン内のエイリアスを名前で検索（正規表現をサポート）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "受信者によるドメイン内のエイリアスの検索（正規表現をサポート）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "特定のフィールドで並べ替えます（逆順に並べ替えるには、先頭にハイフンを 1 つ付けます）。デフォルトは created_at です。",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "新しいドメインエイリアスを作成する",
        "description": "特定のドメインの新しいエイリアスを作成します。",
        "tags": [
          "エイリアス"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "ドメインエイリアスを取得",
        "description": "ドメインの特定のエイリアスを取得します。",
        "tags": [
          "エイリアス"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "ドメインエイリアスの更新",
        "description": "ドメインの特定のエイリアスを更新します。",
        "tags": [
          "エイリアス"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "ドメインエイリアスを削除",
        "description": "ドメインの特定のエイリアスを削除します。",
        "tags": [
          "エイリアス"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "TXTレコードを暗号化する",
        "description": "無料プランでもレコードの暗号化を無料でご利用いただけます。プライバシーは機能ではなく、製品のあらゆる側面に本来組み込まれているべきです。[プライバシーガイドのディスカッション](https://discuss.privacyguides.net/t/forward-email-email-provider/13370)や[GitHub Issues](https://github.com/forwardemail/forwardemail.net/issues/254)で多くのご要望をいただき、この機能を追加しました。",
        "tags": [
          "暗号化"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "有効な転送メールのプレーンテキストTXTレコード"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "連絡先リスト",
        "description": "すべての連絡先を一覧表示します（CardDAV）。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアス連絡先"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "連絡先を作成",
        "description": "新しい連絡先を作成します（CardDAV）。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアス連絡先"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "連絡先ID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "連絡先を取得",
        "description": "特定の連絡先を取得します（CardDAV）。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアス連絡先"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "連絡先を更新",
        "description": "特定の連絡先を更新します（CardDAV）。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアス連絡先"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "連絡先を削除",
        "description": "特定の連絡先を削除します（CardDAV）。このエンドポイントは近日中にリリースされる予定です。",
        "tags": [
          "エイリアス連絡先"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "summary": "カレンダーを一覧表示する",
        "description": "すべてのカレンダーを一覧表示します（CalDAV）。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアスカレンダー"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "カレンダーを作成",
        "description": "新しいカレンダー（CalDAV）を作成します。このエンドポイントは近日中にリリースされる予定です。",
        "tags": [
          "エイリアスカレンダー"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "カレンダーID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "カレンダーを取得",
        "description": "特定のカレンダー（CalDAV）を取得します。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアスカレンダー"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "カレンダーを更新",
        "description": "特定のカレンダー（CalDAV）を更新します。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアスカレンダー"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "カレンダーを削除",
        "description": "特定のカレンダー（CalDAV）を削除します。このエンドポイントは近日中にリリースされる予定です。",
        "tags": [
          "エイリアスカレンダー"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "get": {
        "summary": "メッセージの一覧と検索",
        "description": "メッセージの一覧表示と検索（IMAP/POP3）。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアスメッセージ"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "メッセージを作成",
        "description": "新しいメッセージを作成します（IMAP/POP3）。これはメールの送信ではなく、メッセージをメールボックスフォルダに追加するだけです（IMAPのAPPENDコマンドと同様です）。このエンドポイントは近日中に公開予定です。",
        "tags": [
          "エイリアスメッセージ"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "メッセージID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "メッセージを取得",
        "description": "特定のメッセージを取得します（IMAP/POP3）。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアスメッセージ"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "更新メッセージ",
        "description": "特定のメッセージを更新します（IMAP/POP3）。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアスメッセージ"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "メッセージを削除",
        "description": "特定のメッセージを削除します（IMAP/POP3）。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアスメッセージ"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/folders": {
      "get": {
        "summary": "フォルダの一覧",
        "description": "すべてのフォルダを一覧表示します（IMAP/POP3）。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアスフォルダ"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "フォルダを作成",
        "description": "新しいフォルダを作成します（IMAP/POP3）。このエンドポイントは近日中に公開予定です。",
        "tags": [
          "エイリアスフォルダ"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/folders/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "フォルダID",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "フォルダを取得",
        "description": "特定のフォルダを取得します（IMAP/POP3）。このエンドポイントは近日中にリリース予定です。",
        "tags": [
          "エイリアスフォルダ"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
[...]
