{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Benvenuti alla documentazione API completa per Forward Email. Questa API consente di gestire l'inoltro email, i domini, gli alias, le email in uscita e altro ancora in modo programmatico.\n\n## Funzionalità principali\n* **Gestione domini:** Crea, recupera, aggiorna, elimina e verifica domini.\n* **Gestione alias:** Gestisci gli alias email, inclusi creazione, aggiornamenti e gestione dei destinatari.\n* **SMTP in uscita:** Invia email tramite SMTP, gestisci i limiti e monitora le email inviate.\n* **Account e registri:** Gestisci i dettagli del tuo account e scarica i registri delle attività.\n* **Sicurezza:** Crittografa i record TXT e gestisci i membri/inviti del dominio.\n* **Prossimamente:** Sono previste funzionalità come i contatti CardDAV, i calendari CalDAV e la gestione di messaggi/cartelle IMAP/POP3.\n\n## Autenticazione\nLa maggior parte degli endpoint richiede l'autenticazione tramite la tua **Chiave API**. Inserisci la Chiave API come `username` nell'intestazione dell'Autenticazione di base, lasciando vuoto il campo password.\n\n```http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(Sostituisci `API_TOKEN` con la tua chiave effettiva prima della codifica Base64)\n\nGli endpoint relativi a **Alias Contatti, Calendari, Messaggi e Cartelle** (attualmente contrassegnati come \"Prossimamente\") utilizzeranno un nome utente e una password alias generati per l'Autenticazione di base.\n\n## Errori\nL'API utilizza codici di stato HTTP standard per indicare l'esito positivo o negativo. Le risposte di errore includono un corpo JSON con un campo `message` che descrive l'errore.\n\n| Codice di stato | Significato |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Richiesta non valida |\n| 401 | Non autorizzato |\n| 403 | Vietato |\n| 404 | Non trovato |\n| 429 | Troppe richieste |\n| 500 | Errore interno del server |\n| 501 | Non implementato |\n| 502 | Gateway non valido |\n| 503 | Servizio non disponibile |\n| 504 | Timeout del gateway |\n\n*Se riscontri un errore `5xx`, contatta [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Localizzazione\nLe risposte API vengono tradotte in base alle impostazioni locali rilevate dall'utente o all'intestazione `Accept-Language`. Sono supportate oltre 25 lingue.\n\n## Paginazione\nGli endpoint che restituiscono elenchi supportano la paginazione tramite parametri di query.\n\n| Parametro | Tipo | Facoltativo | Descrizione | Predefinito | Vincoli | |--------------|--------------|----------|----------------------------------------------------------------------------------|---------|--------------------|\n| `page` | Intero | Sì | Numero di pagina da recuperare. | 1 | `>= 1` |\n| `limit` | Intero | Sì | Numero di risultati per pagina. | 10 | `>= 1`, `<= 50` |\n| `pagination` | Booleano | Sì | Accetto il comportamento di paginazione (obbligatorio prima del 1° novembre 2024 per alcuni endpoint). | false | |\n\n**Intestazioni di paginazione:**\n* `X-Page-Count`: Numero totale di pagine.\n* `X-Page-Current`: Numero di pagina corrente.\n* `X-Page-Size`: Numero di elementi nella pagina corrente.\n* `X-Item-Count`: Numero totale di elementi in tutte le pagine. * `Link`: Link di navigazione (precedente, successivo, primo, ultimo).\n\n**Esempio:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Librerie consigliate\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Gestito da Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Server API di inoltro e-mail"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Utilizza la tua chiave API come **nome utente** per l'autenticazione di base. Lascia vuoto il campo password.\n\n**Esempio:**\nSe la tua chiave API è `YOUR_API_KEY`, il valore codificato in Base64 per l'intestazione `Authorization` sarà `echo -n \"YOUR_API_KEY:\" | base64`.\n\n``http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Utilizza **nome utente e password alias** generati per l'autenticazione di base. Questo si applica agli endpoint con le seguenti credenziali:\n* Contatti alias (CardDAV)\n* Calendari alias (CalDAV)\n* Messaggi alias (IMAP/POP3)\n* Cartelle alias (IMAP/POP3)\n\n*(Nota: queste funzionalità sono attualmente contrassegnate come \"Prossimamente\")*\n\n**Esempio:**\nSe il nome utente alias è `alias@dominio.com` e la password è `GENERATED_PASSWORD`, il valore codificato in Base64 sarà `echo -n \"alias@dominio.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAutorizzazione: Base YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Messaggio di errore"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "L'indirizzo email del mittente (deve esistere come alias del dominio)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Elenco separato da virgole o matrice di destinatari per l'intestazione \"A\"."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Elenco separato da virgole o matrice di destinatari per l'intestazione 'Cc'."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Elenco separato da virgole o matrice di destinatari per l'intestazione 'Ccn'."
          },
          "subject": {
            "type": "string",
            "description": "L'oggetto dell'e-mail."
          },
          "text": {
            "type": "string",
            "description": "La versione in chiaro del messaggio."
          },
          "html": {
            "type": "string",
            "description": "La versione HTML del messaggio."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Un array di oggetti allegato (vedere i campi comuni di Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "L'indirizzo email per l'intestazione \"Mittente\"."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "L'indirizzo email per l'intestazione 'Rispondi a'."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Message-ID a cui il messaggio risponde."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Elenco separato da spazi o array di Message-ID."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Se vero, converte i dati: le immagini nel contenuto HTML in allegati incorporati."
          },
          "watchHtml": {
            "type": "string",
            "description": "Versione HTML del messaggio specifica per Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Versione HTML specifica del messaggio AMP4EMAIL."
          },
          "icalEvent": {
            "type": "object",
            "description": "Un evento iCalendar come contenuto alternativo del messaggio."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Una serie di contenuti alternativi del messaggio."
          },
          "encoding": {
            "type": "string",
            "description": "Codifica per il testo e le stringhe HTML (ad esempio, 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Messaggio formattato RFC822 generato in modo personalizzato (invece di utilizzare la generazione Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Codifica forzata da utilizzare per i valori di testo."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Livello di priorità per l'email."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Oggetto o matrice di campi di intestazione aggiuntivi."
          },
          "messageId": {
            "type": "string",
            "description": "Message-ID facoltativo per l'intestazione 'Message-ID'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Intestazione data facoltativa. Non può essere posteriore di oltre 30 giorni."
          },
          "list": {
            "type": "object",
            "description": "Oggetto facoltativo delle intestazioni List-*."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Nome di dominio completo (FQDN) o indirizzo IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Assegna allo stesso team da un altro dominio; può essere un ID dominio o un FQDN. Usa \"none\" per disabilitare esplicitamente."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Tipo di piano (per impostazione predefinita è \"gratuito\" o il piano a pagamento attuale dell'utente)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Elenco delimitato di indirizzi e-mail (separati da virgole, spazi o nuove righe)"
              }
            ],
            "description": "Crea un alias predefinito catch-all (il valore predefinito è true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Abilita la protezione dei contenuti per adulti dello Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Abilita la protezione anti-phishing dello Spam Scanner"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Abilita la protezione eseguibile dello Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Abilita la protezione antivirus dello Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Richiedi ai destinatari alias di fare clic sul collegamento di verifica dell'e-mail"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignora il controllo del record MX per le impostazioni avanzate di routing della posta"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Numero di giorni per conservare i registri SMTP in uscita (0–30, predefinito: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL del webhook per ricevere eventi di rimbalzo"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Disabilita il webhook di rimbalzo"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Quota massima di archiviazione per alias (ad esempio '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Porta personalizzata da configurare per l'inoltro SMTP (il valore predefinito è '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Se abilitare la protezione dei contenuti per adulti tramite Spam Scanner su questo dominio"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Se abilitare la protezione anti-phishing di Spam Scanner su questo dominio"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Se abilitare la protezione eseguibile dello Spam Scanner su questo dominio"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Se abilitare la protezione antivirus Spam Scanner su questo dominio"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Impostazione predefinita del dominio globale per richiedere ai destinatari alias di fare clic su un collegamento di verifica e-mail per il flusso di e-mail"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Se ignorare il controllo del record MX sul dominio per la verifica (principalmente per configurazioni di routing MX avanzate)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Numero di giorni per archiviare le email SMTP in uscita (0 = elimina immediatamente)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL del webhook per ricevere notifiche di rimbalzo o falso per disabilitarlo"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Quota di archiviazione per alias (ad esempio '1 GB', analizzato in byte)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome alias (se non fornito o vuoto, viene generato un alias casuale)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Stringa separata da interruzione di riga/spazio/virgola di indirizzi email validi, FQDN, IP o URL webhook"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matrice di destinatari validi"
              }
            ],
            "description": "Elenco dei destinatari. Se non specificato o vuoto, il valore predefinito è l'indirizzo email del richiedente."
          },
          "description": {
            "type": "string",
            "description": "Descrizione dell'alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Stringa di etichette separate da interruzione di riga/spazio/virgola"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Serie di etichette"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Richiedi ai destinatari di cliccare sul collegamento di verifica (impostazione predefinita: dominio)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Se abilitare o disabilitare questo alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Codice di errore se l'alias è disabilitato. Il valore predefinito è 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Abilita o disabilita l'archiviazione IMAP per questo alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Abilita o disabilita la crittografia OpenPGP per questo alias"
          },
          "public_key": {
            "type": "string",
            "description": "Chiave pubblica OpenPGP in formato ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Quota massima di archiviazione (ad esempio '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Abilitare o disabilitare il risponditore automatico"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Data di inizio (ad esempio 'AAAA-MM-GG') per il risponditore automatico"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Data di fine (ad esempio 'AAAA-MM-GG') per il risponditore automatico"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Oggetto in chiaro per il risponditore automatico"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Messaggio di testo normale per il risponditore automatico"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome alias"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Stringa di indirizzi email validi, FQDN, IP o URL webhook separati da interruzione di riga/spazio/virgola"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matrice di destinatari validi"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Descrizione dell'alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Stringa di etichette separate da interruzione di riga/spazio/virgola"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Serie di etichette"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Richiedi ai destinatari di cliccare sul collegamento di verifica (impostazione predefinita: dominio)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Abilita o disabilita l'alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Codice di errore da utilizzare se l'alias è disabilitato (il valore predefinito è 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Abilitare o disabilitare l'archiviazione IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Abilitare o disabilitare la crittografia OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Chiave pubblica OpenPGP in formato ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Quota massima di archiviazione (ad esempio, '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Abilitare o disabilitare il risponditore automatico"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Data di inizio del risponditore automatico (ad esempio AAAA-MM-GG)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Data di fine del risponditore automatico (ad esempio AAAA-MM-GG)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Oggetto in chiaro del risponditore automatico"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Messaggio in chiaro del soccorritore automatico"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "La tua nuova password personalizzata da utilizzare per l'alias"
          },
          "password": {
            "type": "string",
            "description": "Password esistente per l'alias per modificarla senza eliminare l'archiviazione della casella di posta"
          },
          "is_override": {
            "type": "boolean",
            "description": "Sostituisci la password esistente ed elimina l'archiviazione IMAP (da usare con cautela)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Indirizzo email a cui inviare la password dell'alias e le istruzioni di configurazione"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Conteggio attuale delle email inviate"
          },
          "limit": {
            "type": "integer",
            "description": "Numero massimo di email consentite"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID membro"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Indirizzo email del membro"
          },
          "role": {
            "type": "string",
            "description": "Ruolo del membro"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Indirizzo email invitato"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Pagina dei risultati da restituire. Se non specificato, il valore sarà 1. Deve essere un numero maggiore o uguale a 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Numero di risultati da restituire per pagina. Il valore predefinito è 10 se non specificato. Deve essere un numero maggiore o uguale a 1 e minore o uguale a 50.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Aderisci alla paginazione prima del 1° novembre 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID di dominio",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID membro",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID e-mail",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "Creare un account",
        "description": "Crea un nuovo account utente",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Indirizzo e-mail"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "Recupera account",
        "description": "Recupera le informazioni dell'account dell'utente corrente",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Aggiorna account",
        "description": "Aggiorna le informazioni dell'account dell'utente corrente",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Indirizzo e-mail"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "Nome di battesimo"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "Cognome"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Collegamento all'immagine dell'avatar"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "Scarica i registri",
        "description": "**Scarica log**\n\nDescrizione: La nostra API ti consente di scaricare i log del tuo account in modo programmatico. Inviando una richiesta a questo endpoint, tutti i log del tuo account verranno elaborati e inviati via email come allegato (file CSV compresso con Gzip) una volta completata la richiesta.\n\nQuesto ti consente di creare attività in background con un Cron Job o utilizzando il software di pianificazione dei lavori Node.js Bree per ricevere i log ogni volta che lo desideri. Tieni presente che questo endpoint è limitato a `10` richieste al giorno.\n\nL'allegato è la versione minuscola di `email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz` e l'email stessa contiene un breve riepilogo dei log recuperati.",
        "tags": [
          "Registri"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Filtra i log per dominio completo (\"FQDN\"). Se non specificato, verranno recuperati tutti i log di tutti i domini.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Cerca i registri per e-mail, dominio, nome alias, indirizzo IP o data (formato M/A, M/G/AA, M-G, M-G-AA o M.G.AA).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "Cerca i log in base a una categoria di bounce specifica (ad esempio \"lista bloccata\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "Cerca i log in base a un codice di risposta di errore specifico (ad esempio 421 o 550).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Elenca le email SMTP in uscita",
        "description": "**Elenca le email SMTP in uscita**\n\nSi noti che questo endpoint non restituisce i valori delle proprietà per `message`, `headers` né `rejectedErrors` di un'email.\n\nPer restituire tali proprietà e i relativi valori, utilizzare l'endpoint [Recupera email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) con un ID email.",
        "tags": [
          "E-mail"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Cerca le email tramite metadati.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Cerca le email in base al nome di dominio.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordina per un campo specifico (prefisso con un trattino singolo per ordinare in senso inverso rispetto a quel campo). Il valore predefinito è created_at se non impostato.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Per maggiori informazioni, vedere Paginazione.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Per maggiori informazioni, vedere Paginazione.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Crea email SMTP in uscita",
        "description": "La nostra API per la creazione di email si ispira e sfrutta la configurazione delle opzioni messaggio di Nodemailer. Per tutti i parametri del corpo dell'email, fare riferimento alla [Configurazione messaggio di Nodemailer](https://nodemailer.com/message/) qui sotto.\n\nSi noti che, ad eccezione di `envelope` e `dkim` (poiché li impostiamo automaticamente), supportiamo tutte le opzioni di Nodemailer. Per motivi di sicurezza, impostiamo automaticamente le opzioni `disableFileAccess` e `disableUrlAccess` su `true`.\n\nÈ necessario passare la singola opzione `raw` con l'email completa, incluse le intestazioni, oppure passare le singole opzioni dei parametri del corpo qui sotto.\n\nQuesto endpoint API codificherà automaticamente le emoji se presenti nelle intestazioni (ad esempio, un oggetto `Subject: 🤓 Hello` viene convertito automaticamente in `Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello`). Il nostro obiettivo era quello di realizzare un'API di posta elettronica estremamente intuitiva e a prova di idioti.",
        "tags": [
          "E-mail"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "Ottieni il limite di posta elettronica SMTP in uscita",
        "description": "Si tratta di un endpoint semplice che restituisce un oggetto JSON contenente `count` e `limit` per il numero di messaggi SMTP in uscita giornalieri per account.",
        "tags": [
          "E-mail"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "Recupera email SMTP in uscita",
        "description": "Recupera una specifica email SMTP in uscita.",
        "tags": [
          "E-mail"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Elimina email SMTP in uscita",
        "description": "L'eliminazione dell'email imposterà lo stato su \"rifiutato\" (e di conseguenza non verrà elaborata nella coda) solo se lo stato corrente è \"in sospeso\", \"in coda\" o \"differito\". Potremmo eliminare automaticamente le email dopo 30 giorni dalla loro creazione e/o invio, pertanto ti consigliamo di conservare una copia delle email SMTP in uscita nel tuo client, database o applicazione. Se lo desideri, puoi fare riferimento al valore del nostro ID email nel tuo database: questo valore viene restituito da entrambi gli endpoint [Crea email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email) e [Recupera email](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email).",
        "tags": [
          "E-mail"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "Elenca i domini",
        "description": "> [!NOTE]\n>A partire dal 1° novembre 2024, gli endpoint API per i domini List e gli alias dei domini List saranno impostati per impostazione predefinita su `1000` risultati massimi per pagina. Se desideri attivare questo comportamento in anticipo, puoi passare `?paginate=true` come parametro querystring aggiuntivo all'URL per la query dell'endpoint. Consulta la sezione Paginazione per ulteriori informazioni.",
        "tags": [
          "Domini"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Cerca domini tramite metadati.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Cerca domini per nome di dominio.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordina per un campo specifico (prefisso con un trattino singolo per ordinare in senso inverso rispetto a quel campo). Il valore predefinito è created_at se non impostato.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Per maggiori informazioni, vedere Paginazione.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Per maggiori informazioni, vedere Paginazione.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Crea dominio",
        "description": "Crea un nuovo dominio nel sistema. Questo endpoint consente di registrare un nome di dominio completo (FQDN) o un indirizzo IP da utilizzare con la piattaforma.\n\nLe opzioni di configurazione opzionali includono l'assegnazione del dominio a un team esistente, l'impostazione di un tipo di piano (ad esempio, gratuito, con protezione avanzata o per team) e la configurazione di protezioni avanzate come il filtro antispam, la scansione antivirus e la verifica del destinatario. È inoltre possibile configurare la creazione predefinita di un alias catch-all, impostare un URL webhook di bounce personalizzato per gli errori SMTP e definire i limiti di quota di archiviazione per gli alias email su questo dominio. Questo endpoint esegue la convalida e il provisioning a livello di dominio. Se l'opzione `ignore_mx_check` è abilitata, la verifica del record MX viene ignorata (consigliata solo per configurazioni di routing avanzate). La risposta conterrà tutti i dettagli dell'oggetto dominio creato, inclusi i record DNS necessari per la configurazione.",
        "tags": [
          "Domini"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Recupera dominio",
        "description": "Recupera un dominio specifico",
        "tags": [
          "Domini"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Aggiorna dominio",
        "description": "Aggiorna un dominio specifico.",
        "tags": [
          "Domini"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Elimina dominio",
        "description": "Elimina un dominio specifico.",
        "tags": [
          "Domini"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Verificare i record del dominio",
        "description": "Verifica i record DNS per un dominio specifico.",
        "tags": [
          "Domini"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "Verifica i record SMTP del dominio",
        "description": "Verifica i record DNS correlati a SMTP per il dominio specificato.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "Domini"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Nome di dominio completamente qualificato (FQDN) da verificare",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "Crea una password catch-all per l'intero dominio",
        "description": "Crea una password generica per l'intero dominio. Se non viene specificata alcuna password, ne verrà generata una casuale e sicura.",
        "tags": [
          "Domini"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Il nome di dominio per cui creare la password catch-all"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "La tua nuova password personalizzata da utilizzare come password generale per l'intero dominio. Lascia vuoto per generare una password complessa."
                  },
                  "description": {
                    "type": "string",
                    "description": "Descrizione solo a scopo organizzativo."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Elenca le password catch-all per l'intero dominio",
        "description": "Restituisce un elenco di password generali per l'intero dominio attualmente configurate per il dominio specificato.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "Domini"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Nome di dominio completo (FQDN) per cui elencare le password catch-all",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "Rimuovi la password catch-all per l'intero dominio",
        "description": "Elimina una password catch-all per l'intero dominio utilizzando l'ID token fornito.",
        "tags": [
          "Domini"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Il nome di dominio associato alla password catch-all"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID token della password catch-all dell'intero dominio da eliminare"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Accetta l'invito al dominio",
        "description": "Accetta un invito a un dominio.",
        "tags": [
          "Inviti"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Crea invito al dominio",
        "description": ">[!IMPORTANT]\n>Se l'utente invitato è già un membro accettato di uno qualsiasi degli altri domini di cui l'amministratore che lo invita è membro, l'invito verrà accettato automaticamente e non verrà inviata alcuna email.",
        "tags": [
          "Inviti"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Indirizzo email per invitare all'elenco dei membri del dominio"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "Gruppo a cui aggiungere l'utente all'appartenenza al dominio (può essere `\"admin\"` o `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Rimuovi invito al dominio",
        "description": "Rimuovere un invito a un dominio.",
        "tags": [
          "Inviti"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Indirizzo email da rimuovere dall'elenco dei membri del dominio"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "Aggiorna membro del dominio",
        "description": "Aggiorna un membro del dominio.",
        "tags": [
          "Membri"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "Gruppo per aggiornare l'utente all'appartenenza al dominio (può essere `\"admin\"` o `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Rimuovi membro del dominio",
        "description": "Rimuovi un membro del dominio.",
        "tags": [
          "Membri"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "Genera una password alias",
        "description": "Genera una password per un alias. Se `emailed_instructions` non viene specificato, la risposta conterrà il nome utente e la password generati.",
        "tags": [
          "Alias"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Nome di dominio completamente qualificato (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificatore univoco dell'alias"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Elenca gli alias di dominio",
        "description": ">[!NOTE]\n>A partire dal 1° novembre 2024, gli endpoint API per `Elenca domini` ed `Elenca alias di dominio` saranno impostati per impostazione predefinita su `1000` risultati massimi per pagina. Se desideri attivare questo comportamento in anticipo, puoi passare `?paginate=true` come parametro querystring aggiuntivo all'URL per la query dell'endpoint. Consulta la sezione Paginazione per ulteriori informazioni.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Cerca alias in un dominio per nome, etichetta o destinatario (RegExp supportato)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Cerca alias in un dominio per nome (RegExp supportato)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Cerca alias in un dominio in base al destinatario (RegExp supportato)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordina in base a un campo specifico (prefisso con un trattino singolo per ordinare in senso inverso). Il valore predefinito è created_at.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Crea un nuovo alias di dominio",
        "description": "Crea un nuovo alias per un dominio specifico.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "Recupera l'alias di dominio",
        "description": "Recupera un alias specifico per un dominio.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Aggiorna l'alias del dominio",
        "description": "Aggiorna un alias specifico per un dominio.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Elimina l'alias di dominio",
        "description": "Elimina un alias specifico per un dominio.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "Crittografa record TXT",
        "description": "Consentiamo di crittografare i record anche con il piano gratuito, senza alcun costo. La privacy non dovrebbe essere una funzionalità, ma dovrebbe essere integrata in tutti gli aspetti di un prodotto. Come richiesto in una [discussione sulle Guide alla Privacy](https://discuss.privacyguides.net/t/forward-email-email-provider/13370) e nelle nostre [issue su GitHub](https://github.com/forwardemail/forwardemail.net/issues/254), abbiamo aggiunto questa funzionalità.",
        "tags": [
          "Crittografare"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "Qualsiasi record TXT in chiaro di Inoltra e-mail valido"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "Elenca i contatti",
        "description": "Elenca tutti i contatti (CardDAV). Questo endpoint sarà disponibile a breve.",
        "tags": [
          "Contatti alias"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Crea contatto",
        "description": "Crea un nuovo contatto (CardDAV). Questo endpoint sarà disponibile a breve.",
        "tags": [
          "Contatti alias"
        ],
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "501": {
            "description": "Not Implemented - This feature is coming soon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID contatto",
[...]
