{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Velkommen til den omfattende API-dokumentation til videresendelse af e-mail. Denne API giver dig mulighed for at administrere videresendelse af e-mail, domæner, aliasser, udgående e-mails og mere programmatisk.\n\n## Nøglefunktioner\n* **Domæneadministration:** Opret, hent, opdater, slet og verificer domæner.\n* **Aliasadministration:** Administrer e-mailaliasser, herunder oprettelse, opdateringer og modtageradministration.\n* **Udgående SMTP:** Send e-mails via SMTP, administrer grænser og spor sendte e-mails.\n* **Konto og logfiler:** Administrer dine kontooplysninger og download aktivitetslogfiler.\n* **Sikkerhed:** Krypter TXT-poster og administrer domænemedlemmer/invitationer.\n* **CardDAV-kontakter:** Fuld CRUD-operationer til kontaktadministration med vCard-understøttelse.\n* **CalDAV-kalendere:** Komplet kalenderadministration med understøttelse af tidszone og farver.\n* **IMAP/POP3-meddelelser:** Omfattende meddelelseshåndtering med avancerede søgefunktioner.\n\n* **IMAP/POP3-mapper:** Fuld mappehåndtering inklusive oprettelse, omdøbning og sletning.\n\n## Godkendelse\nDe fleste slutpunkter kræver godkendelse ved hjælp af din **API-nøgle**. Angiv API-nøglen som `brugernavn` i headeren for grundlæggende godkendelse, og lad adgangskoden være tom.\n\n```http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(Erstat `API_TOKEN` med din faktiske nøgle før Base64-kodning)\n\nSlutpunkter relateret til **Aliaskontakter, kalendere, meddelelser og mapper** kræver et genereret aliasbrugernavn og en adgangskode til grundlæggende godkendelse.\n\n## Fejl\nAPI'en bruger standard HTTP-statuskoder til at angive succes eller fiasko. Fejlsvar inkluderer en JSON-brødtekst med et `message`-felt, der beskriver fejlen.\n\n| Statuskode | Betydning |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Forkert anmodning |\n| 401 | Uautoriseret |\n| 403 | Forbudt |\n| 404 | Ikke fundet |\n| 409 | Konflikt |\n| 412 | Forudsætning mislykkedes |\n| 429 | For mange anmodninger |\n| 500 | Intern serverfejl |\n| 501 | Ikke implementeret |\n| 502 | Forkert gateway |\n| 503 | Tjeneste ikke tilgængelig |\n| 504 | Gateway timeout |\n\n*Hvis du støder på en `5xx`-fejl, bedes du kontakte [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalisering\nAPI-svar oversættes baseret på brugerens registrerede lokalitet eller `Accept-Language`-headeren. Over 25 sprog understøttes.\n\n## Paginering\nSlutpunkter, der returnerer lister, understøtter paginering via forespørgselsparametre.\n\n| Parameter | Type | Valgfri | Beskrivelse | Standard | Begrænsninger |\n|--------------|----------|-------------------------------------------------------------------------|---------|-------------------------------------------------|\n| `page` | Heltal | Ja | Sidetal, der skal hentes. | 1 | `>= 1` |\n| `limit` | Heltal | Ja | Antal resultater pr. side. | 25 | `>= 1`, `<= 100` |\n| `pagination` | Boolean | Ja | Tilvælg pagination-adfærd (påkrævet før 1. november 2024 for nogle slutpunkter). | false | |\n\n**Pagineringsoverskrifter:**\n* `X-Page-Count`: Samlet sideantal.\n* `X-Page-Current`: Aktuelt sidetal.\n* `X-Page-Size`: Antal elementer på den aktuelle side.\n* `X-Item-Count`: Samlet antal elementer på tværs af alle sider.\n* `Link`: Navigationslinks (forrige, næste, første, sidste).\n\n**Eksempel:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Anbefalede biblioteker\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Vedligeholdes af Videresend Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "API-server til videresendelse af e-mail"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Brug din API-nøgle som **brugernavn** til basisgodkendelse. Lad adgangskodefeltet være tomt.\n\n**Eksempel:**\nHvis din API-nøgle er `YOUR_API_KEY`, vil den Base64-kodede værdi for `Authorization`-headeren være `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Brug det genererede **alias-brugernavn og den genererede adgangskode** til basisgodkendelse. Dette gælder for slutpunkter under:\n* Alias-kontakter (CardDAV)\n* Alias-kalendere (CalDAV)\n* Alias-beskeder (IMAP/POP3)\n* Alias-mapper (IMAP/POP3)\n\n**Eksempel:**\nHvis alias-brugernavnet er `alias@domain.com`, og adgangskoden er `GENERATED_PASSWORD`, vil den Base64-kodede værdi være `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Fejlmeddelelse"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Alias-ID"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Objekttype"
          },
          "name": {
            "type": "string",
            "description": "Aliasnavn (lokal del af e-mail)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Fuld alias-e-mailadresse"
          },
          "domain_id": {
            "type": "string",
            "description": "Domæne-ID"
          },
          "domain_name": {
            "type": "string",
            "description": "Domænenavn"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Lagring brugt i bytes for dette alias/denne postkasse"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Lagerkvote i bytes for dette alias/denne postkasse"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Om IMAP er aktiveret for dette alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Om PGP-kryptering er aktiveret"
          },
          "public_key": {
            "type": "string",
            "description": "PGP offentlig nøgle, hvis tilgængelig"
          },
          "locale": {
            "type": "string",
            "description": "Lokalitetspræference"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstempel for oprettelse"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstempel for sidste opdatering"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kontakt-ID (contact_id fra CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "Kontakt-UID"
          },
          "full_name": {
            "type": "string",
            "description": "Kontaktpersonens fulde navn"
          },
          "content": {
            "type": "string",
            "description": "vCard-indhold"
          },
          "etag": {
            "type": "string",
            "description": "ETag til versionsstyring"
          },
          "is_group": {
            "type": "boolean",
            "description": "Om kontakten er en gruppe"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array af e-mailadresser"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Række af telefonnumre"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-indhold (hvis ikke angivet, genereres det fra andre felter)"
          },
          "full_name": {
            "type": "string",
            "description": "Kontaktpersonens fulde navn"
          },
          "contact_id": {
            "type": "string",
            "description": "Brugerdefineret kontakt-ID (hvis ikke angivet, genereres det automatisk)"
          },
          "uid": {
            "type": "string",
            "description": "Kontakt-UID (hvis ikke angivet, genereres det automatisk)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array af e-mailadresser"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Række af telefonnumre"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matrix af telefonnumre (alias for telefonnumre)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Adresserække"
          },
          "is_group": {
            "type": "boolean",
            "description": "Om kontakten er en gruppe"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-indhold"
          },
          "full_name": {
            "type": "string",
            "description": "Kontaktpersonens fulde navn"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array af e-mailadresser"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Række af telefonnumre"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matrix af telefonnumre (alias for telefonnumre)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Adresserække"
          },
          "is_group": {
            "type": "boolean",
            "description": "Om kontakten er en gruppe"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalender-id (kalender-id fra CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Kalendernavn"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeskrivelse"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarve (hex-format)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderens tidszone"
          },
          "order": {
            "type": "integer",
            "description": "Kalenderens visningsrækkefølge"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendernavn"
          },
          "calendar_id": {
            "type": "string",
            "description": "Brugerdefineret kalender-ID (hvis ikke angivet, genereres det automatisk)"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeskrivelse"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarve (hex-format genereres automatisk, hvis ikke angivet)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalendertidszone (standard er brugerens tidszone eller UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Kalenderens visningsrækkefølge (standardindstilling er 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendernavn"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeskrivelse"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarve (hex-format)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderens tidszone"
          },
          "order": {
            "type": "integer",
            "description": "Kalenderens visningsrækkefølge"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalenderbegivenheds-ID (begivenheds-ID fra CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID på den kalender, som denne begivenhed tilhører"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar (RFC 5545) data for begivenheden"
          },
          "summary": {
            "type": "string",
            "description": "Begivenhedstitel/resumé (udtrukket fra iCal-data)"
          },
          "description": {
            "type": "string",
            "description": "Hændelsesbeskrivelse (udtrukket fra iCal-data)"
          },
          "location": {
            "type": "string",
            "description": "Begivenhedssted (udtrukket fra iCal-data)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Begivenhedens startdato/tidspunkt (udtrukket fra iCal-data)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Slutdato/tidspunkt for begivenhed (udtrukket fra iCal-data)"
          },
          "uid": {
            "type": "string",
            "description": "Unik identifikator fra iCal-data"
          },
          "status": {
            "type": "string",
            "description": "Hændelsesstatus (udtrukket fra iCal-data)"
          },
          "organizer": {
            "type": "string",
            "description": "Arrangør af begivenhed (udtrukket fra iCal-data)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Tidsstempel for blød sletning"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ID på den kalender, som begivenheden skal tilføjes til"
          },
          "event_id": {
            "type": "string",
            "description": "Brugerdefineret begivenheds-ID (hvis ikke angivet, genereres det automatisk)"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar-data (RFC 5545) for begivenheden. Skal være i gyldigt iCal-format."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Flyt begivenhed til en anden kalender"
          },
          "ical": {
            "type": "string",
            "description": "Opdaterede iCalendar (RFC 5545) data for begivenheden"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Mappe-ID"
          },
          "path": {
            "type": "string",
            "description": "Fuld mappesti"
          },
          "name": {
            "type": "string",
            "description": "Mappenavn (sidste del af stien)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Sti til overordnet mappe"
          },
          "uid_validity": {
            "type": "integer",
            "description": "IMAP UID-gyldighed"
          },
          "uid_next": {
            "type": "integer",
            "description": "Næste UID-værdi"
          },
          "modify_index": {
            "type": "integer",
            "description": "Ændringsindeks"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Om mappen er abonneret"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Mappeflag"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Opbevaringsperiode for beskeder"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Særlig anvendelsesbetegnelse"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Mappesti/navn"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Ny mappesti/navn"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Besked-ID"
          },
          "root_id": {
            "type": "string",
            "description": "Rodmeddelelses-ID til trådning"
          },
          "folder_id": {
            "type": "string",
            "description": "Mappe-ID'et, der indeholder beskeden"
          },
          "folder_path": {
            "type": "string",
            "description": "Mappestien, der indeholder beskeden"
          },
          "thread_id": {
            "type": "string",
            "description": "Tråd-ID for samtalegruppering"
          },
          "header_message_id": {
            "type": "string",
            "description": "Værdi for header i besked-ID"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Om beskeden er ulæst"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Om beskeden er markeret"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Om beskeden er slettet"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Om beskeden er en kladde"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Om beskeden er uønsket/spam"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Om beskeden kopieres"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Om beskeden er søgbar"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Om beskeden er udløbet"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Om beskeden har vedhæftede filer"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Dato for opbevaring af besked"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Intern dato (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Dato fra beskedoverskrifter"
          },
          "subject": {
            "type": "string",
            "description": "Emne for beskeden"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-flag"
          },
          "size": {
            "type": "integer",
            "description": "Meddelelsesstørrelse i bytes"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP UID"
          },
          "modseq": {
            "type": "integer",
            "description": "Ændringssekvens"
          },
          "transaction": {
            "type": "string",
            "description": "Transaktionstype"
          },
          "remote_address": {
            "type": "string",
            "description": "Fjern IP-adresse"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstempel for oprettelse af besked"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstempel for sidste opdatering af beskeden"
          },
          "nodemailer": {
            "type": "object",
            "description": "Parset beskedobjekt (inkluderet som standard, sæt ?nodemailer=false for at udelukke)"
          },
          "raw": {
            "type": "string",
            "description": "Rå beskedindhold (inkluderet som standard, sæt ?raw=false for at ekskludere)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Afsenderens e-mailadresse"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Modtagerens e-mailadresser"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "CC-modtageres e-mailadresser"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "BCC-modtageres e-mailadresser"
          },
          "subject": {
            "type": "string",
            "description": "Emne for beskeden"
          },
          "text": {
            "type": "string",
            "description": "Almindeligt tekstindhold"
          },
          "html": {
            "type": "string",
            "description": "HTML-indhold"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Vedhæftede filer i beskeder (Nodemailer-format)"
          },
          "folder": {
            "type": "string",
            "description": "Målmappe (standard er INDBAKKE)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "IMAP-flag, der skal sættes på beskeden"
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-flag, der skal sættes på beskeden"
          },
          "folder": {
            "type": "string",
            "description": "Flyt besked til denne mappe"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Afsenderens e-mailadresse (skal eksistere som et alias for domænet)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommasepareret liste eller et array af modtagere til 'Til'-headeren."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommasepareret liste eller et array af modtagere til 'Cc'-headeren."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommasepareret liste eller en matrix af modtagere til 'Bcc'-headeren."
          },
          "subject": {
            "type": "string",
            "description": "Emnet for e-mailen."
          },
          "text": {
            "type": "string",
            "description": "Klartekstversionen af beskeden."
          },
          "html": {
            "type": "string",
            "description": "HTML-versionen af beskeden."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "En matrix af vedhæftede objekter (se Nodemailers almindelige felter)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "E-mailadressen til headeren 'Afsender'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "E-mailadressen til headeren 'Svar til'."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Det besked-ID, som beskeden er et svar på."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Mellemrumssepareret liste eller en matrix af meddelelses-ID'er."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Hvis sand, konverteres data: billeder i HTML-indholdet til integrerede vedhæftede filer."
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch-specifik HTML-version af beskeden."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL-specifik HTML-version af beskeden."
          },
          "icalEvent": {
            "type": "object",
            "description": "En iCalendar-begivenhed som alternativt beskedindhold."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "En række alternative beskedindhold."
          },
          "encoding": {
            "type": "string",
            "description": "Kodning for tekst og HTML-strenge (f.eks. 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Brugerdefineret genereret RFC822-formateret besked (i stedet for at bruge Nodemailer-generering)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Kodning tvunget til at blive brugt til tekstværdier."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Prioritetsniveau for e-mailen."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objekt eller matrix af yderligere headerfelter."
          },
          "messageId": {
            "type": "string",
            "description": "Valgfrit besked-ID til headeren 'Besked-ID'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Valgfri datooverskrift. Må ikke være mere end 30 dage ude i fremtiden."
          },
          "list": {
            "type": "object",
            "description": "Valgfrit objekt for List-*-overskrifter."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Fuldt kvalificeret domænenavn (FQDN) eller IP-adresse"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Tildel til samme team fra et andet domæne; kan være et domæne-ID eller FQDN. Brug \"ingen\" for eksplicit at deaktivere."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Plantype (standardindstilling er 'gratis' eller brugerens nuværende betalte plan)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Afgrænset liste over e-mailadresser (separeret af komma, mellemrum eller linjeskift)"
              }
            ],
            "description": "Opret et standard catch-all alias (standardindstillingen er sand)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Aktivér Spam Scanner beskyttelse mod voksenindhold"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Aktivér Spam Scanner phishing-beskyttelse"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Aktivér beskyttelse mod eksekverbar Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Aktivér Spam Scanner-virusbeskyttelse"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Kræv, at aliasmodtagere klikker på e-mailbekræftelseslinket"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorer MX-postkontrol for avancerede mailrouting-opsætninger"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Tilmeld dig lagring af headere og metadata (eksklusive beskedindhold) for vellykkede videresendte, webhook-sendte, udgående SMTP- og IMAP-leverede e-mails, hvor logfiler gemmes i 7 dage. Denne funktion hjælper dig med at overvåge og fejlfinde e-mailleveringsydelsen med detaljeret indsigt i vellykkede transmissioner."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Antal dage, hvor udgående SMTP-logfiler skal gemmes (0-30, standard: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhook-URL til at modtage afvisningshændelser"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Deaktiver webhook med afvisning"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Maksimal lagerkvote pr. alias (f.eks. '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Brugerdefineret port til konfiguration af SMTP-videresendelse (standard er '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Om Spam Scanner-beskyttelse mod voksenindhold skal aktiveres på dette domæne"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Om phishing-beskyttelse fra Spam Scanner skal aktiveres på dette domæne"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Om beskyttelse af eksekverbare filer i Spam Scanner skal aktiveres på dette domæne"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Om Spam Scanner-virusbeskyttelse skal aktiveres på dette domæne"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Global domænestandard for, om aliasmodtagere skal klikke på et e-mailbekræftelseslink for at e-mails kan sendes"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Om MX-postkontrollen på domænet skal ignoreres til verifikation (primært for avancerede MX-routingopsætninger)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Tilmeld dig lagring af headere og metadata (eksklusive beskedindhold) for vellykkede videresendte, webhook-sendte, udgående SMTP- og IMAP-leverede e-mails, hvor logfiler gemmes i 7 dage. Denne funktion hjælper dig med at overvåge og fejlfinde e-mailleveringsydelsen med detaljeret indsigt i vellykkede transmissioner."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Antal dage til lagring af udgående SMTP-e-mails (0 = ryd straks)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhook-URL for at modtage afvisningsnotifikationer, eller false for at deaktivere"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Lagerkvote pr. alias (f.eks. '1 GB', parset til bytes)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnavn (hvis ikke angivet eller tomt, genereres et tilfældigt alias)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Linjeskift/mellemrum/kommasepareret streng af gyldige e-mailadresser, FQDN'er, IP-adresser eller webhook-URL'er"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Array af gyldige modtagere"
              }
            ],
            "description": "Liste over modtagere. Hvis den ikke er angivet eller er tom, bruges som standard anmoderens e-mailadresse"
          },
          "description": {
            "type": "string",
            "description": "Aliasbeskrivelse"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Linjeskift/mellemrum/kommasepareret streng af etiketter"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array af etiketter"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Kræv, at modtagere klikker på bekræftelseslinket (domæneindstillinger er standard)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Om dette alias skal aktiveres eller deaktiveres"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Fejlkode hvis alias er deaktiveret. Standardindstillingen er 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Aktivér eller deaktiver IMAP-lagring for dette alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Aktivér eller deaktiver OpenPGP-kryptering for dette alias"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP offentlig nøgle i ASCII Armor-format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maksimal lagerpladskvote (f.eks. '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Aktivér eller deaktiver feriesvar"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdato (f.eks. 'ÅÅÅÅ-MM-DD') for feriesvar"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Slutdato (f.eks. 'ÅÅÅÅ-MM-DD') for feriesvar"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Emne i almindelig tekst til feriesvar"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Klartekstbesked til feriesvar"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnavn"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Linjeskift/mellemrum/kommasepareret streng af gyldige e-mailadresser, FQDN'er, IP-adresser eller webhook-URL'er"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Array af gyldige modtagere"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Aliasbeskrivelse"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Linjeskift/mellemrum/kommasepareret streng af etiketter"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array af etiketter"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Kræv, at modtagere klikker på bekræftelseslinket (domæneindstillinger er standard)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Aktivér eller deaktiver alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Fejlkode, der skal bruges, hvis alias er deaktiveret (standard er 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Aktivér eller deaktiver IMAP-lagring"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Aktivér eller deaktiver OpenPGP-kryptering"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP offentlig nøgle i ASCII Armor-format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maksimal lagerpladskvote (f.eks. '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Aktivér eller deaktiver feriesvar"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdato for feriesvar (f.eks. ÅÅÅÅ-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Slutdato for feriesvar (f.eks. ÅÅÅÅ-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Almindelig emne for feriesvar"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Almindelig tekstbesked fra feriesvar"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Din brugerdefinerede nye adgangskode til brug for aliaset"
          },
          "password": {
            "type": "string",
            "description": "Eksisterende adgangskode til alias for at ændre den uden at slette postkasselageret"
          },
          "is_override": {
            "type": "boolean",
            "description": "Tilsidesæt eksisterende adgangskode og slet IMAP-lager (brug med forsigtighed)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-mailadresse til afsendelse af aliasadgangskode og opsætningsinstruktioner"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Nuværende antal sendte e-mails"
          },
          "limit": {
            "type": "integer",
            "description": "Maksimalt antal tilladte e-mails"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Medlems-ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Medlems e-mailadresse"
          },
          "role": {
            "type": "string",
            "description": "Medlems rolle"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Inviteret e-mailadresse"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Side med resultater, der skal returneres. Hvis ikke angivet, vil værdien være 1. Skal være et tal større end eller lig med 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Antal resultater, der skal returneres pr. side. Standardværdien er 25, hvis ikke angivet. Skal være et tal, der er større end eller lig med 1, og mindre end eller lig med 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Tilmeld dig paginering inden 1. november 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Domæne-ID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias-ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Medlems-ID",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "E-mail-ID",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kontakt-ID",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kalender-ID",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Mappe-ID eller sti",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Besked-ID",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Konto"
        ],
        "summary": "Hent konto",
        "description": "Hent dine kontooplysninger.\n\n**Godkendelse:** Dette slutpunkt understøtter både API-token-godkendelse og alias-legitimationsgodkendelse.\n\n- **Brugerkonto (API-token):** Når dette slutpunkt er godkendt med dit API-token, returnerer det dine brugerkontooplysninger, inklusive planoplysninger, e-mail og API-token.\n\n- **Aliaskonto (Alias-legitimationsoplysninger):** Når dette slutpunkt er godkendt med alias-legitimationsoplysninger (e-mail og genereret adgangskode), returnerer det alias-/postkasseoplysninger, inklusive brugt lagerplads, lagerkvote og postkasseindstillinger. Dette er nyttigt for IMAP/POP3/CalDAV/CardDAV-klienter til at kontrollere lagerstatus.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Opdater konto",
        "description": "Opdater dine kontooplysninger.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "Vist navn"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Lokalitetspræference"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Liste over kontakter",
        "description": "Hent en liste over alle kontakter for det godkendte alias. Dette slutpunkt understøtter paginering og returnerer kontakter i CardDAV-format.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Opret kontakt",
        "description": "Opret en ny kontakt. Du kan enten angive vCard-indhold direkte eller individuelle kontaktfelter, der konverteres til vCard-format. Hvis en kontakt med samme ID allerede findes, returneres en konfliktfejl.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Hent kontakt",
        "description": "Hent en specifik kontakt via dens ID. Kontakten returneres i standardkontaktformatet med vCard-indhold og parsede felter.",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Opdater kontakt",
        "description": "Opdater en eksisterende kontakt. Du kan enten angive opdateret vCard-indhold eller individuelle felter, der skal opdateres. Kontaktens vCard vil blive regenereret, hvis individuelle felter angives.",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Slet kontakt",
        "description": "Slet en bestemt kontakt permanent. Denne handling kan ikke fortrydes.",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "Kalendere"
        ],
        "summary": "Liste over kalendere",
        "description": "Hent en liste over alle kalendere for det godkendte alias. Dette slutpunkt understøtter paginering og returnerer kalendere i CalDAV-format.",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kalendere"
        ],
        "summary": "Opret kalender",
        "description": "Opret en ny kalender. Kalendernavnet er påkrævet, mens andre egenskaber som farve, tidszone og beskrivelse er valgfrie. Hvis der allerede findes en kalender med samme navn, returneres en konfliktfejl.",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "Kalendere"
        ],
        "summary": "Hent kalender",
        "description": "Hent en specifik kalender via dens ID. Kalenderen returneres med alle dens egenskaber, herunder navn, beskrivelse, farve, tidszone og rækkefølge.",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Kalendere"
        ],
        "summary": "Opdater kalender",
        "description": "Opdater en eksisterende kalender. Du kan opdatere alle kalenderegenskaber, herunder navn, beskrivelse, farve, tidszone og rækkefølge. Hvis du ændrer navnet til et, der allerede findes, returneres en konfliktfejl.",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kalendere"
        ],
        "summary": "Slet kalender",
        "description": "Slet en bestemt kalender permanent. Denne handling kan ikke fortrydes og vil også slette alle begivenheder i kalenderen.",
        "operationId": "deleteCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
[...]
