{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Bienvenido a la documentación completa de la API para el reenvío de correo electrónico. Esta API le permite administrar el reenvío de correo electrónico, dominios, alias, correos salientes y más mediante programación.\n\n## Características principales\n* **Administración de dominios:** Cree, recupere, actualice, elimine y verifique dominios.\n* **Administración de alias:** Administre alias de correo electrónico, incluyendo la creación, actualización y administración de destinatarios.\n* **SMTP saliente:** Envíe correos electrónicos mediante SMTP, administre límites y haga seguimiento de los correos enviados.\n* **Cuenta y registros:** Administre los detalles de su cuenta y descargue registros de actividad.\n* **Seguridad:** Cifre registros TXT y administre miembros/invitaciones del dominio.\n* **Próximamente:** Se planean funciones como contactos CardDAV, calendarios CalDAV y administración de mensajes/carpetas IMAP/POP3.\n\n## Autenticación\nLa mayoría de los endpoints requieren autenticación con su **Clave API**. Proporcione la Clave API como `nombre de usuario` en el encabezado de Autenticación Básica, dejando la contraseña en blanco.\n\n```http\nAutorización: Básica QVBJX1RPS0VOOg==\n```\n(Reemplace `API_TOKEN` con su clave real antes de la codificación Base64)\n\nLos endpoints relacionados con **Contactos, Calendarios, Mensajes y Carpetas de Alias** (actualmente marcados como \"Próximamente\") usarán un nombre de usuario y contraseña de alias generados para la Autenticación Básica.\n\n## Errores\nLa API utiliza códigos de estado HTTP estándar para indicar éxito o error. Las respuestas de error incluyen un cuerpo JSON con un campo `mensaje` que detalla el error.\n\n| Código de Estado | Significado |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Solicitud Incorrecta |\n| 401 | No Autorizado |\n| 403 | Prohibido |\n| 404 | No encontrado |\n| 429 | Demasiadas solicitudes |\n| 500 | Error interno del servidor |\n| 501 | No implementado |\n| 502 | Puerta de enlace incorrecta |\n| 503 | Servicio no disponible |\n| 504 | Tiempo de espera de la puerta de enlace agotado |\n\n*Si encuentra un error `5xx`, póngase en contacto con [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Localización\nLas respuestas de la API se traducen según la configuración regional detectada por el usuario o el encabezado `Accept-Language`. Se admiten más de 25 idiomas.\n\n## Paginación\nLos endpoints que devuelven listas admiten la paginación mediante parámetros de consulta.\n\n| Parámetro | Tipo | Opcional | Descripción | Predeterminado | Restricciones | |---------------|-------------|-----------------------------------------------------------------------|------------------------|-------------------|\n| `page` | Entero | Sí | Número de página a recuperar. | 1 | `>= 1` |\n| `limit` | Entero | Sí | Número de resultados por página. | 10 | `>= 1`, `<= 50` |\n| `pagination` | Booleano | Sí | Activar la paginación (obligatorio antes del 1 de noviembre de 2024 para algunos endpoints). | false | |\n\n**Encabezados de paginación:**\n* `X-Page-Count`: Número total de páginas.\n* `X-Page-Current`: Número de página actual.\n* `X-Page-Size`: Número de elementos en la página actual.\n* `X-Item-Count`: Número total de elementos en todas las páginas.\n* `Enlace`: Enlaces de navegación (anterior, siguiente, primero, último).\n\n**Ejemplo:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Bibliotecas recomendadas\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Mantenido por Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Servidor API de reenvío de correo electrónico"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Usa tu clave API como **nombre de usuario** para la autenticación básica. Deja el campo de contraseña vacío.\n\n**Ejemplo:**\nSi tu clave API es `YOUR_API_KEY`, el valor codificado en Base64 para el encabezado `Authorization` sería `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Utilice el alias de usuario y la contraseña generados para la autenticación básica. Esto aplica a los puntos finales bajo:\n* Alias de contactos (CardDAV)\n* Alias de calendarios (CalDAV)\n* Alias de mensajes (IMAP/POP3)\n* Alias de carpetas (IMAP/POP3)\n\n*(Nota: Estas funciones están marcadas como \"Próximamente\")*\n\n**Ejemplo:**\nSi el alias de usuario es `alias@dominio.com` y la contraseña es `GENERATED_PASSWORD`, el valor codificado en Base64 sería `echo -n \"alias@dominio.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAutorización: Básica YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Mensaje de error"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@shaunwarman.com",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "La dirección de correo electrónico del remitente (debe existir como un alias del dominio)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista separada por comas o una matriz de destinatarios para el encabezado \"Para\"."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista separada por comas o una matriz de destinatarios para el encabezado \"Cc\"."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista separada por comas o una matriz de destinatarios para el encabezado \"CCO\"."
          },
          "subject": {
            "type": "string",
            "description": "El asunto del correo electrónico."
          },
          "text": {
            "type": "string",
            "description": "La versión de texto simple del mensaje."
          },
          "html": {
            "type": "string",
            "description": "La versión HTML del mensaje."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Una matriz de objetos adjuntos (ver campos comunes de Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "La dirección de correo electrónico para el encabezado \"Remitente\"."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "La dirección de correo electrónico para el encabezado \"Responder a\"."
          },
          "inReplyTo": {
            "type": "string",
            "description": "El ID del mensaje al que responde el mensaje."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Lista separada por espacios o una matriz de identificadores de mensajes."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Si es verdadero, convierte los datos: imágenes en el contenido HTML en archivos adjuntos incrustados."
          },
          "watchHtml": {
            "type": "string",
            "description": "Versión HTML del mensaje específica para Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Versión HTML específica del mensaje de AMP4EMAIL."
          },
          "icalEvent": {
            "type": "object",
            "description": "Un evento de iCalendar como contenido de mensaje alternativo."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Una variedad de contenidos de mensajes alternativos."
          },
          "encoding": {
            "type": "string",
            "description": "Codificación para el texto y las cadenas HTML (por ejemplo, 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Mensaje con formato RFC822 generado de forma personalizada (en lugar de utilizar la generación de Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Codificación forzada a ser utilizada para valores de texto."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Nivel de prioridad del correo electrónico."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objeto o matriz de campos de encabezado adicionales."
          },
          "messageId": {
            "type": "string",
            "description": "ID de mensaje opcional para el encabezado 'ID de mensaje'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Encabezado de fecha opcional. No puede ser posterior a más de 30 días."
          },
          "list": {
            "type": "object",
            "description": "Objeto opcional de encabezados List-*."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Nombre de dominio completo (FQDN) o dirección IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Asignar al mismo equipo desde otro dominio; puede ser un ID de dominio o un FQDN. Use \"ninguno\" para deshabilitarlo explícitamente."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Tipo de plan (predeterminado: «gratis» o el plan pago actual del usuario)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Lista delimitada de direcciones de correo electrónico (separadas por comas, espacios o nuevas líneas)"
              }
            ],
            "description": "Crear un alias general predeterminado (el valor predeterminado es verdadero)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Habilitar la protección de contenido para adultos de Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Habilitar la protección contra phishing de Spam Scanner"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Habilitar la protección ejecutable de Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Habilitar la protección antivirus del escáner de spam"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Requerir que los destinatarios de alias hagan clic en el enlace de verificación de correo electrónico"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorar la comprobación de registros MX para configuraciones avanzadas de enrutamiento de correo"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Número de días para conservar los registros SMTP salientes (0–30, valor predeterminado: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL de webhook para recibir eventos de rebote"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Deshabilitar el webhook de rebote"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Cuota máxima de almacenamiento por alias (p. ej., '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Puerto personalizado para configurar el reenvío SMTP (el valor predeterminado es '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Si se debe habilitar la protección de contenido para adultos de Spam Scanner en este dominio"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Si se debe habilitar la protección contra phishing de Spam Scanner en este dominio"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Si se debe habilitar la protección ejecutable de Spam Scanner en este dominio"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Si se debe habilitar la protección antivirus Spam Scanner en este dominio"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Dominio global predeterminado que determina si se requiere que los destinatarios de alias hagan clic en un enlace de verificación de correo electrónico para que los correos electrónicos fluyan."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Si se debe ignorar la comprobación de registros MX en el dominio para verificación (principalmente para configuraciones avanzadas de enrutamiento MX)"
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Número de días para almacenar correos electrónicos SMTP salientes (0 = purgar inmediatamente)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL del webhook para recibir notificaciones de rebote o falso para deshabilitarlas"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Cuota de almacenamiento por alias (por ejemplo, '1 GB', analizado en bytes)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nombre de alias (si no se proporciona o está en blanco, se genera un alias aleatorio)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Cadena de direcciones de correo electrónico válidas, FQDN, IP o URL de webhook separadas por saltos de línea, espacios o comas"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matriz de destinatarios válidos"
              }
            ],
            "description": "Lista de destinatarios. Si no se proporciona o está vacía, se usa por defecto el correo electrónico del solicitante."
          },
          "description": {
            "type": "string",
            "description": "Descripción del alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Cadena de etiquetas separada por saltos de línea, espacios o comas"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matriz de etiquetas"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Requerir que los destinatarios hagan clic en el enlace de verificación (predeterminado en la configuración del dominio)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Si desea habilitar o deshabilitar este alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Código de error si el alias está deshabilitado. El valor predeterminado es 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar el almacenamiento IMAP para este alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar el cifrado OpenPGP para este alias"
          },
          "public_key": {
            "type": "string",
            "description": "Clave pública OpenPGP en formato ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Cuota máxima de almacenamiento (por ejemplo, '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar la respuesta en vacaciones"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Fecha de inicio (por ejemplo, 'AAAA-MM-DD') para la respuesta de vacaciones"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Fecha de finalización (por ejemplo, 'AAAA-MM-DD') para la respuesta de vacaciones"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Asunto de texto sin formato para la respuesta de vacaciones"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Mensaje de texto sin formato para respuesta de vacaciones"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alias"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Cadena de direcciones de correo electrónico válidas, FQDN, IP o URL de webhook separadas por saltos de línea, espacios o comas"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matriz de destinatarios válidos"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Descripción del alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Cadena de etiquetas separada por saltos de línea, espacios o comas"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matriz de etiquetas"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Requerir que los destinatarios hagan clic en el enlace de verificación (predeterminado en la configuración del dominio)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Código de error a utilizar si el alias está deshabilitado (predeterminado 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar el almacenamiento IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar el cifrado OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Clave pública OpenPGP en formato ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Cuota máxima de almacenamiento (por ejemplo, '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Habilitar o deshabilitar la respuesta en vacaciones"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Fecha de inicio de la respuesta de vacaciones (por ejemplo, AAAA-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Fecha de finalización de la respuesta de vacaciones (p. ej. AAAA-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Asunto de texto sin formato del respondedor de vacaciones"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Mensaje de texto sin formato del respondedor de vacaciones"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Su nueva contraseña personalizada para usar como alias"
          },
          "password": {
            "type": "string",
            "description": "Contraseña existente para el alias para cambiarla sin eliminar el almacenamiento del buzón"
          },
          "is_override": {
            "type": "boolean",
            "description": "Anular la contraseña existente y eliminar el almacenamiento IMAP (usar con precaución)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico para enviar la contraseña del alias y las instrucciones de configuración"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Recuento actual de correos electrónicos enviados"
          },
          "limit": {
            "type": "integer",
            "description": "Número máximo de correos electrónicos permitidos"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de miembro"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico del miembro"
          },
          "role": {
            "type": "string",
            "description": "Rol del miembro"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Dirección de correo electrónico de invitación"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Página de resultados a devolver. Si no se especifica, el valor será 1. Debe ser un número mayor o igual a 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Número de resultados que se devolverán por página. El valor predeterminado es 10 si no se especifica. Debe ser un número mayor o igual a 1 y menor o igual a 50.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 50,
          "default": 10
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Inscríbete en la paginación antes del 1 de noviembre de 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID de dominio",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias de identificación",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID de miembro",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID de correo electrónico",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "post": {
        "summary": "Crear una cuenta",
        "description": "Crear una nueva cuenta de usuario",
        "tags": [
          "Cuenta"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Dirección de correo electrónico"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Contraseña"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "summary": "Recuperar cuenta",
        "description": "Recuperar la información de la cuenta del usuario actual",
        "tags": [
          "Cuenta"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Actualizar cuenta",
        "description": "Actualizar la información de la cuenta del usuario actual",
        "tags": [
          "Cuenta"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Dirección de correo electrónico"
                  },
                  "given_name": {
                    "type": "string",
                    "description": "Nombre de pila"
                  },
                  "family_name": {
                    "type": "string",
                    "description": "Apellido"
                  },
                  "avatar_url": {
                    "type": "string",
                    "description": "Enlace a la imagen del avatar"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/logs/download": {
      "get": {
        "summary": "Descargar registros",
        "description": "**Descargar registros**\n\nDescripción: Nuestra API le permite descargar los registros de su cuenta de forma programática. Al enviar una solicitud a este punto final, se procesarán todos los registros de su cuenta y se los enviaremos por correo electrónico como archivo adjunto (archivo de hoja de cálculo CSV comprimido con Gzip) una vez completado.\n\nEsto le permite crear trabajos en segundo plano con un trabajo Cron o utilizando el software de programación de trabajos Node.js, Bree, para recibir los registros cuando lo desee. Tenga en cuenta que este punto final está limitado a 10 solicitudes al día.\n\nEl archivo adjunto es `email-deliverability-logs-YYYY-MM-DD-h-mm-A-z.csv.gz` en minúsculas y el correo electrónico contiene un breve resumen de los registros recuperados.",
        "tags": [
          "Registros"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Filtrar registros por dominio completo (\"FQDN\"). Si no se proporciona, se recuperarán todos los registros de todos los dominios.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Busque registros por correo electrónico, dominio, nombre de alias, dirección IP o fecha (formato M/A, M/D/AA, M-D, M-D-AA o M.D.AA).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounce_category",
            "in": "query",
            "description": "Busque registros por una categoría de rebote específica (por ejemplo, \"lista de bloqueo\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_code",
            "in": "query",
            "description": "Busque registros por un código de respuesta de error específico (por ejemplo, 421 o 550).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs will be emailed as an attachment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logs will be emailed to you shortly"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "summary": "Lista de correos electrónicos SMTP salientes",
        "description": "**Listar correos electrónicos SMTP salientes**\n\nTenga en cuenta que este punto de acceso no devuelve valores de propiedad para `message`, `headers` ni `rejectedErrors` de un correo electrónico.\n\nPara devolver estas propiedades y sus valores, utilice el punto de acceso [Recuperar correo electrónico](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email) con un ID de correo electrónico.",
        "tags": [
          "Correos electrónicos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Buscar correos electrónicos por metadatos.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Buscar correos electrónicos por nombre de dominio.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordenar por un campo específico (prefijo con un guion para ordenar en sentido inverso). Si no se configura, el valor predeterminado es created_at.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Consulte la paginación para obtener más información.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Consulte la paginación para obtener más información.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of outbound SMTP emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Crear correo electrónico SMTP saliente",
        "description": "Nuestra API para crear correos electrónicos se inspira en la configuración de opciones de mensajes de Nodemailer y la aprovecha. Consulte la [configuración de mensajes de Nodemailer](https://nodemailer.com/message/) para todos los parámetros del cuerpo que aparecen a continuación.\n\nTenga en cuenta que, con la excepción de `envelope` y `dkim` (ya que los configuramos automáticamente), admitimos todas las opciones de Nodemailer. Por seguridad, configuramos automáticamente las opciones `disableFileAccess` y `disableUrlAccess` en `true`.\n\nDebe pasar la opción `raw` con su correo electrónico completo, incluyendo los encabezados, o bien pasar las opciones individuales de los parámetros del cuerpo que aparecen a continuación.\n\nEste punto final de la API codificará automáticamente los emojis si se encuentran en los encabezados (por ejemplo, un asunto como `Subject: 🤓 Hello` se convierte automáticamente en `Subject: =?UTF-8?Q?=F0=9F=A4=93?= Hello`). Nuestro objetivo era crear una API de correo electrónico extremadamente fácil de usar para desarrolladores y a prueba de tontos.",
        "tags": [
          "Correos electrónicos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SMTP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/limit": {
      "get": {
        "summary": "Obtener el límite de correo electrónico SMTP saliente",
        "description": "Este es un punto final simple que devuelve un objeto JSON que contiene el «recuento» y el «límite» de la cantidad de mensajes SMTP salientes diarios por cuenta.",
        "tags": [
          "Correos electrónicos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/emails/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/emailId"
        }
      ],
      "get": {
        "summary": "Recuperar correo electrónico SMTP saliente",
        "description": "Recuperar un correo electrónico SMTP saliente específico.",
        "tags": [
          "Correos electrónicos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Eliminar correo electrónico SMTP saliente",
        "description": "La eliminación de correos electrónicos establecerá el estado en \"rechazado\" (y, por lo tanto, no se procesará en la cola) solo si el estado actual es \"pendiente\", \"en cola\" o \"aplazado\". Podemos purgar los correos electrónicos automáticamente después de 30 días de su creación o envío; por lo tanto, le recomendamos guardar una copia de los correos SMTP salientes en su cliente, base de datos o aplicación. Si lo desea, puede consultar el valor de nuestro ID de correo electrónico en su base de datos; este valor se devuelve desde los puntos finales [Crear correo electrónico](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#create-email) y [Recuperar correo electrónico](https://github.com/forwardemail/forwardemail.net/blob/master/app/views/api/index.md#retrieve-email).",
        "tags": [
          "Correos electrónicos"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Email deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "summary": "Lista de dominios",
        "description": "> [!NOTE]\n>A partir del 1 de noviembre de 2024, los puntos de conexión de la API para dominios de lista y alias de dominios de lista tendrán un máximo de 1000 resultados por página por defecto. Si desea activar este comportamiento anticipadamente, puede pasar `?paginate=true` como parámetro de cadena de consulta adicional a la URL de la consulta del punto de conexión. Consulte Paginación para obtener más información.",
        "tags": [
          "Dominios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Búsqueda de dominios por metadatos.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Buscar dominios por nombre de dominio.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordenar por un campo específico (prefijo con un guion para ordenar en sentido inverso). Si no se configura, el valor predeterminado es created_at.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Consulte la paginación para obtener más información.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Consulte la paginación para obtener más información.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Crear dominio",
        "description": "Crea un nuevo dominio en el sistema. Este endpoint permite registrar un nombre de dominio completo (FQDN) o una dirección IP para su uso con la plataforma.\n\nLas opciones de configuración incluyen la asignación del dominio a un equipo existente, la configuración de un tipo de plan (p. ej., gratuito, protección mejorada o equipo) y la configuración de protecciones avanzadas como el filtrado de spam, el análisis de virus y la verificación de destinatarios. También puede configurar si se debe crear un alias general por defecto, establecer una URL de webhook de rebote personalizada para errores de SMTP y definir límites de cuota de almacenamiento para los alias de correo electrónico en este dominio. Este endpoint realiza la validación y el aprovisionamiento a nivel de dominio. Si la opción `ignore_mx_check` está habilitada, se omite la verificación de registros MX (recomendado solo para configuraciones de enrutamiento avanzadas). La respuesta contendrá todos los detalles del objeto de dominio creado, incluidos los registros DNS necesarios para la configuración.",
        "tags": [
          "Dominios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Recuperar dominio",
        "description": "Recuperar un dominio específico",
        "tags": [
          "Dominios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Actualizar dominio",
        "description": "Actualizar un dominio específico.",
        "tags": [
          "Dominios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Eliminar dominio",
        "description": "Eliminar un dominio específico.",
        "tags": [
          "Dominios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Verificar registros de dominio",
        "description": "Verificar registros DNS para un dominio específico.",
        "tags": [
          "Dominios"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Domain's DNS records have been verified."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/verify-smtp": {
      "get": {
        "summary": "Verificar los registros SMTP del dominio",
        "description": "Verifica los registros DNS relacionados con SMTP para el dominio especificado.",
        "operationId": "verifySmtpRecords",
        "tags": [
          "Dominios"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Nombre de dominio completo (FQDN) para verificar",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "SMTP records successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "You have successfully configured and verified DNS records for outbound SMTP."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords": {
      "post": {
        "summary": "Crear una contraseña general para todo el dominio",
        "description": "Crea una contraseña general para todo el dominio. Si no se proporciona ninguna contraseña, se generará una aleatoria y segura.",
        "tags": [
          "Dominios"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El nombre de dominio para crear la contraseña general"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_password": {
                    "type": "string",
                    "description": "Su nueva contraseña personalizada para usar como contraseña general del dominio. Déjela en blanco para generar una contraseña segura."
                  },
                  "description": {
                    "type": "string",
                    "description": "Descripción sólo para fines organizativos."
                  }
                }
              },
              "example": {
                "new_password": "myCustomStrongPassword123!",
                "description": "Password for team-wide access"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a catch-all password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID of the created catch-all password"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the catch-all password"
                    }
                  },
                  "required": [
                    "id",
                    "description"
                  ]
                },
                "example": {
                  "id": "6841ec462bd583c73d0632dd",
                  "username": "*@quas.com",
                  "password": "6Yq14XhAUaupdZE",
                  "description": "foo bar"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Lista de contraseñas generales para todo el dominio",
        "description": "Devuelve una lista de contraseñas generales de todo el dominio que están configuradas actualmente para el dominio especificado.",
        "operationId": "listCatchAllPasswords",
        "tags": [
          "Dominios"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "description": "Nombre de dominio completo (FQDN) para el cual se deben incluir contraseñas generales",
            "schema": {
              "type": "string",
              "format": "hostname"
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain-wide catch-all passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the item",
                        "example": "6841ec442bd583c73d0632d0"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "foo bar"
                      }
                    },
                    "required": [
                      "id",
                      "description"
                    ]
                  },
                  "example": [
                    {
                      "id": "6841ec442bd583c73d0632d0",
                      "description": ""
                    },
                    {
                      "id": "6841ec462bd583c73d0632dd",
                      "description": "foo bar"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/catch-all-passwords/{token_id}": {
      "delete": {
        "summary": "Eliminar la contraseña general de todo el dominio",
        "description": "Elimina una contraseña general de todo el dominio utilizando el ID de token proporcionado.",
        "tags": [
          "Dominios"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El nombre de dominio asociado con la contraseña general"
          },
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "El ID del token de la contraseña general de todo el dominio que se eliminará"
          }
        ],
        "responses": {
          "200": {
            "description": "Catch-all password successfully removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Catch-all password deleted successfully."
                    }
                  },
                  "example": {
                    "id": "6841ec442bd583c73d0632d0",
                    "description": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/invites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Aceptar invitación de dominio",
        "description": "Aceptar una invitación a un dominio.",
        "tags": [
          "Invitaciones"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite accepted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Crear invitación de dominio",
        "description": ">[!IMPORTANT]\n>Si el usuario invitado ya es miembro aceptado de algún otro dominio del que es miembro el administrador que lo invita, se aceptará automáticamente la invitación y no se enviará un correo electrónico.",
        "tags": [
          "Invitaciones"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Dirección de correo electrónico para invitar a la lista de miembros del dominio"
                  },
                  "group": {
                    "type": "string",
                    "format": "string",
                    "description": "Grupo al que se agregará el usuario a la membresía del dominio (puede ser uno de `\"admin\"` o `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "summary": "Eliminar invitación de dominio",
        "description": "Eliminar una invitación a un dominio.",
        "tags": [
          "Invitaciones"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Dirección de correo electrónico para eliminar de la lista de miembros del dominio"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain invite removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invite removed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/members/{member_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/memberId"
        }
      ],
      "put": {
        "summary": "Actualizar miembro del dominio",
        "description": "Actualizar un miembro del dominio.",
        "tags": [
          "Miembros"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "required": true,
                    "type": "string",
                    "description": "Grupo para actualizar la membresía del usuario al dominio (puede ser uno de `\"admin\"` o `\"user\"`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Eliminar miembro del dominio",
        "description": "Eliminar un miembro del dominio.",
        "tags": [
          "Miembros"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain member removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Member removed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}/generate-password": {
      "post": {
        "summary": "Generar una contraseña de alias",
        "description": "Generar una contraseña para un alias. Si no se proporciona `emailed_instructions`, la respuesta contendrá el nombre de usuario y la contraseña generados.",
        "tags": [
          "Alias"
        ],
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Nombre de dominio completo (FQDN)"
          },
          {
            "name": "alias_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identificador único del alias"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAliasPasswordInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias credentials returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "alias@yourdomain.com"
                    },
                    "password": {
                      "type": "string",
                      "example": "some-generated-password"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        }
      ],
      "get": {
        "summary": "Lista de alias de dominio",
        "description": ">[!NOTE]\n>A partir del 1 de noviembre de 2024, los puntos de conexión de la API para \"Listar dominios\" y \"Listar alias de dominio\" tendrán un máximo de 1000 resultados por página por defecto. Si desea activar este comportamiento anticipadamente, puede pasar \"?paginate=true\" como parámetro de cadena de consulta adicional a la URL de la consulta del punto de conexión. Consulte Paginación para obtener más información.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Busque alias en un dominio por nombre, etiqueta o destinatario (RegExp compatible)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Buscar alias en un dominio por nombre (RegExp compatible)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Búsqueda de alias en un dominio por destinatario (RegExp compatible)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Ordenar por un campo específico (prefijo con un guion para ordenar a la inversa). El valor predeterminado es created_at.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domain aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Crear un nuevo alias de dominio",
        "description": "Crea un nuevo alias para un dominio específico.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/domains/{domain_id}/aliases/{alias_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/domainId"
        },
        {
          "$ref": "#/components/parameters/aliasId"
        }
      ],
      "get": {
        "summary": "Recuperar alias de dominio",
        "description": "Recuperar un alias específico para un dominio.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Actualizar el alias del dominio",
        "description": "Actualizar un alias específico para un dominio.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain alias updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "summary": "Eliminar alias de dominio",
        "description": "Eliminar un alias específico para un dominio.",
        "tags": [
          "Alias"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Domain alias deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Alias deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/encrypt": {
      "post": {
        "summary": "Cifrar registro TXT",
        "description": "Le permitimos cifrar registros, incluso con el plan gratuito, sin costo alguno. La privacidad no debería ser una característica, sino una característica inherente a todos los aspectos de un producto. Como se solicitó encarecidamente en una discusión sobre las Guías de Privacidad y en nuestros problemas de GitHub, hemos añadido esto.",
        "tags": [
          "Encriptar"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "input": {
                    "required": true,
                    "type": "string",
                    "description": "Cualquier registro TXT de texto sin formato de correo electrónico de reenvío válido"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Text encrypted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted": {
                      "type": "string",
                      "description": "Encrypted text"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "Rate limit exceeded (50 requests for 'encrypt')",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "Lista de contactos",
        "description": "Listar todos los contactos (CardDAV). Este punto final estará disponible próximamente.",
        "tags": [
          "Contactos de alias"
        ],
        "security": [
[...]
