{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Velkommen til den omfattende API-dokumentasjonen for videresending av e-post. Denne API-en lar deg administrere videresending av e-post, domener, aliaser, utgående e-poster og mer programmatisk.\n\n## Viktige funksjoner\n* **Domeneadministrasjon:** Opprett, hent, oppdater, slett og verifiser domener.\n* **Aliasadministrasjon:** Administrer e-postaliaser, inkludert opprettelse, oppdateringer og mottakeradministrasjon.\n* **Utgående SMTP:** Send e-poster via SMTP, administrer grenser og spor sendte e-poster.\n* **Konto og logger:** Administrer kontodetaljene dine og last ned aktivitetslogger.\n* **Sikkerhet:** Krypter TXT-poster og administrer domenemedlemmer/invitasjoner.\n* **CardDAV-kontakter:** Fullstendige CRUD-operasjoner for kontaktadministrasjon med vCard-støtte.\n* **CalDAV-kalendere:** Fullstendig kalenderadministrasjon med støtte for tidssone og farger.\n* **IMAP/POP3-meldinger:** Omfattende meldingsbehandling med avanserte søkemuligheter.\n\n* **IMAP/POP3-mapper:** Full mappebehandling, inkludert oppretting, omdøping og sletting.\n\n## Autentisering\nDe fleste endepunkter krever autentisering ved hjelp av din **API-nøkkel**. Oppgi API-nøkkelen som `brukernavn` i overskriften for grunnleggende autentisering, og la passordet stå tomt.\n\n```http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(Erstatt `API_TOKEN` med din faktiske nøkkel før Base64-koding)\n\nEndepunkter relatert til **Aliaskontakter, kalendere, meldinger og mapper** krever et generert aliasbrukernavn og passord for grunnleggende autentisering.\n\n## Feil\nAPI-et bruker standard HTTP-statuskoder for å indikere suksess eller mislykkethet. Feilresponser inkluderer en JSON-innhold med et `meldings`-felt som beskriver feilen.\n\n| Statuskode | Betydning |\n|-------------|---------------------|\n| 200 | OK |\n| 400 | Feil forespørsel |\n| 401 | Uautorisert |\n| 403 | Forbudt |\n| 404 | Ikke funnet |\n| 409 | Konflikt |\n| 412 | Forutsetning mislyktes |\n| 429 | For mange forespørsler |\n| 500 | Intern serverfeil |\n| 501 | Ikke implementert |\n| 502 | Feil gateway |\n| 503 | Tjenesten er ikke tilgjengelig |\n| 504 | Gateway-tidsavbrudd |\n\n*Hvis du støter på en `5xx`-feil, vennligst kontakt [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalisering\nAPI-svar oversettes basert på brukerens oppdagede språk eller `Accept-Language`-headeren. Over 25 språk støttes.\n\n## Paginering\nEndepunkter som returnerer lister støtter paginering via spørreparametere.\n\n| Parameter | Type | Valgfritt | Beskrivelse | Standard | Begrensninger |\n|--------------|----------|----------|--------------------------------------------------------------------------|---------|----------------------------------------|\n| `side` | Heltall | Ja | Sidetall som skal hentes. | 1 | `>= 1` |\n| `grense` | Heltall | Ja | Antall resultater per side. | 25 | `>= 1`, `<= 100` |\n| `paginering` | Boolsk | Ja | Velg pagineringsatferd (påkrevd før 1. november 2024 for noen endepunkter). | usann | |\n\n**Pagineringsoverskrifter:**\n* `X-Page-Count`: Totalt antall sider.\n* `X-Page-Current`: Gjeldende sidetall.\n* `X-Page-Size`: Antall elementer på gjeldende side.\n* `X-Item-Count`: Totalt antall elementer på tvers av alle sider.\n* `Link`: Navigasjonslenker (forrige, neste, første, siste).\n\n**Eksempel:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Anbefalte biblioteker\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Vedlikeholdt av videresendt e-post)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "API-server for videresending av e-post"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Bruk API-nøkkelen din som **brukernavn** for grunnleggende autentisering. La passordfeltet stå tomt.\n\n**Eksempel:**\nHvis API-nøkkelen din er `YOUR_API_KEY`, vil den Base64-kodede verdien for `Authorization`-headeren være `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Bruk det genererte **aliasbrukernavnet og passordet** for grunnleggende autentisering. Dette gjelder for endepunkter under:\n* Aliaskontakter (CardDAV)\n* Aliaskalendere (CalDAV)\n* Aliasmeldinger (IMAP/POP3)\n* Aliasmapper (IMAP/POP3)\n\n**Eksempel:**\nHvis aliasbrukernavnet er `alias@domain.com` og passordet er `GENERATED_PASSWORD`, vil den Base64-kodede verdien være `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Feilmelding"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Alias-ID"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Objekttype"
          },
          "name": {
            "type": "string",
            "description": "Aliasnavn (lokal del av e-post)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Fullstendig alias-e-postadresse"
          },
          "domain_id": {
            "type": "string",
            "description": "Domene-ID"
          },
          "domain_name": {
            "type": "string",
            "description": "Domenenavn"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Lagringsplass brukt i byte for dette aliaset/denne postkassen"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Lagringskvote i byte for dette aliaset/denne postkassen"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Om IMAP er aktivert for dette aliaset"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Om PGP-kryptering er aktivert"
          },
          "public_key": {
            "type": "string",
            "description": "PGP offentlig nøkkel hvis tilgjengelig"
          },
          "locale": {
            "type": "string",
            "description": "Språkinnstilling"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstempel for opprettelse"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstempel for siste oppdatering"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kontakt-ID (contact_id fra CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "Kontakt UID"
          },
          "full_name": {
            "type": "string",
            "description": "Kontaktens fulle navn"
          },
          "content": {
            "type": "string",
            "description": "vCard-innhold"
          },
          "etag": {
            "type": "string",
            "description": "ETag for versjonering"
          },
          "is_group": {
            "type": "boolean",
            "description": "Om kontakten er en gruppe"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matrise med e-postadresser"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Rekke med telefonnumre"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-innhold (hvis ikke oppgitt, vil det bli generert fra andre felt)"
          },
          "full_name": {
            "type": "string",
            "description": "Kontaktens fulle navn"
          },
          "contact_id": {
            "type": "string",
            "description": "Tilpasset kontakt-ID (hvis ikke oppgitt, vil den bli generert automatisk)"
          },
          "uid": {
            "type": "string",
            "description": "Kontakt-UID (hvis ikke oppgitt, vil bli generert automatisk)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matrise med e-postadresser"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Rekke med telefonnumre"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matrise med telefonnumre (alias for telefonnumre)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Adresserekke"
          },
          "is_group": {
            "type": "boolean",
            "description": "Om kontakten er en gruppe"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-innhold"
          },
          "full_name": {
            "type": "string",
            "description": "Kontaktens fulle navn"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matrise med e-postadresser"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Rekke med telefonnumre"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matrise med telefonnumre (alias for telefonnumre)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Adresserekke"
          },
          "is_group": {
            "type": "boolean",
            "description": "Om kontakten er en gruppe"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalender-ID (kalender-ID fra CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Kalendernavn"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeskrivelse"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarge (heksadesimalt format)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderens tidssone"
          },
          "order": {
            "type": "integer",
            "description": "Visningsrekkefølge for kalenderen"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendernavn"
          },
          "calendar_id": {
            "type": "string",
            "description": "Tilpasset kalender-ID (hvis ikke oppgitt, vil den bli generert automatisk)"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeskrivelse"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarge (heksadesimalt format genereres automatisk hvis ikke oppgitt)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderens tidssone (standard er brukerens tidssone eller UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Kalenderens visningsrekkefølge (standard er 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendernavn"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeskrivelse"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarge (heksadesimalt format)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderens tidssone"
          },
          "order": {
            "type": "integer",
            "description": "Visningsrekkefølge for kalenderen"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalenderhendelses-ID (hendelses-ID fra CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID-en til kalenderen denne hendelsen tilhører"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar (RFC 5545)-data for hendelsen"
          },
          "summary": {
            "type": "string",
            "description": "Hendelsestittel/sammendrag (hentet fra iCal-data)"
          },
          "description": {
            "type": "string",
            "description": "Hendelsesbeskrivelse (hentet fra iCal-data)"
          },
          "location": {
            "type": "string",
            "description": "Hendelsessted (hentet fra iCal-data)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Startdato/-klokkeslett for arrangement (hentet fra iCal-data)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Sluttdato/-klokkeslett for arrangement (hentet fra iCal-data)"
          },
          "uid": {
            "type": "string",
            "description": "Unik identifikator fra iCal-data"
          },
          "status": {
            "type": "string",
            "description": "Hendelsesstatus (hentet fra iCal-data)"
          },
          "organizer": {
            "type": "string",
            "description": "Arrangør av arrangementet (hentet fra iCal-data)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Tidsstempel for myk sletting"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ID-en til kalenderen som hendelsen skal legges til i"
          },
          "event_id": {
            "type": "string",
            "description": "Tilpasset hendelses-ID (hvis ikke oppgitt, vil den bli generert automatisk)"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar-data (RFC 5545) for hendelsen. Må være gyldig iCal-format."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Flytt hendelse til en annen kalender"
          },
          "ical": {
            "type": "string",
            "description": "Oppdaterte iCalendar-data (RFC 5545) for arrangementet"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Mappe-ID"
          },
          "path": {
            "type": "string",
            "description": "Fullstendig mappesti"
          },
          "name": {
            "type": "string",
            "description": "Mappenavn (siste del av banen)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Sti til overordnet mappe"
          },
          "uid_validity": {
            "type": "integer",
            "description": "IMAP UID-gyldighet"
          },
          "uid_next": {
            "type": "integer",
            "description": "Neste UID-verdi"
          },
          "modify_index": {
            "type": "integer",
            "description": "Modifikasjonsindeks"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Om mappen abonnerer"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Mappeflagg"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Oppbevaringsperiode for meldinger"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Spesiell bruksbetegnelse"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Mappebane/-navn"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Ny mappesti/-navn"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Meldings-ID"
          },
          "root_id": {
            "type": "string",
            "description": "Rotmeldings-ID for tråding"
          },
          "folder_id": {
            "type": "string",
            "description": "Mappe-ID som inneholder meldingen"
          },
          "folder_path": {
            "type": "string",
            "description": "Mappebanen som inneholder meldingen"
          },
          "thread_id": {
            "type": "string",
            "description": "Tråd-ID for samtalegruppering"
          },
          "header_message_id": {
            "type": "string",
            "description": "Verdi for meldings-ID-hode"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Om meldingen er ulest"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Om meldingen er flagget"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Om meldingen er slettet"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Om meldingen er et utkast"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Om meldingen er søppelpost"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Om meldingen er kopiert"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Om meldingen er søkbar"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Om meldingen er utløpt"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Om meldingen har vedlegg"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Oppbevaringsdato for melding"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Intern dato (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Dato fra meldingsoverskrifter"
          },
          "subject": {
            "type": "string",
            "description": "Emne for meldingen"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-flagg"
          },
          "size": {
            "type": "integer",
            "description": "Meldingsstørrelse i byte"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP UID"
          },
          "modseq": {
            "type": "integer",
            "description": "Modifikasjonssekvens"
          },
          "transaction": {
            "type": "string",
            "description": "Transaksjonstype"
          },
          "remote_address": {
            "type": "string",
            "description": "Ekstern IP-adresse"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstempel for opprettelse av melding"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Tidsstempel for siste oppdatering av melding"
          },
          "nodemailer": {
            "type": "object",
            "description": "Parset meldingsobjekt (inkludert som standard, sett ?nodemailer=false for å ekskludere)"
          },
          "raw": {
            "type": "string",
            "description": "Rå meldingsinnhold (inkludert som standard, sett ?raw=false for å ekskludere)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Avsenderens e-postadresse"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Mottakerens e-postadresser"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-postadresser for CC-mottakere"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "BCC-mottakerens e-postadresser"
          },
          "subject": {
            "type": "string",
            "description": "Emne for meldingen"
          },
          "text": {
            "type": "string",
            "description": "Vanlig tekstinnhold"
          },
          "html": {
            "type": "string",
            "description": "HTML-innhold"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Meldingsvedlegg (Nodemailer-format)"
          },
          "folder": {
            "type": "string",
            "description": "Målmappe (standard er INNBOKS)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "IMAP-flagg som skal settes på meldingen"
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-flagg som skal settes på meldingen"
          },
          "folder": {
            "type": "string",
            "description": "Flytt meldingen til denne mappen"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Avsenderens e-postadresse (må finnes som et alias for domenet)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommaseparert liste eller en matrise med mottakere for «Til»-overskriften."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommaseparert liste eller en matrise med mottakere for «Cc»-overskriften."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommaseparert liste eller en matrise med mottakere for «Bcc»-overskriften."
          },
          "subject": {
            "type": "string",
            "description": "Emnet for e-posten."
          },
          "text": {
            "type": "string",
            "description": "Klartekstversjonen av meldingen."
          },
          "html": {
            "type": "string",
            "description": "HTML-versjonen av meldingen."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "En matrise med vedleggsobjekter (se Nodemailers vanlige felt)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "E-postadressen for «Avsender»-overskriften."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "E-postadressen for «Svar til»-overskriften."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Meldings-ID-en meldingen svarer på."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Mellomromsseparert liste eller en matrise med meldings-ID-er."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Hvis sann, konverteres data: bilder i HTML-innholdet til innebygde vedlegg."
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch-spesifikk HTML-versjon av meldingen."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL-spesifikk HTML-versjon av meldingen."
          },
          "icalEvent": {
            "type": "object",
            "description": "En iCalendar-hendelse som alternativt meldingsinnhold."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "En rekke alternative meldingsinnhold."
          },
          "encoding": {
            "type": "string",
            "description": "Koding for tekst og HTML-strenger (f.eks. 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Tilpasset generert RFC822-formatert melding (i stedet for å bruke Nodemailer-generering)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Koding tvunget til å brukes for tekstverdier."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Prioritetsnivå for e-posten."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objekt eller matrise med ekstra headerfelt."
          },
          "messageId": {
            "type": "string",
            "description": "Valgfri meldings-ID for overskriften «Meldings-ID»."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Valgfri datooverskrift. Kan ikke være mer enn 30 dager inn i fremtiden."
          },
          "list": {
            "type": "object",
            "description": "Valgfritt objekt for List-*-overskrifter."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Fullt kvalifisert domenenavn (FQDN) eller IP-adresse"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Tilordne til samme team fra et annet domene; kan være en domene-ID eller et FQDN. Bruk «ingen» for å deaktivere eksplisitt."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Plantype (standard er «gratis» eller brukerens nåværende betalte plan)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Avgrenset liste over e-postadresser (separert med komma, mellomrom eller linjeskift)"
              }
            ],
            "description": "Opprett et standard catch-all-alias (standard er sann)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Aktiver Spam Scanner-beskyttelse mot voksent innhold"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Aktiver Spam Scanner phishing-beskyttelse"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Aktiver beskyttelse mot kjørbar Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Aktiver virusbeskyttelse for Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Krev at aliasmottakere klikker på e-postbekreftelseslenken"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorer MX-postsjekk for avanserte oppsett for e-postruting"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Velg å lagre overskrifter og metadata (unntatt meldingsinnhold) for vellykkede videresendte, webhook-sendte, utgående SMTP- og IMAP-leverte e-poster, med logger som oppbevares i 7 dager. Denne funksjonen hjelper deg med å overvåke og feilsøke e-postleveringsytelsen med detaljert innsikt i vellykkede overføringer."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Antall dager utgående SMTP-logger skal oppbevares (0–30, standard: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhook-URL for å motta avvisningshendelser"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Deaktiver avvist webhook"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Maksimumskvote for lagring per alias (f.eks. «1 GB»)"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Tilpasset port for å konfigurere for SMTP-videresending (standard er '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Om Spam Scanner skal aktivere beskyttelse mot voksent innhold på dette domenet"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Om Spam Scanner skal aktivere phishing-beskyttelse på dette domenet"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Om beskyttelse mot kjørbar Spam Scanner skal aktiveres på dette domenet"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Om virusbeskyttelse fra Spam Scanner skal aktiveres på dette domenet"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Globalt domenestandard for om aliasmottakere skal kreves for at de klikker på en e-postbekreftelseslenke for at e-poster skal sendes gjennom"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Om MX-postsjekken på domenet skal ignoreres for verifisering (hovedsakelig for avanserte MX-rutingsoppsett)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Velg å lagre overskrifter og metadata (unntatt meldingsinnhold) for vellykkede videresendte, webhook-sendte, utgående SMTP- og IMAP-leverte e-poster, med logger som oppbevares i 7 dager. Denne funksjonen hjelper deg med å overvåke og feilsøke e-postleveringsytelsen med detaljert innsikt i vellykkede overføringer."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Antall dager for lagring av utgående SMTP-e-poster (0 = slett umiddelbart)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhook-URL for å motta avvisningsvarsler, eller false for å deaktivere"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Lagringskvote per alias (f.eks. «1 GB», analysert til byte)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnavn (hvis ikke oppgitt eller tomt, genereres et tilfeldig alias)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Linjeskift/mellomrom/kommaseparert streng med gyldige e-postadresser, FQDN-er, IP-adresser eller webhook-URL-er"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matrise med gyldige mottakere"
              }
            ],
            "description": "Liste over mottakere. Hvis ikke oppgitt eller tom, brukes standardadressen til forespørrerens e-postadresse"
          },
          "description": {
            "type": "string",
            "description": "Aliasbeskrivelse"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Linjeskift/mellomrom/kommaseparert streng med etiketter"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matrise med etiketter"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Krev at mottakerne klikker på bekreftelseslenken (standard domeneinnstilling)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Om dette aliaset skal aktiveres eller deaktiveres"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Feilkode hvis alias er deaktivert. Standardinnstillingen er 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Aktiver eller deaktiver IMAP-lagring for dette aliaset"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Aktiver eller deaktiver OpenPGP-kryptering for dette aliaset"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP offentlig nøkkel i ASCII Armor-format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maksimal lagringskvote (f.eks. «1 GB»)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Aktiver eller deaktiver feriesvar"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdato (f.eks. «ÅÅÅÅ-MM-DD») for feriesvar"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Sluttdato (f.eks. «ÅÅÅÅ-MM-DD») for feriesvar"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Klartekstemne for feriesvar"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Klartekstmelding for feriesvar"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasnavn"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Linjeskift/mellomrom/kommaseparert streng med gyldige e-postadresser, FQDN-er, IP-adresser eller webhook-URL-er"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matrise med gyldige mottakere"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Aliasbeskrivelse"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Linjeskift/mellomrom/kommaseparert streng med etiketter"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Matrise med etiketter"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Krev at mottakerne klikker på bekreftelseslenken (standard domeneinnstilling)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Aktiver eller deaktiver alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Feilkode som skal brukes hvis alias er deaktivert (standard er 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Aktiver eller deaktiver IMAP-lagring"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Aktiver eller deaktiver OpenPGP-kryptering"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP offentlig nøkkel i ASCII Armor-format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maksimal lagringskvote (f.eks. «1 GB»)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Aktiver eller deaktiver feriesvar"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdato for feriesvar (f.eks. ÅÅÅÅ-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Sluttdato for feriesvar (f.eks. ÅÅÅÅ-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Rentekstemne for feriesvar"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Rentekstmelding fra feriesvar"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Ditt nye, tilpassede passord som skal brukes til aliaset"
          },
          "password": {
            "type": "string",
            "description": "Eksisterende passord for alias for å endre det uten å slette postbokslagring"
          },
          "is_override": {
            "type": "boolean",
            "description": "Overstyr eksisterende passord og slett IMAP-lagring (bruk med forsiktighet)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-postadresse for å sende aliaspassord og konfigurasjonsinstruksjoner"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Gjeldende antall sendte e-poster"
          },
          "limit": {
            "type": "integer",
            "description": "Maksimalt antall tillatte e-poster"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Medlems-ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Medlemmets e-postadresse"
          },
          "role": {
            "type": "string",
            "description": "Medlemmets rolle"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Invitert e-postadresse"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Resultatsiden som skal returneres. Hvis ikke spesifisert, vil verdien være 1. Må være et tall større enn eller lik 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Antall resultater som skal returneres per side. Standardverdien er 25 hvis ikke spesifisert. Må være et tall større enn eller lik 1, og mindre enn eller lik 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Meld deg på paginering før 1. november 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Domene-ID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias-ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Medlems-ID",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "E-post-ID",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kontakt-ID",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kalender-ID",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Mappe-ID eller sti",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Meldings-ID",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Konto"
        ],
        "summary": "Hent konto",
        "description": "Hent kontoinformasjonen din.\n\n**Autentisering:** Dette endepunktet støtter både API-token-autentisering og autentisering av aliaslegitimasjon.\n\n- **Brukerkonto (API-token):** Når dette endepunktet autentiseres med API-tokenet ditt, returnerer det brukerkontoinformasjonen din, inkludert plandetaljer, e-post og API-token.\n\n- **Aliaskonto (aliaslegitimasjon):** Når dette endepunktet autentiseres med aliaslegitimasjon (e-post og generert passord), returnerer det alias-/postboksinformasjon, inkludert brukt lagringsplass, lagringskvote og postboksinnstillinger. Dette er nyttig for IMAP/POP3/CalDAV/CardDAV-klienter for å sjekke lagringsstatus.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Oppdater konto",
        "description": "Oppdater kontoinformasjonen din.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "Visningsnavn"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Språkinnstilling"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Liste over kontakter",
        "description": "Hent en liste over alle kontakter for det autentiserte aliaset. Dette endepunktet støtter paginering og returnerer kontakter i CardDAV-format.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Opprett kontakt",
        "description": "Opprett en ny kontakt. Du kan enten oppgi vCard-innhold direkte eller individuelle kontaktfelt som konverteres til vCard-format. Hvis en kontakt med samme ID allerede finnes, returneres en konfliktfeil.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Hent kontakt",
        "description": "Hent en spesifikk kontakt etter ID-en. Kontakten returneres i standard kontaktformat med vCard-innhold og analyserte felt.",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Oppdater kontakt",
        "description": "Oppdater en eksisterende kontakt. Du kan enten oppgi oppdatert vCard-innhold eller individuelle felt som skal oppdateres. Kontaktens vCard vil bli generert på nytt hvis individuelle felt oppgis.",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kontakter"
        ],
        "summary": "Slett kontakt",
        "description": "Slett en bestemt kontakt permanent. Denne handlingen kan ikke angres.",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "Kalendere"
        ],
        "summary": "Liste over kalendere",
        "description": "Hent en liste over alle kalendere for det autentiserte aliaset. Dette endepunktet støtter paginering og returnerer kalendere i CalDAV-format.",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kalendere"
        ],
        "summary": "Opprett kalender",
        "description": "Opprett en ny kalender. Kalendernavnet er obligatorisk, mens andre egenskaper som farge, tidssone og beskrivelse er valgfrie. Hvis en kalender med samme navn allerede finnes, vil det returneres en konfliktfeil.",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "Kalendere"
        ],
        "summary": "Hent kalender",
        "description": "Hent en spesifikk kalender etter ID-en. Kalenderen returneres med alle egenskapene, inkludert navn, beskrivelse, farge, tidssone og rekkefølge.",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Kalendere"
        ],
        "summary": "Oppdater kalenderen",
        "description": "Oppdater en eksisterende kalender. Du kan oppdatere alle kalenderegenskapene, inkludert navn, beskrivelse, farge, tidssone og rekkefølge. Hvis du endrer navnet til et som allerede finnes, vil det returneres en konfliktfeil.",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kalendere"
        ],
        "summary": "Slett kalenderen",
        "description": "Slett en bestemt kalender permanent. Denne handlingen kan ikke angres og vil også slette alle hendelser i kalenderen.",
        "operationId": "deleteCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
[...]
