{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Willkommen zur umfassenden API-Dokumentation für Forward Email. Mit dieser API können Sie E-Mail-Weiterleitungen, Domains, Aliase, ausgehende E-Mails und vieles mehr programmatisch verwalten.\n\n## Hauptfunktionen\n* **Domainverwaltung:** Domains erstellen, abrufen, aktualisieren, löschen und verifizieren.\n\n* **Aliasverwaltung:** E-Mail-Aliase verwalten, einschließlich Erstellung, Aktualisierung und Empfängerverwaltung.\n\n* **Ausgehender SMTP-Versand:** E-Mails per SMTP senden, Limits verwalten und gesendete E-Mails verfolgen.\n\n* **Konto & Protokolle:** Kontodetails verwalten und Aktivitätsprotokolle herunterladen.\n\n* **Sicherheit:** TXT-Einträge verschlüsseln und Domainmitglieder/Einladungen verwalten.\n\n* **CardDAV-Kontakte:** Vollständige CRUD-Operationen für die Kontaktverwaltung mit vCard-Unterstützung.\n\n* **CalDAV-Kalender:** Umfassende Kalenderverwaltung mit Zeitzonen- und Farbunterstützung.\n\n* **IMAP/POP3-Nachrichten:** Umfassende Nachrichtenverwaltung mit erweiterten Suchfunktionen.\n\n* **IMAP/POP3-Ordner:** Vollständige Ordnerverwaltung inklusive Erstellen, Umbenennen und Löschen.\n\n## Authentifizierung\nDie meisten Endpunkte erfordern eine Authentifizierung mit Ihrem **API-Schlüssel**. Geben Sie den API-Schlüssel als `username` im Header der Basisauthentifizierung an und lassen Sie das Passwortfeld leer.\n\n```http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(Ersetzen Sie `API_TOKEN` vor der Base64-Kodierung durch Ihren tatsächlichen Schlüssel.)\n\nEndpunkte für **Alias-Kontakte, -Kalender, -Nachrichten und -Ordner** erfordern einen generierten Alias-Benutzernamen und ein Passwort für die Basisauthentifizierung.\n\n## Fehler\nDie API verwendet standardmäßige HTTP-Statuscodes, um Erfolg oder Misserfolg anzuzeigen. Fehlerantworten enthalten einen JSON-Body mit einem `message`-Feld, das den Fehler detailliert beschreibt.\n\n| Statuscode | Bedeutung |\n\n-------------|---------------------|\n\n| 200 | OK |\n\n| 400 | Ungültige Anfrage |\n\n| 401 | Nicht autorisiert |\n\n| 403 | Verboten |\n\n| 404 | Nicht gefunden |\n\n| 409 | Konflikt |\n\n| 412 | Vorbedingung nicht erfüllt |\n\n| 429 | Zu viele Anfragen |\n\n| 500 | Interner Serverfehler |\n\n| 501 | Nicht implementiert |\n\n| 502 | Ungültiges Gateway |\n\n| 503 | Dienst nicht verfügbar |\n\n| 504 | Gateway-Timeout |\n\n\n*Bei einem 5xx-Fehler kontaktieren Sie bitte api@forwardemail.net.*\n\n## Lokalisierung\nAPI-Antworten werden basierend auf der erkannten Sprache des Benutzers oder dem Header „Accept-Language“ übersetzt. Über 25 Sprachen werden unterstützt.\n\n\n## Paginierung\nEndpunkte, die Listen zurückgeben, unterstützen die Paginierung über Abfrageparameter.\n\n| Parameter | Typ | Optional | Beschreibung | Standardwert | Einschränkungen |\n\n--------------|---------|----------|-----------------------------------------------------------------------------|---------|--------------------|\n\n| `page` | Ganzzahl | Ja | Abrufbare Seitenzahl. | 1 | `>= 1` |\n\n| `limit` | Ganzzahl | Ja | Anzahl der Ergebnisse pro Seite. | 25 | `>= 1`, `<= 100` |\n\n| `pagination` | Boolesch | Ja | Paginierung aktivieren (für einige Endpunkte vor dem 1. November 2024 erforderlich). | false | |\n\n**Paginierungs-Header:**\n\n* `X-Page-Count`: Gesamtseitenzahl.\n\n* `X-Page-Current`: Aktuelle Seitenzahl.\n\n* `X-Page-Size`: Anzahl der Elemente auf der aktuellen Seite.\n\n* `X-Item-Count`: Gesamtzahl der Elemente auf allen Seiten.\n\n* `Link`: Navigationslinks (vorherige, nächste, erste, letzte).\n\n**Beispiel:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Empfohlene Bibliotheken\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Betreut von Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "E-Mail-Weiterleitungs-API-Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Verwenden Sie Ihren API-Schlüssel als **Benutzernamen** für die Basisauthentifizierung. Lassen Sie das Passwortfeld leer.\n\n**Beispiel:** Wenn Ihr API-Schlüssel `YOUR_API_KEY` lautet, wäre der Base64-kodierte Wert für den `Authorization`-Header `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nUse the generated **alias username and password** for Basic Authentication. This applies to endpoints under:\n*   Alias Contacts (CardDAV)\n*   Alias Calendars (CalDAV)\n*   Alias Messages (IMAP/POP3)\n*   Alias Folders (IMAP/POP3)\n*   Alias Sieve Scripts\n\n**Example:**\nIf the alias username is `alias@domain.com` and password is `GENERATED_PASSWORD`, the Base64 encoded value would be `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "SieveScript": {
        "type": "object",
        "required": [
          "id",
          "name",
          "content",
          "alias"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique script identifier"
          },
          "name": {
            "type": "string",
            "description": "Script name"
          },
          "content": {
            "type": "string",
            "description": "Sieve script content"
          },
          "alias": {
            "type": "string",
            "description": "Alias ID this script belongs to"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the script is active",
            "default": false
          },
          "priority": {
            "type": "integer",
            "description": "Script priority (lower = higher priority)",
            "default": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Erstellungszeitstempel"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Zeitstempel der letzten Aktualisierung"
          },
          "object": {
            "type": "string",
            "example": "sieve_script"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Fehlermeldung"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "Die vom Benutzer bevorzugte Spracheinstellung, die die automatische Spracherkennung überschreibt."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Alias-ID"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Objekttyp"
          },
          "name": {
            "type": "string",
            "description": "Aliasname (lokaler Teil der E-Mail-Adresse)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Vollständige Alias-E-Mail-Adresse"
          },
          "domain_id": {
            "type": "string",
            "description": "Domänen-ID"
          },
          "domain_name": {
            "type": "string",
            "description": "Domainname"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Speicherplatzbedarf in Bytes für diesen Alias/diese Mailbox"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Speicherkontingent in Bytes für diesen Alias/dieses Postfach"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Ob IMAP für diesen Alias aktiviert ist"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Ob die PGP-Verschlüsselung aktiviert ist"
          },
          "public_key": {
            "type": "string",
            "description": "PGP-öffentlicher Schlüssel, falls verfügbar"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Ob die S/MIME-Verschlüsselung aktiviert ist"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509-Zertifikat im PEM-Format"
          },
          "locale": {
            "type": "string",
            "description": "Standortpräferenz"
          },
          "settings": {
            "type": "object",
            "description": "Alias-Einstellungen",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias-Mail-Archivordner"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias-Ordner „Gesendete E-Mails“"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias-E-Mail-Entwürfe-Ordner"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "Alias-Bezeichnungszuordnung nach Schlüsselwort",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "Frei definierbare Alias-Standardwerte wie display_name oder signature.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Erstellungszeitstempel"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Zeitstempel der letzten Aktualisierung"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kontakt-ID (contact_id von CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "Kontakt-UID"
          },
          "full_name": {
            "type": "string",
            "description": "vollständiger Name des Ansprechpartners"
          },
          "content": {
            "type": "string",
            "description": "vCard-Inhalt"
          },
          "etag": {
            "type": "string",
            "description": "ETag für die Versionsverwaltung"
          },
          "is_group": {
            "type": "boolean",
            "description": "Ob Kontakt eine Gruppe ist"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Liste von E-Mail-Adressen"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Liste von Telefonnummern"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-Inhalt (wird, falls nicht angegeben, aus anderen Feldern generiert)"
          },
          "full_name": {
            "type": "string",
            "description": "vollständiger Name des Ansprechpartners"
          },
          "contact_id": {
            "type": "string",
            "description": "Benutzerdefinierte Kontakt-ID (wird, falls nicht angegeben, automatisch generiert)"
          },
          "uid": {
            "type": "string",
            "description": "Kontakt-UID (wird, falls nicht angegeben, automatisch generiert)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Liste von E-Mail-Adressen"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Liste von Telefonnummern"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array von Telefonnummern (Alias für phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Adressarray"
          },
          "is_group": {
            "type": "boolean",
            "description": "Ob Kontakt eine Gruppe ist"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard-Inhalt"
          },
          "full_name": {
            "type": "string",
            "description": "vollständiger Name des Ansprechpartners"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Liste von E-Mail-Adressen"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Liste von Telefonnummern"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Array von Telefonnummern (Alias für phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Adressarray"
          },
          "is_group": {
            "type": "boolean",
            "description": "Ob Kontakt eine Gruppe ist"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalender-ID (calendarId von CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Kalendername"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeschreibung"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarbe (Hexadezimalformat)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderzeitzone"
          },
          "order": {
            "type": "integer",
            "description": "Reihenfolge der Kalenderanzeige"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendername"
          },
          "calendar_id": {
            "type": "string",
            "description": "Benutzerdefinierte Kalender-ID (wird, falls nicht angegeben, automatisch generiert)"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeschreibung"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarbe (Hexadezimalformat, falls nicht angegeben, wird automatisch generiert)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderzeitzone (standardmäßig die Zeitzone des Benutzers oder UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Kalenderanzeigereihenfolge (Standardwert: 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Kalendername"
          },
          "description": {
            "type": "string",
            "description": "Kalenderbeschreibung"
          },
          "color": {
            "type": "string",
            "description": "Kalenderfarbe (Hexadezimalformat)"
          },
          "timezone": {
            "type": "string",
            "description": "Kalenderzeitzone"
          },
          "order": {
            "type": "integer",
            "description": "Reihenfolge der Kalenderanzeige"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Kalenderereignis-ID (Ereignis-ID von CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "Kalender-ID, zu dem dieses Ereignis gehört"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar-Daten (RFC 5545) für das Ereignis"
          },
          "summary": {
            "type": "string",
            "description": "Ereignistitel/Zusammenfassung (aus iCal-Daten extrahiert)"
          },
          "description": {
            "type": "string",
            "description": "Ereignisbeschreibung (aus iCal-Daten extrahiert)"
          },
          "location": {
            "type": "string",
            "description": "Veranstaltungsort (aus iCal-Daten extrahiert)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Startdatum/-zeit der Veranstaltung (aus iCal-Daten extrahiert)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Datum/Uhrzeit des Veranstaltungsendes (aus iCal-Daten extrahiert)"
          },
          "uid": {
            "type": "string",
            "description": "Eindeutiger Identifikator aus iCal-Daten"
          },
          "status": {
            "type": "string",
            "description": "Ereignisstatus (aus iCal-Daten extrahiert)"
          },
          "organizer": {
            "type": "string",
            "description": "Veranstalter (aus iCal-Daten extrahiert)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Zeitstempel für die Soft-Deletion"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Kalender-ID, dem das Ereignis hinzugefügt werden soll"
          },
          "event_id": {
            "type": "string",
            "description": "Benutzerdefinierte Ereignis-ID (wird, falls nicht angegeben, automatisch generiert)"
          },
          "ical": {
            "type": "string",
            "description": "iCalendar-Daten (RFC 5545) für das Ereignis. Muss im gültigen iCal-Format vorliegen."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Ereignis in einen anderen Kalender verschieben"
          },
          "ical": {
            "type": "string",
            "description": "Aktualisierte iCalendar-Daten (RFC 5545) für das Ereignis"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Ordner-ID"
          },
          "path": {
            "type": "string",
            "description": "Vollständiger Ordnerpfad"
          },
          "name": {
            "type": "string",
            "description": "Ordnername (letzter Teil des Pfades)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Pfad zum übergeordneten Ordner"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Gültigkeit der IMAP-UID"
          },
          "uid_next": {
            "type": "integer",
            "description": "Nächster UID-Wert"
          },
          "modify_index": {
            "type": "integer",
            "description": "Änderungsindex"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Ob der Ordner abonniert ist"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ordnerkennzeichnungen"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Aufbewahrungsdauer der Nachricht"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Sondernutzungsbezeichnung"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Ordnerpfad/Name"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Neuer Ordnerpfad/Name"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Nachrichten-ID"
          },
          "root_id": {
            "type": "string",
            "description": "Root-Nachrichten-ID für Threading"
          },
          "folder_id": {
            "type": "string",
            "description": "Ordner-ID, die die Nachricht enthält"
          },
          "folder_path": {
            "type": "string",
            "description": "Ordnerpfad, der die Nachricht enthält"
          },
          "thread_id": {
            "type": "string",
            "description": "Thread-ID für die Konversationsgruppierung"
          },
          "header_message_id": {
            "type": "string",
            "description": "Wert des Message-ID-Headers"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Ob die Nachricht ungelesen ist"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Ob die Nachricht als markiert ist"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Ob die Nachricht gelöscht wurde"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Ob die Nachricht ein Entwurf ist"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Ob es sich bei der Nachricht um Junk/Spam handelt"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Ob die Nachricht kopiert wurde"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Ob die Nachricht durchsuchbar ist"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Ist die Nachricht abgelaufen?"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Ob die Nachricht Anhänge enthält"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Aufbewahrungsdatum der Nachricht"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Internes Datum (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Datum aus den Nachrichtenkopfzeilen"
          },
          "subject": {
            "type": "string",
            "description": "Betreff der Nachricht"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-Flags"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Benutzerdefinierte Bezeichnungen (Kleinbuchstaben, max. 10)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "Nachrichtengröße in Bytes"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP-UID"
          },
          "modseq": {
            "type": "integer",
            "description": "Modifikationssequenz"
          },
          "transaction": {
            "type": "string",
            "description": "Transaktionstyp"
          },
          "remote_address": {
            "type": "string",
            "description": "Remote-IP-Adresse"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Zeitstempel der Nachrichtenerstellung"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Zeitstempel der letzten Aktualisierung der Nachricht"
          },
          "nodemailer": {
            "type": "object",
            "description": "Geparstes Nachrichtenobjekt (standardmäßig enthalten, setzen Sie ?nodemailer=false, um es auszuschließen)"
          },
          "raw": {
            "type": "string",
            "description": "Rohdaten des Nachrichteninhalts (standardmäßig enthalten, mit ?raw=false ausschließen)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Absender-E-Mail-Adresse"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-Mail-Adressen der Empfänger"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-Mail-Adressen der CC-Empfänger"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "E-Mail-Adressen der BCC-Empfänger"
          },
          "subject": {
            "type": "string",
            "description": "Betreff der Nachricht"
          },
          "text": {
            "type": "string",
            "description": "Klartextinhalt"
          },
          "html": {
            "type": "string",
            "description": "HTML-Inhalt"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Nachrichtenanhänge (Nodemailer-Format)"
          },
          "folder": {
            "type": "string",
            "description": "Zielordner (standardmäßig Posteingang)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "IMAP-Flags, die für die Nachricht festgelegt werden sollen"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Benutzerdefinierte Bezeichnungen für die Nachricht. Dies kann eine einzelne Zeichenkette oder ein Array von Bezeichnungen sein. Bezeichnungen müssen mit einem Buchstaben, einer Ziffer, einem Backslash oder einem Dollarzeichen beginnen und dürfen Wörter, Punkte und Bindestriche enthalten. Maximal 10 Bezeichnungen pro Nachricht. Die Groß-/Kleinschreibung wird nicht beachtet; Bezeichnungen werden in Kleinbuchstaben gespeichert.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP-Flags, die für die Nachricht festgelegt werden sollen"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Benutzerdefinierte Bezeichnungen für die Nachricht. Dies kann eine einzelne Zeichenkette oder ein Array von Bezeichnungen sein. Bezeichnungen müssen mit einem Buchstaben, einer Ziffer, einem Backslash oder einem Dollarzeichen beginnen und dürfen Wörter, Punkte und Bindestriche enthalten. Maximal 10 Bezeichnungen pro Nachricht. Die Groß-/Kleinschreibung wird nicht beachtet; Bezeichnungen werden in Kleinbuchstaben gespeichert.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "Nachricht in diesen Ordner verschieben"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "Der aktuelle Status der E-Mail. Die Terminierung erfolgt anhand des Felds „Datum“.",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Das Datum im E-Mail-Header. Wenn ein zukünftiger Zeitpunkt (mehr als eine Minute in der Zukunft) angegeben ist, wird die E-Mail bis zu diesem Zeitpunkt zurückgehalten. Maximal 30 Tage nach Erstellung."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Gibt an, ob TLS für die gesamte Zustellkette erforderlich ist (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Die E-Mail-Adresse des Absenders (muss als Alias der Domain existieren)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Kommagetrennte Liste oder ein Array von Empfängern für die 'An'-Überschrift."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Durch Kommas getrennte Liste oder ein Array von Empfängern für den 'Cc'-Header."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Durch Kommas getrennte Liste oder ein Array von Empfängern für den „Bcc“-Header."
          },
          "subject": {
            "type": "string",
            "description": "Der Betreff der E-Mail."
          },
          "text": {
            "type": "string",
            "description": "Die Klartextversion der Nachricht."
          },
          "html": {
            "type": "string",
            "description": "Die HTML-Version der Nachricht."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Ein Array von Anhangsobjekten (siehe die allgemeinen Felder von Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Die E-Mail-Adresse für den „Absender“-Header."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Die E-Mail-Adresse für den „Antwort an“-Header."
          },
          "inReplyTo": {
            "type": "string",
            "description": "Die Message-ID, auf die die Nachricht antwortet."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Durch Leerzeichen getrennte Liste oder ein Array von Message-IDs."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Wenn diese Bedingung erfüllt ist, werden Daten: Bilder im HTML-Inhalt in eingebettete Anhänge umgewandelt."
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch-spezifische HTML-Version der Nachricht."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL-spezifische HTML-Version der Nachricht."
          },
          "icalEvent": {
            "type": "object",
            "description": "Ein iCalendar-Ereignis als alternativer Nachrichteninhalt."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Eine Auswahl alternativer Nachrichteninhalte."
          },
          "encoding": {
            "type": "string",
            "description": "Kodierung für die Text- und HTML-Zeichenketten (z. B. 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Benutzerdefinierte, im RFC822-Format erstellte Nachricht (anstatt die Nodemailer-Generierung zu verwenden)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Für Textwerte wurde eine bestimmte Kodierung erzwungen."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Prioritätsstufe der E-Mail."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objekt oder Array von zusätzlichen Header-Feldern."
          },
          "messageId": {
            "type": "string",
            "description": "Optionale Message-ID für den Header „Message-ID“."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Optionales Datumsfeld. Bei Angabe eines zukünftigen Zeitpunkts (mehr als eine Minute in der Zukunft) wird die E-Mail bis zu diesem Zeitpunkt zurückgehalten. Das Datum darf maximal 30 Tage in der Zukunft liegen.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "Optionales Objekt von List-* Überschriften."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Wenn dies zutrifft, ist TLS für die gesamte Übertragungskette erforderlich (RFC 8689). Die Nachricht wird ausschließlich über TLS-verschlüsselte Verbindungen übertragen."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "Wenn diese Option aktiviert ist, werden eingehende E-Mails abgelehnt, die nicht über TLS gesendet wurden."
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Vollqualifizierter Domänenname (FQDN) oder IP-Adresse"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Weisen Sie die Funktion demselben Team aus einer anderen Domäne zu; dies kann eine Domänen-ID oder ein FQDN sein. Verwenden Sie „none“, um die Funktion explizit zu deaktivieren."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Tarifart (standardmäßig „kostenlos“ oder der aktuell bezahlte Tarif des Nutzers)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Liste von E-Mail-Adressen (durch Komma, Leerzeichen oder Zeilenumbruch getrennt)"
              }
            ],
            "description": "Erstelle einen Standard-Catch-All-Alias (Standardwert: true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Aktivieren Sie den Spam-Scanner-Schutz für Inhalte für Erwachsene"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Aktivieren Sie den Phishing-Schutz des Spam-Scanners."
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Aktivieren Sie den Schutz der ausführbaren Datei des Spam-Scanners."
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Aktivieren Sie den Virenschutz des Spam-Scanners."
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Alias-Empfänger müssen auf den E-Mail-Bestätigungslink klicken"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "MX-Record-Prüfung bei erweiterten Mail-Routing-Konfigurationen ignorieren"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Aktivieren Sie die Option, Header und Metadaten (ohne Nachrichteninhalt) für erfolgreich weitergeleitete, per Webhook gesendete, ausgehende SMTP- und IMAP-E-Mails zu speichern. Die Protokolle werden 7 Tage lang aufbewahrt. Diese Funktion unterstützt Sie bei der Überwachung und Fehlerbehebung der E-Mail-Zustellung durch detaillierte Einblicke in erfolgreiche Übertragungen."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Anzahl der Tage, für die ausgehende SMTP-Protokolle aufbewahrt werden (0–30, Standard: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "Webhook-URL zum Empfangen von Bounce-Ereignissen"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Bounce-Webhook deaktivieren"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Maximales Speicherkontingent pro Alias (z. B. „1 GB“)"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Benutzerdefinierter Port zur Konfiguration der SMTP-Weiterleitung (Standardwert ist '25')."
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Ob der Spam-Scanner-Schutz für Inhalte für Erwachsene auf dieser Domain aktiviert werden soll"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Ob der Phishing-Schutz des Spam-Scanners für diese Domain aktiviert werden soll"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Ob der Schutz vor ausführbaren Spam-Scannern für diese Domain aktiviert werden soll"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Ob der Spam-Scanner-Virenschutz für diese Domain aktiviert werden soll"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Globale Domänenstandardeinstellung dafür, ob Alias-Empfänger einen E-Mail-Bestätigungslink anklicken müssen, damit E-Mails weitergeleitet werden."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ob die MX-Record-Prüfung der Domain zur Verifizierung ignoriert werden soll (hauptsächlich bei fortgeschrittenen MX-Routing-Konfigurationen)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Aktivieren Sie die Option, Header und Metadaten (ohne Nachrichteninhalt) für erfolgreich weitergeleitete, per Webhook gesendete, ausgehende SMTP- und IMAP-E-Mails zu speichern. Die Protokolle werden 7 Tage lang aufbewahrt. Diese Funktion unterstützt Sie bei der Überwachung und Fehlerbehebung der E-Mail-Zustellung durch detaillierte Einblicke in erfolgreiche Übertragungen."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Anzahl der Tage, in denen ausgehende SMTP-E-Mails gespeichert werden (0 = sofortige Löschung)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "Webhook-URL zum Empfangen von Bounce-Benachrichtigungen oder „false“ zum Deaktivieren"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Speicherkontingent pro Alias (z. B. '1 GB', umgerechnet in Bytes)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasname (falls nicht angegeben oder leer, wird ein zufälliger Alias generiert)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Durch Zeilenumbrüche/Leerzeichen/Kommas getrennte Zeichenkette gültiger E-Mail-Adressen, FQDNs, IP-Adressen oder Webhook-URLs"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Liste gültiger Empfänger"
              }
            ],
            "description": "Empfängerliste. Falls keine Empfängerliste angegeben oder leer ist, wird standardmäßig die E-Mail-Adresse des Anfragenden verwendet."
          },
          "description": {
            "type": "string",
            "description": "Aliasbeschreibung"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Durch Zeilenumbrüche, Leerzeichen und Kommas getrennte Zeichenkette von Bezeichnungen"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array von Bezeichnungen"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Empfänger müssen auf den Bestätigungslink klicken (Standardeinstellung: Domänenbereich)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Ob dieser Alias aktiviert oder deaktiviert werden soll"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Fehlercode, falls Alias deaktiviert ist. Standardwert: 250"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-Speicher für diesen Alias aktivieren oder deaktivieren"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP-Verschlüsselung für diesen Alias aktivieren oder deaktivieren"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP-öffentlicher Schlüssel im ASCII-Armor-Format"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Aktivieren oder deaktivieren Sie die S/MIME-Verschlüsselung für diesen Alias."
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509-Zertifikat im PEM-Format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximales Speicherkontingent (z. B. „1 GB“)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Urlaubsruffunktion aktivieren oder deaktivieren"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Startdatum (z. B. „JJJJ-MM-TT“) für den Urlaubsbetreuer"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Enddatum (z. B. „JJJJ-MM-TT“) für den Urlaubsbetreuer"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Betreff im Klartext für Urlaubsantwort"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Klartextnachricht für Urlaubsbetreuer"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Aliasname"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Durch Zeilenumbrüche/Leerzeichen/Kommas getrennte Zeichenkette gültiger E-Mail-Adressen, FQDNs, IP-Adressen oder Webhook-URLs"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Liste gültiger Empfänger"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Aliasbeschreibung"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Durch Zeilenumbrüche, Leerzeichen und Kommas getrennte Zeichenkette von Bezeichnungen"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array von Bezeichnungen"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Empfänger müssen auf den Bestätigungslink klicken (Standardeinstellung: Domänenbereich)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Alias aktivieren oder deaktivieren"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Fehlercode, der verwendet wird, wenn der Alias deaktiviert ist (Standardwert: 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP-Speicher aktivieren oder deaktivieren"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP-Verschlüsselung aktivieren oder deaktivieren"
          },
          "public_key": {
            "type": "string",
            "description": "OpenPGP-öffentlicher Schlüssel im ASCII-Armor-Format"
          },
          "has_smime": {
            "type": "boolean",
            "description": "S/MIME-Verschlüsselung aktivieren oder deaktivieren"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509-Zertifikat im PEM-Format"
          },
          "max_quota": {
            "type": "string",
            "description": "Maximales Speicherkontingent (z. B. „1 GB“)"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Urlaubsruffunktion aktivieren oder deaktivieren"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Beginn des Urlaubsvertretungsdienstes (z. B. JJJJ-MM-TT)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Enddatum des Urlaubsvertreters (z. B. JJJJ-MM-TT)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Klartext-Betreff der Urlaubsantwort"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Klartextnachricht des Urlaubsbeantworters"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Ihr neues, individuell festgelegtes Passwort für den Alias"
          },
          "password": {
            "type": "string",
            "description": "Das bestehende Passwort für den Alias kann geändert werden, ohne den Postfachspeicher zu löschen."
          },
          "is_override": {
            "type": "boolean",
            "description": "Vorhandenes Passwort überschreiben und IMAP-Speicher löschen (mit Vorsicht verwenden)."
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "E-Mail-Adresse zum Senden des Alias-Passworts und der Einrichtungsanleitung"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Aktuelle Anzahl der versendeten E-Mails"
          },
          "limit": {
            "type": "integer",
            "description": "Maximale Anzahl zulässiger E-Mails"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "Gespeicherte Suchdefinitionen werden pro Alias gespeichert.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Anzeigename für die gespeicherte Suche"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Wiederzuverwendende Suchanfrage (z. B. „from:billing“)"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "Zuordnung von Aktionen zu Tastenkombinationen für Tastenkürzel.",
        "additionalProperties": {
          "type": "string",
          "description": "Tastenkombination für die Aktion (z. B. „e“ für Archivieren)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "Zulässige Felder beim Aktualisieren einer Labeldefinition.",
        "properties": {
          "name": {
            "type": "string",
            "description": "In der Benutzeroberfläche wird der für Menschen lesbare Labelname angezeigt."
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "Hex-Farbe für die Benutzeroberflächendarstellung"
          },
          "hidden": {
            "type": "boolean",
            "description": "Blende die Beschriftung in der Benutzeroberfläche aus, während das Schlüsselwort erhalten bleibt."
          },
          "source": {
            "type": "string",
            "description": "Ursprungsbezeichnung für Filterung und Migrationen",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Mitglieds-ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "E-Mail-Adresse des Mitglieds"
          },
          "role": {
            "type": "string",
            "description": "Rolle des Mitglieds"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Eingeladene E-Mail-Adresse"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Seite mit den zurückzugebenden Ergebnissen. Falls nicht angegeben, wird der Wert 1 verwendet. Es muss eine Zahl größer oder gleich 1 sein.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Anzahl der Ergebnisse pro Seite. Standardmäßig werden 25 Ergebnisse angezeigt, falls nicht anders angegeben. Die Zahl muss zwischen 1 und 100 liegen.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Aktivieren Sie die Paginierung vor dem 1. November 2024.",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "Domänen-ID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias-ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "Mitglieds-ID",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "E-Mail-ID oder Message-ID. Sie können entweder die eindeutige E-Mail-ID (z. B. '683fbe4d5baef1b583a11e54') oder den Wert des Message-ID-Headers der E-Mail (z. B. '1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net') angeben.",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kontakt-ID",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Kalender-ID",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Ordner-ID oder Pfad",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Nachrichten-ID",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "IMAP-Schlüsselwort als Etikettenkennung verwendet",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Konto"
        ],
        "summary": "Konto abrufen",
        "description": "Rufen Sie Ihre Kontoinformationen ab.\n\n**Authentifizierung:** Dieser Endpunkt unterstützt sowohl die Authentifizierung per API-Token als auch per Alias-Anmeldeinformationen.\n\n- **Benutzerkonto (API-Token):** Nach erfolgreicher Authentifizierung mit Ihrem API-Token liefert dieser Endpunkt Ihre Benutzerkontoinformationen, einschließlich Tarifdetails, E-Mail-Adresse und API-Token.\n\n- **Alias-Konto (Alias-Anmeldeinformationen):** Nach erfolgreicher Authentifizierung mit Alias-Anmeldeinformationen (E-Mail-Adresse und generiertes Passwort) liefert dieser Endpunkt Alias-/Postfachinformationen, einschließlich Speicherplatznutzung/-kontingent und ein verschachteltes `settings`-Objekt (E-Mail-Sonderordner, Label-Einstellungen und Alias-Standardeinstellungen). Dies ist nützlich für IMAP/POP3/CalDAV/CardDAV-Clients, um den Speicherstatus und die Einstellungen zu überprüfen.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Konto"
        ],
        "summary": "Konto aktualisieren",
        "description": "Aktualisieren Sie Ihre Kontoinformationen.\n\n- **Benutzerkonto (API-Token):** Aktualisieren Sie die Felder Ihres Benutzerprofils.\n\n- **Alias-Konto (Alias-Anmeldeinformationen):** Aktualisieren Sie die Einstellungen für Alias-Konten mithilfe des verschachtelten `settings`-Objekts. Aus Kompatibilitätsgründen werden ältere, flache Felder akzeptiert. Die Antwort entspricht `GET /v1/account`.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "Alias-Einstellungen (nur Alias-Authentifizierung)",
                    "properties": {
                      "mail": {
                        "type": "object",
                        "properties": {
                          "archive_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias-Mail-Archivordner"
                          },
                          "sent_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias-Ordner „Gesendete E-Mails“"
                          },
                          "drafts_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias-E-Mail-Entwürfe-Ordner"
                          }
                        }
                      },
                      "label_settings": {
                        "type": "object",
                        "description": "Alias-Bezeichnungszuordnung nach Schlüsselwort",
                        "additionalProperties": {
                          "$ref": "#/components/schemas/SettingsLabelUpdate"
                        }
                      },
                      "aliases": {
                        "type": "object",
                        "properties": {
                          "defaults": {
                            "type": "object",
                            "description": "Frei definierbare Alias-Standardwerte wie Anzeigename oder Signatur",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  },
                  "display_name": {
                    "type": "string",
                    "description": "Anzeigename"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Standortpräferenz"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Aktualisierte E-Mail-Adresse (nur zur Benutzerauthentifizierung)"
                  },
                  "avatar_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Avatar-URL (nur zur Benutzerauthentifizierung)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
[...]
