{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Bem-vindo à documentação completa da API de Encaminhamento de E-mails. Esta API permite gerenciar encaminhamento de e-mails, domínios, aliases, e-mails de saída e muito mais, de forma programática.\n\n## Principais Recursos\n* **Gerenciamento de Domínios:** Crie, recupere, atualize, exclua e verifique domínios.\n\n* **Gerenciamento de Aliases:** Gerencie aliases de e-mail, incluindo criação, atualizações e gerenciamento de destinatários.\n\n* **SMTP de Saída:** Envie e-mails via SMTP, gerencie limites e rastreie e-mails enviados.\n\n* **Conta e Logs:** Gerencie os detalhes da sua conta e baixe os logs de atividades.\n\n* **Segurança:** Criptografe registros TXT e gerencie membros/convites do domínio.\n\n* **Contatos CardDAV:** Operações CRUD completas para gerenciamento de contatos com suporte a vCard.\n\n* **Calendários CalDAV:** Gerenciamento completo de calendários com suporte a fuso horário e cores.\n\n* **Mensagens IMAP/POP3:** Gerenciamento completo de mensagens com recursos avançados de pesquisa.\n\n* **Pastas IMAP/POP3:** Gerenciamento completo de pastas, incluindo criação, renomeação e exclusão.\n\n## Autenticação\nA maioria dos endpoints requer autenticação usando sua **Chave de API**. Forneça a Chave de API como o `username` no cabeçalho de Autenticação Básica, deixando a senha em branco.\n\n``http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(Substitua `API_TOKEN` pela sua chave real antes da codificação Base64)\n\nEndpoints relacionados a **Contatos, Calendários, Mensagens e Pastas com Alias** requerem um nome de usuário e senha de alias gerados para Autenticação Básica.\n\n## Erros\nA API usa códigos de status HTTP padrão para indicar sucesso ou falha. As respostas de erro incluem um corpo JSON com um campo `message` detalhando o erro.\n\n| Código de Status | Significado |\n\n|-------------|---------------------|\n| 200 | OK |\n\n| 400 | Requisição Inválida |\n\n| 401 | Não Autorizado |\n\n| 403 | Proibido |\n\n| 404 | Não Encontrado |\n\n| 409 | Conflito |\n\n| 412 | Pré-condição Falhou |\n\n| 429 | Muitas Requisições |\n\n| 500 | Erro Interno do Servidor |\n\n| 501 | Não Implementado |\n\n| 502 | Gateway Inválido |\n\n| 503 | Serviço Indisponível |\n\n| 504 | Tempo Limite do Gateway Excedido |\n\n*Se você encontrar um erro `5xx`, entre em contato com [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Localização\nAs respostas da API são traduzidas com base na localidade detectada do usuário ou no cabeçalho `Accept-Language`. Mais de 25 idiomas são suportados.\n\n## Paginação\nOs endpoints que retornam listas suportam paginação por meio de parâmetros de consulta.\n\n| Parâmetro | Tipo | Opcional | Descrição | Padrão | Restrições |\n\n|--------------|---------|----------|-----------------------------------------------------------------------------|---------|--------------------|\n| `page` | Inteiro | Sim | Número da página a ser recuperada. | 1 | `>= 1` |\n\n| `limit` | Inteiro | Sim | Número de resultados por página. | 25 | `>= 1`, `<= 100` |\n\n| `pagination` | Booleano | Sim | Ativar o comportamento de paginação (obrigatório antes de 1º de novembro de 2024 para alguns endpoints). | false | |\n\n**Cabeçalhos de paginação:**\n* `X-Page-Count`: Número total de páginas.\n\n* `X-Page-Current`: Número da página atual.\n* `X-Page-Size`: Número de itens na página atual.\n* `X-Item-Count`: Número total de itens em todas as páginas.\n\n* `Link`: Links de navegação (anterior, próximo, primeiro, último).\n\n**Exemplo:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n\n-u API_TOKEN:\n```\n\n## Bibliotecas Recomendadas\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Mantido pela Forward Email)\n* **Acesse:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Servidor de API de encaminhamento de e-mail"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use sua chave de API como **nome de usuário** para autenticação básica. Deixe o campo de senha vazio.\n\n**Exemplo:**\nSe sua chave de API for `YOUR_API_KEY`, o valor codificado em Base64 para o cabeçalho `Authorization` seria `echo -n \"YOUR_API_KEY:\" | base64`.\n\n``http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use o **nome de usuário e senha do alias** gerados para autenticação básica. Isso se aplica aos endpoints em:\n* Contatos do alias (CardDAV)\n* Calendários do alias (CalDAV)\n* Mensagens do alias (IMAP/POP3)\n* Pastas do alias (IMAP/POP3)\n* Scripts Sieve do alias\n\n**Exemplo:**\nSe o nome de usuário do alias for `alias@domain.com` e a senha for `GENERATED_PASSWORD`, o valor codificado em Base64 seria `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n``http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "SieveScript": {
        "type": "object",
        "required": [
          "id",
          "name",
          "content",
          "alias"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador de script exclusivo"
          },
          "name": {
            "type": "string",
            "description": "Nome do script"
          },
          "content": {
            "type": "string",
            "description": "Conteúdo do script de peneira"
          },
          "alias": {
            "type": "string",
            "description": "ID do alias ao qual este script pertence"
          },
          "is_active": {
            "type": "boolean",
            "description": "Se o script está ativo",
            "default": false
          },
          "priority": {
            "type": "integer",
            "description": "Prioridade do script (quanto menor, maior a prioridade)",
            "default": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Carimbo de data/hora de criação"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Última atualização"
          },
          "object": {
            "type": "string",
            "example": "sieve_script"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Mensagem de erro"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "Configuração de idioma preferida do usuário que substitui a detecção automática."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID do Alias"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Tipo de objeto"
          },
          "name": {
            "type": "string",
            "description": "Nome alternativo (parte local do e-mail)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Endereço de e-mail alternativo completo"
          },
          "domain_id": {
            "type": "string",
            "description": "ID do domínio"
          },
          "domain_name": {
            "type": "string",
            "description": "Nome de domínio"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Armazenamento utilizado em bytes para este alias/caixa de correio"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Cota de armazenamento em bytes para este alias/caixa de correio"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Indica se o IMAP está ativado para este alias."
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Se a criptografia PGP está ativada"
          },
          "public_key": {
            "type": "string",
            "description": "Chave pública PGP, se disponível."
          },
          "has_smime": {
            "type": "boolean",
            "description": "Se a criptografia S/MIME está ativada"
          },
          "smime_certificate": {
            "type": "string",
            "description": "Certificado S/MIME X.509 em formato PEM"
          },
          "locale": {
            "type": "string",
            "description": "Preferência de localidade"
          },
          "settings": {
            "type": "object",
            "description": "Configurações de alias",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Pasta de arquivo de e-mail de alias"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias da pasta de e-mails enviados"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Pasta de rascunhos de e-mail do Alias"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "Mapa de rótulos de alias indexado por palavra-chave",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "Alias de formato livre com valores padrão, como display_name ou signature.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Carimbo de data/hora de criação"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Última atualização"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de contato (contact_id do CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "UID de contato"
          },
          "full_name": {
            "type": "string",
            "description": "Nome completo do contato"
          },
          "content": {
            "type": "string",
            "description": "Conteúdo do vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag para versionamento"
          },
          "is_group": {
            "type": "boolean",
            "description": "Se o contato é um grupo"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Conjunto de endereços de e-mail"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Conjunto de números de telefone"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Conteúdo do vCard (se não for fornecido, será gerado a partir de outros campos)"
          },
          "full_name": {
            "type": "string",
            "description": "Nome completo do contato"
          },
          "contact_id": {
            "type": "string",
            "description": "ID de contato personalizado (se não for fornecido, será gerado automaticamente)"
          },
          "uid": {
            "type": "string",
            "description": "UID de contato (se não for fornecido, será gerado automaticamente)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Conjunto de endereços de e-mail"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Conjunto de números de telefone"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matriz de números de telefone (alias para phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Conjunto de endereços"
          },
          "is_group": {
            "type": "boolean",
            "description": "Se o contato é um grupo"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Conteúdo do vCard"
          },
          "full_name": {
            "type": "string",
            "description": "Nome completo do contato"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Conjunto de endereços de e-mail"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Conjunto de números de telefone"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Matriz de números de telefone (alias para phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Conjunto de endereços"
          },
          "is_group": {
            "type": "boolean",
            "description": "Se o contato é um grupo"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID do calendário (calendarId do CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Nome do calendário"
          },
          "description": {
            "type": "string",
            "description": "Descrição do calendário"
          },
          "color": {
            "type": "string",
            "description": "Cores do calendário (formato hexadecimal)"
          },
          "timezone": {
            "type": "string",
            "description": "Fuso horário do calendário"
          },
          "order": {
            "type": "integer",
            "description": "Ordem de exibição do calendário"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome do calendário"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID do calendário personalizado (se não for fornecido, será gerado automaticamente)"
          },
          "description": {
            "type": "string",
            "description": "Descrição do calendário"
          },
          "color": {
            "type": "string",
            "description": "Cor do calendário (formato hexadecimal; se não for fornecido, será gerado automaticamente)"
          },
          "timezone": {
            "type": "string",
            "description": "Fuso horário do calendário (o padrão é o fuso horário do usuário ou UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Ordem de exibição do calendário (o padrão é 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome do calendário"
          },
          "description": {
            "type": "string",
            "description": "Descrição do calendário"
          },
          "color": {
            "type": "string",
            "description": "Cores do calendário (formato hexadecimal)"
          },
          "timezone": {
            "type": "string",
            "description": "Fuso horário do calendário"
          },
          "order": {
            "type": "integer",
            "description": "Ordem de exibição do calendário"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID do evento no calendário (eventId do CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID do calendário ao qual este evento pertence"
          },
          "ical": {
            "type": "string",
            "description": "Dados do iCalendar (RFC 5545) para o evento"
          },
          "summary": {
            "type": "string",
            "description": "Título/resumo do evento (extraído dos dados do iCal)"
          },
          "description": {
            "type": "string",
            "description": "Descrição do evento (extraída dos dados do iCal)"
          },
          "location": {
            "type": "string",
            "description": "Localização do evento (extraída dos dados do iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Data/hora de início do evento (extraída dos dados do iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Data/hora de término do evento (extraída dos dados do iCal)"
          },
          "uid": {
            "type": "string",
            "description": "Identificador único a partir de dados iCal"
          },
          "status": {
            "type": "string",
            "description": "Status do evento (extraído dos dados do iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "Organizador do evento (extraído dos dados do iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Carimbo de data/hora de exclusão suave"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ID do calendário ao qual o evento será adicionado."
          },
          "event_id": {
            "type": "string",
            "description": "ID do evento personalizado (se não for fornecido, será gerado automaticamente)"
          },
          "ical": {
            "type": "string",
            "description": "Dados iCalendar (RFC 5545) para o evento. Devem estar em um formato iCal válido."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Mover evento para um calendário diferente"
          },
          "ical": {
            "type": "string",
            "description": "Dados iCalendar (RFC 5545) atualizados para o evento."
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da pasta"
          },
          "path": {
            "type": "string",
            "description": "Caminho completo da pasta"
          },
          "name": {
            "type": "string",
            "description": "Nome da pasta (última parte do caminho)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Caminho da pasta pai"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Validade do UID IMAP"
          },
          "uid_next": {
            "type": "integer",
            "description": "Próximo valor de UID"
          },
          "modify_index": {
            "type": "integer",
            "description": "Índice de modificação"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Se a pasta está inscrita"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Bandeiras de pasta"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Período de retenção de mensagens"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Designação de uso especial"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Caminho/nome da pasta"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Novo caminho/nome da pasta"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_encrypted",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da mensagem"
          },
          "root_id": {
            "type": "string",
            "description": "ID da mensagem raiz para encadeamento"
          },
          "folder_id": {
            "type": "string",
            "description": "ID da pasta que contém a mensagem"
          },
          "folder_path": {
            "type": "string",
            "description": "Caminho da pasta que contém a mensagem"
          },
          "thread_id": {
            "type": "string",
            "description": "ID da conversa para agrupamento de tópicos"
          },
          "header_message_id": {
            "type": "string",
            "description": "Valor do cabeçalho Message-ID"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Se a mensagem não foi lida."
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Se a mensagem for sinalizada"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "A mensagem foi apagada?"
          },
          "is_draft": {
            "type": "boolean",
            "description": "A mensagem é um rascunho?"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Se a mensagem é lixo eletrônico/spam"
          },
          "is_copied": {
            "type": "boolean",
            "description": "A mensagem foi copiada?"
          },
          "is_encrypted": {
            "type": "boolean",
            "description": "Se a mensagem está criptografada (PGP/MIME ou S/MIME)"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "É possível pesquisar a mensagem?"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Se a mensagem expirou"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "A mensagem contém anexos?"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "data de retenção da mensagem"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Data interna (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Data dos cabeçalhos das mensagens"
          },
          "subject": {
            "type": "string",
            "description": "Assunto da mensagem"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Sinalizadores IMAP"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Rótulos definidos pelo usuário (minúsculas, máximo de 10)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "Tamanho da mensagem em bytes"
          },
          "uid": {
            "type": "integer",
            "description": "UID IMAP"
          },
          "modseq": {
            "type": "integer",
            "description": "Sequência de modificação"
          },
          "transaction": {
            "type": "string",
            "description": "Tipo de transação"
          },
          "remote_address": {
            "type": "string",
            "description": "Endereço IP remoto"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Carimbo de data/hora de criação da mensagem"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data e hora da última atualização da mensagem"
          },
          "nodemailer": {
            "type": "object",
            "description": "Objeto de mensagem analisado (incluído por padrão; defina ?nodemailer=false para excluir)"
          },
          "raw": {
            "type": "string",
            "description": "Conteúdo bruto da mensagem (incluído por padrão; defina ?raw=false para excluir)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_encrypted": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Endereço de e-mail do remetente"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Endereços de e-mail dos destinatários"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Endereços de e-mail dos destinatários em cópia (CC)"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Endereços de e-mail de destinatários em CCO"
          },
          "subject": {
            "type": "string",
            "description": "Assunto da mensagem"
          },
          "text": {
            "type": "string",
            "description": "Conteúdo em texto simples"
          },
          "html": {
            "type": "string",
            "description": "Conteúdo HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Anexos de mensagens (formato Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "Pasta de destino (por padrão, CAIXA DE ENTRADA)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Sinalizadores IMAP a serem definidos na mensagem"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Rótulos definidos pelo usuário para serem aplicados à mensagem. Podem ser uma única string de rótulo ou uma matriz de rótulos. Os rótulos devem começar com uma letra, dígito, barra invertida ou cifrão e podem conter caracteres alfanuméricos, pontos e hífens. Máximo de 10 rótulos por mensagem. Os rótulos não diferenciam maiúsculas de minúsculas e serão armazenados em letras minúsculas.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Sinalizadores IMAP a serem definidos na mensagem"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Rótulos definidos pelo usuário para serem aplicados à mensagem. Podem ser uma única string de rótulo ou uma matriz de rótulos. Os rótulos devem começar com uma letra, dígito, barra invertida ou cifrão e podem conter caracteres alfanuméricos, pontos e hífens. Máximo de 10 rótulos por mensagem. Os rótulos não diferenciam maiúsculas de minúsculas e serão armazenados em letras minúsculas.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "Mover mensagem para esta pasta"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "O status atual do e-mail. O agendamento é determinado pelo campo `date`.",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "O cabeçalho de data do e-mail. Se definido para um horário futuro (mais de 1 minuto à frente), o e-mail será retido até esse horário. O prazo máximo é de 30 dias a partir da data de criação."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Indica se o TLS é necessário para toda a cadeia de entrega (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "O endereço de e-mail do remetente (deve existir como um alias do domínio)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista ou matriz de destinatários separados por vírgula para o cabeçalho \"Para\"."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista ou matriz de destinatários separados por vírgula para o cabeçalho 'Cc'."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Lista ou matriz de destinatários separados por vírgula para o cabeçalho 'Bcc'."
          },
          "subject": {
            "type": "string",
            "description": "O assunto do e-mail."
          },
          "text": {
            "type": "string",
            "description": "A versão em texto simples da mensagem."
          },
          "html": {
            "type": "string",
            "description": "A versão HTML da mensagem."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Uma matriz de objetos anexos (consulte os campos comuns do Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "O endereço de e-mail para o cabeçalho 'Remetente'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "O endereço de e-mail para o cabeçalho \"Responder para\"."
          },
          "inReplyTo": {
            "type": "string",
            "description": "O ID da mensagem à qual a mensagem é uma resposta."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Lista ou matriz de IDs de mensagens separados por espaços."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Se verdadeiro, converte os dados: imagens no conteúdo HTML em anexos incorporados."
          },
          "watchHtml": {
            "type": "string",
            "description": "Versão HTML da mensagem específica para o Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Versão HTML específica para AMP4EMAIL da mensagem."
          },
          "icalEvent": {
            "type": "object",
            "description": "Um evento iCalendar como conteúdo alternativo da mensagem."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Uma variedade de conteúdos alternativos para mensagens."
          },
          "encoding": {
            "type": "string",
            "description": "Codificação para as strings de texto e HTML (por exemplo, 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Mensagem formatada de acordo com o padrão RFC822, gerada automaticamente (em vez de usar a geração do Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Codificação obrigatória para valores de texto."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Nível de prioridade do e-mail."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objeto ou matriz de campos de cabeçalho adicionais."
          },
          "messageId": {
            "type": "string",
            "description": "ID da mensagem opcional para o cabeçalho 'Message-ID'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Cabeçalho de data opcional. Se definido para um horário futuro (mais de 1 minuto à frente), o e-mail será retido até esse horário. Não pode ser superior a 30 dias a partir da data de criação.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "Objeto opcional de cabeçalhos List-*."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Se verdadeiro, exige TLS para toda a cadeia de entrega (RFC 8689). A mensagem será transmitida apenas por meio de conexões criptografadas com TLS."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "has_custom_s3": {
            "type": "boolean",
            "description": "Se este domínio utiliza armazenamento personalizado compatível com S3 para backups."
          },
          "s3_endpoint": {
            "type": "string",
            "description": "URL de endpoint personalizada compatível com S3 (por exemplo, https://s3.us-east-1.amazonaws.com, https://<accountid>.r2.cloudflarestorage.com)"
          },
          "s3_region": {
            "type": "string",
            "description": "Região S3 (ex.: us-east-1, auto). O padrão é auto se não for especificado."
          },
          "s3_bucket": {
            "type": "string",
            "description": "Nome do bucket S3 para armazenamento de backups. O bucket já deve existir."
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "Quando ativada, rejeita e-mails recebidos que não foram enviados por TLS."
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Nome de domínio totalmente qualificado (FQDN) ou endereço IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Atribua à mesma equipe de outro domínio; pode ser um ID de domínio ou FQDN. Use \"nenhum\" para desativar explicitamente."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Tipo de plano (o padrão é 'gratuito' ou o plano pago atual do usuário)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Lista delimitada de endereços de e-mail (separados por vírgula, espaço ou nova linha)"
              }
            ],
            "description": "Criar um alias padrão genérico (o padrão é verdadeiro)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Ative a proteção contra conteúdo adulto do Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Ative a proteção contra phishing do Spam Scanner."
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Ativar a proteção do executável do Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Ative a proteção antivírus do Spam Scanner."
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exigir que os destinatários do alias cliquem no link de verificação de e-mail."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorar verificação de registro MX para configurações avançadas de roteamento de e-mail."
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Ative a opção de armazenar cabeçalhos e metadados (excluindo o conteúdo da mensagem) para e-mails encaminhados com sucesso, enviados por webhook, SMTP de saída e entregues por IMAP, com registros retidos por 7 dias. Esse recurso ajuda você a monitorar e solucionar problemas de desempenho na entrega de e-mails, fornecendo informações detalhadas sobre as transmissões bem-sucedidas."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Número de dias para reter os registros SMTP de saída (0–30, padrão: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL do webhook para receber eventos de rejeição"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Desativar webhook de retorno"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Cota máxima de armazenamento por alias (ex.: '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Porta personalizada para configurar o encaminhamento SMTP (o padrão é '25')."
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Ativar ou não a proteção contra conteúdo adulto do Spam Scanner neste domínio."
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Ativar ou não a proteção contra phishing do Spam Scanner neste domínio."
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Ativar ou não a proteção do executável do Spam Scanner neste domínio."
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Ativar ou não a proteção antivírus do Spam Scanner neste domínio."
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Definição padrão global do domínio para exigir que os destinatários do alias cliquem em um link de verificação de e-mail para que os e-mails sejam entregues."
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Ignorar ou não a verificação do registro MX no domínio para fins de verificação (principalmente em configurações avançadas de roteamento MX)."
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Ative a opção de armazenar cabeçalhos e metadados (excluindo o conteúdo da mensagem) para e-mails encaminhados com sucesso, enviados por webhook, SMTP de saída e entregues por IMAP, com registros retidos por 7 dias. Esse recurso ajuda você a monitorar e solucionar problemas de desempenho na entrega de e-mails, fornecendo informações detalhadas sobre as transmissões bem-sucedidas."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Número de dias para armazenar emails SMTP de saída (0 = excluir imediatamente)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL do webhook para receber notificações de retorno ou false para desativar."
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Cota de armazenamento por alias (ex.: '1 GB', convertida em bytes)"
          },
          "has_custom_s3": {
            "type": "boolean",
            "description": "Ativar ou não o armazenamento personalizado compatível com S3 para backups IMAP/SQLite neste domínio."
          },
          "s3_endpoint": {
            "type": "string",
            "format": "uri",
            "description": "URL de endpoint personalizada compatível com S3 (por exemplo, https://s3.us-east-1.amazonaws.com)"
          },
          "s3_access_key_id": {
            "type": "string",
            "description": "ID da chave de acesso S3. Criptografada em repouso. Deixe em branco ao atualizar para manter o valor atual."
          },
          "s3_secret_access_key": {
            "type": "string",
            "description": "Chave de acesso secreta do S3. Criptografada em repouso. Deixe em branco ao atualizar para manter o valor atual."
          },
          "s3_region": {
            "type": "string",
            "description": "Região S3 (ex.: us-east-1, automático). O padrão é automático."
          },
          "s3_bucket": {
            "type": "string",
            "description": "Nome do bucket S3 para armazenamento de backups. O bucket deve existir previamente e não deve ser acessível publicamente."
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de remetentes permitidos (endereços IP, nomes de domínio totalmente qualificados, endereços de e-mail ou TLDs curinga). Quando configurada, somente e-mails desses remetentes serão aceitos. Substitui a lista existente."
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de remetentes bloqueados (endereços IP, nomes de domínio totalmente qualificados, endereços de e-mail ou TLDs curinga). Mensagens desses remetentes serão rejeitadas. Substitui a lista existente."
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome alternativo (se não for fornecido ou estiver em branco, um nome alternativo aleatório será gerado)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sequência de endereços de e-mail, FQDNs, IPs ou URLs de webhook válidos, separados por quebras de linha, espaços e vírgulas."
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Conjunto de destinatários válidos"
              }
            ],
            "description": "Lista de destinatários. Se não for fornecida ou estiver vazia, o padrão será o e-mail do solicitante."
          },
          "description": {
            "type": "string",
            "description": "Descrição do alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sequência de rótulos separados por quebra de linha, espaço e vírgula."
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Conjunto de rótulos"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exigir que os destinatários cliquem no link de verificação (o padrão é a configuração do domínio)."
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Ativar ou desativar este alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Código de erro se o alias estiver desativado. O valor padrão é 250."
          },
          "has_imap": {
            "type": "boolean",
            "description": "Ativar ou desativar o armazenamento IMAP para este alias"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Ativar ou desativar a criptografia OpenPGP para este alias"
          },
          "public_key": {
            "type": "string",
            "description": "Chave pública OpenPGP em formato ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Ativar ou desativar a criptografia S/MIME para este alias."
          },
          "smime_certificate": {
            "type": "string",
            "description": "Certificado S/MIME X.509 em formato PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "Cota máxima de armazenamento (ex.: '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Ativar ou desativar o recurso de férias"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Data de início (ex.: 'AAAA-MM-DD') para resposta automática de férias."
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Data de término (ex.: 'AAAA-MM-DD') para resposta de férias"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Assunto em texto simples para resposta de férias"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Mensagem em texto simples para resposta de férias"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome alternativo"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sequência de endereços de e-mail, FQDNs, IPs ou URLs de webhook válidos, separados por quebras de linha, espaços e vírgulas."
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Matriz de destinatários válidos. Passe uma matriz vazia para remover todos os destinatários de encaminhamento (por exemplo, para aliases exclusivos de IMAP)."
              }
            ],
            "description": "Se omitido, os destinatários existentes serão preservados. Passe um array vazio para limpar todos os destinatários de encaminhamento."
          },
          "description": {
            "type": "string",
            "description": "Descrição do alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Sequência de rótulos separados por quebra de linha, espaço e vírgula."
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Conjunto de rótulos"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Exigir que os destinatários cliquem no link de verificação (o padrão é a configuração do domínio)."
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Ativar ou desativar alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Código de erro a ser usado se o alias estiver desativado (o padrão é 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Ativar ou desativar o armazenamento IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Ativar ou desativar a criptografia OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Chave pública OpenPGP em formato ASCII Armor"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Ativar ou desativar a criptografia S/MIME"
          },
          "smime_certificate": {
            "type": "string",
            "description": "Certificado S/MIME X.509 em formato PEM"
          },
          "max_quota": {
            "type": "string",
            "description": "Cota máxima de armazenamento (ex.: '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Ativar ou desativar o recurso de férias"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Data de início do período de férias (ex.: AAAA-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Data de término do período de férias (ex.: AAAA-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Assunto do texto simples do respondente de férias"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Mensagem em texto simples do respondente de férias"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Sua nova senha personalizada para usar como alias."
          },
          "password": {
            "type": "string",
            "description": "Senha existente para o alias: altere-a sem excluir o armazenamento da caixa de correio."
          },
          "is_override": {
            "type": "boolean",
            "description": "Substitua a senha existente e exclua o armazenamento IMAP (use com cautela)."
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Endereço de e-mail para enviar a senha do alias e as instruções de configuração."
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Contagem atual de e-mails enviados"
          },
          "limit": {
            "type": "integer",
            "description": "Número máximo de emails permitidos"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "Definição de pesquisa salva armazenada por alias.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Nome a ser exibido para a pesquisa salva"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Consulta de pesquisa a ser reutilizada (por exemplo, \"from:billing\")"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "Mapeamento das ações para as teclas de atalho do teclado.",
        "additionalProperties": {
          "type": "string",
          "description": "Atalho de teclado para a ação (por exemplo, \"e\" para arquivar)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "Campos permitidos ao atualizar a definição de um rótulo.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome da etiqueta legível por humanos exibido na interface do usuário."
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "Cor hexadecimal usada para renderização da interface do usuário"
          },
          "hidden": {
            "type": "boolean",
            "description": "Ocultar o rótulo na interface do usuário, preservando a palavra-chave."
          },
          "source": {
            "type": "string",
            "description": "Origem da etiqueta para filtragem e migrações",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID de membro"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Endereço de e-mail do membro"
          },
          "role": {
            "type": "string",
            "description": "Papel do membro"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Endereço de e-mail de convite"
          }
        }
      },
      "WebSocketEvent": {
        "type": "object",
        "required": [
          "event"
        ],
        "properties": {
          "event": {
            "type": "string",
            "description": "O tipo de evento",
            "enum": [
              "connected",
              "newMessage",
              "newRelease"
            ]
          },
          "aliasId": {
            "type": "string",
            "description": "O ID do alias (presente no evento conectado)"
          },
          "mailbox": {
            "type": "string",
            "description": "O caminho da caixa de correio (presente no evento newMessage)",
            "example": "INBOX"
          },
          "uid": {
            "type": "integer",
            "description": "O UID da mensagem (presente no evento newMessage)",
            "example": 123
          },
          "release": {
            "type": "object",
            "description": "O objeto de lançamento (presente no evento newRelease)",
            "properties": {
              "tagName": {
                "type": "string",
                "description": "Nome da tag Git da versão"
              },
              "name": {
                "type": "string",
                "description": "Título da versão"
              },
              "htmlUrl": {
                "type": "string",
                "description": "URL da página de lançamento no GitHub"
              }
            }
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Página de resultados a serem retornados. Se não for especificado, o valor será 1. Deve ser um número maior ou igual a 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Número de resultados a serem retornados por página. O padrão é 25 se não for especificado. Deve ser um número maior ou igual a 1 e menor ou igual a 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Ative a paginação antes de 1º de novembro de 2024.",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID do domínio",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "ID do Alias",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID de membro",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID do e-mail ou ID da mensagem. Você pode passar o ID exclusivo do e-mail (por exemplo, '683fbe4d5baef1b583a11e54') ou o valor do cabeçalho Message-ID do e-mail (por exemplo, '1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net').",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID de contato",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID do calendário",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID ou caminho da pasta",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID da mensagem",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "A palavra-chave IMAP é usada como identificador de rótulo.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Conta"
        ],
        "summary": "Recuperar conta",
        "description": "Recupere as informações da sua conta.\n\n**Autenticação:** Este endpoint suporta autenticação por token de API e autenticação por credenciais de alias.\n\n- **Conta de Usuário (Token de API):** Quando autenticado com seu token de API, este endpoint retorna as informações da sua conta de usuário, incluindo detalhes do plano, e-mail e token de API.\n\n- **Conta de Alias (Credenciais de Alias):** Quando autenticado com credenciais de alias (e-mail e senha gerada), este endpoint retorna informações sobre o alias/caixa de correio, incluindo armazenamento usado/cota e um objeto `settings` aninhado (pastas especiais de e-mail, configurações de rótulos e valores padrão de alias). Isso é útil para clientes IMAP/POP3/CalDAV/CardDAV verificarem o status e as preferências de armazenamento.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
[...]
