{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Selamat datang di dokumentasi API lengkap untuk Forward Email. API ini memungkinkan Anda mengelola penerusan email, domain, alias, email keluar, dan lainnya secara terprogram.\n\n## Fitur Utama\n* **Manajemen Domain:** Membuat, mengambil, memperbarui, menghapus, dan memverifikasi domain.\n* **Manajemen Alias:** Mengelola alias email, termasuk pembuatan, pembaruan, dan pengelolaan penerima.\n* **SMTP Keluar:** Mengirim email melalui SMTP, mengelola batas, dan melacak email terkirim.\n* **Akun & Log:** Mengelola detail akun Anda dan mengunduh log aktivitas.\n* **Keamanan:** Mengenkripsi data TXT dan mengelola anggota/undangan domain.\n* **Kontak CardDAV:** Operasi CRUD lengkap untuk manajemen kontak dengan dukungan vCard.\n* **Kalender CalDAV:** Manajemen kalender lengkap dengan dukungan zona waktu dan warna.\n* **Pesan IMAP/POP3:** Manajemen pesan komprehensif dengan kemampuan pencarian lanjutan.\n* **Folder IMAP/POP3:** Manajemen folder lengkap termasuk pembuatan, penggantian nama, dan penghapusan.\n\n## Autentikasi\nSebagian besar titik akhir memerlukan autentikasi menggunakan **Kunci API** Anda. Masukkan Kunci API sebagai `nama pengguna` di header Autentikasi Dasar, biarkan kata sandi kosong.\n\n```http\nOtorisasi: Dasar QVBJX1RPS0VOOg==\n```\n(Ganti `API_TOKEN` dengan kunci Anda yang sebenarnya sebelum penyandian Base64)\n\nTitik akhir yang terkait dengan **Alias Kontak, Kalender, Pesan, dan Folder** memerlukan alias nama pengguna dan kata sandi yang dihasilkan untuk Autentikasi Dasar.\n\n## Kesalahan\nAPI menggunakan kode status HTTP standar untuk menunjukkan keberhasilan atau kegagalan. Respons kesalahan menyertakan badan JSON dengan kolom `pesan` yang merinci kesalahan.\n\n| Kode Status | Arti |\n|-------------|---------------------|\n| 200 | Oke |\n| 400 | Permintaan Buruk |\n| 401 | Tidak Sah |\n| 403 | Dilarang |\n| 404 | Tidak Ditemukan |\n| 409 | Konflik |\n| 412 | Prasyarat Gagal |\n| 429 | Terlalu Banyak Permintaan |\n| 500 | Kesalahan Server Internal|\n| 501 | Tidak Diimplementasikan |\n| 502 | Gateway Buruk |\n| 503 | Layanan Tidak Tersedia |\n| 504 | Waktu Habis Gateway |\n\n*Jika Anda mengalami kesalahan `5xx`, silakan hubungi [api@forwardemail.net](mailto:api@forwardemail.net).*\n\n## Lokalisasi\nRespons API diterjemahkan berdasarkan lokal yang terdeteksi pengguna atau header `Accept-Language`. Lebih dari 25 bahasa didukung.\n\n## Paginasi\nTitik akhir yang mengembalikan daftar mendukung paginasi melalui parameter kueri.\n\n| Parameter | Jenis | Opsional | Deskripsi | Default | Batasan |\n|--------------|---------|----------|----------------------------------------------------------------------------------|---------|--------------------|\n| `page` | Integer | Ya | Nomor halaman yang akan diambil. | 1 | `>= 1` |\n| `limit` | Integer | Ya | Jumlah hasil per halaman. | 25 | `>= 1`, `<= 100` |\n| `pagination` | Boolean | Ya | Setuju dengan perilaku pagination (diperlukan sebelum 1 November 2024 untuk beberapa titik akhir). | false | |\n\n**Header Pagination:**\n* `X-Page-Count`: Jumlah halaman total.\n* `X-Page-Current`: Nomor halaman saat ini.\n* `X-Page-Size`: Jumlah item pada halaman saat ini.\n* `X-Item-Count`: Jumlah item di semua halaman.\n* `Link`: Tautan navigasi (sebelum, berikutnya, pertama, terakhir).\n\n**Contoh:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## Pustaka yang Direkomendasikan\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [permintaan](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Dikelola oleh Forward Email)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "Server API Email Teruskan"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nGunakan Kunci API Anda sebagai **nama pengguna** untuk Autentikasi Dasar. Kosongkan kolom kata sandi.\n\n**Contoh:**\nJika Kunci API Anda adalah `YOUR_API_KEY`, nilai yang dikodekan Base64 untuk header `Authorization` adalah `echo -n \"YOUR_API_KEY:\" | base64`.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\nGunakan **nama pengguna dan kata sandi alias** yang dihasilkan untuk Autentikasi Dasar. Ini berlaku untuk titik akhir di bawah:\n* Kontak Alias (CardDAV)\n* Kalender Alias (CalDAV)\n* Pesan Alias (IMAP/POP3)\n* Folder Alias (IMAP/POP3)\n\n**Contoh:**\nJika nama pengguna alias adalah `alias@domain.com` dan kata sandinya adalah `GENERATED_PASSWORD`, nilai yang dikodekan Base64 akan menjadi `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`.\n\n```http\nOtorisasi: Dasar YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Pesan kesalahan"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Alias ID"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "Jenis objek"
          },
          "name": {
            "type": "string",
            "description": "Nama alias (bagian lokal email)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Alamat email alias lengkap"
          },
          "domain_id": {
            "type": "string",
            "description": "ID Domain"
          },
          "domain_name": {
            "type": "string",
            "description": "Nama domain"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "Penyimpanan yang digunakan dalam byte untuk alias/kotak surat ini"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Kuota penyimpanan dalam byte untuk alias/kotak surat ini"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Apakah IMAP diaktifkan untuk alias ini"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Apakah enkripsi PGP diaktifkan"
          },
          "public_key": {
            "type": "string",
            "description": "Kunci publik PGP jika tersedia"
          },
          "locale": {
            "type": "string",
            "description": "Preferensi lokal"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Stempel waktu pembuatan"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Stempel waktu pembaruan terakhir"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID Kontak (contact_id dari CardDAV)"
          },
          "uid": {
            "type": "string",
            "description": "Hubungi UID"
          },
          "full_name": {
            "type": "string",
            "description": "Nama lengkap kontak"
          },
          "content": {
            "type": "string",
            "description": "Konten vCard"
          },
          "etag": {
            "type": "string",
            "description": "ETag untuk versi"
          },
          "is_group": {
            "type": "boolean",
            "description": "Apakah kontak adalah suatu kelompok"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Rangkaian alamat email"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Deretan nomor telepon"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Konten vCard (jika tidak disediakan, akan dibuat dari bidang lain)"
          },
          "full_name": {
            "type": "string",
            "description": "Nama lengkap kontak"
          },
          "contact_id": {
            "type": "string",
            "description": "ID kontak khusus (jika tidak disediakan, akan dibuat secara otomatis)"
          },
          "uid": {
            "type": "string",
            "description": "UID Kontak (jika tidak diberikan, akan dibuat secara otomatis)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Rangkaian alamat email"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Deretan nomor telepon"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Deretan nomor telepon (alias untuk phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Deretan alamat"
          },
          "is_group": {
            "type": "boolean",
            "description": "Apakah kontak adalah suatu kelompok"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Konten vCard"
          },
          "full_name": {
            "type": "string",
            "description": "Nama lengkap kontak"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Rangkaian alamat email"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Deretan nomor telepon"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "Deretan nomor telepon (alias untuk phone_numbers)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Deretan alamat"
          },
          "is_group": {
            "type": "boolean",
            "description": "Apakah kontak adalah suatu kelompok"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID Kalender (calendarId dari CalDAV)"
          },
          "name": {
            "type": "string",
            "description": "Nama kalender"
          },
          "description": {
            "type": "string",
            "description": "Deskripsi kalender"
          },
          "color": {
            "type": "string",
            "description": "Warna kalender (format hex)"
          },
          "timezone": {
            "type": "string",
            "description": "Zona waktu kalender"
          },
          "order": {
            "type": "integer",
            "description": "Urutan tampilan kalender"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Nama kalender"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID kalender khusus (jika tidak diberikan, akan dibuat secara otomatis)"
          },
          "description": {
            "type": "string",
            "description": "Deskripsi kalender"
          },
          "color": {
            "type": "string",
            "description": "Warna kalender (format hex, jika tidak disediakan, akan dibuat secara otomatis)"
          },
          "timezone": {
            "type": "string",
            "description": "Zona waktu kalender (default pada zona waktu pengguna atau UTC)"
          },
          "order": {
            "type": "integer",
            "description": "Urutan tampilan kalender (defaultnya 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nama kalender"
          },
          "description": {
            "type": "string",
            "description": "Deskripsi kalender"
          },
          "color": {
            "type": "string",
            "description": "Warna kalender (format hex)"
          },
          "timezone": {
            "type": "string",
            "description": "Zona waktu kalender"
          },
          "order": {
            "type": "integer",
            "description": "Urutan tampilan kalender"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID acara kalender (eventId dari CalDAV)"
          },
          "calendar_id": {
            "type": "string",
            "description": "ID kalender tempat acara ini berada"
          },
          "ical": {
            "type": "string",
            "description": "Data iCalendar (RFC 5545) untuk acara tersebut"
          },
          "summary": {
            "type": "string",
            "description": "Judul/ringkasan acara (diekstrak dari data iCal)"
          },
          "description": {
            "type": "string",
            "description": "Deskripsi acara (diekstrak dari data iCal)"
          },
          "location": {
            "type": "string",
            "description": "Lokasi acara (diekstraksi dari data iCal)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Tanggal/waktu mulai acara (diekstraksi dari data iCal)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Tanggal/waktu berakhirnya acara (diekstraksi dari data iCal)"
          },
          "uid": {
            "type": "string",
            "description": "Pengidentifikasi unik dari data iCal"
          },
          "status": {
            "type": "string",
            "description": "Status acara (diekstrak dari data iCal)"
          },
          "organizer": {
            "type": "string",
            "description": "Penyelenggara acara (diekstrak dari data iCal)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Stempel waktu penghapusan lunak"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "ID kalender untuk menambahkan acara"
          },
          "event_id": {
            "type": "string",
            "description": "ID peristiwa khusus (jika tidak diberikan, akan dibuat secara otomatis)"
          },
          "ical": {
            "type": "string",
            "description": "Data iCalendar (RFC 5545) untuk acara tersebut. Harus dalam format iCal yang valid."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "Pindahkan acara ke kalender lain"
          },
          "ical": {
            "type": "string",
            "description": "Data iCalendar (RFC 5545) yang diperbarui untuk acara tersebut"
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID Folder"
          },
          "path": {
            "type": "string",
            "description": "Jalur folder lengkap"
          },
          "name": {
            "type": "string",
            "description": "Nama folder (bagian terakhir jalur)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "Jalur folder induk"
          },
          "uid_validity": {
            "type": "integer",
            "description": "Validitas UID IMAP"
          },
          "uid_next": {
            "type": "integer",
            "description": "Nilai UID berikutnya"
          },
          "modify_index": {
            "type": "integer",
            "description": "Indeks modifikasi"
          },
          "subscribed": {
            "type": "boolean",
            "description": "Apakah folder tersebut berlangganan"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Bendera folder"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "Periode penyimpanan pesan"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "Penunjukan penggunaan khusus"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Jalur/nama folder"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "Jalur/nama folder baru"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID Pesan"
          },
          "root_id": {
            "type": "string",
            "description": "ID pesan root untuk threading"
          },
          "folder_id": {
            "type": "string",
            "description": "ID folder yang berisi pesan"
          },
          "folder_path": {
            "type": "string",
            "description": "Jalur folder yang berisi pesan"
          },
          "thread_id": {
            "type": "string",
            "description": "ID utas untuk pengelompokan percakapan"
          },
          "header_message_id": {
            "type": "string",
            "description": "Nilai header ID pesan"
          },
          "is_unread": {
            "type": "boolean",
            "description": "Apakah pesan belum dibaca"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "Apakah pesan ditandai"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Apakah pesan dihapus"
          },
          "is_draft": {
            "type": "boolean",
            "description": "Apakah pesan tersebut merupakan draf"
          },
          "is_junk": {
            "type": "boolean",
            "description": "Apakah pesan tersebut sampah/spam"
          },
          "is_copied": {
            "type": "boolean",
            "description": "Apakah pesan disalin"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "Apakah pesan dapat dicari"
          },
          "is_expired": {
            "type": "boolean",
            "description": "Apakah pesan sudah kedaluwarsa"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "Apakah pesan memiliki lampiran"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Tanggal penyimpanan pesan"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "Tanggal internal (IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "Tanggal dari header pesan"
          },
          "subject": {
            "type": "string",
            "description": "Subjek pesan"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Bendera IMAP"
          },
          "size": {
            "type": "integer",
            "description": "Ukuran pesan dalam byte"
          },
          "uid": {
            "type": "integer",
            "description": "UID IMAP"
          },
          "modseq": {
            "type": "integer",
            "description": "Urutan modifikasi"
          },
          "transaction": {
            "type": "string",
            "description": "Jenis transaksi"
          },
          "remote_address": {
            "type": "string",
            "description": "Alamat IP jarak jauh"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Stempel waktu pembuatan pesan"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Stempel waktu pembaruan terakhir pesan"
          },
          "nodemailer": {
            "type": "object",
            "description": "Objek pesan yang diurai (disertakan secara default, tetapkan ?nodemailer=false untuk mengecualikan)"
          },
          "raw": {
            "type": "string",
            "description": "Konten pesan mentah (disertakan secara default, atur ?raw=false untuk mengecualikan)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Alamat email pengirim"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Alamat email penerima"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Alamat email penerima CC"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Alamat email penerima BCC"
          },
          "subject": {
            "type": "string",
            "description": "Subjek pesan"
          },
          "text": {
            "type": "string",
            "description": "Konten teks biasa"
          },
          "html": {
            "type": "string",
            "description": "Konten HTML"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Lampiran pesan (format Nodemailer)"
          },
          "folder": {
            "type": "string",
            "description": "Folder target (defaultnya adalah INBOX)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Bendera IMAP untuk ditetapkan pada pesan"
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Bendera IMAP untuk ditetapkan pada pesan"
          },
          "folder": {
            "type": "string",
            "description": "Pindahkan pesan ke folder ini"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Alamat email pengirim (harus ada sebagai alias domain)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Daftar yang dipisahkan koma atau serangkaian penerima untuk tajuk 'Kepada'."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Daftar yang dipisahkan koma atau larik penerima untuk header 'Cc'."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "Daftar yang dipisahkan koma atau serangkaian penerima untuk header 'Bcc'."
          },
          "subject": {
            "type": "string",
            "description": "Subjek email."
          },
          "text": {
            "type": "string",
            "description": "Versi teks biasa dari pesan tersebut."
          },
          "html": {
            "type": "string",
            "description": "Versi HTML dari pesan."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Serangkaian objek lampiran (lihat bidang umum Nodemailer)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "Alamat email untuk header 'Pengirim'."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "Alamat email untuk tajuk 'Balas-Ke'."
          },
          "inReplyTo": {
            "type": "string",
            "description": "ID Pesan tempat pesan tersebut dibalas."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Daftar yang dipisahkan spasi atau larik ID Pesan."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "Jika benar, mengonversi data: gambar dalam konten HTML ke lampiran yang disematkan."
          },
          "watchHtml": {
            "type": "string",
            "description": "Versi HTML pesan khusus Apple Watch."
          },
          "amp": {
            "type": "string",
            "description": "Versi HTML spesifik AMP4EMAIL dari pesan tersebut."
          },
          "icalEvent": {
            "type": "object",
            "description": "Acara iCalendar sebagai konten pesan alternatif."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Serangkaian konten pesan alternatif."
          },
          "encoding": {
            "type": "string",
            "description": "Pengkodean untuk teks dan string HTML (misalnya, 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "Pesan berformat RFC822 yang dibuat khusus (bukan menggunakan pembuatan Nodemailer)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "Pengkodean dipaksa digunakan untuk nilai teks."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "Tingkat prioritas untuk email."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "Objek atau larik bidang header tambahan."
          },
          "messageId": {
            "type": "string",
            "description": "Message-ID opsional untuk header 'Message-ID'."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Header Tanggal opsional. Tidak boleh lebih dari 30 hari ke depan."
          },
          "list": {
            "type": "object",
            "description": "Objek opsional dari header List-*."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Nama domain yang sepenuhnya memenuhi syarat (FQDN) atau alamat IP"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "Tetapkan ke tim yang sama dari domain lain; bisa berupa ID domain atau FQDN. Gunakan \"none\" untuk menonaktifkan secara eksplisit."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "Jenis paket (default-nya adalah 'gratis' atau paket berbayar pengguna saat ini)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "Daftar alamat email yang dibatasi (dipisahkan dengan koma, spasi, atau baris baru)"
              }
            ],
            "description": "Buat alias tangkap-semua default (default-nya adalah benar)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Aktifkan perlindungan konten dewasa Spam Scanner"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Aktifkan perlindungan phishing Pemindai Spam"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Aktifkan perlindungan eksekusi Spam Scanner"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Aktifkan perlindungan virus Spam Scanner"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Meminta penerima alias untuk mengklik tautan verifikasi email"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Abaikan pemeriksaan catatan MX untuk pengaturan perutean email tingkat lanjut"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Pilih untuk menyimpan header dan metadata (kecuali konten pesan) untuk email yang berhasil diteruskan, dikirim melalui webhook, SMTP keluar, dan terkirim melalui IMAP, dengan log yang disimpan selama 7 hari. Fitur ini membantu Anda memantau dan memecahkan masalah kinerja pengiriman email dengan wawasan mendetail tentang transmisi yang berhasil."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Jumlah hari untuk menyimpan log SMTP keluar (0–30, default: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "URL webhook untuk menerima peristiwa pentalan"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "Nonaktifkan webhook pentalan"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Kuota penyimpanan maksimum per alias (misalnya '1 GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Port khusus untuk dikonfigurasi untuk penerusan SMTP (default adalah '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "Apakah akan mengaktifkan perlindungan konten dewasa Spam Scanner di domain ini"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "Apakah akan mengaktifkan perlindungan phishing Spam Scanner pada domain ini"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "Apakah akan mengaktifkan perlindungan eksekusi Spam Scanner pada domain ini"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "Apakah akan mengaktifkan perlindungan virus Spam Scanner pada domain ini"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Domain global default untuk mengharuskan penerima alias mengklik tautan verifikasi email agar email dapat mengalir"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "Apakah akan mengabaikan pemeriksaan catatan MX pada domain untuk verifikasi (terutama untuk pengaturan perutean MX tingkat lanjut)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "Pilih untuk menyimpan header dan metadata (kecuali konten pesan) untuk email yang berhasil diteruskan, dikirim melalui webhook, SMTP keluar, dan terkirim melalui IMAP, dengan log yang disimpan selama 7 hari. Fitur ini membantu Anda memantau dan memecahkan masalah kinerja pengiriman email dengan wawasan mendetail tentang transmisi yang berhasil."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "Jumlah hari untuk menyimpan email SMTP keluar (0 = segera hapus)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "URL webhook untuk menerima notifikasi pentalan, atau false untuk menonaktifkan"
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "Kuota penyimpanan per alias (misalnya '1 GB', diurai menjadi byte)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nama alias (jika tidak diberikan atau kosong, maka alias acak akan dibuat)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "String alamat email, FQDN, IP, atau URL webhook yang valid yang dipisahkan oleh jeda baris/spasi/koma"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Rangkaian penerima yang valid"
              }
            ],
            "description": "Daftar penerima. Jika tidak tersedia atau kosong, akan menggunakan email pemohon secara default."
          },
          "description": {
            "type": "string",
            "description": "Deskripsi alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Rangkaian label yang dipisahkan oleh jeda baris/spasi/koma"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Rangkaian label"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Meminta penerima untuk mengklik tautan verifikasi (default pada pengaturan domain)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Apakah akan mengaktifkan atau menonaktifkan alias ini"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Kode kesalahan jika alias dinonaktifkan. Nilai default adalah 250"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Mengaktifkan atau menonaktifkan penyimpanan IMAP untuk alias ini"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Mengaktifkan atau menonaktifkan enkripsi OpenPGP untuk alias ini"
          },
          "public_key": {
            "type": "string",
            "description": "Kunci publik OpenPGP dalam format ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Kuota penyimpanan maksimum (misalnya '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Mengaktifkan atau menonaktifkan penjawab saat libur"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Tanggal mulai (misalnya 'YYYY-MM-DD') untuk penjawab saat libur"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Tanggal akhir (misalnya 'YYYY-MM-DD') untuk penjawab saat libur"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Subjek teks biasa untuk penjawab liburan"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Pesan teks biasa untuk penjawab saat libur"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nama alias"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "String alamat email, FQDN, IP, atau URL webhook yang valid yang dipisahkan oleh jeda baris/spasi/koma"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "Rangkaian penerima yang valid"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "Deskripsi alias"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "Rangkaian label yang dipisahkan oleh jeda baris/spasi/koma"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Rangkaian label"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "Meminta penerima untuk mengklik tautan verifikasi (default pada pengaturan domain)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "Mengaktifkan atau menonaktifkan alias"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "Kode kesalahan untuk digunakan jika alias dinonaktifkan (defaultnya 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "Mengaktifkan atau menonaktifkan penyimpanan IMAP"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "Mengaktifkan atau menonaktifkan enkripsi OpenPGP"
          },
          "public_key": {
            "type": "string",
            "description": "Kunci publik OpenPGP dalam format ASCII Armor"
          },
          "max_quota": {
            "type": "string",
            "description": "Kuota penyimpanan maksimum (misalnya, '1 GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "Mengaktifkan atau menonaktifkan penjawab saat libur"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "Tanggal mulai penjawab liburan (misalnya YYYY-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "Tanggal akhir penjawab liburan (misalnya YYYY-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "Subjek teks biasa dari penjawab liburan"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "Pesan teks biasa dari penjawab liburan"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "Kata sandi baru khusus Anda untuk digunakan untuk alias"
          },
          "password": {
            "type": "string",
            "description": "Kata sandi yang ada untuk alias untuk mengubahnya tanpa menghapus penyimpanan kotak surat"
          },
          "is_override": {
            "type": "boolean",
            "description": "Ganti kata sandi yang ada dan hapus penyimpanan IMAP (gunakan dengan hati-hati)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "Alamat email untuk mengirim alias kata sandi dan petunjuk pengaturan"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Jumlah email terkirim saat ini"
          },
          "limit": {
            "type": "integer",
            "description": "Jumlah maksimum email yang diizinkan"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID Anggota"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Alamat email anggota"
          },
          "role": {
            "type": "string",
            "description": "Peran anggota"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Alamat email yang diundang"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "Halaman hasil yang akan ditampilkan. Jika tidak ditentukan, nilainya adalah 1. Harus berupa angka yang lebih besar atau sama dengan 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Jumlah hasil yang akan ditampilkan per halaman. Nilai default adalah 25 jika tidak ditentukan. Harus berupa angka yang lebih besar atau sama dengan 1, dan kurang dari atau sama dengan 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "Berlangganan pagination sebelum 1 November 2024",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "ID Domain",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "Alias ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "ID Anggota",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID Email",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID Kontak",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID Kalender",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID folder atau jalur",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ID Pesan",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Akun"
        ],
        "summary": "Ambil kembali akun",
        "description": "Ambil informasi akun Anda.\n\n**Autentikasi:** Titik akhir ini mendukung autentikasi token API dan autentikasi kredensial alias.\n\n- **Akun Pengguna (Token API):** Saat diautentikasi dengan token API Anda, titik akhir ini akan menampilkan informasi akun pengguna Anda, termasuk detail paket, email, dan token API.\n\n- **Akun Alias (Kredensial Alias):** Saat diautentikasi dengan kredensial alias (email dan kata sandi yang dihasilkan), titik akhir ini akan menampilkan informasi alias/kotak surat, termasuk penyimpanan yang digunakan, kuota penyimpanan, dan pengaturan kotak surat. Ini berguna bagi klien IMAP/POP3/CalDAV/CardDAV untuk memeriksa status penyimpanan.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Akun"
        ],
        "summary": "Perbarui akun",
        "description": "Perbarui informasi akun Anda.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "Nama tampilan"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Preferensi lokal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "Kontak"
        ],
        "summary": "Daftar kontak",
        "description": "Ambil daftar semua kontak untuk alias yang diautentikasi. Titik akhir ini mendukung paginasi dan menampilkan kontak dalam format CardDAV.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kontak"
        ],
        "summary": "Buat kontak",
        "description": "Buat kontak baru. Anda dapat memberikan konten vCard secara langsung atau kolom kontak individual yang akan dikonversi ke format vCard. Jika kontak dengan ID yang sama sudah ada, kesalahan konflik akan ditampilkan.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "Kontak"
        ],
        "summary": "Ambil kembali kontak",
        "description": "Ambil kontak tertentu berdasarkan ID-nya. Kontak dikembalikan dalam format Kontak standar dengan konten vCard dan kolom yang telah diurai.",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Kontak"
        ],
        "summary": "Perbarui kontak",
        "description": "Perbarui kontak yang sudah ada. Anda dapat memberikan konten vCard yang diperbarui atau kolom individual untuk diperbarui. vCard kontak akan dibuat ulang jika kolom individual telah diisi.",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kontak"
        ],
        "summary": "Hapus kontak",
        "description": "Hapus kontak tertentu secara permanen. Tindakan ini tidak dapat dibatalkan.",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "Kalender"
        ],
        "summary": "Daftar kalender",
        "description": "Ambil daftar semua kalender untuk alias yang diautentikasi. Titik akhir ini mendukung penomoran halaman dan menampilkan kalender dalam format CalDAV.",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Kalender"
        ],
        "summary": "Buat kalender",
        "description": "Buat kalender baru. Nama kalender wajib diisi, sementara properti lain seperti warna, zona waktu, dan deskripsi bersifat opsional. Jika kalender dengan nama yang sama sudah ada, akan muncul pesan kesalahan konflik.",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "tags": [
          "Kalender"
        ],
        "summary": "Ambil kalender",
        "description": "Ambil kalender tertentu berdasarkan ID-nya. Kalender akan ditampilkan beserta semua propertinya, termasuk nama, deskripsi, warna, zona waktu, dan urutan.",
        "operationId": "retrieveCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Kalender"
        ],
        "summary": "Perbarui kalender",
        "description": "Perbarui kalender yang sudah ada. Anda dapat memperbarui properti kalender apa pun, termasuk nama, deskripsi, warna, zona waktu, dan urutan. Jika Anda mengubah nama ke nama yang sudah ada, akan muncul kesalahan konflik.",
        "operationId": "updateCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Kalender"
        ],
        "summary": "Hapus kalender",
        "description": "Hapus kalender tertentu secara permanen. Tindakan ini tidak dapat dibatalkan dan juga akan menghapus semua acara dalam kalender.",
        "operationId": "deleteCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/calendarId"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar deleted successfully",
[...]
