{
  "openapi": "3.0.0",
  "info": {
    "title": "Forward Email API",
    "description": "<img src=\"/img/articles/email-api.webp\" alt=\"\"/><br />Forward Email에 대한 포괄적인 API 설명서에 오신 것을 환영합니다. 이 API를 사용하면 이메일 전달, 도메인, 별칭, 발신 이메일 등을 프로그래밍 방식으로 관리할 수 있습니다.\n\n## 주요 기능\n* **도메인 관리:** 도메인을 생성, 검색, 업데이트, 삭제 및 확인합니다.\n* **별칭 관리:** 생성, 업데이트 및 수신자 관리를 포함하여 이메일 별칭을 관리합니다.\n* **발신 SMTP:** SMTP를 통해 이메일을 전송하고, 한도를 관리하고, 전송된 이메일을 추적합니다.\n* **계정 및 로그:** 계정 정보를 관리하고 활동 로그를 다운로드합니다.\n* **보안:** TXT 레코드를 암호화하고 도메인 구성원/초대를 관리합니다.\n* **CardDAV 연락처:** vCard를 지원하는 연락처 관리를 위한 전체 CRUD 작업을 수행합니다.\n* **CalDAV 캘린더:** 시간대 및 색상 지원을 통한 완벽한 캘린더 관리\n* **IMAP/POP3 메시지:** 고급 검색 기능을 갖춘 포괄적인 메시지 관리\n* **IMAP/POP3 폴더:** 생성, 이름 변경, 삭제를 포함한 전체 폴더 관리\n\n## 인증\n대부분의 엔드포인트는 **API 키**를 사용한 인증이 필요합니다. 기본 인증 헤더에 API 키를 `username`으로 입력하고 비밀번호는 비워 두세요.\n\n```http\nAuthorization: Basic QVBJX1RPS0VOOg==\n```\n(Base64 인코딩 전 `API_TOKEN`을 실제 키로 바꾸세요.)\n\n**별칭 연락처, 캘린더, 메시지 및 폴더**와 관련된 엔드포인트는 기본 인증을 위해 생성된 별칭 사용자 이름과 비밀번호가 필요합니다.\n\n## 오류\nAPI는 표준 HTTP 상태 코드를 사용하여 성공 또는 실패를 나타냅니다. 오류 응답에는 오류를 자세히 설명하는 `message` 필드가 있는 JSON 본문이 포함됩니다.\n\n| 상태 코드 | 의미 |\n|-------------|---------------------|\n| 200 | 정상 |\n| 400 | 잘못된 요청 |\n| 401 | 승인되지 않음 |\n| 403 | 금지됨 |\n| 404 | 찾을 수 없음 |\n| 409 | 충돌 |\n| 412 | 전제 조건 실패 |\n| 429 | 요청이 너무 많음 |\n| 500 | 내부 서버 오류 |\n| 501 | 구현되지 않음 |\n| 502 | 잘못된 게이트웨이 |\n| 503 | 서비스를 사용할 수 없음 |\n| 504 | 게이트웨이 시간 초과 |\n\n*`5xx` 오류가 발생하는 경우 [api@forwardemail.net](mailto:api@forwardemail.net)으로 문의해 주세요.*\n\n## 현지화\nAPI 응답은 사용자의 감지된 로캘 또는 `Accept-Language` 헤더를 기반으로 번역됩니다. 25개 이상의 언어가 지원됩니다.\n\n## 페이지 매김\n목록을 반환하는 엔드포인트는 쿼리 매개변수를 통한 페이지 매김을 지원합니다.\n\n| 매개변수 | 유형 | 선택 사항 | 설명 | 기본값 | 제약 조건 |\n|--------------|---------|----------|-----------------------------------------------------------------------------|---------|--------------------|\n| `page` | 정수 | 예 | 검색할 페이지 번호 | 1 | `>= 1` |\n| `limit` | 정수 | 예 | 페이지당 결과 수 | 25 | `>= 1`, `<= 100` |\n| `pagination` | 부울 | 예 | 페이지 매김 동작 옵트인(일부 엔드포인트의 경우 2024년 11월 1일 이전 필수). | false | |\n\n**페이지 매김 헤더:**\n* `X-Page-Count`: 총 페이지 수\n* `X-Page-Current`: 현재 페이지 번호\n* `X-Page-Size`: 현재 페이지의 항목 수입니다.\n* `X-Item-Count`: 모든 페이지의 총 항목 수입니다.\n* `Link`: 탐색 링크(이전, 다음, 처음, 마지막).\n\n**예:**\n```bash\ncurl \"https://api.forwardemail.net/v1/domains?page=2&limit=20&pagination=true\" \\\n-u API_TOKEN:\n```\n\n## 추천 라이브러리\n* **Ruby:** [Faraday](https://github.com/lostisland/faraday)\n* **Python:** [requests](https://requests.readthedocs.io/en/latest/)\n* **Java:** [OkHttp](https://square.github.io/okhttp/)\n* **PHP:** [Guzzle](https://docs.guzzlephp.org/en/stable/)\n* **JavaScript/Node.js:** [superagent](https://github.com/visionmedia/superagent) (Forward Email에서 관리)\n* **Go:** `net/http`\n* **.NET:** [RestSharp](https://restsharp.dev/)",
    "version": "1.0.0",
    "contact": {
      "name": "Forward Email Support",
      "url": "https://forwardemail.net",
      "email": "api@forwardemail.net"
    }
  },
  "servers": [
    {
      "url": "https://api.forwardemail.net",
      "description": "이메일 전달 API 서버"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\n기본 인증의 **사용자 이름**으로 API 키를 사용하세요. 비밀번호 필드는 비워 두세요.\n\n**예:**\nAPI 키가 `YOUR_API_KEY`인 경우, `Authorization` 헤더의 Base64 인코딩 값은 `echo -n \"YOUR_API_KEY:\" | base64`입니다.\n\n```http\nAuthorization: Basic WU9VUl9BUElfS0VZOg==\n```\n"
      },
      "AliasAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "\n기본 인증에는 생성된 **별칭 사용자 이름 및 비밀번호**를 사용하세요. 이는 다음 엔드포인트에 적용됩니다.\n* 별칭 연락처(CardDAV)\n* 별칭 캘린더(CalDAV)\n* 별칭 메시지(IMAP/POP3)\n* 별칭 폴더(IMAP/POP3)\n\n**예:**\n별칭 사용자 이름이 `alias@domain.com`이고 비밀번호가 `GENERATED_PASSWORD`인 경우, Base64로 인코딩된 값은 `echo -n \"alias@domain.com:GENERATED_PASSWORD\" | base64`입니다.\n\n```http\nAuthorization: Basic YWxpYXNAZG9tYWluLmNvbTpHRU5FUkFURURfUEFTU1dPUkQ=\n```\n"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "오류 메시지"
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "object"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_newsletter": {
            "type": "boolean"
          },
          "plan": {
            "type": "string",
            "example": "free"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "max_quota_per_alias": {
            "type": "integer",
            "format": "int64"
          },
          "full_email": {
            "type": "string",
            "format": "email"
          },
          "display_name": {
            "type": "string"
          },
          "otp_enabled": {
            "type": "boolean"
          },
          "last_locale": {
            "type": "string"
          },
          "address_country": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "user"
          },
          "locale": {
            "type": "string"
          },
          "preferred_locale": {
            "type": "string",
            "description": "User's preferred language setting that overrides automatic detection"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "address_html": {
            "type": "string"
          },
          "api_token": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "sessions": [],
          "has_newsletter": true,
          "plan": "free",
          "email": "test1@test1.com",
          "max_quota_per_alias": 10737418240,
          "full_email": "test1@test1.com",
          "display_name": "test1@test1.com",
          "otp_enabled": false,
          "last_locale": "en",
          "address_country": "None",
          "id": "683fb2e81cc5d449a0d4cd9d",
          "object": "user",
          "locale": "en",
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z",
          "address_html": "",
          "api_token": "15ac16ae21784aa2cb4d5508"
        }
      },
      "AliasAccount": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "email",
          "domain_id",
          "domain_name",
          "storage_used",
          "storage_quota"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "별칭 ID"
          },
          "object": {
            "type": "string",
            "example": "alias",
            "description": "객체 유형"
          },
          "name": {
            "type": "string",
            "description": "별칭 이름(이메일의 로컬 부분)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "전체 별칭 이메일 주소"
          },
          "domain_id": {
            "type": "string",
            "description": "도메인 ID"
          },
          "domain_name": {
            "type": "string",
            "description": "도메인 이름"
          },
          "storage_used": {
            "type": "integer",
            "format": "int64",
            "description": "이 별칭/사서함에 사용된 저장 공간(바이트)"
          },
          "storage_quota": {
            "type": "integer",
            "format": "int64",
            "description": "이 별칭/사서함에 대한 저장 할당량(바이트)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "이 별칭에 IMAP가 활성화되어 있는지 여부"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "PGP 암호화가 활성화되어 있는지 여부"
          },
          "public_key": {
            "type": "string",
            "description": "PGP 공개 키(사용 가능한 경우)"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Whether S/MIME encryption is enabled"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 certificate in PEM format"
          },
          "locale": {
            "type": "string",
            "description": "로케일 환경 설정"
          },
          "settings": {
            "type": "object",
            "description": "Alias settings",
            "properties": {
              "mail": {
                "type": "object",
                "properties": {
                  "archive_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias mail archive folder"
                  },
                  "sent_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias mail sent folder"
                  },
                  "drafts_folder": {
                    "type": "string",
                    "nullable": true,
                    "description": "Alias mail drafts folder"
                  }
                }
              },
              "label_settings": {
                "type": "object",
                "description": "Alias label map keyed by keyword",
                "additionalProperties": {
                  "$ref": "#/components/schemas/SettingsLabelUpdate"
                }
              },
              "aliases": {
                "type": "object",
                "properties": {
                  "defaults": {
                    "type": "object",
                    "description": "Free-form alias defaults such as display_name or signature.",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "생성 타임스탬프"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "마지막 업데이트 타임스탬프"
          }
        },
        "example": {
          "id": "683fb2e81cc5d449a0d4cd9e",
          "object": "alias",
          "name": "user",
          "email": "user@example.com",
          "domain_id": "683fb2e81cc5d449a0d4cd9f",
          "domain_name": "example.com",
          "storage_used": 524288000,
          "storage_quota": 10737418240,
          "has_imap": true,
          "has_pgp": false,
          "public_key": "",
          "has_smime": false,
          "smime_certificate": "",
          "locale": "en",
          "settings": {
            "mail": {
              "archive_folder": null,
              "sent_folder": null,
              "drafts_folder": null
            },
            "label_settings": {},
            "aliases": {
              "defaults": {}
            }
          },
          "created_at": "2025-06-04T02:43:52.646Z",
          "updated_at": "2025-06-04T02:43:55.350Z"
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "id",
          "uid",
          "full_name",
          "content",
          "etag",
          "is_group",
          "emails",
          "phone_numbers",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "연락처 ID(CardDAV의 contact_id)"
          },
          "uid": {
            "type": "string",
            "description": "UID에 문의하세요"
          },
          "full_name": {
            "type": "string",
            "description": "연락처의 성명"
          },
          "content": {
            "type": "string",
            "description": "vCard 콘텐츠"
          },
          "etag": {
            "type": "string",
            "description": "버전 관리를 위한 ETag"
          },
          "is_group": {
            "type": "boolean",
            "description": "연락처가 그룹인지 여부"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "이메일 주소 배열"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "전화번호 배열"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "contact"
            ]
          }
        },
        "example": {
          "id": "contact123",
          "uid": "uid123",
          "full_name": "John Doe",
          "content": "BEGIN:VCARD\\nVERSION:3.0\\nUID:uid123\\nFN:John Doe\\nEMAIL;TYPE=INTERNET:john@example.com\\nEND:VCARD",
          "etag": "etag123",
          "is_group": false,
          "emails": [
            {
              "value": "john@example.com",
              "type": "INTERNET"
            }
          ],
          "phone_numbers": [
            {
              "value": "+1234567890",
              "type": "CELL"
            }
          ],
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "contact"
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard 콘텐츠(제공되지 않으면 다른 필드에서 생성됩니다)"
          },
          "full_name": {
            "type": "string",
            "description": "연락처의 성명"
          },
          "contact_id": {
            "type": "string",
            "description": "사용자 지정 연락처 ID(제공되지 않으면 자동 생성됨)"
          },
          "uid": {
            "type": "string",
            "description": "연락처 UID(제공되지 않으면 자동 생성됨)"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "이메일 주소 배열"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "전화번호 배열"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "전화번호 배열(phone_numbers의 별칭)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "주소 배열"
          },
          "is_group": {
            "type": "boolean",
            "description": "연락처가 그룹인지 여부"
          }
        }
      },
      "ContactUpdateInput": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "vCard 콘텐츠"
          },
          "full_name": {
            "type": "string",
            "description": "연락처의 성명"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "format": "email"
                },
                "type": {
                  "type": "string",
                  "default": "INTERNET"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "이메일 주소 배열"
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "전화번호 배열"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "default": "CELL"
                }
              },
              "required": [
                "value"
              ]
            },
            "description": "전화번호 배열(phone_numbers의 별칭)"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "주소 배열"
          },
          "is_group": {
            "type": "boolean",
            "description": "연락처가 그룹인지 여부"
          }
        }
      },
      "Calendar": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "color",
          "timezone",
          "order",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "캘린더 ID(CalDAV의 CalendarId)"
          },
          "name": {
            "type": "string",
            "description": "캘린더 이름"
          },
          "description": {
            "type": "string",
            "description": "달력 설명"
          },
          "color": {
            "type": "string",
            "description": "달력 색상(16진수 형식)"
          },
          "timezone": {
            "type": "string",
            "description": "달력 시간대"
          },
          "order": {
            "type": "integer",
            "description": "달력 표시 순서"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar"
            ]
          }
        },
        "example": {
          "id": "calendar123",
          "name": "Personal Calendar",
          "description": "My personal calendar",
          "color": "#ff0000",
          "timezone": "America/New_York",
          "order": 0,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar"
        }
      },
      "CalendarInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "캘린더 이름"
          },
          "calendar_id": {
            "type": "string",
            "description": "사용자 정의 캘린더 ID(제공되지 않으면 자동 생성됨)"
          },
          "description": {
            "type": "string",
            "description": "달력 설명"
          },
          "color": {
            "type": "string",
            "description": "달력 색상(16진수 형식, 제공되지 않으면 자동 생성됨)"
          },
          "timezone": {
            "type": "string",
            "description": "달력 시간대(기본값은 사용자 시간대 또는 UTC)"
          },
          "order": {
            "type": "integer",
            "description": "달력 표시 순서(기본값은 0)"
          }
        }
      },
      "CalendarUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "캘린더 이름"
          },
          "description": {
            "type": "string",
            "description": "달력 설명"
          },
          "color": {
            "type": "string",
            "description": "달력 색상(16진수 형식)"
          },
          "timezone": {
            "type": "string",
            "description": "달력 시간대"
          },
          "order": {
            "type": "integer",
            "description": "달력 표시 순서"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "required": [
          "id",
          "calendar_id",
          "ical",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "캘린더 이벤트 ID(CalDAV의 eventId)"
          },
          "calendar_id": {
            "type": "string",
            "description": "이 이벤트가 속한 달력의 ID"
          },
          "ical": {
            "type": "string",
            "description": "이벤트에 대한 iCalendar(RFC 5545) 데이터"
          },
          "summary": {
            "type": "string",
            "description": "이벤트 제목/요약(iCal 데이터에서 추출)"
          },
          "description": {
            "type": "string",
            "description": "이벤트 설명(iCal 데이터에서 추출)"
          },
          "location": {
            "type": "string",
            "description": "이벤트 위치(iCal 데이터에서 추출)"
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "이벤트 시작 날짜/시간(iCal 데이터에서 추출)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "이벤트 종료 날짜/시간(iCal 데이터에서 추출)"
          },
          "uid": {
            "type": "string",
            "description": "iCal 데이터의 고유 식별자"
          },
          "status": {
            "type": "string",
            "description": "이벤트 상태(iCal 데이터에서 추출)"
          },
          "organizer": {
            "type": "string",
            "description": "이벤트 주최자(iCal 데이터에서 추출)"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "소프트 삭제 타임스탬프"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "calendar_event"
            ]
          }
        },
        "example": {
          "id": "event123",
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR",
          "summary": "Example Event",
          "description": "This is an example event",
          "location": "Conference Room A",
          "start_date": "2025-01-01T12:00:00.000Z",
          "end_date": "2025-01-01T13:00:00.000Z",
          "uid": "event123@example.com",
          "status": "CONFIRMED",
          "organizer": null,
          "deleted_at": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "calendar_event"
        }
      },
      "CalendarEventInput": {
        "type": "object",
        "required": [
          "calendar_id",
          "ical"
        ],
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "이벤트를 추가할 캘린더의 ID"
          },
          "event_id": {
            "type": "string",
            "description": "사용자 정의 이벤트 ID(제공되지 않으면 자동 생성됨)"
          },
          "ical": {
            "type": "string",
            "description": "이벤트에 대한 iCalendar(RFC 5545) 데이터입니다. 유효한 iCal 형식이어야 합니다."
          }
        },
        "example": {
          "calendar_id": "calendar123",
          "ical": "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//Example Corp//Example Calendar//EN\nBEGIN:VEVENT\nUID:event123@example.com\nDTSTART:20250101T120000Z\nDTEND:20250101T130000Z\nSUMMARY:Example Event\nDESCRIPTION:This is an example event\nLOCATION:Conference Room A\nSTATUS:CONFIRMED\nEND:VEVENT\nEND:VCALENDAR"
        }
      },
      "CalendarEventUpdateInput": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "description": "이벤트를 다른 캘린더로 이동"
          },
          "ical": {
            "type": "string",
            "description": "이벤트에 대한 iCalendar(RFC 5545) 데이터가 업데이트되었습니다."
          }
        }
      },
      "Folder": {
        "type": "object",
        "required": [
          "id",
          "path",
          "name",
          "parent",
          "uid_validity",
          "uid_next",
          "modify_index",
          "subscribed",
          "flags",
          "retention",
          "special_use",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "폴더 ID"
          },
          "path": {
            "type": "string",
            "description": "전체 폴더 경로"
          },
          "name": {
            "type": "string",
            "description": "폴더 이름(경로의 마지막 부분)"
          },
          "parent": {
            "type": "string",
            "nullable": true,
            "description": "상위 폴더 경로"
          },
          "uid_validity": {
            "type": "integer",
            "description": "IMAP UID 유효성"
          },
          "uid_next": {
            "type": "integer",
            "description": "다음 UID 값"
          },
          "modify_index": {
            "type": "integer",
            "description": "수정 지수"
          },
          "subscribed": {
            "type": "boolean",
            "description": "폴더가 구독되었는지 여부"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "폴더 플래그"
          },
          "retention": {
            "type": "integer",
            "nullable": true,
            "description": "메시지 보존 기간"
          },
          "special_use": {
            "type": "string",
            "nullable": true,
            "description": "특수 용도 지정"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "object": {
            "type": "string",
            "enum": [
              "folder"
            ]
          }
        },
        "example": {
          "id": "folder123",
          "path": "INBOX/Subfolder",
          "name": "Subfolder",
          "parent": "INBOX",
          "uid_validity": 123456,
          "uid_next": 1,
          "modify_index": 1,
          "subscribed": true,
          "flags": [],
          "retention": null,
          "special_use": null,
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "folder"
        }
      },
      "FolderInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "폴더 경로/이름"
          }
        }
      },
      "FolderUpdateInput": {
        "type": "object",
        "required": [
          "path"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "새 폴더 경로/이름"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "id",
          "root_id",
          "folder_id",
          "folder_path",
          "thread_id",
          "header_message_id",
          "is_unread",
          "is_flagged",
          "is_deleted",
          "is_draft",
          "is_junk",
          "is_copied",
          "is_searchable",
          "is_expired",
          "has_attachment",
          "retention_date",
          "internal_date",
          "header_date",
          "subject",
          "flags",
          "labels",
          "size",
          "uid",
          "modseq",
          "transaction",
          "remote_address",
          "created_at",
          "updated_at",
          "object"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "메시지 ID"
          },
          "root_id": {
            "type": "string",
            "description": "스레딩을 위한 루트 메시지 ID"
          },
          "folder_id": {
            "type": "string",
            "description": "메시지가 포함된 폴더 ID"
          },
          "folder_path": {
            "type": "string",
            "description": "메시지가 포함된 폴더 경로"
          },
          "thread_id": {
            "type": "string",
            "description": "대화 그룹화를 위한 스레드 ID"
          },
          "header_message_id": {
            "type": "string",
            "description": "메시지 ID 헤더 값"
          },
          "is_unread": {
            "type": "boolean",
            "description": "메시지가 읽히지 않았는지 여부"
          },
          "is_flagged": {
            "type": "boolean",
            "description": "메시지가 플래그로 지정되었는지 여부"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "메시지가 삭제되었는지 여부"
          },
          "is_draft": {
            "type": "boolean",
            "description": "메시지가 초안인지 여부"
          },
          "is_junk": {
            "type": "boolean",
            "description": "메시지가 정크/스팸인지 여부"
          },
          "is_copied": {
            "type": "boolean",
            "description": "메시지가 복사되는지 여부"
          },
          "is_searchable": {
            "type": "boolean",
            "description": "메시지를 검색할 수 있는지 여부"
          },
          "is_expired": {
            "type": "boolean",
            "description": "메시지가 만료되었는지 여부"
          },
          "has_attachment": {
            "type": "boolean",
            "description": "메시지에 첨부 파일이 있는지 여부"
          },
          "retention_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "메시지 보존 날짜"
          },
          "internal_date": {
            "type": "string",
            "format": "date-time",
            "description": "내부 날짜(IMAP)"
          },
          "header_date": {
            "type": "string",
            "format": "date-time",
            "description": "메시지 헤더의 날짜"
          },
          "subject": {
            "type": "string",
            "description": "메시지 제목"
          },
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IMAP 플래그"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User-defined labels (lowercase, max 10)",
            "example": [
              "work",
              "important",
              "follow-up"
            ]
          },
          "size": {
            "type": "integer",
            "description": "메시지 크기(바이트)"
          },
          "uid": {
            "type": "integer",
            "description": "IMAP UID"
          },
          "modseq": {
            "type": "integer",
            "description": "수정 순서"
          },
          "transaction": {
            "type": "string",
            "description": "거래 유형"
          },
          "remote_address": {
            "type": "string",
            "description": "원격 IP 주소"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "메시지 생성 타임스탬프"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "메시지 마지막 업데이트 타임스탬프"
          },
          "nodemailer": {
            "type": "object",
            "description": "구문 분석된 메시지 객체(기본적으로 포함됨, 제외하려면 ?nodemailer=false로 설정)"
          },
          "raw": {
            "type": "string",
            "description": "원시 메시지 콘텐츠(기본적으로 포함됨, 제외하려면 ?raw=false로 설정)"
          },
          "object": {
            "type": "string",
            "enum": [
              "message"
            ]
          }
        },
        "example": {
          "id": "message123",
          "root_id": "root123",
          "folder_id": "folder123",
          "folder_path": "INBOX",
          "thread_id": "thread123",
          "header_message_id": "<message123@example.com>",
          "is_unread": true,
          "is_flagged": false,
          "is_deleted": false,
          "is_draft": false,
          "is_junk": false,
          "is_copied": false,
          "is_searchable": true,
          "is_expired": false,
          "has_attachment": false,
          "retention_date": null,
          "internal_date": "2025-01-01T00:00:00.000Z",
          "header_date": "2025-01-01T00:00:00.000Z",
          "subject": "Test Message",
          "flags": [
            "\\Seen"
          ],
          "size": 1024,
          "uid": 1,
          "modseq": 1,
          "transaction": "API",
          "remote_address": "127.0.0.1",
          "created_at": "2025-01-01T00:00:00.000Z",
          "updated_at": "2025-01-01T00:00:00.000Z",
          "object": "message"
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "발신자 이메일 주소"
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "수신자 이메일 주소"
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "CC 수신자 이메일 주소"
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "BCC 수신자 이메일 주소"
          },
          "subject": {
            "type": "string",
            "description": "메시지 제목"
          },
          "text": {
            "type": "string",
            "description": "일반 텍스트 콘텐츠"
          },
          "html": {
            "type": "string",
            "description": "HTML 콘텐츠"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "메시지 첨부 파일(Nodemailer 형식)"
          },
          "folder": {
            "type": "string",
            "description": "대상 폴더(기본값은 INBOX)"
          },
          "flags": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "메시지에 설정할 IMAP 플래그"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "User-defined labels to set on the message. Can be a single label string or an array of labels. Labels must start with a letter, digit, backslash, or dollar sign, and can contain word characters, dots, and hyphens. Maximum of 10 labels per message. Labels are case-insensitive and will be stored in lowercase.",
            "example": [
              "work",
              "important"
            ]
          }
        }
      },
      "MessageUpdateInput": {
        "type": "object",
        "properties": {
          "flags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "메시지에 설정할 IMAP 플래그"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "User-defined labels to set on the message. Can be a single label string or an array of labels. Labels must start with a letter, digit, backslash, or dollar sign, and can contain word characters, dots, and hyphens. Maximum of 10 labels per message. Labels are case-insensitive and will be stored in lowercase.",
            "example": [
              "work",
              "important"
            ]
          },
          "folder": {
            "type": "string",
            "description": "이 폴더로 메시지를 이동하세요"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "alias",
          "domain",
          "user"
        ],
        "properties": {
          "is_redacted": {
            "type": "boolean"
          },
          "hard_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "soft_bounces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_bounce": {
            "type": "boolean"
          },
          "alias": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "sent",
              "partially_sent",
              "deferred",
              "bounced",
              "rejected"
            ],
            "description": "The current status of the email. Scheduling is determined by the `date` field.",
            "example": "sent"
          },
          "is_locked": {
            "type": "boolean"
          },
          "envelope": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "email"
              },
              "to": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          },
          "messageId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "The email's Date header. If set to a future time (more than 1 minute ahead), the email will be held until that time. Maximum 30 days in the future from creation."
          },
          "subject": {
            "type": "string"
          },
          "accepted": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "requireTLS": {
            "type": "boolean",
            "description": "Indicates if TLS is required for the entire delivery chain (RFC 8689)."
          }
        },
        "example": {
          "is_redacted": true,
          "hard_bounces": [],
          "soft_bounces": [],
          "is_bounce": false,
          "alias": "67a180fxxxxxxxe46a3f0edf",
          "domain": "5efae85dxxxxxxxf4bb53c7a",
          "user": "5efabd3907xxxxxxx12890b8",
          "status": "sent",
          "is_locked": false,
          "envelope": {
            "from": "test@test.com",
            "to": [
              "test@test1.com"
            ]
          },
          "messageId": "1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net",
          "date": "2025-06-04T03:32:19.000Z",
          "subject": "testing",
          "accepted": [
            "test@test1.com"
          ],
          "id": "683fbe4d5baef1b583a1xxxx",
          "object": "email",
          "created_at": "2025-06-04T03:32:29.138Z",
          "updated_at": "2025-06-04T03:32:33.847Z",
          "link": "https://forwardemail.net/my-account/emails/683fbe4d5baef1b583a11e54"
        }
      },
      "EmailList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Email"
        }
      },
      "SMTP": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "발신자의 이메일 주소(도메인의 별칭으로 존재해야 함)."
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "'받는 사람' 헤더에 대한 쉼표로 구분된 목록 또는 수신자 배열입니다."
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "'Cc' 헤더에 대한 수신자 목록(쉼표로 구분) 또는 배열입니다."
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ],
            "description": "'Bcc' 헤더에 대한 수신자 목록(쉼표로 구분) 또는 배열입니다."
          },
          "subject": {
            "type": "string",
            "description": "이메일의 제목."
          },
          "text": {
            "type": "string",
            "description": "메시지의 평문 버전."
          },
          "html": {
            "type": "string",
            "description": "메시지의 HTML 버전입니다."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "첨부 파일 객체의 배열(Nodemailer의 일반 필드 참조)."
          },
          "sender": {
            "type": "string",
            "format": "email",
            "description": "'발신자' 헤더에 대한 이메일 주소입니다."
          },
          "replyTo": {
            "type": "string",
            "format": "email",
            "description": "'답장' 헤더에 대한 이메일 주소입니다."
          },
          "inReplyTo": {
            "type": "string",
            "description": "메시지가 답장되는 메시지 ID입니다."
          },
          "references": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "공백으로 구분된 목록 또는 메시지 ID 배열입니다."
          },
          "attachDataUrls": {
            "type": "boolean",
            "description": "true인 경우, HTML 콘텐츠의 이미지 데이터를 내장된 첨부 파일로 변환합니다."
          },
          "watchHtml": {
            "type": "string",
            "description": "Apple Watch 전용 HTML 버전의 메시지입니다."
          },
          "amp": {
            "type": "string",
            "description": "AMP4EMAIL 전용 HTML 버전의 메시지입니다."
          },
          "icalEvent": {
            "type": "object",
            "description": "대체 메시지 콘텐츠로서의 iCalendar 이벤트."
          },
          "alternatives": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "다양한 대체 메시지 콘텐츠."
          },
          "encoding": {
            "type": "string",
            "description": "텍스트 및 HTML 문자열에 대한 인코딩(예: 'utf-8', 'hex', 'base64')."
          },
          "raw": {
            "type": "string",
            "description": "사용자 정의 RFC822 형식 메시지 생성(Nodemailer 생성 대신)."
          },
          "textEncoding": {
            "type": "string",
            "enum": [
              "quoted-printable",
              "base64"
            ],
            "description": "텍스트 값에 강제로 인코딩을 사용해야 합니다."
          },
          "priority": {
            "type": "string",
            "enum": [
              "high",
              "normal",
              "low"
            ],
            "description": "이메일의 우선순위 수준입니다."
          },
          "headers": {
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ],
            "description": "추가 헤더 필드의 객체 또는 배열입니다."
          },
          "messageId": {
            "type": "string",
            "description": "'Message-ID' 헤더에 대한 선택적 Message-ID입니다."
          },
          "date": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "string"
              }
            ],
            "description": "Optional Date header. If set to a future time (more than 1 minute ahead), the email will be held until that time. Cannot be more than 30 days in the future from creation.",
            "example": "2025-06-04T15:30:00.000Z"
          },
          "list": {
            "type": "object",
            "description": "List-* 헤더의 선택적 객체입니다."
          },
          "requireTLS": {
            "type": "boolean",
            "description": "If true, requires TLS for the entire delivery chain (RFC 8689). The message will only be transmitted over TLS-encrypted connections."
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "has_newsletter": {
            "type": "boolean"
          },
          "ignore_mx_check": {
            "type": "boolean"
          },
          "has_delivery_logs": {
            "type": "boolean"
          },
          "retention_days": {
            "type": "integer"
          },
          "has_regex": {
            "type": "boolean"
          },
          "has_catchall": {
            "type": "boolean"
          },
          "allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "denylist": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "restricted_alias_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "has_adult_content_protection": {
            "type": "boolean"
          },
          "has_phishing_protection": {
            "type": "boolean"
          },
          "has_executable_protection": {
            "type": "boolean"
          },
          "has_virus_protection": {
            "type": "boolean"
          },
          "is_catchall_regex_disabled": {
            "type": "boolean"
          },
          "has_smtp": {
            "type": "boolean"
          },
          "is_smtp_suspended": {
            "type": "boolean"
          },
          "plan": {
            "type": "string"
          },
          "max_recipients_per_alias": {
            "type": "integer"
          },
          "smtp_port": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "has_mx_record": {
            "type": "boolean"
          },
          "has_txt_record": {
            "type": "boolean"
          },
          "has_dkim_record": {
            "type": "boolean"
          },
          "has_return_path_record": {
            "type": "boolean"
          },
          "has_dmarc_record": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "has_custom_verification": {
            "type": "boolean"
          },
          "require_tls_inbound": {
            "type": "boolean",
            "description": "When enabled, reject inbound emails not sent over TLS"
          },
          "verification_record": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "domain"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_used": {
            "type": "integer"
          },
          "storage_used_by_aliases": {
            "type": "integer"
          },
          "storage_quota": {
            "type": "integer"
          },
          "smtp_dns_records": {
            "type": "object",
            "properties": {
              "dkim": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "return_path": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          }
        },
        "example": [
          {
            "has_newsletter": false,
            "ignore_mx_check": false,
            "has_delivery_logs": false,
            "retention_days": 0,
            "has_regex": false,
            "has_catchall": true,
            "allowlist": [],
            "denylist": [],
            "restricted_alias_names": [],
            "has_adult_content_protection": true,
            "has_phishing_protection": true,
            "has_executable_protection": true,
            "has_virus_protection": true,
            "is_catchall_regex_disabled": false,
            "has_smtp": false,
            "is_smtp_suspended": false,
            "plan": "team",
            "max_recipients_per_alias": 10,
            "smtp_port": "25",
            "name": "test.com",
            "has_mx_record": false,
            "has_txt_record": false,
            "has_dkim_record": false,
            "has_return_path_record": false,
            "has_dmarc_record": false,
            "has_recipient_verification": false,
            "has_custom_verification": false,
            "verification_record": "kcjg6vrO8Q",
            "id": "683f1172c4bad2524410b857",
            "object": "domain",
            "created_at": "2025-06-03T15:14:59.000Z",
            "updated_at": "2025-06-03T15:14:59.254Z",
            "storage_used": 0,
            "storage_used_by_aliases": 0,
            "storage_quota": 10737418240,
            "smtp_dns_records": {
              "dkim": {
                "name": "fe-ebf3212716._domainkey",
                "value": "v=DKIM1; k=rsa; p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCcG+YBDPhyH8bLmyflmU9w1klYDeWpEufIlVqyWqly9lC+J/ntkKn4gum28EeE6vR+55x4JFCR8qSaw0YO1eCRwBgpFB0kKzbELHh2i2TKKwrqB3gPLXp4q4lbcGX2eD6fPCRwckTHqmiOzMhX8GD60zVlEvabok4LJ1i/BOyh6wIDAQAB;"
              },
              "return_path": {
                "name": "fe-bounces",
                "value": "forwardemail.net"
              },
              "dmarc": {
                "name": "_dmarc",
                "value": "v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-683f1172c4bad2524410b857@localhost;"
              }
            },
            "link": "http://localhost:3000/my-account/domains/test.com"
          }
        ]
      },
      "CreateDomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "정규화된 도메인 이름(FQDN) 또는 IP 주소"
          },
          "team_domain": {
            "type": "string",
            "nullable": true,
            "description": "다른 도메인의 동일한 팀에 할당합니다. 도메인 ID 또는 FQDN일 수 있습니다. \"none\"을 사용하면 명시적으로 비활성화할 수 있습니다."
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "enhanced_protection",
              "team"
            ],
            "description": "플랜 유형(기본값은 '무료' 또는 사용자의 현재 유료 플랜)"
          },
          "catchall": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "description": "구분 기호로 구분된 이메일 주소 목록(쉼표, 공백 또는 줄 바꿈으로 구분)"
              }
            ],
            "description": "기본 포괄적 별칭을 만듭니다(기본값은 true)"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "스팸 스캐너 성인 콘텐츠 보호 활성화"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "스팸 스캐너 피싱 보호 활성화"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "스팸 스캐너 실행 파일 보호 활성화"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "스팸 스캐너 바이러스 보호 활성화"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "별칭 수신자에게 이메일 확인 링크를 클릭하도록 요구"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "고급 메일 라우팅 설정에 대한 MX 레코드 확인 무시"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "성공적으로 전달된 이메일, 웹훅으로 전송된 이메일, 아웃바운드 SMTP 및 IMAP으로 전송된 이메일의 헤더와 메타데이터(메시지 내용 제외)를 저장하도록 옵트인하세요. 로그는 7일 동안 보관됩니다. 이 기능을 사용하면 성공적인 전송에 대한 자세한 정보를 통해 이메일 전송 성능을 모니터링하고 문제를 해결할 수 있습니다."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "아웃바운드 SMTP 로그를 보관할 일 수(0~30, 기본값: 0)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "description": "바운스 이벤트를 수신하기 위한 웹훅 URL"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ],
                "description": "바운스 웹훅 비활성화"
              }
            ]
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "별칭당 최대 저장 용량 할당량(예: '1GB')"
          }
        }
      },
      "UpdateDomainInput": {
        "type": "object",
        "properties": {
          "smtp_port": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "SMTP 전달을 위해 구성할 사용자 지정 포트(기본값은 '25')"
          },
          "has_adult_content_protection": {
            "type": "boolean",
            "description": "이 도메인에서 스팸 스캐너 성인 콘텐츠 보호를 활성화할지 여부"
          },
          "has_phishing_protection": {
            "type": "boolean",
            "description": "이 도메인에서 스팸 스캐너 피싱 보호를 활성화할지 여부"
          },
          "has_executable_protection": {
            "type": "boolean",
            "description": "이 도메인에서 스팸 스캐너 실행 파일 보호를 활성화할지 여부"
          },
          "has_virus_protection": {
            "type": "boolean",
            "description": "이 도메인에서 스팸 스캐너 바이러스 보호 기능을 활성화할지 여부"
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "이메일이 통과하기 위해 별칭 수신자가 이메일 확인 링크를 클릭하도록 요구할지 여부에 대한 글로벌 도메인 기본값"
          },
          "ignore_mx_check": {
            "type": "boolean",
            "description": "도메인의 MX 레코드 확인을 무시할지 여부(주로 고급 MX 라우팅 설정의 경우)"
          },
          "has_delivery_logs": {
            "type": "boolean",
            "description": "성공적으로 전달된 이메일, 웹훅으로 전송된 이메일, 아웃바운드 SMTP 및 IMAP으로 전송된 이메일의 헤더와 메타데이터(메시지 내용 제외)를 저장하도록 옵트인하세요. 로그는 7일 동안 보관됩니다. 이 기능을 사용하면 성공적인 전송에 대한 자세한 정보를 통해 이메일 전송 성능을 모니터링하고 문제를 해결할 수 있습니다."
          },
          "retention_days": {
            "type": "integer",
            "minimum": 0,
            "maximum": 30,
            "description": "아웃바운드 SMTP 이메일을 저장하는 일수(0 = 즉시 삭제)"
          },
          "bounce_webhook": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "boolean",
                "enum": [
                  false
                ]
              }
            ],
            "description": "반송 알림을 수신하려면 Webhook URL을 입력하거나, 비활성화하려면 false를 입력하세요."
          },
          "max_quota_per_alias": {
            "type": "string",
            "description": "별칭당 저장 할당량(예: '1GB', 바이트로 구문 분석)"
          }
        }
      },
      "Alias": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "display_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "email",
              "display_name",
              "id"
            ]
          },
          "domain": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "id"
            ]
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_enabled": {
            "type": "boolean"
          },
          "has_recipient_verification": {
            "type": "boolean"
          },
          "verified_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "pending_recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "alias"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "storage_location": {
            "type": "string"
          },
          "has_imap": {
            "type": "boolean"
          }
        },
        "required": [
          "user",
          "domain",
          "name",
          "labels",
          "is_enabled",
          "has_recipient_verification",
          "verified_recipients",
          "pending_recipients",
          "recipients",
          "id",
          "object",
          "created_at",
          "updated_at",
          "storage_location",
          "has_imap"
        ],
        "example": {
          "user": {
            "email": "test@test.com",
            "display_name": "test@test.com",
            "id": "5efabd39xxxxxxx4512890b8"
          },
          "domain": {
            "name": "mailsire.com",
            "id": "5e3c0550xxxxxxx09b7ba023"
          },
          "name": "abc123",
          "labels": [],
          "is_enabled": true,
          "has_recipient_verification": false,
          "verified_recipients": [],
          "pending_recipients": [],
          "recipients": [
            "abc@test1.com"
          ],
          "id": "62fa3dcxxxxxxx79dda83ff2",
          "object": "alias",
          "created_at": "2022-08-15T12:36:26.593Z",
          "updated_at": "2022-08-15T12:36:26.593Z",
          "storage_location": "storage_loc",
          "has_imap": false
        }
      },
      "AliasInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "별칭 이름(제공되지 않거나 비어 있는 경우 무작위 별칭이 생성됩니다)"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "줄 바꿈/공백/쉼표로 구분된 유효한 이메일 주소, FQDN, IP 또는 웹훅 URL 문자열"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "유효한 수신자 배열"
              }
            ],
            "description": "수신자 목록입니다. 제공되지 않거나 비어 있는 경우 요청자의 이메일로 기본 설정됩니다."
          },
          "description": {
            "type": "string",
            "description": "별칭 설명"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "줄 바꿈/공백/쉼표로 구분된 레이블 문자열"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "라벨 배열"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "수신자에게 확인 링크를 클릭하도록 요구(기본값은 도메인 설정)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "이 별칭을 활성화할지 비활성화할지 여부"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "별칭이 비활성화된 경우 발생하는 오류 코드입니다. 기본값은 250입니다."
          },
          "has_imap": {
            "type": "boolean",
            "description": "이 별칭에 대한 IMAP 저장소를 활성화하거나 비활성화합니다."
          },
          "has_pgp": {
            "type": "boolean",
            "description": "이 별칭에 대해 OpenPGP 암호화를 활성화하거나 비활성화합니다."
          },
          "public_key": {
            "type": "string",
            "description": "ASCII Armor 형식의 OpenPGP 공개 키"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Enable or disable S/MIME encryption for this alias"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 certificate in PEM format"
          },
          "max_quota": {
            "type": "string",
            "description": "저장 용량 최대 할당량(예: '1GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "휴가 응답 기능 활성화 또는 비활성화"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "휴가 응답자의 시작 날짜(예: 'YYYY-MM-DD')"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "휴가 응답자의 종료 날짜(예: 'YYYY-MM-DD')"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "휴가 응답자를 위한 평문 제목"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "휴가 응답자를 위한 일반 텍스트 메시지"
          }
        }
      },
      "AliasUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "별칭"
          },
          "recipients": {
            "oneOf": [
              {
                "type": "string",
                "description": "줄 바꿈/공백/쉼표로 구분된 유효한 이메일 주소, FQDN, IP 또는 웹훅 URL 문자열"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "description": "유효한 수신자 배열"
              }
            ]
          },
          "description": {
            "type": "string",
            "description": "별칭 설명"
          },
          "labels": {
            "oneOf": [
              {
                "type": "string",
                "description": "줄 바꿈/공백/쉼표로 구분된 레이블 문자열"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "라벨 배열"
              }
            ]
          },
          "has_recipient_verification": {
            "type": "boolean",
            "description": "수신자에게 확인 링크를 클릭하도록 요구(기본값은 도메인 설정)"
          },
          "is_enabled": {
            "type": "boolean",
            "description": "별칭 활성화 또는 비활성화"
          },
          "error_code_if_disabled": {
            "type": "number",
            "enum": [
              250,
              421,
              550
            ],
            "description": "별칭이 비활성화된 경우 사용할 오류 코드(기본값은 250)"
          },
          "has_imap": {
            "type": "boolean",
            "description": "IMAP 저장소 활성화 또는 비활성화"
          },
          "has_pgp": {
            "type": "boolean",
            "description": "OpenPGP 암호화 활성화 또는 비활성화"
          },
          "public_key": {
            "type": "string",
            "description": "ASCII Armor 형식의 OpenPGP 공개 키"
          },
          "has_smime": {
            "type": "boolean",
            "description": "Enable or disable S/MIME encryption"
          },
          "smime_certificate": {
            "type": "string",
            "description": "S/MIME X.509 certificate in PEM format"
          },
          "max_quota": {
            "type": "string",
            "description": "저장 최대 할당량(예: '1GB')"
          },
          "vacation_responder_is_enabled": {
            "type": "boolean",
            "description": "휴가 응답 기능 활성화 또는 비활성화"
          },
          "vacation_responder_start_date": {
            "type": "string",
            "description": "휴가 응답 시작 날짜(예: YYYY-MM-DD)"
          },
          "vacation_responder_end_date": {
            "type": "string",
            "description": "휴가 응답 종료일(예: YYYY-MM-DD)"
          },
          "vacation_responder_subject": {
            "type": "string",
            "description": "휴가 응답자의 평문 제목"
          },
          "vacation_responder_message": {
            "type": "string",
            "description": "휴가 응답자의 평문 메시지"
          }
        }
      },
      "GenerateAliasPasswordInput": {
        "type": "object",
        "properties": {
          "new_password": {
            "type": "string",
            "description": "별칭에 사용할 사용자 지정 새 비밀번호"
          },
          "password": {
            "type": "string",
            "description": "별칭에 대한 기존 비밀번호를 사서함 저장소를 삭제하지 않고 변경할 수 있습니다."
          },
          "is_override": {
            "type": "boolean",
            "description": "기존 비밀번호를 재정의하고 IMAP 저장소를 삭제하세요(신중하게 사용하세요)"
          },
          "emailed_instructions": {
            "type": "string",
            "format": "email",
            "description": "별칭 비밀번호와 설정 지침을 보낼 이메일 주소"
          }
        }
      },
      "EmailLimit": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "현재 전송된 이메일 수"
          },
          "limit": {
            "type": "integer",
            "description": "허용되는 최대 이메일 수"
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "description": "Saved search definition stored per alias.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "description": "Display name for the saved search"
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Search query string to reuse (e.g., \"from:billing\")"
          }
        },
        "required": [
          "name",
          "query"
        ]
      },
      "ShortcutMap": {
        "type": "object",
        "description": "Map of actions to keybindings for keyboard shortcuts.",
        "additionalProperties": {
          "type": "string",
          "description": "Keybinding for the action (e.g., \"e\" for archive)"
        }
      },
      "SettingsLabelUpdate": {
        "type": "object",
        "description": "Fields allowed when updating a label definition.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable label name shown in the UI"
          },
          "color": {
            "type": "string",
            "pattern": "^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{8})$",
            "description": "Hex color used for UI rendering"
          },
          "hidden": {
            "type": "boolean",
            "description": "Hide the label in the UI while preserving the keyword"
          },
          "source": {
            "type": "string",
            "description": "Label origin for filtering and migrations",
            "enum": [
              "custom",
              "system",
              "imported"
            ]
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "회원 ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "회원 이메일 주소"
          },
          "role": {
            "type": "string",
            "description": "회원의 역할"
          }
        }
      },
      "Invite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "초대된 이메일 주소"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "description": "반환할 결과 페이지입니다. 지정하지 않으면 값은 1이 됩니다. 1 이상의 숫자여야 합니다.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "페이지당 반환할 결과 수입니다. 지정하지 않으면 기본값은 25입니다. 1 이상 100 이하의 숫자여야 합니다.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "pagination": {
        "name": "pagination",
        "in": "query",
        "description": "2024년 11월 1일 이전에 페이지 매김에 참여하세요",
        "schema": {
          "type": "boolean"
        }
      },
      "domainId": {
        "name": "domain_id",
        "in": "path",
        "required": true,
        "description": "도메인 ID",
        "schema": {
          "type": "string"
        }
      },
      "aliasId": {
        "name": "alias_id",
        "in": "path",
        "required": true,
        "description": "별칭 ID",
        "schema": {
          "type": "string"
        }
      },
      "memberId": {
        "name": "member_id",
        "in": "path",
        "required": true,
        "description": "회원 ID",
        "schema": {
          "type": "string"
        }
      },
      "emailId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Email ID or Message-ID. You can pass either the unique email ID (e.g., '683fbe4d5baef1b583a11e54') or the email's Message-ID header value (e.g., '1a04fee3-5230-4a85-9111-a2c376835885@forwardemail.net').",
        "schema": {
          "type": "string"
        }
      },
      "contactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "연락처 ID",
        "schema": {
          "type": "string"
        }
      },
      "calendarId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "캘린더 ID",
        "schema": {
          "type": "string"
        }
      },
      "folderId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "폴더 ID 또는 경로",
        "schema": {
          "type": "string"
        }
      },
      "messageId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "메시지 ID",
        "schema": {
          "type": "string"
        }
      },
      "labelKeyword": {
        "name": "keyword",
        "in": "path",
        "required": true,
        "description": "IMAP keyword used as the label identifier",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Precondition Failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotImplemented": {
        "description": "Not Implemented",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadGateway": {
        "description": "Bad Gateway",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service Unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "Gateway Time-out",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "계정"
        ],
        "summary": "계정 검색",
        "description": "Retrieve your account information.\n\n**Authentication:** This endpoint supports both API token authentication and alias credentials authentication.\n\n- **User Account (API Token):** When authenticated with your API token, this endpoint returns your user account information including plan details, email, and API token.\n\n- **Alias Account (Alias Credentials):** When authenticated with alias credentials (email and generated password), this endpoint returns alias/mailbox information including storage used/quota and a nested `settings` object (mail special folders, label settings, and alias defaults). This is useful for IMAP/POP3/CalDAV/CardDAV clients to check storage status and preferences.",
        "operationId": "retrieveAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                },
                "examples": {
                  "userAccount": {
                    "summary": "User Account (API Token Authentication)",
                    "description": "Response when authenticated with API token",
                    "value": {
                      "sessions": [],
                      "has_newsletter": true,
                      "plan": "enhanced_protection",
                      "email": "user@example.com",
                      "max_quota_per_alias": 10737418240,
                      "full_email": "user@example.com",
                      "display_name": "John Doe",
                      "otp_enabled": false,
                      "last_locale": "en",
                      "address_country": "US",
                      "id": "683fb2e81cc5d449a0d4cd9d",
                      "object": "user",
                      "locale": "en",
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z",
                      "address_html": "",
                      "api_token": "15ac16ae21784aa2cb4d5508"
                    }
                  },
                  "aliasAccount": {
                    "summary": "Alias Account (Alias Credentials Authentication)",
                    "description": "Response when authenticated with alias email and generated password. Useful for IMAP/POP3/CalDAV/CardDAV storage information.",
                    "value": {
                      "id": "683fb2e81cc5d449a0d4cd9e",
                      "object": "alias",
                      "name": "user",
                      "email": "user@example.com",
                      "domain_id": "683fb2e81cc5d449a0d4cd9f",
                      "domain_name": "example.com",
                      "storage_used": 524288000,
                      "storage_quota": 10737418240,
                      "has_imap": true,
                      "has_pgp": false,
                      "public_key": "",
                      "has_smime": false,
                      "smime_certificate": "",
                      "locale": "en",
                      "settings": {
                        "mail": {
                          "archive_folder": null,
                          "sent_folder": null,
                          "drafts_folder": null
                        },
                        "label_settings": {},
                        "aliases": {
                          "defaults": {}
                        }
                      },
                      "created_at": "2025-06-04T02:43:52.646Z",
                      "updated_at": "2025-06-04T02:43:55.350Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "계정"
        ],
        "summary": "계정 업데이트",
        "description": "Update your account information.\n\n- **User Account (API Token):** Update user profile fields.\n- **Alias Account (Alias Credentials):** Update alias-scoped settings using the nested `settings` object. Legacy flat fields are accepted for compatibility. The response matches `GET /v1/account`.",
        "operationId": "updateAccount",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "settings": {
                    "type": "object",
                    "description": "Alias settings (alias authentication only)",
                    "properties": {
                      "mail": {
                        "type": "object",
                        "properties": {
                          "archive_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias mail archive folder"
                          },
                          "sent_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias mail sent folder"
                          },
                          "drafts_folder": {
                            "type": "string",
                            "nullable": true,
                            "description": "Alias mail drafts folder"
                          }
                        }
                      },
                      "label_settings": {
                        "type": "object",
                        "description": "Alias label map keyed by keyword",
                        "additionalProperties": {
                          "$ref": "#/components/schemas/SettingsLabelUpdate"
                        }
                      },
                      "aliases": {
                        "type": "object",
                        "properties": {
                          "defaults": {
                            "type": "object",
                            "description": "Free-form alias defaults such as display_name or signature",
                            "additionalProperties": true
                          }
                        }
                      }
                    }
                  },
                  "display_name": {
                    "type": "string",
                    "description": "표시 이름"
                  },
                  "locale": {
                    "type": "string",
                    "description": "로케일 환경 설정"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Updated email address (user authentication only)"
                  },
                  "avatar_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Avatar URL (user authentication only)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/AliasAccount"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "tags": [
          "콘택트 렌즈"
        ],
        "summary": "연락처 목록",
        "description": "인증된 별칭에 대한 모든 연락처 목록을 검색합니다. 이 엔드포인트는 페이지 매김을 지원하며 CardDAV 형식으로 연락처를 반환합니다.",
        "operationId": "listContacts",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "콘택트 렌즈"
        ],
        "summary": "연락처 만들기",
        "description": "새 연락처를 만드세요. vCard 콘텐츠를 직접 제공하거나 vCard 형식으로 변환될 개별 연락처 필드를 제공할 수 있습니다. 동일한 ID를 가진 연락처가 이미 있는 경우 충돌 오류가 반환됩니다.",
        "operationId": "createContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contacts/{id}": {
      "get": {
        "tags": [
          "콘택트 렌즈"
        ],
        "summary": "연락처 검색",
        "description": "ID로 특정 연락처를 검색합니다. 연락처는 vCard 콘텐츠와 구문 분석된 필드를 포함하는 표준 연락처 형식으로 반환됩니다.",
        "operationId": "retrieveContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "콘택트 렌즈"
        ],
        "summary": "연락처 업데이트",
        "description": "기존 연락처를 업데이트합니다. 업데이트된 vCard 콘텐츠 또는 개별 필드를 제공하여 업데이트할 수 있습니다. 개별 필드를 제공하면 연락처의 vCard가 다시 생성됩니다.",
        "operationId": "updateContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "콘택트 렌즈"
        ],
        "summary": "연락처 삭제",
        "description": "특정 연락처를 영구적으로 삭제합니다. 이 작업은 실행 취소할 수 없습니다.",
        "operationId": "deleteContact",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "tags": [
          "달력"
        ],
        "summary": "캘린더 목록",
        "description": "인증된 별칭에 대한 모든 캘린더 목록을 검색합니다. 이 엔드포인트는 페이지 매김을 지원하며 CalDAV 형식으로 캘린더를 반환합니다.",
        "operationId": "listCalendars",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendars retrieved successfully",
            "headers": {
              "X-Page-Count": {
                "description": "Total number of pages",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Current": {
                "description": "Current page number",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Page-Size": {
                "description": "Number of items on current page",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Item-Count": {
                "description": "Total number of items",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Calendar"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "달력"
        ],
        "summary": "캘린더 만들기",
        "description": "새 캘린더를 만듭니다. 캘린더 이름은 필수이며, 색상, 시간대, 설명 등의 다른 속성은 선택 사항입니다. 동일한 이름의 캘린더가 이미 있는 경우 충돌 오류가 반환됩니다.",
        "operationId": "createCalendar",
        "security": [
          {
            "AliasAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
[...]
