extends ../../layout

block body
  .container.py-3.py-md-4.py-lg-5
    .row
      .col.text-center
        h1!= meta.title.replace(striptags(config.metaTitleAffix).replace("&#124;", "|"), "")
        p!= meta.description
        include ../../_author
        .markdown-body.mt-3: img.rounded-lg(
          src=manifest("img/articles/email-address-regex.webp"),
          alt="Email address regex validation illustration"
        )
    .row.mt-3
      .col
        include:md(isDocs="true") ../../../../node_modules/email-regex-safe/README.md
