extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block
          h1.h5.card-header.bg-dark.text-white.text-center= t("Your Help Request")
          .card-body.p-0
            //- replace line breaks with <br>
            .p-3
              .card-text.text-monospace.small!= splitLines(inquiry.message).join("<br />")
            if domains.length > 0
              hr
              include ../_account-summary
          .card-footer.text-center.small.text-muted
            strong= t("Have attachments?")
            = " "
            = t("Reply to this email with them.")
