extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block
          h1.h5.card-header.text-center= t("Your Help Request")
          .card-body.p-0
            //- render message with escaped HTML and line breaks
            .p-3
              .card-text.text-monospace.small
                each line, index in splitLines(inquiry.message)
                  if index > 0
                    br
                  = line
            if domains.length > 0
              hr
              include ../_account-summary
          .card-footer.text-center.small.text-muted
            strong= t("Have attachments?")
            = " "
            = t("Reply to this email with them.")
