extends ../../../layout

block body
  include ../_modal-domain
  //- include ../_modal-openpgp-example
  .container.pt-3
    .row
      .col
        include ../../../_breadcrumbs
  .container.py-3
    .row
      .col
        .card.border-themed
          .card-body
            form.ajax-form(action=ctx.path, method="POST")
              include _form
              button.btn.btn-success.btn-block.btn-lg(type="submit")
                if alias
                  = t("Update Alias")
                else
                  = t("Create Alias")
    if domain
      .row.text-center.my-5
        .col
          a.btn.btn-outline-secondary(
            href=l(`/my-account/domains/${domain.name}/aliases`)
          )
            i.fa.fa-angle-double-left
            = " "
            = t("Back to Aliases")
