mixin paymentMethod(payment)
  if payment.method === 'paypal'
    if !returnHTML
      i.fab.fa-paypal
      = " "
    = "PayPal"
  else
    if !returnHTML
      case payment.method
        when 'amex'
          i.fab.fa-cc-amex
        when 'diners'
          i.fab.fa-cc-diners-club
        when 'discover'
          i.fab.fa-cc-discover
        when 'jcb'
          i.fab.fa-cc-jcb
        when 'mastercard'
          i.fab.fa-cc-mastercard
        when 'visa'
          i.fab.fa-cc-visa
        when 'free_beta_program'
        when 'unknown'
          i.fa.fa-gift
        when 'alipay'
          i.fab.fa-alipay
        when 'ideal'
          i.fab.fa-ideal
        when 'unionpay'
          i.fa.fa-credit-card
        when 'plan_conversion'
          i.fa.fa-random
        default
          i.fa.fa-money-check-alt
      = " "
    if payment.method === 'free_beta_program'
      = t("Free Credit")
    else
      = titleize(humanize(payment.method))
    if payment.last4
      = " "
      = t("ending with")
      = " "
      = payment.last4
    if payment.exp_month && payment.exp_year
      = " "
      span.text-uppercase= `(${payment.exp_month}/${payment.exp_year.toString().slice(2)})`
    if payment.is_apple_pay
      = " "
      = t("via")
      if !returnHTML
        = " "
        i.fab.fa-cc-apple-pay
      = " "
      = "Apple Pay"
    else if payment.is_google_pay
      = " "
      = t("via")
      = " "
      if !returnHTML
        i.fab.fa-google-pay
        = " "
      = "Google Pay"
