
include ../../_sort-header
include ../../_pagination

include ./_payment-method
include ./_receipt

.table-responsive
  table.table.table-hover.table-bordered
    thead.thead-dark
      tr
        th(scope='col').d-none.d-lg-table-cell
          +sortHeader('reference', null, '#table-payments')
        th(scope='col')
          +sortHeader('created_at', 'Date', '#table-payments')
        th(scope='col')
          span.d-none.d-lg-inline
            +sortHeader('description', null, '#table-payments')
          span.d-lg-none
            +sortHeader('reference', 'Payment', '#table-payments')
        th(scope='col').d-none.d-lg-table-cell
          +sortHeader('method', null, '#table-payments')
        th(scope='col')
          +sortHeader('amount_formatted', 'Amount', '#table-payments')
        th(scope='col').d-none.d-lg-table-cell.text-center.align-middle= t('Receipt')
    tbody
      each payment in payments
        tr
          td.align-middle.d-none.d-lg-table-cell= payment.reference
          td.align-middle= dayjs(payment.created_at).locale(ctx.locale).format('M/D/YY')
          td.align-middle
            .d-block.d-lg-none.mb-2
              strong
                = t('Reference')
                = ':'
              = ' '
              = payment.reference
            != payment.description
            .d-block.d-lg-none.mb-2
            .d-block.d-lg-none.mb-2
              +paymentMethod(payment)
            .d-block.d-lg-none
              +receipt(payment)
          td.align-middle.d-none.d-lg-table-cell
            +paymentMethod(payment)
          td.align-middle.text-right= payment.amount_formatted
          td.align-middle.d-none.d-lg-table-cell.text-center
            +receipt(payment)
+paginate('#table-payments')
