extends ../../layout

block opengraph
block preload
block prefetch
block spinner
block navigation
block footer

block scripts
  if ctx && ctx.path && ctx.path.endsWith('.html')
    script.
      window.print();

block body
  .container.py-5
    .row
      .col
        include _receipt
