extends ../../layout

block opengraph
block spinner
block navigation
block footer

block scripts
  if ctx && ctx.path && ctx.path.endsWith('.html')
    script.
      window.print();

block body
  .container.py-3.py-md-4.py-lg-5
    .row
      .col
        include _receipt
