extends ../layout

include ../_onboard

block body
  +onboard(t("Setup email in minutes"), t('Personalize our guide to save time:'), ctx.path, '#top', 'border-bottom')
  .container.py-5
    .row
      .col
        case locale
          when 'ar'
            include:md(locale='ar') index-ar.md
          when 'cs'
            include:md(locale='cs') index-cs.md
          when 'da'
            include:md(locale='da') index-da.md
          when 'de'
            include:md(locale='de') index-de.md
          when 'es'
            include:md(locale='es') index-es.md
          when 'fi'
            include:md(locale='fi') index-fi.md
          when 'fr'
            include:md(locale='fr') index-fr.md
          when 'he'
            include:md(locale='he') index-he.md
          when 'hu'
            include:md(locale='hu') index-hu.md
          when 'id'
            include:md(locale='id') index-id.md
          when 'it'
            include:md(locale='it') index-it.md
          when 'ja'
            include:md(locale='ja') index-ja.md
          when 'ko'
            include:md(locale='ko') index-ko.md
          when 'nl'
            include:md(locale='nl') index-nl.md
          when 'no'
            include:md(locale='no') index-no.md
          when 'pl'
            include:md(locale='pl') index-pl.md
          when 'pt'
            include:md(locale='pt') index-pt.md
          when 'ru'
            include:md(locale='ru') index-ru.md
          when 'sv'
            include:md(locale='sv') index-sv.md
          when 'th'
            include:md(locale='th') index-th.md
          when 'tr'
            include:md(locale='tr') index-tr.md
          when 'uk'
            include:md(locale='uk') index-uk.md
          when 'vi'
            include:md(locale='vi') index-vi.md
          when 'zh'
            include:md(locale='zh') index-zh.md
          default
            include:md index.md
