
extends ../layout

block body
  .container-fluid.bg-dark.py-3.px-5.py-md-5.d-block.text-center
    .row
      .col-md-12
        p.lead.mb-0.text-white.font-weight-bold!= t('Our service was founded in 2017 by <a class="text-success text-decoration-none" href="https://github.com/niftylettuce" target="_blank" rel="noopener">@niftylettuce</a> and is trusted and relied upon by thousands.')
  .py-5
    .text-center.mb-5
      .h2.display-3.mb-1= emoji('book')
      h2.display-5.font-weight-light.mb-0.text-uppercase= t('Our Story')
      small.text-black-50.text-uppercase= t('Why did we create this?')
    .container
      p.lead.mb-0.font-weight-bold.text-center
        mark
          strong TLDR;
          = ' '
          != t('No email-forwarding service existed that was free, secure, and open-source &ndash; so we built one.')
  .container.pt-0.pb-5
    .row
      .col
        case locale
          when 'es'
            include:md index-es.md
          when 'zh'
            include:md index-zh.md
          when 'en'
          default
            include:md index.md
