= striptags(payment.method === "free_beta_program" ? `${emoji("tada")} ${t("We gave you free credit! Thank you for being a customer!")}` : t(`Your Receipt [<span class="notranslate">%s</span>] (<span class="notranslate">%s</span>)${payment.amount_refunded > 0 ? " *Refund*" : ""}`, payment.reference.toUpperCase(), dayjs(payment.invoice_at).locale(locale).format("LL")))
