extends layout

block body
  .container.text-center.py-5
    h1= t("Page not found")
    p.lead.text-muted= t("We're sorry, but the page you requested could not be found.")
    button(onclick="javascript:window.location = '/';").btn.btn-outline-primary.btn-lg= t('Go to homepage')
