extends layout

block body
  .container.text-center.py-5
    h1!= meta.title
    p.lead.text-muted!= meta.description
    button.btn.btn-outline-success.btn-lg(onclick="javascript:document.location.reload(true);")= t("Try again")
