extends layout

block body
  .min-vh-80.d-flex.flex-column
    .container.text-center.py-3.py-md-4.py-lg-5.my-auto
      h1!= meta.title
      p.lead.text-muted!= meta.description
      button.btn.btn-outline-success.btn-lg(onclick="javascript:document.location.reload(true);")= t("Try again")
