ul.list-unstyled.text-left.mb-3
  li
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    = t("Unlimited domains and aliases")
  li
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    = t("10 GB encrypted email storage")
    = " "
    a.btn.btn-link.badge.badge-success.text-uppercase.text-white(
      href=l("/encrypted-email"),
      role="button",
      data-toggle="modal",
      data-target="#modal-storage"
    )
      if isBot(ctx.get('User-Agent'))
        = t("Encrypted Email")
      else
        = t("Learn more")
  li
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    != t("Bring your own storage provider")
  li
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    = t("Error logs and real-time alerts")
  li
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    = t("Supports")
    = " "
    ul.list-inline.d-inline.lead.mb-0
      li.list-inline-item.mr-1: span.badge.badge-dark= "Apple"
      li.list-inline-item.mr-1: span.badge.badge-dark= "Microsoft"
      li.list-inline-item.mr-1: span.badge.badge-dark= "Google"
      li.list-inline-item.mr-1: span.badge.badge-dark= "Thunderbird"
      li.list-inline-item: span.badge.badge-dark= "Android"
    //-.
      = ": "
      ul.list-inline.d-inline.lead.mb-0(style='max-width:400px')
        li.list-inline-item.mr-1: span.badge.badge-primary= "Amazon"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Backblaze"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Box"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Cloudflare"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Digital Ocean"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Dropbox"
        li.list-inline-item.mr-1: span.badge.badge-primary= "SFTP"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Google"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Microsoft"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Oracle"
        li.list-inline-item: span.badge.badge-primary= "S3-compatible"
