//- associate with wikipedia
script(type="application/ld+json", nonce=nonce).
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://forwardemail.net",
    "name": "Forward Email",
    "description": "Free open-source email forwarding service for custom domains",
    "keywords": "email forwarding, custom domain email, free email forwarding, open source email",
    "alternateName": "ForwardEmail",
    "foundingDate": "2017",
    "founders": [
      {
        "@type": "Person",
        "name": "Forward Email Team"
      }
    ],
    "legalName": "Forward Email",
    "logo": "https://forwardemail.net/img/social.png",
    "sameAs": ["https://en.wikipedia.org/wiki/Forward_Email"]
  }
