
extends layout

block body
  .container-fluid.bg-dark.py-3.px-5.py-md-5.d-block.text-center
    .row
      .col-md-12
        p.lead.mb-0.text-white.font-weight-bold
          t= t('We manually curated an open-source list of ports blocked by both Internet Service Provider and residing country.')
  .container.py-5
    .text-center.mb-5
      h1.h2.display-5.font-weight-light.mb-0.text-uppercase= t('List of ports blocked by ISP and Country')
      small.text-black-50.text-uppercase= t('Check to see if your ISP is listed below')
      p.text-muted.my-5= t('This page is undergoing an update.  Please check back later.')
