//-.
  .container
    .row
      .col-12
        .bg-light.border.rounded.p-3.text-center
          a(href=config.urls.web).d-inline-block
            img(src=manifest('img/logo-square.svg'), width=30, height=30, alt='').d-inline-block.align-middle
