
extends ../../layout

include ../../_onboard

block body
  - const hash = 'can-i-forward-emails-to-ports-other-than-25-eg-if-my-isp-has-blocked-port-25';
  +onboard(
    t('Did your ISP block port 25?'),
    t('Skip ahead to the instructions to forward emails to a custom SMTP port.'),
    l(`/faq?hash=${hash}`),
    l(`/faq#${hash}`),
    'border-bottom'
  )
  .container.py-5
    .row
      .col
        case locale
          when 'ar'
            include:md index-ar.md
          when 'cs'
            include:md index-cs.md
          when 'da'
            include:md index-da.md
          when 'de'
            include:md index-de.md
          when 'es'
            include:md index-es.md
          when 'fi'
            include:md index-fi.md
          when 'fr'
            include:md index-fr.md
          when 'he'
            include:md index-he.md
          when 'hu'
            include:md index-hu.md
          when 'id'
            include:md index-id.md
          when 'it'
            include:md index-it.md
          when 'ja'
            include:md index-ja.md
          when 'ko'
            include:md index-ko.md
          when 'nl'
            include:md index-nl.md
          when 'no'
            include:md index-no.md
          when 'pl'
            include:md index-pl.md
          when 'pt'
            include:md index-pt.md
          when 'ru'
            include:md index-ru.md
          when 'sv'
            include:md index-sv.md
          when 'th'
            include:md index-th.md
          when 'tr'
            include:md index-tr.md
          when 'uk'
            include:md index-uk.md
          when 'vi'
            include:md index-vi.md
          when 'zh'
            include:md index-zh.md
          default
            include:md index.md
